[2021-11-22 03:05] armonnaeini commented on #1696
Same problem, as well. Kinect Viewer works no problem, but I'm getting the same crash on launch problem as other users stated above.

NVIDIA RTX 3080
Intel i9
32GB RAM
Windows 11 Home 22000.318

[2021-11-22 09:54] cpkcpkcpk commented on #1696
Just out of curiosity, is everyone having these issues using a Kinect from the new batch?

My old Kinect is out on loan so I can't test with that, but just got another as I saw they were finally back in stock.

[2021-11-22 11:28] Ahmed-KASAPBASI opened #1710 "recording at the same time RGB, depth and Skeleton videos"
Hello...

I need to record videos (RGB, depth and skeleton) with voice at the same time (synchronously) from 3 different Azure Kinect which are connected to one PC.

The recorded videos will be saved as separated files.

How I can do that?
which programs or software I should use?
If that is possible, what are the possible formats of the recorded videos ?
Please, I need detailed information.

[2021-11-22 16:27] wangyangwang commented on #1696
having exact same issue here. followed all the steps. installed all c++ redist versions and both 11.1 and 11.5 cuda. nothing worked so far.

windows 10 pro -  21h1 - 19041.1348

 intel (r) xeon(r) e-2286m
nvidia geforce rtx 3060 ti

[2021-11-22 18:54] qm13 commented on #1704
@pucciland95 you do not mention what CPU you are using? Is it Intel or AMD?

[2021-11-22 18:58] #1679 closed, assigned to qm13

[2021-11-22 19:02] pucciland95 commented on #1704
@qm13 I have added it to the initial question so everyone can see. Anyway it's an Intel(R) Core(TM) i7-1070H CPU 2.60 GHz

[2021-11-22 23:15] asergaz commented on #1710
Similar question in Q&A: https://docs.microsoft.com/en-us/answers/questions/634903/index.html

[2021-11-24 01:29] atsukur commented on #1696
Same problem too. But I found workaround. Downgrading Nvidia driver.
I installed Nvidia Studio Driver 472.47. then it works fine.
<img width="416" alt="Screenshot 2021-11-24 102445" src="https://user-images.githubusercontent.com/69294861/143154465-612df24b-1d7c-4e85-89c6-622b21f34523.png">

maybe Nvidia driver issue?

[2021-11-24 09:00] kondo1018008 commented on #1696
I had the same problem, but downgrading the driver version to 472.12 solved the problem.
@atsukur Thank you so much
![スクリーンショット 2021-11-24 180016](https://user-images.githubusercontent.com/49856730/143206744-871ed15f-e895-403c-ba5f-258ed91c9033.png)
!

[2021-11-24 16:03] wangyangwang commented on #1696
472 driver solved the issue for me too.

[2021-11-25 21:49] MehranTaghipour commented on #500
hello everyone, I am working on 3d photography by using Azure kinect camera. I have a problem with Intrinsic and Extrinsic parameters estimation in python. I suppose that I need python calibration code, Is there anybody to help me?

[2021-11-26 17:03] michael-createc commented on #375
Over 2 years later and this exact issue is still very much present on Jetson Nanos running Ubuntu 18.04

[2021-11-29 18:15] michael-createc opened #1712 "Enumeration errors on Ubuntu 18.04 NVidia Jetson Nanos"
On NVidia Jetson Nanos running Ubuntu 18.04, if the Azure Kinect is already plugged in to the USB port and externally powered before the Nano switches on, then the device will almost never enumerate (maybe it'll enumerate 1 in every 15-20 attempts). We have encountered this issue with at least 10 different Azure Kinects combined with at least 15 different Jetson Nanos. This issue has been mentione

[2021-11-30 04:14] apockill commented on #1190
If I might add, I was able to also use the `yes` command in conjunction with `DEBIAN_FRONTEND` to get an automated workflow. Here's what worked for me:

[code]

[2021-11-30 08:52] ridasaleem0 commented on #1709
Any updates? @qm13

[2021-11-30 08:54] ridasaleem0 commented on #1702
@UnaNancyOwen Thank you for your response. However what exactly do you mean by conversion table?

[2021-11-30 09:05] UnaNancyOwen commented on #1702
It mean is the information of the corresponding color pixels  and depth pixels.  however, I don't know about that whether is it possible to implement that, and how to implement that.

[2021-12-01 06:33] AswinkarthikeyenAK commented on #1531
Hi @qm13,
Any updates when the camera might be back in stock?

Thanks

[2021-12-01 07:40] ghost opened #1713 "Azure Kinect extern Sync 1536p / 15FPS capture flicker"
Hello!
I'm shooting using the extetnal Sync mode of multiple Azure Kinects.
Using the setting as below.

Master Mode Azure Kinect Setting
- NFOV Unbinned
- BGRA
- 1536p
- 15FPS

Subordinate Mode Azure Kinect Setting
- NFOV Unbinned
- BGRA
- 1536p
- 15FPS

When shooting with Azure Kinect with these settings, the image flickered in Subordinate Mode Azure Kinects.

(Left : Subordinate Azure Kinect /

[2021-12-01 09:55] cpatel245 commented on #1058
Hello everyone,
I am facing the similar issue regarding depth and color shift. Does anyone already found any solution/workaround for this issue?

I am also curious, since this topic is open from so long, is this issue solely related to Hardware or there is also a way to tackle it on software side?

[2021-12-01 16:19] kenavolic commented on #1263
This is how we handle the 18.04/20.04 install automatically from the answers given in this thread:

[code]

[2021-12-01 18:51] apockill commented on #1263
A quick FYI- if you don't want to have to save the hash strings to get around the EULA, I found that this works well in docker builds:

[code]

[2021-12-02 06:01] teyukung opened #1714 "pixel_2d_to_point_3d return None."
Hi, I try to get a 2d depth image coordinate in 3d. I got return is None instead, but I don't know why. Could anyone help? please.

The following is my code:
`p = (256.0, 256.0)`
`cali = k4a.Calibration()`
`trans = k4a.Transformation(cali)`
`depth = float(img_depth.data[256, 256])`
`ray_x = k4a.Transformation.pixel_2d_to_point_3d(trans, p, depth, k4a.ECalibrationType.DEPTH, k4a.ECalibrationType.DE

[2021-12-02 10:54] AstitvaSri commented on #1698
@qm13 Is there any way to reset this order in Ubuntu?

[2021-12-03 11:36] leGITplease commented on #1696
Allright i got a couple things that could help the next person, thank you guys for trying to help to solve the problems with me!

Even though i am not pinpoiting the problem, i can tell what solved it, my guess is driver/software incompatability:

I know this might not be the best or most efficient way but it works and might help out other people:

What i did in this exact order:

Reinstalled:

Wi

[2021-12-03 23:07] peterkennard commented on #1651
same issue here windows 10 Pro installed and the latest stable kinect SDK and body tracker SDKs  as of 12/3/2021

I built the simple_3d_viewer from master with VisualStudio 2019 , I updated nuget packages, built both debug and release versions,  No build issues.

Tried to run both Debug 64 bit and Release 64 bit versions, and it hangs in k4abt_tracker_create no error messages, just hangs.
I am run

[2021-12-07 01:38] qm13 commented on #1713
@KR-ESWord from the screen shots it does not look like you have programmed in a delay for each of the subordinates. I would expect to see flashing if the delay is 0 for all the subordinates as they would all be taking a depth image at the same time.

[2021-12-07 01:41] qm13 commented on #1712
@michael-createc you need to upgrade to the latest firmware [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware).

[2021-12-07 05:43] ghost commented on #1713
but, they were still in the same condition.

[2021-12-07 14:09] spongepuddingg commented on #1406
@kfarivar Have you found out the transformation between kinect and smpl's axis-angle representation? I'm facing the same problem and couldn't find the answers from documentations.

[2021-12-07 18:20] qm13 commented on #1713
@KR-ESWord did you assign different delays to each of the subordinates? Please [see](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#avoiding-interference-between-multiple-depth-cameras).

[2021-12-07 20:40] nobuyukioishi commented on #1263
Thank you, guys! This thread greatly helped me install this SDK on my Ubuntu 20.04.

Though @vinesmsuic mentioned that "the latest versions of sensor and body tracker don't seem to be compatible", at least the `simple_3d_viewer` demo in Azure Kinect Samples is now working on my environment with the following versions:

k4a-tools 1.4.1
libk4a1.4-dev
libk4a1.4
libk4abt1.1-dev
libk4abt1.1

I hope Mic

[2021-12-09 01:40] ghost commented on #1713
this my test case. I use one Master Azure Kinect and one Subordinate Azure Kinect.
1. Master : 0us Depth delay / Subordinate : 160us Delay off master
2. Master : 160us Depth delay / Subordinate : 160us Delay off master
3. Master : 106us Depth delay / Subordinate : 0us Delay off master

[2021-12-09 11:03] ZodiacWind commented on #1125
I have encountered the same issue. Could anybody provide some instructions? Really appreciate it.

[2021-12-09 11:04] VegetableWithChicken commented on #1125
您好，我一般不常用邮箱，有重要邮件，请QQ我下，谢谢!

[2021-12-09 20:59] aiwhoo commented on #1425
@RoseFlunder , how would you take the inverse of your ffmpeg call? So instead of breaking the mkv into the three channels, how can we provide the 3 channels (ie ir%04d.png depth%04d.png and color%04d.png in png format and create the mkv?

[2021-12-09 23:18] qm13 commented on #1713
@KR-ESWord can you verify if this problem is present with different RGB modes e.g.1080p RGB at 15 and 30 fps, and with NFOV Binned? Just use a 160us delay on the subordinate device.
Also please conductivity of your sync cable.

[2021-12-09 23:20] #1589 closed, assigned to qm13

[2021-12-10 00:56] ghost commented on #1713
This phenomenon only occurs in Color Resolution : 1536p & Frame Rate : 15FPS.
It was normal to choose a different frame rate at a different resolution.

[2021-12-10 22:38] #1669 closed, assigned to scotthsu98052

[2021-12-10 23:11] JeffR1992 opened #1715 "Recordings for Azure Kinect DK to evaluate before purchasing"
Are there any datasets that potential buyers can look at in the Azure Kinect Viewer to evaluate the Kinect DK's point cloud quality before making a purchase (especially considering its many different modes of operation)? With so many consumer-esque ToF and stereo camera products available on the market this would help immensely in making a better purchase decision. Thanks very much.

[2021-12-11 21:13] szekelyisz commented on #1460
It'd be very nice to see option 1 implemented in the SDK itself rather than essentially having to hack the captures. I guess it would result in more accurate and reliable tracking than option 2. I'm thinking about an API call that would get an array of captures and the corresponding transformations and the SDK would do the rest. The body detection algorithm would be pretty much the same but work o

[2021-12-13 06:34] ZodiacWind commented on #1481
Same question. I cannot make it with Razen 5950X and RTX 3080Ti. Could anybody provide some guidelines?

[2021-12-13 14:06] crystal-butler commented on #1460
I'm working with exactly the 3-Kinect example given by @knat, and have been using solution 2 as described by @diablodale. One of the main reasons for not attempting solution 1 has been that [synchronizing multiple Kinects](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync) requires a time offset between devices.

In my experience, this offset can vary quite a bit across captures,

[2021-12-14 19:00] rajkundu commented on #388
+1 - and could an updated link be posted? I'd like to show my support for this. Especially with Apple Silicon now – it would be great to run this on macOS.

[2021-12-14 20:37] rajkundu commented on #1531
FWIW, the lab I am working in ordered these devices (US market, academic research) and we received them within 2 months. I believe I called the number on the Microsoft website and then conducted the rest of the exchange via email. Our order was put in, and we were only asked to pay later, when the devices were actually ready to ship, which was great.

[2021-12-16 11:08] Alessandro-Minerba commented on #831
Hi everybody, does anyone solved this issue (saving body tracking results) using C#? I'm quite new to the language and kinect DK device and C# documentation is really poor. Thanks!

[2021-12-22 04:58] Avita0207 opened #1716 "I want to use the previous version (Azure Kinect SDK 1.0.2)"
It may be difficult to understand in English from the translation, but I'm sorry.
I want to use the previous package Azure Kinect SDK 1.0.2, but when I tried to use MSI, I couldn't download it because the file was missing as "404 --File or directory not found.".
So, if you would like a package that is not available, I asked you to submit a problem, so I posted it here.
Thank you.

[2021-12-23 01:13] crystal-butler opened #1717 "Unix epoch microseconds from MKV incorrect when using `k4a_image_get_device_timestamp_usec()`"
I have a follow-on question related to the issue quoted below. I'd like to use Unix epoch time in microseconds as the timestamp when running body tracking on Azure Kinect captures saved to an MKV file so that I can easily sync tracking results across multiple Kinects, and align the timestamps with time series data from other sensors in a standard way. A time service keeps system time synchronized

[2021-12-23 03:09] earlev4 commented on #1190
Thank you very much @jackjansen!!!
Your comment helped me solve my issue with the build of my Dockerfile.

Looks like there are newer .debs available:
[code]

How did you obtain the following EULA hash strings?

[code]

I would like to obtain new EULA hash strings for the new .debs.

Thanks again! Greatly appreciate your comments.

[2021-12-23 09:59] Alessandro-Minerba commented on #1208
Hi, can someone share the solution to this issue? I understood it's quite common.

[2021-12-23 16:03] submorphic commented on #1651
Having similar problem.  simple viewer shipped with SDK runs fine on three different laptops.  When I build a simple viewer kit and run it is fine on two laptops, but hangs without error on k4abt_tracker_create() on the third laptop. I'm capturing trace info and will update post.

As expected...no trace output...log file empty confirming hang on the tracker_create call

[2021-12-24 14:29] peterkennard commented on #1651
Thanks would be great to solve this 😊

On Thu, Dec 23, 2021, 11:03 AM submorphic ***@***.***> wrote:

[2021-12-24 20:08] ngeorgis opened #1718 "Separate capture from depth calculation"
It would be nice to have the ability to capture raw data from sensors and do not run any processing during capture. This would enable lower resource CPU/GPU or no-GPU systems to be used as capture nodes.

In the current implementation my understanding is capture of raw depth is not possible. Instead there is a requirement for a fast-enough GPU to be used for depth engine calculations running on th

[2021-12-27 10:16] Alessandro-Minerba opened #1719 "Azure Kinect DK Getting: 'Pixels not aligned to stride of each line'"
0

I'm using the Kinect DK and I'm trying to save the camera Capture (a single frame with Color, Depth, IR images). I've already realised that to save a Capture object I have to save the 3 single images (cited above) and than to reconstruct the Capture from the saved files. I've successfully saved the Color image, but I'm having some issues with Depth and IR, because of their format. The problem o

[2021-12-27 16:07] axl-striv opened #1720 "pre-compiled 3d viewer not working & sample not working"
**Describe the bug**
In BT version 1.1.0, The pre-compiled 3D viewer will close after several seconds with GPU mode without showing anything. In BT version 1.0.1, it will hang without showing anything.

Moreover, if I tried to build my own executable from the sample, the sample freezes on the function `k4abt_tracker_create()` function as same as for issue #1651.

When I tried to run on CPU mode, i

[2021-12-27 21:04] fkavache commented on #1606
@Moovency
Could you please provide more detailed information on how exactly are you reproducing this issue?
Also, it's interesting whether bodies are detected only partly, sometimes or they are not detected at all.

[2021-12-28 02:56] axl-striv commented on #1720
update:

I changed my graphics card driver from 497.29 to 472.84 and now the 3d viewer works.

Moreover, I copied all the files under the bt_sdk/tool/ without the 3d viewer to my sample directory, now the sample works. Then I did some cross-validation(only copying one file at a time) to see which file triggered the problem.

The result is that:

only my executable file + all other files under tool

[2021-12-30 03:49] qyupupup opened #1721 "How to configure CUDA mode in VS（it can run in cmd）"
**Describe the bug**
Hello, I can run body tracking in CMD to go through CUDA mode. (it displays an error, but Microsoft officials say it is safe), but how can I configure it in vs2017?  Because the configuration function in k4abtttypes. h only has mode_gpu and mode_cpu,and hasn't K4ABT_TRACKER_PROCESSING_MODE_GPU_CUDA(I see [in](https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#spe

[2021-12-30 11:51] borosko opened #1722 "Support for all color camera parameters in k4arecorder"
**Is your feature request related to a problem? Please describe.**
k4arecorder not able to set color camera parameters

**Describe the solution you'd like**
k4arecorder supports setting color camera parameters, specifically whiteBalance, brightness, contrast, saturation, sharpness.

**Describe alternatives you've considered**
A workaround is to set these parameters manually from k4aviewer, but thi

[2021-12-31 11:50] fkavache commented on #1721
Hi @qyupupup

In the latest 1.1.0 version of the BT SDK there are additional options for CUDA, TENSORRT and DIRECTML

[code]
You are running on 1.0.1

[2022-01-02 09:22] qyupupup commented on #1721
Hi @fkavache
I rechecked my library file and found that it refers to the library file in nuget package (version 1.0.1) .And I uninstalled the library file and configured it again, and now it can run normally in CUDA mode.

Thank you for bringing me the first good news of 2022, my thanks is beyond the words description

[2022-01-03 01:03] ghost commented on #1713
@qm13 Has it been updated?

[2022-01-03 03:34] hlyf-xs opened #1723 "why the coordinate of the depth camera is the opposite of the RGB?"
I confused that the coordinate of the depth camera is the opposite of the RGB, for example, the depth value of the coordinate color[x][y] is depth[y][x].

[2022-01-03 07:29] hlyf-xs commented on #1675
I also test the transform depth image to color image, but the depth value from transformed depth image is not the distance, I don't know how to solve the problem.

[2022-01-03 10:43] Moovency commented on #1606
Hi @fkavache
To reproduce this issue :
- call **k4abt_tracker_create** with **k4abt_tracker_configuration_t config** and set **sensor_orientation** with **K4ABT_SENSOR_ORIENTATION_FLIP180**  (this is reproducible also with the other options https://microsoft.github.io/Azure-Kinect-Body-Tracking/release/1.1.x/group__btenums_ga8e5fb3391addee8fadaa809c601e223e.html ).
- Flip the Kinect Camera 180°
-

[2022-01-03 11:53] dimitrijevic commented on #1674
Now the store listing's gone, or is just me? New prices incoming, 3rd-party models, or...?
https://www.microsoft.com/en-US/d/azure-kinect-dk/8pp5vxmd9nhq

[2022-01-03 17:16] #1721 closed, assigned to nobody

[2022-01-03 17:22] qm13 commented on #1674
We are investigating this issue. No, it is not new pricing or 3rd party models.

[2022-01-04 22:09] #1719 closed, assigned to qm13

[2022-01-05 20:53] fkavache commented on #1720
Hi @nirvanaczj

The problem is that Nvidia drivers, If I’m not mistaken, after the 496.13 version update (Oct-12) are having some issues with OpenGL, that's why 472.84 is working fine and  497.29 is crashing.

[2022-01-06 14:56] adahbingee opened #1724 "Azure Kinect Viewer memory leak"
Azure Kinect SDK 1.4.1

**Describe the bug**

memory leak with Azure Kinect Viewer

stop preview not release memory

**To Reproduce**
1. Open Azure Kinect Viewer
2. Open device and start preview

**Expected behavior**

Memory usage stable.

**Logs**

[code]

**Screenshots**

![2022-01-06_22-55](https://user-images.githubusercontent.com/2985536/148402236-809676f8-1617-49c1-9be9-4b72dbfddf92.png)

*

[2022-01-06 20:58] kkh3049 opened #1725 "Image artifacts preventing localization"
**Describe the bug**
We are interested in registering Kinect color images with other color camera images.  As part of this process we image an object with targets of specific metrics with both and search for matching targets between the Kinect and other color images.  As we pursue this, we found that the Kinect performs what looks like sharpening on the images, and this created artifacts of unreal

[2022-01-07 05:19] kakeru58 opened #1726 "Body Tracking does not work in GPU mode."
I am currently writing code for body tracking in C#.
However, the tracking works in CPU mode, but not in GPU mode.
The code itself is fine as I have tested it on other PCs.
Here is the environment I am using.
Windows 10
Visual Studio 2019 professional
11th Gen Intel(R) Core(TM) i7-11800H @ 2.30 GHz 2.30 GHz
Geforce RTX 3050 Laptop
NVIDIA Driver:GEFORCE GAME READY 496.76
Cuda 10.0
Cudnn 7.5.1

Than

[2022-01-07 19:11] asergaz commented on #1719
Relates with https://stackoverflow.com/questions/70461998/azure-kinect-dk-getting-pixels-not-aligned-to-stride-of-each-line .

[2022-01-07 19:12] asergaz commented on #1719
Looks like issue was solved [here ](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1208) but the solution was not shared.

[2022-01-10 06:51] fkavache commented on #1606
Hi @Moovency

In my case body tracking is working fine.
In the worst scenario (flipped camera without any orientation parameter) at least there should be partial body recognition.
Can you try to:
1. record flipped .mkv video using k4arecorder tool and use it as an input?
(you can use the PlayFile function from [simple_3d_viewer)](https://github.com/microsoft/Azure-Kinect-Samples/blob/master/body-t

[2022-01-10 07:07] fkavache commented on #1724
Hi @adahbingee

Could you please provide more detailed information about:
1. What is the peak of memory usage is your case.
2. How much time it needs to peak.
3. What's happening when memory is full.

[2022-01-10 11:30] SoylentGraham commented on #810
Has there been any update on an EGL version?
Are we still currently on a 2020 release?

[2022-01-10 20:37] EvercoastCory opened #1727 "Firmware on Azure Kinect is a more recent version than the SDK"
The latest Azure Kinects to arrive to us have a firmware installed which is newer than the version provided here on the SDK GitHub. Here's a screenshot of the firmware tool comparing the version numbers of the Kinect's firmware with that in the downloaded binary:

![image](https://user-images.githubusercontent.com/88727957/148834920-671074f0-99fb-490e-b89b-edcdd61822c4.png)

If we have any issues

[2022-01-11 01:03] qm13 commented on #1727
Known issue that will be fixed in the next update to the Sensor SDK. In the meantime you can find the latest firmware file [here ](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware).

[2022-01-11 02:57] kvibert opened #1728 "Unity BodyTracking Sample catching exception for background thread result = K4A_RESULT_FAILED"
Describe the bug

unity Example stops at init, catching exception for background thread result = K4A_RESULT_FAILED

![图片](https://user-images.githubusercontent.com/8499626/148873575-c2afa4e0-ebb2-4d5b-a3f5-0651f936014a.png)

To Reproduce
Execute all the steps on the readme.
open sample scene on unity and play.

Desktop (please complete the following information):

OS with Version:Windows 18362.125

[2022-01-11 07:52] asergaz commented on #1719
See how it is done here: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/tools/k4arecorder

[2022-01-11 09:45] LuniumLuk opened #1729 "ISO speed manual control needed"
**Is your feature request related to a problem? Please describe.**

I'm working on something like shading removal and extracting texture albedo from RGB image, but I cannot manually control camera iso speed. ISO speed changes automatically under both automatic exposure time and manual exposure time configuration.

![bandicam 2022-01-11 17-35-33-885](https://user-images.githubusercontent.com/523084

[2022-01-11 11:59] adahbingee commented on #1724
Solved with lastest firmware

[2022-01-11 20:18] danzeeeman commented on #541
I'm seeing the same thing!

[2022-01-12 03:52] adahbingee commented on #1729
+1

[2022-01-12 20:09] fkavache commented on #1726
Hi @kakeru58

Could you please be more specific about:
1. what's happening when you are trying to run in GPU mode.
2. which NVIDIA driver versions did you try.

[2022-01-13 12:08] qyupupup commented on #1726
You can try to downgrade your NVIDIA driver version. I can run it by changing it to 472.56

[2022-01-13 17:05] #1724 closed, assigned to fkavache

[2022-01-17 05:45] JamesMcCullochDickens commented on #1720
@nirvanaczj
What version of CUDA and nvidia driver did you use to make the k4abt_tracker_create() function stop hanging?

[2022-01-18 15:16] ZanaNabaz opened #1730 "Using thin clients"
Can I connect the camrea to a thin client thats connected to an application on some server? the thin client is connected to a server that runs the application.

[2022-01-18 16:34] leGITplease opened #1731 "Azure Kinect BodyTrackingSamples & Unity | multiple skeletons"
Hi guys,

Currently i have 1 skeleton tracking myself as i stand in front of the Azure Kinect, what i want to achieve is having multiple skeletons that each represent 1 user in Unity. Right now i copied the KinectAzureTracker.. i suppose there is a way to use the copy for the 2nd user?

![afbeelding](https://user-images.githubusercontent.com/13260266/149979183-cd9d5b7b-b015-405a-b79f-f533a5d1d2d0.

[2022-01-18 18:16] qm13 commented on #1730
Sensor SDK is available for NVIDIA Jetson range of devices. You could implement a thin client on a Jetson Nano.

[2022-01-18 21:55] mrcfschr commented on #1425
Can we reopen this issue?
The documentation mentions [Tools such as ffmpeg or the mkvinfo command from the MKVToolNix toolkit can be used to view and extract information from recording files.](https://docs.microsoft.com/en-us/azure/kinect-dk/record-file-format)
Besides ffmpeg I also tried [MKVToolNix](https://www.fosshub.com/MKVToolNix.html):
C:\Program Files\MKVToolNix>mkvextract.exe D:\Desktop\o

[2022-01-20 23:59] Simon-987 commented on #1709
Have you used this? https://github.com/ibaiGorordo/pyKinectAzure

Or are you looking for something native?

[2022-01-22 10:51] Alessandro-Minerba commented on #1719
I solved by removing the DepthImagetoColorCamera transformation, because I just need to save the depth image with its own dimensions

[2022-01-22 10:58] Alessandro-Minerba opened #1732 "Synchronize 2 or more kinect DK cameras connected to the same PC host"
Hi, did anyone try to synchronize two or more Kinect DK cameras using C# ./NET to the same PC host? I've found only C++ examples on GITHUB repositories.
Thank you!

[2022-01-22 17:22] AswinkarthikeyenAK opened #1733 "k4abt_simple_3d_viewer not working in Ubuntu 18.04 with RTX3070 with CUDA 11.1 and Cudnn 8.0.4"
Hi,
I am using **Ubuntu 18.04** with **Nvidia RTX 3070**. It has an Intel i7.
**Nvidia Driver Version** - 470.86
`~$ nvcc -V`

`nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Tue_Sep_15_19:10:02_PDT_2020
Cuda compilation tools, release 11.1, V11.1.74
Build cuda_11.1.TC455_06.29069683_0
`

**CUDA Version** - 11.1
`~$ which nvcc`
`/usr/local/cuda-11.1/bin/n

[2022-01-22 18:03] AswinkarthikeyenAK commented on #896
I have a issue while running simple_3d_viewer in ubuntu
`libk4a.so.1.4: cannot open shared object file: No such file or directory`
Can someone please let me know what needs to be done to fix this?

Thanks

[2022-01-22 22:50] JamesMcCullochDickens opened #1734 "Calling k4abt_tracker_create() has undesired behavior with an RTX 3090"
**Description**
Using the kabt_tracker_create() function, as used in the offline processor code [here](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/offline_processor). Running on an RTX 3090, the code stalls (up to 10 mintes!
), with the GPU enabled i.e.tracker_config.processing_mode = flag enabled (K4ABT_TRACKER_PROCESSING_MODE_GPU). After stalling, the trac

[2022-01-23 09:55] ma-nu-ell commented on #896
Here is a good instruction on how to run it on ubuntu 18.4

https://vinesmsuic.github.io/2020/10/31/azure-kinect-setup/#invoke-k4aviewer-without-root

Thx 2 Vines

[2022-01-24 01:16] JamesMcCullochDickens commented on #1726
@qyupupup with a 30 series card?

[2022-01-24 14:18] lewkoo commented on #1733
Try installing a 472.XX Nvidia Driver version. It seems like Body Tracking was tested only against that particular version and CUDA@11.1 (but you already have that installed)

[2022-01-24 14:33] lewkoo commented on #1726
According to @qm13, the only tested CUDA version is 11.1. Perhaps you can try that one.

[2022-01-24 15:41] MFIMichael commented on #1667
Is there any progress on this? I've kind of gotten to the point of thinking this is where my project might be broken, as well.
Bizarrely, though, it does seem to work from within the Unity Editor -- but standalone builds are failing on distributed machines with the "onnxruntime.dll doesn't load correctly" error.

[2022-01-24 17:09] qm13 commented on #1734
Please upgrade to nVidia Driver to 472.XX.

[2022-01-24 18:08] JamesMcCullochDickens commented on #1734
@qm13, is Cuda 11.1 ok ?

[2022-01-24 19:28] JamesMcCullochDickens commented on #1734
I just tried driver 472.12, Cuda 11.1 and same issue occurred. Would be happy to give more info.

[2022-01-25 06:16] kakeru58 commented on #1726
Thank you for your kind.

1.The program will not proceed from the location of this code.

"""
using (var tracker = Tracker.Create(calibration, trackerConfig))
"""

2. 472.12-notebook-win10-win11-64bit-international-dch-whql

I tried it, but it didn't help.

[2022-01-25 06:18] JamesMcCullochDickens commented on #1726
To add to this thread, I literally tried every single nVidia driver today with Cuda 11.1 with a 3090 and it hung on this function call.

[2022-01-25 16:23] MFIMichael commented on #1726
I was having a similar issue with a build failing on Tracker.Create and managed to track it to a failure to load onnxruntime.dll. For me, I was able to get it working on an RTX 3070 using the 511.09 Driver after installing the vc++ 2015-2022 redistributables pack from https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170

[2022-01-25 17:33] anythingthatworks commented on #1728
I'm having the same issue. in my research I found (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1600) and went through those fixes but still couldn't fix the problem

[2022-01-25 18:01] anythingthatworks commented on #1728
So after a lot of experimentation I was able to solve my issues:

OS with Version: Windows 10 Home 19042.1466
SDK Version: Azure Kinect SDK v1.4.1 / **Azure Kinect Body Tracking SDK v1.0.1**
Firmware version: Current Firmware Versions:
**Unity Version: 2019.1.2f1**

I tried a couple of things to get this working, so I can't tell which solved the issue but here's the list:

1. use the exact unity v

[2022-01-26 08:04] Rudizzzz commented on #1634
Hello,
is there any news about it?
Is the release of a new body tracking model planned?

[2022-01-27 20:56] marsarCV opened #1735 "Unable to run Body tracking on NVIDIA Quadro RTX A4000"
Hi, I have been trying to run a custom application that utilizes body tracking SDK as part of detecting human movements. The code was written last March and it ran fine on both NVIDIA Quadro RTX 4000 and NVIDIA Quadro RTX 5000. Since last week I have been trying to run the same code on NVIDIA Quadro RTX A4000 and it does not work! Here are some of the findings:

1. Program is stuck at this method:

[2022-01-28 03:30] pswot commented on #1699
Have this bug been solved?

[2022-01-30 11:54] CarlosBiscuit commented on #1696
Had the same issue with the Body Trackng Viewer crashing when trying to start. Followed @atsukur's advice and downgraded NIVIDA driver to version 472.47. After PC restart both the Azure Kinect Viewer and Body Tracking Viewer worked as normal again. I speculate that the driver got updated during a recent Windows Update session or something, because all my Azure Kinect apps were working fine two wee

[2022-01-31 03:19] kakeru58 commented on #1726
I tried this.
But it's still not resolved.　

[2022-01-31 12:07] darthcodar commented on #1699
Solved with update to newest firmware. Thanks a lot

[2022-02-01 06:07] Marselka commented on #1425
I faced the same problem as @marcfischer123467 and other colleagues, and didn't find a solution on how to extract IMU data from mkv. Could one from the DK developers prompt us?

[2022-02-01 07:43] Aquariusquintini commented on #1283
The issue is NOT fixed with the latest firmware version 1.6.110080014. At least not on my x64-based Notebook running Windows 10. Testet with multiple cameras, but the same result. The firmware tool reset seems to work, but is not a permanent solution.

What machine model is the host?
Vendor: Dell Latitude 5421
SystemType: x64-based PC

Which OS build is running on host?
OS Name: Microsoft Windows

[2022-02-01 12:16] Alessandro-Minerba opened #1736 "Kinect DK Body Tracking 1.1.0 isn't working on Intel Iris Xe GPU"
Hi, I've updated the Body Tracking SDK to the 1.1.0 version on my project, because the official documentation said that this update would exend the compatibility to the Intel GPUs (https://docs.microsoft.com/it-it/azure/kinect-dk/body-sdk-download). I'm using a PC with an Iris XE Graphics GPU, but even changing the TrackerProcessingMode in the bodyTracker creation it doesn't work, exept for the CP

[2022-02-01 12:39] sjdrc commented on #1283
We've encountered this issue and the beta firmware resolved the reset issue on jetsons, but we never saw this exhibited on an x86_64 machine.

[2022-02-01 13:20] fdechaumont opened #1737 "Synchro between camera only with depth stream"
Dear Kinect Devs,

Thanks for your amazing device, amazing driver.
I am using your camera for research purposes ( http://livemousetracker.org )

I only use depth, but to sync them all, I need to grab the color stream that I just drop.
I guess you need color stream because it is hardware related ? Would it still be possible no to send the data over the USB to gain bandwidth ? Would this make sense

[2022-02-02 13:09] janatu opened #1738 "Debian package for Ubuntu 21.04"
It would be great to have  a package for Ubuntu 21.04. Cannot downgrade to Ubuntu 18.04 since I'm using other software that requires 21.04. Thanks!

[2022-02-03 07:00] lukemc commented on #745
Amperage is 1.5 min and in my experience they really mean minimum.

I did get those Alibaba cores out of desperation and made a few by casting sugru around the barrel but it wasn't ideal. The minimum order was a bit silly so if anyone is stuck and needs some find me on twitter (lukemcneice) and I'm sure I can ship you some.

I did find another product (from a 'HP Notebook') that I could butcher an

[2022-02-03 15:02] fkavache commented on #1735
Hi @marsarCV

Could you please check whether or not you have selected the NVIDIA processor as a default graphics processor in the NVIDIA Control Panel?

![image](https://user-images.githubusercontent.com/29062515/152368510-71a3b49e-e65e-44ff-98cf-42385882dc3c.png)

[2022-02-03 18:39] marsarCV commented on #1735
Hi, my system only consists of two NVIDIA Quadro RTX  A4000 graphic cards. Here is the screenshot of control panel settings:

![NVIDIA-GraphicCardsOnly](https://user-images.githubusercontent.com/73247909/152407536-9176fb82-2a45-44c3-8288-7fcf90c19589.PNG)

[2022-02-04 08:55] Moovency commented on #1606
Hi @fkavache

You can check in attachment the scenarios we have tested :

- Pic01 : k4abt_sensor_orientation_t set to K4ABT_SENSOR_ORIENTATION_DEFAULT , camera in place -> body tracking ok
- Pic02 : k4abt_sensor_orientation_t set to K4ABT_SENSOR_ORIENTATION_FLIP180, camera in place -> body tracking ok
- Pic03 : k4abt_sensor_orientation_t set to K4ABT_SENSOR_ORIENTATION_FLIP180, upside down camera

[2022-02-04 09:02] pythonsql21 opened #1739 "Fail to record using Azure Kinect DK recorder"
I am new to Azure Kinect. After installing the MSI package of azure Kinect SDK (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md), I tried to record data stream using Azure Kinect DK recorder but got an error like below.
![Screenshot (78)](https://user-images.githubusercontent.com/86695336/152498131-acca49c3-c7b2-4a55-8579-ea56a8c83c2a.png)

I used Firmware Versions

[2022-02-04 16:01] fkavache commented on #1736
Hi @Alessandro-Minerba

Are you on windows? if so which EP are you using.

[2022-02-05 00:09] MadeByOzzy opened #1740 "missing k4a_export.h"
Hello!  I am trying to build this project from scratch using the supplied CMakeLists.txt file.

The file "k4a.h" references two other headers: "k4aversion.h" and "k4a_export.h".

k4aversion.h.in exists in "./include/k4a", but there is no configure_file() in the supplied CMakeLists.txt to turn the ".h.in" file in to a regular ".h" file.  Adding a configure_file() command to my upper level CMakeList

[2022-02-05 00:30] MadeByOzzy commented on #1740
Resolved this issue.  I had to open the kinect cmake project itself, build that, that created some stuff in "./out/build/..." including the k4a_export.h and k4aversion.h files.

I had to add:

"out/build/windows-default/src/sdk/include" to my main CMakeLists.txt target_include_directories(), and that solved it

[2022-02-05 00:30] #1740 closed, assigned to nobody

[2022-02-07 02:21] shinjich commented on #1739
Try opening the command prompt as administrator or changing the current directory.

[2022-02-07 09:09] pramasenja opened #1741 "k4abt_simple_3d_viewer immediately close when open it"
Hi everyone.
When i open the k4abt_simple_3d_viewer.exe on Azure Kinect Body Tracking SDK, the command prompt is appear briefly, then immediately close.
Then i tried to open it on command prompt, and it showed error like this :

![image](https://user-images.githubusercontent.com/77260187/152752915-be37e437-9b05-40df-9816-cb05eb58a7a2.png)

Then i tried to enabling logging to a file k4a.log with K4

[2022-02-08 10:45] pramasenja commented on #1741
After installed CUDA Toolkit 11.6 from https://developer.nvidia.com/cuda-downloads
The k4abt_simple_3d_viewer now showing a window with title "3D Visualization" with empty/white blank. And its freezing (Not Responding).
Then after 5 seconds, k4abt_simple_3d_viewer and 3D Visualization window is closing itself.

![image](https://user-images.githubusercontent.com/77260187/152971689-4e69e2ba-f2ab-4b1

[2022-02-08 14:18] svenneve commented on #1728
Thanks, that's what fixed it for me. Updated to 2019.4.19f with SDK 1.1.0 and still working.

Wish I found this earlier, as I tried everything else and wasted a day on this nonsense.

[2022-02-09 09:45] cpatel245 commented on #672
Hello,

I was trying to connect the cameras on Intel NUC with addiitional [startech PCI card ](https://www.amazon.de/StarTech-com-Express-SuperSpeed-Dedicated-Channels/dp/B00HJZEA2S). But I am running into the same error.

OS with Version: Ubuntu 18.04
SDK Version: 1.4.1
color image format: BGRA
Firmware version:
[ info     ] : ******************** Device Info ********************
[ info     ] : K

[2022-02-09 18:02] GitwellAnyohub commented on #388
why is this unresolved issue closed? any updates?

[2022-02-09 21:31] jiany-ctrl opened #1742 "Cant run install-opencv .ps1 on Windows 10 Powershell"
Cant run install-opencv .ps1 on Windows 10 Powershell and the error message is shown below:

An exception was thrown: A parameter cannot be found that matches parameter name 'MaximumRetryCount'.
Processing downloaded file: error_Download-ToTemp_did_not_return_a_file

![image](https://user-images.githubusercontent.com/72469440/153293400-0abe77f5-3edf-47df-86d0-30ca67ecd73f.png)

[2022-02-10 08:51] lintianfang opened #1744 "Is there a function that synchoronizes audio from multiple azure kinect?"
I want to read the audio signal from the microphone, is there an existed interface or example from the SDK? Or if you have any experience with the microphone, could you please share your experience?

Thank you very much in advance!

[2022-02-10 10:18] yuukireina05 opened #1745 "Can not properly include header files of K4ABT"
**My Desktop information**
 - OS with Version: Ubuntu 20.04.3 LTS 64-bit
 - CPU: Intel® Core™ i7-10700 CPU @ 2.90GHz × 16 (No independent GPU)
 - SDK Version:  1.4.1
 - Packages version:  libk4a1.4, libk4abt1.1.0, k4a-tools1.4.1

**Describe the bug**

I can run the `k4abt_simple_3d_viewer` by calling `k4abt_simple_3d_viewer CPU` in my terminal. Also no problem with the running of `k4aviewer` by ca

[2022-02-10 10:58] harryspiercy commented on #1651
Hi all, I encountered the same issue while running the latest SDK from my laptop with a RTX 3060.

I haven't found a proper solution but have found changing the trackers config processing mode to CPU stops the hanging when hitting the create tracker method.

`trackerConfig.processing_mode = K4ABT_TRACKER_PROCESSING_MODE_CPU;`

Would be great to get a solution for running with the GPU of course but

[2022-02-10 17:20] qm13 commented on #1744
The mic array is not hardware synchronized with the cameras.

[2022-02-10 17:25] qm13 commented on #1739
This error is occurs because you are writing into the tools directory under Program Files. In general it is a bad practice to write to  Program Files and Windows now prevents none administrative users from writing to any systems directory. Instead include a path with the filename to an appropriate user directory.

[2022-02-10 17:28] qm13 commented on #1738
Microsoft only supports LTS (Long Term Support) versions of Ubuntu. The latest supported release is 20.04.

[2022-02-10 17:31] qm13 commented on #1737
The internal hardware sync is generated by the RGB camera circuitry. The master camera of a set of synchronized cameras requires the RGB camera. The subordinate cameras should not require the RGB camera.

[2022-02-10 23:47] jiany-ctrl opened #1746 "green_screen exe file dont stop and keep running!!!!"
I am running green_screen exe file using command line: green_screen.exe 2 9 6 25. I have two cameras connected and use chessboard in green_screen example repo.

I have been waiting for more than 30 mins and it never stopped. Screenshot showed below:

![image](https://user-images.githubusercontent.com/72469440/153516122-0fb6c2ab-c1e3-4b7d-8c9d-8eced6953ccf.png)

I also try to run the command line:

[2022-02-11 22:48] #1744 closed, assigned to qm13

[2022-02-11 22:51] #1495 closed, assigned to jaygullapalli

[2022-02-12 15:21] fdechaumont commented on #1737
Thanks a lot !

[2022-02-12 15:21] #1737 closed, assigned to qm13

[2022-02-13 21:24] filipp-backvall commented on #1531
Curious if anyone has had any shipments lately? I got excited with the tech and AK hardware but reading this thread does worry me. Being a beginner in the CV space I just need a single item but don't want to end up with abandoned product.

[2022-02-14 00:39] pythonsql21 commented on #1739
Thank you for your responses. It worked after I changed the directory.

[2022-02-14 03:35] yuukireina05 commented on #1745
I fixed this problem by installing `libk4abt1.1-dev`. After installing it I can find the `k4abt.h` and its related header files in `/usr/include` and run the example code of the repo.
Also for the building of Azure-Kinect-Samples. I succeeded in the building after installing the dev and doing the following procedures:
1. calling `git submodule update --init --recursive` in the repo directory.
2. A

[2022-02-14 03:35] #1745 closed, assigned to fkavache

[2022-02-14 12:09] ridasaleem0 opened #1747 "Point cloud and 2d_to_3d_pixel functions"
Hi,
I am using **k4a_transformation_depth_image_to_color_camera()** to tranform my depth image to color camera geometry and then using **k4a_calibration_2d_to_3d(color, color)** to get the world coordinates of the image.
Documentation suggest that we can alternatively use **k4a_transformation_depth_image_to_point_cloud(color)** instaed of **k4a_calibration_2d_to_3d(color, color)**, however my fram

[2022-02-14 12:09] ridasaleem0 commented on #1747
@qm13 @rabbitdaxi

[2022-02-14 14:49] fkavache commented on #1742
Hi @jiany-ctrl

is this related to Kinect?

[2022-02-14 17:15] qm13 commented on #1673
Also https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1606

[2022-02-14 17:47] JohnHardy commented on #1531
I have similar issues here.  I have an *ideal* use-case for the Azure Kinect DK in an industrial product we manufacture, but nobody at MS seems to be able to offer them for sale.

Does anyone here have a contact that actually knows about the product and where it can be purchased?

[2022-02-14 20:39] qm13 commented on #1531
Supply and demand and approaching equilibrium and we expect to reactivate online purchases of up to 5 units by mid March. In the meantime you can call the Microsoft store (listed on the purchase page for your region) and request a quote for devices. Depending on the region and size of the order you will receive your devices in 2-6 weeks.

[2022-02-14 20:55] JohnHardy commented on #1531
Thanks for your reply!  Do you know who we can speak to in the UK?

It would be great to be able to have a contact who can help with supply chain planning, moqs, end of life, etc.

At the moment I can't find anyone who knows anything about the product line - which is a real shame because it's completely brilliant!  Buying a dev kit here and there only gets us so far.

[2022-02-14 21:28] filipp-backvall commented on #1531
Thanks for the update @qm13, I've already requested a quote here in Sweden and hope to be up and running within a few weeks. 🙌

[2022-02-15 12:56] ridasaleem0 commented on #1747
@UnaNancyOwen any leads?

[2022-02-16 05:22] UnaNancyOwen commented on #1747
@ridasaleem0 You need to attach simple code and example output for everyone can reploduce your problem.

[2022-02-16 05:46] ridasaleem0 commented on #1747
@UnaNancyOwen  Thank you for your quick response.
I have a few source pixels from the color coordinate system and want to use point cloud to generate corresponding depth values against them, just like we do using k4a_calibration_2d_to_3d(color, color).
I am not sure if I am accessing the point cloud values correctly or not since I am pretty new to using SDK. Any help would be appreciated.

#### Ge

[2022-02-16 06:37] UnaNancyOwen commented on #1747
I don't think you need to via point cloud to make it happen.
The transformed depth image that transforme using `k4a_transformation_depth_image_to_color_camera()` has the same coordinate system as the color image. The depth value (z) of pixel (x, y) on color image is the value of pixel (x, y) on depth image.

[2022-02-16 06:42] ridasaleem0 commented on #1747
@UnaNancyOwen I require (x,y,z) in the world coordinates system and not just the distance(z-axis).
Just as k4a_calibration_2d_to_3d(color, color) function returns, a 3D point. I am hoping to achieve the same using point cloud.

[2022-02-16 07:11] UnaNancyOwen commented on #1747
You can get point cloud using `k4a_transformation_depth_image_to_point_cloud()` with `K4A_CALIBRATION_TYPE_COLOR`. That point cloud have same width and height of color image.
A point (x, y, z) corresponding to any pixel (cx, cy) on color image can be accessed buffer by the index "cy * (width * 3) + cx * 3".
(The following code has not been tested.)

[code]

[2022-02-16 09:08] ridasaleem0 commented on #1747
@UnaNancyOwen Thank you for your assistance.
However, I am not sure how we can replicate the buffer part for python API.

I am getting the 'index out of bound' error for the "get point" part.

[2022-02-16 13:11] petrasvestartas commented on #1531
If someone is selling Azure Kinect DK please contact me by mail petras.vestartas@epfl.ch

[2022-02-16 13:23] ridasaleem0 commented on #1747
@UnaNancyOwen I have scrapped through another method since the above strategy doesn't work at all. I am not sure why but the "index out of bound" error persists.

However, I found the following lookup table strategy given in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/examples/fastpointcloud/main.cpp

#### Get a depth image but transformed in the color space.
    depth_frame_

[2022-02-17 02:30] UnaNancyOwen commented on #1747
In the case of python, You can access a point (wx, wy, wz) corresponding to any pixel (cx, cy) on color image by following.

[code]

[2022-02-17 10:29] ridasaleem0 commented on #1747
@UnaNancyOwen Thank you. It works like a charm.

[2022-02-17 10:29] #1747 closed, assigned to qm13

[2022-02-17 16:08] DouglasAllenDev commented on #1728
Has anyone managed to get this working in Unity 2020?
I've tried copying over everything from the tools folder to the project root and changing the processing mode to Cuda but Im still getting the annoyingly vague K4A_RESULT_FAILED error.

I really wish it would just say what the problem library is, this is not the first time Ive had to waste hours trying to debug this pointlessly vague error.

[2022-02-18 14:33] DrMaxP opened #1748 "How do you build Microsoft.Azure.Kinect.Sensor.dll?"
Sorry, that should be Microsoft.Azure.Kinect.Sensor.dll

[2022-02-18 14:35] DrMaxP commented on #1748
I can build all the native examples and key native dlls, but can't figure out how to build the Microsoft.Azure.Sensor.dll that ships with the release. What generates the solution for that assembly?

[2022-02-18 18:22] fkavache commented on #1606
Hi @Moovency

I rechecked just in case, I can confirm that BT **works correctly** with FLIP180 option and camera upside down.
Could you please try simple_3d_viewer which comes with the BT SDK? **C:\...\Azure Kinect Body Tracking SDK\tools\k4abt_simple_3d_viewer.exe**

**screenshot**
![image](https://user-images.githubusercontent.com/29062515/154741107-2c8e8680-2c6c-451a-8bb7-317dbfda48a0.png)

[2022-02-18 21:15] jonahpearl commented on #1666
I get this problem on a home-built machine when the USB controllers aren't correct, as discussed here: https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#usb3-host-controller-compatibility. I don't really understand why some USB ports work and others don't, but it's definitely a reproducible problem. Fixed just by using a different USB port on the motherboard.

[2022-02-18 22:35] DrMaxP commented on #1748
Ok, figured it out. You need to open the K4a.sln in the src/csharp folder

[2022-02-19 18:22] stroombeestje commented on #1125
Same issue here on a 3090RTX

[2022-02-21 02:17] yama7575 commented on #1728
Please forgive my poor English because I am Japanese.

We have confirmed the operation on Unity 2020 with a similar procedure.
However, only when the graphic board is RTX2070Super, if you perform the same procedure with RTX3080, "K4A_RESULT_FAILED error." Will appear.
I'm wondering if it doesn't work due to the GPU, but is there anyone who has confirmed the operation with the RTX30 ** series?

[2022-02-21 18:42] Sagar-CK commented on #1741
Same issue here!

[2022-02-22 05:33] thisisfangsheng commented on #1651
Hello, I run into the same problem. Looking forward to the solution. Thanks.

[2022-02-22 17:04] #1748 closed, assigned to qm13

[2022-02-22 23:43] socketing commented on #1346
@DWD3 Hi,Listen to your tone, you seem to be Chinese?
If so, we can talk about 3D reconstruction. I hope you can tell me your contact information.

[2022-02-23 20:21] jiany-ctrl commented on #1742
Is it in this repo?

[2022-02-24 02:34] majmas commented on #1741
I have the same issue!

[2022-02-25 19:38] wleisenr commented on #1741
I also have the same issue. Any workarounds or feedback on this?

[2022-02-25 19:57] fkavache commented on #1741
In most cases the reason for k4abt_simple_3d_viewer crashing is the NVIDIA driver version.
NVIDIA drivers **after** version:

**472.12** for Game Ready drivers
and
**472.84** for Studio drivers

are having some problems with OpenGL.

@pramasenja could you please verify that after the CUDA update you are on either of these two or older version?

[2022-02-25 20:00] fkavache commented on #1696
I can confirm that in most cases the reason for k4abt_simple_3d_viewer crashing is the NVIDIA driver version.
NVIDIA drivers **after** version:

**472.12** for Game Ready drivers
and
**472.84** for Studio drivers

have some problems with OpenGL.

If anyone else has a similar problem please install above mentioned drivers.

[2022-02-25 20:10] wleisenr commented on #1741
@fkavache This is the error seen in visual studio:

Unhandled exception at 0x00007FF71BF92E38 in k4abt_simple_3d_viewer.exe: An invalid parameter was passed to a function that considers invalid parameters fatal.

I have Nvidia GeForce GTX 1660 Ti, driver version 511.79.

This issue started about two weeks ago and had been running fine since August, 2020 running SDK 1.0.1.  I had an older driver ve

[2022-02-25 20:20] wleisenr commented on #1741
@fkavache I rolled back to game ready driver 471.92 and it is now working again, thank you!

[2022-02-28 06:10] mush881212 opened #1749 "What is the unit of translation in example "calibration_registration""
Hi,
I'm currently running the example "calibration_registration".
In the registration part, it will return the rotation and translation information from one camera to another.
But in the translation information, it only give me a vector without any unit of the values, like centimeter, meter, inch... etc.
Can you please tell me what is the unit of the values, or how should I view these values?
Than

[2022-02-28 07:49] yukilab2 commented on #1190
You need to manually install them once to know hash.  You can see those hash by typing `sudo debconf-show libk4a1.3`, `sudo debconf-show libk4abt1.0`, ...  Then you can reuse static hash information programatically.

[2022-02-28 09:30] hahne opened #1750 "capturesync_drop, releasing capture early due to full queue"
**Describe the bug**
Azure Kinect stops working after a while. Please see the log. Not sure if it is a hardware defect. The only ways to get it working again is by either restarting the PC or by power cycling the Kinect.

**To Reproduce**
It can not be directly be reproduced. I just run custom code to record videos multiple times a day and it stops working after a while. But I also saw it happenin

[2022-02-28 19:30] domportera commented on #1696
Can confirm - downgrading RTX 3080 driver down to 472.12 fixed this problem for us. Any plan to upgrade/maintain driver support?

[2022-03-01 07:06] ekdrnqkdrn opened #1751 "Instability when looking for bones"
Describe the bug
The skeleton was not clearly visible when wearing the mask.
And there is a phenomenon that the skeleton does not hang at all when lying down.
Could you please tell me how I can solve this problem?
I will be very grateful.

To Reproduce
<!-- Steps to reproduce the behavior:
1. Launch 'k4abt_simple_3d_viewer.exe'
2. A black mask is more prone to problems than a white mask.

Expected

[2022-03-01 07:12] ekdrnqkdrn commented on #1751
![image](https://user-images.githubusercontent.com/75236024/156122075-2b542a87-71f4-41f0-9c05-a16c4ed72872.png)

[2022-03-01 07:12] ekdrnqkdrn commented on #1751
The picture didn't upload, so I'll post it here.

[2022-03-01 07:13] ekdrnqkdrn commented on #1751
![image](https://user-images.githubusercontent.com/75236024/156122220-0bb8d2b5-9a4d-40cb-be46-b51a7faaa9de.png)

[2022-03-01 07:14] ekdrnqkdrn commented on #1751
![image](https://user-images.githubusercontent.com/75236024/156122262-a0b81427-ea0b-4a99-bc1b-67083fb1c285.png)

[2022-03-01 07:44] Rudizzzz commented on #1751
This is related to my problem #1634  posted 8 months ago..

[2022-03-01 19:53] rajkundu commented on #810
Same question as above; any progress on this front?

[2022-03-02 06:51] YJ-L-2017 commented on #1547
I have the same problem,CPU and GPU use is only 50% and 20% respectively,The FPS is calculated between 15 and 30.
Setup

Sensor SDK 1.4.1
Body tracking SDK 1.0.1
CPU: i9 9880
GPU: RTX1650

[2022-03-02 07:01] fkavache commented on #1672
@Ideal-H

For testing purpose, could you please try timeout -1 for

[code]

Because 0 means that after calling **k4abt_tracker_pop_result** it will give you the handle immediately, which will (possibly) cause multiple timeout errors at first (because processing needs some time). And when the first capture will be done and **k4abt_tracker_pop_result** will return that frame of course order will be

[2022-03-02 11:14] christian-rauch commented on #810
@rajkundu  As you can see from the [git history](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/commits/develop), the last commit was on the 20th Oct 2021. That means there has been no public progress on this since October last year. I also don't see a public roadmap either.

The headless EGL feature seems to be of low priority on Microsoft's backlog. You have to chaise @qm13 to get some off

[2022-03-02 11:59] SoylentGraham commented on #810
This part is closed source. (If I'm wrong, point me in the right direction, and I'll work on it, I can find the time as the X11 reliance means I can't get solid colour&depth from a nano, and stuck with windows/bigger devices)

[2022-03-02 14:02] dimitrijevic commented on #1648
Please any news on this? Any chances of early access, just to get a feel...

[2022-03-02 17:03] rajkundu commented on #810
This is also my understanding: that the depth engine contains "proprietary code" and thus the community cannot contribute to or fix it.

[2022-03-02 18:45] Elliot8212 opened #1752 "C# BodySkeleton switch"
I'm trying to do a single user body tracker from Kinect Azure,
but when another person come inside camera view, my tracking jump to this person.

Is it a bug ? How can i keep only first seen user ?

Here is the script :

[code]

Thanks

[2022-03-03 17:11] #1672 closed, assigned to qm13

[2022-03-03 18:29] qm13 commented on #1704
Can you confirm that the skeleton ID for the first person in view switches to the second person when they come into view?

Another simple test is to use the k4abt_simple_3d_viewer tool and test whether the color of the first person changes when the second person comes in view.

[2022-03-03 18:32] qm13 commented on #1704
This is expected behavior. The message is a warning from ONNX Runtime telling you that there is no GPU implementation of a specific instruction and it is falling back to CPU. This typically happens with older GPUs.

[2022-03-03 18:33] qm13 commented on #1752
Can you confirm that the skeleton ID for the first person in view switches to the second person when they come into view?

Another simple test is to use the k4abt_simple_3d_viewer tool and test whether the color of the first person changes when the second person comes in view.

[2022-03-03 20:31] Elliot8212 commented on #1752
It don’t switch in viewer, but it switch with index (0) in script

Envoyé de mon iPhone

[2022-03-07 08:36] ChangcongWang commented on #1704
This issue can be resolved by #1696 and #1555. It seems like microsoft didn't make the adaption bewteen new vision driver ( Higher than 472 ) and SDK. I found the nvidia  driver you used is 495. What you need to just degrade your driver. I have the same probem few days ago, but I degrade driver to 470 version and it solve my problem. And I wish microsoft make the adaption bewteen new vision driver

[2022-03-07 10:13] pramasenja commented on #1741
Thank you @fkavache , After installing 472.84 Studio drivers, it works now.

![Capture1](https://user-images.githubusercontent.com/77260187/157011010-a6cb1f93-4024-46b8-b3e7-dc1ef0a1c8f4.PNG)

I'm gonna close this issue

[2022-03-07 10:13] #1741 closed, assigned to fkavache

[2022-03-07 17:37] qm13 commented on #1752
Please compare your code with the sinple_3d_viewer source at https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/simple_3d_viewer

[2022-03-09 01:01] chz31 opened #1753 "Pointclouds from Azure Kinect rgbd depth image are distorted"
Hi all,

I am doing some pilot studies about using the rgbd image taken by Azure Connect to extract pointcloud and reconstruct a surface model of the object as a potential cheap way to collect shape data from biological specimens. However, the point cloud of the object (a tea box) from the 3D view in the Azure Kinect viewer appears to be distorted as the edges are not straight as the screenshots s

[2022-03-09 22:25] BryanPlayLu commented on #1283
We have also been facing this same issue on x64 Windows PCs where the K4A device would stop being detected and prints an error from find_libusb_device() when trying to open the kinect using the SDK..

It's also not a possibility for our users to physically unplug/plug the usb device everytime this happens, we are trying to find a solution that would work via software.

When this happens, "AzureKin

[2022-03-10 17:51] qm13 commented on #1753
Azure Kinect uses IR time-of-flight technology and you are seeing multipath distortion. Multipath distortion occurs when the IR reflection reaches the sensor via multiple paths. This is typically seen with angular surfaces e.g. point the camera at the corner of a room and you will see curving of the edges.

[2022-03-10 20:11] chz31 commented on #1753
@qm13 Thank you for letting me know! I'll try it again on objects & backgrounds with smoother surface.

[2022-03-11 08:57] borosko commented on #1722
This is not getting any traction for 3+ months. Is there anything I should do here? I have prepared a PR, but just waiting for an issue to be approved to be able to create it. @qm13

[2022-03-11 18:34] qm13 commented on #1722
@borosko please go ahead and create a PR.

[2022-03-13 04:47] aiwhoo opened #1754 "Running Azure Kinect Samples. Project builds, but camera doesn't appear."
**Describe the bug**
I've setup a new machine with Windows Visual Studio 2022. Installed Azure Kinect Viewer 1.4.1 and am able to view the camera in the viewer; however, when I open up a body tracking sample (particularly, the jump_analysis_sample), I'm able to see the console display

[code]

However, there is no camera. All I see is a black terminal. There are no bugs/errors/messages in the outp

[2022-03-13 09:44] JamesMcCullochDickens commented on #1393
@qm13 I am trying to write a python equivalent of this API call and am having difficulty finding the source code for the k4a_transformation_color_image_to_depth_camera function, do you have a link? Thanks.

[2022-03-13 23:34] andro98 opened #1755 "Display in protrait mode"
Dears,
I am using Kinect with Unity, and I am trying to display the color frame data in a portrait mode, where I convert the pixels to texture and use it for a quad object

`frame.CopyConvertedFrameDataToArray(pixels, ColorImageFormat.Rgba);
                            texture.LoadRawTextureData(pixels);
                            texture.Apply();`

Now, I am not sure how to display the camera vi

[2022-03-14 01:32] qm13 commented on #1393
@JamesMcCullochDickens this is a request (enhancement) to add this function to the Sensor SDK. The function does not exist today.

[2022-03-14 04:19] JamesMcCullochDickens commented on #1393
@qm I guess I'm not sure what you mean, the function k4a_transformation_color_image_to_depth_camera doesn't exist? It's part of the docs. I just mean if I could see the c++ source code and then I can study it and write a python equivalent, not a wrapper, but with numpy etc. Thanks for the help.

[2022-03-14 16:05] qm13 commented on #1754
Please try Body Tracking v1.1.0. Note that there is NO NuGet package for this release.

[2022-03-14 19:32] qm13 commented on #1393
Sorry @JamesMcCullochDickens confused your request with the enhancement request of this issue.

You can find the C source for k4a_transformation_color_image_to_depth_camera in [this](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/2feb3425259bf803749065bb6d628c6c180f8e77/src/sdk/k4a.c) SDK source file.

[2022-03-16 09:07] Aquariusquintini commented on #1283
We would also prefer an SDK equivalent very much.

[2022-03-16 11:44] hahne commented on #1750
Any idea what could be wrong here? Can it be a hardware defect?

[2022-03-17 16:12] corriedotdev commented on #1728
Resolved my end using a RTX 3070. Tried Unity Version 2020.2.1f1 with Body tracking 1.0.1, 1.1.0 and 1.1.1

Also Unity Version 2021.1.3f1

Ensure you are using Cuda as the tracker as discussed [here ](https://github.com/microsoft/Azure-Kinect-Samples/pull/62)

Use 1.1.0 (not on nuget so you have to do some stuff yourself)

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1600#issuecomme

[2022-03-18 08:38] aztsdfhj commented on #1750
My device has also encountered such a problem recently, is there any good solution?

[2022-03-19 10:38] zwxxx121 commented on #1754
@qm13 I've been using v1.1.0, but still cannot run this sample, the same problem as mentioned. Is there any other solution?

[2022-03-20 04:16] DanTebbsFRL opened #1756 "Eight Azure Kinects on One Workstation"
We have an application where we need to connect qty 8, Azure Kinect sensors to a single workstation computer which integrates all 8 device streams into a recording.

After much experimentation, we found that we can always connect 4 AK sensors for both:
HiPoint (Rocket U 1388C, 8-Port, powered), and
Startech (PEXUSB3S44V, 4-Port, powered) x2 PCI-E cards.

The first 4 will always come up correctly u

[2022-03-20 18:28] TheUnproductive commented on #1544
I don't know if it is relevant anymore, but I managed to get the Kinect working again after reinstalling the device

[2022-03-21 11:44] hahne commented on #1750
There are many issues like this. It looks to me like Microsoft has more or less abandoned the whole project. Just check the commits. Last one was in October. No one seems to be working on this repo anymore.

[2022-03-21 18:49] RMichaelPickering commented on #1531
@qm13 Can you please provide an update on availability, in this case for Canada -- presumably I'd use the US store to order, is the online availability expected soon? Also is there a third party supplier working on just the 7 microphone array part of the AK and if so could you please provide more information and a contact? Finally, is there any update on the 3d party cameras yet? TIA!

[2022-03-21 19:16] RinCat commented on #1531
@RMichaelPickering In January, I ordered 3 x Kinect DKs from MS store Canada agent, still not shipped.

[2022-03-21 19:45] RMichaelPickering commented on #1531
@RinCat Thanks for that information, I'll take some small encouragement that at least you were able to order the AK DK from MS Canada store -- I didn't even think it was available in Canada yet!!

[2022-03-21 20:25] fractalfantasy commented on #1704
downgrading is not a sustainable solution as you can't downgrade the newer graphics cards to 470 (i have a 3080ti, and this isn't an option for me)

[2022-03-21 20:25] fractalfantasy commented on #1696
what if we have a newer graphics card like 3080ti that can't downgrade to 472.12?

[2022-03-21 21:28] qm13 commented on #1531
The US store is accepting orders in CAD for AKDKs and shipping to Canada. That said the US store is considerably backordered and will take time to fulfill all the orders.

[2022-03-21 21:40] petrasvestartas commented on #1531
@qm13  is there any possibility to order one kinect to Switzerland?
I called a month ago to microsoft, they put the order but they never replied ever since...

[2022-03-21 21:47] qm13 commented on #1250
Fixed

[2022-03-21 21:47] #1250 closed, assigned to qm13

[2022-03-21 21:47] qm13 commented on #1365
Fixed in v1.1.1

[2022-03-21 21:47] #1365 closed, assigned to qm13

[2022-03-21 21:48] qm13 commented on #1373
Fixed in v1.1.1.

[2022-03-21 21:48] #1373 closed, assigned to HlibKazakov2000

[2022-03-21 21:48] qm13 commented on #1510
Done

[2022-03-21 21:48] #1510 closed, assigned to qm13

[2022-03-21 21:49] qm13 commented on #1541
Fixed in v1.1.1

[2022-03-21 21:49] #1541 closed, assigned to qm13

[2022-03-21 21:49] qm13 commented on #1546
Fixed in v1.1.1

[2022-03-21 21:49] #1546 closed, assigned to qm13

[2022-03-21 21:50] qm13 commented on #1573
Fixed in v1.1.1

[2022-03-21 21:50] #1573 closed, assigned to qm13

[2022-03-21 21:50] qm13 commented on #1576
Fixed in v1.1.1

[2022-03-21 21:50] #1576 closed, assigned to qm13

[2022-03-21 21:51] qm13 commented on #1644
Fixed

[2022-03-21 21:51] #1644 closed, assigned to qm13

[2022-03-21 21:53] #1606 closed, assigned to fkavache

[2022-03-21 21:54] #1673 closed, assigned to fkavache

[2022-03-21 21:57] #1736 closed, assigned to fkavache

[2022-03-21 22:03] #1752 closed, assigned to qm13

[2022-03-21 22:08] qm13 commented on #1154
Fixed

[2022-03-21 22:08] #1154 closed

[2022-03-21 22:59] qm13 commented on #1531
@petrasvestartas the Japan, UK and EU stores are moving back to unmanaged sales this week. That means the return of the "Buy" button on the AKDK page for those stores. You should be able to then place an online order for a single Kinect in Euros to be shipped to Switzerland.

[2022-03-22 02:33] aiwhoo commented on #1754
@qm13, any other suggestions to address this?

[2022-03-22 06:59] petrasvestartas commented on #1531
@qm13

Thank you for a response. Could you please post a link for EU Microsoft? I am always redirected to US site.

[2022-03-22 18:42] qm13 commented on #1754
@zwxxx121 we just released v1.1.1. Please retry with the latest SDK.

[2022-03-22 18:45] qm13 commented on #1531
https://azure.microsoft.com/de-de/services/kinect-dk/

[2022-03-22 19:02] petrasvestartas commented on #1531
Thanks once I press buy it redirects to us site with the same phone number. I guess I need to wait...

[2022-03-23 08:11] vanilla-plus commented on #1728
I'm also getting this error on a 2070 Super. Kinect itself is functioning fine, applied the patch commits, etc...

Azure Kinect SDK 1.4.1
Body Tracking SDK 1.1.0

@corriedotdev when you say you're using 1.1.0 (the one that isn't on nuget) are you talking about the Azure Kinect SDK or the Body Tracking SDK? I've tried 1.1.0 and 1.1.1 of the Body Tracking SDK and neither worked. I've copied all the

[2022-03-23 10:15] filipp-backvall commented on #1531
Same for me. I'm located in Sweden but when I press "Jetzt kaufen" (Buy now) it sends me to the [US page](https://www.microsoft.com/en-us/p/azure-kinect-dk/8pp5vxmd9nhq?activetab=pivot%3aoverviewtab) with "Call to order"

[2022-03-23 16:12] jmarkow commented on #1531
@qm13 attempting to place a larger order in the US (20 units) for my lab.  Buy button leads to the phone number and the representative told our administrator that they couldn't estimate a lead time.  What's the expected delay? Weeks? Months?  Just need to know for planning purposes.

[2022-03-24 11:09] Vandor1 commented on #1728
I couldnt fix this error using [Body Tracking SDK 1.1.1](https://www.nuget.org/packages/Microsoft.Azure.Kinect.BodyTracking/1.1.1).

I resolved my issue by uninstalling this version, and instead downloaded the [1.0.1 version](https://www.nuget.org/packages/Microsoft.Azure.Kinect.BodyTracking/1.0.1). I then copied all the files from "tools" to my unity program folder. Hope this helps someone.

[2022-03-24 13:37] corriedotdev commented on #1728
@ChiefBreakeverything

[Made a tutorial](https://www.youtube.com/watch?v=PGsxP6Yoq9I
) running through how I got it working step by step. The main issue is body tracking 1.1.1 is broken. Whats annoying is that microsoft arnt versioning their dll's after each build just the MSI package so its not the easiest to investigate file differences.

But yeah should be good with 1.1.0 body tracking sdk and

[2022-03-24 16:46] qm13 commented on #1531
@jmarkow you are looking at a ~2 month delay. The US store expects to catchup on their backlog by June.

[2022-03-24 17:16] jmarkow commented on #1531
@qm13 appreciate it, thanks!

[2022-03-25 09:25] cpkcpkcpk commented on #1704
Seriously need a proper fix for this, that isn't downgrading to a 6 month old driver. It has been reported in multiple tickets for 6 months, and I need to keep my nvidia drivers up to date for lots of other software.

[2022-03-25 11:48] sntarkas opened #1758 "Is Azure kinect sensor camera compatible with windows server 2016 or any other version?"

[2022-03-27 08:01] zwxxx121 commented on #1754
@qm13 Thanks. I've tried with the latest version, and it works!
@aiwhoo If you're using the new version, you need to update the scripts of the file. reference: https://github.com/microsoft/Azure-Kinect-Samples/pull/59/files

[2022-03-28 14:24] SamuelGaudemer opened #1759 "LATENCY - LOW REFRESH - SDK BODYTRACKING 1.1"
Hello everyone !

The Azure Kinect shows latency on Unity 9.4 with the Bodytracking SDK 1.1.
There is a low refresh rate and a latency between the motion performed and the motion transcribed.

I have a GTX 970 and an i7.
I do not understand where this bug can come from. Do you have the same ?

Thank you.

[2022-03-28 16:05] qm13 commented on #1759
Do you see the latency without Unity?
Are you using BT SDK v1.1.1?

[2022-03-28 16:06] qm13 commented on #1758
Azure Kinect DK is not compatible with any version of Windows Server.

[2022-03-29 18:49] #1758 closed, assigned to nobody

[2022-03-29 18:53] #1730 closed, assigned to nobody

[2022-03-29 18:55] qm13 commented on #1716
These are no longer available.

[2022-03-29 18:55] #1716 closed, assigned to nobody

[2022-03-29 18:58] #1710 closed, assigned to nobody

[2022-03-29 18:59] #1677 closed, assigned to nobody

[2022-03-29 21:24] owen2t opened #1760 "Pelvis Quaternion Displaying Incorrectly in Python"
I'm trying to visualize the pelvis orientation outputted by the body tracking sdk in python. I'm eventually going to be using the rest of the lower body orientations but I figured it would be best to start with joint 0.

To calculate the x, y, and z axis of the pelvis, I transform the global kinect orientation vectors [1,0,0], [0,1,0], and [0,0,1] by the quaternion given for the pelvis. I do this

[2022-03-31 11:20] crawfis commented on #1682
Same problem running on a Desktop. Works in CPU mode (very slow) but produces an error in GPU mode.
Intel i7-9700K
nVidia GeForce RTX 2070 SUPER, DirectX 12, Driver version 471.96
SDK 1.1.1
Windows 10 (up to date)

[2022-03-31 12:03] crawfis commented on #1682
FYI, the camera does open.
1) I tried all combinations of GPU, CPU, Cuda and DirectML and also tried the lite ProcessModel. Only Cpu worked.
2) Trying to expand the device info in Visual Studio causes it to hang (consistenly), but killing Unity brings it back. It is stopped on a breakpoint.

[2022-03-31 16:11] sam1006 commented on #1003
@1216704928 did you found a way to reduce file size of recording ?

[2022-03-31 16:15] sam1006 commented on #1003
@qm13 I want to record rgb (1080), ir and depth data at 15fps of a 2 hour activity. But the file size on 1 min video is around 4GB. Is there anyway to reduce or compress the file size while recording? Shall be grateful for your help.

Thanks..!

[2022-04-01 02:06] aiwhoo commented on #1754
@zwxxx121 @qm13 Thank you. Issue has been resolved!

[2022-04-01 02:06] #1754 closed, assigned to qm13

[2022-04-01 07:45] TuttiChi commented on #1666
A ctually right. My clevo NH50 cant use this camera, but Thinkpad x390 yoga can use use it without error

[2022-04-01 17:15] frabera commented on #1720
Is there any update? I have the same problem

[2022-04-02 08:48] qiaoxu123 commented on #1742
Hi, i meet the same problem recently and solved it successfully. It should results from the low PowerShell version.

You can type `$host` to see the current version, maybe it's lower than 7.0(like the default 5.1). The parameters like `MaximumRetryCount` added in the new version 7.0 maybe. It can be checked in this [link](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.util

[2022-04-02 21:55] gradientLord opened #1761 "Body Tracking broken on new Nvidia GPUs"
Just got a new 3080ti system for Kinect development, none of the body tracking samples will start.

Here are the behaviors I'm getting for each mode:

CUDA:
-it spits out this error, and then closes:
[code]

CPU:
-no error, it just opens and closes

DirectML:
-no error, it just opens and closes

TensorRT:
-it spits out this error, and then closes:
[code]
---

I've tried upgrading and downgrading d

[2022-04-03 03:06] aiwhoo commented on #1761
I'm noticing a similar issue on a new laptop/new install of SDKs.

[2022-04-03 04:26] vanilla-plus commented on #1728
Amazing! I got it working by copying everything across, very naive approach, however it only works in Unity 2020. 2021 will complain about netstandard, I think whats going on is that Unity include their own version of this library for 2021 onwards?

Either way, I'll follow your tutorial because having it work in 2021 would be even better. Much appreciated!

[2022-04-03 21:36] gradientLord commented on #1761
@aiwhoo were you able to find a solution/workaround?

[2022-04-03 21:41] aiwhoo commented on #1761
Unfortunately, no. Previous git issues indicate the sdk just needs to be updated.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: gradientLord ***@***.***>
Sent: Sunday, April 3, 2022 5:37:02 PM
To: microsoft/Azure-Kinect-Sensor-SDK ***@***.***>
Cc: Matthew Saponaro ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Azure-Kinect-Sensor-SDK] Body Tracking

[2022-04-04 15:40] vilmire commented on #1761
not working in 3080ti
cuda : 11.1
gpu driver : 472.xx, also recent version of driver didnt

[2022-04-05 08:24] qm13 commented on #1667
Release NuGet package for BT v1.1.1

[2022-04-05 08:24] #1667 closed, assigned to qm13

[2022-04-05 09:41] flololan opened #1762 "Can't launch k4abt_simple_3d_viewer.exe"
Hello,

I am trying to make the Azure Kinect work on my Work PC.
The Kinect Viewer (v1.4.1) works as expected.

But when I try to use the body tracking demo it does not open (just the cmd opening and closing).

To see if there are errors I launched it via the cmd. Indeed there are errors but I can't find a fix for it:

[code]

Is there something I can do on my side to make it work?

Hardware:
Alie

[2022-04-05 11:17] flololan commented on #1762
Okay I figured it out but it is less than ideal.

1. If not already installed, install Visual Studio (https://visualstudio.microsoft.com/)
2. Install the CUDA Toolkit (I did a clean install, not sure if necessary) (https://developer.nvidia.com/cuda-downloads)
3. Install old NVIDIA driver **In express mode, not a clean install!** (https://www.nvidia.com/download/driverResults.aspx/171473/en-us)

Af

[2022-04-05 11:17] #1762 closed, assigned to nobody

[2022-04-06 02:33] gradientLord commented on #1761
It seems people are getting the same behaviors with older cards with the latest Nvidia drivers.

[2022-04-06 07:25] UnaNancyOwen opened #1763 "Body Tracking Viewer of Azure Kinect Body Tracking SDK v1.1.1 does not launch correctly"
**Describe the bug**

k4abt_simple_3d_viewer.exe of Azure Kinect Body Tracking SDK v1.1.1 does not launch correctly.

**To Reproduce**

1. Install Azure Kinect Body Tracking SDK v1.1.1 by msi installer.
2. Run tools/k4abAt_simple_3d_viewer.exe.
3. Show white window with console window.
4. App exits with an error code (3221226505).

**Expected behavior**

**Logs**

**Screenshots**

![2022-04-06_16h

[2022-04-07 00:34] JimCheong commented on #1531
Michelle Maria Lopez selling 9 units on Facebook Marketplace for $400 per unit here in USA
https://www.facebook.com/marketplace/item/1057396408372653

Her profile
https://www.facebook.com/Blushes22

[2022-04-07 06:00] Jayden9912 commented on #1740
Hi @MadeByOzzy . Could you guide me on your solution? I am facing the same issue but couldn't figure out how to do it. Thanks in advance.

[2022-04-07 07:56] fkavache commented on #1763
Hi, we are working on that issue,

Before official release could you please try if this prebuilt **k4abt_simple_3d_viewer.exe** works for you?
just replace existing **..\Azure Kinect Body Tracking SDK\tools\k4abt_simple_3d_viewer.exe** with attached file and run body tracking with CUDA or TRT

Please use v1.1.1 BT SDK and the latest NVidia driver.

[k4abt_simple_3d_viewer.zip](https://github.com/m

[2022-04-07 08:17] UnaNancyOwen commented on #1763
@fkavache Thanks for working on this issue! 👍

It works well in my environment with DirectML and CUDA processing mode!
It doese not works with TensorRT processing mode. (I'm not sure if that was the intended behavior.)

![2022-04-07_17h09_44](https://user-images.githubusercontent.com/816705/162152152-67ab57a4-9a21-4926-8842-1b7437030e76.png)
![2022-04-07_17h14_29](https://user-images.githubusercon

[2022-04-07 08:34] fkavache commented on #1763
@UnaNancyOwen

Glad to hear that, TRT just needs some time to build local cache.

[2022-04-07 08:38] fkavache commented on #1761
Hi @gradientLord
could you please take a look at this thread?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-07 08:54] fkavache commented on #1704
Hi, to those who had an issue on Windows,
could you please take a look at this thread?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-07 08:56] fkavache commented on #1696
Hi, @leGITplease @fractalfantasy @CarlosBiscuit could you please take a look at this thread?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-07 08:57] fkavache commented on #1720
Hi, @nirvanaczj @frabera please take a look at this thread.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-07 08:57] fkavache commented on #1726
Hi @kakeru58, please take a look at this thread.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-07 08:58] fkavache commented on #1735
Hi @marsarCV
could you please take a look at this thread?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-07 09:00] UnaNancyOwen commented on #1763
@fkavache After a few minnits wait, it works well with TensorRT processing mode. All processing modes works correctory! Thanks!

[2022-04-07 09:04] UnaNancyOwen commented on #1763
However, the cache seems to be generated each time of started
![2022-04-07_18h03_27](https://user-images.githubusercontent.com/816705/162163062-521ac910-417e-421c-a6a6-37c815ef2fc9.png)
.

[2022-04-07 09:28] fkavache commented on #1763
It's a normal behavior, you just need to enable caching

https://onnxruntime.ai/docs/execution-providers/TensorRT-ExecutionProvider.html#configurations

ORT_TENSORRT_CACHE_PATH=/path/to/calibration/table
ORT_TENSORRT_ENGINE_CACHE_ENABLE=1

[2022-04-07 09:41] UnaNancyOwen commented on #1763
Oh! It is good! 👍  I had missed the documentation.

[2022-04-07 09:42] Jayden9912 opened #1764 "Failure in compiling examples/calibration/main.cpp"
Hi. Thanks in advance for spending time reading my issue.

Could anyone help me on this error?

The OS system using is Ubuntu 16, and the SDK is built from source.
I rename the main.cpp to camera_calibration.cpp and put it to the root of Azure-Kinect-Sensor-SDK. The command use is
cd to the root of Azure-Kinect-Sensor-SDK
[code]

Here is the error:
<img width="333" alt="error" src="https://user-im

[2022-04-07 11:48] aiwhoo commented on #1761
@gradientLord @fkavache Kinect viewer works for me; however the sample code fails. Previous threads indicate an issue with the SDK.

[2022-04-07 11:57] fkavache commented on #1761
@aiwhoo

So the simple_3d_viewer from SDK worked for you before, but the samples did not?

[2022-04-07 17:03] leventalpsal commented on #1763
I had the same issue, Azure Kinect Viewer working, k4abt_simple_3d_viewer.exe (2133KB) crashing on startup. The prebuilt k4abt_simple_3d_viewer.exe (2134KB) works fine.

Environment details:
Azure Kinect SDK 1.4.1
Azure Kinect Body Tracking SDK 1.1.1
Ryzen 9 5900 HX
Nvidia RTX 3070 laptop GPU
Nvidia Game Ready driver 511.79
Windows 11 22000.593

[2022-04-07 17:31] fkavache commented on #1763
@leventalpsal

Sounds good!

[2022-04-07 22:52] gradientLord commented on #1763
how exactly do you enable TENSORRT caching on your system? I tried these commands in elevated command prompt and it didnt work.

[2022-04-08 14:26] matth-av commented on #1620
For anyone still coming across this issue, it could be related to power. This was happening to me from a USB port that wasn't supplying enough amps. I changed to the USB port on the motherboard and was able to get color & depth images at 30fps without this error.

[2022-04-08 14:28] matth-av commented on #1750
It could be related to power. This was happening to me from a USB port that wasn't supplying enough amps. I changed to the USB port on the motherboard and was able to get color & depth images. I'm not sure that explains how this is remedied by restarting your computer though, hahne.

[2022-04-09 04:51] 110204362 opened #1765 "How to save the result of body tracking as .json or .skeleton?"
Help!
How to save the result of body tracking as .json or .skeleton?

[2022-04-09 13:16] Capricoornus commented on #1208
Hi there. I had same problem.
I returned **depth** image from method which should return **color** image. Simple misswrote which lead to problem that I then tried to pass returned image into BGRA array which led to _"Pixels not aligned to stride of each line error"._

[2022-04-10 02:34] aiwhoo commented on #1761
@fkavache That is correct.

Particularly, it fails when trying to verify(k4abt_tracker_create(&sensorCalibration,tracker_config,&tracker, "Body tracker initialization failed") step.

Usage: k4abt_jump_analysis_sample PROCESSING_MODE[CUDA, DirectML ( default ), or TensorRT](optional) -model MODEL_FILEPATH(optional).

The given version [10] is not supported, only version 1 to 7 is supported in this

[2022-04-10 05:41] fkavache commented on #1761
@aiwhoo

It’s a different kind of issue, it seems like it was unable to find **onnxruntime.dll** in your packages and searched it in SYSTEM32 where there was an older version.

Which version of BT SDK are you using?

[2022-04-10 13:43] aiwhoo commented on #1761
@fkavache the most recent--fresh download and install on a new computer.

[2022-04-11 08:06] fkavache commented on #1555
Hi, @LU-MING-HUA

could you please take a look at this thread?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-11 09:36] Jayden9912 commented on #1764
Hi, any update on this?

[2022-04-11 09:57] PimTournaye commented on #388
+1, not sure why MS is staying silent on this? It's still the highest rated request on the feedback forum

[2022-04-12 02:11] xenocloud7732 opened #1766 "AzureKinect cannot be found in AzureKinect Viewer"
Since yesterday AzureKinect  cannot be found in  AzureKinect Viewer.I could use it normally for a long time.I'm not sure if it's related to the update of windows.

As shown in the figure below，AzureKinect  cannot be found in  AzureKinect Viewer .
<img width="319" alt="1649728737(1)" src="https://user-images.githubusercontent.com/5118739/162863711-4ba63c9f-34d2-4e84-bbeb-e7d277e4dad2.png">

The log

[2022-04-12 05:00] fkavache commented on #1765
Hi, @110204362

Please take a look at offline_processor sample https://github.com/microsoft/Azure-Kinect-Samples/blob/master/body-tracking-samples/offline_processor/main.cpp

[2022-04-12 07:12] bjkoo88 commented on #803
Dear Community
I am having the same issue here. I couldn't solve the problem with the solution @ndaley7 suggested.
Any more suggestions to solve this issue?

I am also trying to do the conversion of the color image data of the secondary azure Kinect to the secondary_depth_in_main_color data. can anyone show me an example of this data conversion as well?

Thanks in advance!

[2022-04-12 07:20] Koring12 commented on #803
Dear Community
I am having the same issue here. I couldn't solve the problem with the solution @ndaley7 suggested.
Any more suggestions to solve this issue?

I am also trying to do the conversion of the color image data of the secondary azure Kinect to the secondary_depth_in_main_color data. can anyone show me an example of this data conversion as well?

Thanks in advance!

[2022-04-12 18:01] owen2t commented on #1751
In my experience, the body tracking works best when wearing tight fitting clothes, perhaps that would help.

I have also noticed that the body tracking performs poorly when the person is lying down/doing a pushup. My hypothesis about why this is happening is that the skeleton is estimated using a neural network, which means it is only as good as its training data- and I don't think there are a lot

[2022-04-12 18:07] owen2t commented on #1760
It's now been 2 full weeks since I posted this question. I understand that avateering is one of the focuses of the azure kinect, but there are people and businesses who want to use the kinect for other purposes.

As mentioned in #1414 , there is insufficient documentation on how to actually use the quaternions to get coordinate systems for each body part. I was able to run the kinect in unity and

[2022-04-12 21:33] dasparli commented on #1766
Are you powering the unit using the round DC power connector?
What color is the LED on the back side of the unit above and in-between the USB-C and round DC power connectors? It should be white.

[2022-04-12 22:33] dasparli commented on #1750
In most cases the unit will need to be powered by the round DC power cable and USB power adapter. Both of these are included in the box.
The LED on the back of the unit, between the USB and DC sockets, should be white when the proper amount of power is supplied and the USB-C cable is connected to a working USB host. If this LED is yellow then it is not getting enough power.

[2022-04-13 01:12] xenocloud7732 commented on #1766
Thank you for your reply.I make sure that the DC power supply is connected and the LED on the back is white. There may be some details I didn't mention before. I can use the azurekinect viewer when I use this device on the win10 system, just body tracking It cannot be used normally. In issue, I think is the problem of the graphics card driver, but I haven't tested it yet.At present, there is no cl

[2022-04-13 03:17] ghost commented on #1713
Has it been updated?

[2022-04-14 04:07] aiwhoo commented on #1761
@fkavache Any other suggestions on how to fix this issue? I've tried with older and newer onnxruntime.dll. Nuget seems to be broken with the 1.10, so I've even tried manually inserting in packages/system32

[2022-04-14 06:34] fkavache commented on #1764
Hi, @Jayden9912

What you are trying to do? could you please share your camera_calibration.cpp?

[2022-04-14 06:36] fkavache commented on #1761
Hi @aiwhoo

Latest BT SDK v1.1.1 version comes with nuget package.

https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-download

[2022-04-14 06:40] fkavache commented on #1763
Hi, @gradientLord

Those are environment variables, try:
**$env:ORT_TENSORRT_ENGINE_CACHE_ENABLE = 1
$env:ORT_TENSORRT_CACHE_PATH="C:\Users\\...\Desktop\cache"** from powershell.

[2022-04-14 08:03] Jayden9912 commented on #1764
Hi, @fkavache .

I am trying to compile this cpp file only. My camera_calibration.cpp is the same as the one in this repo.
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration

[2022-04-14 08:25] fkavache commented on #1764
@Jayden9912

You need to link k4a, this line, from cmake, is responsible for linking k4a to that example.

![image](https://user-images.githubusercontent.com/29062515/163344694-9dc05851-dc4b-4f5c-876c-5a3204725c51.png)

[2022-04-14 08:28] UnaNancyOwen commented on #1763
If set up correctly, it will generate a cache file like this one in first run time! And the next time, the viewer application will be launched quickly. 👍

[2022-04-14 08:43] Jayden9912 commented on #1764
@fkavache
I am using Ubuntu 16 and I only build from source the whole repo but I didn't install it into system directory. If I use cmake, it fails. Is there any way to link the library to g++? I am more proficient in Python so I may need guidance in compiling this code. Thanks in advance for any guidance provided.

[2022-04-14 09:28] fkavache commented on #1764
@Jayden9912

Could you please screen what the cmake tells you when you try this?

[code]

[2022-04-14 09:44] fkavache commented on #1751
Hi @ekdrnqkdrn

I'm wearing a facemask too, maybe it depends on mask material, in your case BT is unable to detect depth on the mask area.

![image](https://user-images.githubusercontent.com/29062515/163359111-9e5a6d2e-f562-497c-bb67-6283cc5ae507.png)

[2022-04-14 16:39] fkavache commented on #1705
Hi @Chang-Che-Kuei

LookRotation takes two arguments: forward and upward vectors.
In our case forward is xpositive (right) and upward is -zpositive (backward)

Quaternion leftHipBasis = Quaternion.LookRotation(xpositive, -zpositive);

_‘Z axis will be aligned with **forward**, X axis aligned with cross product between **forward** and **upwards**, and Y axis aligned with cross product between Z and

[2022-04-16 04:25] naonaoue opened #1767 "Failure execute sample_unity_bodytracking Build with BT1.1.1"
I'm trying BT1.1.1 with Unity.
'sample_unity_bodytracking' works perfectly with UnityEditor2020.3 (LTS) if you follow these documents.

'Change log v1.1.1','Microsoft Visual C ++ Redistributable latest supported downloads', and'Azure-Kinect-Samples / body-tracking-samples / sample_unity_bodytracking / ReadMe.'

However, in the build of'PC, Mac & Linux Standalone-> windows-> x86_64', even if you in

[2022-04-16 20:53] natelowry commented on #1417
In case these instructions don't work for folks, I had to uninstall the hubs one level up and restart to resolve this issue.  Both the `Generic SuperSpeed USB Hub` (containing the cameras) AND `Generic USB Hub` (containing the Microphone)

![hubs to remove in device manager](https://user-images.githubusercontent.com/109331/163691018-5ffaf5fc-7899-4687-9823-087475394c83.png)

[2022-04-17 05:36] fkavache commented on #1767
Hi @naonaoue

What is the question exactly? Why does a standalone executable need library files to be copied by yourself in order to work?

[2022-04-17 10:58] naonaoue commented on #1767
Hi@[fkavache](https://github.com/fkavache)
Excuse me. It seems that I didn't have enough vocabulary.
I know I need a copy as it is written in the ReadMe.
If you follow the ReaMe instructions in'sample_unity_bodytracking'to copy the dll, but the exe built by Unity will not work.
The error 'K4A_WAIT_RESULT_FAILED' on starting BodyTracking thread.
Is there a mistake in the ReadMe description?

[2022-04-17 11:14] fkavache commented on #1767
@naonaoue

Could you please share how to reproduce exactly?

[2022-04-17 11:40] naonaoue commented on #1767
OK. @fkavache
1)My Local is reactor2019.
![スクリーンショット 2022-04-17 202859](https://user-images.githubusercontent.com/27718076/163712436-9c78b548-ffed-4796-9896-03ed009d9819.jpg)
2)This Sample is Works fine On 'Unity Editor 2020.3.33f1'.
![スクリーンショット 2022-04-17 202805](https://user-images.githubusercontent.com/27718076/163712585-b94d0379-b5a3-4e44-b0f2-500d08ead959.jpg)
3)Build
![スクリーンショット 2022-04-17 2

[2022-04-17 13:58] fkavache commented on #1767
@naonaoue

It works in my case, from where are you copying the library files?

![image](https://user-images.githubusercontent.com/29062515/163717335-c2e9c709-8213-4e65-8423-5db9924b3c3e.png)

[2022-04-17 14:55] naonaoue commented on #1767
@fkavache
Oh, really?
Very thanks for your try!

I copying from ,
1st)C:\Program Files\Azure Kinect Body Tracking SDK\tools
2nd)body-tracking-samples\csharp_3d_viewer\bin\x64\Debug\net48\win-x64
In my case, neither was good.

I want you to tell me the correct place.

[2022-04-17 15:02] fkavache commented on #1767
@naonaoue

First run **MoveLibraryFiles.bat** it will do the job for you and copy the library files from
**...\Azure-Kinect-Samples\body-tracking-samples\sample_unity_bodytracking**

[2022-04-17 15:09] naonaoue commented on #1767
@fkavache
Yes, I did that too and it works in Unity Editor.
However, I think that there are not enough files.

'MoveLibraryFiles.bat'
if not exist Assets\Plugins mkdir Assets\Plugins
set BODY_TRACKING_SDK_PATH=C:\Program Files\Azure Kinect Body Tracking SDK\
set BODY_TRACKING_TOOLS_PATH="%BODY_TRACKING_SDK_PATH%tools\"
set BODY_TRACKING_LIB_PATH="%BODY_TRACKING_SDK_PATH%sdk\netstandard2.0\release\

[2022-04-17 15:19] fkavache commented on #1767
@naonaoue

What's happening when you open the UnityCSharp.exe?

[2022-04-17 15:37] fkavache commented on #1767
@naonaoue

Try File -> Build Settings -> Build.

In my case there is no scene selected.

![image](https://user-images.githubusercontent.com/29062515/163721672-6b7da567-c8a8-4c6c-a343-ad8383b3e5f7.png)

[2022-04-17 15:46] naonaoue commented on #1767
@fkavache
I tried "No scene selected" but unfortunately it was the same.

Using your screenshot as a reference, I put in 9 files from the root of 'sample_unity_bodytracking' and 'Assets/Plugins'.
But it didn't work.
It feels like the BT is out

FYI) GPU:RTX3070 / 472.84-desktop-win10-win11-64bit-international-nsd-whql.exe

https://user-images.githubusercontent.com/27718076/163721774-dd451f6f-6171-

[2022-04-18 13:13] fkavache commented on #1547
Hi @YJ-L-2017,

Could you please provide a simple example project to reproduce this issue?

[2022-04-18 21:35] #1739 closed, assigned to dasparli

[2022-04-18 22:18] dasparli commented on #1766
Was upgrading to Windows 11 from Windows 10 the only thing that changed on that system before the viewer stopped working?
If so, checking the graphics card driver would be a good next step to investigate. We are able to run the viewer in Windows 11 on several systems with no problem.

[2022-04-19 05:06] hahne commented on #1750
I have it always powered by the round DC power cable.

[2022-04-19 05:49] fkavache commented on #1704
@cpkcpkcpk

Please take a look at abovementioned thread, we need reports before official release.

[2022-04-19 12:37] jackjansen commented on #1263
Is there _any_ chance there will be an official apt package for 20.04, ever? @wes-b or anyone else knows?

Ubuntu 22.04 is imminent...

And the workaround with manually downloading the dpkg's works fine, also in my CI/CD setups, but I would like to distribute _my_ software for `apt` too, and the dependencies become pretty much unusable if there isn't an official way to install the k4a packages...

[2022-04-19 16:54] gradientLord commented on #1761
the new body tracking viewer in here works for me, I wasn't able to get the Tensor RT cache working yet but everything else seems good!

[2022-04-20 18:30] Greendogo commented on #1408
Can someone provide an example of a depth image and a corresponding confidence map with low confidence pixels?

My team has been attempting to do something external from the camera to create a confidence voxel map (a 3D instead of a 2D confidence map).  Is there any chance this confidence map can be a 3D voxel map?

[2022-04-21 04:02] alexhyy commented on #1712
It was fixed by [this firmware](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware) already.

[2022-04-21 04:03] alexhyy commented on #1727
The latest firmware is put [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware).

[2022-04-21 09:08] michael-createc commented on #1712
Can confirm that firmware update fixed the issue thanks!

[2022-04-21 09:08] #1712 closed, assigned to dasparli

[2022-04-21 10:25] alexhyy commented on #1729
you can use K4A_COLOR_CONTROL_GAIN

[2022-04-22 07:56] joycon0000 opened #1768 "BodyImage cannot be separated when people are attached to each other."
BodyImage cannot be separated when people are attached to each other.
The bones are separated.
Is it correct that the body image is not separated properly?
Will the above matter be revised?
![캡처1](https://user-images.githubusercontent.com/104190698/164643600-ee8fa65e-a4a0-4a78-a37c-06ef88a6f478.PNG)
![캡처2](https://user-images.githubusercontent.com/104190698/164643660-6ac4a0bc-e152-46d2-92ca-0ab173

[2022-04-22 08:06] Aquariusquintini commented on #1763
I can confirm that the attached zip-file works.

Environment details:
Azure Kinect SDK 1.4.1
Azure Kinect Body Tracking SDK 1.1.1
Intel Core i9-10980XE
Nvidia CUDA 11.6
Nvidia RTX 3080 GPU
Nvidia driver 512.15
Windows 10 21H1 (Build 19043.1526)

[2022-04-24 08:23] Wilberttt commented on #1760
Could you please show the Python code to visualize the quaternion?

[2022-04-25 11:21] Jaramyy opened #1769 "Error when using single Kinect Azure DK on jetson nano"
I using kinect on jetson nano (Jetpack 4.6 Ubuntu 18.04, SDK 1.4.x). I install following instruction this link ``` https://github.com/valdivj/Azure-for-Kinect-Jetson-nano ``` and edit /extlinux.conf to ``usbcore.usbfs_memory_mb=128``.

[code]

[2022-04-25 12:46] Jaramyy commented on #1769
@qm13

[2022-04-25 13:10] owen2t commented on #1760
Sure. First, I apply the joint's quaternion to [1,0,0], [0,1,0], and [0,0,1] with quaternion multiplication. I normalize the resulting vectors and store them in a 3x3 np array in the format [[x vector],[y_vector],[z_vector]]. That array is called xyz. The function that I have to plot takes the origin (for example, the x, y, and z coordinates of the joint) and xyz np array and plots it like this:
`

[2022-04-25 19:15] owen2t commented on #1760
The application of the quaternion is where something is going wrong and that's what I'm looking for clarity on- the plotting part works fine.

[2022-04-26 10:30] 12iqq commented on #1704
Have the Updated Nvida driver: 512.15 (both studio and game)  but i guess i have to downgrade to make any of this work.... kinda sad it hasn't been fixed. Same issue as what's been described multiple times on this thread

[2022-04-26 10:32] fkavache commented on #1704
@12iqq

Could you please take a look at this thread?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1763#issuecomment-1091234984

[2022-04-27 05:03] 12iqq commented on #1704
That did fix the issue and it works now. Thanks!

[2022-04-27 08:25] #1769 closed, assigned to nobody

[2022-04-27 08:27] Jaramyy commented on #1769
fixed by change usb cable.

[2022-04-27 16:12] Wilberttt commented on #1760
You can try axisymmetric inversion of the coordinates provided by the SDK. Compare the flipped image with the one you drew in Python, and you'll get the same result.

[2022-04-27 21:02] owen2t commented on #1760
I'm not quite sure what you mean by that- Do you mean inverting the x, y, and z values of the joint location coordinates?

[2022-04-28 01:53] Wilberttt commented on #1760
The image you see in body tracking viewer is mirrored I guess. And the coordinate drwan in Python is correct.

[2022-04-29 14:58] owen2t commented on #1760
Right. My concern is that the axes generated from the quaternion in the first python image don't match the axes in the body tracking viewer

[2022-04-29 21:39] marsarCV commented on #1735
Hi @fkavache I tried the given executable. The sdk I am using (1.1.1) had k4abt_simple_3d_viewer.exe which was working fine already. I replaced it with the linked exe and that worked the same. My program which depends on this sdk however still behaves the same.

[2022-04-30 14:54] floe commented on #1738
Unfortunately not correct, AFAICT the latest supported version is only 18.04. The following config gives me `libk4a*` packages:
[code]
... while this one doesn't (and obviously the one with 22.04/jammy does neither).
[code]
Would be nice to get a bit more recent distro support.

[2022-04-30 14:57] floe commented on #1263
FWIW, I can still install `libk4a*` and friends on 22.04 by just continuing to use the 18.04 repo entry, however, the `k4a-tools` package depends on `libsoundio1` which is no longer available on 22.04. This only works because I upgraded from 20.04 and still had the `libsoundio1` package lying around.

[2022-05-01 03:36] ekdrnqkdrn commented on #1751
Hi @fkavache
I noticed that the recognition rate dropped significantly when I wore a black mask.
Is there any way to increase the recognition rate?

[2022-05-01 03:36] #1751 closed, assigned to fkavache

[2022-05-02 16:18] kkh3049 commented on #1725
This is still a concern that we are experiencing.  If it's not possible to get the RAW image directly (Note we only take snapshots with the Kinect, and do not need this data streamed continuously), is there a particular algorithm that's been applied (like say, a sharpening filter) that we could reverse?

[2022-05-03 02:05] Ideal-H opened #1770 "Body tracking SDK - calibration of joint orientation"
I'm trying to use multiple kinect azure and body tracking sdk.
Now, I got the 3x3 rotation matrix (of calibration matrix), and I could calibrate all coordinate systems of 4 Azure sensors to single master  Azure's coordinate system. (the 4 rotation matrix were calculated)

But, I also want to calibrate the orientations of joints from each kinect sensors to single coordinate system.

What I am doing

[2022-05-03 20:06] SRai22 opened #1771 "k4a_device_start_cameras does not start, stuck after loading depth engine"
**Describe the bug**
While initializing and starting up the camera, the system acquires all the camera details like intrinsic calibration and I'm able to readback the serial numbers. But when calling k4a_device_start_cameras, it gets stuck after loading the depth engine and never returns to the calling function.

Code Snippet:
if(K4A_RESULT_SUCCEEDED != k4a_device_start_cameras(m_device[i], &m_con

[2022-05-05 02:52] sanbuddhacharyas opened #1772 "Cannot find v1.2.0 version .msi"
I need v1.2.0 to run with open3d but when I download .msi file for windows it responds with a "404 error The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable."

[2022-05-05 20:17] kkh3049 commented on #1725
Is there any update on this?

[2022-05-06 05:18] amantley commented on #1705
Hi I hope this doesn't make things more confusing but I annotated the code that converts from right hand to left handed systems in order to use the Kinect rotation output with Unity.   In order to convert to Maya you don't need to convert to a left handed system so you could leave that part out.  You would need to remember that the rotations we get below need to be changed in Maya to account for p

[2022-05-06 15:56] kkh3049 commented on #1725
@dasparli ?

[2022-05-06 21:24] pschaub commented on #1763
works, tested on RTX 3090, nvidia driver 512.15

[2022-05-07 03:06] dasparli commented on #1725
I'm looking into this now.
In the meantime, the Azure Kinect Viewer has a sharpness control for the color camera. Have you tried changing this value to see if different settings have an effect on these artifacts?

[2022-05-07 12:58] TitansWhale opened #1773 "capture.get_color_image() return null in 1536P"
**Describe the bug**

Hi，
    capture.get_color_image() return null ,when I set color resolution 1536P and use body tracker.

**To Reproduce**

‘’‘
**Expected behavior**

I want to use opencv to show the rgb camera data.It return null in 1536P.
but it can run in 1080P.

**Logs**

[2022-05-07 20:52:11.183] [error] [t=23428] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\image\image.c (51): k4a_image_t

[2022-05-09 06:18] drifter-bot opened #1774 "Access IMU without enabling RGBD stream"
Hello,

i was wondering if its possible to access  the IMU data without enabling the RGBD stream.

In my case, the RGBD will be used when needed but I want to use the integrated IMU to measure if there was a displacement at the camera system.

Currently, I need to enable the RGBD stream to get the IMU raw data but this would cost resources and make a displacement evaluation when the camera is not

[2022-05-09 15:15] #1732 closed, assigned to nobody

[2022-05-09 15:26] Alessandro-Minerba opened #1775 "Multiple Azure Kinect Body Tracking"
Hi everyone,
I am using multiple Azure Kinect devices for accurate Body tracking, but I understood Azure Kinect SDK cannot handle multiple camera inputs at this moment. So I've found a way to obtain the merged Point Cloud but I'm tryign to find a way to use it in a body tracking software. I tried to go back to an AzureKinect.Capture object but it can't be used in Microsoft SDK.
Is there a way to o

[2022-05-09 16:03] Alessandro-Minerba commented on #1460
Hi everyone, I'm working on the same issue. I'm using 3 Azure Kinect and I've found the transformation matrices between the two slaves and master device. Then I tried to:
1) create a merged Point Cloud to give to Body Tracking SDK, trying to create a new Capture object, but it is not possible;
2) transfrom the PointCloud Image of a camera point-to-point using the trasnformation matrices and then g

[2022-05-10 13:28] EvercoastCory commented on #1727
@alexhyy Thanks! Any idea when this will move over to the [usage page](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md)?

[2022-05-12 03:40] pythonsql21 opened #1776 "Multiple Azure Kinect synchronization using Python"
**Describe the bug**
I am trying to synchronize two azure kinects using Python.
I followed carefully the suggestion by Jonathan Santos in the Stack overflow.
https://stackoverflow.com/questions/70357262/multi-azure-kinect-cameras-synchronization-using-python/72209690#72209690
The k4a python package had already been installed and the devices were already physically connected with a sync wire (audio

[2022-05-12 08:39] caobingquan6 commented on #1340
You said that there is consideration to extend the SDK's Ubuntu support to the Raspberry Pi 4. So how is it going now? Our project needs to use Raspberry Pi 4+ROS+Azure Kinect. But we don't need body tracking, we just need to read color images and depth images normally. So is it currently possible or can you provide some help.

[2022-05-12 10:11] naonaoue commented on #1767
@scotthsu98052 @fkavache
Hi,
I may have found another bug.
Does "k4abt.dll" recognize the path of double-byte characters?
BT did not start when I used Japanese double-byte characters in the path of the executable application, built by Unity Editor.
"K4a.dll" seems to be compatible, and Kinect ID etc. were picked up.

[2022-05-12 17:06] qm13 commented on #1760
The body tracker viewer mirrors the image.

[2022-05-13 12:56] Mssaouri opened #1777 "Timeout of k4a_device_get_capture function"
Hello,

We are working with an Azure kinect DK on a Visual C++ project, in our project, we use the library k4a of the kinect.
When we try to take a capture from RGB camera using the function "k4a_device_get_capture" of the library k4a with a timeout less than 850 milliseconds, the function returns K4A_WAIT_RESULT_TIMEOUT. This timeout (850 ms) is much higher than what we were expecting for our pro

[2022-05-13 23:55] #1742 closed, assigned to fkavache

[2022-05-14 00:04] #943 closed

[2022-05-14 00:08] #606 closed

[2022-05-14 00:11] qm13 commented on #1772
The installers where deprecated due to a security issue with the signing process. Documentation has been updated.

[2022-05-14 14:16] NotFound157 opened #1778 "How to realize real-time 3D point cloud reconstruction using three azure kinects"
How to realize real-time 3D point cloud reconstruction using three azure Kinect kinects by 360 ° real-time 3D point cloud reconstruction using Kinect fusion technolog
Current thinking
1. First, obtain the target color image and depth image through multiple kinects at the same time, and keep the device synchronized with 3.5mm audio cable.
2. Get the corresponding point cloud data after alignment an

[2022-05-15 21:16] yz-cnsdqz opened #1779 "Azure Kinect does not connect after updating to windows 11 from windows 10."
**Describe the bug**
The Azure kinect worked well on windows 10. After updating to win11, the device cannot be connected.
- The **while** LED flicks on the back of the Azure kinect.
- Updating the firmware does not work because the device is not connected.
- The device is already connected to USB3.0 without any hub.
- The AzureViewer (run as admin) cannot detect the device.

**Desktop (please comp

[2022-05-16 21:39] kkh3049 commented on #1725
@dasparli Thank you for the suggestion.  I have rerun the process with this suggestion and have some comparisons that I hope will help you in your process to correct this concern.
First, changing the sharpness did not result in the desired identification and localization of targets.  Reducing the sharpness, however, _did_ reduce the amount of this artifact occurring, though didn't prevent it entir

[2022-05-17 00:53] qm13 commented on #1767
@naonaoue that is a know issue. See #1540.

[2022-05-17 00:58] #1705 closed, assigned to nobody

[2022-05-17 01:01] #1547 closed, assigned to qm13

[2022-05-17 01:04] qm13 commented on #1342
Duplicate of #871.

[2022-05-17 01:04] #1342 closed, assigned to nobody

[2022-05-17 01:06] qm13 commented on #890
Fixed

[2022-05-17 01:06] #890 closed

[2022-05-17 06:19] flololan commented on #851
It's close to 3 years and as far as I know there hasn't been any change in this direction? What's going on?

[2022-05-18 08:52] CharliPosner opened #1780 "Arduino external sync acting as Master produces unexpected capture behaviour with two devices in Subordinate mode"
### **DESCRIBE THE BUG**
We are trying to use an Arduino Uno external sync as a Master device, controlling the captures of two Subordinate AK sensors with the latest firmware. We have programmed the Arduino to emit interlaced, periodic pulses, emulating Sync Out capture pulses, out of two separate pins, and have wired these pins to aux cables plugged into the AK devices via Sync In.
When testing t

[2022-05-18 10:22] flobbs commented on #1780
Hey that's so similar to my problem but I couldn't fix it either :( good luck!

[2022-05-18 10:28] CMullaney01 commented on #1780
Could you give some more details, please?

[2022-05-18 12:00] Plymouth-IML commented on #1682
Having the same issue works with TrackerProcessingMode.Cpu but not TrackerProcessingMode.Cuda or TrackerProcessingMode.Gpu

Windows 10 : RTX 2080

[2022-05-18 19:35] RobJellinghaus commented on #851
This issue was closed by the team over three years ago, so as far as the team is concerned, nothing is going on and no changes are planned.

Given that the Kinect for Windows device gave very unreliable hand tracking data, I don't in retrospect think the Azure Kinect could have done a much better job. I'm moving to non-hand-pose based approaches for my Azure Kinect app at this point.

[2022-05-18 19:50] flololan commented on #851
Yeah we've had to finally scratch using a Kinect at all, sadly. It's quite sad because from the hardware point it seems more than possible. In 3D view it reliably distracts the thumb from the hand without any issues even multiple meters away...

[2022-05-18 23:26] naonaoue commented on #1767
@qm13 Oh really! Will it be fixed in BT1.1.2?

[2022-05-19 13:43] owen2t commented on #1760
Okay, thank you for your response. I guess the big question that I have is whether I am taking the right approach to apply the quaternions outputted by the body tracking. I'm happy to attach some code if the explanation of my current method in the original question isn't clear!

[2022-05-19 22:49] shabelson commented on #789
Same issue here. During scanning  the camera creates trails between separate objects.

[2022-05-19 23:07] qm13 commented on #1607
@diablodale this is covered in the ONNX Runtime [repo ](https://github.com/microsoft/onnxruntime) README

[2022-05-20 00:47] ArlenCHEN opened #1781 "Concerns wrt IR image quality"
Hi team,

I was wondering if there is any way to adjust the IR image to have this imaging quality (see the attached pic) with a very close distance to the face.
![Screen Shot 2022-05-19 at 5 46 37 PM](https://user-images.githubusercontent.com/25460810/169426614-fb236a84-8a4f-492b-83e8-50216616974d.png)

(The pic is from this paper: Lombardi, Stephen, et al. "Deep appearance models for face renderi

[2022-05-24 04:09] adahbingee commented on #1188
for C++ wrapper API
I leave release callback to NULL to avoid twice release
[code]

[2022-05-24 05:40] ghost commented on #1713
@dasparli Hi! Has it been updated?

[2022-05-24 11:23] Plymouth-IML commented on #1682
Not sure if this thread is still being monitored but few more details below :

Only works with TrackerProcessingMode.Cpu but not TrackerProcessingMode.Cuda or TrackerProcessingMode.Gpu, however the stand alone app : Azure Kinect Body Tracking Viewer works with k4abt_simple_3d_viewer.exe CUDA

Have tried rolling back to old versions of SDKs, CUDA, Unity with no change of results checked all require

[2022-05-25 01:13] qm13 commented on #1767
There are currently no plans to fix it.

[2022-05-25 01:13] #1767 closed, assigned to fkavache

[2022-05-25 01:14] #1765 closed, assigned to nobody

[2022-05-25 01:14] qm13 commented on #1763
Fixed in v1.1.2

[2022-05-25 01:14] #1763 closed, assigned to fkavache

[2022-05-25 01:14] qm13 commented on #1761
Fixed in v1.1.2

[2022-05-25 01:14] #1761 closed, assigned to fkavache

[2022-05-25 01:15] #1759 closed

[2022-05-25 01:15] #1755 closed, assigned to qm13

[2022-05-25 01:16] qm13 commented on #1735
Fixed in v1.1.2

[2022-05-25 01:16] #1735 closed, assigned to fkavache

[2022-05-25 01:16] qm13 commented on #1726
Fixed in v1.1.2

[2022-05-25 01:16] #1726 closed, assigned to fkavache

[2022-05-25 01:17] qm13 commented on #1720
Fixed in v1.1.2

[2022-05-25 01:17] #1720 closed, assigned to fkavache

[2022-05-25 01:17] qm13 commented on #1704
Fixed in v1.1.2

[2022-05-25 01:17] #1704 closed, assigned to fkavache

[2022-05-25 01:18] qm13 commented on #1696
Fixed in v1.1.2

[2022-05-25 01:18] #1696 closed, assigned to fkavache

[2022-05-25 01:18] #1607 closed, assigned to qm13

[2022-05-25 01:18] qm13 commented on #1553
Added in v1.1.2

[2022-05-25 01:18] #1553 closed, assigned to qm13

[2022-05-25 01:19] qm13 commented on #1130
Fixed in latest documentation coinciding with v1.1.2 release

[2022-05-25 01:19] #1130 closed

[2022-05-25 01:20] qm13 commented on #1207
Added in v1.1.2

[2022-05-25 06:24] fractalfantasy commented on #1704
thanks!

[2022-05-25 12:58] diablodale commented on #1607
@qm13, that is both false and not the OP.

There are 98 boolean compile switches + additional switches that control MSVC and Cmake.
If I take only the 98 compile switches for onnxruntime, there are 2^98 possibilities or 316912650057057350374175801344 possible choices for switches.

My OP continues to be, what are the specific build parameters to compile ONNX so it is compatible with this SDK.

[2022-05-25 13:29] diablodale opened #1782 "Body Tracking v1.1.1 and 1.1.2 installer errantly deletes v1.1.0"
The MSI installer for Body Tracking v1.1.1 and v1.1.2 both errantly deletes v1.1.0 with no notice, prompt, warning, or choice.

This is an impossible scenario for production-quality software development that needs to support a range of SDK, libraries, versions.
Please reference all Linux projects, or Windows projects like oneAPI, Visual Studio, WinSDK, CUDA.
BT must allow install of its headers,bi

[2022-05-25 13:31] diablodale commented on #1576
@qm13, Fixed in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 13:31] diablodale commented on #1573
@qm13, Fixed in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 13:32] diablodale commented on #1546
@qm13, Fixed in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 13:32] diablodale commented on #1541
@qm13, Fixed in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 13:33] diablodale commented on #1510
@qm13, Done in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 13:33] diablodale commented on #1373
@qm13, Fixed in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 13:33] diablodale commented on #1365
@qm13, Fixed in what version? For customers to verify unseeable code changes, we need to know the exact version in which is was potentially fixed so that customers can verify, escalate non-fix, etc.

[2022-05-25 18:01] diablodale commented on #1541
In addition... REGRESSION caused by @qm13 by commit https://github.com/MicrosoftDocs/azure-docs/commit/c8ba1e38cc2c72c3a9ae5ba80f93ad54313ab985

Docs at https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-setup have lost the file requirements for Body Tracking SDK v1.1.0
Customers are use solutions with Body Tracking v1.1.0. Documentation must continue for v1.1.0.
Just because Microsoft publ

[2022-05-25 20:53] diablodale opened #1783 "BT v1.1.2 crashes on app exit in `onnxruntime_providers_cuda.dll` or `onnxruntime_providers_tensorrt.dll`"
Either BT v1.1.1 or v1.1.2 introduced a crash on app exit that occurs in `onnxruntime_providers_cuda.dll` and `onnxruntime_providers_tensorrt.dll`. This crash does not occur with BT v1.1.0.

If an app only uses DirectML. No crash on app exit.
If an app only uses CUDA. No crash on app exit.
If an app only uses TensorRT. No crash on app exit.
But...
When an app uses DirectML, shutdown+destroy k4a/tr

[2022-05-25 21:01] diablodale commented on #1783
Additional cases that DO NOT crash on exit

* only CUDA
* only Tensor
* CUDA then DirectML
* TensorRT then DirectML

[2022-05-25 22:14] naonaoue commented on #1540
@qm13
It is nonsense that you cannot use wide char as the product name in the name of the application. I'm having the trouble installing my application using the installer.

[2022-05-26 13:12] CharliPosner opened #1784 "System timestamps for depth and color images show unexpected behaviour"
### DESCRIBE THE ISSUE ###

I have synchronised two Azure Kinects as described in my last issue ( #1780 ). The captures are interlaced such that the total frame rate is roughly 60fps, using an Arduino external sync. As the device timestamps are local to each sensor, I am using system timestamps to compare the device captures. I did this by editing k4arecorder to output system timestamps for depth,

[2022-05-26 22:40] dasparli commented on #1713
I suspect the flickering of the RGB frames on the subordinate camera is caused by dropped frames rather than a problem with frame synchronization. Do you have both cameras connected to the same USB hub? If so, please try connecting them to completely separate USB hubs. If the two cameras are on their own USB hub then the problem may be with the cables. To test this try swapping the cables between

[2022-05-27 10:27] ghost commented on #1713
@dasparli Thanks for replying.
But, Even after connecting to a different PC for each Azure Kinect and configuring it as a Star Chain, the flickering of RGB frames on the subordinate camera still occurs when set to 15 FPS at 1536 resolution.

[2022-05-27 15:01] asergaz commented on #1682
Same reported here: https://docs.microsoft.com/en-us/answers/questions/862064/index.html

[2022-05-27 18:23] fkavache commented on #1782
@diablodale

This issue appears in older versions too.

One way to maintain another version is to **rename after installation**.

Also, we are not planning to fix this issue in the near future.

[2022-05-31 12:32] fkavache commented on #1734
@JamesMcCullochDickens

Is this still an issue with the latest BTSDK?

Please make sure that you are meeting all the requirements.
https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-setup

[2022-05-31 12:34] fkavache commented on #1733
Hi @AswinkarthikeyenAK

Please check the latest v1.1.2 BTSDK

And make sure that you are meeting all the requirements.
https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-setup

[2022-06-01 05:27] KikeVilla commented on #1147
Somebody found some fix for this issue?. I got the same problem.

[2022-06-01 05:28] KikeVilla commented on #1767
Somebody found some fix for this issue?. I got the same problem.

[2022-06-01 12:18] sarath-kumar1 opened #1785 "error code: -1073741515 while building sample c++ app using Qt to get azure kinect dk camera details"
**Describe the bug**
i am linking k4a.lib , k4arecord.lib in my qt project.
when i am trying sample azure kinect dk application using qt i am getting the error code (-1073741515).
the same code if i run inside a visual studio project, it is working fine.
My objective is to capture Depth frames from Kinect camera  in a qt c++ application and send as data packets via TCP socket to another qt applica

[2022-06-01 21:35] sbrahma0 commented on #366
I am able to hook up 2 kinects and trigger to start recording, I want to trigger to stop recording as well. Right now I have to either have a timer or manually press ctrl+z to stop recording. Are there ways to externally trigger to stop recording, if yes plese direct me to those examples. Thanks

[2022-06-01 23:34] vpicone commented on #851
Truly bummed the azure doesn't have any way of detecting hand state. It's unfortunate the Azure is missing this feature without any recommendation for migration/fallback implementation.

[2022-06-02 19:56] KikeVilla opened #1786 "Azure Kinect Body Tracking - Somebody found some fix for this issue?. I have the same problem."
Somebody found some fix for this issue?. I got the same problem.

_Originally posted by @KikeVilla in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1147#issuecomment-1143131937_

[2022-06-02 19:58] KikeVilla commented on #1786
AzureKinectBodyTrackingCreateException: result = K4A_RESULT_FAILED
Microsoft.Azure.Kinect.BodyTracking.Tracker.Create (Microsoft.Azure.Kinect.Sensor.Calibration calibration, Microsoft.Azure.Kinect.BodyTracking.TrackerConfiguration configuration) (at <59f09534e4254e89b28779441231cce7>:0)

[2022-06-03 04:09] fkavache commented on #1786
Hi @KikeVilla

Before official merge you can try if changes made in this [branch](https://github.com/microsoft/Azure-Kinect-Samples/tree/v-vkatsadze/unity-sample/body-tracking-samples/sample_unity_bodytracking) works for you.
Please follow the README.md there are some changes made there too.

[2022-06-03 20:09] fkavache commented on #1786
@KikeVilla

Merged https://github.com/microsoft/Azure-Kinect-Samples/pull/70

[2022-06-03 20:12] fkavache commented on #1682
Hi @crawfis, @Plymouth-IML

Check the latest changes in the unity samples project.
Please follow the updated instructions.

[2022-06-04 03:46] xiaotaw opened #1787 "Tthe power mode of IMU inside Azure Kinect"
Hello,

[The embedded Inertial Measurement Unit (IMU) is an LSM6DSMUS](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/kinect-dk/hardware-specification.md#motion-sensor-imu). And [the datasheet of LSM6DSM]( https://www.st.com/resource/en/datasheet/lsm6dsm.pdf) says that it supports two pow consumption modes: the normal/low-power mode and high-performance mode. And several important

[2022-06-05 05:50] linstudionet opened #1788 "Auto select the most appropriate/best gpu for TrackerConfiguration class in BodyTracking."
**Is your feature request related to a problem? Please describe.**
Sometimes we are running the code on laptop (2 graphic cards, Intel UHD and Nvidia) , when setting up Tracker we have no idea the gpu index of our graphic. Without specifying gpu index (gpu index = 0), it always points to UHD. However, we also don't want to set the default gpu of our sample code to Nvidia one because we want Nvidia

[2022-06-06 02:22] pythonsql21 opened #1789 "Extrinsic parameters"
Can you give me the average range of Azure Kinect extrinsic parameters i.e. rotation and translation?
I have extracted the intrinsic parameters but am not able to extract the extrinsic ones.
Thanks.

[2022-06-06 10:35] Plymouth-IML commented on #1682
Many thanks fkavache this is now working! One note for those installing the MoveLibraryFile.bat file did not copy the below files so have to do them manually :
directml.dll
onnxruntime.dll
onnxruntime_providers_cuda.dll
onnxruntime_providers_shared.dll
onnxruntime_providers_tensorrt.dll

[2022-06-06 16:53] diablodale commented on #1540
v1.1.0 continues to fail
v1.1.2 additionally fails when given path as 8-bit character string in local codepage.

[2022-06-06 18:55] dasparli commented on #1789
Here's a couple of articles that will show you how to extract the extrinsic parameters from your camera:

https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions
https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga4e43940d8d8db48da266c7a7842c8d78.html#ga4e43940d8d8db48da266c7a7842c8d78

[2022-06-06 19:21] #1782 closed, assigned to fkavache

[2022-06-06 19:41] diablodale commented on #1782
Is this fixed (completed)? If so, in what version is it fixed?

Or is this closed "wont-fix"? This is a distinct state and therefore has no completion or version.

[2022-06-08 02:42] pythonsql21 commented on #1789
Thank you @dasparli. Could you please give me the average values of the Azure Kinect extrinsic parameters i.e. rotation and translation? Someone has asked for the intrinsic parameters and got the answer here: https://docs.microsoft.com/en-us/answers/questions/201906/pixel-size-of-rgb-and-tof-camera.html
I want the same answer as the above for the extrinsic parameters.

[2022-06-09 08:24] stephanemagnenat commented on #1531
@qm13 any update on how to buy in Europe? The link you provided still has a "buy" button that links to the US web site, where it is not possible to buy in EU/Switzerland.

[2022-06-09 15:56] fkavache commented on #1728
Hi @kvibert

Check the latest changes in the unity samples project.
Please follow the updated instructions.

[2022-06-09 16:19] #1682 closed, assigned to fkavache

[2022-06-09 16:32] #1786 closed, assigned to fkavache

[2022-06-09 20:03] KikeVilla commented on #1786
Thanks for your help, it works now.

[2022-06-09 21:32] dasparli commented on #1787
The IMU defaults to high-performance mode and the firmware in the AKDK does not change this mode during operation so it must be in high-performance mode.

[2022-06-09 21:52] dasparli commented on #1781
The integration time of the sensor is not adjustable, as this has accuracy implications. Close objects will unavoidably saturate the sensor as a result. Even if it were possible to adjust the integration time the focus of the lens needs to be fixed in order to maintain consistent geometric intrinsics/extrinsics for 3D reconstruction purposes. This means that any objects imaged at extremely close r

[2022-06-09 22:07] corriedotdev commented on #1728
.. for convenience https://github.com/microsoft/Azure-Kinect-Samples/commits/master

[2022-06-10 11:52] xiaotaw commented on #1787
Got it, thank you!

[2022-06-10 11:52] #1787 closed, assigned to dasparli

[2022-06-10 19:50] rajkundu commented on #1263
I tried to install the SDK on a 22.04 installation but couldn't get it to work for this reason. Any idea how/where exactly `libsoundio1` is installed on your system? I tried making symlinks to my manually-installed `.so` file for the library, but `k4aviewer` still wouldn't work for me - couldn't find `libsoundio.so.1` despite all of my symlinking.

Any chance you could possibly run `ldd /usr/bin/k

[2022-06-10 20:04] rajkundu commented on #1263
In general, any updates on this? How difficult would it be to switch from `libsoundio1` to `libsoundio2`? Seems that is the only thing holding back a binary for 22.04. That being said, 20.04 does and always has worked, so a binary installable via `apt` would be nice.

[2022-06-11 07:35] floe commented on #1263
[code]

[2022-06-11 07:39] floe commented on #1263
How about giving https://debian.pkgs.org/11/debian-main-amd64/libsoundio1_1.1.0-1_amd64.deb.html a try? Maybe that might help.

[2022-06-11 20:04] rajkundu commented on #810
@qm13 Do you have any rough idea, at all, of when the next release might be? Any information you could provide would be greatly appreciated!

[2022-06-13 07:19] #1785 closed, assigned to nobody

[2022-06-13 07:20] sarath-kumar1 commented on #1785
i am able to resolve this issue.
this ticket can be closed.

[2022-06-13 17:35] #1728 closed, assigned to fkavache

[2022-06-14 05:16] jiapei100 opened #1790 "OpenSSL3.0 and Ubuntu 22.04 Support..."
Looking forward to the support of
OpenSSL3 and Ubuntu 22.04.

Thanks...

[2022-06-15 00:26] qm13 commented on #1637
In the attached picture, angle (1) will always be 90°, despite you moving your foot to (2)nd or (3)rd direction. Which means that there is "imaginary" joint, where the 90° angle is created.
![Heel joints](https://user-images.githubusercontent.com/47307385/173711120-9a34ae2c-7eda-4b99-9f36-b8bee7f112be.png)

[2022-06-15 22:16] dasparli commented on #1713
Perhaps there is a problem with your camera. Do you have other cameras you can try? Have you tried swapping the master/subordinate roles between the two physical units?

[2022-06-16 02:29] ghost commented on #1713
@dasparli I tried changing the Master/Subordinate connection by 3 units with about 10 Azure Kinects, but still the flickering phenomenon is found when starting at 15 fps at resolution 1536p.

[2022-06-16 15:14] kkh3049 commented on #1725
@dasparli Any insights or movement on this?
Thanks in advance.

[2022-06-21 14:22] rajkundu commented on #810
Unlike a few others in this thread, in my case, I didn't need to use the Azure devices live with a headless host. Rather, my group was trying to remotely analyze footage that was already recorded into `.mkv` files. We got so many errors because of OpenGL requiring proper display variables, etc., including this 204 error. In the end, we did get the SDK working with X forwarding over SSH. However, a

[2022-06-21 14:33] christian-rauch commented on #810
You shouldn't need the driver to read the `mkv` files. It's a standard format that many video players and libraries can read. You could even stream them with VLC from a headless system over the network.

[2022-06-21 14:40] rajkundu commented on #810
Without the SDK's Depth Engine, while I can easily extract the raw 2D images from the MKV files [(and have done so already)](https://github.com/rajkundu/Azure-Kinect-MKV-Reader), they are of little use to me. My understanding is that the proprietary Depth Engine is required to convert/reconstruct this data into 3D. Is this not correct?

[2022-06-21 14:51] christian-rauch commented on #810
Not exactly. The `mkv` file stores multiple streams:
[code]

You already get the depth stream. To get the point cloud, you only have to project the depth using the camera intrinsics. You can do this headless with OpenCV or just implement that yourself.

Edit: To clarify, the Depth Engine is used to compute the depth from the IR. It is not used to compute the 3D points from the depth.

You could si

[2022-06-21 15:19] rajkundu commented on #810
Amazing! That makes a lot of sense. Thank you so much!

[2022-06-21 21:40] dasparli commented on #1725
The ISP block that processes frames from the RGB camera can be configured and controlled by calling [ k4a_device_get_color_control() ](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/develop/group___functions_ga5cb97bc0db4ab28ad98c44e323da1cce.html#ga5cb97bc0db4ab28ad98c44e323da1cce)

You can see this function being used to configure default parameters [here](https://nam06.safelinks.protection

[2022-06-21 21:46] rajkundu commented on #810
@christian-rauch So, I'm just wondering... with pre-recorded footage, is there a reason the SDK requires OpenGL/X/Depth Engine for retrieving 3D data, but not for accessing 2D data? Is it just a byproduct of the way that it is coded? I.e., in theory, could it also have been made in such a way that it does all of these 3D operations without requiring such dependencies?

[2022-06-22 03:59] Cecropis opened #1791 "Is it possiable to stream the azure kinect camera and run body tracking SDK on another computer?"
**Is your feature request related to a problem? Please describe.**

I'm trying to steam Azure Kinect over ethernet, but It seems the body tracking SDK would be only working on the PC that the camera is directly plugged into?
**Describe the solution you'd like**

Is there any way to make the body tracking SDK runs on another computer? If we can stream the camera via PoE and do all the calculations

[2022-06-22 09:44] christian-rauch commented on #810
There are different uses of OpenGL in the SDK.

#### Depth Engine + OpenGL for computation:
The [Depth Engine](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/depthengine.md) converts the raw sensor data from the camera to depth. I guess that it uses OpenGL shaders for this and the OpenGL context is created via GLX, which requires an X11 connection. With EGL in place of GLX,

[2022-06-22 12:58] ratuspro opened #1792 "Only "Azure Kinect 4K Camera" showing in "Device Manager > Camera""
Hello,

I'm trying to use the feed from all Azure Kinect cameras in other apps (e.g. iMotions, OBS) but only the 4K Camera shows up in these apps.
Unfortunately, there is only one camera available on the device manager, under "Camera > Azure Kinect 4K Camera" while the other cameras appear under "Universal Serial Bus devices".
I would expect to see them all under "Camera". Can you please provide f

[2022-06-23 11:33] AshokPeddakotla-MSFT commented on #1792
Adding related Q&A issue : https://docs.microsoft.com/en-us/answers/questions/899174/index.html

[2022-06-23 15:56] nvibd commented on #1790
+1

[2022-06-23 17:13] #1792 closed, assigned to nobody

[2022-06-24 05:52] MZener commented on #1778
Did you do it,  Could you share the results？

[2022-06-24 07:53] vaibhavsatpathy commented on #1779
Was anyone able to resolve this issue. Not able to run it on Windows 11. It keeps saying that Invalid configuration Descriptor in the Device Manager.

[2022-06-24 07:55] deeprine opened #1793 "'test.mkv' file read Error"
hello.
I plan to purchase azure kinect dk in the future.
Therefore, I wanted to process the mkv file beforehand.

I have https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_recordings
I got the 'test.mkv' file from that link.

Also https://github.com/isl-org/Open3D/blob/master/examples/python/reconstruction_system/sensors/azure_kinect_mkv_reader.py
An attempt

[2022-06-24 10:41] ChristopherRemde commented on #1778
You can take a look at this project here, it does all the things you described: https://github.com/MarekKowalski/LiveScan3D
(You need to switch to the AzureKinect Branch)

[2022-06-24 11:35] l1ndaB opened #1794 "offline processor produces different body tracking results when running multiple times on same video"
**Describe the bug**
We used the offline processor multiple times on a mkv-file and got different results. But we expect to reproduce the same skeleton every time we run the body tracking.

**To Reproduce**
Take the same mkv-file and run the offline processor on it for multiple times. If you compare the different outputs, some are the same, but some have different results.

**Expected behavior**
W

[2022-06-27 20:55] qm13 commented on #1794
This is expected as the neural network is seeded with random weightings on initialization.

[2022-06-27 20:59] qm13 commented on #1791
An application built on the Body Tracking SDK can run on a separate PC to the PC running the Azure Kinect camera. You would need to develop code to stream the IR and depth data from the Azure Kinect PC to the BT PC. There are a couple of GitHub projects on compressing Kinect data streams as you will likely need to compress them to fit in the LAN bandwidth. See https://github.com/catid/Zdepth and h

[2022-06-28 03:29] adahbingee commented on #1702
The C++ wrapper interface for read/write
* [k4a::device::get_raw_calibration()](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/classk4a_1_1device_a9d2c806f63893cb9486bd42bb634747f.html)
* [k4a::calibration::get_from_raw()](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/structk4a_1_1calibration_a096b3cef4c207151969c7034f691dfad.html#a096b3cef4c207151969c7034f691dfad)

[2022-06-28 07:49] deeprine commented on #1572
hi. [pingopalino1](https://github.com/pingopalino1)
Can I get an "offline_processor" written in python from you?
thank you

[2022-06-28 07:52] l1ndaB commented on #1794
@qm13 Thank you very much for your quick answer. We have some follow up questions:
1. Is it possible to change this random weightig to a fixed weight in the tracker configurations?
2. Does this behavior occur in every version of the body tracking sdk or only in specific versions?
3. Do you have some parameters about the differences that occur because of these random weights? (Like the maximum diff

[2022-06-29 10:32] taoyouwang opened #1795 "Number of supported users"
Hi,

I'm using the Azure Kinect DK for development,In the process of reviewing documents,I can't find the number of users supported by the device.I have two questions,The first is the maximum number of users a device can support,The second is the Daisy chain configuration and star line configuration to support the maximum area and maximum support several body capture, each reduce or increase an Az

[2022-06-30 01:15] myalos opened #1796 "How to align depth camera to custom RGB camera accurately"
I fixed the kinect azure and my mobile phone to take a set of checkerboard pictures，and then performed stereo calibration on the IR picture and the mobile phone RGB picture using https://github.com/balcilar/Calibration-Under_Different-Resolution. Then the obtained relative pose was used to warp the depth picture to the mobile phone RGB, and the result was bad.
Has anyone done similar work before?

[2022-07-01 00:07] yzqin commented on #1190
Thanks for the solutions. I found that for different version of libk4a and libk4abt the EULA hash strings is exactly the same so we can directly use the hash strings by @jackjansen.

[2022-07-03 06:39] wei666666 commented on #1791
Hi, [Cecropis](https://github.com/Cecropis). Recently, I also want to utilize the RTSP-Streamer/Server to stream the Kinects RGB- and Depth-Video to network. Do you have any ideas or methods about how to achieve that.

[2022-07-06 09:56] tiffanyytt opened #1797 "k4a::transformation occurs error of source not available"
Hi,

I am using a new PC to debug a program, before the program works fine.

The build is successful. But when it runs to the code

               transformation = k4a::transformation(calibration);

It will have an exception, details is as follows.

Source not available
Source information is missing from the debug information for this module

Exception thrown at 0x00007FFF009DBB2A (mfcore.dll) in

[2022-07-07 05:51] tiffanyytt commented on #1797
![image](https://user-images.githubusercontent.com/16590301/177701070-1d2b8eb3-bf80-4102-a460-67325a350e88.png)

m_handle(k4a_transformation_create(&calibration))

This is the exactly error. When this code runs, it will occurs the problem "Source not available"

[2022-07-07 20:11] michalsuchanek commented on #1245
As outlined above, it would make an enormous difference if k4a_image_t exposed a GL texture handle. Any developments on this front after 2+ years? MS has a habit of releasing excellent hardware and then crippling its utility by dropping the ball on software. The Kinect V2 was nearly useless for serious work for the same reason. All these GPU-accelerated transformation functions shuffling data back

[2022-07-08 07:28] buresu commented on #1708
This problem is solved by https://github.com/Azure/azure-c-shared-utility/pull/537, but not released yet.

[2022-07-09 04:04] TitansWhale opened #1799 "How to use gravity direction to align with point cloud y axis？"
I try to use gravity direction to align with point cloud y axis. But I found that the coordinate system of the gyroscope seems to be a little off from the coordinate system of the depth camera.
To test this idea I placed the camera on the ground and looked at a vertical wall and used open3d to render the point cloud of the wall. I found that there is always some inclination angle between the align

[2022-07-09 04:13] TitansWhale commented on #1799
![IMG20220709120606](https://user-images.githubusercontent.com/26743177/178091158-85804103-2193-4124-af6d-76e1c22c355a.jpg)

[2022-07-09 04:15] TitansWhale commented on #1799
![image](https://user-images.githubusercontent.com/26743177/178091196-19601189-7f25-4c1e-b62b-7767b5b647ea.png)

[2022-07-09 08:51] TitansWhale commented on #1799
I did not convert the gravity direction to the coordinate system of the depth camera through the camera extrinsic parameters。
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/floor_detector_sample

[2022-07-09 08:51] #1799 closed, assigned to nobody

[2022-07-11 16:08] qm13 commented on #1795
Short answer is one. Long answer is USB does not support multiple users accessing a device. You would need to implement some form of a server to manage access.

[2022-07-12 02:54] YellowOrz commented on #1790
For Ubuntu 22.04, you can download [k4a-tools_1.4.1_amd64.deb](https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/k/k4a-tools/k4a-tools_1.4.1_amd64.deb), [libk4a1.4-dev_1.4.1_amd64.deb](https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/libk/libk4a1.4-dev/libk4a1.4-dev_1.4.1_amd64.deb) and [libk4a1.4_1.4.1_amd64.deb](https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/libk/l

[2022-07-12 03:20] JeffR1992 opened #1800 "Is it possible to convert 1024x1024 depth image into a 1024x1024x3 point cloud?"
I'm running a series of experiments with the Azure Kinect at a depth resolution of 1024x1024, and am trying to figure out if it's possible to convert a 1024x1024 depth image into an 1024x1024x3 point cloud in the form of a numpy array. That is, I'd like to convert each pixel in the 1024x1024 depth image from an depth/range into an XYZ position.

Once I get a 1024x1024x3 numpy array of XYZ points,

[2022-07-12 11:44] Aquariusquintini commented on #1794
@qm13 [qm13](https://github.com/qm13):
I have also noticed that the body tracking results vary every time I run it on the same video.

I have tested this a little further and noticed that it is only occurring when the CUDA is used as processing mode, with DirectML or CPU the body tracking results are the same accross multiple runs. Could it be a bug in the CUDA processing?

**Steps for reproductio

[2022-07-12 11:47] conatsera commented on #1800
Each pixel in the depth image is the distance in mm on the z axis. When
creating a point cloud image, only the X and Y axes are derived by
multiplying against the calibration table for each pixel. The Z value is
copied.

The example should help for understanding the depth data and creating a
depth point cloud.
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/examples/fastpointclou

[2022-07-12 13:44] mhdadk opened #1801 "Is the documentation related to external synchronization misleading?"
I am trying to view the RGB, depth, and IR outputs of two different kinects on the same Azure Kinect Viewer instance. I'm following the instructions here: [Verify that the devices are connected and communicating](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#verify-that-the-devices-are-connected-and-communicating). It seems that, on step 2, I should be able to view the serial

[2022-07-13 06:42] JeffR1992 commented on #1800
Interesting, that makes my life easier. However, just so I understand correctly, if our coordinate axes are defined as follows (with y going into the page):

[code]

are you saying that by default the depth image reports its values as follows:

[code]

That is, completely ignoring the x and y coordinate values and only using the z coordinate value for each pixel. Instead of reporting the depth usi

[2022-07-13 08:41] conatsera commented on #1800
https://docs.microsoft.com/en-us/azure/kinect-dk/depth-camera#operating-principles

The depth image doesn't contain distance from the sensor, it specifically provides z-coordinates.

[2022-07-14 06:03] rajkundu commented on #1801
If I understand your question correctly, and if I understand how the devices/SDK work correctly, then unfortunately, no – your intended behavior is not possible.

As far as I understand, just like frame data, the serial numbers are transmitted via USB from each camera to its host computer. The connection between the cameras, on the other hand, is a 3.5 mm sync trigger. Besides this trigger, this l

[2022-07-14 12:34] mhdadk commented on #1801
In that case, I think the documentation is indeed misleading, because the preceding section on the same page, titled [Connect your devices](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#connect-your-devices), states:

![image](https://user-images.githubusercontent.com/17471410/178983210-6ab0738d-e4ec-4433-9eaa-a493275a6c16.png)

This suggests that I should be able to see both

[2022-07-15 00:03] abdu307 commented on #803
I think this calibration issue is caused by the physical offset between the RGB and the Depth sensors on azure Kinect, you can correct it by translating the RGB camera calibration to match the Depth sensor location on azure Kinect!

[2022-07-15 07:46] ccccsss222 commented on #1728
hi, i am run in Ubuntu18.04, and get the same problem

[2022-07-15 11:21] CNCKNAM opened #1802 "How to run the azure kinect sdk example in Visual Studio / Ubuntu"
I want to try `transformation_example` to output `.ply` from `.mkv`  file.

SDK Link: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/transformation

Reference to build the SDK: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md

I have already downloaded the Azure Kinect Viewer and it can run
<hr>

In **Ubuntu**, I clone the SDK folder in

[2022-07-16 23:28] rajkundu commented on #1801
There is a section on that same webpage entitled "[Host Computers](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#host-computers)" under "Prepare your devices and other hardware":

This part you are referencing is talking specifically about 3.5 mm cables, which are used for syncing devices and thus are entirely separate from each Azure Kinect's USB connection to its host comput

[2022-07-17 00:23] mhdadk commented on #1801
@rajkundu Looks good to me. Thanks for the help!

[2022-07-17 00:23] #1801 closed, assigned to nobody

[2022-07-18 11:09] inigopanos opened #1803 "Can I body track a selected area frame?"
Hello,

I am trying to make use body tracking to detect and track bodies only in a small area of the screen. What I have is a feed from the kinect, which I modify with background substraction to only have a trapezoid area in which I want to do the body tracking.

However, I have not been able to just feed that modified video feed to the kinect, and it tracks the bodies using the kinect's default v

[2022-07-18 17:13] jiapei100 opened #1804 "Linux compatibility"
**Describe the bug**
[code]

**To Reproduce**
Just build under Linux

**Expected behavior**
Built

**Logs**

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS with Version: Ubuntu 22.04
 - SDK Version:  1.4.1
 - Firmware version: AzureKinectDK_Fw_1.6.110080014.bin

**Additional context**
N/A

[2022-07-18 21:15] CNCKNAM commented on #1804
The only supported distribution is Ubuntu 18.04

https://docs.microsoft.com/en-us/azure/kinect-dk/sensor-sdk-download#linux-installation-instructions

[2022-07-19 20:23] jiapei-nexera opened #1805 "usb_cmd_create(USB_DEVICE_DEPTH_PROCESSOR, device_index, NULL, &depthmcu->usb_cmd) returned failure in depthmcu_create()"
Finally, had **Azure-Kinect-Sensor-SDK** built , under **Ubuntu 22.04** .

However, when I tried to run **k4aviewer**, I got the following **ERROR** message:

[code]

Any suggestions?

[2022-07-19 21:05] jiapei-nexera commented on #1403
I'm now having exactly the same problem.... Where can we download that **libdepthengine.so.2** ?

[2022-07-20 01:21] ghost opened #1806 "Which sensor in Azure Kinect Sensor is used to extract skeleton data?"
Hi everyone. Recently I did one work that makes the rgb data calibrate the skeleton data in 3d coordinations. For example, when I hold one small-size object inside my right palm, intuitively speaking, the physical distance between some joints (e.g.,  HAND_RIGHT, HANDTIP_RIGHT, THUMB_RIGHT) and the object should be zero (at least a very small value). I selected some points from the rgb image and go

[2022-07-20 03:29] JeffR1992 opened #1807 "Azure Kinect modulation frequency and range ambiguity"
Is it possible to change the Azure Kinect's modulation frequency using the SDK, or is this value hardcoded?

In addition to this, since the Azure Kinect is an indirect ToF sensor, I wanted to ask how the sensor is able to deal with the common "range ambiguity" issue that occurs due to phase wrapping. After doing a few searches online it seems like the Azure Kinect might be operating at a default m

[2022-07-20 07:40] conatsera commented on #1807
The depth acquisition process is handled in the proprietary depthengine
dll module. Beyond refresh rate and depth mode, it's methodology can't be
modified by the SDK.

  As for the question of range ambiguity, while not directly stated, it
likely continues to use the multi frequency method employed by previous ToF
sensors. The sensor's white paper states an average system modulation
frequency of 2

[2022-07-21 10:10] CN-PotatoChips opened #1808 "AzureKinectViewer displays No available devices"
The 4K camera and depth camera are displayed in Windows Device Manager.The indicator on the back of the device is steady white.I can start the camera using live streaming software but it shows No available devices in AzureKinectViewer .

Log:
[ trace    ] : k4a_device_t_create(). Created   k4a_device_t 000001EEA0117AF0
[ trace    ] : depthmcu_t_create(). Created   depthmcu_t 000001EEA011B590
[ tra

[2022-07-22 06:50] guker opened #1809 "pointclouds from two kinect camera not mismatch，especially hand"
I promise that cabiration is correct，anyone can slove it？

[2022-07-22 08:23] guker commented on #1570
such hand， how to slove it？

[2022-07-22 13:36] Rudizzzz commented on #1634
Dear support,
We are still facing the same problem with many users.
We have tried all versions, including the latest 1.1.2.
So far we have not figured out what is causing it. It seems that some kind of short trousers trigger the instability, but it is not so repeatable.
This problem does not allow us to use the Kinect4Azure camera in our commercial products, although we would like to.
Any informat

[2022-07-23 02:26] KanGeQiu commented on #1731
Hi, have you solved this problem, I have the same problem now, if you have solved this problem can you tell me how to solve it.

[2022-07-23 06:17] #1808 closed, assigned to nobody

[2022-07-25 00:51] ekdrnqkdrn commented on #1634
#1751

[2022-07-25 00:52] ekdrnqkdrn commented on #1634
#1751
Still We also have the same problem.

what we checked.

1. When wearing a black mask.
2. When to wear black clothes.
3. When hair covers ears.
4. When raising one hand or one foot after turning the body 90 degrees toward the camera.
5. When lifting arms or legs vertically.

We also hope that this issue will be resolved soon...

[2022-07-25 06:56] samueltorche commented on #1263
Any update on this issue ?
I tried the procedure posted by @mpdroid and @kenavolic but the depth camera is not working, only the RGB.
Anyone had success with making the depth camera work on Ubuntu 20.04 ?

k4a-tools 1.4.1
libk4a1.4-dev
libk4a1.4
libk4abt1.1-dev
libk4abt1.1

[2022-07-25 12:06] abhi5454 opened #1810 "get body joint coordinates from raw ir and depth images"
Hello, i have saved raw depth and IR images from Kinect using a custom application. How i can I extract body joints from these images ?

[2022-07-25 12:26] rudizz commented on #1634
Thank you for your reply.
Unfortunately we have instability problems even without the conditions you mentioned.
We never use masks because we only use the camera to detect one person.
Sometimes, even standing still with the arms down, the skeleton goes crazy.
Usually the person is placed at a distance of 2.5 metres from the camera, and if he or she approaches the camera by about 0.5 metres, the in

[2022-07-25 16:10] dasparli commented on #1804
The current SDK only supports Linux version 18.04

[2022-07-25 16:16] qm13 commented on #1809
Not sure what you are asking?

[2022-07-25 16:17] qm13 commented on #1806
The depth sensor.

[2022-07-25 16:18] qm13 commented on #1810
Please provide more information.

[2022-07-25 17:13] qm13 commented on #1803
Are you segmenting the depth image? Nevertheless body tracking requires approximately half the body in view to work. What is the reasoning behind attempting this technique?

[2022-07-26 06:58] abhi5454 commented on #1810
I am currently using a python application extract and dump IR and depth images in .raw format. I need to run body tracking on those extracted frames and generate corresponding 3d body joint coordinates. How can i create a custom capture object to use my raw inputs and perform bodytracking on the same to extract bodyjoints .
Input -
1. Kinect IR image (in .raw format)
2. Kinect Depth image (in .raw

[2022-07-26 07:12] inigopanos commented on #1803
I'm not segmenting the depth image, I'm substracting the background and foreground to try to detect movement on a selected area relative to a static background.

The reasoning behind this is, I am going to have the Kinect looking at a space with three objects. I want to capture body tracking only in the area adjacent to these obejcts, which is the one on the left (one for each object, so three tot

[2022-07-26 07:37] kaushik-bhowmik opened #1811 "k4aviewer error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

The Kinect Camera works properly when used on Windows10 and Ubuntu18.04.
But when used the same device on Ubuntu 20.04 after SDK installation:
It is giving error when opening k4aviewer.
I have attached the image for:
1. System details
2. lsusb command output
3. Error messages
Errormessage1 when k4aviewer is launched, when I dismiss the

[2022-07-26 08:14] GMOLee-cal opened #1812 "'replace_sample(). capturesync_drop, releasing capture early due to full queue TS : type : Depth' error when using multi-kinect."
An error occurred when using multiple sensors.

I'm using 5 Azure Kinects on my PC. (Using motherboard usb 3.0 port)
In the C# code, I check the sync Jack In/Out value of Kinect and do Device.open() in master(1 kinect) / subordinate(4 kinect) mode.

Device open order is subordinate kinect x4 -> master kinect to open.

When importing frame data from Kinect, I keep getting this error.

**"replace_sa

[2022-07-26 09:54] micaela-possetto commented on #1263
Goodmorning,
I am trying to install Azure Kinect SDK on ubuntu 20.04. I followed this instructions, but I had some problems. This is the output for the second instruction:
Trovato:1 https://desktop-download.mendeley.com/download/apt stable InRelease
Trovato:2 http://it.archive.ubuntu.com/ubuntu focal InRelease
Trovato:3 http://packages.microsoft.com/repos/code stable InRelease
Scaricamento di:4 ht

[2022-07-26 11:03] Marwan-imverse opened #1813 "Error building with VS2019"
Building in VS2019 fails because of just one test file: `tests\Utilities\ConnEx\ConnEx.cpp`

Just need to add `#include <exception>` to avoid the `C2039: 'nothrow': is not a member of 'std'` error

Or at least have an option to not build the tests?

We are building K4C from source as a dependency and part of an automatic process so, doing this little change is not possible in our workflow and it's

[2022-07-26 13:19] rajkundu commented on #1263
This issue is actually a known issue (#387) which occurs without even having any device attached (I have gotten it myself as well). Is your Azure device attached? Also, what color is its LED? If it is orange/amber, it may not be getting enough power, so try using the 5V DC in addition to the USB connection. The LED should be solid white, I believe.

[2022-07-26 15:36] wmcelderry commented on #1263
The popularity tracker/'up vote' topic link above doesn't work.

I think it is now available at:
https://feedback.azure.com/d365community/idea/013e0e1d-f724-ec11-b6e6-000d3a4f0da0

[2022-07-26 15:42] rajkundu commented on #388
By the way, the updated link is https://feedback.azure.com/d365community/idea/33a28bf8-f624-ec11-b6e6-000d3a4f0da0
Please vote (and please comment, if you can)!

[2022-08-01 17:52] microsoft-github-policy-service[bot] opened #1815 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-02 09:18] wangcc123-dave commented on #470
After I clicked Refresh Devices, I got this error from the log:
RuntimeClassInitialize(). Failed to find color camera in open camera: 0x80070003
Any help?

[2022-08-02 09:39] wangcc123-dave commented on #470
I have opened access to camera and microphone purposes, but it didn't work.

[2022-08-03 08:05] wangcc123-dave commented on #1808
I meet the same probelm.RuntimeClassInitialize(). Failed to activate source in open cemera: 0x80070003.Have you solved it?

[2022-08-03 08:30] wangcc123-dave opened #1816 "RuntimeClassInitialize(). Failed to activate source in open camera: 0x80070005"

[2022-08-03 08:31] wangcc123-dave commented on #1816
I am having an issue where the Kinect camera is showing up in the Device Manager, but the Kinect Viewer just says "No available devices." The Kinect Viewer works fine on another computer, so is not defective.

Windows 10

[2022-08-03 11:08] wmcelderry commented on #1804
I've created a repository that builds this project using the docker image (provided by this repository), and extracts the necessary components to run some of the system under later versions of Ubuntu.
See:  [azure_kinect_sdk_scripts](https://github.com/wmcelderry/azure_kinect_sdk_scripts)

It's not perfect, but it may help someone...

[2022-08-03 11:09] wmcelderry commented on #1263
I got this working on 22.04, thanks to the foresight of the development team:  they have created a docker build environment.

I've used their docker environment on 18.04 to build it, pull out the missing libsoundio1.so for linking purposes (though sound isn't working in k4aviewer on the host system) and run it on the host system.

I've publish the script (WIP) in a dedicated repo [azure_kinect_sdk

[2022-08-03 22:36] derivativerobmc opened #1817 "crash with cudnn 8.4.1.50"
I get an exception thrown inside k4abt_tracker_create when I have the cudnn 8.4.1.50 libraries installed. The older 8.2.2.26 cudnn libraries work, but our software uses requires the newer version for a different system. My understanding from the Nvidia documentation is that the newer builds of cudnn are supposed to be binary compatible with the older ones, so I would have expected the Kinect body

[2022-08-04 11:19] katiemcb commented on #1263
I am following the steps above, when I get to this step:
sudo apt-add-repository https://packages.microsoft.com/ubuntu/18.04/prod

I am getting the following error:
Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Ign:2 https://packages.microsoft.com/ubuntu/18.04/prod focal InRelease
Err:3 https://packages.microsoft.com/ubuntu/18.04/prod focal Release
  404  Not Found [IP:

[2022-08-07 18:32] berkan20 commented on #1147
I had the same issue. In addition to that, I was not able to run **Kinect Body Tracking Viewer**. I have downgraded the NVIDIA driver to 472.12. This solved the problem with **Kinect Body Tracking Viewer**. Then I have followed the steps in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1543. I managed to fix the problem with the location of the dlls.  I can run Tracker.Create() now.

[2022-08-08 12:01] gfsd20433 opened #1818 "Depth sensor flickering in imseCAVE"
When the Azure Kinect is recording in the imseCAVE, the depth sensor keeps flickering, whenever in a steady environment.

Here is the example https://youtu.be/h5wXIvYpunk

I suppose I can take a depth sensor snapshot for background evironment and checks if people (or any other things) enters the imseCave. If the result keeps flickering, there will be wrong result.

Any possible fix?
Thanks in adva

[2022-08-08 16:17] qm13 commented on #1810
What Python wrapper are you using?

[2022-08-08 17:48] dasparli commented on #1818
If the flickering you are talking about is occurring at the 9 second mark in the lower left area of the depth image, that is probably caused by a speck of dust floating by the sensor. The ToF sensor is really good at picking up dust in the air.

[2022-08-08 18:12] dasparli commented on #1816
Are you only seeing one Kinect camera in the device manager? You should be seeing two, one called Azure Kinect 4K Camera and the other called Azure Kinect Depth Camera.

Do you see any differences in the device managers between the working and non-working computer?

Is this failure new on the computer that is not working? Perhaps you may have luck with uninstalling and reinstalling the AKDK softwa

[2022-08-08 20:33] gfsd20433 commented on #1818
The dust problem is reasonable to me because the infrared camera also recorded the dust.

I was talking about the situation like 0:13/0:17/0:33 in the depth image. You can see there seems nothing changed in the color camera (I dont think the projection effects the infrared camera), but part of the depth camera image suddenly goes black (no signal) a second and then return to normal for unknown rea

[2022-08-09 03:32] thehiddenwaffle commented on #1293
This functionality has to happen for the Azure Kinect to be viable in the IOT space, many applications require higher resolution to be viable(and therefore an even greater CPU bottle neck) and GPU/Cuda acceleration is already available in environments such as the Nvidia Jetson family(which has nvJPEG available for the AK's 4:2:2). Is there any progress on this?

Would there be a current implementa

[2022-08-09 07:25] abhi5454 commented on #1810
I am using PyKinectAzure
https://github.com/ibaiGorordo/pyKinectAzure

[2022-08-09 19:46] qm13 commented on #1817
Are you using the correct CUDA libraries for cudnn 8.4.1.50?

[2022-08-09 19:51] qm13 commented on #1810
Please direct your question to the developer of PyKinectAzure. You need to combine your .raw format IR and depth images back into a k4a_capture_t structure. You can then enqueue this to the BT queue.

[2022-08-09 22:25] qm13 commented on #1794
@Aquariusquintini most interesting results. Are you seeing the same sort of variation with TensorRT or just CUDA?

[2022-08-10 07:15] Aquariusquintini commented on #1794
@qm13 we did not try TensorRT yet. If it helps, I could give it a try next week and get back to you with the results.

We have also first indications that running body tracking in CPU or DirectML mode on the same video on different machines results in differences comparable to the between run results in CUDA. However, we are still investigating this.

[2022-08-11 14:41] histun commented on #366
Same as above. Trigger start works fine, but I'm wondering if there is a trigger stop as well.

[2022-08-11 23:23] dasparli commented on #1818
This looks a lot like interference from another IR light source. And it looks like it is happening in a repeating pattern every 2 or 3 seconds. Do you have another device in the room that is emitting IR light around 850nm?

[2022-08-16 15:56] judgeee-wase opened #1819 ""Error: 0:2(38): error: `gl_FragColor' undeclared" in ubuntu20.04"
****

**Describe the bug**

 I tried to use the ”Body tracking SDK” with AzurekinnectDK in Ubuntu20.04. However, after the SDK starts up halfway through, a window appears for a moment, then it crashes immediately and gives me an error message. I am a beginner in using ubuntu. In addition, my English is poor, so I will give details in English as much as possible, but if you still have questions, pl

[2022-08-16 20:31] #1815 closed, assigned to nobody

[2022-08-17 14:33] Thebinoman commented on #573
This would be EXTREMELY helpful. Please add this ASAP 🙏

[2022-08-18 00:16] natelowry commented on #573
@Thebinoman agreed it'll be great, but in the meantime, you can get really far with a light wrapper around the native methods (see https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/csharp/SDK/Native/NativeMethods.cs) and some reflection to get the native handles. Enough so that we've shipped with that code and not really had any recording issues.

Happy to post some example cod

[2022-08-18 03:34] Thebinoman commented on #573
Thank you. I wasn't aware of that. I saw the namespace Microsoft.Azure.Kinect.Sensor.Native, but couldn't figure out how to use it. I haven't found documentation about that. Good to know it already been implemented.

Yes, code examples would be great, especially of how to get body tracking to work with playback.

BTW, I'm using unity, are you aware of any issues or gotchas on this (body tracking w

[2022-08-18 06:33] Johunt-feng commented on #366
Same as above. When  the signal generator to stop the external trigger signal, the device did not stop capturing images.

[2022-08-18 06:43] Johunt-feng commented on #1404
I also encountered the same problem. How did you solve it in the end？

[2022-08-18 13:58] natelowry commented on #573
all of this was based on thedewi's amazing work in #1711 (which is based on Brent-A's work in #822)

here's what i think the minimum steps are for you to get a recording going:
1. add [NativeMethods.cs](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/csharp/SDK/Native/NativeMethods.cs) to your project
2. add the `k4a_record_create`, `k4a_record_write_capture`, and `k4a_record

[2022-08-19 14:32] pgoorts opened #1820 "Update the CMake file to allow static builds"
**Is your feature request related to a problem? Please describe.**
We're currently working on a project where all dependencies are linked statically. This prevents to include this SDK in the project.

**Describe the solution you'd like**
We would like to build the SDK in a .lib, without any .dll files. Is it possible to provide an option for that in the CMake file?

[2022-08-20 08:55] wangmiaowei opened #1821 "Any Method about getting extrinsic matrix of each depth frame?"
In my understanding about Azure Kinect, is there any function here to get extrinsic matrix of each depth frame? Maybe the first frame is set as the global pose and then use IMU data to compute the pose of other frames? I do not known whether it is possbile?

[2022-08-22 12:20] bs97 opened #1822 "Synchronising azure with mocap system to avoid interference"
It has been mentioned in previous issues that synchronisation between azure Kinect and other marker-based IR mocap systems (such as vicon or optitrack) is possible, it just requires custom hardware/software to sync and trigger IR pulses.

There are a few setups that I can currently imagine:

1) A trigger switch that delays the start of recording between azure and the mocap system - this would requ

[2022-08-22 15:18] Aquariusquintini commented on #1794
@qm13 I have done some tests and can now confirm that TensorRT has similar behaviour compared to CUDA, also it produces different results on different runs.

I can also confirm that running body tracking on different machines (using the same body tracking SDK and the same video) produces different results in all processing modes. Initial results show that for Pelvis they are in the range of about

[2022-08-22 16:09] #1818 closed, assigned to nobody

[2022-08-23 01:19] qm13 commented on #1819
This is a known issued fixed in Body Tracking SDK v1.1.2. Your package should be libk4abt1.**1**-dev.

[2022-08-23 01:24] qm13 commented on #1822
Please see https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync. You will need a way to electrically connect the mocap system with the AKDK device(s) sync input. Use the mocap system as the master to the AKDK subordinates such that the AKDK device(s) take images when the mocap system is not emitting IR light.

[2022-08-23 06:49] bs97 commented on #1822
Thank you for your response qm13! Does the signal coming from the mocap system act as a start trigger (that is only sent once) or is there continuous input from the mocap to the kinect (everytime there is no IR light emitted)?

[2022-08-23 14:15] bs97 commented on #1822
Thank you for your help qm13!

[2022-08-23 14:15] #1822 closed, assigned to nobody

[2022-08-26 01:50] michaelyeah7 commented on #1646
Thanks a lot, I changed to another cable and it works!

[2022-08-29 12:08] judgeee-wase commented on #1819
@qm13
Thank you for your advice! I succeeded in using Body Tracking SDK in Ubuntsu20.04 !

First ,I used MS repository for 20.04, but it is not good.
I change MS repository for 18.04 instead of using 20.04.
`sudo apt-add-repository https://packages.microsoft.com/ubuntu/18.04/prod
`
And second , I installed k4abt=1.3 .and I tried to upgrade this(to version 1.4)
But I cannnot overwrite .so file. So,

[2022-08-29 12:08] #1819 closed, assigned to nobody

[2022-08-29 16:08] rajkundu opened #1823 "Method for Validating Device Configurations"
**Is your feature request related to a problem? Please describe.**

I'm currently creating a multi-device viewer for Azure Kinect Cameras where users can save and load device configurations. However, the Azure SDK currently seems to only validate configurations upon streaming. I.e., there's no way for me to validate a user's requested configuration for a device and display a message if it is inval

[2022-08-31 01:45] diablodale commented on #1607
@qm13, please note, I am escalating this internally to your management.

Please re-open this issue and address it. You did not provide answers needed.
For example, when I attempt to use officially compiled and distributed via nuget onnxruntime.dll, it results in error

[code]

This error can be resolved by addressing this very issue you wrongly closed and addressing the versioning issues also wron

[2022-08-31 01:50] diablodale opened #1824 "Issues closed with wrong info, missing info, or prematurely with no followthrough or tracking"
The following issues are missing information, have wrong information, or prematurely closed with no followthrough, tracking, or responses. This is again repeated poor Microsoft behavior.  It is a lack of adequate professional levels of quality code releases, communication, issue management, PR management, and documentation.

I escalated on 2 Mar 2020 to your GPM Neena Kamath due to similar failure

[2022-08-31 02:55] Nekomeshi opened #1825 "Frame rate drops when multiple Kinects are connected via super speed USB HUB embedded in PC."
I connect two or three Kinects to USB3.0 ports of my PC. When I connect one Kinect, the frame rate is 30fps, but when I connect two Kinects, the frame rate drops to 15fps and when connecting three Kinects, it dropps to 10fps.
I tried some PCs, and it seems it occurs when I connect some Kinects via USB3.0 hub.
In my case, I connected the Kinects to onboard USB port, but they are connected to PCIe v

[2022-09-01 00:26] diablodale commented on #1607
Further, it is not possible for an application to reasonably use the ONNX runtime since K4ABT v1.1.2 errantly checks version, errantly skips `__pfnDliNotifyHook2` and bug #1510

The error reported directly above in TrackerHost.cpp (184) is using an unknown method to test for the DLL that is incompatible with delayloading/redirection of a DLLs with  `__pfnDliNotifyHook2`. The hook is not called and

[2022-09-01 23:00] dasparli commented on #1821
You can get the extrinsic matrices for AKDK through this function which is part of the API: [Azure Kinect Sensor SDK: k4a_device_t::k4a_device_get_calibration (microsoft.github.io)](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga4e43940d8d8db48da266c7a7842c8d78.html#ga4e43940d8d8db48da266c7a7842c8d78)

You are able to use these matrices for mapping/transformation be

[2022-09-02 03:36] GoWest279 opened #1827 "High GPU usage or high latency while streaming depth image."
Hi, I'm trying to stream the K4A_DEPTH_MODE_WFOV_UNBINNED (1024x1024) depth image (no RGB image) at 15fps using Intel-8700K CPU which is integrated with an Intel® UHD Graphics 630 GPU. However, I noticed the GPU's render/3D module usage reached over 70% which also caused the "depth image processing is too slow(over 60ms) warning" while running on Jetson nano.

Azure Kinect measures the phase shift

[2022-09-04 06:03] DrMaxP commented on #1401
Any updates on this? Anyone found USB-C cards which can supply power and data that work? Ideally 4 ports or above per card with dedicated controllers per port. Needs the correct USB chipset...

[2022-09-05 09:36] Thebinoman commented on #573
@natelowry
Thank you, and sorry for the very late response,
I'll try that. Looks promising.

However, do you know how to play the recorded file?

[2022-09-05 13:29] natelowry commented on #573
same deal using `k4a_playback_open` and `k4a_playback_get_next_capture`.

see the rest of the things here:
https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/structk4a__playback__t.html

dig into those PR's referenced above as they have all the code you need.

[2022-09-06 01:04] matth-av opened #1828 "cannot use k4arecord lib, fails to initialise due to spdlog exception at runtime"
**Describe the bug**

Projects using k4arecord lib crash at runtime due to a spdlog exception claiming the k4a_logger is being initialised twice:
[code]

In C++, the following simple code throws the above error:
[code]
Also, I have attempted to build and run the C example at [examples/playback_external_sync](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/playback_extern

[2022-09-11 08:29] trioKun commented on #810
[code]
Above cmd lines works for me to open k4a camera in ssh sessison.

[2022-09-11 14:14] #1802 closed, assigned to nobody

[2022-09-12 08:50] Edzilo opened #1829 "Unable to run Body tracking on NVIDIA RTX A4000 in custom application"
Suggested labels : Bug, Body Tracking, Triage Needed

**Issue**

When trying to use a custom Unity application based on the body tracking SDK, the body tracking fails to run, only when using an NVIDIA RTX A4000. The same application works on older GPUs.

**Details**

Different drivers were tested to solve this issue :

471.41 , 473.81 , 516.94
The application would be stuck in an infinite loop aft

[2022-09-12 20:33] qm13 commented on #1824
@diablodale I have updated most of the issues you list. Please reactivate the ones you think require further information.

[2022-09-13 07:16] cansik commented on #1425
To extract the calibration data it is possible to use the following ffmpeg command:

[code]

[2022-09-13 10:37] pwegener93 opened #1830 "k4a_device_get_installed_count() return 0"
**Describe the bug**

I created a console application with c++ on Windows 11. Everything is working as expected. The camera is connected and we can use the camera. So i created another project with an UI for Universal Windows App. I implemented the same code as in the console application. But if i call the function "k4a_device_get_installed_count()" i get 0 back. But if i debug the console applica

[2022-09-13 11:47] rejnok93 commented on #809
Hello, I tried to use Azure Kinect Body Tracking SDK to capture some small babies (0.5 - 1 year old, none of them can't stand yet), tried many positions and many distances from camera, but k4abt library never saw any human body to show (output data empty). Does microsoft know about any use case of Azure Kinect DK to capture small babies? Is there any option better than coding new Body Tracking Lib

[2022-09-13 17:18] qm13 commented on #809
@rejnok93 This is expected. The proportions of a human are very different to adults. Results for AKDK body tracking are unreliable for humans under 7 years old. We looked in the past at retraining the model for infants (as there are a small number of interesting infant applications). Unfortunately getting the necessary data is difficult and the ROI is poor.

[2022-09-13 18:11] dasparli commented on #1825
A USB hub routes streams from all devices to a single USB host controller so once the max bandwidth is reached those streams will be throttled. To get the best results you should connect each Kinect to its own physical host.

[2022-09-13 19:44] guzza100 commented on #809
I was able to get some skeletal tracking on infants between 3 and 6 months.  The key seemed to be putting them in a onesie with colors that had noticeable color contrast with the mat they were laying on.  Give that a try if you haven't already.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: qm13 ***@***.***>
Sent: Tuesday, September 13, 2022 6:18:27 PM
To:

[2022-09-13 20:46] diablodale commented on #1824
@qm13, it is not possible for customers like me to "reactivate" issues. Your team did not grant github permissions to do so, and comments on closed issues are ignored by your team (which lead to my escalation and this issue).

Please adjust or update me on the process to "reactivate" issues.

[2022-09-14 09:37] #1829 closed, assigned to nobody

[2022-09-14 09:40] Edzilo commented on #1829
Fixed with LightBuzz update and Azure Kinect Body Tracking SDK update (1.1.0 to 1.1.2)

[2022-09-14 17:57] dasparli commented on #1830
Are you running both applications at the same time? Only one application can run the camera at a time.

[2022-09-15 05:47] Thaina commented on #948
Were there any progress on this?

[2022-09-15 13:07] pwegener93 commented on #1830
No i only run one application. Have you experience with the same problem?
Do I have to set any properties for the project to use the camera in an windows app or to find the camera?

[2022-09-19 06:56] CNCKNAM opened #1832 "[Ask a Question] What is the parameter of calibration_registration"
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration

I am not sure if I put the parameters correctly

**calibration**
```python <full_path>\calibrate.py --dataset-dir <dataset_dir> --template <full_path_template>```
dataset_dir --> RGB image directory
full_path_template -->plan.json

**register**
```python <full_path>\register.py --img-a <full_path_i

[2022-09-19 10:41] Thebinoman opened #1833 "Camera device not opened on a build of the sample_unity_bodytracking"
When running a build of the [sample project for Body Tracking on Unity](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking) It seems that the camera device does not open. Using Unity Debugger on Visual Studio, I can see it fails on line 32 on SkeletalTrackingProvider.cs:
`using (Device device = Device.Open(id))`

I followed the instruction

[2022-09-21 10:45] al-baum commented on #1783
Any news on this issue ?

[2022-09-21 22:48] diablodale opened #1834 "no mechanism or permissions for a customer to reactivate a github issues in this repro"
Microsoft asked yet failed to provide instructions on how to "reactivate" issues, see https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1824

### Repro

1. Attempt to "reactivate" an incorrectly closed issue

### Result

Impossible to "reactivate" any issues. There is no mechanism or permissions for a customer to reactivate a github issues in this repro.

### Expected

Microsoft to provi

[2022-09-22 22:16] jalex8188 commented on #1824
Bumping this issue with a comment, as I am eager to utilize @diablodale 's MaxMSP object for the azure kinect

[2022-09-23 08:17] deeprine opened #1835 "On the azure kinect screen you will see a green circle and a purple circle."
hello.
I'm using 6 azure kinects.
A green circle and a purple circle are drawn on the azure kinect screen of one of them. Can you tell me how to delete it?

[2022-09-23 12:23] petrasvestartas opened #1836 "How Depth can be written to 2D image?"
Hi,

I would like to ask if there is any way to write x,y,z values to 2D image, not ply file?
When I save xyz points to jpg or png, I can only write values between 0-255 only in integers.
But I would like to save as image to open it in opencv. How do people normally save depth information within images?

I have the following code below that I use to save pointcloud from kinect:

[code]

[2022-09-24 13:24] pwegener93 commented on #1830
I attached the error message from the console. Hope you can help me with this issue. Do you need any other settings from the project?

![error_console](https://user-images.githubusercontent.com/91064950/192100336-56e3cba6-87a8-4e65-9af3-bf3eb22a1813.png)

[2022-09-25 04:20] Z-Jeff opened #1837 "Transform depth image to rgb image coordinate is very slow"
[code]
When I use these code to transform depth image to rgb image coordinate, the speed is very slow, about 2fps.
Is there some solution to make it run at 30fps?

[2022-09-25 12:44] DrMaxP opened #1838 "I'd like to create a variant of the white cover that would allow me to mount other sensors on the Kinect. Does anyone know if there is a 3D printable model file of the white cover that I could use as the basis to modify?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-26 06:06] genkv opened #1839 "Linux - Can't find UVC device - Preproduction unit - any solution?"
**Describe the bug**

The symptom is exactly the same as https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/340

[code]

**To Reproduce**

According to the reply from https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/340, "This issue is caused by the depth camera and color camera having different serial numbers. They should be the same for production hardware"

**Expected behavi

[2022-09-26 11:38] weibao1001 opened #1840 "WFOV（2x2，120°x120°，512x512） model depth map Dedistortion"
I used the undistort function from opencv.However, the point cloud generated by the corrected image has very obvious errors.
How should I correct the depth map?

[2022-09-27 11:34] frenchtouchXR opened #1841 "Azure Kinect device detected by windows but not found in the viewer and the other K4a apps"
I had my devices working fine on my laptop untill today. They are no more usable by the K4a apps and libraries. I get the error :
[ error    ] : usb_cmd_get_device_count(). No devices found in the azure viewer. The cameras work fine on my other computer. I changed the cables, double checked the alimentation (it's solid white), switched the usb 3.0 plugs, restarted 20 time the computer, reinstalled

[2022-09-28 00:26] dasparli commented on #1830
The Azure Kinect SDK uses WinUSB to communicate with the camera and unfortunately there are limitations when using WinUSB with UWP that are critical to the Azure Kinect's operation.

You can read about this here: https://learn.microsoft.com/en-us/windows-hardware/drivers/usbcon/writing-usb-device-companion-apps-for-microsoft-store

[2022-09-28 00:34] dasparli commented on #1841
Did anything on your laptop change between the last time it worked and today?

Have you tried running another USB device on the same connectors that your Kinect was connected to?

[2022-09-28 02:42] dasparli commented on #1839
The Azure Kinect SDK only supports Ubuntu 18.04.

You can test whether your camera is in working condition by using k4aviewer in Windows.

[2022-09-28 07:11] frenchtouchXR commented on #1841
Hi, Maybe a windows update. I noticed my laptop's bisoncam isn't found anymore by the device manager. I don't know if it has something to do. I tried with another kinect camera on every usb 3 plug.

Here is the full log error : [ error    ] ( D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\usbcommand\usbcommand.c:1037 ) : usb_cmd_get_device_count(). No devices found

[2022-09-28 08:03] jonathansim94 opened #1842 "Unreliable confidence levels of joints"
We are working with the latest versions of the body tracking SDK. Currently you provide 3 confidence levels (from None to Medium) and plan to implement the fourth (High) in future SDKs.

We are working in a multi kinect environment (reproducing in real time an acquired movement on an avatar in a Unity scene) and we have noticed a reliability problem about these confidence values. In particular, we

[2022-09-28 12:31] fbabon commented on #1409
similar : RGB artifacts with asmedia 3142 ! :'(

[2022-09-28 12:35] fbabon commented on #1354
still issue with RGB using asmedia 3142 :'(

[2022-09-28 12:57] frenchtouchXR commented on #1841
In the device manager of windows 10 I deactivated/reactivated the webcam : Azure Kinect 4K camera. It then was found again by the kinect viewer. I can't explain what happened.

[2022-09-28 13:18] #1841 closed, assigned to nobody

[2022-09-28 17:43] dasparli commented on #1837
The best way to speed this up is to run it exclusively on a system with a more powerful CPU and GPU.

[2022-09-29 04:12] #1839 closed, assigned to nobody

[2022-09-29 14:43] lun73 commented on #803
Hello!
I'm using two D415.
I'm working on a similar problem, can I refer to the program you code?

[2022-09-29 18:08] dasparli commented on #1828
The k4a.lib and k4arecord.lib can't log to the same file. There is a note about this in the documentation: [Azure Kinect Sensor SDK: Error and event logging (microsoft.github.io)](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___logging.html)

Confirm that your environment variables are using the same log file name for both libs.

[2022-10-03 20:39] dasparli commented on #1838
There is a link to a STEP file that includes this information which you can find on this page: https://learn.microsoft.com/en-us/azure/kinect-dk/hardware-specification#product-dimensions-and-weight

[2022-10-03 21:26] qm13 commented on #1842
The confidence level is driven by what the AI returns (NOT what the camera sees). Consequently, the AI may return a joint position for a joint not in view of the camera e.g., hidden under the table, and vice versa.

[2022-10-04 01:59] matth-av commented on #1828
@dasparli thanks for this info. I'll try this again but set these environment variables. I wasn't aware of their existence.

Perhaps this info should be included in the readme [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/playback_external_sync), since I presume the example won't actually run without first changing the vars.

[2022-10-04 09:43] diablodale commented on #1834
@qm13... hello? Please tell us how to follow your instructions.

Yet again...

_Originally posted by @qm13 in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1824#issuecomment-1244404929_

How do we do that? You did *not* comment on most of the issues and therefore most need to be reactived.

[2022-10-04 18:26] dasparli commented on #1832
You are passing in the correct parameters for calibration and registration.

On your registration call it doesn't really matter which is A and which is B, so long as you pass in the corresponding calibration file.

For your calibration example above the arguments would look like this:
--dataset-dir  ./example_files/calibration --template ./PlaneFiles/plane.json

[2022-10-05 06:46] ghkd3930 opened #1843 "How to set direction in Unity 3d Azure kinect Bodytracking?"
I'm following the Unity BodyTracking sample, but it's frustrating because the modeling is always looking behind me.
Changing or angled the matched bones will break or reverse the behavior.
Is there any way to change the viewing direction within Azure kinect itself?

[2022-10-05 08:02] bs97 opened #1844 "Using external mocap system as a trigger for multiple kinects"
Hello,

I am trying to record data using multiple azure kinects and a mocap system (optitrack) simultaneously for a research study, and therefore require exposures to be synchronised to avoid interference.

This means I can use the kinects as a trigger or the mocap system which requires this device (https://optitrack.com/accessories/sync-networking/esync-2/).

This sync device only supports a 3.3V

[2022-10-05 13:00] tiborcamargo commented on #1842
I also found the confidence levels to be unreliable using the latest version of the SDK, improving these scores would be really nice for multi Kinect applications. Is there a date for the release of the "High" confidence joint pose estimation? Also, why not transform it to a [0, 1] range instead of using confidence bands?

[2022-10-06 09:59] ehdwo0427 commented on #1624
@Ycao26 The same problem has occurred. I can't run the camera in depth.

We used Ubuntu 18.04.

[2022-10-06 11:11] CNCKNAM opened #1845 "[Ask a question] Error of Charuco board parameter"
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration/PlaneFiles

For ```example/calibration_registration/PlaneFiles```
In ```plane.json``` and ```plane_large.json```, the ```aruco_dict_name``` is 6
but in ```plane_small.json``` is 5

I think the ```aruco_dict_name``` is both 5 as it is 5 x 5.

https://calib.io/pages/camera-calibration-pattern-generato

[2022-10-06 21:53] dasparli commented on #1845
The value of aruco_dict_name is correct, the number 6 that is in the json is not referring to a 6x6 grid, but rather the index in the enum as defined here: [OpenCV: opencv2/aruco/dictionary.hpp File Reference](https://docs.opencv.org/4.x/dc/df7/dictionary_8hpp.html) in the cv::aruco::PREDEFINED_DICTIONARY_NAME enum.

In this case index 6 is referring to cv::aruco::DICT_5X5_250 while index 5 in pla

[2022-10-08 07:25] ghost commented on #1764
I also face the same problem. Is there any solution for this? As @fkavache said, this is what I've got from run ninja
![image](https://user-images.githubusercontent.com/112921034/194695418-35979153-e765-405d-a628-0eba5d3f9bc5.png)
and this is what's inside my cmakelist.txt
![image](https://user-images.githubusercontent.com/112921034/194695472-625778f7-75a8-4672-a3d7-12979cfb2f73.png)
but still get

[2022-10-08 21:31] DrMaxP commented on #1838
That could be useful, but it gives the dimensions of what is under the white cover, not the cover itself - although most dimensions can be inferred from this file.

[2022-10-10 13:34] ChristianCella opened #1846 "Obtain the 3D coordinates of a point starting from its pixel coordinates"
Hi, I am new to the community and I would like to ask for help, if I may. Recently I've been struggling with obtaining the information in terms of 3d coordinates by starting from pixel coordinates. To be clearer, in the 2D image I succesfully detect one point that I need and, tehrefore, I know its coordinates in terms of pixels (px, py); subsequently, I would like to use the function convert_2d_to

[2022-10-10 15:38] pwegener93 commented on #1830
Thank you.
Can you describe it a little bit more? Is the solution to add "DeviceCapability" in the app manifest for usb or are there further steps which has to be executed?

[2022-10-10 18:27] dasparli commented on #1844
The lower threshold for the sync input signal to reliably trigger is Vcc * 0.7 which is 3.5V if Vcc is 5V.

The sync output from one of the subordinates is 5V so if the Optitrack system can't handle this voltage you may need to consider stepping it down first.

[2022-10-11 21:07] amantley commented on #1843
Hi you can add an offset rotation as I have in this code here.
<img width="1313" alt="image" src="https://user-images.githubusercontent.com/22531620/195198253-297d50a5-b1fd-49a1-86fe-4ea489f24b56.png">
Then you can change the rotation in the inspector
<img width="486" alt="image" src="https://user-images.githubusercontent.com/22531620/195198370-086bc4c5-32dc-4b80-aee6-e2159ceafcb6.png">

[2022-10-11 21:13] amantley commented on #1833
Hi, are  you building for any or all of GPU CPU CUDA or DirectML?  Also what version of Cuda software do you have?  I am not have a problem with cuda and cudnn 11.4
<img width="505" alt="image" src="https://user-images.githubusercontent.com/22531620/195199439-ab0df522-39ae-4b32-bedd-a1a984270fb4.png">

[2022-10-12 02:25] ghkd3930 commented on #1843
hello. Thank you for answer. The method you provided is no different than adjusting the Y_180_FLIP of the TrackerHandler. If I raise my left hand, that friend also turns upside down and raises my left hand so that the mirror doesn't come out. I want a mirror-like picture.

[2022-10-12 06:07] a969152504 opened #1847 "Using synthetic ir images and depth images for body tracking"
Hi, i am trying to generate synthetic ir images and depth images by using a 3D human model from a scanner and a background which is captured from Kinect, and putting them into k4abt SDK to see if it can find the skeleton of the 3d model.
The value of depth images are calculated by opengl perspective view.
The value of ir images are decided by specular lighting and the depth.
However the results ar

[2022-10-12 10:23] blackdown commented on #1779
Same issue here

[2022-10-12 11:10] Zumra opened #1848 "Playback seek_timestamp() and get_next_capture() produce erroneous capture at the end of MKV"
If we access the MKV with subsequent calls to get_next_capture(), for the last capture in MKV we get valid both color and depth images.
From documentation:

This is true for all the captures in the MKV, but for the last one - returned capture has invalid depth image instead of a valid one which we know exists.

Repro code:
[code]
Actual result of the above code is:

Expected result is:

We've iden

[2022-10-13 08:32] bs97 commented on #1844
Thanks @dasparli!

[2022-10-13 08:32] #1844 closed, assigned to nobody

[2022-10-16 17:16] hadiiahmed opened #1849 "converting mkv files created by azure kinect with depth to mp4"
I would like to convert the dataset i created using recordings made by me via azure kinect camera to mp4 without losing any data
is that possible

[2022-10-18 16:42] qm13 commented on #1847
We implemented a virtual version of the Azure Kinect depth and RGB sensors including noise profile, placed AKDKs in multiple locations in a virtual scene with animated avatars, and ray traced the scene from the perspective of each AKDK.