[2021-04-26 01:09] axodox commented on #411
I decided to do it in my free time, so I can open source this thing. This repo is here: https://github.com/axodox/Azure-Kinect-UWP-Adapter, however there is not much to see yet. After initial testing I started implementing the actual kinect support, and also moving the example from WRL to C++/WinRT and latest C++. I will tell you once I have the color and depth frames coming from the kinect - as I

[2021-04-26 02:22] LuyaooChen commented on #1577
@diablodale I tried to test sensors using k4aviewer, and this problem still exist. BUT it can work on another computer!  So I think this problem is caused by hardware.
Thanks for your help again.

[2021-04-26 02:22] #1577 closed, assigned to qm13

[2021-04-26 07:06] muadiber commented on #1563
I have the same problem

[2021-04-26 14:06] cavisions commented on #1563
@anantley Are there any news here? Thanks in advance!

[2021-04-26 14:09] Noemata commented on #411
@axodox, very nice!

[2021-04-26 14:13] axodox commented on #411
I also tested driver installation on a regular machine, as I remembered that it could be a problem with custom drivers unless you buy a cert. Fortunately since this only requires a user mode driver so I can self sign it and if the certificate is installed it allows regular machines to use it without disabling secure boot etc.

[2021-04-26 17:52] qm13 commented on #1544
@zaalsabb please describe the symptoms you are seeing.

[2021-04-26 21:00] qm13 commented on #1580
@conatsera is correct. Body tracking requires both IR and depth images as part of the capture.

[2021-04-26 21:00] #1580 closed, assigned to qm13

[2021-04-26 22:10] #1561 closed, assigned to qm13

[2021-04-26 22:17] qm13 commented on #871
There is no committed date. The work is ongoing.

[2021-04-26 22:24] qm13 commented on #1125
@lewkoo That warning is expected. Please see the troubleshooting notes for AKDK in the documentation.

[2021-04-27 01:01] #1557 closed, assigned to JonathanESantos

[2021-04-27 01:21] #1556 closed, assigned to JonathanESantos

[2021-04-27 02:53] zaalsabb commented on #1544
@qm13 While I was using the Azure Kinect for streaming data, it suddenly stopped sending images, depth, and imu data. The issue still persists even after rebooting the computer and even when I use a different computer and different USB cables. I also encountered this issue on both Windows 10 and Ubuntu 18.04.

When I open k4aviewer I see the following errors:

(repeated) [ warning  ] : usb_cmd_lib

[2021-04-27 04:16] qm13 commented on #1544
@zaalsabb it really sounds like your Azure Kinect has died. Do you have another AKDK that you can use to verify the computer setup and USB cable are ok?

[2021-04-27 04:17] qm13 commented on #1544
Also does the device enumerate in device manager?

[2021-04-27 11:14] christian-rauch commented on #1472
Is there any news on this? The installation still requires copying the udev rules from this repo into `/etc/udev/rules.d/`.

[2021-04-27 12:32] aashutosh1997 commented on #1378
@jaygullapalli @qm13 any update on this? Need to get this fixed asap, willing to contribute if it could expedite things. Thanks!

[2021-04-27 13:38] zaalsabb commented on #1544
Unfortunately I don't have another Azure Kinect. I tried it on another computer with another USB cable and the problem still persists. The device does enumerate correctly in the device manager though.

[2021-04-27 20:12] qm13 commented on #1544
Can you access the RGB camera and mic array from another Windows application e.g. webcam.

[2021-04-28 06:29] l1346792580123 commented on #1578
Sorry for the late reply.  I have tested other format like BGRA, NV12 and YUV12, and these formats can work properly. And I have found that there are some warnings will appear when getting the above error. Does it matter?
![图片](https://user-images.githubusercontent.com/25956606/116356628-19381580-a82e-11eb-8085-c9f48cf8878b.png)

[2021-04-28 14:19] diablodale commented on #1426
Hi @qm13. Would you please reopen this issue as the PR did not fix it.
Alternatively, I can open another bug duplicating this one so the need for correct fix isn't lost. But I would rather not dup a bug.

[2021-04-28 15:36] lavender-mkl opened #1581 "How can I get the depth value of a specific point in the image from the live stream of Azure Kinect"
I'm working on a project. This project involves a person reaching into the box to take the parts, and then assemble the parts. I want to know the depth value of this person's hand when he caught the box, so that I can judge whether this person has grasped the box or not, how can I get the depth value?

[2021-04-28 22:20] qm13 commented on #1578
@l1346792580123 these warning indicate that the GPU did not have enough cycles to complete processing the raw data from the camera. If this persists your GPU is not powerful enough for the combined workloads you are putting on it.

[2021-04-29 03:37] zaalsabb commented on #1544
I tried to access the RGB camera using Zoom since the device is listed as a webcam option. However, when I select it all I get is a black screen. As for the mic, Zoom is able to receive the signal with no issue, as seen in the bottom left corner of the second image I attached.

![image](https://user-images.githubusercontent.com/46609733/116499284-cedc8600-a879-11eb-8827-88952dd3a8b2.png)
![image](

[2021-04-29 05:11] qm13 commented on #1544
I assume you see the same problem with the RGB camera on other Windows systems. It really sounds like you have had a partial failure of your Azure Kinect DK. You can find instructions to replace the device [here](https://support.serviceshub.microsoft.com/supportforbusiness/create?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813).

[2021-04-29 14:45] diablodale opened #1582 "request clarify open-source MIT licensing for Body Tracking SDK headers"
Hi. I request that the Body Tracking SDK clarify and grant open-source licensing for the headers that are in the `sdk\include` directory. Naturally, I would prefer larger parts of the SDK, but first 👶👣

1. The text at the top of those (currently 4 files) are inconsistent. Some files write it is MIT license. 👍 Other files have nothing listed; meaning no license grant. 👎
2. The text within the top l

[2021-04-29 16:13] diablodale opened #1583 "`scripts/verify-windows.ps1` fails to find installed python3"
` scripts/verify-windows.ps1` does not find python3 that has been installed by Windows itself. The script reports the error

[code]

### Setup

* Microsoft Windows [Version 10.0.19042.928]
* Python3 installed direct from the Windows App Store. Windows key, store, search for python3, install.
* The remaining components described at https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/d

[2021-04-29 19:06] fractalfantasy commented on #1562
Thanks @vladalx

1. Yes  k4abt_simple_3d_viewer.exe from Program Files works
2. Yes we are using the sample code from git

--

We actually got the sample running by replacing .dlls in the v1.0.1 NuGet but there were stability issues (it was a hacky solution).

Decided to take another route using a third party node, everything seems installed fine but getting this error when trying to initiate the

[2021-04-29 22:54] crystal-butler opened #1584 "using clock() to time --record-length of k4arecorder incorrectly checks against process execution time"
**Describe the bug**
Setting the length of a recording using the `--record-length` option to `k4arecorder` does not produce recordings of the requested length.

**To Reproduce**
Steps to reproduce the behavior:
1. run `time (k4arecorder --record-length 600 <output.mkv>)`
2. Compare the `real` run time of the command to the requested recording length (it should be quite a bit more than the 10 minut

[2021-04-30 04:04] Noemata commented on #411
@axodox, that is correct.

[2021-04-30 08:57] axodox commented on #411
I have not have much time this week yet, but I managed to finish the move from WRL to c++/winrt, and figured out the class activation architecture and now it loads properly. I also implemented framerate / format / resolution selection for depth and color streams, and tested them with the WinRT Windows.Media.Capture APIs from an UWP app. The next step is forwarding actual Kinect data streams to the

[2021-04-30 10:03] ipa-vsp opened #1585 "Camera calibration and transformation"
Hello,

I am trying to calculate the dimension of a box placed on the table using Depth data. Therefore, the Azure Kinect camera is placed above around 70 cm above the table and facing the top surface of the box. During the calculation, on the Y axis, I have calculated a 6.08 degree of tilt, which is expected because of the [depth sensor tilt.](https://docs.microsoft.com/de-de/azure/kinect-dk/coor

[2021-04-30 14:27] nlemoult commented on #871
I join the discussion to also show my interest for body tracking support on a Jetson Xavier NX / ARM64 platform.

We are developing an embedded solution that would really need this support. Happy to learn that the work is underway. Despite the lack of a beta release date, this is already interesting news.

[2021-04-30 18:46] fractalfantasy commented on #1495
@SirLynix sorry just realize I left this unanswered... yes I removed the barrel distortion using a distort filter in photoshop (didn't do anything additional. Was trying to understand what was going on.

Your answer makes sense, depth_to_color transformation isn't just distortion correction but the depth pixels need to be re-aligned to the rgb image. And this process creates even more gaping holes

[2021-05-01 07:24] knat opened #1586 "[Feature request]More hand joints"
Kinect has only 4 hand joints(WRIST,HAND,HANDTIP,THUMB), a typical 3D model(https://www.mixamo.com/) has 21 joints:
![joints](https://user-images.githubusercontent.com/10220052/116774658-b2fefd00-aa90-11eb-9175-03e8c648f908.png)
![joints2](https://user-images.githubusercontent.com/10220052/116841409-b5399680-ac0b-11eb-9335-1ef703829636.png)

It's hard to map kinect joints to model joints, the avat

[2021-05-01 15:41] diablodale commented on #1585
HI. The Kinect documentation discusses all of this and the sdk provides functions. I recommend you read all the Kinect docs starting with all of the HOWTO guides at https://docs.microsoft.com/en-us/azure/kinect-dk/about-sensor-sdk

[2021-05-02 08:02] #1585 closed, assigned to nobody

[2021-05-02 14:06] lavender-mkl opened #1587 "how can I Azure Kinect in opencv(c++) show the depth image"
I want to use opencv to show real-time depth images, how can I program it?

[2021-05-03 10:21] meiler-inunum opened #1588 "Frames with varying color/depth shifts (some frames are fine, others are noticeably off)"
**Description**
Some frames show a shift between the color and depth information. Our suspicion is that
this is not a calibration issue, since it is not consistent. Some frames are fine, others aren't.
The following images show two frames recorded within half a second of each other and almost no movement in between.
We also had a look at the timestamps sent with the depth and image data which were

[2021-05-03 13:14] diablodale commented on #1587
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1209
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/opencv-kinfu-samples

[2021-05-03 14:44] christian-rauch opened #1589 "missing firmware"
**Describe the bug**
Firmware files are missing.

There are no firmware files in the source or build directory that have a filename pattern like `AzureKinectDK*.bin`. The folder `firmware` only contains a source to build the library `libk4a_firmware.a`.

**To Reproduce**
1. download and build SDK from https://github.com/microsoft/Azure-Kinect-Sensor-SDK
2. search for firmware files: `find -name *.

[2021-05-03 15:47] christian-rauch opened #1590 "failed to detect a second device after an attempt to open both"
**Describe the bug**
After attempting to open 2 devices in parallel via a single USB controller, the SDK is unable to detect the second device. While the original issue is mentioned in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1049, this is a request to fix the SDK error, that prevents using one of the two devices, after opening both devices via a single USB controller in paralle

[2021-05-03 19:09] qm13 commented on #1590
The Azure Kinect Sensor SDK does not currently support Ubuntu 20.04. Support is included in the next update.

[2021-05-03 19:10] qm13 commented on #1589
The Azure Kinect Sensor SDK does not currently support Ubuntu 20.04. Support is included in the next update.

[2021-05-03 19:13] christian-rauch commented on #1589
The firmware will still be missing if I clone and build this repo on Ubuntu 18.04, I assume.

Or can you point me to where the binary firmware is within this repo, or where it is built?

[2021-05-03 22:33] qm13 commented on #1562
@fractalfantasy can you verify you are attempting to execute with DirectML? If so what is the version of Windows you are using.

[2021-05-03 23:17] fractalfantasy commented on #1562
yes trying to initiate the DirectML model
Windows 10 (v.1909)

--

Fyi this is the thread where we are trying to figure it out:
https://github.com/wouterverweirder/kinect-azure/issues/40

[2021-05-04 06:21] meiler-inunum commented on #1588
No change in the behaviour after the firmware update to 1.4.1.

I uploaded a recording which again shows the effect quite well:
[https://www.swisstransfer.com/d/02ad2696-6373-4ff9-98d8-abc730e2adcb](https://www.swisstransfer.com/d/02ad2696-6373-4ff9-98d8-abc730e2adcb)

If you look at the frame with timestamp 20011866 you will see a significant shift in the color layer on the edge of the meeting ro

[2021-05-04 08:40] HlibKazakov2000 commented on #1589
I have checked the content of both `libk4a1.4` and `libk4a1.4-dev` packages using `apt-file list` and it seems like the firmware was not included in any of them.
We will keep you posted.

[2021-05-04 13:12] christian-rauch commented on #1590
I am perfectly able to use both Kinects at 720p via the UVC (USB video device class) interface in Ubuntu. E.g. I am able to show both cameras via two instances of `guvcview`.

I believe the limitation is just an issue with this SDK, not with the hardware.

[2021-05-04 13:14] christian-rauch commented on #1049
As mentioned in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1590#issuecomment-831930834 you can use at least two Kinects via the UVC interface as generic USB cameras on a single USB controller without issues.

[2021-05-04 16:03] kfzyqin opened #1591 "Issues with Azure Kinect Body Track Code"
Hi,

I am a developer of Azure Kinect. I tried to build the code in the following link with Visual Studio 2019:
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/csharp_3d_viewer

However, I could not get the GPU working for estimating joints. I can see the red light is on for Azure Kinect, but nothing is showing up.

For more details, please refer to this questio

[2021-05-04 19:07] qm13 commented on #1562
@fractalfantasy looking over this thread is it correct that you can get k4abt_simple_3d_viewer.exe running with DirectML but cannot get your project running?
If that is the case can you please verify you have the correct DLLs in place for your project.

[2021-05-04 19:46] fractalfantasy commented on #1562
Yes k4abt_simple_3d_viewer.exe runs with DirectML fine.

Not sure if you saw the thread I linked, we’ve been trying to update the kinect-azure node but lack of NuGet is making things difficult, still figuring out how to get the .dll referenced properly.

Are you planning on adding NuGet in the future or is it not possible with this architecture?

[2021-05-04 21:17] qm13 commented on #1590
Could this be a bandwidth issue? Seems from your notes above that the first device works fine in k4aviewer but all fails when you invoke the second instance of k4aviewer.

[2021-05-04 22:30] qm13 commented on #1588
@meiler-inunum  sorry, what tool should I use to view .las files?
I cannot see the issue in the two frames you reference. I assume by color layer you are referring to the colorization of the depth image and not the RGB camera image?
Couple of other points: the depth camera uses modulated IR to measure distance which can be affected by direct sunlight through the window, and you can also get a mult

[2021-05-05 05:08] meiler-inunum commented on #1588
Thanks for your response! You can open the pointcloud files in CloudCompare: [https://www.danielgm.net/cc/](https://www.danielgm.net/cc/) (a well known open source pointcloud/mesh application).

I took two screenshots and marked the areas of interest:
[https://imgur.com/a/W4v1T9d](https://imgur.com/a/W4v1T9d)

As you see in the first image the color is shifted. Some pixels representing the wall ar

[2021-05-05 17:06] knat commented on #1586
Avatar's hand motion vs. acting person's: https://youtu.be/NWtCrM40G5g
I think there're two issues:
1) Kinect hand joint count is too small;
2) As reported in #1528, "the Azure Kinect's tracking of hands rotation is sometimes buggy (seems to rotate very fastly in random directions)"

[2021-05-05 17:19] H-Park commented on #1561
Sorry, we were exploring other hardware options for our product. Here are some logs on an Ubuntu 18.04 box.
@qm13

[code]

#375 and #1260 are probably related, but they were closed because they weren't being reported on the official supported Linux OS.

[2021-05-05 21:33] qm13 commented on #1588
@meiler-inunum It sounds like you mean the RGB overlaid on depth point cloud (3D button in k4aviewer).
This looks suspiciously like multi-path were the IR light is returning to the sensor via more than one path. This manifests as bowing of edges. Moving the sensor will change the path(s) resulting in changing depth values. The RGB image is mapped onto the depth image so if the depth is wrong the r

[2021-05-06 09:11] meiler-inunum commented on #1588
I think I should elaborate a bit more about our setup. Maybe this will help to clarify any misunderstandings.

We use the Azure Kinect as a sensor and process all the data in our own framework. This contains a registration algorithm building up a pointcloud. Meaning we end up with a pointcloud of the whole scene and a trajectory. This trajectory will then be used to project the color information o

[2021-05-06 17:28] qm13 commented on #1591
Does the pre-built k4abt_sample_3d_viewer.exe included in /tools work?
What GPU mode are you using?
What version of Windows 10 are you using?
What version of CUDA are you using?
Do you have the necessary CUDA / TensorRT DLLs in place?

[2021-05-06 19:52] #1426 closed, assigned to HlibKazakov2000

[2021-05-06 20:22] #1287 closed, assigned to qm13

[2021-05-06 21:48] jaygullapalli commented on #1570
Hello, one of our team members looked into a similar issue in the past. This is the summary - The issue you notice is due to [Subsurface scattering](https://en.wikipedia.org/wiki/Subsurface_scattering). Certain colors of Lego block (such as red) are translucent in IR light, which means that there isn’t really a clearly defined surface in the IR for the time-of-flight measurement to range to. The m

[2021-05-07 03:23] tctoki opened #1594 "Question about the maximum skeletons the kinect tracks"
Hi, I have a question about the maximum number of the skeletons tracking.

Since the maximum number of the skeletons Kinect can detect is six, if I have more than 6 people in front of the Kinect, will it get the closet six skeletons, or will it get the first six skeletons that it detects no matter what distances from the Kinect, or it depends on the skeleton confidence?

Another question is for th

[2021-05-07 14:36] kfzyqin commented on #1591
pre-built k4abt_sample_3d_viewer.exe works fine.
What is a GPU mode?
CUDA 11.1.
I will check about the other information.
---- More Information -----
Windows 10 version: Windows 10 home Version 2004
I have installed CUDA 11.1 and CuDNN.

[2021-05-10 00:34] crystal-butler commented on #1578
I am getting the "malformed image data" error originally described by the reporter of this bug when viewing or recording the color camera stream, but under the following environment:
Platform & OS: ARM, NVIDIA Jetson Xavier NX, Linux Ubuntu 18.04 (4.9.201-tegra)
SDK Version: 1.4.1
Firmware Versions:
- RGB camera firmware: 1.6.110
- Depth camera firmware: 1.6.79

This issue occurs with all combinat

[2021-05-10 08:12] kfzyqin commented on #1562
I believe I am facing the same problem. What is your GPU?

[2021-05-10 14:24] LuyaooChen commented on #1081
why it will project the point in color camera space to the distorted color image rather than the undistort color image? I think there is doing something to distort the points so that it can align with the color in the `transformation_project_internal`.  Am I right?

[2021-05-10 15:54] madhawap opened #1595 "How to run csharp_3d_viewer Azure-Kinect-Samples with Azure Kinect Body Tracking SDK version 1.1.0"
**Problem description:**

I am trying to run the Azure Kinect C# sample project (csharp_3d_viewer) listed [here](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/csharp_3d_viewer) in Azure-Kinect-Samples GitHub repo on GeForce 30 series GPU (NVIDIA GeForce RTX 3070). When I run the project on Visual Studio (2019) with ```TrackerProcessingMode.Gpu```, the window f

[2021-05-10 18:26] qm13 commented on #1562
All, we are working in a new NuGet package which will be released soon. This package will NOT include any of the NVIDIA required DLLs. It will also include only the normal model. NuGet packages are limited to 250MB in size and many of the NVIDIA DLLs have ballooned to far exceed this limit.

[2021-05-10 18:29] qm13 commented on #1595
@madhawap please see #1562. There currently is no NuGet package for v1.1.0. Follow the instructions in this issue to move the necessary files into place.

[2021-05-10 19:05] qm13 commented on #1588
@meiler-inunum are you using AE? There is an issue with AE that sometimes results in a color frame being slightly out of sync.

[2021-05-10 22:09] crystal-butler commented on #1578
To follow up with additional information, an mkv recording that halts during playback as described in my previous comment can successfully have the RGB stream extracted using MKVToolNix. Visual inspection of the video output of `mkvextract` shows that the frames causing playback of the mkv file to halt are partly corrupted, with horizontal bars of solid color or what looks like data from an adjace

[2021-05-11 05:05] meiler-inunum commented on #1588
I'm not explicitly using it, but neither did I set anything to disable whatever might be running on the device. I didn't find anything on the k4a api to disable the audio parts. Do we have to use another api to disable it entirely?

[2021-05-11 14:45] fractalfantasy commented on #1562
This has been super confusing, but we figured out it has something to do with windows library search order - the problem is that it loads the system directml.dll instead of the custom dll (likely because the system's directml.dll it's already running / loaded into memory).
https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-search-order

I think we'll get to the bottom of it t

[2021-05-11 20:53] qm13 commented on #1588
Sorry for the confusion. AE = Auto Exposure. Are you using auto exposure or manual exposure?

[2021-05-11 23:14] qm13 commented on #1578
@crystal-butler there are two problems here 1) you are getting bad frames in the recording; and 2) k4aviewer stops when it encounters a bad frame. We agree that k4viewer should skip bad frames rather than stopping play back (happy yo take a PR to fix the k4viewer). The getting bad frames in the recording it likely due to either the USB or drive performance.

[2021-05-12 06:03] meiler-inunum commented on #1588
Not sure about the scan I uploaded but in general I disable it to get more consistent images.

[2021-05-12 11:51] T-Captum commented on #698
I am doubtful the pipeline as proposed by fishcu will actually result in undistorted images. Here is why:
When using `transformation.depth_image_to_color_camera` the depth image is transformed into the color camera space. However the depth image has a different distortion than the color camera. And afterwards we only undistort with respect to the color camera. For this to result in an undistorted

[2021-05-12 14:01] vpenades opened #1596 "[KinectV2] Microsoft.Kinect nuget package to support Net5"
First of all, I am fully aware this is not the right place to request something related to the now outdated KinectV2 sensor, but I don't know any other place to ask, other than the old KinectSDK forums, which now seem to be dead. My hope is that someone here might point me in the right direction, or know who should I contact.

**Is your feature request related to a problem? Please describe.**

Our

[2021-05-14 12:04] MaxPalmer-UH opened #1597 "Anyone successfully using this USB card: DELOCK 90308 PCI Express x8 Card to 8 x external USB Type-C"
There has been some discussion in other [threads ](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1401) about whether this USB C expansion card works with multiple Azure Kinect devices (supporting both data and power), but no one has confirmed this. Is anyone successfully using this expansion card with more than one Azure Kinect using a USB-C cable for both power and data?

@tim-depth

[2021-05-14 12:50] H-Park opened #1598 "Enumeration Errors on Ubuntu 18.04"
Because Issue #375  , and #1260  are closed, I am opening this issue to inform the developers that the Azure Kinect is NOT stable on Ubuntu 18.04.

I have two desktops running 18.04, and each are experiencing issues around enumerating the azure kinect.

Machine 1:
[code]
ID 045e:097a is missing.
[code]
Machine 2:
[code]
ID 045e:097c is missing.
[code]

Additional SDK logs provided below.
[code]

T

[2021-05-14 21:28] kimjetam commented on #1230
I discovered this issue too, with nuget package Microsoft.Azure.Kinect.Sensor 1.4.1. Are there going to be an update in the future @qm13 ?

[2021-05-17 15:10] zapaishchykova commented on #810
hello,
I encounter the same error with Jetson Nano in headless mode and 4 kinects
What I Have tried and what did not work:
1. Setting export DISPLAY 1 or 0
2. Updating SDK packages to 1.4.1 from https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/libk/libk4a1.4-dev/
3. Buying one of the dummy display plugs also did not resolve the issue.

Any help would be really appreciated!

[code]

[2021-05-17 16:57] christian-rauch commented on #810
I see that only 3 of the 4 cameras were detected. Is this maybe a bandwidth issue with the fourth camera?

To verify that this is not your code or the bandwidth limitations, could you start the azure kinect viewer with only a single camera connected?: `DISPLAY=:1 k4aviewer`

 I am using a Kinect in a setup with a connected, but powered-off screen, and an Xserver starting on boot. I noticed that th

[2021-05-17 21:05] fi6 opened #1599 "Point cloud compensate in empty area"
**Describe the bug**
Points are filled in the empty area which is a disturbance in some high-accuracy applications.

**To Reproduce**

**Expected behavior**
Add a 'high accuracy' parameter or related ways to turn off the compensate feature.

**Logs**

**Screenshots**
![Screenshot from 2021-05-17 16-48-08](https://user-images.githubusercontent.com/45503345/118556098-750d0480-b731-11eb-982a-2d737d41

[2021-05-18 00:03] diablodale commented on #1581
I recommend you read the SDK documentation and then review the example code.

The SDK documentation has tutorials for how to get body tracking information for joints including the hand. https://docs.microsoft.com/en-us/azure/kinect-dk/build-first-body-app
You can easily get the x,y,z real world coordinate. If you want a depth value you can transform the x,y,z coordinate into a depthmap coordinate

[2021-05-18 02:20] naotoerg opened #1600 "Unity BodyTracking Sample catching exception for background thread result = K4A_RESULT_FAILED"
**Describe the bug**

unity Example stops at init, catching exception for background thread result = K4A_RESULT_FAILED

I have found possible typo on MoveLibraryFiles.bat.
`
copy %BODY_TRACKING_TOOLS_PATH%cudnn64_cnn_infer64_8.dll./
copy %BODY_TRACKING_TOOLS_PATH%cudnn64_ops_infer64_8.dll
`
Azure Kinect Body Tracking SDK did not have such two files.
But it had

[code]

Unfortunately fixing these t

[2021-05-18 14:50] ewwll opened #1601 "depth camera question"
Hello, when I use Azure kinect, I can’t open the depth camera but I can open the normal rgb camera. Why is this?
and my code error：
[ error ] : find_libusb_device(). Unable to find Container ID: {27425d48-b481-4111-a593-a89e9f44d4ca}
[ error ] : usb_cmd_create(USB_DEVICE_COLOR_IMU_PROCESSOR, NULL_INDEX, container_id, &colormcu->usb_cmd) returned failure in colormcu_create()
[ error ] : colormcu_cr

[2021-05-18 18:47] jessekirbs commented on #536
@nicolascarre Hey Nicolas - would you please provide your sample using NAudio to capture audio? It would be most appreciated. Thank you!

[2021-05-18 23:14] anantley commented on #1563
@cavisions, there is a fix now for the threading problem, with an updated readme and batch file.
https://github.com/microsoft/Azure-Kinect-Samples/pull/61

[2021-05-19 03:01] yuemasy opened #1602 "Camera gets disconnected"
We have a desktop with two NVidia gpu cards. One GPU with low performance is used for camera, display and other calculation tasks. Another with better performance is used for other tasks. During running reliability test, after some time, the camera gets disconnected.  We suspect two reasons. One is that when the whole system running at full workload, the power supply may be not enough. then the us

[2021-05-19 11:16] maggieroxas commented on #1283
Bump, too. The USB/power connections (and Nano) are inside our robot, it is unusual that we have to open up the robot every power-up to access these cables and reconnect the Azure for it to work...

[2021-05-19 15:28] guss2149 commented on #1401
I have not tried that one. It's too long of a lead time for us here in the US. But I've tried the Startech https://www.startech.com/en-us/cards-adapters/pexusb312c3 which does not work. I called Startech and he helped me to see what chipset is compatible with the Azure Kinect. From the product page: "For the Azure Kinect DK on Windows, Intel, Texas Instruments (TI), and Renesas are the only host c

[2021-05-19 18:11] theHamsta opened #1603 "Problems building using Clang-13 - code bases uses reserved underscore type names at global scope"
I'm having problems building this project using clang-13 on Linux (gcc works just fine). The reason seems to be the usage of underscore type names that clang does not allow at global scope. I hope I did not oversee another issue. This issue didn't fit well into the available issue templates so please tell me if you need more info. I guess the compiler message already tells what the problem is.

[c

[2021-05-20 14:47] naotoerg commented on #1600
I got the sample project working.
Not really a solution but, I copied all the dlls from the SDK to the unity project and now it works.
I assume that the batch file is missing some files to copy.

[2021-05-20 15:08] WhimsicalToyBox commented on #1600
It's not a radical measure, but if you use ```TrackerProcessingMode.Cuda``` instead of ```TrackerProcessingMode.Gpu``` when initializing Tracker, it will work for the time being.

https://github.com/microsoft/Azure-Kinect-Samples/blob/master/body-tracking-samples/sample_unity_bodytracking/Assets/Scripts/SkeletalTrackingProvider.cs#L46

[2021-05-21 02:18] naotoerg commented on #1600
Thank you for the tip!
Cuda mode works a lot faster then GPU mode!

To run the sample in Cuda mode, you still need to copy some dlls by hand.

copying these three from the SDK folder to the root of the project worked for me
[code]

[2021-05-21 06:18] saulthu opened #1604 "Python API serial number has bytes repr"
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/a20f4687bb6b94e465cab01f3f682e7050337b61/src/python/k4a/src/k4a/_bindings/device.py#L209

The serial number returned as a string has come from a bytes object so instead of being a str like 000123456789 we actually get b'000123456789' with the 'b' and with the quotes inside the str. This might be fixed by changing the above line to:

[2021-05-21 06:23] VegetableWithChicken commented on #1601
**set like this:**

StartFragment-->NativeKinectDevice = k4a::device::open(DeviceId);
// Start the Camera and make sure the Depth Camera is Enabled
k4a_device_configuration_t deviceConfig = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;	  	deviceConfig.depth_mode = DepthMode;
deviceConfig.color_resolution = K4A_COLOR_RESOLUTION_1080P;
deviceConfig.color_format = K4A_IMAGE_FORMAT_COLOR_BGRA32;
deviceConfig.wi

[2021-05-21 06:27] VegetableWithChicken opened #1605 "I want to know how to get the Rotator of AzureKinect Device"
Yes, I want to get the rotation of the device itself. For example, when I pick up the camera and rotate it, I can get a rotation angle information of myself

[2021-05-21 07:18] saulthu commented on #1605
Getting IMU samples and using the accelerometer vector gives you orientation relative to gravity, assuming the camera is not being moved. This doesn't give a heading direction however.

[2021-05-21 09:46] VegetableWithChicken commented on #1605
so nice for u ,but i just want to know the relative rotator  to device itself, the data of rotator will help me to transform the other camera.

[2021-05-21 09:52] saulthu commented on #1605
You want rotation to the device relative to what? Sounds like you want it relative to another camera. That is something you must work out yourself, it is not provided by the device i.e. they provide no extrinsic calibration parameters, nor any way built-in to find them.

[2021-05-21 14:56] Moovency opened #1606 "k4abt_sensor_orientation_t not working anymore"
Hello,

The sensor_orientation parameter seems to not be taken in account anymore.
No matter the value we set, bodies are only detected with the camera beeing on its normal position.

Could you check if you have the same issue please ?

Thank you.

[2021-05-24 13:21] vongomben commented on #1053
Dop you think this is going to be implemented soon?
The hancd traking is now reaching the hand tip
https://microsoft.github.io/Azure-Kinect-Body-Tracking/release/1.1.x/group__btenums.html

[2021-05-24 18:08] diablodale opened #1607 "request publish the build scripts for open-source parts of body tracking (e.g. onnxruntime)"
I request the build scripts/instructions for all the open-source components used by the body tracking sdk.

For example...document how to build `onnxruntime.dll`, `onnxruntime_providers_shared.dll`, and `onnxruntime_providers_tensorrt.dll`. These are already [owned and open-sourced by Microsoft](https://github.com/microsoft/onnxruntime) itself. And if there are more such components, do the same fo

[2021-05-24 22:03] jaygullapalli commented on #810
Hello zapaishchykova,

From the logs it looks like OpenGL context is not available, which is why depth engine initialization fails. Did you enable autologin for the user account that you SSH with? The steps for headless operation are listed here: https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#using-azure-kinect-on-headless-linux-system

Going through the specifications of Jetson

[2021-05-25 07:09] zapaishchykova commented on #810
Dear @jaygullapalli and @christian-rauch,
Maybe my logs were a bit confusing but I have no problems with detecting all 4 cameras - just in this specific test run i connected 3 of them. I increased Jetson power supply and I am capturing non-real-time data - which means fps lower than 5.

Also, my code works with the display connected and all 4 cameras - so this only happens when I try to run in wit

[2021-05-25 08:40] zapaishchykova commented on #810
Huh interesting, when I start the session with a connected display and set `export DISPLAY=:0` everything works even when i afterwards disconnect the screen .... I did those steps to set up the autologin https://vitux.com/how-to-enable-disable-automatic-login-in-ubuntu/, is there something that I'm missing?

UPDATES:
okay, so here is the thing: I can capture with 3 Kinect via ssh connection with n

[2021-05-25 09:06] qm13 commented on #1596
Kinect for Windows v2 was discontinued in 2017. There are no plans to update the software.

[2021-05-25 09:06] #1596 closed, assigned to qm13

[2021-05-25 20:22] Chris45215 commented on #1576
The multiple-frame latency when body tracking is something I have reported several times. There is a way to remove one of those frames, but at 30FPS there are two more frames of latency that I have not been able to remove. I recorded a video documenting it, showing that even in the 5FPS mode there are 2 frames of latency, at https://www.youtube.com/watch?v=7Jc7KhoPWdc. I consider that video to be

[2021-05-25 20:45] qm13 commented on #1576
We have verified that the memory leak is in the ONNX Runtime. We have also verified that it is fixed in master. ORT v1.8 is expected to release in June and we plan to update the BT SDK to use ORT v1.8.

[2021-05-25 21:06] diablodale commented on #1583
My fix (which you are welcome to copy) is to update `verify-windows.ps1` as follows

line 85 change from
[code]

to

[code]

Using `python3` is a reliable method to check if python v3.x is installed and available on the path, and it works across all platforms, install types, app execution aliases, shortcuts, etc.

[2021-05-26 02:03] #1584 closed, assigned to HlibKazakov2000

[2021-05-26 07:02] rjam-xav opened #1610 "Support for ARM/ARM64"
Hello,

Is the Microsoft Kinect SDK supported on ARM64 architectures like the Jetson Nano? The website still lists hardware requirements as x86 architecture but I see the git show support for ARM as well.

Thank you.

[2021-05-27 07:59] knat commented on #1586
as demonstrated in the video, unstable hand rotation is a bug.

[2021-05-27 11:19] AndreV84 commented on #1064
anyone was able to open kinect DK from gstreamer? is there any example of the pipeline?
was-b is there an example opencv opening kinect DK video stream? Typically I would open usb camera using gstreamer v4l driver , but how to open RGB Kinect from opencv?

[2021-05-27 11:32] AndreV84 commented on #1064
@wes-b do you have opencv video example that we could adopty into the file to open the video stream with it? https://github.com/AndreV84/mediapipe/blob/master/demo_run_graph_main_gpu_mod.cc_updated
https://github.com/google/mediapipe/blob/master/mediapipe/examples/desktop/demo_run_graph_main_gpu.cc

[2021-05-27 13:43] taai commented on #1610
@rjam-xav Yes, it works with *Jetson Nano*, I'm using it right now (Jetson Nano Developer Kit, 4GB).

On the SD card install the "Jetson Nano Developer Kit SD Card Image" as an operating system. https://developer.nvidia.com/embedded/learn/get-started-jetson-nano-devkit

Fallow these instructions to install Azure Kinect SDK (use instructions for "Ubuntu 18.04"): https://docs.microsoft.com/en-us/azu

[2021-05-27 17:39] qm13 commented on #1610
Sensor SDK does support Jetson Nano range of ARM64 devices.

[2021-05-28 14:03] LogWell opened #1611 "What's the best way to save images from multiple cameras at the same time?"
I use `std::vector` to hold multiple images for multiple devices as:
[code]

When I transform images directly using the contents of a vector,
[code]

I get the following error:

[code]

If I define another image, it works fine:

[code]

How to solve this problem?

**What's the best way to save images from multiple cameras at the same time?**

[2021-05-29 09:17] senshin998 opened #1612 "there are warnings when body track v1.1.0 with cuda"
Can anyone tell me what this is？Does it  need to care about？

![QQ图片20210529170441](https://user-images.githubusercontent.com/17866598/120065009-c73f1580-c0a1-11eb-9ade-b989e0583679.png)

[2021-05-29 14:42] diablodale commented on #1612
duplicate of https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1555

[2021-05-29 14:50] diablodale commented on #1611
Your errors messages suggest the problem `image_handle (0x562bdc22e470) is not a valid handle of type k4a_image_t`. I suspect you are not correctly managing references.

I see you are using a mix of the C api (e.g. k4a_image_t, k4a_image_get_size) and the C++ api (k4a::image)
Use the C++ api for everything so that the c++ api will automatically manage references for you. There is no value for you

[2021-05-30 01:20] senshin998 commented on #1612
thanks

[2021-05-30 01:27] senshin998 commented on #1546
I have the same doubts，  poor performance for  body track v1.1.0 ,why ?

[2021-05-30 01:30] #1612 closed, assigned to nobody

[2021-05-30 01:43] senshin998 opened #1613 "why there is a poor performance of the DirectML/CPU with body track v1.1.0 ?"
Its current performance results in high lag and overconsumption of CPU even if you have a powerful graphics card or a powerful
 cpu, I was even optimistic about  body track v1.0.1 .what  difference between  v1.0.1 and  v1.1.0?

![QQ图片20210530094103](https://user-images.githubusercontent.com/17866598/120089290-4af11480-c12b-11eb-8de0-16ddcd3bba14.png)

[2021-05-30 16:12] seph14 commented on #1563
still crash on quit of standalone build.

tested unity 2019.1.2f1 / 2020.3.0 / 2020.3.1, windows10 personal / enterprise.

[2021-06-01 03:27] anantley commented on #1563
@seph14  I just did a fresh git and followed the directions from the readme and could not repro the bug.
Unity 2019.1.2

I did have some trouble getting the stand alone to run, but here are the dlls in the exe folder that worked for me
![image](https://user-images.githubusercontent.com/60194205/120261662-35740b80-c24d-11eb-9d2a-a992b9556cfe.png)

I had to close explorer and reopen it to get the dl

[2021-06-01 08:53] seph14 commented on #1563
@anantley that are the dlls I have. Just tested and still crashing.

Nothing meaningful in the log, only related to this might be the following lines:
[code]
These are the last lines in the log.

I changed process mode in SkeletalTrackingProvider to
`ProcessingMode = TrackerProcessingMode.Cuda`
But TrackerProcessingMode.GPU crashes for me too.

Other configs:
VS2017 (15.9.16) (which I think it's i

[2021-06-01 12:43] #1611 closed, assigned to nobody

[2021-06-01 16:58] danzeeeman opened #1614 "Cannot Connect to Kinect with ROG Strix TRX40-E or NVIDIA 2080 Super USB-C"
I have tried updating the motherboard's firmware and have tried the USB-C port on my NVIDIA 2080 Super and cannot get the device to show up.  I have performed a factory reset of the device with the reset button.  I have followed all troubleshooting and still cannot get the device to show up on my windows machine.

[2021-06-01 17:58] Fugashu opened #1615 "..\src\TrackerHost\TrackerHost.cpp (185): Create(). Find onnxruntime.dll at ...\x64\Debug\onnxruntime.dll but it doesn't load correctly!"
**Describe the bug**
We switched from Nvidia 980Tis to Nvidia 3070 RTX GPUs, included the latest Sensor and Body Tracking SDK (without NuGet) in our Visual Studio C++ Project. The Sensor SDK works totally fine. Unfortunately the Body Tracking SDK does not anymore when trying to create a k4abt_tracker instance. All DLLs were copied to the VS projects.

**Desktop (please complete the following infor

[2021-06-02 12:20] TheRealAndreas commented on #1534
For anyone stumbling upon this ticket.
I ended up getting the issue resolved on troublesome systems by installing:
**c++ redistributable 2015**
And
**c++ redistributable 2019**
Both seems to be needed, and sometimes included on PC's and sometimes not... I guess it depends on the vendor supplying the machines.

[2021-06-03 00:59] diablodale commented on #1615
I recommend you provide more detail. Your issue is too vague.

* Does the pre-compiled body tracking demo work? Run it in `C:\Program Files\Azure Kinect Body Tracking SDK\tools\k4abt_simple_3d_viewer.exe`
* Your separate cuda toolkit is irrelevant. You must use the exact DLLs that are distributed with the Body Tracking SDK. Including those specific CUDA DLLs...not your separate CUDA install.
* All

[2021-06-03 01:01] diablodale commented on #1614
The kinect azure is a webcam. And more.
You should be able to plug the Kinect Azure into a USB-C port. And then you can use it in Skype, Zoom, Camera app, etc.
If it does not work in any of those apps, it is probably a hardware problem. You might have a defective Kinect.
https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#device-doesnt-enumerate-in-device-manager

[2021-06-03 07:52] Fugashu commented on #1615
Thanks for your response.

- Yes, the pre-compiled demo works as expected without any issues.
- I separately installed the CUDA Toolkit, since I couldn't find the `cudart64_110.dll` inside `C:\Program Files\Azure Kinect Body Tracking SDK\sdk\windows-desktop\amd64` directory.  Apparently the `cudart64_110.dll` is inside `C:\Program Files\Azure Kinect Body Tracking SDK\tools`.

I replaced the dlls i

[2021-06-03 07:52] #1615 closed, assigned to nobody

[2021-06-03 12:49] Moovency commented on #1606
Hello,

Any update on the subject ?

Thank you.

[2021-06-03 14:00] shashwat623 commented on #1154
@qm13 onnxruntime 1.8 just realeased but the dependency of cuda DLLs in onnxruntime-gpu even for CPU inference has not been removed I guess...

[2021-06-03 21:34] DavidGoedicke commented on #1363
I am getting the same error.
What can I do right now to keep working on this before the bug gets fixed?

Thank You :-)

[2021-06-03 21:47] guss2149 opened #1616 "PCIe card with USB-C, 15w output ports"
Hello Everyone,

I was just wondering if anyone has been able to find a PCI express expansion card that works with the Azure Kinect Camera? The only ones I can find use the ASMedia USB Host chipset and that chipset is not compatible with the camera. The Microsoft support webpage says "Intel, Texas Instruments (TI) or Renesas" are the only ones compatible and I can't seem to find card that uses one

[2021-06-04 04:54] wangmiaowei opened #1617 "Question about the calibration output"
Well I am confused about the calibration output from the calibration_info.exe. How can I understand the following output:"{"CalibrationInformation":{"Cameras":[{"Intrinsics":{"ModelParameterCount":14,"ModelParameters":[0.5014757513999939,0.49704870581626892,0.49203813076019287,0.49193161725997925,4.72473669052124,3.2092227935791016,0.17059645056724548,5.0558595657348633,4.775780200958252,0.8864941

[2021-06-04 04:57] wangmiaowei commented on #1488
Well my output is as follows:
{"CalibrationInformation":{"Cameras":[{"Intrinsics":{"ModelParameterCount":14,"ModelParameters":[0.5014757513999939,0.49704870581626892,0.49203813076019287,0.49193161725997925,4.72473669052124,3.2092227935791016,0.17059645056724548,5.0558595657348633,4.775780200958252,0.88649415969848633,0,0,0.0001238211989402771,5.87981094213319E-6],"ModelType":"CALIBRATION_LensDisto

[2021-06-04 09:50] max246 opened #1618 "Kinect keeps failing"
Using the latest SDK and latest firmware, during the usage with Unity, the kinect fails and disconnect from the PC and it shows up:
- Azura LED
- Azure kinect 4k  camera
but the depth sensor is not showing up.

Unplugging the cable, and plugging back didnt work and not even restarting the pc.

I managed to reinstall sdk and shown up again but then after an hour it failed again.

[](https://ibb.co/

[2021-06-04 09:51] max246 commented on #1618
Picture of the list of devies [img](https://ibb.co/frc8SWq)

[2021-06-04 12:39] diablodale commented on #1617
The api provides the coefficients. https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions

examples...

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/04168adc949c44180c51d90a8b8d34807891ec85/examples/calibration/main.cpp#L85

and

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/04168adc949c44180c51d90a8b8d34807891ec85/examples/opencv_compatibility/main.cpp

[2021-06-04 17:28] jaygullapalli commented on #1363
@DavidGoedicke please use Ninja as the generator with cmake (instead of Visual Studio Generator). If you are building from command line then cmake .. -GNinja (from your build folder) and running ninja should work without issues. If you are building from within Visual Studio you can also change the Generator to Ninja (https://docs.microsoft.com/en-us/cpp/build/customize-cmake-settings?view=msvc-160

[2021-06-05 01:53] UnaNancyOwen commented on #1363
@DavidGoedicke You can work around this problem temporarily by changing the options manually, or using CMake 3.17.
(It's not so good work around. I consider that this measure isn’t going to lead to a solution that gets to the roots of the matter.)

[2021-06-05 05:54] scotthsu98052 commented on #1606
Please provide more info:
  BT SDK version
  OS version
  GPU model
  tracker_config.processing_mode
  Do you use default model file or you use other model files?

[2021-06-07 08:09] zhaocheng-hub opened #1619 "Camera calibration problem"
Hello! First of all, thank you for providing the calibration plan [https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration).

I have some questions,

Command `k4arecorder.exe -c 3072p -d PASSIVE_IR -l 5 board1.mkv` to capture calibration images for calibr

[2021-06-07 08:16] zhaocheng-hub commented on #1520
@FilipePires98  Hello，
The project now provides a calibration method [https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration)

[2021-06-08 13:18] haeginh opened #1620 "Azure Kinect Camera freezes on its first capture"
When set as 30 fps, the Azure Kinect Camera just freezes right after showing very first frame (it works for 15 or 5 fps).
The log was pasted below.
I have tried reset, firmware upgrade, connecting to the all the usb 3.0 ports I got.
The cpu of my laptop is intel i7 10th gen, and the graphic card is RTX2060.
OS is Ubuntu 18.04.

In addition, to be sure, I also tried with another Azure Kinect device

[2021-06-08 13:38] PierrePlantard commented on #1531
Dear @qm13,
Do you have a more precise expected date for when the cameras will be available again?
Best

[2021-06-08 16:35] qm13 commented on #1618
What operating system are you using? What SDK and firmware?

[2021-06-09 01:30] haeginh commented on #1302
I have got exactly same problem! But the difference is that mine used to work well and that another device still works okay with the exactly same setting... One trick you may be able to use is to lower your fps to 15 fps or 5 fps.. In my case it worked for low fps.

[2021-06-09 01:48] haeginh commented on #1620
I have tested several cases to clear out when it works and when it doesn't.
1. only color images -> works for all fps
2. color + depth (except for passive IR) -> works only for 15 and 5 fps (30 fps causes the problem specified above)
3. color + passive IR -> works for all fps
+ regardless of the fault in cameras, the other sensors keep works.

[2021-06-09 07:50] max246 commented on #1618
Using windows 10 with latest updates
Latest SDK 1.4.1

I think the issue might be connected to the motherboard using AsMedia usb controller, I am going to purchase a USB 3.0 PCI express which is using NEC chipset to confirm if that is the issue.
I read few people  having the same issue.

[2021-06-09 07:56] Moovency commented on #1606
BT SDK: 1.1.0
OS version: Windows 10.0.19042
GPU model : Nvidia Geforce GTX 1050
tracker_config.processing_mode : K4ABT_TRACKER_PROCESSING_MODE_GPU
For model file we use dnn_model_2_0_lite_op11.onnx and dnn_model_2_0_op11.onnx
The error appears with both of them.

[2021-06-09 08:24] Moovency opened #1621 "Unity crashes if we don't create the body tracker twice"
Hi,

SInce we use the new body tracker SDK (1.1.0), we need to create twice the body tracker in order to prevent unity from crashing when leaving the software.

Thank you for your help

[code]

BT SDK: 1.1.0
OS version: Windows 10.0.19042
GPU model : Nvidia Geforce GTX 1050
tracker_config.processing_mode : K4ABT_TRACKER_PROCESSING_MODE_GPU

[2021-06-09 13:21] UnityQueriesAsk opened #1622 "Unity and Azure Kinect DK gestures implementation references ?"
Hi All,

I am developing a Unity game using Azure Kinect DK. I need some references related to the below gestures.

Running - For player run
Jump - For player jump.

Can anyone share a few references related to this gestures or share an idea how can I implement these gestures.

Thanks in advance.

[2021-06-09 13:50] saulthu commented on #1605
The provided registration example is probably a good place to start: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration_registration

[2021-06-10 07:53] LiuYi000 opened #1623 "get_capture failed"
[](url)**Describe the bug**
A multithread was used. One is for acquiring capture and one is for other image processing. while running for sometime(sometime a few minutes and sometime even more than 24 hours), sdk get_capture() return error and the device stopped working.

**To Reproduce**
only happen on some specific PC, not easy to reproduce.

**Expected behavior**
The camera can get capture well

[2021-06-10 10:55] Ycao26 opened #1624 "Linux cant load depth camera"
**Describe the bug**
The depth sensor can be loaded when running on windows. But I run it on my Linux Ubuntu 18.04. It always shows same error messages:  Failed to start device! If you unplugged the device, you must close and reopen the device.

**To Reproduce**
opened the Azure Kinect Viewer through command  k4aviewer
click on 'open device' and 'start' with default options
error message pops up:

[2021-06-10 17:03] qm13 commented on #1624
Please try Sensor SDK 1.4.1

[2021-06-10 17:05] qm13 commented on #1623
Please upgrade to Sensor SDK 1.4.1 and latest firmware.

[2021-06-10 17:06] qm13 commented on #1622
Please look at https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples.

[2021-06-11 01:53] LiuYi000 commented on #1623
is this a bug in the current version I used and have solve in the latest version?

[2021-06-11 02:05] aanexplus commented on #831
Thanks! That works. I built a small app to batch process my mkv files with the offline processor. Do you or anybody know how to record or convert the data to bvh format?

[2021-06-11 07:08] benbenn69 opened #1625 "Body tracking crash on launch using 1.1.0 but works with previous version"
Hello everybody,

I meet a crash on launch of Body Tracking app using the last version 1.1.0. I'm using RTX 2060 and Azure Kinect
I tried with the previous one (1.0.1) and the app lauch normally.
I filmed in slowmotion to have time to see what's the error (sorry for the quality)

![bug](https://user-images.githubusercontent.com/85710873/121645488-8a592280-ca94-11eb-8df9-25e34c9a4e3a.jpeg)
![WhatsA

[2021-06-11 09:21] asergaz commented on #1624
Same question on Microsoft Q&A: https://docs.microsoft.com/en-us/answers/questions/430571/cant-load-depth-camera-when-running-in-linux-ubunt.html?childToView=432249#answer-432249

[2021-06-11 11:35] UnityQueriesAsk commented on #1622
Hi, Thank you so much for your response.

For Azure Kinect DK floor detection can you please share a few Unity and C# references?

Thank you.

[2021-06-11 17:35] Azzedine-Touazi commented on #831
I propose to use the Json file generated by offline_processor.exe. For example, you can use the python bvhtoolbox to convert from .csv to .bvh (of course after extracting and saving the Json 3D-joints into csv format…). Br.

[2021-06-12 00:07] diablodale commented on #1625
You have not provide enough information to make much progress assisting. I recommend you follow the instructions on how to open an issue here and to include your detailed setup, your sample code, the reproduction steps to do to reproduce the problem, etc.

Other than than, the problem is listed on the first line. It found onnxruntime.dll but it doesn't load correctly. This is probably a setup prob

[2021-06-13 05:54] Ycao26 commented on #1624
![Capture](https://user-images.githubusercontent.com/78380864/121796838-0e70ee80-cbea-11eb-9b18-f901c58215a7.PNG)
I meet an error when installing the 1.4.1 when using the command sudo apt install k4a-tools. My CPU is ryzen 9 3900x

[2021-06-13 05:54] Ycao26 commented on #1624
![Capture](https://user-images.githubusercontent.com/78380864/121796838-0e70ee80-cbea-11eb-9b18-f901c58215a7.PNG)
I meet an error when installing the 1.4.1 when using the command sudo apt install k4a-tools. My CPU is ryzen 9 3900x

[2021-06-13 11:02] Ycao26 commented on #1624
Could someone give me the whole command code of the installation of the SDK 1.4.1? Also, if I wanna copy 'scripts/99-k4a.rules' into '/etc/udev/rules.d/', should I just use sudo cp -a scripts/99-k4a.rules /etc/udev/rules.d/

[2021-06-14 00:46] anantley commented on #1621
Hi @Moovency is there any way I can see more of this code to see how the background thread is being disposed?

[2021-06-15 06:47] UnaNancyOwen commented on #1600
This problem will be solved with https://github.com/microsoft/Azure-Kinect-Samples/pull/62.

[2021-06-15 10:00] FilipeLopesPires commented on #1520
Hello @zhaocheng-hub , thank you for your comment. I was not aware of this recent update, this is great news.

[2021-06-15 11:41] zapaishchykova commented on #1079
hey @wes-b, why is it a problem to use a machine remotely? I have the same error with Jetson Nano headless mode and Azure Kinekts, and this error occurs completely randomly

[2021-06-15 16:30] aanexplus commented on #831
Thanks! I have the JSON file converted to CSV. I will explore the python toolbox to see if it can do what I want.

[2021-06-16 02:10] LiuYi000 commented on #1623
[Log.txt](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/files/6659797/Log.txt)
I haved upgraded to Sensor SDK 1.4.1 and latest firmware, but the issue still occurs.
this is the log for new version

[2021-06-16 21:18] vividaner opened #1626 "Dark image during sync two-kinect capture"
**Describe the bug**
I tried to sync two Kinect based on master-slave mode. The cameras were connected by a 3m 3.5mm audio cable. However, when I run the green screen code, I found the RGB image from one specific kinect was very dark. The other is OK. Both of the depths are OK. The dark image issue from this specific Kinect always appears no matter it's a master camera or slave camera. However, wh

[2021-06-18 17:34] aanexplus commented on #831
I have been able to convert my Quaternions into Euler but how did you build the hierarchy file? We can also talk via email (aanex2005@gmail.com)

[2021-06-18 21:06] GaneshBaronAloir commented on #1296
Hello,

I have the same issue and can't get past it. Anyone found a solution?

[2021-06-20 14:33] H-Park opened #1627 "Thread Safety"
Is the SDK thread safe? If two threads call a method on a device at the same, what will happen? Is it recommended to use a mutex?

[2021-06-20 18:38] ndaley7 commented on #803
Hello.... We're also interested in trying out the point cloud alignment(2 Camera setup) based on the Greenscreen example and are experiencing the same issues with the rotational/translational misalignment.... was a solution ever reached for how to overlay the clouds properly?
![2021-06-20 14_34_59-MeshLab 2016 12 -  Project_1](https://user-images.githubusercontent.com/17780361/122684710-09f19a80-d

[2021-06-20 18:44] ndaley7 commented on #803
This was able to fix the rotational Alignment Issue using this correction of the GreenScreen Example code:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1420

The Translational offset at least seems to be consistent based on the setup, so most likely we will compensate with a positional offset on all points from the secondary camera until a more comprehensive solution can be found.

[2021-06-21 00:59] senshin998 opened #1628 "It‘s so weird ,there is high gpu consumption (more than 35% ) even your shut down the tracker and just use cpu ,How to Fix this?"
windows 10 ,
Kinect.Sensor version="1.4.1"
nvidia  gtx 1080ti 11G.

code:

    tracker_config.processing_mode = K4ABT_TRACKER_PROCESSING_MODE_CPU;// just use cpu
    k4abt_tracker_shutdown(tracker);//shut dowm

result :
 gpu more than 35%

[2021-06-21 04:00] kvuong2711 commented on #1354
Hello! Is there any progress made on this issue? I have the same issue with the Azure Kinect on Jetson Xavier NX while running k4arecorder to record rgb, depth, and imu, where the color stream would break silently and the recorded mkv file got corrupted.

[2021-06-21 15:33] asergaz commented on #1624
@qm13 fyi can you follow-up. thanks

[2021-06-22 01:43] diablodale commented on #1627
in general, the SDK is intended to be thread safe. Sometimes bugs are found and fixed like https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/676

I have a multithreaded app with up to 16 threads all calling various K4A apis simultaneously. Naturally, I use the c++ api so that reference counting across threads, construction/destruction are handled automatically.

[2021-06-22 16:39] qm13 commented on #1628
Are you sure the GPU is being consumed by the body tracker? Windows 10 also uses the GPU.

[2021-06-22 20:54] H-Park commented on #1627
That's great! Can a developer of the SDK verify that it is indeed thread safe?

[2021-06-22 20:56] H-Park commented on #1598
I have suspicions that this is related to insufficient GPU memory but have not experimentally verified.

[2021-06-23 01:50] senshin998 commented on #1628
Thanks for your reply,the GPU is not being consumed by the body tracker,the body tracker is being shut down , the GPU is consumed  by   the Kinect.Sensor  framework  itself ,
 When you shut down the tracker but do not stop the depth camera, the GPU will be consumed a lot,

  VERIFY(k4a_device_open(cameID[cameIndex], &devices[cameIndex]), "Open K4A devices[cameIndex] failed!");
    k4a_device_confi

[2021-06-23 02:41] senshin998 commented on #1628
![QQ图片20210623103748](https://user-images.githubusercontent.com/17866598/123026916-8cfe3500-d40f-11eb-974c-d2e5c25f3924.png)

[2021-06-24 06:38] haeginh commented on #1296
As I mentioned in the additional context, this could be resolved by linking target "k4arecord". Plus, I think now everything works pretty well in new versions :-)

[2021-06-24 08:35] haeginh commented on #1296
Sorry for the too late reply. Yes, it worked for me.

[2021-06-24 19:45] diablodale commented on #1628
First, task manager and all "usage graphs" are approximate and not absolutely true.

In my experience, there is a basic level of GPU use for the basic kinect azure functions. The system requirements https://docs.microsoft.com/en-us/azure/kinect-dk/system-requirements#minimum-host-pc-hardware-requirements suggest that a DirectX11 gpu is used for the "DepthEngine". The depthengine is the closed-sour

[2021-06-25 02:44] senshin998 commented on #1628
Really thanks for your reply！ I‘m agree with task manager are  not absolutely true. but the azure kinect framework does consumed cudas in my case  which body tracker is shut down  and set K4A_COLOR_RESOLUTION_OFF , due to this fact,There are no enough cuda resources for running other neural networks and case  a lower fps ,  second,  I thiink raw sensor data->depthmap should be processesed on the C

[2021-06-25 04:26] senshin998 commented on #1628
Is there any way to assign device ID for  the  basic level of GPU use ?   not  by setting  "tracker_config.gpu_device_id" ,It only for  body tracker  .

[2021-06-25 04:29] senshin998 opened #1629 "Is there any way to assign device ID for the basic level of GPU use ? not by setting "tracker_config.gpu_device_id" ,It's only for body tracker ."

[2021-06-25 12:58] diablodale commented on #1628
I do not know of an API today to force the depthengine to use a specific GPU. I do not think the SDK is currently designed to use a only a CPU. This has already been requested in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1428

You can see the open-source api that it used between the open-source part of the SDK when it calls into the closed-source https://github.com/microsoft/Azur

[2021-06-25 13:30] senshin998 commented on #1628
thanks for sharing ，you help me a lot,    this code "_putenv("CUDA_VISIBLE_DEVICES=1")" may be partial  works，It force the tracker to use the specific GPU but  not working on depthengine .

[2021-06-25 13:49] diablodale commented on #1628
The body tracking has a good API to control the cpu, specific gpu. https://microsoft.github.io/Azure-Kinect-Body-Tracking/release/1.x.x/structk4abt__tracker__configuration__t_a663351b13a0caa2b0240abcbcbcd7b14.html#a663351b13a0caa2b0240abcbcbcd7b14

On the body tracking `CUDA_VISIBLE_DEVICES` would work if you also chose `K4ABT_TRACKER_PROCESSING_MODE_GPU_CUDA` using the body tracking api.

The doc

[2021-06-25 15:38] tobibaum commented on #1212
@UnaNancyOwen thanks for the instructions! these are very helpful also for your repo.

I have a little problem:
the K4A folder in Program Files is not created. Any ideas why that could be?

thanks!

[2021-06-25 18:34] diablodale commented on #1629
duplicate of https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1428

[2021-06-25 20:02] danzeeeman commented on #1614
it was a defective kinect

[2021-06-25 20:02] #1614 closed, assigned to qm13

[2021-06-26 01:05] senshin998 commented on #1628
@diablodale thanks for your help ,you have good opinions, The basic sensor sdk does not use CUDA, confusing thing is that the basic sensor  occupies more gpu resources even  than  body tracking itself in my case when you have a powful Graphics card ,This caused me a lot of trouble，may you share the name of separate gpu tools?

[2021-06-26 11:35] diablodale commented on #1628
Search in Windows 10 for "Graphics settings". When your language is not English, then look in Display settings. Then scroll down and look for graphics settings. It will take you to settings for "Graphics performance perference". You can choose your app and your gpu with that.

Before that was included in Windows 10, Nvidia control panel had the same setting. It is installed with Nvidia drivers. Ru

[2021-06-28 03:21] xXCXMXx opened #1630 "Cmake on transformation example cannot locate libjpeg-turbo even installed"
Consolidate compiler generated dependencies of target transformation_example
[ 33%] Linking CXX executable transformation_example
/usr/bin/ld: cannot find -llibjpeg-turbo::libjpeg-turbo
collect2: error: ld returned 1 exit status
CMakeFiles/transformation_example.dir/build.make:114: recipe for target 'transformation_example' failed
make[2]: *** [transformation_example] Error 1
CMakeFiles/Makefile2:

[2021-06-28 17:11] qm13 commented on #1630
Can you please provide more information e.g SDK version, compiler etc...

[2021-06-28 17:58] diablodale commented on #1414
Hi @qm13. I'm blocked 🧱 on the lack of accurate joint orientation documentation. This issue and numerous others all highlight the lack of detail and correctness of the existing joint orientation doc at https://docs.microsoft.com/en-us/azure/kinect-dk/body-joints.

Here are a short list of errors and gaps. There may be more

- no clear definition of "axis orientation". Microsoft (an uber 1st party)

[2021-06-29 03:53] gdosu opened #1631 "Is it possible to body tracking from other device?"
Hello.

I wonder if I can process body tracking from mkv which recorded by common camera(not azure kinect) or pre-made ply(point cloud).

Thank you for reading.

[2021-06-29 07:05] PierrePlantard opened #1632 "compatible usb type A cables"
Hello,
I lost my official USB type A to power and USB type A to type C cables.
Does anyone have a reference for two compatible USB type A cables?

Thank you in advance,

Pierre

[2021-06-30 08:42] GaspardVCS commented on #789
Hello, has anyone find a way to solve this issue? With my company we are trying to detect fruits. In this image, the yellow and red cloud points are supposed to be tomatoes but they don't have a round shape at all. Moreover, they are detected with a height of 30mm instead of 55...
The other objects are a tea box, a tea cup and a coke can.
![Screenshot from 2021-06-29 17-02-18](https://user-images.

[2021-06-30 14:25] jplapp commented on #1283
we ran into the same issue. However, running `AzureKinectFirmwareTool -Reset` works for us on the jetson.

[2021-06-30 16:32] fig8studio commented on #1531
I was just informed by a Microsoft rep that the Kinect DK is now on 6-8 months backorder, meaning Jan-Mar 2022... ooph!

[2021-07-01 04:02] xXCXMXx commented on #1630
Thanks for the reply.
Runing on Jetson Xavier AGX
SDK is 1.4.1.
cmake version 3.20.2

I think the issue is the failure of locating or installing libjpeg-turbo package. May I know the alternative solution to it?

[2021-07-01 05:23] jmicho commented on #1283
@qm13 @hardyzhuang It's been over 6 months now since you've reported about the fix being in testing, any chance of releasing it?

[2021-07-01 13:41] Marselias opened #1633 "Distorted objects in camera"
Hi, we have a problem when trying to use kinect for estimating shape and position of an object due to distortion in PointCloud data.

![box](https://user-images.githubusercontent.com/57571372/124133900-92e4bd80-da82-11eb-9175-65263e0181ed.png)

at the image above u can see plastic box of size 10x10x10 cm but in pointcloud there is a distortion of one of the sides.

another example contains same pl

[2021-07-01 16:27] Rudizzzz opened #1634 "Unstable Body Tracking with some people"
**Describe the bug**

With some people we noticed that body tracking is highly unstable.
Unfortunately it doesn't depend on the environment or what the person is wearing.
So far we've tested about 30 people and 2 of them have this instability problem.
We are really worried that when we launch the device on the market many users will face this unstable body tracking.
Could you please explain better

[2021-07-01 16:49] dyumanaditya opened #1635 "Extracting depth from mkv file"
Hi everyone,
I'm trying to extract depth information from a mkv file to save it as a point cloud.
I've managed extracting depth .png from the mkv for each frame by using the command line tool `FFmpeg`, but I would like to avoid doing this if possible since I'll have to load the depth images back into the program after saving them. I'm looking for an alternative in the function `k4a_playback_get_ne

[2021-07-01 17:33] knat commented on #1414
@diablodale, you can rotate the kinect quaternion to get what you want. To rotate a quaternion, multiply the quaternion with another quaternion.

Demo using DirectXMath:
[code]

[2021-07-01 19:32] diablodale commented on #1414
Hi. Unfortunately, rotating the quat is not enough. I've brute-forced one joint...the waist. I had to permutate the quat's 3 imaginary components *and* rotate it.

Rotation only moves the axes to align. What is missing is the rotations around those axes. For example, the waist joint on the Azure Kinect rotates around the Z axis and X follows the bone. The Kinect v1 and 2 rotates around the X axis

[2021-07-02 01:30] knat commented on #1414
Hi. We can get the following result, after rotating kinect quaternion, if body is in rest-pose(T-pose), EVERY bone orientation is +Y:
![2](https://user-images.githubusercontent.com/10220052/124206116-41d1d980-db15-11eb-8227-21b16ba46bef.png)
Call it rest-quaternion.

If body is not in rest-pose, bone orientation is:
![3](https://user-images.githubusercontent.com/10220052/124206319-b3aa2300-db15-11

[2021-07-02 11:50] diablodale commented on #1414
Thanks for your post. I can see you want to assist, but I'm unclear what you are communicating in your last post. 🤷‍♀️🙂 Kinect v1 and v2 "TPose" rotate joints on different axes than Kinect v3 (aka Azure Kinect).
Kinect v1 and v2 are as your draw immediately above. Bone on Y. Rotation around X.
Kinect v3 is probably bone on X. Probably rotation around Z. https://docs.microsoft.com/en-us/azure/kinec

[2021-07-02 13:39] diablodale commented on #1414
Other inconsistences I've discovered

* Kinect Azure swaps the parent-child relationship for joint orientation. Kinect v1 and v2 rotations describe joint->parent bone. Kinect v3 (Azure) describes joint->child bone.
* Kinect Azure left and right hip joints do not follow a consistent rule that the bone from joint to its parent joint is on X axis.
  Instead, the Azure Kinect left and right hip joints

[2021-07-02 17:31] Chris45215 commented on #1460
I want to add a precaution before putting body tracking captures from multiple sensors into the same body tracking API instance. It will create unexpected latency and desynchronization issues, no matter how good your graphics card is, if you use one instance for multiple sensors. In order to do body tracking with multiple cameras sharing one program, you should create a separate instance of the bo

[2021-07-02 20:45] aclose1 opened #1636 "AZURE KINECT: Overlapping bodies turn into an amorphous blob"
**Describe the bug**
Overlapping figures that stand in front of the Azure Kinect camera become an amorphous blob

**To Reproduce**
1. User 1 steps in front of the camera;
2. User 2 steps close to User 1 OR overlapping User
3. Observe that the silhouettes/images on the screen morph into a single form

**Expected behavior**
Expected behavior is that 2 distinct figures stay separate when close togeth

[2021-07-02 23:05] aclose1 commented on #1636
Could also be similar to issue #949. It would be nice to know if it can be fixed, however, or if there is another approach we can take.

[2021-07-03 00:21] diablodale opened #1637 "ankle orientation seems to actually be a missing "heel" joint"
I have evidence that suggests the `K4ABT_JOINT_ANKLE_LEFT` and `K4ABT_JOINT_ANKLE_RIGHT` joints output incorrect rotations. They appear to actually be rotations pointing towards a missing `heel` joint.

Reproduced using both the `k4abt_simple_3d_viewer.exe` tool in k4abt sdk, and in my own code,
Perhaps when the models were trained on (synthetic) data or later processing, the team used, or dropped

[2021-07-04 16:48] meteorshowers commented on #1443
poor device

[2021-07-04 17:14] meteorshowers commented on #1058
poor device

[2021-07-04 19:38] diablodale commented on #1632
The documentation discusses this https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification#power-device
What questions more do you have?

[2021-07-04 19:44] diablodale commented on #1631
I suspect you will have challenges

- The depth data will need to be somehow transformed from your other camera into a format that is the same as Kinect Azure: pixels, pov, focal length, etc. The neural net and supporting code was trained for specific hardware.
- There might also be licensing issues. I recommend you read your license for the Body Tracking SDK.

If it is legally allowed, sounds lik

[2021-07-05 09:59] PierrePlantard commented on #1632
@diablodale Yes indeed I have read the information, such as "The power connector is a 4.5mm OD with 3.0mm ID and a pin diameter of 0.6mm". However I can't find the desired cables on sites like Amazon.
So I wanted to know if the community has any weblinks to cables that work with the kinect (Power to Usb type A and Usb type C to Usb type A).

[2021-07-05 12:07] diablodale commented on #1632
Amazon has many https://www.amazon.com/s?k=usb-a+to+usb-c&ref=nb_sb_noss_2
https://www.amazon.com/s?k=usb-a+to+power+barrel&ref=nb_sb_noss_2

I recommend you ensure the size and polarity +/- is correct on the barrel cable.

[2021-07-05 15:36] tairch opened #1638 "Kinect showing in devices but not in viewer + no logs"
**Describe the bug**
I just downloaded the SDK, but nothing seems to work. The viewer is saying there are no available devices, and nothing appears on the log - not when choosing the trace option and refreshing devices and not in a log file opened using the environment variable.

my device manager on view by container shows
![image](https://user-images.githubusercontent.com/45769611/124493885-cdba

[2021-07-05 18:24] #1638 closed, assigned to nobody

[2021-07-05 18:25] tairch commented on #1638
Turn out the azure sdk is not the same as the xbox's SDK... Very confusing, but the issue is closed.

[2021-07-06 22:40] crystal-butler commented on #1354
I am running the Sensor SDK on a Jetson Xavier NX like @kvuong2711 and see what might be a similar problem to what is being discussed in this issue thread. My Azure Kinect has had a firmware update, and I'm building from source so I can customize the Sensor SDK. I generally capture data with `k4arecorder` with IMU off and default parameters otherwise (or sometimes at a lower `--rate` of 15 fps).

[2021-07-06 23:38] kvuong2711 commented on #1354
@crystal-butler First, I want to confirm that I also built my SDK from source by customizing the `k4arecorder`, but I never had any issue with corrupted RGB stream on either a good Linux laptop or desktop server, only exclusively on the Jetson. On the Jetson, I do notice the problem of RGB stream failure happening much more frequently (usually right after starting the `k4arecorder`) if I have more

[2021-07-07 13:17] crystal-butler commented on #1354
To follow up, I've got SSDs installed in all the Jetsons I work with, but I run the Jetson OS from an SD card and use the SSD for storage and swap. `k4arecorder` and `k4aviewer` run from the SD card but read & write to the SSD.

[2021-07-08 08:42] talhayaparr commented on #1473
I have a same problem. Have you found any solution? @SimoSR

[2021-07-08 13:10] cpatel245 commented on #1473
I am also facing the same issue @SimoSR
Have you found any solution to the problem?

#### Application:

- Using two kinects to reconstruct the scene

#### Configuration:

- Extend the data cable up to 3 meters using an Active USB cable (no extenders). Used cable to connect the cameras - https://www.amazon.de/KIWI-Design-Oculus-Daten%C3%BCbertragung-Hellgrau-Hellgrau-3M/dp/B08BPDVBHF/ref=sr_1_22?__

[2021-07-08 17:13] qm13 commented on #1633
Please provide some RGB images of the setup you are imaging.

[2021-07-08 17:45] qm13 commented on #1627
It is designed to be thread safe.

[2021-07-08 17:46] #1610 closed, assigned to nobody

[2021-07-08 17:48] qm13 commented on #1594
There is no programmatic limit on the number of skeletons Azure Kinect BT can track. The number of skeletons you can track will depend on available compute and desired frame rate.

[2021-07-08 17:49] #1574 closed, assigned to nobody

[2021-07-08 17:49] #1570 closed, assigned to nobody

[2021-07-08 17:57] qm13 commented on #1531
@fig8studio this is not correct. We are seeing delays of 1-2 months depending on the size of the order.

We have moved to a managed sales process with all 5 stores (US, China, Japan, UK, and EU) in "Call to order" with call details. The store sales person will capture your immediate needs and 3 month forecast. This information will be used to assign devices and forecast demand for each SKU. Once d

[2021-07-08 18:01] qm13 commented on #1342
Unfortunately we have encountered some sever issues getting body tracking running performantly on ARM64.

[2021-07-08 18:31] fig8studio commented on #1531
@qm13 I really do appreciate that you're shedding light on the situation to the GH community - definitely more so than the MS/Azure site itself.
I'm not saying you're wrong (not at all), but I'm confident in what I was told by both a Microsoft rep as well as their 'managed salespeople' (I was ping-ponged between two companies over the course of 4 days). Seriously, I just need 3 of them, and I feel

[2021-07-08 20:52] tank104 commented on #1342
@qm13 does that mean you are pausing it, or just working through the issues, and will release soon?

[2021-07-08 22:08] jcova1996 opened #1639 "Queue Size for Capture"
Hi,

I am using the latest version of the SDK and coding in C#. I was wondering if there's a way to find out what the size of the queue is for the depth and color captures.

I have SynchronizedImagesOnly set to true, and I use a for loop to capture X amount of frames with the GetCapture function. When I run the devices (I have 9 plugged in and they each call this for loop within a Parallel.For) at

[2021-07-08 22:19] mellinger commented on #1531
I just called the 1-800 number on the product page and read them this verbatim, they had no idea what it was in reference to and said they'd been getting calls about it all day.

[2021-07-09 07:05] Applied-Energetic opened #1640 "How can i get the information about Focus with a kinect DK?"
I am doing some work about Multi-focus Image Fusion.And I try to get some train dataset by Kinect dk which can provide me RGB and Depth data. SO I want to know if Kinect dk can Adjust the focus of kinect dk . if not , how can I calculate the focus ?

[2021-07-09 16:07] #1627 closed, assigned to nobody

[2021-07-09 17:30] dinvincible98 commented on #1378
@jaygullapalli I also encounter this auto-exposure problem. Any updates to fix it?

[2021-07-10 16:19] diablodale commented on #1640
It is my understanding that the Kinect Azure RGB camera is a fixed focus camera.
You can get the camera calibration matrix which contains the focal point and other intrinsic/extrinsic values using https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions#retrieve-calibration-data

[2021-07-10 16:27] diablodale commented on #1639
I recommend you search/review the code in this git repo? It is open source and the color capture pathway is all open source.
The depth has a small component that is closed source.

For example, type "queue size" into the search field at the top and find your answers like https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/2feb3425259bf803749065bb6d628c6c180f8e77/include/k4ainternal/queue.h#L

[2021-07-12 02:21] Abzdefgxyj commented on #1531
I am trying to order a quantity in the hundreds and have told the 1-800 sales reps this on multiple occasions. Would love a different number to call! 1-2 months is heartening.

[2021-07-12 06:55] VegetableWithChicken opened #1641 "Why does it shake when use the joints position to appli to bone models"
I use kinectdk bone detection in UE4,
but on the basis of using the smoothing coefficient, when the human body is still at rest, the bone animation model will still shake in a small range.
How to solve this problem？？

[2021-07-12 07:01] VegetableWithChicken commented on #1017
I also encountered this problem. Have you solved it

[2021-07-12 08:04] Applied-Energetic commented on #1640
Very thank you for response，and i do get the matrix and focal point .Just like these picture.
![image](https://user-images.githubusercontent.com/56194237/125251874-5a6a9c80-e32a-11eb-9a77-717104700dca.png)
![image](https://user-images.githubusercontent.com/56194237/125251890-5fc7e700-e32a-11eb-8bd5-d8e71b242787.png)
SO I want to know is the matrix Unchangeable？If I can change it , how should I do?

[2021-07-12 09:40] tobibaum opened #1642 "Running 2 instances of k4abt_tracker_t on 2 separate devices. Device 2 only reaches 15fps."
Azure Body Tracking SDK: 1.1.0
Azure Kinect SDK: 1.4.0

Hey there,
We are working on multi-camera body tracking. We built a non-blocking demo on top of the simple_3d_viewer code and incorporated multi-camera synchronization.

In pseudo-code, we do something along the lines of:
[code]

the first half of this code is non-blocking, as we only check whether the capture/tracker queues have new frames t

[2021-07-12 11:28] diablodale commented on #1640
The calibration matrices (intrin, extrin) are unchangable for a given mode (wide pov, narrow pov, etc.). There is no variable lens focus.

[2021-07-12 11:52] LuyaooChen commented on #943
Hi, I am tring to record two or more .mkv files with external sync. I set the same recording time param to `k4arecorder`, but the mkv files have different `Recording Length`(shown in k4aviewer). And I extract images using ffmpeg, the number of images from different mkv file are different.
How to confirm which frame is dropped?

[2021-07-12 15:41] jcova1996 commented on #1639
@diablodale Yes, I have reviewed that code already. Unless my math was wrong, with that code the 5FPS should end up with a queue size of 2. Having a queue size of 2 makes me more confused as to why I would get 6 frames so fast when 6 is already greater than 2...

[2021-07-12 16:32] jcova1996 commented on #1578
I also seem to have issues using the mjpg color format. I'm only able to catch 10-15 frames from a device in mjpg before the captures no longer contain color information. If I run the same code with bgra color format, I don't get these issues.

[2021-07-12 18:46] diablodale commented on #1639
I code in C/++ but I can likely follow your C# code. If you share the code in your test case, it can help. For example, it is unclear how you are calling the 9 sensors (suspicious itself) and doing so in serial/parallel. And if you are doing that correctly.

In general, the queues should be independent for each sensor. So you should be creating nine individual sensor object chains. And then in eac

[2021-07-12 19:07] diablodale commented on #1642
Some ideas

- have you correctly setup the strobing time offsets so that the sensors do not conflict with each other? Are you sure?
- it is unclear the scope of `cap` and `bodyframe`. Are these local and thread-safe variables?
- Are you checking return results from calls like `k4abt_tracker_enqueue_capture()`?
- While its ok to mix c/c++, you might save later debugging to keep with one or the othe

[2021-07-12 21:39] jcova1996 commented on #1639
I don't think this is a problem. I just don't understand why there is such a big difference in retrieving the captures. The fact that 6 frames can be captured on each device in less than 1ms tells me the queue size is not 2 for 5 FPS. I would suspect it to be somewhere between 6 and 12 since the capture time of 12 captures is ~850ms.

It'd be nice to know what to queue size is just to have a bette

[2021-07-13 14:26] Applied-Energetic commented on #1640
Thank you very much.

[2021-07-13 14:26] #1640 closed, assigned to nobody

[2021-07-13 14:26] Applied-Energetic commented on #1640
problem solved

[2021-07-13 17:05] diablodale commented on #1639
You can fully understand how getting captures works by reading the whole corpus of the open source code in this repo.

Since there isn't a problem you are trying to fix or isolate, I don't want to expend much time in your inquiry. It's my owntime management thing. 🙂 Perhaps msft or someone else has more time available.

The # of queue slots already populated before your first getcapture() will dep

[2021-07-14 16:01] tobibaum commented on #1642
Thank you so much for taking this on and your very helpful thoughts :)

just to briefly address all of your bullets:
- I would rule out effects of the active IR depth sensing. I get similar results no matter where cameras point
- I wasn't quite clear on the effects of cap and bodyframe, so I made everything vectors, with `device_count` entries.
- I am now checking the output of the enqueue op (see

[2021-07-14 16:06] tobibaum commented on #1642
please find attached the code that reproduces this behavior.
It is based on `simple_3d_viewer`

https://github.com/tobibaum/Azure-Kinect-Samples/tree/3f26d5fda5615181a79a91f1b86d9ea1619a624f

compiled on Ubuntu18 with:
[code]
run:
[code]

[2021-07-15 12:30] tobibaum commented on #1642
I additionally performed the following tests:

I rewrote `simple_3d_viewer` to accept a command line argument on which of the 2 attached cameras to use (0 or 1).

I can now run
[code]
or
[code]
and each program will run the code from above (simple capture, enqueue to tracker, pop from tracker, throw away the results) on one of my two cameras.

Separately, each of these calls results in `cap`, `enq

[2021-07-15 16:45] nachoreimat commented on #541
I have a similar problem. With version 1.0.1 everything works.
But with version 1.1.0, unless I use K4ABT_TRACKER_PROCESSING_MODE_CPU, for all the GPU modes I got this errors on the call `k4abt_tracker_create`

[code]

[2021-07-15 16:58] christian-rauch commented on #1589
Note to others landing on this page to get the binary firmware: The firmware itself is directly available from https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md. No need to set up a Windows VM to install the SDK and extract the firmware image.

[2021-07-16 03:55] ziangcao0312 commented on #1425
I have the same question too.

[2021-07-16 04:01] ziangcao0312 opened #1643 "Examples on how to extract data from MKV files"
I am a green hand upon video processing and using ffmpeg or mkvtoolnix. I don't know how to extract IMU data from MKV. When I try to use ffmpeg as follow:
ffmpeg -i test.mkv -map 0:3 -vsync 0 imu%04d.txt doesn't work. It shows that:

Unknown/unsupported AVCodecID S_K4A/IMU.
[matroska,webm @ 0x55764d4b16c0] Could not find codec parameters for stream 3 (Subtitle: none): unknown codec
Consider increa

[2021-07-17 08:37] LuyaooChen commented on #698
Hi, I think the `remap` function in `example/undistort` can't be applied to color images, right?  Because it use `uint16_t` to access iamge data. Any adevice to undistort color image?

[2021-07-17 15:18] diablodale commented on #1642
Hi. Some thoughts. Please take them as opinions and intended to be constructuve.

* I don't have currently have 2 Azure kinect's. Nor Ubuntu. So I can't directly test your code.
* I see several coding issues related to your mixing of C and C++. For example, you often use std::move() in places where it will not function as you likely intend. https://en.cppreference.com/w/cpp/language/move_assignmen

[2021-07-18 12:56] diablodale commented on #1642
Just remembered that when you have multiple Kinect in master/slave, you *must* enable the color camera on the master camera. You don't have to get the color data from a capture...you only have to enable the color camera as your start it. This is because the entire sync process is directly related to the VSYNC of the color camera on the master. And you also want to have manual exposure on that Kine

[2021-07-18 15:04] diablodale commented on #1326
Found the same bugs -- not using stride and assuming contiguous memory for buffers in the sibling api `transformation_color_to_depth()`. You can see it is using `idx` to go through the buffer using only `width*height` and assuming there is no relevant stride or gaps at the end of rows.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/04168adc949c44180c51d90a8b8d34807891ec85/src/transform

[2021-07-19 04:20] UnaNancyOwen opened #1644 "Dependencies table for ONNX Runtime is wrong"
**Describe the bug**

Is the dependencies table for ONNX Runtime in [this document](https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#required-dlls-for-onnx-runtime-execution-environments) correct?
I think that's not correct, at least not when it comes to DirectML. (directml.dll is missing.)
It is also strange that CUDA DLLs are included in the dependencies of CPU and TensorRT.
http

[2021-07-19 11:48] cpatel245 opened #1645 "longer cables for Azure Kinect cameras, preferably 3 - 5 m long."
I am looking for longer cables for Azure Kinect cameras, preferably 3 - 5 m. I am using two kinects to reconstruct the scene and I want to place the cameras at up to 6 - 8 m distance.

I have tried using this Oculus Quest Link Cables https://www.amazon.de/KIWI-Design-Oculus-Daten%C3%BCbertragung-Hellgrau-Hellgrau-3M/dp/B08BPDVBHF/ref=sr_1_22?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keyw

[2021-07-19 13:38] tobibaum commented on #1642
Hey Dale,

Thank you very much more for your comments and ideas to fix my problem :)

I agree, that my style is not necessarily the cleanest :D I rewrote everything with only the C++ versions of the library calls. I slimmed down the code even further and am sure, that none of the following are the reason for the delays:
- USB connections
- USB grub driver settings
- master/subordinate settings
- w

[2021-07-19 15:01] christian-rauch opened #1646 "cannot connect via Thunderbolt 3"
**Describe the bug**
I am connecting via a Thunderbolt 3 cable but cannot use the k4aviewer to access the images. The camera is still recognised by lsusb and can be used as a regular webcam (`guvcview` and `cheese` show the colour images).

**To Reproduce**
1. Connect the Azure Kinect via a Thunderbolt 3 cable, e.g. I am using this: https://www.amazon.co.uk/Belkin-Thunderbolt-USB-C-Certified-40Gbp

[2021-07-19 15:52] diablodale commented on #1642
Great progress :-).  FYI, current k4abt sdk on Windows has bug in the interaction between ONNX and TensorRT which leads to a big memory leak. Microsoft isolated it and wrote a fix is planned for the next major sdk update. Ubuntu might be different https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1576

Curious...immediately above you are using RTX2070 while in OP were using RTX3090. Do y

[2021-07-19 19:06] qm13 commented on #1283
Please test with the firmware beta version 1.6.110080014 located at [firmware-beta](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware-beta)

[2021-07-19 23:55] UnaNancyOwen commented on #1645
You may want to consider using this cable. (Unfortunately, the cables that are longer than standard are special and very expensive.)
https://www.newnex.com/technology-azure-kinect-extension.php

[2021-07-20 02:45] shiyujin0 commented on #353
Any solutions to this issue? The camera works fine. But I guess it is not stopped properly. The second time I try to open it, I got segmentation fault.

[2021-07-20 07:16] cpatel245 commented on #1645
Hi @UnaNancyOwen ,
Have you already tested this cables with Azure Kinect Sensors?

[2021-07-20 07:52] UnaNancyOwen commented on #1645
Yes, it works fine.

[2021-07-20 08:15] cpatel245 commented on #1645
Hi @UnaNancyOwen ,
Thanks for quick response.
Could you please elaborate on length of the cables you used?

I'm little skeptical,  Because Microsoft mentioned one should use active USB if it's longer than 1.5 m where as these cables (only upto 5m) are passive.

Will these cables less than 5m also work fine with these Sensors?

[2021-07-20 08:30] UnaNancyOwen commented on #1645
I have used these mid-range cables (8m, 16m). these cables are active cable.
This manufacturer has confirmed that it works with Azure Kinect. It is the only manufacturer that I know of.
If you want more information, Please contact the manufacturer for details.
https://www.newnex.com/usb-3-1-type-c-active-cable-legacy.php
https://www.newnex.com/usb-3-1-type-c-active-cable.php

[2021-07-20 09:08] cpatel245 commented on #1645
Thank you @UnaNancyOwen !

[2021-07-20 16:16] LogWell opened #1647 "Multi-Camera Multi-PC code example"
If I have multiple cameras and multiple computers, and one camera corresponds to one computer, how do I use the code to record video? Is there any specific sample code?

Link to [Device external synchronization](https://docs.microsoft.com/en-us/azure/kinect-dk/capture-device-synchronization).

[Link](https://docs.microsoft.com/en-us/azure/kinect-dk/record-external-synchronized-units) to `exe` sync

[2021-07-20 23:43] diablodale commented on #1644
related to https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1541

[2021-07-21 13:59] dimitrijevic opened #1648 "Azure depth platform consumer SDK?"
Could someone please update on the state of the Azure depth platform "consumer" Sensor SDK...would like to go into a development of a product using Azure Kinect, but prior this year there was talk there would be other devices soon and Azure Kinect would be getting another "consumer" SDK...is that still coming, and in what form, given Azure Sendor Kinect SDK is multi-platform will Microsoft be able

[2021-07-21 16:57] diablodale opened #1649 "Kinect dependencies not available for download - long-term support again failing"
Dependencies for the Kinect v1 and v2 SDKs have disappeared from the official download locations at Microsoft Downloads. The links throughout various Microsoft websites and Microsoft download server lists don't work.

https://developer.microsoft.com/en-us/windows/kinect/
scroll down and click on `Microsoft Speech Platform SDK 11`
It will report `We're sorry, this download is no longer available.`

[2021-07-21 19:58] andrey-tsb commented on #1232
Also looking forward for Kinect Azure support on embedded platforms like Rpi4 (not sure about Azure body tracking SDK development roadmap). Currently there are other solutions for body tracking on Raspberry Pi4, but only with other sensors.

[2021-07-22 03:13] #1631 closed, assigned to nobody

[2021-07-22 09:14] tobibaum commented on #1642
thanks for noticing and asking :)

I have indeed access to both cards. The effect is similar but less pronounced for the rtx3090.
Whereas the 2070s drops the processing rate to 15 fps for the second camera, on the 3090 it only drops to 25 fps.

I assume the underlying problem is the same and we were able to respectively circumvent it using TensorRT.

Thanks!
Tobi

[2021-07-22 09:14] #1642 closed, assigned to qm13

[2021-07-24 16:00] submorphic commented on #1531
Similar experience with 1-800 number as others. Salesperson did not know any details and simply took my contact info and will notify me when available.  We're looking for several dozen devices, but also now going back to re-evaluate Intel 455 which seem to be readily available.  The AK was superior in our initial evaluations, but we can not wait 6-8 months for more to become available and will lik

[2021-07-24 19:53] qm13 commented on #1531
All, it is taking longer to roll out the program than initially anticipated. The UK and US stores should be up to speed by early next week with the China, Japan and German stores following a week later (due to content localization requirement). If you are still having problems starting August 1st please reply to this issue and I will look into it.

[2021-07-26 16:10] lhamza98 commented on #1212
@tobibaum
I seem to be having the same problem with the K4A folder not being created. Did you end up finding a solution?

[2021-07-26 16:15] tobibaum commented on #1212
I ended up switching my development over to ubuntu instead, where I was more comfortable with linking and such.
here is a cmake and project that worked for me:
https://github.com/tobibaum/Multi-Kinect-Tracking/blob/master/CMakeLists.txt

[2021-07-26 16:32] lhamza98 commented on #1212
@tobibaum
Okay thank you!

[2021-07-29 23:43] skywalkerwin opened #1650 "Can anyone help me get some of these samples running on my own computer (Windows 10)? REQUESTING better readme"
So I've got myself an azure kinect and I would like to be able to extract the 3d coordinates of the body tracker stuff. The only problem is I cant get most if not any of the examples to work. (body tracker and viewer work)

Im running all this on windows 10 with visual studio 2019.

My problem seems to stem from the fact that I cannot link the sdk libraries correctly.

https://github.com/microsoft

[2021-07-31 03:04] UnaNancyOwen commented on #1646
It is compatible with USB 2 because it is an **active-cable** of Thunderbolt 3. It is not compatible with USB 3.
Therefore, it cable can not be use with Azure Kinect.
https://www.belkin.com/us/cables/data/thunderbolt-3-cable-usb-c-to-usb-c-100w-6-5ft-2m/p/p-f2cd085/
![p-f2cd085](https://user-images.githubusercontent.com/816705/127726806-61434d4e-d439-4fe7-bd55-b234f6ee62bb.png)

[2021-07-31 04:24] skywalkerwin opened #1651 "sample freezes on k4abt_tracker_create... any ideas why?"
Hello I am trying to run a body tracking sample and it seems like somethings getting stuck here:

![image](https://user-images.githubusercontent.com/47264358/127728480-210e6140-0265-4f1c-96b8-1c6ec5262dc1.png)

Kinect Sample can be found here: https://docs.microsoft.com/en-us/azure/kinect-dk/sensor-sdk-download

Any ideas why the sdk would freeze trying to create a tracker?

Thanks you!!

[2021-08-02 08:02] #1096 closed

[2021-08-02 08:40] UnityQueriesAsk opened #1652 "How to capture and access color images with Azure Kinect DK using Unity?"
Hi All,

Can anyone share a few references of how to capture and access color images with Azure Kinect DK using Unity?

Thank you.

[2021-08-02 09:46] PucklaJ opened #1653 "Unable to get color images using custom code"
**Describe the bug**
I want to write some code which uses the SDK, but for some reason I am unable to get a color image from the camera, but the Kinect Azure Viewer works completely fine.

**To Reproduce**
Here is a code sample, which uses SDL to display the image:
[code]

**Expected behavior**
I expect a window showing a live feed of the camera.

**Logs**
These are the logs with **K4A_LOG_LEVEL**

[2021-08-02 10:11] christian-rauch commented on #1646
@UnaNancyOwen Thank you very much for pointing this out. The bandwidth of Thunderbolt 3 should be more than enough for USB 3 - So I thought that if Thunderbolt supports USB, it would support USB 3.

I think it would be very helpful to note in the documentation that Thunderbolt 3 cables are not supported.

[2021-08-02 10:15] UnaNancyOwen commented on #1646
It often confuses the user. I make that mistake too. lol
By the way, the **passive-cables** of Thunderbolt 3 are compatible with USB 3. It should be available for Azure Kinect. :)

[2021-08-02 11:00] PucklaJ commented on #1653
I just tried to build the SDK from source to try out the examples. It seems that all examples including the tests have the same issue. There is no color image and I get the same `releasing capture early` logs.

[2021-08-02 14:23] PucklaJ commented on #1653
Every Kinect Azure application I compile is unable to get a color image. But every precompiled application I got when downloading the SDK works as expected

[2021-08-02 17:20] qm13 commented on #1652
Have you looked at the Unity sample https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking

[2021-08-02 17:23] qm13 commented on #1653
Can you confirm that the k4aviewer and k4abt_simple_3d_viewer included /tools in the installer work?

[2021-08-02 18:48] Waffleicious commented on #1531
Hello I am trying to purchase just one Kinect Azure and the Microsoft rep just told me they have no idea when they will be back in stock... Any updated information would be amazing

[2021-08-02 19:53] Abzdefgxyj commented on #1531
Checked this morning and they still had no idea unfortunately

[2021-08-03 04:41] UnityQueriesAsk commented on #1652
Hi, Thanks for your response.

I have checked the Unity sample.

My scenario is I need to capture a color image with Azure Kinect DK and that image has to be downloaded in my pc using Unity.

Can you please share a few references for this scenario.

Thank you.

[2021-08-03 07:16] PucklaJ commented on #1653
Yes they both work completely fine. Only the programs which I compile myself do have this problem

[2021-08-03 09:08] jdeeee opened #1654 "Multiple devices / Synchronization"
Hi there!
I have a couple of questions regarding the synchronization of 2 or 3 kinect for azures.

1. Up to now I have used two cameras with overlapping field of view with a connecting sync-cable, one sensor configured as master the other as subordinate and a "Delay off master" of 0. In some scenarios I have seen interference then and in some this setup seemed to have removed interference in compa

[2021-08-03 09:50] BasPaap commented on #1147
This still doesn't work. In my project root directory I have cublas64_11.dll, cublasLt64_11.dll, cudart64_110.dll, cudnn64_8.dll, and onnxruntime.dll. These are also in the Assets/Plugins folder. When starting the sample_unity_bodytracking sample from the Azure-Kinect-Samples repository, it still throws an exception on Tracker.Create().

Unity version 2019.1.2f1.
Body Tracking v1.0.1
AzureKinectSe

[2021-08-03 11:51] brontesprocessing commented on #1531
Are there any updates regarding availability?

[2021-08-03 15:19] nicolas0carre opened #1655 "Enqueue capture in playback prevent to close application"
**Describe the bug**
During the playback of a .mkv file, at the moment where we enqueue a capture (k4abt_tracker_enqueue_capture), the program can't stop after that.
No problem with processing after enqueue the capture, and of course, we release/close everything when done.
The only way to close the app is by using the task manager.
Also, this bug has appeared since we integrated the lite model and

[2021-08-03 16:23] andrey-tsb commented on #514
If you are interested, Nuitrack currently supports Kinect Azure and provides fast CPU-only skeletal tracking with it.

[2021-08-03 16:34] vpenades commented on #514
Thanks for the tip. I'm aware of nuitrack and I've been following their progress for a while now.... unfortunately, our use case prevents us from using NuiTrack for a number of reasons.

Long story short: our customers demand low end, easy to use, easy to install, no headaches, no power hungry, no internet required, and easy to purchase, solutions.  The Kinect2 met almost all these requirements. E

[2021-08-04 10:54] UnityQueriesAsk opened #1656 "How to capture and download a color image with Azure Kinect DK using Unity?"
Hi All,

I am looking for a help for the following scenario :

My scenario is I need to capture a color image with Azure Kinect DK and that image has to be downloaded as a PNG or JPG format on my pc using Unity.

I have followed the below reference for this :

Link : https://docs.microsoft.com/en-us/azure/kinect-dk/retrieve-images

In this link, I have implemented till to Get an image from the cap

[2021-08-04 13:26] Abzdefgxyj commented on #1531
I was told on that sales line that they would be out of stock until October 2022.  @qm13 do you you know if the managed sales process still uses the basic sales phone number found on the store page? 1-866-425-4709 (for US)?

From your description it sounded like you guys had been receiving orders throughout this time but I don't see how that's possible via the number above, as they've been consist

[2021-08-04 16:44] qm13 commented on #1531
@Abzdefgxyj This is not correct. I have passed your comment on to the lead for the US Store. The sales person is supposed to capture how many Kinects you need now and forecast for next 3 months. This info is used in a managed sales process to assign production against needs. Once production is assigned to your need someone from the assisted sales team will reach out to you to place a firm order. I

[2021-08-04 19:26] Abzdefgxyj commented on #1531
@qm13 I saw your previous comments, so I'm greatly encouraged that this is still the case. I'll keep trying this week and next and hopefully will see some success.

[2021-08-05 17:10] qm13 commented on #1652
Duplicate of #1656 which has a better explanation of what the developer is trying to do.

[2021-08-05 17:10] #1652 closed, assigned to nobody

[2021-08-06 07:45] saulthu commented on #1654
Rather than using the config option subordinate_delay_off_master_usec which sets a delay for the color camera capture, you may want to be using the option depth_delay_off_color_usec which is designed to prevent depth camera interference. The values to be used with this are separated by 160 usec, and can be positive or negative to distribute the devices around the master camera capture time. I use

[2021-08-06 07:55] saulthu commented on #1654
I read somewhere that all subordinate devices must be started after the master to allow sync to start up correctly. I don't think it has anything to do with recording as such, just the sync between devices.

[2021-08-06 10:53] alitokur commented on #992
dear @qm13 how did you plug multiple kinects into one computer? do you have any special hardware?

[2021-08-06 16:56] danzeeeman opened #1657 "Body Tracker Not Working"
**Describe the bug**
when launching the body tracking tool with the default settings we are getting the following error:

```2021-08-06 08:51:15.4947488 [E:onnxruntime:, sequential_executor.cc:333 onnxruntime::SequentialExecutor::Execute] Non-zero status code returned while running Slice node. Name:'Slice' Status Message: C:\source\ort-restore\onnxruntime\onnxruntime\core\providers\dml\DmlExecutio

[2021-08-06 17:02] #1657 closed, assigned to nobody

[2021-08-06 17:02] danzeeeman commented on #1657
reinstalled the body tracker sdk and the error went away

[2021-08-06 17:44] qm13 commented on #1654
@saulthu thanks for your excellent answer. I can confirm that the subordinates should be started before the master.

[2021-08-06 20:46] millsrandy commented on #1531
I don't know if it's ok to post this here or not, (please let me know if I'm in the wrong here), but I have two DK units (one barely used (took it out of the box and hooked it up a couple times) and one brand new sealed in the box) that I'd like to get rid of.  Please DM me if interested, they are immediately available.

[2021-08-07 05:25] wjdrmstjrsla opened #1658 "how to get orientation from joint position"
3D Keypoint Estimator was produced to obtain joint position(not body tracking sdk!!). I want to make an avatar using this, how can I get orientation?

[2021-08-09 07:40] jdeeee commented on #1654
Thanks for your answers! I have two follow up questions though:

1. Is there any insight on why the subordinates should be started before the master? I thought a subordinate only starts capturing images once the master has send a trigger signal, so I would assume it does not matter, which camera is started when.
2. Am I right, when I say that `subordinate_delay_off_master_usec `  is the delay betw

[2021-08-09 12:09] Kanish2002 opened #1659 "ANY CODE PACKAGE AVAILABLE FOR ARSANDBOX IN AZURE KINECT CAMERA?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-08-09 12:10] Kanish2002 commented on #1659
I just need the code as same as ucdavis arsandbox project in for new Azure Kinect Camera.

[2021-08-09 16:48] scotthsu98052 commented on #1655
_Re: ... , and of course, we release/close everything when done. ..._

Did the code call k4abt_tracker_shutdown before calling release/close?

[2021-08-09 17:07] qm13 commented on #1659
AR Sandbox would need to add the support.

[2021-08-09 23:05] saulthu commented on #1654
1. I don't have a precise answer for this. The same document you linked says, "Important. To get precise image capture alignment between all devices, you have to start the master device last." Since the subordinates rely on the sync signal coming from the master before they'll produce frames, I don't know why the start order matters -- maybe there are software problems with syncing frames if the m

[2021-08-10 06:44] ghost opened #1660 "EULA agreement cannot be asked"
**Describe the bug**

When trying to install `libk4abt1.1-dev` in Github Actions (`ubuntu-18.04` image, with the purpose of Cloud build), the installation fails with the following error message:

[code]

Installation of `k4a-tools` and `libk4a1.4-dev`, on the other hand, works just fine.

**To Reproduce**

1. Create clean repo on Github (or use existing)
2. Create Github Actions Workflow:
[code]
3

[2021-08-10 07:12] nicolas0carre commented on #1655
Yes we did

[2021-08-10 07:45] Kanish2002 opened #1661 "Calibration"
How to calibrate and focus particular area using azure kinect.???

[2021-08-10 07:49] Kanish2002 commented on #1659
But I just need to know how to give color coding for particular depth and also to cover a particular area using azure kinect.

How to focus a particular area and show it on screen?
Also need to know how to compute and work with depth of the camera.

[2021-08-12 17:35] qm13 commented on #1661
Could you please explain exactly what you want to achieve.

[2021-08-12 18:26] scotthsu98052 commented on #1655
I used [offline_processor sample code](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/offline_processor) to repro the problem you reported.

The only change I added to the sample code is to use the lite model as you described.
`tracker_config.model_path = "dnn_model_2_0_lite_op11.onnx";`

The program can exit successfully.
`e:\Azure-Kinect-Samples\body-tracking

[2021-08-12 18:44] scotthsu98052 commented on #1660
It seems you install k4abt in a non-interactive environment. Please see this [thread ](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1190) to work around the EULA acceptance issue.

[2021-08-12 22:26] scotthsu98052 commented on #1510
@qm13  this is a feature request. Current BTSDK doesn't support application isolation (side-by-side assemblies). The standard search order for Windows applications is used for loading linked dlls.

[2021-08-12 23:09] diablodale commented on #1510
@qm13, that is misleading. While LoadLibrary might be using standard path, the function `VerifyDependencies` IS NOT.
This is distinct.
Two actions.

1. VerifyDependencies is a separate and independent function in the k4abt that checks for the presence of certain files.
2. Later, various DLLs are loaded by k4abt using Windows standard paths

It is (1) of which I'm reporting this bug. Not (2). This

[2021-08-13 00:31] scotthsu98052 commented on #1510
Hi @diablodale,
_Re: Perhaps part of the issue is in your function VerifyDependencies(). Are you blindly using currentworkingdirectory? Or the directory of the master EXE?_

No, VerifyDependencies is not doing what you thought. It is just a wrapper call of Windows API [SearchPath](https://docs.microsoft.com/en-us/windows/win32/api/processenv/nf-processenv-searchpatha).
`return SearchPath(nullptr,

[2021-08-13 06:55] Kanish2002 commented on #1661
Sir I need to calibrate the camera for a particular area and need to give
colormap for different depths.

Like AR sandbox by UCdavis Project

On Thu, 12 Aug 2021, 11:05 pm qm13, ***@***.***> wrote:

[2021-08-13 06:58] Kanish2002 commented on #1661
https://youtu.be/V_-Qn7oEsn4

Like This I need to calibrate sir.
I'm a Rookie, and I need help to do it.

On Fri, 13 Aug 2021, 12:25 pm Kanish S, ***@***.***> wrote:

[2021-08-13 18:57] Abzdefgxyj commented on #1531
@qm13 I'm being told that October is the availability, and that Microsoft can't fill the need in-house for anything larger than 5 units. I've been told to reach out to partnerdirectory to find someone to fill this need.

I don't think the sales people have gotten the memo or that there's a managed sales process yet. Please advise which number to call if that's not the case.

[2021-08-14 07:10] dianaleeg opened #1662 "k4aConfig.cmake points to incorrect k4aTargets.cmake location"
I followed the build steps here: [Build Steps](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md )

And i noticed the **k4aConfig.cmake file** (located under Azure-Kinect-Sensor-SDK/**build/src/sdk** ) is **not in the same directory as k4aTargets.cmake** (located Azure-Kinect-Sensor-SDK/**build/src/sdk/CMakeFiles/Export/lib/cmake/k4a/** )

**If I manually change my

[2021-08-15 12:51] black4clover commented on #1625
I solved this problem by downloading Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019.

https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0

[2021-08-16 00:23] nicobeek opened #1663 "IR laser stays on causing the camera to get hot"
**Describe the bug**
On window close I call device.StopCameras() and device.Dispose() which ends everything correctly. However, if my program terminates abnormally the IR laser stays on, causing the camera to get hot after a while. The streaming led on the front of the camera does turn off, so I guess the device knows that it is no longer being used.

**To Reproduce**
Start the program from within

[2021-08-16 04:22] geekifan opened #1664 "IR Images have invalid values after transforming"
**IR Images have invalid values after transforming**
I have been trying to transform IR images to RGB images using `depth_image_to_color_camera_custom()`, and the code works well.
But I find that the transformed IR images have many invalid values (filled by 0) because the custom transformation function relies on corresponding depth images (which also have invalid values). But the original IR image

[2021-08-16 09:11] dzzhang2018 opened #1665 "cameras can't synced good enough (far more than 100us) with external sync"
![image](https://user-images.githubusercontent.com/40294224/129540220-49a561e6-ec48-480b-93b7-a58c9d85a973.png)

**Describe the bug**

I use one 3.5mm audio cable to external sync two kinect DK cameras, and I only start color image, and get_capture in two different threads for two cameras.  The audio calbe inserted into "sync out" port on master device and insterted into "sync in" port on slave de

[2021-08-16 17:22] qm13 commented on #1664
@AlexCSTech you are transforming the depth image (not the IR image). The depth image will have invalid values (were the depth engine could not calculate depth).

[2021-08-16 17:32] geekifan commented on #1664
Thanks for your reply. The function `depth_image_to_color_camera_custom()` can transform depth image and custom image at the same time (it needs two paramaters `depth_image` and `custom_image`). That's to say, the custom image(which is IR image in my question) is regarded as an depth image and the process of its transformation needs the guidance of corresponding depth image pixels?

[2021-08-16 17:32] qm13 commented on #1661
Have you looked at the calibration sample [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration).

[2021-08-16 17:38] qm13 commented on #1651
Can you run the pre-compiled k4abt_simple_3D_viewer on your system?

[2021-08-16 17:44] qm13 commented on #1649
The Azure Kinect team does not own the previous Kinect products. I have passed the issue to the team that owns these products which are now end of life products.

[2021-08-16 17:44] #1649 closed, assigned to qm13

[2021-08-16 17:48] qm13 commented on #1646
Also not all USB-C cables will work. There are two types of cable circulating - power only and data+power. You need a data+power USB-C cable. Unfortunately there is no easy way of determining which cable you have (except for trying it). The industry chose not to mark the cables differently.

[2021-08-16 17:52] #1633 closed, assigned to qm13

[2021-08-16 17:53] #1629 closed, assigned to qm13

[2021-08-16 17:56] #1626 closed, assigned to qm13

[2021-08-16 17:56] #1625 closed, assigned to qm13

[2021-08-16 17:57] #1624 closed, assigned to qm13

[2021-08-16 17:59] #1623 closed, assigned to qm13

[2021-08-16 17:59] #1621 closed, assigned to qm13

[2021-08-16 18:01] #1618 closed, assigned to qm13

[2021-08-16 18:02] #1604 closed, assigned to JonathanESantos

[2021-08-16 18:03] #1602 closed, assigned to qm13

[2021-08-16 18:03] #1601 closed, assigned to qm13

[2021-08-16 18:04] #1600 closed, assigned to qm13

[2021-08-16 18:05] #1599 closed, assigned to qm13

[2021-08-16 18:05] #1598 closed, assigned to qm13

[2021-08-16 18:05] #1595 closed, assigned to qm13

[2021-08-16 18:06] #1591 closed, assigned to qm13

[2021-08-16 18:06] #1590 closed, assigned to qm13

[2021-08-16 18:07] #1563 closed, assigned to HlibKazakov2000

[2021-08-16 18:08] #1562 closed, assigned to vladalx

[2021-08-16 18:32] Kanish2002 commented on #1661
Yes sir, I've looked at it and tried running it on visual studio 2019 but
when I open the cmakelist.txt it is opening but showing some 200 errors,
It's look like k4a library is not installed, then if I tried to install
Microsoft.Azure.kinect.sensor library from Nuget Package list, But I can't
able to manage packages in Nuget that option is disabled when I open this
calibration.
I can't able to run

[2021-08-16 18:49] qm13 commented on #1613
Duplicate of #1546

[2021-08-16 18:49] #1613 closed, assigned to qm13

[2021-08-16 18:59] #1296 closed, assigned to qm13

[2021-08-16 19:09] #1520 closed, assigned to jaygullapalli

[2021-08-16 19:11] #1587 closed, assigned to nobody

[2021-08-16 19:20] qm13 commented on #1654
Regarding 1) The subordinates sync to the output pulse from master. With that pulse they start with a timestamp of zero. So the timestamp from 2 camera’s will be nearly identical. If the master starts first, its timestamp counts from zero almost immediately, the subordinates would start at zero later making it difficult to use timestamp to index synchronized frames.

[2021-08-16 19:21] diablodale commented on #1649
With what process or person "to the team" can I associate? I ask so to track progress and close loops on success or failure.

[2021-08-16 19:51] qm13 commented on #1649
@diablodale if you have not already done so you should file a bug via Windows Feedback Hub at
https://microsoft.sharepoint.com/sites/mywork/SitePages/Windows10/Feedback-Support.aspx

[2021-08-16 19:53] max246 commented on #1618
Why closing this? It still happening and even got an azure ticket open for a while.

It is just unclear why you cant provide proper hardware or solution to narrow down why of this issue.

[2021-08-16 21:23] qm13 commented on #1618
Duplicate of #1409

[2021-08-16 21:24] qm13 commented on #1618
@max246 did you try the Azure Kinect on a supported USB controller?

[2021-08-16 22:16] fi6 commented on #1599
Hi @qm13,

Why the issue is closed? Is there any comments/solution for this?

[2021-08-16 22:40] skywalkerwin commented on #1651
I can

[2021-08-17 06:04] x-jeff commented on #853
@lordjesus Thanks for your solution. It works. But I want to know if deleting RsProviders folder will have any bad effects?

[2021-08-17 09:58] ghost commented on #1660
My apologies for getting back to you only now. This worked, even using `apt-get` instead of `deb`, thank you!

[code]

[2021-08-17 09:58] #1660 closed, assigned to scotthsu98052

[2021-08-17 10:52] UnityQueriesAsk opened #1666 "Azure Kinect DK cameras failed to open in the Azure Kinect Viewer?"
Hi All,

I have been using the Azure Kinect DK for a long time but today all the cameras failed to open in the Azure Kinect Viewer.

I am getting the following messages pop up when connecting:

IMU failed: timed out!
IMU Data: data source failed!
Camera failed : timed out!

The Log view shows the below error :

[error] : usb_cmd_libusb_cb(). LibUSB transfer status of 00000002 unexpected

I am usin

[2021-08-17 17:24] qm13 commented on #1663
This is by design. We cannot reliably determine this state. There is no problem with the laser to remain on.

[2021-08-17 17:27] max246 commented on #1618
I have tried a new PC without asmedia usb controller but still happening, azure support is not really giving me a motherboard that is supported for "unknown reason"
At the moment it seems like it is holding using the USB C from the rtx2070 but this is not really a solution , I mean it is but hardware specs such as supported motherboard should be provided if this is a usb issue.

[2021-08-18 11:11] canxerian opened #1667 "Release Body Tracking SDK v1.1.0 NuGet package"
**Is your feature request related to a problem? Please describe.**
The latest available version on https://www.nuget.org/packages/Microsoft.Azure.Kinect.BodyTracking/ is v1.0.1, which is incompatible with the v1.4.1 https://www.nuget.org/packages/Microsoft.Azure.Kinect.Sensor/

**Describe the solution you'd like**
Release Microsoft.Azure.Kinect.BodyTracking v1.1.0 as a NuGet package

[2021-08-18 14:30] diablodale commented on #1649
Hi, is that a site generally available to customers? For 2 days I've tried to get to it and it always reports

[code]

[2021-08-18 14:47] diablodale commented on #1510
Ah ha! You have admitted the problem.

`SearchPath` api *does not* follow the same rules and have the same functionality of the DLL load APIs. 👎

It follows different paths, ignores apis like `SetDllDirectory()` and `AddDllDirectory()`, and as officially written by your own corporation...should not be used to find DLLs, resources, etc.

This is related to https://docs.microsoft.com/en-us/azure/kin

[2021-08-19 07:03] UnityQueriesAsk commented on #1544
Can you reopen this issue @qm13? I am also facing the same issue with Azure Kinect DK. In my case I am getting the following messages pop up when connecting:

IMU failed: timed out!
IMU Data: data source failed!
Camera failed : timed out!

I am attaching my USB host controllers and the errors that I am getting in the Azure Kinect Viewer, Please check :

USB host controllers :
https://drive.google.

[2021-08-19 12:01] Fenikkel commented on #1208
Hi, can you share the issue solution? Thanks

[2021-08-19 14:13] TheShoes commented on #1531
I am just trying to buy 1.  Is my only hope to keep visiting the Microsoft page to hope to see them in stock one day?

[2021-08-19 15:33] submorphic commented on #1531
I’ve spoken to sales twice now and they could not take an order but did collect info for a quote. They promised the quote back in 24 hours - never received anything back either time.  On the second call they acknowledged having the prior request and escalated. Still nothing.  Will call again today.

[2021-08-19 16:52] sanweiliti commented on #536
@nicolascarre Hi Nicolas, is it possible for you to share the NAudio audio capture sample? Thanks a lot!

[2021-08-19 16:57] qm13 commented on #1544
Have you tried the AKDK on another computer?

[2021-08-19 17:01] qm13 commented on #1531
@TheShoes this will not work. Azure Kinect DK has been moved to a managed sales process and all stores are set to "Call to Order"
@submorphic you should not have been told they will get back to you in 24 hours, please accept my apologies. The process takes time from collecting your interest to buy thru getting a quote. You will not get a quote until we have allocated production against your intere

[2021-08-19 17:46] skywalkerwin commented on #1667
source where v1.0.1 of body tracking is incompatiable with v1.4.1?

[2021-08-19 17:49] qm13 commented on #1666
Please verify if the issue persists when connected to another PC. If it does then it is likely hardware failure.

[2021-08-19 17:51] qm13 commented on #1544
Reclosing. Covered by #1666.

[2021-08-19 17:51] #1544 closed, assigned to qm13

[2021-08-19 17:52] qm13 commented on #1666
Also if you have a 2nd AKDK please does it exhibit the same problems on the PC?

[2021-08-19 17:54] knat commented on #536
Try Microsoft Media Foundation: https://docs.microsoft.com/en-us/windows/win32/medfound/audio-video-capture-in-media-foundation

[2021-08-19 19:11] TheShoes commented on #1531
@qm13 oh thats a little misleading on the website.
should i call this number then  1-866-425-4709
is there even a chance of getting 3 units this month?
just wondering if i am going to have to look at a different solution

[2021-08-19 20:30] qm13 commented on #1531
Yes, please call that number. Small orders like yours are taking between 2-4 weeks to fill.

[2021-08-19 23:45] guss2149 commented on #1645
Hello @UnaNancyOwen.  I am wondering what the USB-A cable you linked was hooked up to is? And did you use the separate power supply to power the camera? The camera doesn't get enough power through a USB-A cable so a separate power supply is needed. We tried the USB-C to USB-C cable you linked plugged into the Desktop that does not have USB-C on the motherboard but I tried a PCI-E USB-C expansion c

[2021-08-20 00:21] UnaNancyOwen commented on #1645
I needed to connect multiple Azure Kinects. However, one PC had a limited number of USB C ports, so I used USB A ports.

Yes, I used additional power supply. That is, we used two cables.
I extended it with [extension cord](https://en.wikipedia.org/wiki/Extension_cord), with USB power charger that included in Azure Kinect DK box.

[UL-C21C11](https://www.newnex.com/usb-3-1-type-c-active-cable.php)

[2021-08-20 00:48] guss2149 commented on #1350
Hello,  I am currently getting these same errors when I use an alternate power source. Our application require a much longer cable than the original one but we've only had success (no errors) when we run a 110V extension cord and use the original power supply and original power cable. Does anyone know of any other way to power the cameras? Our attempted (with no success) setup is using [this cable

[2021-08-20 12:51] submorphic commented on #1531
Just updating for others.  Chatted with agent who found my two prior call logs.  They went offline to talk to manager and "backend" team. Came back and said I would have a quote in 3 hrs.  Well, it's the next morning and nothing.  Will call in again this morning and try one more time.  We're looking for a small number asap, but I asked for a quote for 25, and we're planning on 500+ over next 18-24

[2021-08-20 15:17] Chris45215 commented on #1531
I daresay that Microsoft should increase the price of the sensors in order to reduce demand slightly and encourage buyers to only purchase what they need immediately; and to increase the profit margins enough to justify a larger commitment of Microsoft's resources to the project. Change the price from the current $400 to a temporary $550 or $600 - that is much more reasonable than the current Ebay

[2021-08-20 16:14] canxerian commented on #1667
Using Unity and [NugetForUnity](https://github.com/GlitchEnzo/NuGetForUnity):

Add Microsoft.Azure.Kinect.Sensor v1.4.1
Add Microsoft.Azure.Kinect.BodyTracking v1.0.1

The following error is logged to the console:
`Assembly 'Assets/Packages/Microsoft.Azure.Kinect.BodyTracking.1.0.1/lib/netstandard2.0/Microsoft.Azure.Kinect.BodyTracking.dll' will not be loaded due to errors:
Microsoft.Azure.Kinect.

[2021-08-20 16:28] submorphic commented on #1531
Just called store again....told nothing available right now in any volume. Again, asked to put in a quote and watch for email - some may be available next month.  Sigh.

[2021-08-20 17:41] TheShoes commented on #1531
@qm13 is there any other number i can try.  I called the store and they said everything in the next shipment has been spoken for and i have to call back September 30th to try and get an update.

[2021-08-23 16:42] #1594 closed, assigned to nobody

[2021-08-23 16:43] #1617 closed, assigned to qm13

[2021-08-23 16:44] #1632 closed, assigned to nobody

[2021-08-23 17:52] gregorijk opened #1668 "Color image tearing on AMD laptop"
I'm noticing color image tearing on my AMD laptop (ASUS Zephyrus G15, AMD Ryzen 9 5900HS, 24GB RAM, NVIDIA RTX 3070, Windows 10 Pro, 21H1). It appears that the viewer reports several capturesync_drop errors when this is happening. Attached the log from the viewer (v1.4.1). It seems that lowering the frame rate to 15FPS does improve the experience. When running at 30FPS, changing the resolution of

[2021-08-24 15:50] guss2149 commented on #1645
Hello. Thank you for your response. I appreciate the info. We purchased the UL-C21C31-10M but the PC we are using doesn't have USB-C and the PCI-E card's USB Host Chipset (ASMedia) isn't compatible with the Kinect Azure Cameras. We keep getting errors and cameras disconnected, needing to be unplugged and plugged back in, on one of our PCs (it has two cameras plugged into it) and were not sure if i

[2021-08-25 02:53] Ideal-H opened #1669 "Multi-Kinect Body Tracking SDK Error : k4abt_tracker_enqueue_capture TIME_OUT"
**Describe the bug**

Hello we use multiple kinect azure and body tracking sdk in single pc.
[Environment]
We use 5 Kinects in 1 Desktop.
We capture the frame in multi-thread.
We use 2 GPUs (2080Ti x 2).
2 Kinects are assigned to 1 GPU and the rest 3 Kinects are assigned to the other GPU.
When we used DNN model, we could not obtain the skeleton in 30 fps (too much frame drop), so we use light mode

[2021-08-25 09:01] kooksung930 commented on #1669
We found another  symptom. When the program cannot capture(?) by body tracking sdk (the call of function k4abt_tracker_enqueue_capture(tracker, capture, 0); ), single one (the sensor) cannot do that and the others are fine.
(I release the body_frame variable when the function k4abt_tracker_pop_result with wait time 0 is K4A_RESULT_SUCCEEDED)

[2021-08-25 09:17] rudizz commented on #1634
Hello,
would it be possible to have any feedback regarding this issue?
I can provide further information about it, if it helps.
Thanks

[2021-08-25 22:50] mrmizz commented on #1531
I called 1-866-425-4709 to place an order for 1 unit. They took my contact information, and said they'd reach out in a few days with a quote.

Sure enough, 3 days later I received an email for a quote.
But it was just a quote. Simply a .pdf file. I responded saying, yes, I am ready to proceed. 3 days later. Still no reply on that email. Also, the quote email was sent from what appeared to be a con

[2021-08-26 19:24] SRai22 commented on #1366
Any updates on this issue?

[2021-08-29 06:41] kimtaehyeong opened #1670 "IR image save problem"
Save IR img problem

Hello, we have the purpose of acquiring IR images on a single PC.

[Environment]
By connecting kinect DK one by one to a single PC, you are using 3 kinects using a total of 3 computers.
We are currently acquiring IR images with my python code reference: https://github.com/etiennedub/pyk4a.
The size of the image stores 1024 1024 size.

[Situation]
The person was photographed at

[2021-08-30 07:56] jmachowinski opened #1671 "Depth sensor can get unresponsive and disappear from the USB bus on driver crash"
**Describe the bug**
The depth sensor (045e:097c) can get into a state, were it won't show up on the
usb bus any more. The only recovery from this state, is to cut the power
to the sensor.

**To Reproduce**
1. Start the driver, and start streaming
    (We used the ros driver for this)
2. Kill the driver process
3. Check if the device is still present on the bus
4. If still present, repeat from ste

[2021-08-30 16:53] qm13 commented on #1670
It sounds like you are using the active IR image that is generated by the depth engine as an offshoot of calculating depth. This is a fixed exposure and fixed illumination image. If the person is too close to the camera the IR image will be overexposed (similarly if they are too far from the camera it will be underexposed). If you want a controlled IR image then I suggest you use the passive IR im

[2021-08-30 16:55] qm13 commented on #1671
Please test with the beta firmware [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware-beta).

[2021-08-31 01:05] JimCheong commented on #1531
I am selling mine in ebay for those that can't wait for $800.  Free shipping to Continent of US only.  1st come 1st serve.  Will ship priority mail.

https://www.ebay.com/itm/255114864826

[2021-08-31 01:17] JimCheong commented on #1564
I am selling mine in ebay for those that can't wait for $800. Free shipping to Continent of US only. 1st come 1st serve.  Will ship priority mail.

https://www.ebay.com/itm/255114864826

[2021-08-31 01:30] scotthsu98052 commented on #1669
Please send us a dump file of the app after the error happened? We need to take a look the thread states.

[2021-08-31 02:10] fig8studio commented on #1531
@JimCheong - that's a pretty shitty thing to do

[2021-08-31 02:13] JimCheong commented on #1531
It is a pretty shitty thing for you to say.  This is purely supply demand Adam Smith modern macroeconomy at work.  A shitty thing to do is when people needs it, I am not willing to part with it

[2021-08-31 02:15] JimCheong commented on #1531
It is a pretty shitty thing for you to say. This is purely supply demand Adam Smith modern macroeconomy at work. A shitty thing to do is when people needs it, I am not willing to part with it.  It is not like I am hoarding.  This is my personal unit for development

[2021-08-31 02:20] fig8studio commented on #1531
facepalm

[2021-08-31 02:58] JimCheong commented on #1531
So, you rather that I just auction it off then?  Just so you understand.  Here is the result of an auction.  $900 and they have to wait for auction to end.  Time wasted.  "Those that can't wait" means if you can, go order it from Microsoft and as for you, if you got nothing positive to say, STFU, some golden rules in life.

https://www.ebay.com/itm/393457292064?hash=item5b9be1d320:g:bIcAAOSwgodg-P

[2021-08-31 03:05] fig8studio commented on #1531
MSRP $400, Academic Discount $360... here you are on a forum of programmers and researchers trying to exploit a supply shortage by selling one for double the price of a brand new one. The fact that you're just selling one means you'd be exploiting someone just trying to get started with the Kinect, as opposed to a lab/company needing dozens if not hundreds.

And just think about what you wrote: "i

[2021-08-31 03:24] JimCheong commented on #1531
Look, I bet you never own stocks with the stock market before, or sold a home you love before.  You seems to be pissing at folks that sell stocks or their home in market condition where the price doubled.  What is wrong with you?  If you want to claim selflessness, try fostering and adopting homeless pets.  You do not need to show off your selflessness in public forum either.

[2021-08-31 07:09] Ideal-H commented on #1669
Thank you for reply.
How can I check the dump file? (now I'm working with cmake in VSCODE) Is the dump file means the execution file?
And, this error is not occurred always. So, it is difficult to get some kinds of log at that time.

Now, I changed the process way of my program.
I was use the  body tracking sdk (call the k4abt_tracker_enqueue_capture function) in multithread. But now, just capture

[2021-08-31 08:17] jmachowinski commented on #1671
We'll start a new stress test with the beta firmware.

[2021-08-31 08:40] JimCheong commented on #1531
Item sold - thanks to free market supply meets demand, another developer can continue their work

[2021-08-31 15:47] mrmizz commented on #1531
hey @JimCheong, I bet you don't write code. get off these forums.

[2021-08-31 16:39] JimCheong commented on #1531
And I bet you fill up gas at the gas station every now and then scream that someone scam you off because the price of gas changed and when they close the gas station due to no gas, you throw a tantrum as thou someone owe you an explaination.  When someone willing to pay extra for the convenience, you acted like Karen yet again.

[2021-08-31 16:50] fig8studio commented on #1531
@JimCheong - in the interest of keeping this page dedicated to updates re/ the Kinect DK, let's call a truce and stop the back and forth.

[2021-08-31 17:22] JimCheong commented on #1564
Item sold - thanks to free market supply meets demand, another developer can continue their work

[2021-09-01 02:02] scotthsu98052 commented on #1669
In VS code, you can set a conditional breakpoint at the line that is right after k4abt_tracker_enqueue_capture and the condition is when k4abt_tracker_enqueue_capture returns error.
Once the breakpoint is hit, you can switch to debug console window and use GDB command "-exec thread apply all backtrace" to get all thread stack traces.
Here is an example:
![image](https://user-images.githubuserconte

[2021-09-01 13:55] jmachowinski commented on #1671
Seems to be fixed, 1280 driver restarts, camera still present, we'll leave it running over night...

[2021-09-03 17:38] mellinger commented on #1531
So, uhm, getting back to Kinect availability...

@qm13 I just got off the phone for maybe the 10th time and they took my information for a quote only after I heavily insisted. I was told the quote would do me no good until October 2022, they had none of your optimism around a 2-4 week order fulfillment (for an order of 7).

I get the sense your ability to get a Kinect right now is heavily influenc

[2021-09-03 20:02] JimCheong commented on #1531
I called them too to order one for myself after I sold mine couple of days ago.  I choose the option for them to notify me around oct 2022 as production catches up with demand.  I will then have the opportunity to order and they say then it will be a week for it to arrive.  The current market price is about $990 to $1600 and I believe there is are a few hoarders selling at that price for multiple

[2021-09-06 02:32] demul commented on #789
Is there anyone solved this?
It will be very great if MS provide somethings like 'High Accuracy preset' in Intel Realsence SDK.
Azure have much better speculation than Intel Realsence's.
But Azure's poor SDK make many people to choose Intel Realsence.
It's obvious software gap.

[2021-09-06 03:09] Ideal-H opened #1672 "Body tracking sdk captured frame (color and depth image) is not same with the captured from sensor sdk"
Hello, I'm trying to use multiple kinect sensors in single PC and Body tracking SDK.
Until now, I'm capturing the frame using [k4a_device_get_capture] function.
But, through some test, The frame (the color and depth image) captured from [k4a_device_get_capture] function and the frame that release the frame captured from [k4a_device_get_capture] and get re-capture(? this function may just get the o

[2021-09-06 04:31] Ideal-H commented on #1669
Sorry for late.

This is the thread stack

Thread 164 (Thread 0x7ffd1e7f4700 (LWP 3925)):
#0  0x00007ffff6fcead3 in futex_wait_cancelable (private=<optimized out>, expected=0, futex_word=0x5555aa9022e8) at ../sysdeps/unix/sysv/linux/futex-internal.h:88
#1  0x00007ffff6fcead3 in __pthread_cond_wait_common (abstime=0x0, mutex=0x5555aa9022f0, cond=0x5555aa9022c0) at pthread_cond_wait.c:502
#2  0x0000

[2021-09-06 06:26] rabbitdaxi commented on #789
@qm13 could you triage this issue with your team and see whether any improvements can be done? Likely it is due to how the current the current spatial filter works (seem mbleyer’s reply above) research and improvements are needed for the spatial filtering to address the issue.

[2021-09-06 07:31] jmachowinski commented on #1671
We had it running for a few days, 4798 restart without this device disappearing.
Is this firmware safe for productive environments, or does is contain other regressions ?

[2021-09-06 14:01] Moovency opened #1673 "K4ABT_SENSOR_ORIENTATION_FLIP180 is not taken into account in k4abt_tracker_create"
Hi,

We are facing a bug in the body tracker when we are flipping the camera :
We have set the sensor_orientation property with K4ABT_SENSOR_ORIENTATION_FLIP180 value but it does not enable body tracking when the camera is 180° flipped.
We are running 1.1.0 version.

I did not find but is there already an opened issue for that ?

Thanks.

[2021-09-06 21:52] hayeonp95 opened #1674 "Azure Kinect Discontinuation/Release date?"
Hi Everyone,

Do you have any idea of release date for Azure Kinect Camera?

I have been waiting for few months to be restocked, so was wondering if it would be ever restocked any time soon?

Thank you!

[2021-09-07 19:01] #789 closed

[2021-09-07 19:31] TacoDevelopment commented on #789
@qm13 could you elaborate on why this ticket is closed?
Is there maybe a different solution in progress?

[2021-09-07 22:31] scotthsu98052 commented on #1669
@Ideal-H Thanks for capturing the stack traces. I agree with you that this might be related to multi-threads (might be a bug). From the stack traces, I saw 5 prediction threads and 5 model fitting threads were waiting,  but I can't confirm if any of these threads got stuck because I could not check their states.

Could you let me know your contact email? So, I can send you privates to verify. Than

[2021-09-08 00:19] qm13 commented on #1674
You need to call the phone number listed on the purchase page.

[2021-09-08 00:32] qm13 commented on #1672
@Ideal-H there seems to be two questions in this issue - 1) regarding accessing the RGB image associated with the pose estimation and 2) controlling temporal smoothing.

I am a little confused by the first one. It sounds like you are using k4a_device_get_capture to get the next capture in the AKDK stream and passing that to body tracking and then using k4abt_frame_get_capture to get the RGB image

[2021-09-08 05:27] Ideal-H commented on #1672
Sorry for confusing you.
the capturing code in my program is like

    capture = nullptr;
    k4a_wait_result_t getCaptureResult = k4a_device_get_capture(device, &capture, -1);                        ---- first capture
    color_image = k4a_capture_get_color_image(originalCapture);
    depth_image = k4a_capture_get_depth_image(originalCapture);

    if (getCaptureResult == K4A_WAIT_RESULT_SUCCEEDE

[2021-09-08 05:34] Ideal-H commented on #1669
Thank you !!, and I sent you e-mail <scotthsu@microsoft.com>

[2021-09-08 08:48] MseoKang opened #1675 "How to get (Euclidian) distance data"
Is there a way to get the raw distance from the Azure Kinect to each point? According to the [documentation,](https://docs.microsoft.com/en-us/azure/kinect-dk/depth-camera) the depth values are not the distances from each point to the Azure Kinect, but the z-coordinates. I was wondering if there was a way to obtain the Euclidian distance from the Azure Kinect's origin to an arbitrary point. Can I

[2021-09-08 09:48] TristanWYL commented on #536
I believe this [repository](https://github.com/TristanWYL/Azure-Kinect-Recorder) could help! With it you could know how to access to the raw data of the microphone array, and how to save the color image with C#.

[2021-09-08 09:51] TristanWYL commented on #927
Check [this](https://github.com/TristanWYL/Azure-Kinect-Recorder) out, I believe you could find what you need.

[2021-09-08 10:03] TristanWYL opened #1676 "The saved data of the mic array is not sync'ed with that of the color camera."
**Describe the bug**

Our case needs to save the data from the mic array and the color camera simultaneously. We use [this](https://github.com/TristanWYL/Azure-Kinect-Recorder) to do the work. However, an issue is that the saved audio is not sync'ed strictly with the video.

For example, given a recording of 1.5 hours, the video is always a little shorter by around 2 seconds than the audio.

To fi

[2021-09-09 09:22] TristanWYL commented on #1676
Please help answer, as it is quite URGENT!

[2021-09-10 20:39] danzeeeman commented on #1414
did you ever solve this I'm running into the same issues at the moment the

[2021-09-10 21:42] diablodale commented on #1414
Yes. I brute forced it over almost 3 weeks. It was tedious, grueling, grunt work caused by Microsoft's ongoing lack of documentation and API specs. 😕

Visual test harness, joint by joint, establishing base coord system for each joint (it changes), visually testing all quat permutation rotations for each joint, moving my own body for each perm and visually looking at the drawn effect to see the res

[2021-09-10 21:52] danzeeeman commented on #1414
can I buy you a beer?

[2021-09-10 22:14] isabelarboleda28 commented on #1564
I am also selling mine on eBay. Here is the link. https://www.ebay.com/itm/185043876603?mkevt=1&mkcid=1&mkrid=711-53200-19255-0&campid=5338273189&customid=&toolid=10001&pub=5575378759&icep_ff3=1&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg

[2021-09-11 13:19] diablodale commented on #1414
I do like IPA 😉. It would be 3 weeks * 8 hours/day * my hourly rate of IPAs 🍻 More if you make sensors/os.
I understand your interest. If you want to discuss specific terms, hit me up via email as listed in my profile.
Naturally, Microsoft can generate this needed info dramatically cheaper given they own the spec and the code.

[2021-09-13 06:17] xXCXMXx opened #1677 "Cmake and Make Issue"
The following is an issue I am facing when I build the Azure Kinect SDK:

make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libssl.so', needed by 'bin/libk4a.so.1.4.0'.  Stop.
CMakeFiles/Makefile2:5191: recipe for target 'src/sdk/CMakeFiles/k4a.dir/all' failed
make[1]: *** [src/sdk/CMakeFiles/k4a.dir/all] Error 2
Makefile:162: recipe for target 'all' failed
make: *** [all] Error 2

I

[2021-09-13 08:02] noorfatma commented on #427
Will this extender work for extending the kinect.  The newnex is taking time to be shipped to India. Is there any additional driver required for these ones.

https://www.amazon.in/Ugreen-Superspeed-Active-Extension-Repeater/dp/B01FQ88CHS/?_encoding=UTF8&pd_rd_w=KFefo&pf_rd_p=47cc7285-f327-4110-bcbf-06d303677587&pf_rd_r=H3VR9TKS235T6N4TK2FA&pd_rd_r=1f059fd7-b426-4f20-8543-c59682830a73&pd_rd_wg=IvUQ

[2021-09-13 20:58] qm13 commented on #1675
The depth value is the distance in mm of the pixel from the depth camera.

[2021-09-13 21:00] qm13 commented on #1676
There is no synchronization between the mic array and color camera.

[2021-09-14 00:38] TristanWYL commented on #1676
Thanks for your reply. So may I infer that the generation of audio samples and video frames is based on different clocks inside the device?

[2021-09-14 01:03] MseoKang commented on #1675
I tested it, and the depth value was not the distance between the object and the depth camera, but the z-coordinates. For example, two objects at (-300, 0, 600) and (600, 0, 600) gave the same depth values, even though their distances were different. I know that the depth camera uses a time-of-flight sensor, so the device should know the raw distance somewhere.

[2021-09-14 07:11] masterchef8 opened #1678 "Windows 10 - 11 ARM"
Hello,

I would like to know if at some point the ARM version of Windows 10 and then 11 will be supported ?
I already tried on an ARM computer but it doesn't seems work. The kinect is detected but the K4Aviewer tool is crashing.

Thank you,

P

[2021-09-14 21:17] omidb commented on #1531
@qm13 hi, can you please confirm that the Azure Kinect DK is backorders by end of Oct 2022? I just called and that what they told me.

[2021-09-15 17:31] danzeeeman commented on #1414
Can someone at Microsoft address this so we don't have to pay highway robbery to some disgruntled German dev....

[2021-09-15 17:51] Chris45215 commented on #1414
I also did some joint normalization to solve this problem. Is the issue
just that you want all the joints to have the same standard orientation?

If your project is open, or if you can share the aspects that my code would
need to connect with, I can take a look and see what it would take for me
to integrate it to your program.
The price would be minimal (assuming it only takes me a few hours to
in

[2021-09-15 18:37] danzeeeman commented on #1414
Right now when I compute the relative joint orientations and apply them to parented nodes things are just wrong....

I have to flip the pelvis 90 X, 90 Z to get it upright.
I have to flip the hips 180 on an axis.
I'm stuck on the clavicles trying to get the shoulders in the right place....when I ignore the nesting and just do everything in world pos/orientation everything works fine but I'm trying

[2021-09-16 17:17] qm13 commented on #1676
Yes, the clocks are different.

[2021-09-18 04:25] ZiYue1111 opened #1679 "Azure Kinect Viewer No available devices"
Azure Kinect Viewer   No available devices

And
  Can not Open AzureKinectFirmwareTool.exe

Refresh Devices:

[ error    ] : find_libusb_device(). Unable to find Container ID: {b0e64645-1a27-4abd-b5b5-f7ef98fe8c92}
[ error    ] : usb_cmd_create(USB_DEVICE_COLOR_IMU_PROCESSOR, NULL_INDEX, container_id, &colormcu->usb_cmd) returned failure in colormcu_create()
[ error    ] : colormcu_create(containe

[2021-09-21 11:46] Zulex opened #1680 "Version 1.2.0 not able to download msi package"
As the title suggest, the download link of v1.2.0 of the sdk is not working anymore. Could this be updated, thanks in advance!

[2021-09-21 22:02] fractalfantasy opened #1681 "arms crossing above head (body tracking)"
It seems that the Azure Kinect body tracking model hasn't been trained on arms crossing above head - we use these positons a lot in our application, Kinect v2 SDK had no troubles with these poses.

CURRENT BEHAVIOUR:
https://www.youtube.com/watch?v=OU_AjH2LlO0
-tracking of arms/wrists stop when arms cross above head
-Above is a video our app using the cuda model, the blue & red dots are the wrist

[2021-09-23 16:09] adeckerroto opened #1682 "Unity Body Tracker cannot start in GPU mode"
**Describe the bug**
Unity cannot start running body tracker in Unity when the TrackerConfiguration.ProcessingMode is set to TrackerProcessingMode.Gpu . This can be done with other projects, but can most quickly be seen in the associated [Azure Kinect Samples](https://github.com/microsoft/Azure-Kinect-Samples). Reproduction steps are with this project for easy repro.

The tracker does work with th

[2021-09-26 12:21] axodox opened #1683 "Azure Kinect UWP driver"
A couple of months ago I have created a UWP compatible proof-of-concept user-mode driver for Azure Kinect for a project I worked on, as I needed to make the device work with an existing app, and this looked the simplest way to achieve it. It is available here: https://github.com/axodox/Azure-Kinect-UWP-Adapter (see the MediaSource folder for the main part of the code).

I have modified the SimpleM

[2021-09-27 08:23] yonghochang77 commented on #1354
i use USB3.0 extend 10m cable. every time below error occured.
"replace_sample(). capturesync_drop, releasing capture early due to full queue TS:   5033533 type:Depth"
when i upgrade firmware, When the program is first run, can displayed very well.
when programe died on debugging. firmware already have something.
when i start camera, firmware did not initializing like update firmware.
i want initi

[2021-09-27 11:17] canxerian opened #1684 "Built exe of the Unity sample, sample_unity_bodytracking throws K4A_RESULT_FAILED"
**Describe the bug**
The built exe of https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking does not appear to connect

**To Reproduce**
1. Confirm sample app is functioning in the Unity Editor. See [https://github.com/microsoft/Azure-Kinect-Samples/blob/master/body-tracking-samples/sample_unity_bodytracking/README.md](README.md)
2. File > Bu

[2021-09-27 11:21] #1684 closed, assigned to nobody

[2021-09-27 11:24] canxerian commented on #1684
Fixed by copying the following dlls to the same folder as the exe (as per the documentation!)

onnxruntime.dll
onnxruntime_providers_shared.dll
onnxruntime_providers_tensorrt.dll
dnn_model_2_0_op11.onnx
dnn_model_2_0_lite_op11.onnx
cudnn64_8.dll
cudnn64_cnn_infer64_8.dll
cudnn64_ops_infer64_8.dll
cudart64_110.dll
cublas64_11.dll
cublasLt64_11.dll
cufft64_10.dll
directml.dll
vcomp140.dll

[2021-09-28 00:04] gregorijk commented on #1230
This is still an open issue. I've just spent couple of hours trying to find a memory leak in my code and it turned out to be this bug related to the IMU. :(

[2021-09-29 06:20] ulricheck commented on #1354
is there any progress on identifying the problems and providing solutions for using Azure Kinect on AMD Epyc Platforms?

We recently purchased a Gigabyte G482-Z51 Server (Epyc 7352). On Linux and Windows, capturing breaks soon after starting the stream with the error "corrupted jpeg stream" (NFOV_UNBINNED, no matter which color resolution, framerate we choose, Linux & Windows, BGRA / MJPEG setting

[2021-09-29 11:38] jmachowinski commented on #1354
The only solution that worked for us it to disable the rgb stream altogether. The problem with this is, that you loose the synchronization feature, that is crucial in a multi sensor setup.

I looked a lot into this problem on the software side, but could find obvious problems.
https://github.com/libuvc/libuvc/issues/191
Might be related. It seems, that the ISO transfer frame is oversized. But this

[2021-09-30 10:47] Ahmed-KASAPBASI commented on #992
I have the same question but for kinect v2, I want to connect 2 or 3  Kinect v2 to one Computer?

[2021-09-30 10:53] Ahmed-KASAPBASI commented on #971
I have the same question but for kinect v2, I want to connect 2 or 3 Kinect v2 to one Computer, is that possible?

[2021-09-30 12:21] ulricheck commented on #1354
Thanks for your feedback .. we'll work with intel platforms in the meantime, however it would be really appreciated if the MS team could provide some information about the compatibility of the Azure Kinect Sensor for various (multi-camera) platforms (CPU/Chipset/USB-Controller) that were testet / approved.

Disabling RGB is not an option as we depend on both streams in our application. Since the i

[2021-09-30 12:54] Ankitjaiswal1201 commented on #1531
Looks like I have to do the same. Waiting for 1 and half months. Initially told it will be available in 1 month and when I spoke yesterday, they said waiting time is 6 months. This is for Germany.

[2021-09-30 16:04] fig8studio commented on #1531
It's a bit late now, but FWIW, even Intel is EOL'ing their RealSense line (at least most products now, maybe more soon).
Must be something much larger than just Microsoft. Starting to consider StereoLabs' ZED line more seriously...

[2021-09-30 17:31] Ankitjaiswal1201 commented on #1531
I will also start looking for ZED... Have to see how good the depth details are.

[2021-10-01 11:14] bumbastic opened #1685 "start_timestamp_offset_usec is given in _ns"
I found that using k4a_playback_get_record_configuration to get uint32_t k4a_record_configuration_t::start_timestamp_offset_usec.
The value is given in nano seconds, and not micro seconds as indicated by the name start_timestamp_offset_usec.

[2021-10-04 10:00] xutianfen commented on #1035
Hi
I am a new guy for Azure Kinect camera.
I met the same problem as above

OS with Version: Windows 10 Enterprise version 2016 LTSB
SDK Version: 1.4.1

After clicking the START button, I got the same logs as above.
I have already reinstall the windows but unfortunately the problem is still there.

BTW, the camera works well when it is connected to another PC with
Windows 10 Pro.

Do you have any

[2021-10-05 08:29] hirokim opened #1686 "An error occurred while taking a capture in sync with multiple kinects"
**Describe the bug**

Color image and Depth image are acquired from each kinect by synchronizing 4 kinects in a Daisy-chain configuration.
It works fine for the first few minutes to tens of minutes, but after a while it quits with an error.
Do you know what caused it?
It would be very appreciate if you could advise me what to do to make it work properly.

**Desktop**
 - OS with Version: Windows 10

[2021-10-06 00:04] qm13 commented on #1680
The .msi files pre v1.4 have been pulled due to a security issue with the signing process of those files (not restricted to Azure Kinect). There are no plans to resign and reissue.

The documentation will be updated shortly.

[2021-10-06 00:06] qm13 commented on #1679
There is an issue with either the USB stack, USB port, cable or Azure Kinect as it does not appear to be enumerating correctly.

[2021-10-06 00:07] #1676 closed, assigned to qm13

[2021-10-06 00:08] #1674 closed, assigned to qm13

[2021-10-06 00:15] qm13 commented on #1671
The firmware is safe to use. It will be officially release as part of Sensor SDK v1.5.

[2021-10-06 00:15] #1670 closed, assigned to qm13

[2021-10-06 00:16] #1668 closed, assigned to qm13

[2021-10-06 00:16] #1666 closed, assigned to qm13

[2021-10-06 00:19] #1664 closed, assigned to qm13

[2021-10-06 00:19] #1663 closed, assigned to qm13

[2021-10-06 00:21] #1661 closed, assigned to nobody

[2021-10-06 00:21] #1659 closed, assigned to nobody

[2021-10-06 00:21] #1658 closed, assigned to nobody

[2021-10-06 00:23] #1655 closed, assigned to scotthsu98052

[2021-10-06 00:23] #1654 closed, assigned to nobody

[2021-10-06 00:24] #1651 closed, assigned to qm13

[2021-10-06 00:24] #1650 closed, assigned to nobody

[2021-10-06 00:27] qm13 commented on #1648
Yes, it is still coming. The SDK is an evolution of the current SDK with minor breaking changes. You should not have any problems migrating from the current SDK to v2.0 (when it comes).

[2021-10-06 00:27] #1648 closed, assigned to nobody

[2021-10-06 00:27] #1647 closed, assigned to nobody

[2021-10-06 00:28] #1645 closed, assigned to nobody

[2021-10-06 00:29] #1643 closed, assigned to nobody

[2021-10-06 00:30] #1641 closed, assigned to nobody

[2021-10-06 00:30] #1639 closed, assigned to nobody

[2021-10-06 00:30] #1635 closed, assigned to nobody

[2021-10-06 00:32] #1630 closed, assigned to qm13

[2021-10-06 00:33] #1628 closed, assigned to qm13

[2021-10-06 00:33] #1622 closed, assigned to nobody

[2021-10-06 00:33] #1620 closed, assigned to qm13

[2021-10-06 00:34] #1619 closed, assigned to nobody

[2021-10-06 00:34] #1616 closed, assigned to nobody

[2021-10-06 00:35] #1605 closed, assigned to qm13

[2021-10-06 00:36] #1597 closed, assigned to nobody

[2021-10-06 00:39] #1588 closed, assigned to qm13

[2021-10-06 00:41] #1581 closed, assigned to nobody

[2021-10-06 00:41] #1554 closed, assigned to nobody

[2021-10-06 00:42] #1515 closed, assigned to nobody

[2021-10-06 00:42] #1530 closed, assigned to nobody

[2021-10-06 00:43] #1473 closed, assigned to nobody

[2021-10-06 00:54] qm13 commented on #1531
We are working with third parties to expand the available Kinect based depth cameras. This effort started more than 2 years ago with the licensing of the depth pixel to Analog Devices. Analog Device released a depth sensor based on this pixel (electrically compatible with the one in Azure Kinect) early in 2021 and we now have module vendors and camera vendors developing Kinect based depth cameras.

[2021-10-06 04:57] ekdrnqkdrn commented on #1671
Hello.
I had this problem and updated the firmware to Azure Kinect DK _Fw_1.6.110080014B.bin, but the same problem occurs when the PC reboots.
![image](https://user-images.githubusercontent.com/75236024/136142977-34cab008-7227-4db7-9cd8-cf1a4e4883d1.png)

[2021-10-06 15:46] omidb commented on #1531
@qm13 is the microphone part of the Azure Kinect platform? Basically, if the 3rd parties produce the Kinect, is there a guarantee that we get the same sensor, lens, mic ?

[2021-10-06 17:30] fractalfantasy opened #1687 "depth feed has inaccuracies along edges of silhouettes"
The depth map seems to lighten up around the lip of silhouettes, causing protrusions/artefacts along the edges in 3d.
Likely an issue caused by filtering within the sensor SDK -  Kinect v1 & v2 didn't have this issue.

https://www.youtube.com/watch?v=9DBaMCZ8ols
- This video shows the depth map displacing a simple plane with normals mapped to color. Notice the spikey protruding edges.
- It also sh

[2021-10-06 18:35] fractalfantasy commented on #1687
**Hypothesis 1 - SDK Spatial Filter**
I believe **SDK's spatial filter** may be causing these inaccuracies/artefacts - other users are getting edge issues because of it - perhaps exposing the smoothness/filtering param would help.

-  Issue #789
- [User on StackOverflow](https://stackoverflow.com/questions/60057410/how-to-turn-off-depth-filter-for-azure-kinect-for-borders-and-flying-pixels)

**Hyp

[2021-10-06 18:37] apockill commented on #1263
Any updates on this front? Ubuntu 20.04 isn't getting any younger :wink:

[2021-10-06 22:27] diablodale commented on #1576
No solution/alternative/fix/update to resolve the proven memory leak has been provided by Microsoft. This issue has been prematurely closed by the Kinect and Azure teams at Microsoft.

I will not be tracking this issue anymore due to 16 months of no progress or updates to the Kinect Azure platform.

[2021-10-07 16:34] qm13 commented on #1531
@omidb that is an excellent question. Microsoft whilst influencing what third parties build, the third parties are doing their own market research and making their own design decisions. There should be cameras with the same depth specifications and similar or better RGB camera. There should also be depth only cameras with different depth specifications. Some may also include mics and IMUs.

[2021-10-07 20:08] qm13 commented on #1576
@diablodale yes, we have a solution. Working on releasing it. Sorry, did not mean to close this issue prematurely.

[2021-10-08 18:38] sloretz commented on #1263
By automation to test, do you mean CI or something that tests the binary artifacts? Is it something open source that can be contributed to?

[2021-10-08 21:39] rida-xavor commented on #1571
@UnaNancyOwen Hi have you tried using K4a_calibration in python or know how can we achieve it? Basically converting Pixel to world coordinates.

[2021-10-08 22:32] omidb commented on #1531
@qm13 Can you please share contact to some of these 3rd parties?

[2021-10-08 23:14] UnaNancyOwen commented on #1571
@rida-xavor I has tried converting to point cloud from depth image. My sample program is here.
https://github.com/UnaNancyOwen/AzureKinectSample/blob/master/sample/python/point_cloud.py

In the Python API, all pattern transformations (including per-pixel conversion) are implemented in the transformation class.
These are versions that have not yet been released and may change in the future. If you

[2021-10-08 23:31] UnaNancyOwen opened #1688 "[python] move per-pixel conversion APIs to calibration class from transformation class"
**Describe the bug**

In the Python API, all pattern transformations (including per-pixel conversion) are implemented in the [transformation class](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/python/k4a/src/k4a/_bindings/transformation.py).
In the C, C++, and C# API, per-pixel conversions (such as convert_2d_to_3d, convert_3d_to_2d) are implemented in the calibration clas

[2021-10-09 13:55] AlexJian1086 commented on #1571
@UnaNancyOwen @rida-xavor has anyone been able to convert pixel to world coordinates using KInect like we do in intel realsense using rs.rs2_deproject_pixel_to_point() function?

[2021-10-09 23:29] UnaNancyOwen commented on #1571
@AlexJian1086 It is [pixel_2d_to_point_3d](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/python/k4a/src/k4a/_bindings/transformation.py#L157-L215).

[2021-10-11 05:51] AlexJian1086 commented on #1571
@UnaNancyOwen Thank you so muc for quick response. Can we use this function with transformation directly or we'll have to use  k4a_calibration_2d_to_3d?

[2021-10-11 06:48] PierrePlantard commented on #1606
Dear @qm13, is this issue is corrected ? If so, when do you plan to release the new version.
Regard,
Pierre

[2021-10-11 06:52] UnaNancyOwen commented on #1571
@AlexJian1086 I think you can transform pixel to point using following code in Python API.
If you want more information, please create new issue because this question has nothing to do with this issue.

[code]

[2021-10-11 20:22] chiwa737 commented on #1411
I love to have this as well

[2021-10-11 21:32] qm13 commented on #1411
Darn. Meant to update this issue many moons ago. Here is a link to a sample video

https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_recordings

[2021-10-11 21:32] #1411 closed, assigned to qm13

[2021-10-12 14:29] Nbring commented on #1531
@omidb +1. Interested too to get the contact of the third parties! Does that mean Microsoft will stop selling sensors under the Kinect umbrella?

[2021-10-12 17:04] adammpolak commented on #1411
Thank you!

[2021-10-12 17:40] AdeebAbbas-TRI commented on #1564
any updates ?

[2021-10-12 17:45] Zaptu3117 commented on #1564
We bought some from big apple buddy.
They have some for the correct price.

Le mar. 12 oct. 2021 à 19:41, AdeebAbbas-TRI ***@***.***> a
écrit :

[2021-10-13 09:59] rida-xavor opened #1689 "Pixel to word coordinates in Python, pixel_2d_to_point_3d."
Hey, I've been following the Python API to calculate pixel 2d points to 3d but I have been having problem calculating the distance in mm to input to the function, If anyone could help please let me know?

I know this is the fnction in python API
 https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/f22b76118c6f8a08d036af1c9f6a8abd3e82ea78/src/python/k4a/src/k4a/_bindings/transformation.py#L15

[2021-10-13 10:00] rida-xavor commented on #1689
@qm13  @UnaNancyOwen If could maybe have a look, I am stuck.

[2021-10-13 16:40] AlexJian1086 commented on #1571
@UnaNancyOwen Looks great, however I am unable to calculate 'depth' parameter? How exactly we get the depth distance against a specific pixel=(x,y) value?

[2021-10-14 01:21] UnaNancyOwen commented on #1571
@AlexJian1086 Azure Kinect have depth sensor. You can get depth from depth image. (I don't think we should continue discussion about your question here. @rida-xavor has created a new [issue](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1689) similar to your question, so please discuss it there. this question has nothing to do with this issue.)

[2021-10-14 04:46] rida-xavor commented on #1689
@UnaNancyOwen any leads? Still struggling to get the depth distance through the functions mentioned above

[2021-10-14 08:00] UnaNancyOwen commented on #1689
Azure Kinect have depth sensor. You can get depth from depth image.

[2021-10-14 08:03] rida-xavor commented on #1689
@UnaNancyOwen I know that, maybe my question is not clear enough, how exactly can I get it through code for a specific pixel value on the respective color image?

[2021-10-14 08:13] UnaNancyOwen commented on #1689
You can use color_2d_to_depth_2d to convert coordinate system. It can convert any (cx, cy) that color coordinate system to (dx, dy) that depth coordinate system. Then, you can get depth by just access to depth image using (dx, dy). I recommend that you read the documentation to see what conversion api's are available.
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/python/k4a

[2021-10-14 12:38] rida-xavor commented on #1689
@UnaNancyOwen Thankyou for your response. I am calculating depth value but my function 2d_pixels_to_3d_points returns None when the depth value is none. Can you please guide?

[2021-10-14 16:58] qm13 commented on #1682
The owner of the Unity sample has confirmed the issue and is considering how to fix. Others are welcome to propose fixes.

[2021-10-15 01:22] UnaNancyOwen commented on #1689
@rida-xavor It's not clear what you want to know. If you have a simple code that reproduces your problem, you should post it. That is the first step to solving your question.

[2021-10-15 02:38] UnaNancyOwen commented on #1689
If you want get 3d point from any 2d pixel that color coordinate system, you can get it as following sample.

[code]

If you want get 3d point from any 2d pixel that depth coordinate system, you can get it as following sample.

[code]

It seems to be right. You need to check valid depth value.

[2021-10-15 13:00] rida-xavor commented on #1689
Basically I have a color image and a depth image, I use color image initially to get a few coordinate points and then I need to get their corresponding world coordinates in mm to perform calculations.
I make a dictionary against each color pixel the corresponding world coordinate but my code crashes and the loop discontinues when depth value is 0 and 2d_pixels_to_3d_points returns (None, None, Non

[2021-10-15 13:03] rida-xavor commented on #1689
@UnaNancyOwen Even after following your code snippet for " 3d point from any 2d pixel that color coordinate system" I am unable to achieve my goal. Also the documentation is very confusing, maybe you guys need to work on it a bit.
I was using intel realsense for my usecase previously and it worked like a charm, I am really not sure how exactly we can tackle 0 depth value issue

[2021-10-15 13:34] UnaNancyOwen commented on #1689
First of all, the depth image that retrieve from sensor is not perfect. It will always contain some pixels with invalid depth. If you find a pixel with invalid depth, you have two choices.
The first is to interpolate depth from around pixels. the around pixels are expected to have close depth. Perhaps, you were using depth image interpolated when using RealSense.
The second is to treat this case a

[2021-10-16 17:18] adammpolak opened #1690 "`cmake --build . --config Release --target install` does not install to specified directory"
**Describe the bug**

`cmake --build . --config Release --target install` does not install to the specified directory

**To Reproduce**
1. `    git clone --depth 1 --branch v1.4.1 \
        https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git`
2. `cd Azure-Kinect-Sensor-SDK`
3.
[code]
4. `cmake --build . --config Release --target install`
5. See that it is not installed in `${LOCAL_DIR}/k4a`

[2021-10-17 11:36] rida-xavor commented on #1689
@UnaNancyOwen Thank you so much for clarity.
Although I tried treating it as an exception and skipping calculations for frame with 0 depth value but my use case almost never gives me results so I guess I'll have to test the first option.

Do we have something regarding interpolation in K4a python API? The depth_to_color_custom function helps with interpolation or we'll have to write our custom cod

[2021-10-17 11:44] rida-xavor commented on #1689
@UnaNancyOwen  Also regarding your second comment, currently I am using **depth_to_color_image** to transform my depth image to the geometry of color image and then using  **pixel_2d_to_point_3d(color_pixel, depth_value, k4a.ECalibrationType.COLOR, k4a.ECalibrationType.COLOR)** to get the corresponding value in mm in world coordinates.
Whereas my depth value is calculated using depth_value = trans

[2021-10-18 00:13] UnaNancyOwen commented on #1689
Azure Kinect SDK doesn't have an implementation of the interpolation for depth images. You will need to implement it yourself.

[2021-10-18 10:21] vladsterz commented on #983
for anyone still wondering, you have to use `newK` in order to de-project correctly

[2021-10-19 15:17] wangmiaowei opened #1691 "Code for point cloud to depth img"
Thanks for your contributions. I have noticed that we can project the depth map to point cloud using the intrinsic matrix and distortion parameters. Is there anyway to project the point cloud to depth map?

[2021-10-20 07:08] yonghochang77 opened #1692 "record handle can not create when stop code before flush or release."
filename was wrong. please close this issue.
sorry^^;

[2021-10-20 10:44] LU-MING-HUA commented on #1125
I have a question. I use Win10P RTX3080 to turn on body tracking v1.1.0 but it can’t be displayed. I use CUDA 11.1 according to the article. Is anyone like me? I am a student  first contact with Azure Kinect

[2021-10-21 00:21] #1680 closed, assigned to qm13

[2021-10-21 00:21] #1646 closed, assigned to qm13

[2021-10-21 17:46] #1692 closed, assigned to nobody

[2021-10-21 19:33] cavisions commented on #1531
@qm13 Will the 3rd party cameras be compatible with the body tracking sdk developed to Azure Kinect?

[2021-10-21 23:39] qm13 commented on #1531
@cavisions Yes

[2021-10-23 07:20] Havehandssook opened #1693 "Get visual depth maps！"
When I use k4aViewer, I find that the depth map is in color .
![QQ截图20211023151858](https://user-images.githubusercontent.com/74224500/138546875-629a81ab-579c-4d8b-83f9-01a90e9d61ab.jpg)
 I wonder if there is an API that can get color depth maps directly

depthimage = k4a_capture_get_depth_image(sensor_capture);
Mat depthImage = Mat(k4a_image_get_height_pixels(depthimage),
			k4a_image_get_width_p

[2021-10-24 07:23] DrMaxP opened #1694 "HighPoint 1388C 8-Port USB 3.2 Controller"
Anyone used one of these cards? They feature 8 USB-C ports with independent controllers for each. Not sure what the USB controller is though? Wold be potentially great for powering and driving 8 Azure Kinects?

[2021-10-24 10:26] DrMaxP commented on #1694
Seems the controller is a RocketU 1388C host controller. I've read that the Highpoint 1144D works with the Kinect for data, so hopefully the 1388C might work for power and data. It can deliver 7W to each port.

[2021-10-24 18:32] DrMaxP commented on #1694
OK, probably unsupported as it's not one of these host controllers?
Windows
Intel
Texas Instruments (TI)
Renesas

[2021-10-25 16:41] Havehandssook opened #1695 "Align the depth map with the color map！"
I know the depth map is distorted，I can calibrate it.
But,do I need to calibratethe depth map before the depth map is aligned with the color map？
I tried calibratethe the depth map first and then using the depth map to align the color map, but that didn't work well.
Is the calibration done while the depth map is aligned with the color map?
Also, do I need to calibrate the depth map before color al

[2021-10-25 18:27] qm13 commented on #1693
Use the k4aviewer source code as a reference.

[2021-10-25 18:57] pucciland95 commented on #1263
Hello all,

I agree that a version for 20.04 is necessary. I must use Windows only for this reason since in my lab. we have an Azure Kinect.
I have also tried the workaround of @mpdroid but I am not able to use Ubuntu 18.04 repos in my Ubunto 20.04, probably cause I am a noob. Here my error:

`E: The repository 'https://packages.microsoft.com/ubuntu/18.04/prod focal Release' does not have a Releas

[2021-10-26 06:11] Havehandssook commented on #1693
However, I did not find the code for color depth maps in Azure- Kinect-sensor-sdk \examples，If so, could you please give me a link? Thank you！

[2021-10-27 17:33] leGITplease opened #1696 "Body Tracking Viewer crash on startup"
Hi guys, im new here and a student, if i do anything wrong pls be nice, im doing my best.

PC:
AMD Ryzen 5 2600 Six-Core Processor               3.40 GHz
x64
Gigabyte GeForce GTX 1660 OC 6G
16GB RAM
Windows 10 Pro

The following versions i have installed:

NVIDIA driver (latest):
![driverUptoDate](https://user-images.githubusercontent.com/13260266/139115028-5551c787-7376-442d-be7d-c59e167a115a.PNG

[2021-10-28 09:40] ytrock commented on #1696
same problem.
And if I try to launch the body tracker using C++ code, it outputs:

2021-10-28 17:29:19.3643539 [W:onnxruntime:K4ABT_ORT_Environment, cuda_execution_provider.cc:1885 onnxruntime::CUDAExecutionProvider::GetCapability] CUDA kernel not found in registries for Op type: Sign node name: Sign
2021-10-28 17:29:19.3686044 [W:onnxruntime:K4ABT_ORT_Environment, fallback_cpu_capability.h:140 on

[2021-10-28 09:43] leGITplease commented on #1696
srry im new, need to get to know this platform better, thats why i closed this issue before

[2021-10-28 11:47] martivilella commented on #1263
Instead of adding the repository keys, simply download the files that you need manually from the repositories. You can then install them with `dpkg`, like so:
[code]
This will work fine. Links to the repos is in a comment of mine upstream in this thread.

[2021-10-28 13:36] pucciland95 commented on #1263
Hello @martivilella and thank you for your answer,

I have already tried to download and install them with dpkg both

**k4a-tools_1.4.1_amd64.deb**
**libk4abt1.0_1.0.0_amd64.deb**
**libk4a1.3_1.3.0_amd64.deb**

in fact running k4aviewer in the terminal the correct interface appears but as soon as I try to run it (after plugging in the Azure Kinect)  it gives me back this error:

`usb_cmd_create(US

[2021-10-29 13:59] pucciland95 commented on #1263
As promised here the output after running k4aviewer

[code]

and here the output of the interface:

![Screenshot_20211029_155657](https://user-images.githubusercontent.com/45453682/139448127-16d5845c-d27f-4b1a-b970-d5cf6e90334e.png)

Thank you for your help in advance

[2021-10-29 14:04] luc122c commented on #1263
@pucciland95 It looks like it can't access the device. Have you added the udev rules as described here? https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#linux-device-setup

[2021-10-29 14:39] pucciland95 commented on #1263
@luc122c Thank you so much for your answer! That was exactly the problem :dancing_men: . Now I will try to use the SDK in my code and see if it works also there (but I don't see why it shouldn't)

Cheers!

[2021-10-30 09:55] Havehandssook opened #1697 "How do I get MJPG images？C++"
When I use the following code I can get color images in BGRA format.

    k4a_device_t device = NULL;
	K4A_FAILED(k4a_device_open(0, &device));

	k4a_device_configuration_t config = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;
	config.camera_fps = K4A_FRAMES_PER_SECOND_30;
	config.color_format = K4A_IMAGE_FORMAT_COLOR_BGRA32;
	config.color_resolution = K4A_COLOR_RESOLUTION_720P;

	k4a_device_start_cameras(

[2021-10-30 09:58] Havehandssook commented on #1695
I tried opencV's applyColorMap function,But it will cause the image to blink and lose frames.

[2021-10-30 11:57] kalisina opened #1698 "Multiple sensors strange order"
Hi Everyone,

I've got 6 Azure Kinects sensors connected to my computer (using PCI Express Card USB port mainly).
And I've noticed that the sensors are not listed in the order that I've plugged them.
Do you know what's the sensor order logic?
I've got my 6 camera configured in a daisy chain configuration, but the sensor numbers are not aligned, which makes it confusing.
I've tried pluging them aga

[2021-10-30 22:39] darthcodar opened #1699 "Azure Kinect Camera not detected in Viewer - Windows 11"
Device is connected via USB 3.0 and LED on back is solid white.
Azure Kinect Viewer fails to detect the device.

Desktop:

    Display Drivers: latest nVidia GeForce
    OS with Version: Windows 11 Pro, version 21H2
    SDK Version: 1.4.1
    Firmware version: (unable to connect)

Additional context
Unable to Find device in Azure Kinect Viewer app, tried refresh devices, reboot.
Unable to see devi

[2021-10-31 13:50] kalisina commented on #1214
Hi @ETLang ,

Have you managed to fixed your issue with the sync?

[2021-10-31 17:46] kalisina opened #1700 "Latest firmware versioning issue on SDK v1.4.1?"
Hi Guys,

I'm using 6 Azure Kinects.
I've done a factory reset for all of them (manually pushing the button), and what I've noticed is that the factory firmware is higher than the firmware provided by the latest sdk v1.4.1, is that just a versioning typo issue? Or should I leave the factory firmware and not use the one from the SDK.

You'll notice that the `Depth camera firmware` is downgrading af

[2021-11-01 16:57] qm13 commented on #1696
@leGITplease It looks like you are using CUDA 11.5. Body Tracking v1.1 was tested on CUDA 11.1. Can you please downgrade to CUDA 11.1 and retest.

[2021-11-01 17:05] #1699 closed, assigned to nobody

[2021-11-02 06:34] ccddttsst commented on #1696
I have met exactly the same problem. CUDA11.1. Color, depth, and other streams work well. However, the k4abt_simple_3d_viewer crashed at opening without error message even with CPU mode. May I ask if you find any solution?

[2021-11-02 13:05] Havehandssook commented on #1697
![QQ截图20211102210148](https://user-images.githubusercontent.com/74224500/139851877-30992f46-9afc-44ec-b578-086939bf951b.jpg)
I found this in the document, but I don't know how to use JPEG decoder... ...
  @qm13

[2021-11-02 21:09] kalisina commented on #1350
Hi @siraj-haid
I'm currently running into the same issue, which power cable are you using now?
You're not using the one provided in the box anymore?

Hi @qm13, I've factory reseted the device manually, what do you mean by flashing it?

Hi @guss2149, have you fixed the issue on your side?

[2021-11-02 21:46] qm13 commented on #1350
@arkader https://docs.microsoft.com/en-us/azure/kinect-dk/update-device-firmware

[2021-11-02 21:48] qm13 commented on #1700
@arkader the factory has started loading the latest firmware. The v1.5 SDK which carries the new firmware is delayed. You can also find the firmware here https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/firmware

[2021-11-02 21:54] qm13 commented on #1698
@arkader the order is determined by Windows the first time you plug the devices into the PC. The order is then preserved.

[2021-11-02 22:22] kalisina commented on #1700
Thank you for this information @qm13
I'll upgrade all the sensors to this latest version then:
AzureKinectDK_Fw_1.6.110080014.bin

[2021-11-02 22:28] kalisina commented on #1620
Hi @haeginh
I've you managed to fix your issue. I'm using 6 sensors, and I have exactly the same problem.

[2021-11-02 22:33] kalisina commented on #550
Hey @YuXinFan
Did you manage to fix the issue? I've got the same when running 6 sensors at 1080p

[2021-11-02 23:11] kalisina opened #1701 "[ error ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS: 227411833 type:Depth"
Hi Guys,

I'm running into a very annoying issue when using multiple sensors.
I'm using 6 Azure Kinects connected to my computer (using 2 PCI Startech card, and using 3 usb for each)
The kinects are configured in a daisy chain configuration.
When opening 6 instances of the Azure Kinect View, and starting the camera in 1080p, 30fps, 50Hz, NFOV Unbinned
after few minutes (vary from 30 secs to severa

[2021-11-03 08:06] ridasaleem0 opened #1702 "Use Calibration function without opening the Device"
Hi,
I was wondering if we can use use calibration function without opening the device in case we don't have access to the hardware.
Can we probably hard-code the serial number and hardware specifications along with other parameters which the Device instance usually get to initiate a device?

Basically I want to use **transform = k4a.Transformation(calibration)** without opening the device. Is ther

[2021-11-03 08:06] ridasaleem0 commented on #1702
@UnaNancyOwen @qm13

[2021-11-03 12:28] kalisina commented on #1698
Thank you @qm13

[2021-11-03 12:28] #1698 closed, assigned to qm13

[2021-11-03 13:17] #1700 closed, assigned to qm13

[2021-11-03 14:38] YuXinFan commented on #550
@arkader I forgot the detail and I have left the project, but it has been fixed.

I remember that this error only occurs at the starting process. It has some probability of error or normally starts in my PC.  if the device runs normally, it won't cause this error in the following running.

Maybe you can add a mechanism in your code to catch the error and mechanism restart it until normally start.

[2021-11-03 18:22] bearpaw commented on #1555
I got the same warnings with v1.1 and it led to a crash
[code]
Seems [this issue](https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/188) is related? Could anybody take a look into this? Thanks!

[2021-11-04 18:17] burakaksoy commented on #1342
Still hopefully waiting for the support..

[2021-11-04 18:44] qm13 commented on #1702
I assume this is in reference to handling images in recordings. The recording includes the calibration of the Azure Kinect DK that was used for the recording. You can use k4a_playback_get_calibration() to get the calibration from the recording.

[2021-11-05 07:44] wxr521314 opened #1703 "How to stop recording using the Python script Ctrl-c."
Hello,
         I wrote a Python script to call CMD to run k4ARecorder. Exe, I want to record a long video at random, but Ctrl-C is not working, how can I modify my code? I want to name the generated video file according to the date. I hope you can help me. Thank you very much.

Best Wish！

import time
import os
save_path = 'C:/Data/'
time_now = time.strftime("%Y%m%d", time.localtime())
path = sav

[2021-11-05 09:57] ridasaleem0 commented on #1702
@qm13  Not really related to playback, I am segregating a pipeline and I need to use the Transform function on incoming frames from the client end to the server-side, I suppose we cannot use Transform function() without opening the device? If there is a way, please suggest it.
Basically using transform function on color and depth frames without access to the camera.

[2021-11-06 00:06] lnocera commented on #1696
Similar issue on laptop and desktop with 2 different Azure Kinect:
- Followed all the steps including firmware update
- The Kinect Viewer works fine with color and depth
- The Kinect Body Tracking Viewer opens a blank window and shuts down with no error message (on Command Prompt)

[2021-11-06 17:18] pucciland95 opened #1704 "Body tracking k4abt_simple_3d_viewer crashes on start up"
Hello everybody, I am trying to set up the body tracking abilities that the Azure Kinect is supposed to have. Hereafter my PC configuration and the drivers installed:

OS: Ubuntu 20.04
CPU: Intel i7-1050H CPU 2,60 GHz
GPU: Gtx 1050
GPU driver and Cuda version (output of nvidia-smi): NVIDIA-SMI 495.29.05    Driver Version: 495.29.05    CUDA Version: 11.5

Camera settings
 - SDK Version: 1.4
 - Body

[2021-11-06 20:07] pucciland95 commented on #1263
Hello guys, were someone between you guys able to make the body tracking work with version 1.1 and SDK 1.4.1 always in Ubuntu 20.04?
If I launch k4abt_simple_3d_viewer it returns the following error:

`2021-11-06 21:06:15.935753118 [W:onnxruntime:K4ABT_ORT_Environment, cuda_execution_provider.cc:1885 GetCapability] CUDA kernel not found in registries for Op type: Sign node name: Sign
2021-11-06 21

[2021-11-07 18:10] D1no commented on #388
Any update on this? Also the link provided is dead.

This is the most upvoted user request for a "development kit" because developers happen to use the linux BSD based mac operating system.
![image](https://user-images.githubusercontent.com/2397125/140656597-2f8f32a0-9867-41b5-a519-85e9abb9a715.png)

[2021-11-08 07:17] ridasaleem0 commented on #1702
@qm13 any leads?

[2021-11-08 09:11] Chang-Che-Kuei opened #1705 "How does the official example "sample_unity_bodytracking" convert the joint coordinate to the Unity?"
In the example [sample_unity_bodytracking](https://github.com/microsoft/Azure-Kinect-Samples/blob/master/body-tracking-samples/sample_unity_bodytracking/Assets/Scripts/TrackerHandler.cs), the program converts each joint coordinate to the coordinate in Unity.
I know that the official [document](https://docs.microsoft.com/en-us/azure/kinect-dk/body-joints) has described a bit about the joint coordin

[2021-11-11 02:36] jjkislele commented on #1625
It works. Thank you very much.

[2021-11-11 16:44] leGITplease commented on #1696
Im having some trouble with my pc currently due to installing an reinstalling certain applications(cuda and such) but one of these days im gonna test if it works, thanks.

edit: i am planning on reinstalling all on this system if the previousdoesnt work or would you think it is a good idea to use a virtual machine for instance or would that not work?

[2021-11-11 18:42] qm13 commented on #1704
We have not extensively tested on CUDA 11.5 and at this point only support CUDA 11.1.

[2021-11-11 18:57] qm13 commented on #1701
The depth engine is not keeping up with the inbound depth image queue. This may be a bandwidth issue as opposed to sufficient compute issue.

[2021-11-12 03:45] v-wewei commented on #1599
@fi6 Does the issue solved?

[2021-11-13 15:19] zhangzscn opened #1706 "How to get undistort rgbd data from azure kinect dk？"
Because some libraries do not support distortion parameters for reprojection，like pytorch3d。So i need the undistort rgbd data，just color image and depth image。

First，use function k4a_transformation_depth_image_to_color_camera() transforms the depth map from the viewpoint of the depth camera into the viewpoint of the color camera。

But after get the same viewpoint color image and depth image。**whi

[2021-11-14 16:41] pucciland95 commented on #1704
Hi @qm13 and thank you for your answer. What about the other part? I mean at least the CPU part should be working but it returns the previously said error. Any idea why?

[2021-11-14 23:07] ma-nu-ell commented on #896
This could be resolved by adding k4arecord in target_link_libraries in CMakeLists.txt of simple_3d_viewer.
Thanx to [haeginh](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1296#issue-666281059)

[2021-11-15 02:36] Chang-Che-Kuei commented on #1706
You have transformed the depth map into color space. So you should use color camera parameters to do the undistortion.

[2021-11-15 03:56] qm13 commented on #1704
CPU mode still requires CUDA 11.1 dlls to be installed.

https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#required-dlls-for-onnx-runtime-execution-environments

[2021-11-15 04:51] challenger71498 commented on #810
For those who uses docker image for Azure Kinect, here's how I solved this '204' issue.

# TL; DR

Add options below, on running docker image.

[code]

Or, if you use docker-compose yaml file, add below at your service configuration.

[code]

Lastly, on your host computer, open terminal and type below:

[code]

You might need to execute this bash script on every boot.

More details [here](https://

[2021-11-15 15:55] mara-a-dev commented on #1682
I'm facing the same issue as @adeckerroto, I'm using TrackerProcessingMode.Cuda in my project and the delay is very noticeable.
Are there any updates or fixes on this issue?

[2021-11-16 01:40] zhangzscn commented on #1706
thank you！I have get the rgbd data form from azure kinect dk，by use opencv and color camera distortion parameters to undistort color image and depth image，then use color camera intrinsics parameters to transform depth image to pointcloud，the result pointcloud was as same as by use depth_image_to_point_cloud。

[2021-11-16 01:40] #1706 closed, assigned to qm13

[2021-11-16 01:47] zhangzscn opened #1707 "Failed to load shared object libdepthengine.so.2.0 with python sdk"
In ubuntu 20.04,after build the python sdk,get the k4a-0.0.2-py3-none-any.whl file,then install it to my project。
But when runing the examples of simple_viewer,get the error like this:

[2021-11-16 09:01:11.021] [error] [t=5427] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/dynlib/dynlib_linux.c (82): dynlib_create(). Failed to load shared object libdepthengine.so.2.0 with error: libdepthengine.so.2

[2021-11-16 05:57] zhangzscn commented on #1707
just move libdepthengine.so.2.0 to /usr/lib/x86_64-linux-gnu solve the problem

[2021-11-16 05:57] #1707 closed, assigned to nobody

[2021-11-16 06:37] zhangzscn commented on #1571
any update for body tracking python sdk？ @qm13

[2021-11-16 08:16] rida-xavor commented on #1702
@UnaNancyOwen If someone could help, I can't find anything on the web regarding it.

[2021-11-16 08:25] ridasaleem0 commented on #1702
@UnaNancyOwen  If someone could help, I can't find anything on the web regarding it.

[2021-11-16 13:13] haeginh commented on #1555
same here
*** buffer overflow detected ***: k4abt_simple_3d_viewer terminated
shows up.

[2021-11-17 00:12] UnaNancyOwen commented on #1697
If you have set image format to `K4A_IMAGE_FORMAT_COLOR_MJPG`, the buffer that retrieved by `k4a_image_get_buffer()` is jpeg encoded data. You need to decode it yourself.

[code]

If you want to convert `k4a_image_t` to `cv::Mat` easily, you can use `k4a_get_mat()`. It is support all image format.
https://github.com/UnaNancyOwen/AzureKinectSample/blob/master/sample/c/color/util.h

[code]
[code]

[2021-11-17 00:46] Havehandssook commented on #1697
So many days have passed, I am so surprised to get your help, I will try the method you provided as soon as possible, at the same time, I saw that your project is also for the official API class encapsulation, I am doing the same thing, I think I will learn a lot from your project, thank you again for your reply!

[2021-11-17 01:06] haeginh commented on #1555
Hey, I solved this!
I think this seems happen when you use the latest nvidia-driver.
Please remove your current nvidia-driver and install nvidia-driver-465, reboot and try again!
This worked for me :-)

[2021-11-17 01:25] UnaNancyOwen commented on #1702
I have never used it, so I don't know the details. You may be able to use these APIs for your purpose.
These APIs can be used to store and reload the calibration information.
* [k4a_device_get_raw_calibration()](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/release/1.4.x/group___functions_ga8c4e46642cee3115aeb0b33e2b43b24f.html#ga8c4e46642cee3115aeb0b33e2b43b24f)
* [k4a_calibration_get_from_

[2021-11-17 06:58] Havehandssook commented on #1697
int main()
        {
	          k4a_device_t device = NULL;
	          K4A_FAILED(k4a_device_open(0, &device));

	          k4a_device_configuration_t config = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;
	          config.camera_fps = K4A_FRAMES_PER_SECOND_30;
	          config.color_format = K4A_IMAGE_FORMAT_COLOR_MJPG;
	          config.color_resolution = K4A_COLOR_RESOLUTION_720P;
	          config.dep

[2021-11-17 07:30] UnaNancyOwen commented on #1697
You have not released the capture handle.
Please release capture handle using `k4a_capture_release()` in proper line of your program.
Usually, that is do after getting the k4a_image_t.

[code]

[2021-11-17 07:35] Havehandssook commented on #1697
I also noticed this just now, it is running normally, thank you!May I ask you another question by the way?# 1695

[2021-11-17 07:39] Havehandssook commented on #1697
I have ported these apis using routines to correct the original depth map, but I want to correct the depth map after the depth map is aligned with the color map. These apis are no longer useful. What should I do?
![QQ截图20211117153629](https://user-images.githubusercontent.com/74224500/142156683-a30b239a-650e-477a-9c0c-0dd7af7809f7.jpg)

[2021-11-17 07:51] UnaNancyOwen commented on #1697
If this problem has been solved, you should close this issue.
And, you should not talk about other issues in here. Please talk about another problem in another issue.

[2021-11-17 07:52] Havehandssook commented on #1697
I'm very sorry, this problem has been solved!I will close this problem immediately.

[2021-11-17 07:52] #1697 closed, assigned to qm13

[2021-11-17 11:38] DavidRobb opened #1708 "Compile error in azure-c-shared when building with gcc 11.2"
I'm getting a build error in gcc 11.2 because the SDK is using an earlier verions of the external azure_c_shared library without this patch:
https://github.com/Azure/azure-c-shared-utility/issues/535

| /home/dar/bb6/build/tmp/work/skylake-64-poky-linux/k4a/1.4.1-r0/git/extern/azure_c_shared/src/src/hmac.c:211:43: error: argument 2 of type 'uint8_t *' {aka 'unsigned char *'} declared as a pointer

[2021-11-18 03:12] LU-MING-HUA commented on #1555
I have seen a lot of 465 versions. Is there a more accurate confirmation of which version it is?

[2021-11-18 05:35] haeginh commented on #1555
In my case, it's 465.19.01 :-)

[2021-11-18 06:02] zhangzscn opened #1709 "Any news for body tracking python sdk？"
When will the Body tracking python sdk be released？

[2021-11-18 07:43] LU-MING-HUA commented on #1555
I tried a lot of drivers in my case
My GPU is RTX3080
--------------DCH version------------------
466.77
472.12
--------------Standard version-------------
471.41
471.68
471.96
472.12
Can support me
The 472.12 version is the highest

[2021-11-18 11:30] mskrzypkows commented on #1126
Here is an example of Colored ICP usage: https://tianyusong.com/2021/06/04/multiple-azure-kinect-extrinsic-calibration/
I followed that example, but I used standard ICP method from Open3D and omit the part with graphical codes. It works really well.

[2021-11-19 00:54] JimCheong commented on #1564
Got an email from them today too, but they do not deliver to USA thou.  Their site says they buy from the USA and deliver to foreign countries.  Wondered where they got it from the USA?

[2021-11-19 02:38] hlyf-xs commented on #1320
I also meet the question in 18.04

[2021-11-20 04:49] JohnLee16 commented on #1709
waiting....

[2021-11-21 00:53] cpkcpkcpk commented on #1696
Same problem here - The Kinect Viewer is working fine, but the Body Tracking Viewer quits instantly on launch with no error messages. It also crashes when launching in CPU mode from command line.

PC:
AMD Ryzen 5900x
NVidia 3080
32GB RAM
Windows 10 21H1 19043.1348

Tried with both CUDA 11.1 and 11.5.

[2021-11-22 01:15] cpkcpkcpk commented on #1704
Same problem here - The Kinect Viewer is working fine, but the Body Tracking Viewer quits instantly on launch with no error messages. It also crashes when launching in CPU mode from command line.

PC:
AMD Ryzen 5900x
NVidia 3080
32GB RAM
Windows 10 21H1 19043.1348

Kinect firmware, sensor and body tracking SDKs are all most recent versions, and I have tried with both CUDA 11.1 and 11.5.

Any ideas