[2020-04-17 21:15] qm13 commented on #816
The Sensor SDK is entirely separate from the Body Tracking SDK. We recognize that there are performance issues in both SDKs. Using a single E2E experience whilst demonstrating E2E performance issue it makes it hard to isolate the bottle necks. Can we please use this issue to focus on sensor performance - the time light enters sensor to the time a capture is returned. We will use #514 to track body

[2020-04-18 14:57] jackyxu commented on #1165
Camera failed time out error for azure kinect
What should I do when I launch the "k4aviewer" SDK with "Azure Kinect SDK v1.4.0" and an error message of "camera failed time out" appears?

[2020-04-18 15:05] jackyxu commented on #1165
[ error    ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS:   4435188 type:Depth
[ error    ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS:   4468533 type:Depth
[ error    ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS:   4501855 type:Depth
[ error    ] : replace_sample(). capturesync_d

[2020-04-20 04:17] SMLimtsb opened #1183 "I want to work my own Avatar through BodyTraking SDK in Azure Kinect"
I use Azure Kinect DK to move my own 3D object Avatar through BodyTracking SDK in Unity.

I tried, but each Joint is wrong place like a trash.

(I refer to joint coordinates this : https://docs.microsoft.com/en-us/azure/kinect-dk/body-joints)

(and It is very similar with my situation : https://stackoverflow.com/questions/45648685/kinect-v2-avatar-controller-with-unity)

To Solve this, Can I make

[2020-04-20 14:19] jerogor opened #1184 "Support x86 version of Azure Kinect Body Tracking SDK"
**Is your feature request related to a problem? Please describe.**

The Azure Kinect Body Tracking SDK binaries are currently only published as 64-bit dlls. To enable 32 bit applications to use this SDK they need access to 32 bit versions of the binaries.

**Describe the solution you'd like**

If possible, include 32 bit versions of the dlls and k4abt.lib for the Azure Kinect Body Tracking SDK as

[2020-04-20 15:09] wes-b commented on #1165
#381

[2020-04-20 15:09] #1165 closed

[2020-04-20 15:32] #530 closed

[2020-04-20 20:00] DavidRobb opened #1185 "Multi-Device Sync Issue with Depth Frames"
I have two Devices connected via a sync cable as Master and Slave and have problems relating the frames produced.  I believe the frames are synced in that the data is captured at approximately the same time. However, the problem arises is that the actual frames read from the devices is not always consistent presumably due to the internal buffering of frames. Sometimes( not always but most times) t

[2020-04-20 20:13] wes-b commented on #1185
The main thing to do is start the subordinate first, which it sounds like you are doing that.  The device timestamp is the one that is synchronized, not the system timestamp. Take a look at get_synchronized_captures in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/a144b6fbe382c6357d74158414e703388d2e2608/examples/green_screen/MultiDeviceCapturer.h#L95 for how we do it in the green scre

[2020-04-20 20:36] daveherzig opened #1186 "BodyTrackingException, Missing Library"
Hi all
I am a newbi regarding Kinect. I created a Visual Studio project and was able to use my kinect device. Then I added the body tracking stuff. During the runtime I get the following runtime exception:

K4AdotNet.BodyTracking.BodyTrackingException
  HResult=0x80131500
  Message=Version 1.0.0 of Body Tracking runtime is expected.
  Source=K4AdotNet

In my project file I have:
[code]

I also ins

[2020-04-20 20:43] omartin2010 opened #1187 "Error with DecodeMJPEGtoBGRA32: MJPEG decode failed: -1"
**Describe the bug**
When I use the SDK, sometimes (pretty often since this morning), I get this error :  MJPEG decode failed: -1

**To Reproduce**
I don't unfortunately have a clear repro. My problem occurs now very often, so in my project I can repro most of the time since this morning.

**Expected behavior**
I expect this to work like it did before.

**Logs**
I've enabled the `info` logging lev

[2020-04-20 21:32] omartin2010 commented on #1187
Any chance this can be related to memory exhaustion? I'm noticing some warnings outside of this specific docker container that my code may be not releasing memory properly... Just a thought.

[2020-04-20 22:04] fractalfantasy commented on #514
Happy to see this thread reopened, and that's great that you are working on a lite DNN model.

Right now these are the main issues with body tracking performance (I can open up a separate ticket for each one but they all seem to fit this thread title):

1) FPS
2) Latency
3) Cross-platform compatibility
4) Resource hogging (GPU)
5) Accuracy (dynamic movement)
6) Power efficiency

Concerned that a l

[2020-04-21 08:03] DavidRobb commented on #1185
Many thanks for the link to the MultiDeviceCapturer sample. From the API documentation I assumed that the device timestamp was simply an independent rolling us timer present on each camera and used to stamp the images. I had no idea that when the devices are connected via sync cables that I can compare the device timestamp from one camera with that from another camera. I can see an easy way forwar

[2020-04-21 09:01] #1186 closed

[2020-04-21 09:01] daveherzig commented on #1186
Created new project from scratch solved the issue.

[2020-04-21 10:48] dotslinker commented on #1169
The current Body Tracking SDK is almost unusable on most of the devices where Kinect V2 was running smoothly. The result of this, especially in these Covid-19 times, is that we almost cannot use the new Kinect for Azure for all those applications home-based that are currently desperately needed to keep people active and in shape. Let me humbly suggest to the development team to consider opening a

[2020-04-21 12:51] fractalfantasy commented on #1169
@dotslinker I agree with you on all fronts - this topic got closed but body tracking performance is now being tracked in @rfilkov’s thread #514 so feel free to copy paste your response there if you‘d like the sdk team to see it.

Also the idea you mentioned is on the feedback forum so please upvote if you’d like to see it happen:
https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions

[2020-04-21 14:56] billpottle commented on #514
@fractalfantasy - Thank you for breaking down the issues. Obviously, every use case is different. However, I would think accuracy would likely be the most important, because the others can generally be solved, if in sub-optimal ways. For instance, resource utilization can be solved by adding more resources. For accuracy, adding computing power only delivers incorrect results more quickly. Power ef

[2020-04-21 17:05] vpenades commented on #514
@billpottle You're mistaken on the accuracy/computing power ratio.

As stated by some users, high end computers with a lot of power are simply not an option for many business models, including ours.

Once you accept the only valid platform is a low end computer you have a choice between:
- High quality poses at low frame rate.
- Low quality poses at high frame rate.

And by "low quality" I mean no

[2020-04-21 17:30] fractalfantasy opened #1188 ""IR to Color" transformation missing"
Tried to get IR to color space conversion using k4a_transformation_depth_image_to_color_camera_custom, but it doesn't seem to work.

an "IR to Depth" transformation should be very easy to add, as it's pretty much exactly the same as the Depth to Color transformation.

[2020-04-21 17:37] wes-b commented on #1185
We are all ears when it comes to making documentation better. Can you tell me what documentation you consulted that we could update?

We have this topic that should have been easy to find https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync.

I am closing the issue, but we are still listening

[2020-04-21 17:37] #1185 closed

[2020-04-21 17:56] fractalfantasy commented on #514
@qm13 @wes-b specifically how would porting kinect 2 body tracking over as a legacy  OPTION hurt development of the DNN model?

[2020-04-21 19:21] rabbitdaxi commented on #1164
@philianeles thank you for the question. The transformation_example does not compute normal, it only compute point cloud (the example is just using ply as a simple format to allow user visualize the point cloud in MeshLab). To compute the normal from a depth point cloud, there are many ways to do that, naïve way is estimating normal from neighbors but need to be careful with the depth discontinuit

[2020-04-21 19:23] rabbitdaxi commented on #1163
The transformation_example does not compute surface normal, it only computes point cloud xyz with color (the example is just leveraging ply as a simple format to allow user visualize the point cloud in MeshLab or other tools). To compute the normal from a depth point cloud, there are many ways to do that, naïve way is estimating normal from neighbor pixels but need to be careful with the depth dis

[2020-04-22 19:27] dotslinker commented on #514
I beg your pardon in advance for the long and somewhat OT post.
The current Body Tracking SDK is almost unusable on most of the devices where Kinect V2 was running smoothly (*). The result of this, especially in these Covid-19 times, is that we almost cannot use the new Kinect for Azure for all those applications home-based that are currently desperately needed to keep people active and in shape.

[2020-04-22 19:34] dotslinker commented on #1169
@fractalfantasy thanks a lot. I did it right now. It is really unbelievable that I may reach less than 20 fps for the BT SDK on a Dell i9 32 GB Ram just because I have a low rated Nvidia GTX 1650.
And the other thing I really don't understand is that usually the newer versions of the SDKs are set on the top of the previous ones, while the new K4W SDK one seems to be rather built from scratch and d

[2020-04-22 21:50] sechternacht commented on #1165
Hi wes-b,

Thank you for your help! I was under the impression I was working as Administrator and had permissions enabled, but they had been altered for that file.

As for the auto mode bug, I'm new to github and don't quite understand.   Do I need to execute the commands on the PR you linked in order to fix the issue, or will this be fixed in a future update?  Let me know and thank you again for

[2020-04-22 22:27] wes-b commented on #1165
Correct, the next release of the SDK will include the fix

[2020-04-23 08:49] UnaNancyOwen opened #1189 "Infrared/Depth data broken on Intel NUC"
**Describe the bug**

Infrared/Depth data that using NFOV 2x2 Binned mode on Intel NUC ([NUC8i7HVK](https://www.intel.com/content/www/us/en/products/boards-kits/nuc/kits/nuc8i7hvk.html)) is broken.
The log doesn't show any warnings and errors.

![capture1](https://user-images.githubusercontent.com/816705/80076692-806e1a80-8587-11ea-8ea2-2c8a455abe72.PNG)

It's connected to USB 3.0 port controlled

[2020-04-23 15:07] schultetwin1 commented on #460
We will not be able to create a Docker Image for Windows because it would need to contain Visual Studio (which we can not redistribute), Closing this issue.

[2020-04-23 15:07] #460 closed

[2020-04-23 15:15] schultetwin1 opened #1190 "Using apt to install k4a package in a non-interactive environment fails"
**Describe the bug**
If you attempt to install the Debian K4A package using `apt` (or `dpkg`) the install we fail by default. This is due to the interactive EULA which users need to accept (due to guidance from Microsoft) to install the Debian package.

A common scenario for this would be attempting to use `apt` to install `libk4a1.4` in a Docker container.

**To Reproduce**
1. Create a Dockerfile

[2020-04-23 15:19] wes-b commented on #1189
Usually when we see this kind of issue, the device has a bad graphics driver on it. Can you look into that? We currently don't have one of these units to test with.

@rabbitdaxi FYI

[2020-04-23 15:42] schultetwin1 commented on #1190
This is a known issue due to the EULA we are required to present to users. We have a work around to this issue.

The EULA acceptance is done using [Debconf](https://wiki.debian.org/debconf). You can manually set entries in the debconf database to accept the EULA before installing the debian package.

The steps to do this are as follows (please substitute in the correct version of the package):

1)

[2020-04-23 19:33] natelowry opened #1191 "Cameras failed: Failed to get capture from device"
**Describe the bug**
I've been working with the SDK for a couple months and with the 1.4 release for a few weeks, but recently started getting this error when running either my code OR the Azure Kinect Viewer.  The camera also no longer works in the Windows Camera application.  If I only select microphone in the Azure Kinect Viewer, the sound shows up.  Anything w/ cameras or IMU is no go.

I trie

[2020-04-23 20:21] wes-b commented on #1191
This is the error to investigate. 0x800700c1 means ERROR_BAD_EXE_FORMAT.

You might start by reviewing software you recently installed. Some drivers can cause Media Foundation to crash. Also check to Event Viewer to see if the System log shows any error reports at the time of your failure.

[2020-04-23 20:25] schultetwin1 commented on #1190
We are looking at adding support for allowing users to set an environmental variable to also skip this.

This would look something like

[code]

Note: You'd have to be root to get this to work as I don't think `sudo` would pass the proper environmental variables.

[2020-04-23 20:48] natelowry commented on #1191
Thanks for that!  I uninstalled the latest Zoom update (who knows with video drivers).  I'll try to get dependency walker running again (it was crashing when I tried earlier) and see.  I also downloaded ffmpeg, but I'm pretty sure I did the standalone version.

Will report back.  Thanks!

[2020-04-23 21:30] wes-b commented on #1187
This means the format of the image being decoded is corrupt. It either happens at the firmware level being read off the camera sensor or via memory corruption in the application. USB CRC's the data, so it is highly unlikely the issue happen there.

Dup of #926

[2020-04-23 23:05] omartin2010 commented on #1187
I’ll try to narrow get a repro. On the jetson, gpu memory is shared with main memory and I suspect this might be related... I’m retraining a smaller model to deploy on the jetson so that more ram is available to this container. Even if you limit ram available to the container, as I see on this platform, TensorFlow seems to see the full GPU memory available to it... without respect to the limit set

[2020-04-24 02:27] UnaNancyOwen commented on #1189
@wes-b Hi, Thanks for advice!
I have found that the Intel Driver Update Utility does not bring the Graphic Driver up to date.
Therefor, I have manually updated to the latest graphic driver that donwloaded from AMD.
It is not broken data with NFOV 2x2 Binned mode. Thanks,

I'll leave a note of the driver version and URL for those who have the same environment.
NOTE: It's a WHQL version.

* Adrenali

[2020-04-24 02:27] #1189 closed

[2020-04-24 16:47] wes-b commented on #1187
This issue was also recently raised here: https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/125

I have been able to repro this on a machine with 3 cameras, K4AViewer, 2160P, BGRA, 1.6.110079014 firmware. Frame rate was reported to be about 4FPS while running at 30.

Need to investigate if libjpeg-turbo has any fixes to this code.

Issue happens as PC becomes more CPU bound.

100% work a

[2020-04-24 17:38] omartin2010 commented on #1187
I've noticed that higher CPU usage tends to repro more often. And higher memory. I've limited GPU memory available to tensorflow on the other container so that the main memory (on Jetson TX2 at least, main memory is shared with GPU memory) is not starved and it *seems* to improve. I will investigate using other formats - need to modify the underlying python binding. I'm using relatively 720P, much

[2020-04-24 18:18] rabbitdaxi commented on #1188
@fractalfantasy the k4a_transformation_depth_image_to_color_camera_custom should be able to fulfill the purpose here. please provide details of how you are using this function and what issue/error you were hitting. We haven't receive any report of people having issue using this function yet.

[2020-04-24 18:21] rabbitdaxi commented on #1131
@ameyades if you just want to unproject single point from 2d to 3d using depth, have you tried [k4a_calibration_2d_to_3d()](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga664602bdb48dab38117a6c1d14b880de.html#ga664602bdb48dab38117a6c1d14b880de)

[2020-04-24 18:39] rabbitdaxi commented on #1129
@B747-400 the error could coming from a few things
- the intrinsics and extrinsics comparing to the hardware current status
- the depth error, since during 2d to 3d, depth is used, then the depth error could contribute to x, y, z direction, please refer to the [spec](https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#depth-camera-supported-operating-modes)

[2020-04-25 20:17] qm13 commented on #1174
Are you using the official C# wrapper? Are you using any Azure Kinect Unity plug-in or have you implemented this yourself?

[2020-04-25 20:18] qm13 commented on #1158
Fixed

[2020-04-25 20:18] #1158 closed

[2020-04-25 20:23] #1119 closed

[2020-04-25 20:24] qm13 commented on #848
Fixed

[2020-04-25 20:24] #848 closed

[2020-04-25 20:58] qm13 commented on #514
@fractalfantasy @billpottle @vpenades @dotslinker I love the passion and the Azure Kinect team wants to address your issues. The team was recently reorganized in to the new AI Platform team within Azure. This and COVID-19 has somewhat impacted productivity. Please bear with us. We want to make it possible for you to bring your applications to life with Azure Kinect. Here are responses to your ques

[2020-04-25 23:14] joel1st commented on #1174
I am just using the sample provided by Microsoft. The only change is updating it to to HDRP
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking

[2020-04-26 12:22] cavisions commented on #514
@qm13 Regarding your request - I really hope this message finds you well.

Please find several examples of very poor accuracy below. The video is taken with 6 years old boy 122cm tall and rather slim posture.

### Problem #1 "Separated hands forward movement"

![image](https://user-images.githubusercontent.com/15303035/80307362-e39abf80-87c8-11ea-991e-27d56becf7df.png)
[VIDEO separated hands](http

[2020-04-26 19:03] tanyouliang95 commented on #1058
I am also facing similar issue on my side while trying out with different kinects. Totally agree with what @tim-depthkit has mentioned. Furthermore, I noticed that the severity of the rgb-depth frame registration error differs on every kinect sensor. This highly seems to be the problem of the default factory calibration parameters. Still waiting for a solution for this too.

[2020-04-26 23:45] natelowry commented on #1191
I uninstalled most everything on my PC, but that didn't seem to help.  The last thing I did that seemed to have worked is running [SFC](https://support.microsoft.com/en-us/help/929833/use-the-system-file-checker-tool-to-repair-missing-or-corrupted-system) which found and repaired a couple of bad DLLs.  I think it may have been that or a 32/64 bit DLL thing.

Regardless, thanks for the help!  Hope

[2020-04-26 23:45] #1191 closed

[2020-04-27 03:22] fractalfantasy commented on #514
@qm13 thanks for addressing these issues - I've answered your questions and notes in the list below - a lot of the developer expectations on these have already been expressed so I've referenced a few:

----

**1. FPS** -  30FPS is fine given the sensor limitations, but it's expected to run at 30FPS on an Intel CPU like it's predecessor:
- _"Any decent body tracker to be used for NUI should run at

[2020-04-27 07:07] ohynkwn opened #1192 "Could I use the Azure Kinect DK for a motion deformation warning system?"
I know that Azure Kinect DK is such a great device to motion sensing and body tracking.

Therefore, I would like to apply this machine to detect motion as a difference from standard (or original) motion range. For instance, setting a human-size box and tracking someone's motion to confirm they are fitted in the box or not. Furthermore, I want to link with the warning system to alarm for the user a

[2020-04-27 07:18] ohynkwn commented on #1192
I know that Azure Kinect DK is such a great device to motion sensing and body tracking.

Therefore, I would like to apply this machine to detect motion as a difference from standard (or original) motion range. For instance, setting a human-size box and tracking someone's motion to confirm they are fitted in the box or not. Furthermore, I want to link with the warning system to alarm for the user a

[2020-04-27 09:35] dotslinker commented on #514
@qm13 Thanks a lot for your attention. I completely agree with @fractalfantasy.

I beg your pardon if I'll be a bit long, but I'd like to tell you a story.

Since 2015 I have been developing a C# app we are currently using in a pediatric rehabilitation lab with children. So far, we have been satisfied with Kinect v2 (and its SDK), included accuracy and fluidity (quite constant 30 fps on almost the

[2020-04-27 09:49] PierrePlantard commented on #514
I'm totally agree with the previous comment.
Accuracy during self occlusion, latency and hardware requirement limit the use of the Kinect for azure.
I would nevertheless salute a notable improvement of the kinect for azure body tracking.
The ability to estimate a person's posture from the back. This is a very important feature for us and it will have to be accessible in the light version that is p

[2020-04-27 10:17] mikkamikka commented on #1188
@rabbitdaxi We trying to add [k4a_transformation_depth_image_to_color_camera_custom](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_gac00dd00e7612a86382e3d0a130f276bb.html#gac00dd00e7612a86382e3d0a130f276bb)  IR to Color transformation to our DLL to be used in Electron app.
Here is the code snippet. I omit all the variables initialisation and ir, depth, color frames '

[2020-04-27 10:39] vpenades commented on #514
@qm13, Keep in mind many of us already have products leveraged against the Kinect2, and the new K4A body tracker drifts away too much from the Kinect2 in terms of features and performance to simply replace one by the other. In many cases it means a complete product redesign.

The mistake here has been to deliver the new DNN Body Tracking sdk BEFORE having a Kinect2 compatible SDK.

Over time, we c

[2020-04-27 13:12] Chris45215 commented on #514
I disagree that it is a compute issue, it appears based on my tests to be a bug. My data from processing a saved video showed a computation time of ~22ms per frame (RTX 2070 Super), so the latency between enqueing a frame and getting the result should be about 22ms. But my tests with live video showed that, even when running at a mere 5FPS, the system was returning results from 3 frames prior (wit

[2020-04-27 13:29] billpottle commented on #514
As far as accuracy, our main issue is when legs are higher than the waist or moving quickly, ie, with kicks. This has been a separate thread before #(738) You can see an example here: https://www.my-ai-coach.com/t-c5-1586983138 Go to the wireframe below and adjust it - it looks very little like the video.  In contrast, you can see much higher accuracy with slow moving hand techniques. https://www.

[2020-04-27 13:40] vnt1537 commented on #1093
Hello, can you send some link to some instruction where I can install this successfully for Nvidia Xavier!! It would be really helpfully :) Thank you.

[2020-04-27 14:28] limitz commented on #716
The problem is that the CMakeLists.txt in the root only creates the csharp folder if the compiler is msvc, while the generated cmakefile at ./build/CMakeFiles/clangformat.dir/build.make expects it to be there.

[2020-04-27 15:01] wes-b commented on #1093
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#debian-package

[2020-04-27 15:01] wes-b commented on #1093
Locking thread to encourage the creation of new issues

[2020-04-27 15:48] anantley commented on #1147
@RamType-0
Hi sorry for the delay, I am now able to recreate your issue and I will make a change to add
cublas64_100.dll
cudart64_100.dll
to the project root.

[2020-04-27 16:01] fractalfantasy commented on #514
@qm13 @wes-b  I can assure you that none of us want to be here on github trying to convince you guys to fix the sdk, we'd all prefer to be coding 🤓

[2020-04-27 16:26] Chris45215 commented on #514
@dotslinker in your case, if you want to use something different from the Kinectv2 (which is a perfectly good sensor), I would suggest looking at the Orbbec Astra, or Intel's Realsense (which will require Nuitrack's software for body tracking). These are both low-footprint options in terms of code size, physical size, and computer requirements. The only caveat is that Orbbec's software can be a bi

[2020-04-27 18:44] qm13 commented on #1184
Unfortunately we are not in a position to provide a 32bit binary. We are reliant on two third party components - CUDA and ONNX Runtime - that are not available as 32bit binaries. There is a thread on stackoverflow - https://stackoverflow.com/questions/58828349/x86-32-bit-support-for-cuda - that covers the CUDA limitation.

[2020-04-27 20:36] anantley commented on #1174
Hi @joel1st
I just upgraded to HDRP using these instructions.
https://blogs.unity3d.com/2018/09/24/the-high-definition-render-pipeline-getting-started-guide-for-artists/
I uninstalled Multiplayer HLAPI and re-installed it to version 1.0.4
After these steps the Body Tracking worked.

Let me know if these steps work for you or if this is not what you trying to do

Angus

[2020-04-27 22:24] NickAtMixxus commented on #514
Agree on many of the recent points that have been addressed here by @fractalfantasy @vpenades @dotslinker and more.
@qm13: Thanks for detailed update. Regarding "What sort of latency do you think is acceptable from enqueuing the frame to popping the result?"
I can only speak for my needs but for MixxusStudio interactive exercise, rehab apps/games I'd say the Kinect V2 latency is quite OK, it would

[2020-04-28 00:09] qm13 commented on #514
Thanks for all the responses.
@cavisions yes, body tracking does not do well with kids under 8 years. This is primarily to do with body portions which do not become normal until around 8 years old (this according to a Dr we consult with). We are data limited. It is very hard to get captures of 2 - 7 year old kids.

@fractalfantasy whilst I agree regarding the K4W latency (being about 1/2 of AK) th

[2020-04-28 00:18] qm13 commented on #514
@NickAtMixxus sorry, missed you in the reply. Thanks for the feedback. Regarding the sort of latency you mention for playing a simulated instrument. These sorts of latencies are achieved with scenario specific hardware and tightly coupled software. Two examples are the Xbox Controller and HoloLens. Both have E2E latencies of <10ms made possible by magic. That said the body tracking team definitely

[2020-04-28 03:45] fractalfantasy commented on #514
@qm13 thanks for the corrections - I've updated the expectation list below.

K4A Body Tracking Expectations:
----

**1. FPS** -  expected at 30FPS on modern Intel CPU like Kinect v2
**2. LATENCY** - expected to match or beat the latency of Kinect v2 (0.12s)
**3. CROSS-PLATFORM** - expected to run on any ~$1000 laptop from last 5 years like Kinect v2
**4. RESOURCE HOGGING GPU** - expected to only t

[2020-04-28 07:01] jlnacyp commented on #871
The Body Tracking SDK does not support ARM？About how long can support.

[2020-04-28 07:03] RamType-0 commented on #1147
@anantley

Thanks!
I'll try it on when it merged.

[2020-04-28 07:31] vpenades commented on #514
@qm13

Ah, I didn't mean the APIs to be the same, I was talking more in terms of what to expect from the SDKs. We don't mind the APIs to change between versions. In fact, I very much appreciate that the new Sensor and Body Tracker SDKs are separate APIs.

My point is that the Kinect4A should have shipped with a body tracking equivalent to what the kinect2 delivered, in terms of precission and perf

[2020-04-28 07:40] ttxiaoxitt commented on #536
Hi, nicolascarre.Do you resolve the problem? I had a same question, too.

[2020-04-28 08:56] nicolascarre commented on #536
Hi @ttxiaoxitt,
Yes we finally found a solution. We use the NAudio library.
If you need help I can provide you a sample.

[2020-04-28 12:37] dotslinker commented on #514
@qm13 I absolutely subscribe the last post of @vpenades. I think we all need a lighter version of the current Body Tracking SDK, to be used with "standard" PC, not equipped with a GTX 1070 or above.

One question: while we wait for a less GPU-intensive option in the next K4A SDKs, would it be an option to use something like Nvidia Jetsons Nano as a "decoder" of the body joint positions (i.e. doing

[2020-04-28 17:11] qm13 commented on #514
@fractalfantasy thanks for the nice summary.

@dotslinker there are two parts to 3D body tracking - DNN (GPU) and human model fitting (CPU) - neither are performant from the team and community perspective. Splitting them does not help. That said we are working on an ARM implementation of the body tracking SDK.

[2020-04-28 17:40] wes-b commented on #1187
@carcormir from https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/125

In this issue Cannot open MJPEG image coming from Camera
#157 they mention that tjDecompress2 may return -1 if there is an error or a warning. They suggest to use a function tjGetErrorCode() to check if the error was a result of a warning or a fatal error.

There are two things we can do to address this. The first is

[2020-04-28 18:21] RoseFlunder commented on #1187
Maybe print some kind of warning or something? I think the user should know that the host PC can't keep up with reading the frames if that would be the case? If so, how could this be solved without using addtional PCs? Is this a bottleneck for a single usb host controller setup and can be solved by adding additional usb  controllers via PCI Express cards or is there another solution?

[2020-04-28 18:29] carcormir commented on #1187
Hi @RoseFlunder,

I tried to use an additional USB card with 4 extra independent controllers [(this one)](https://www.startech.com/Cards-Adapters/USB-3.0/Cards/PCI-Express-USB-3-Card-4-Dedicated-Channels-4-Port~PEXUSB3S44V) and I still get the same issue.
This are the specs of my PC and I would assume it should be powerful enough to handle everything, but maybe I am wrong.
PC specs:
Processor: AMD

[2020-04-28 19:58] omartin2010 commented on #1187
I'm seeing the issue on a much less powered, NVIDIA Jetson TX2, and that's with a single unit. I wouldn't mind skipping frames for my particular use case, and seeing the warning being raised is ok.

[2020-04-28 21:34] richardeakin opened #1193 ""usb_cmd_get_device_count(). No devices found", yet Camera working"
**Describe the bug**

I have a development PC that was successfully running 1.3 kinect software, and now somehow is unable to recognize that a device is connected. This happens with all three of the azure kinects I have here. I have tried resetting them, updated the sdk to 1.4 (along with the packaged firmware), and finally updating to latest Windows 10 version (1909 Build 18363.815).

I can see t

[2020-04-28 22:58] richardeakin commented on #1193
Not sure if this is helpful or not, but when I run my application in the debugger, I get an exception thrown from within `k4a::device::get_installed_count()`, which is the first call to anything within the k4a library:

![image](https://user-images.githubusercontent.com/5132127/80545758-1b009c00-8982-11ea-9d80-69977aa4d4c0.png)

If I continue, I get the following log message:

[code]

[2020-04-28 23:31] wes-b commented on #1193
Looking at your Device Manager screen shot, you have 2 different USB Host controllers (Thanks for the screen shot!):
* Intel USB3.0 eXtensible Host Controller
* Via USB3.0 eXtensible Host Controller

I expect that if you connect your Azure Kinect to the USB Ports that connect to the Intel Host Controller that the Kinect will work as expected. You might have to try all the ports on your PC to map t

[2020-04-29 18:40] jerogor commented on #1184
Thank you for your answer. By the way for those interested, I overcomed this problem by compiling my app in 64 bit to use Kinect Azure Body Tracking SDK and within this app I launch a 32 bit executable which gives me the ultrasound images I needed thanks to a QProcess from the Qt library. Pretty ugly... but it works!

[2020-04-29 18:40] #1184 closed

[2020-04-29 22:16] fractalfantasy commented on #1188
@rabbitdaxi do you have an idea as to what could be wrong here? ^

[2020-04-30 02:13] rabbitdaxi commented on #1188
@fractalfantasy sorry for the delay response (I am working on other projects now, so not looking github that frequent).

I see the issue. The k4a_transformation_depth_image_to_color_camera API requires both input and output custom image has the same custom format, e.g. in your case, K4A_IMAGE_FORMAT_CUSTOM16.

In your sample code, you passed the IR image directly into this API, the code internally

[2020-04-30 09:48] mikkamikka commented on #1188
@rabbitdaxi Thank you for pointing out the right solution. However, creating a custom image from buffer with `k4a_image_create_from_buffer` method with the parameters specified in your code sample has failed.

I've changed 'stride_bytes' parameter in the above method from `ir_image_width_pixels * (int)sizeof(uint16_t)` to `ir_image_stride_bytes`. And that solved the issue.
Now everything works as

[2020-04-30 16:35] richardeakin commented on #1193
I do have an extra PCI usb card ([this one](https://www.amazon.com/gp/product/B011LZY20G/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1)), however the kinects were working correctly when plugged into one of the motherboard's usb ports, which are Intel USB 3. It looks like the "Intel(R) USB 3.0 eXtensible Host Controller -1.0 (Microsoft)" driver was last updated on 2/2/2020, and I'm sure that the

[2020-04-30 17:08] wes-b commented on #1193
We expect the Intel and Renesas chipset to both work. But you need to ensure the MSFT driver is running on the card rather. You will know you are running the the Microsoft driver because you will see "(Microsoft)" on the end of the of driver name.

I can't tell from your post what is not working specifically or if something stopped working. I will note I am using a newer Intel driver from 2/20/202

[2020-04-30 17:30] #1187 closed

[2020-04-30 17:32] rabbitdaxi commented on #1188
Sounds good. Feel free to close if this resolved your issue :)

[2020-04-30 22:07] #1188 closed

[2020-04-30 22:19] qm13 commented on #1192
@ohynkwn we are aware of a number of customers who are using Azure Kinect and custom AI or body tracking in this way.

[2020-05-01 14:01] carcormir commented on #1187
Hi @wes-b ,
I have tried the version with the fix #1194 and 3 cameras connected.
Everything seems to be working as expected after the fix. Thanks for being so fast!

After running the three instances for a few minutes I get a different error (see log file below)

This is the error
`[ error    ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS: 326682755 type:Depth

[2020-05-01 15:04] wes-b commented on #1187
Great new on the fix, thank you for the confirmation! Can you open a new bug on this:

[2020-05-01 15:32] carcormir opened #1199 "Multiple cameras instances raise replace_sample(). capturesync_drop, releasing capture early due to full queue"
Hi,

**Describe the bug**
After running  three instances of K4Viewer for a few minutes I get the following error (see log file below from the camera that stops working, the other two stay active)

This is the error:
`[ error    ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS: 326682755 type:Depth`

It seems like (from the log file) my GPU is not working hard en

[2020-05-01 15:47] knat commented on #1187
It's easy to convert YUY2 image to RGB image, just a few lines of code. See https://docs.microsoft.com/en-us/windows/win32/medfound/recommended-8-bit-yuv-formats-for-video-rendering#converting-8-bit-yuv-to-rgb888

[2020-05-01 17:54] wes-b commented on #1199
I see a couple things in the log.

[ warning  ] : is_fw_version_compatable(). Firmware version for Depth is 1.6.75. Consider upgrading to 1.6.79 or newer.

You need to upgrade your firmware, this version is fairly old. Grab 1.6.110079014 from the 1.4.1.Alpha package on [Nuget](https://www.nuget.org/packages/Microsoft.Azure.Kinect.Sensor/1.4.1-alpha.0). That firmware is good and expected to be offi

[2020-05-01 18:13] rabbitdaxi commented on #1199
@wes-b > And I don't having a 2nd GPU will help. I don't believe we load balance to other GPUs; @rabbitdaxi? > yup, we do not load balance to other GPUS, 1 GPU is normally good enough for us to reach to real time even just some integrated GPU. If user has multiple GPU, user can use software from the GPU vendor to choose the default GPU for the program.

[2020-05-01 18:19] rabbitdaxi commented on #1131
@ameyades hope my answer above resolved your question. The SDK should already support you to do any transformation between 2d and 3d, between cameras, and also for both single point or the entire image. Recommend you can read the following docs:
- https://docs.microsoft.com/en-us/azure/Kinect-dk/use-calibration-functions
- https://docs.microsoft.com/en-us/azure/Kinect-dk/use-image-transformation

[2020-05-01 18:19] #1131 closed

[2020-05-01 18:24] rabbitdaxi commented on #1102
Thank you for confirming you find solution for your issue. The example in this repo was intend to just show a simple way of undistort depth and what should be pay attention to during undistortion, as described in the readme.md of the example. But good suggestion of extending it which is a good item for community support.

[2020-05-01 18:24] #1102 closed

[2020-05-01 19:27] fractalfantasy commented on #514
No problem, do you have an update on the random forest option?

Would be great to know if this request has been taken seriously, or if we'll have to switch sensors.

[2020-05-01 19:50] ameyades commented on #1131
Hi,

Thank you for the help!

Very sorry for the late reply - currently working on another project so haven't had a chance to verify. I will test the function implementation when I get the chance.

[2020-05-01 22:01] SeanStephensenAIRM opened #1201 "Imperfect alignment in IR&depth to Color transformation"
I'm trying to transform depth and IR images to the same reference frame as the RGB image. The alignment is close but noticeably off. Here is a synchronized capture of color, depth, IR images followed by an overlayed depth/color comparison and IR/color comparison. By looking at the white metal rack, it is clear that the alignment is off (appears to be the same misalignment between the IR&depth imag

[2020-05-01 22:02] #1178 closed

[2020-05-02 16:25] fractalfantasy opened #1202 "Kinect recorder rendering black IR and Depth frames"
Trying to render out some video of depth data with k4arecorder.exe, and even when not in passive IR mode, the video of IR and Depth are turning out black/extremely dark.

Attached output data below:
https://www.dropbox.com/s/cwdcv3526jvi9ex/kinect%20viewer.PNG?dl=0

**To Reproduce**
1. Record 3 seconds of data in K4arecorder.exe, in command prompt type:
"C:\Program Files\Azure Kinect SDK v1.4.0\to

[2020-05-03 14:20] tanyouliang95 commented on #1081
Hi, I have one quick question regards the distortion coefficient. As u mentioned here, the distortion is not explicitly shown, I suppose it is being processed internally (in the function that you mentioned) during rectification to the `camera_frame`. As such, the `depth_image_descriptor` has specified all the required intrinsic parameters, and undistort action is being done internally. Correct me

[2020-05-04 10:31] tostercx commented on #1193
Any chance you have virtual USB ports lying around? Seems libusb is still on ver 1.0.22.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1088
https://github.com/libusb/libusb/commit/fd95d445dddc14892fa46538855c5e358efa48da

[2020-05-04 14:21] richardeakin commented on #1193
Okay, I think it is indeed to a USB hub that was connected to my computer, likely during an update. Seems like Windows update + libusb leads to issues even if the hub is plugged in but not in use. (I also took the step in Device Manager -> uninstall device for the VIA USB 3.0 eXtensible Host Controller that had failed to start, not sure if this was necessary beyond unplugging the  device). After d

[2020-05-04 15:36] wes-b commented on #1193
Lets use this bug to track upgrading LibUsb.

[2020-05-04 15:51] wes-b commented on #1202
K4aViewer applies a grey scale to the IR stream and the color hue to the depth camera stream. Neither of those are applied to the raw recorded data. You would need to do something similar in your own stream.

[2020-05-04 16:19] fractalfantasy commented on #1202
Ok thanks, I’ll try to find a way to process those streams with ffmpeg and report back if I have any luck.

Feel free to close this topic.

[2020-05-04 17:27] #1202 closed

[2020-05-05 14:35] richardeakin commented on #1193
Short update: after rebooting my PC, I had to again right click on "VIA USB 3.0 eXtensible Host Controller" and disable it in Device Manager before I could run the kinect without getting a libusb failure.

[2020-05-05 17:20] yuanchen-zhu opened #1204 "k4a C++ wrappers should use const member functions when possible"
Currently c++ wrappers such as k4a::device have many non-const member functions such as `k4a::device::start_cameras` that does not actually modify any member fields of the wrapper itself. They should be declared as const member functions for more semantic correctness.

[2020-05-06 09:19] carcormir commented on #1199
Hi @wes-b,
Sorry for the delay.

I have updated the firmware of the three cameras to the latest officially released version available.

I have performed the same test and collected the log files at info level as you suggested. As you may see below, k4a_2.log is the one that fails.
Test: Open three independent instances of k4aviewer with BGRA format, 15fps, 2160p and WFOV Unbinned.

Log files:
[Cam

[2020-05-06 16:00] eshirima opened #1205 "Remembering Tracked Body"
**Describe the bug**

This is more of a curious inquiry. I have been using the sensor for a couple months and mainly utilising the body tracker. The tracker does a great job but every time a person walks out of the frame then back in again, a new ID is assigned. I am trying to map back folks who have walked out of the frame then back in again. With that in mind, is there a way to have a temporary

[2020-05-06 16:55] wes-b opened #1206 "Publish SDK 1.4.1"
**MSI Link:** [[1.4.1](https://download.microsoft.com/download/3/d/6/3d6d9e99-a251-4cf3-8c6a-8e108e960b4b/Azure%20Kinect%20SDK%201.4.1.exe)]
**Nuget Link:** [[1.4.1](https://www.nuget.org/packages/Microsoft.Azure.Kinect.Sensor/1.4.1)]
**Deb package link:** [[AMD64](http://packages.microsoft.com/ubuntu/18.04/prod/pool/main/libk/)] [[ARM64](http://packages.microsoft.com/ubuntu/18.04/multiarch/prod/p

[2020-05-06 23:40] qm13 commented on #1201
@SeanStephensenAIRM it is hard to tell from these images what you are experiencing. Some thoughts are:
1.	The images misalignment is after transform the depth/IR to color domain which should use the camera calibration along with the depth image
2)	The misalignment is quite small (I estimate a few RGB pixels). This could be attributed to:
a.	it could be just the calibration vs hardware is slightly

[2020-05-06 23:45] #1167 closed

[2020-05-06 23:46] #1159 closed

[2020-05-06 23:47] #1174 closed

[2020-05-06 23:50] #1147 closed

[2020-05-07 00:55] joel1st commented on #1174
Hey @anantley
Thanks for the reply. Unfortunately I don't have the Kinect with me any more to test it out. If I have another project that requires one, I'll give it a go.

[2020-05-07 01:30] UnaNancyOwen opened #1207 "[feature request] Add C# wrapper support for Linux"
**Is your feature request related to a problem? Please describe.**

C# wrapper of Azure Kinect Sensor SDK (and Azure Kinect Body Tracking SDK) is not provided for Linux.
Please consider to provide C# wrapper for Linux (x86-64, arm64). Thanks,

**Describe the solution you'd like**

Currently, C# wrapper generate by build Visual Studio project (<code>src/csharp/K4a.sln</code>).
I think it is necessa

[2020-05-07 06:17] t2k2 commented on #514
I’d like to chime in as I’ve been developing with the Kinect since it’s first generation. I must admit that I don’t thoroughly understand the advantages of the new body tracking over past models but I can attest that my k4a project has been at a standstill while waiting for the sdk to catch up to previous generations’ precision and performance. I, much like the rest of the people here, simply won’

[2020-05-07 08:51] cinis77 opened #1208 "Keep getting Pixels not aligned to stride of each line"
Hi there,

I am getting Microsoft.Azure.Kinect.Sensor.AzureKinectException: 'Pixels not aligned to stride of each line' exception when i try to call .Color.GetPixels() method.

![image](https://user-images.githubusercontent.com/19565936/81274467-fe86f280-9058-11ea-8a0c-535159669294.png)

To Help code:
private void TryGetDepath()
        {
            var device = Device.Open();
            device.

[2020-05-07 19:06] anantley commented on #1183
Hi Have you tried using the sample unity application in this repository?
https://github.com/microsoft/Azure-Kinect-Samples.git

Here is a new script that may solve your problem:
https://gist.github.com/anantley/fd02b3facd372317abda668e58d7cae6

To use this script add it to the Assets of the sample_unity_bodytracking project in Azure Kinect Samples repository.
https://github.com/microsoft/Azure-Kin

[2020-05-07 21:29] wes-b commented on #1208
What image format are you using? MJPEG doesn't have stride.

[2020-05-08 02:55] SMLimtsb commented on #1183
Confirm Page

.table1
{
	color: #000000;
	text-decoration: none;
	margin:0;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:5px;
	line-height:17pt;
	font-family: "GulimChe";
	font-size: 12px;
	font-weight: normal;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;

}

    편지 감사합니다.
      저는 sm.lim@tsb.co.kr 이메일주소 사용자 입니다
      저에게 편지를 보내시려면 처음 한 차례의

[2020-05-08 07:11] tahrir94 opened #1209 "No Instruction on using OpenCV with Azure Kinect Camera"
I need to detect any objects within a region of interest in real-time, other than two that will always be present, using the Kinect camera for a project. It can be a simple boxing of the objects to get a count, but I'm not being able to find any resources to help with this. OpenCV can do this easily but after much searching I wasn't able to find any guidance on using opencv library with the Kinect

[2020-05-08 11:29] cinis77 commented on #1208
Found the issue thanks

[2020-05-08 11:29] #1208 closed

[2020-05-08 16:08] wes-b commented on #1199
In the logs I see all 3 k4aviewer session start around 10:42:27 and then they run for several minutes before k4a_2.log hits the error. During this time I see several of the “DecodeMJPEGtoBGRA32(). MJPEG decode failed, dropping image: -1" errors. In all my testing I could only trigger these errors while starting / stopping other camera’s. I am assuming you were not using other USB devices during th

[2020-05-08 22:35] UnaNancyOwen commented on #1209
I hope that my repository will help you.
This is sample program for Azure Kinect with OpenCV.
https://github.com/UnaNancyOwen/AzureKinectSample

[2020-05-09 00:34] aanexplus opened #1210 "Issue with Joints -- 26 points returned"
**Describe the bug**

When I run the code for body tracking, I got 26 joints instead of 32 joints. Everything seems fine when I was recording the data because I used window3d. I do not know how to interpret the 26 joints because I do not know which belong to which. Why am I getting 26 positions instead of 32? Below is my code for recording the joint position:

                    if (body.skeleton

[2020-05-09 03:49] tahrir94 commented on #1209
@UnaNancyOwen Thank you so much! I'll try to implement this but if I get stuck with any unforeseen errors, may I seek your help? If yes, please let me know the best way to reach you :)

[2020-05-09 09:20] UnaNancyOwen commented on #1209
If that's problem about Azure Kinect Sensor SDK or Sensor, You should write issues of this repository.
Otherwise, You can contact me at issues of my repository or by email.
(Please close this issue when this is resolved.)

[2020-05-10 03:43] tahrir94 commented on #1209
Hi Tsukasa,

Thank you so much for agreeing to help. As you can see in the attachment,
I'm getting an error due to cmake not being able to find opencv when I try
to generate the binaries. I've copied my download of opencv into the folder
containing CMakeLists.txt in your project, as you can see in the second
attachment, but that didn't work either. I've been trying to solve this
since yesterday wi

[2020-05-10 03:57] tahrir94 commented on #1209
Hi Tsukasa,

Thank you so much for agreeing to help. As you can see in the attachment,
I'm getting an error due to cmake not being able to find opencv when I try
to generate the binaries. I've copied my download of opencv into the folder
containing CMakeLists.txt in your project, as you can see in the second
attachment, but that didn't work either. I've been trying to solve this
since yesterday wi

[2020-05-10 06:37] UnaNancyOwen commented on #1209
You should be to learn how to using CMake before you start it.
Then, It is an issue that has nothing to do with Azure Kinect.
I don't think that is a discussion should be having here.
Please close this issue.

[2020-05-10 07:28] tahrir94 commented on #1209
Ok, I've been learning how to use OpenCV, sorry if the query was irrelevant. If I face issues that are specific to your repo I will reach out. Thank you so much for your help, I'm closing this issue.

[2020-05-10 07:28] #1209 closed

[2020-05-10 23:10] jBachalo opened #1211 "Better Player Index quality and performance"
With the v2 sensor it was a simple matter to use the Player Index image to pull a mask for background replacement type effects.
Now with the Azure Kinect this isn't possible for 2 reasons

1- Huge amounts of latency between the Player Index and RGB video
2- Poor quality of the silhouette generated in Player Index.

Can we please bring back the player index used in the v2 sensor?

[2020-05-10 23:37] SMLimtsb commented on #1183
thank you. I tried that sample immediately.
sorry, but I have a problem to try the sample project like this.

I guess this code is not working.

what can I do to solve this problem?

[2020-05-11 05:26] tahrir94 opened #1212 "k4a_DIR not found when configuring in cmake"
Hello, I am trying to build my visual studio project with cmake but I'm not being able to get past the following error when I configure it in cmake:

Could not find a package configuration file provided by "k4a" with any of
  the following names:
    k4aConfig.cmake
    k4a-config.cmake
  Add the installation prefix of "k4a" to CMAKE_PREFIX_PATH or set "k4a_DIR"
  to a directory containing one of

[2020-05-11 16:23] Ayala65 opened #1213 "c++ Refernce device.getcapture() not listed"
while (!stop && !visualization.wasStopped())
    {
        switch(device.get_capture())
        {
        case K4A_WAIT_RESULT_SUCCEEDED:
            break;
        case K4A_WAIT_RESULT_TIMEOUT:
            printf("Timed out waiting for a capture\n");
            continue;
            break;
        case K4A_WAIT_RESULT_FAILED:
            printf("Failed to read a capture\n");
            device.c

[2020-05-11 22:18] wes-b commented on #1212
This is not a lot of information, but we do have a crumb of info here about using VC2017: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md#building-using-visual-studio.

If that doesn't help, then can you share repro steps so we can reproduce the problem?

[2020-05-11 22:22] wes-b commented on #1213
Sorry, I don't understand your issue. Please clearly tell us what the issue is, what you expect to happen, and steps to reproduce the problem

[2020-05-11 23:10] ETLang opened #1214 "External Sync Not Working"
Hi, I'm trying to get external sync working between two Kinects. I'm using SDK version 1.2.0 and the Viewer app it comes with on Windows 10. I've tried updating the firmware, running the Kinects on different PCs, and on the same PC. I've tried starting the master first, and starting the sub first. I've tested the cable to ensure it properly carries audio data, so it's not broken. I've been followi

[2020-05-11 23:13] ETLang commented on #1214
I've also tried switching the role of the Kinects, in case one of the sync ports was bad. Still, no luck.

[2020-05-12 17:54] Ayala65 commented on #1213
I try to use the method get_capture from device to obtain frame per frame of the depth camera but when i write this "device.get_capture()" the error is launched even when i try in a new program  the same error is launched.

[2020-05-12 18:09] wes-b commented on #1213
Can you share your code?

[2020-05-12 20:19] Ayala65 commented on #1213
#pragma warning(disable : 4996)
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

#include <stdio.h>
#include <fstream>
#include <sstream>
#include <vector>
#include <algorithm>
#include<k4a/k4a.hpp>
#include <math.h>

using namespace std;

// Enable HAVE_OPENCV macro after you installed opencv and opencv contrib modules (kinfu, viz), please refer to

[2020-05-12 20:22] Ayala65 commented on #1213
[test.zip](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/files/4618267/test.zip)

[2020-05-13 02:03] anantley commented on #1183
Usually this is a sign the dependencies are not in the right places.

1) clone this repo https://github.com/microsoft/Azure-Kinect-Samples.git
2) open the sample_unity_bodytracking project that is in this repo using Unity version 2019.1 or later
3) open the associated visual studio project by clicking on a script in the assets in the editor
4) open the tools -> NuGet package manager console
5) typ

[2020-05-13 02:05] SMLimtsb commented on #1183
Confirm Page

.table1
{
	color: #000000;
	text-decoration: none;
	margin:0;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:5px;
	line-height:17pt;
	font-family: "GulimChe";
	font-size: 12px;
	font-weight: normal;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;

}

    편지 감사합니다.
      저는 SM.Lim@tsb.co.kr 이메일주소 사용자 입니다
      저에게 편지를 보내시려면 처음 한 차례의

[2020-05-13 06:54] carcormir commented on #1199
Hi @wes-b,

I was not using anything else just the three cameras connected to the USB card that has 3 independent controllers (not the one in the motherboard)

I run the same test connecting the three cameras to the built in USB controller and it seems to be working. Some frames are dropped sometimes but no error after running 3 instances of k4aviewer for more than 2 hours. (This test was performe

[2020-05-13 14:53] wes-b commented on #1199
Glad to hear its working better!

No official date, but should be soon. Keep an eye on https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1206, it will be updated when the release is done.

[2020-05-13 14:53] #1199 closed

[2020-05-13 15:08] wes-b commented on #1213
I see you are using our kinfu sample. I suggest confirming you can get that sample to work as published have you tried that.

[2020-05-13 17:06] Ayala65 commented on #1213
Yes, i have compiled that example and im using it to make another program but when i tried the c++ reference i have this problem so i remake that sample to c++, i have the same problem with getcapture

[2020-05-14 01:40] tahrir94 commented on #1212
@wes-b you're right, that's not enough information. Here are my retro steps:
1) Cloned this repo for using OpenCV with Azure Kinect: https://github.com/UnaNancyOwen/AzureKinectSample
2) Followed this tutorial to install OpenCV: https://www.youtube.com/watch?v=_fqpYLM6SCw
3) cloned this Azure Kinect SDK repo
3) In the project folder for point_cloud (..\AzureKinectSample\sample\c\point_cloud), edite

[2020-05-14 08:07] furushchev opened #1215 "SetCameraControl(). Invalid color control mode"
**Describe the bug**

When opening a camera device and getting image data, an error occurs.

**To Reproduce**

1. Install libk4a and k4a-tools from apt-get and register udev rules
2. Connect a sensor to the computer
3. Run `k4aviewer` or `k4arecorder`
4. See an error

**Expected behavior**

Image can be fetched from a sensor

**Logs**

[code]

**Screenshots**

**Desktop (please complete the follow

[2020-05-14 17:24] wes-b commented on #1214
Have you reviewed this topic? https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync

With K4aViewer, start the subordinate first, then start the master.

The fact you never saw captures on the subordinate indicates an issue with the cable or connection jacks. Try swapping master and subordinate, or use another cable.

[2020-05-14 19:11] ETLang commented on #1214
Yes, I've based my steps mostly on that doc. I've tried everything you mentioned except getting a different cable. I don't have a different cable right now, so I suppose I'll have to order one.

Is there a particular one you can recommend?

[2020-05-14 21:26] wes-b commented on #1215
THANK YOU for the very detailed issue!

Camera control is fixed with #1179

The error about  `Depth engine create and initialize failed with error code: 204` sounds like you might be attempting to run over a remote connect / headless machine.

[2020-05-14 21:30] wes-b commented on #1214
This sounds like a hardware issue. If the k4aViewer works fine standalone on both devices, and then the subordinate fails to get captures when the Sync In is connected to the Sync Out jack, then likely one of the Kinects is bad. Do you have a 3rd device to test with? I would consider buying a 3rd, figure out which one is broken, and then returning the bad one.

[2020-05-14 21:30] wes-b commented on #1214
Any change k4aviewer is generating errors?

[2020-05-15 02:25] chenkaiju opened #1216 "RGB Camera Spec."
Hi,
I am trying to know the hardware spec of color camera.
How can I get the RGB camera spec. of the Azure Kinect, including lens size, pixel size, etc.

Thanks.

[2020-05-15 03:20] jean1zhou opened #1217 "Coordinate transformation issue"
Hello there,
I'm doing some projects on Azure Kinect. These days I'm testing the accuracy of body tracking. Here is the method I use:
1. We record some videos with fake body models. And extract pictures from videos to get joints labeled.
2. Using body tracking SDK to track the body, and get every joints XYZ coordinates.
3. We use the labeled pixel coordinates from RGB as input value, and then we u

[2020-05-15 05:40] furushchev commented on #1215
@wes-b Thank you for the comment!

Does it mean the driver node must be executed with display?

[2020-05-15 06:44] furushchev commented on #1215
I connected to a display and tried to run the command again and found that the error now disappeared.
However, another error occurs on getting point cloud.

[code]

[2020-05-15 12:02] ArviSyrjanen opened #1218 "Question about temporal filtering of Kinect images"
Hello,

I was wondering if the incoming Kinect frames are truly raw individual frames, or is there some kind of temporal averaging or other kind of filtering happening under the hood; on the chip or in the libk4a drivers running on the host computer?

I got the idea for this question from [here](https://docs.microsoft.com/en-us/azure/kinect-dk/depth-camera#systematic-error) as it is stated that

I

[2020-05-15 15:18] SeanStephensenAIRM commented on #1201
@qm13 Thank you for your response and sorry for the delay in mine. Here's a rectangular box placed on the carpet - I haven't included the depth image because it's harder to tell (box is too close to the carpet), but here's the IR and color images shown side by side with clear misalignment at the box edges. I can take some better pictures on Tuesday that would have more useful depth images to compa

[2020-05-15 16:42] wes-b commented on #1215
Good news on the progress! Lest start a new bug with these new errors. The key to getting you help will be a fresh set of repro steps for how you got here.

You do need an active user session for the depth engine to be able to use OpenGL

[2020-05-15 16:55] wes-b commented on #1216
#1062

[2020-05-15 16:55] #1216 closed

[2020-05-15 20:02] shevart75 commented on #514
2 weeks later, no any movement...
I guess Microsoft is now already planning to abandon Azure Kinect, just like they did with kinect v2.
The story repeats...
Microsoft makes great hardware but unvalues it with bad software, lack of support and stupid manager decisions.

[2020-05-15 20:38] t2k2 commented on #514
@qm13 @wes-b can you please give us an update on the random forest option.

and if not.. please tell us know how you plan to beat kinect 2 performance, efficiency, and dynamic accuracy soon.

[2020-05-15 20:42] shevart75 commented on #816
Any progress?

[2020-05-15 21:19] shevart75 commented on #514
The issue persists for almost one year.
Sooner the better solution will be (or is already?) provided by competitors...

[2020-05-15 21:39] wes-b commented on #816
Thanks for the ping. From an Azure Kinect SDK point of view the latency issue is resolved with the above comment https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/816#issuecomment-583161328.

Internally we have been using this bug to track Sensor SDK performance, and #514 for Body Tracking performance. With no more comments about the Sensor SDK specifically in over a month I am closing t

[2020-05-15 21:59] Chris45215 commented on #514
As far as I can see, the Azure Kinect team has yet to say if they have been able to reproduce the latency that I demonstrated in https://youtu.be/7Jc7KhoPWdc. I hope that the latency lies entirely within the body tracking SDK, as the depth sensor latency thread was just closed. If they modify their example code so that it outputs a text line after every enqueue and also after every dequeue, I thin

[2020-05-15 22:09] fractalfantasy commented on #514
@shevart75 The new [Intel L515](https://store.intelrealsense.com/buy-intel-realsense-lidar-camera-l515.html) sensor may be comparable to the Azure Kinect but I’m not sure if Intel/Cubemos body tracking is that much of an improvement.  I’ve already checked and getting third party body tracking to work with our current architecture is also quite impossible.

Bottom line is we’ve sunk thousands of do

[2020-05-15 23:24] Greendogo commented on #816
@qm13 @wes-b  Please don't close this, the problem is not fixed.
I think the reason there have been no comments in the past month is because we're still waiting for you to fix it and nothing has changed.

The comment you made is not the fix we are waiting for; it is an optimization.

This doesn't change the fact that the camera is super latent.

Our use case:
2 synced cameras
Only really care abou

[2020-05-16 22:22] shevart75 commented on #514
"... awaiting a hero from the body tracking team to spend an afternoon implementing the old model. "
👍
but they already clearly answered: we considered it but we will stick to a slow-working DNN solution, just because we spent too much time on developing it.
So they would rather spend one more year with DNN instead of "an afternoon" for the old model, just like this...
Oh, dear...

[2020-05-16 23:04] shevart75 commented on #514
Look what we see... qm13 wrote:
"whilst I agree regarding the K4W latency (being about 1/2 of AK)....."
"The Azure Kinect camera exposure time is longer than the K4W resulting in more motion blur. This was a HW design trade off that we hope for fix in the next generation of sensors"...
so, in other words, k4w performed better, but we had to drop it for azure, which is worse but costs more, but we

[2020-05-17 02:41] fractalfantasy commented on #514
@shevart75 I see what you’re saying, but 2 somewhat recent quotes from @qm13 lead me to believe they’re considering the random forest option:

“Regarding providing a random forest option we will investigate what it will take to port the model to Azure Kinect.”

“Assuming we do add support for random forest it will be through the current AK APIs.”

[2020-05-18 03:49] furushchev commented on #1215
@wes-b

Got it. Thanks.

I run `DISPLAY=:0 k4arecorder output.mkv` and got the error posted above.

[2020-05-18 03:51] furushchev commented on #1215
Attached full logs again here:

[code]

[2020-05-18 14:51] wes-b commented on #1215
Does K4AViewer run without these errors? Can you use K4aViewer to confirm the color camera is working as expected? The error means you are not getting color camera images.

[2020-05-18 15:39] hermann-noll commented on #1071
I came across the same problem and have produced a small patch you can find [here](https://gist.github.com/hermann-noll/93d8e068ecb1e57a9523880bc7b9b425) (to be used with `git apply`). It just adds a new argument `--transformed-depth` with which the transformed depth is written as additional stream into the output video (name is "TDEPTH").

[2020-05-18 17:41] wes-b commented on #816
@Greendogo how are you measuring 90ms?
Data I captured and shared has 59ms for YUV2 from the start of exposure to the availability of the image via k4a_device_get_capture. That also uses the worst case exposure of 33ms, so the image is available less than 30ms after the exposure ends.
For WFOV binned we are 33ms from start of exposure to presentation at k4a_device_get_capture.

[2020-05-18 19:05] rabbitdaxi commented on #1218
@ArviSyrjanen the depth processing in the SDK is per frame, we do not do temporal filtering.

The documentation you are referring to is trying to use examples to define depth error (systematic and random error). The quote you had specifically describes how to **measure** depth jitter (random error) by computing the standard deviation after you capturing N depth frames.

[2020-05-18 19:06] rabbitdaxi commented on #1129
close after 7 days policy

[2020-05-18 19:06] #1129 closed

[2020-05-18 19:48] Greendogo commented on #816
@wes-b Our data on that is quite old and we will be re-measuring soon.

[2020-05-18 19:51] ArviSyrjanen commented on #1218
@rabbitdaxi thanks for the answer. Yes I was suspecting this was the case, but I was just curious. Aside from temporal filtering you probably don't do any other kind of filtering, hole filling etc. either on-chip or in the runtime API?

[2020-05-18 23:30] SMLimtsb commented on #1183
I still have a same problem after following that all lines.
I can see "already exist package of Project" in line 5.
and I saw moving LibraryFiles when I follow line 6.
So it still a same error message in unity console like

I used Unity version 2019.1.11f.

what am i do?

[2020-05-19 01:45] paul5212 opened #1219 "Measure height with kinect DK"
For industrial use

Used to detect the height of the circular outline of an object.

Product features round, higher outer circle contour, lower inner circle with height difference for measuring the height of the outer circle contour.

However, the high contour of the product will merge with the working platform and the outer contour will become shorter.Can the function of fusion be cancelled?

[2020-05-19 02:09] paul5212 commented on #1219
https://forum.openframeworks.cc/t/use-kinect-dk-point-cloud-to-identify-the-height-of-sole-contour/35419

[2020-05-19 03:28] furushchev commented on #1215
@wes-b Hi,
I tried K4AViewer and got the same error after pressed "Start" button.

[2020-05-19 19:12] anantley commented on #1183
Ok I just tried with 2019.1.2, which is an earlier version and it worked.  So it's not the Unity version.
Could you try this command on the package manager console command line?

UnInstall-Package Microsoft.Azure.Kinect.BodyTracking -Version 1.0.1
Then delete the Assets/Plugins folder

Followed by:
Install-Package Microsoft.Azure.Kinect.BodyTracking -Version 1.0.1
and then run the MoveLibraryFiles

[2020-05-20 00:43] SMLimtsb commented on #1183
I was difficult to work without problem. but I follow you from completely first step.

so It works very well with PuppetAvatar. thank you!

[2020-05-20 00:43] #1183 closed

[2020-05-20 01:16] BRigney189 opened #1220 "Wondering about connecting 4 Azure Kinects"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-05-20 02:37] kalluwa commented on #1215
hi, have you solved this problem?
any way to start the camera with  windows remote desktop?

[2020-05-20 03:10] wes-b commented on #1220
https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync

[2020-05-20 03:10] #1220 closed

[2020-05-20 05:33] furushchev commented on #1215
@kalluwa Not yet.

It seems it is another problem. I recommend to open a new issue instead of posting here.

[2020-05-20 06:01] kalluwa commented on #1215
@furushchev
thanks

i noticed that:

window remote desktop cannot start opengl program normally( maybe opengl1.1 works but not for higher version)  just as your machine with no display

[2020-05-20 08:39] TothiViseo opened #1221 "Joints position and orientation not consistent if not facing the camera"
Hello,

I am trying to use body tracking information in order to animate a 3D avatar. The result doesn't look so bad when the body faces the camera, however as soon as the body turns away from the camera, the orientations and coordinates do not match anymore.
It looks as though the orientations need to be negated around some axis.

![image](https://user-images.githubusercontent.com/28568631/824222

[2020-05-20 13:18] Kristian-Gregersen-KRGR commented on #1206
Hi!
When do you expect to release the Debian package? Is “soon” this week, next week or...?
Thanks!

[2020-05-20 20:29] ETLang commented on #1214
Hi again. Sorry for the delayed response; I got sidetracked with some other tasks.

I swapped out my Kinects with two entirely new Kinects, and I'm seeing the same problem. No errors shown in the log, but the sub does repeatedly print the following warnings.

[ warning  ] : usb_cmd_libusb_cb(). USB timeout on streaming endpoint for imu
[ warning  ] : usb_cmd_libusb_cb(). USB timeout on streaming e

[2020-05-21 11:48] themancalledjakob commented on #836
you can also install the sdk in a local directory per project, without touching a system wide install.
[code]

You need to then take care of including and linking the SDK properly, but it allows to have a system wide install of k4a-tools and libk4a which is up to date, and a less recent one for body tracking for specific projects.
So far this works for me.

Since Linux support for libk4abt is lagg

[2020-05-21 15:39] wes-b commented on #1214
Windows? For validating all this are you using only the cables provided to you with the Kinect? Besides the sync cable.  If you have USB Extension cables, please remove them.

Can you check to see what USB Host controllers your Kinects are using on Windows?

[2020-05-21 16:18] qm13 commented on #1210
The joint positions are documented [here](https://docs.microsoft.com/en-us/azure/Kinect-dk/body-joints). My suspicion is you are not seeing the hand joints.

[2020-05-21 16:29] qm13 commented on #1217
I would need to see photos of your setup to comment on the values >2000 mm.

Confidence levels are
NONE - Joint is out of range. Only applies to hand joints.
LOW - Joint was not returned by the DNN. Human model fitting predicted the joint location.
MEDIUM - Joint was returned by the DNN.
HIGH - Reserved.

We are investigating algorithms to differentiate between to accuracy numbers across MEDIMUM a

[2020-05-21 16:34] qm13 commented on #1211
Duplicate issue.
The body tracking performance is being tracked with issue #514
The poor instance segmentation is being tracked with issue #949

[2020-05-21 16:34] #1211 closed

[2020-05-21 16:37] qm13 commented on #1218
@ArviSyrjanen depth processing is run on the host PC GPU. It makes use of filtering and other techniques to improve the depth image quality.

[2020-05-21 16:39] #1168 closed

[2020-05-21 16:40] #1192 closed

[2020-05-21 17:28] tim-depthkit commented on #1201
Seems like this is a duplicate of #1058

Very helpful to see the comparison images like this. @SeanStephensenAIRM Do you have the source available to produce these images? Could be the start a nice diagnostic utility if combined with something like OpenCV findChessboards and then compute the error between the two resulting point sets.

[2020-05-21 17:42] ArviSyrjanen commented on #1218
@qm13 thanks for the answer.

Is it possible to retrieve raw depth frames e.g. via k4aviewer, the C++ API or ROS API, without the effect of filtering and other techniques?

[2020-05-21 18:54] uersoy commented on #871
Nvidia Jetson Xavier NX has been released to public and many people will be switch to it soon. Are you still considering it?

[2020-05-21 19:18] ETLang commented on #1214
I'm using the cables they came with. I think the sync cable came with a stereo system I bought some years back. It carries audio just fine.

Here's an image of the USB host controllers and devices I *have*, but I don't know how to tell which the Kinects are actually using...

![image](https://user-images.githubusercontent.com/15203711/82596959-14b6a780-9b5d-11ea-8653-391588b8363a.png)

[2020-05-21 20:15] pajama commented on #257
There is no "lib/cmake" folder.

[2020-05-22 08:47] hagorms opened #1223 "Sync-out drift overtime"
**Describe the bug**
Sync out drifts

**To Reproduce**

1. Connect azure sync out signal generator to oscilloscope.
2. Connect master Signal Generator to oscilloscope
3. Compare phases over time.
4. You will see the signal shift (phase difference change) overtime.

**Expected behavior**
   phase difference is stable

**Desktop **
 - OS with Version: Windows 10
 - SDK Version:  1.4.1
 - Firmware ve

[2020-05-22 09:08] hagorms commented on #1214
Hello.
I currently work with 2 kinects and external signal gernerator. It runs without a problem on my pc.
Do you have an oscilloscope to check the cable?  It would be great if you can send me sync out picture so I can compare it with mine.
Best!

[2020-05-22 09:13] hagorms commented on #943
Do you have an example code to do it?

[2020-05-22 16:58] SeanStephensenAIRM commented on #1201
I agree, this does seem to be the same issue - feel free to merge if possible.  I have also noticed many instances where this error is manifested in point clouds. I can't share my full source since it is IP of the company I work for, but the process is just taking a simple capture as in many example Kinect codes, applying the transformations that I was able to provide in my original post, and then

[2020-05-22 17:50] ETLang commented on #1214
Sorry, I don't have an oscilloscope and I wouldn't know how to use one if I did! lol

[2020-05-22 19:30] ETLang commented on #1214
In the vain hope that it might kind of work like an oscilliscope, I connected sync out on one Kinect to the audio line in port on my computer, and then tried recording it using Audacity. It successfully picks up the bit of static noise that results if I fiddle with the plug, so the setup in general is working. I figured maybe there's a chance it'd pick up on the signals being sent each frame (30Hz

[2020-05-22 19:38] ETLang commented on #1214
Could I possibly hack together a signal generator by plugging Line Out into Sync In and writing code to play out a waveform as audio that would be interpreted as a signal?

[2020-05-25 00:04] hagorms opened #1224 "Azure Master and Azure Slave devices have different frame numbers."
**Describe the bug**
I connected 2 Azure kinects according to the documentation.  After several recording I have different number of frames in master and slave devices.

How to allign frames with close-to-perfect synchronisation?
For example master recording has 1501frames and Slave recording has 1497 frames.
If you rerun the experiment, these numbers are different.
Mostly the difference between m

[2020-05-25 00:21] furushchev commented on #1215
@kalluwa Sorry for the late reply and thank you for the advice.
I'm now trying to run the nodes with display and still getting the same error unfortunately...

@wes-b Any further advice?

Thank you very much in advance!

[2020-05-25 01:09] hagorms opened #1225 "Azure Master and Azure Slave frame shifts in the beginning"
**Describe the bug**

Azure Master and Azure Slave recordings have non stable frame shifts.
How to replicate: start mobile phone clock. Record mobile phone pictures with two devices. Try to align timer numbers in the beginning and in the end of the recording. Check frame  numbers and frame shifts between these measurements.

What you can get:
- 00:00:30.10 is frame 10 on azure 1 and 00:00:30.10 on

[2020-05-25 01:21] hagorms opened #1226 "Azure Master and Azure slave frame drops"
Azure master and azure slave devices have frame drops.

**Describe the bug**

**To Reproduce**
1) start mobile phone clock.
2) Record mobile phone pictures with two devices.
3) Find two timer numbers on both cameras for example 00:00:30.10 and 00:05:30.10 .
4) Check frame count difference between timer values for Master and slave devices.
5) repeat 1-4 several times.

This issue was tested with 2

[2020-05-25 01:27] hagorms opened #1227 "Azure Devices generate pink and black frames in the slave mode with external master device."
How to replicate:

**Describe the bug**

**To Reproduce**
1) Connect device to external signal generator.
2) Set external signal generator frequency to 5 , 15, or 30.
3) Start Azure recording in slave mode.
4) Start signal generator.
5) After recording is finished convert mkv to frames with ffmpeg.

Some of the converted frames will be pink or black.
If 2 kinects were connected to Master device, p

[2020-05-25 01:39] hagorms opened #1228 "Non stable delay between sync in pulse and recorded frame."
**Describe the bug**
Azure Kinects may have a non stable delay between input pulse and  frame recorded.

**To Reproduce**
1) Connect master signal to  2 azure devices in chain configuration. Master->Azure0->Azure1.
2) Point both Azure 1 and Azure 0 on a mobile phone with a running clock.
3) Record several sessions.
4) Analyse session frames with ffmpeg. You may see different behaviour.

 You can g

[2020-05-25 02:40] jean1zhou commented on #1217
We use k4arecorder to record the video, and the  set up is 720P, 15FPS,  WFOV unbined.
And we use MKVToolNix and FFMPEG to extract RGB video and RGB photos to get labeled.
I reviewed the documentation about coordinate system. And we get confused about 2D coordinate system. In fact, the coordinates we get are based on pixel coordinates, but the 2D coordinates of the camera seem to be different from

[2020-05-25 02:41] jean1zhou commented on #1217
We use k4arecorder to record the video, and the set up is 720P, 15FPS, WFOV unbined.
And we use MKVToolNix and FFMPEG to extract RGB video and RGB photos to get labeled.
I reviewed the documentation about coordinate system. And we get confused about 2D coordinate system. In fact, the coordinates we get are based on pixel coordinates, but the 2D coordinates of the camera seem to be different from p

[2020-05-25 02:41] jean1zhou commented on #1217
Thanks for replying.
We use k4arecorder to record the video, and the set up is 720P, 15FPS, WFOV unbined.
And we use MKVToolNix and FFMPEG to extract RGB video and RGB photos to get labeled.
I reviewed the documentation about coordinate system. And we get confused about 2D coordinate system. In fact, the coordinates we get are based on pixel coordinates, but the 2D coordinates of the camera seem t

[2020-05-25 09:09] hagorms commented on #1214
@ETLang, I think the cheapest way is to buy arduino or rasberry py and use it as oscilloscope. Or just buy a cheap oscilloscope to test your electronic hardware.

[2020-05-25 14:35] dotslinker commented on #514
I have been working for a while with RealSense D435 and Cubemos.Honestly not the easiest library to work with, but the Cubemos guys are kind and open to promptly answer to all the technical questions one may encounter (from setting up the programming environment to playing with the source examples). The library's performances can be adjusted to the customer's needs by changing the number of nodes

[2020-05-25 18:54] dbruning commented on #1207
Any thoughts on priority or timeline for this? It’s a blocker for my project.

[2020-05-26 16:46] wes-b commented on #1215
I am not sure why you are not getting Color images. Based on the log entry below, it happens ~5s into your recording. It might be you are having USB problems. You could try different USB ports. If you have extension cables you should remove those. Do you have another PC you could test with?

We see this on Windows when a bad driver has been installed on the PC or when images color images are leake

[2020-05-26 19:10] tomassilny opened #1229 "Realtime Body Tracking in C# doesn't work"
Hi,
I am trying to get body joints informations from Kinect Azure but it refresh every just 2 seconds and it is too slow, I need to get body joints informations every few milliseconds, is it possible? Please see my code below. I use `try` and `catch` it get body informations every 2 seconds and other time I get "Body Tracking Error" Exception.

[code]

I think here will be some problem with `Enque

[2020-05-27 19:21] qm13 commented on #1227
How does the .mkv file look in the k4aviewer?

[2020-05-27 19:46] qm13 commented on #1229
@tomassilny could you provide details of your host compute environment - CPU, RAM, GPU, VRAM?

[2020-05-27 20:26] wes-b commented on #1226
Dropped frames are to be expected. This can be due to PC performance and available USB Bandwidth. Memory and storage media performance play a part in recording speed as well.

[2020-05-27 20:29] wes-b commented on #1225
This is by design, we make no attempt to align frame numbers. The device timestamp applied to each capture must be compared to find the synchronized images between 2 camera streams.

[2020-05-27 20:45] tomassilny commented on #1229
@qm13 thank you for your response.

CPU - Intel Core i5-8265U, 1.80 GHz
RAM - 8 GB
GPU - Intel UHD Graphics 620 4 GB
SSD storage (Dell)

We were using Kinect V2 and everything worked fine, but we would like to upgrade to Kinect Azure, we use this in the diagnosis of neurological diseases so that's why we need to track body joints in realtime.

Thank you.

[2020-05-27 20:48] wes-b commented on #1224
The device timestamp is synchronized acrossed all devices. Don't use frame counts.

Look at [get_synchronized_captures](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/3cfe362dacc4ad9b2206af3f28d62e1eb7be99c2/examples/green_screen/MultiDeviceCapturer.h#L95) in our green screen example for how to do it with a live stream.

For MKV's the device timestamps always start at zero and start_tim

[2020-05-28 11:30] oilst opened #1230 "Memory leak when starting IMU"
When starting the IMU with
`_device.StartImu();`
the memory consumption increases steadily. As soon as I stop the imu with
`_device.StopImu();`
the memory consumption does not increase anymore.

**Expected behavior**
Starting the Imu should not create a memory leak.

**Desktop:**
 - OS with Version: Windows 1903
 - SDK Version:  1.4.0
 - Firmware version:
  RGB camera firmware:      1.6.98
  Depth

[2020-05-28 14:48] wes-b commented on #1228
The signal propagation delay from sync in to sync out of 300-400ns is expected.

If you sync camera frames based on device timestamp, instead of frame number, I expect you will find they align within 500us of each other.

[2020-05-29 00:39] Michael-robo13 commented on #734
@qm13 @RoseFlunder I have a question about the body tracking sdk. Can it be used in raspberry pi 4? I want to obtain the skeleton data in system of raspberry pi4 + ros + azure kinect. Looking forward to your reply.

[2020-05-29 01:48] Michael-robo13 opened #1232 "Body tracking sdk in Rsapberry Pi4"
I have a question about the body tracking sdk. Can it be used in raspberry pi 4? I want to obtain the skeleton data in system of raspberry pi4 + ros + azure kinect. Looking forward to your reply.

[2020-05-29 12:29] furushchev commented on #1215
@wes-b Thanks for the comment.

I finally found that this error occurs if the sensor device is connected to a computer on boot.
If it is connected to the computer after boot time, it works without the error.
I found that if the sensor is connected before the computer is booted, after running the command `udevadm trigger`, it now works.
Maybe the process on detection of the sensor is not completed

[2020-05-30 09:31] RoseFlunder commented on #734
@Michael-robo13 i am no member of the Microsoft team but as far as I know the Body Tracking SDK is dependant on a Deep Neural Network thats using CUDA. So you need a NVidia GPU which the Raspi does not have.

I am using the body tracking sdk on X86 64bit Ubuntu systems which have a NVidia 2070.

But I read somewhere in this repository that they are working on a lite model which works with less pow

[2020-05-31 05:00] zdegrh opened #1233 "I use dockerfile(in path scripts/docker) to build an image, and get the opengl with version 3.1, why?"
Describe the problem:
I am thinking about using k4a in docker, then I build the image with dockerfile as following:
#START
ARG UBUNTU_VERSION=18.04
#Use the official ubuntu:18.04 image as the parent image
FROM ubuntu:${UBUNTU_VERSION}

#Set the working directory to /app
WORKDIR /root

ARG ARCH=amd64

ADD setup-ubuntu.sh /root
ADD sources.list /root

#Tell Ubuntu non-interactive install
ARG DEBIAN_

[2020-05-31 13:25] YinghaoHuang91 opened #1234 "How to write system timestamp into MKV file via k4arecorder in sync mode?"
Thanks for making and sharing this great tool!

I wonder how to write and read the system time information into the recordings while in external sync mode. I think the default command to do this is:  `k4arecorder.exe --external-sync sub -e -8 -r 5 -l 10 sub1.mkv`

But I get 0 when I use `k4a_image_get_system_timestamp_nsec` to get the system timestamp for each capture. Following shows the code seg

[2020-05-31 13:55] ZhangAustin commented on #387
same issue here on Ubuntu 19.10, libk4a1.4-dev.
no issues on windows 10.

[2020-05-31 13:59] ZhangAustin commented on #387
same issue here on Ubuntu 19.10 with libk4a1.4-dev
works fine on Windows 10 though.

[2020-05-31 21:09] sewanfan commented on #836
Hi Jacob and others,

Thanks for tip on installing to a local folder.  Tested to work ok. Also installed system wide.

Installed MS 99 udev rules also in /etc/udev/rules

Our machine is linux mint virtual machine generic #34~18.04.2-Ubuntu running on Windows 10 Pro

Been reading the git hub forum pages to follow the 3 pieces of the installation and completed them

We use pmd pico flexx camera with

[2020-06-01 17:14] qm13 commented on #1230
Could you please provide more precise repro steps? Is this C/C++ or C#?
Are you running one of the samples?
What tool are you using to monitor memory leakage?
Did you wait long enough for queue stabilization (wait beyond 15 seconds)?

[2020-06-01 17:30] wes-b commented on #1234
@xthexder what is the tag that needs to be read to get the base timestamp?

[2020-06-01 17:41] wes-b commented on #1233
Docker is currently targeted as a build & automation tool. IIRC our issue around running remotely will prevent you from being able to run K4aViewer or other tools. We need an active user session.

[2020-06-01 17:41] #1233 closed, assigned to wes-b

[2020-06-01 17:44] SeanStephensenAIRM opened #1235 "Saving out a k4a_transformation_t ?"
I'd like to save out a k4a_transformation_t to a (probably csv) file so that it can be read back in later and assigned to a camera, but I can't seem to find the actual data structure of a k4a_transformation_t. [The docs](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/structk4a__transformation__t.html#details) don't seem to have any specific info on what is actually stored in this struc

[2020-06-01 18:00] xthexder commented on #1234
System timestamps are currently not recorded in the MKV. If you don't need wall-clock timestamps, device timestamps should be sufficient to sync external devices.

If you need wall-clock time of the recording, you could write your own tag with the starting time. The timestamp of k4a_record_create() is included in the recording header, but unfortunately it's not currently available to read in the p

[2020-06-01 19:00] sewanfan commented on #836
Found the link below together with Jacob's comment for making a local directory to expose where the .h and .so files are installed

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/652#issuecomment-608118432

The three MS kinect sdk files need to install, remove and install again to avoid the version errors mentioned in the first comments

We use pmd pico flexx time of flight camera and

[2020-06-01 23:37] #1215 closed

[2020-06-02 00:06] wes-b commented on #1234
The device timestamps are our source of truth as they are captured by hardware and are a lot more accurate than the system timestamps.

[2020-06-02 06:56] oilst commented on #1230
Steps to reproduce:

-  checkout https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/csharp_3d_viewer
- add `device.StartImu();` after line 26 in Program.cs
- run the program in VS 2019 and monitor the memory in VS. The memory increases over time (I tried for 10 minutes and it is still increasing)

[2020-06-02 15:47] Se7en7th opened #1236 "Sucessful Application built, Failed to "Start camera"?"
Hi Devs,
I'm a College student researching on Azure Kinect's capabilities, I have followed the "Quickstart: Build your first Azure Kinect application" guide and have successfully coded the code on a blank .cpp app with no visible errors in the error list or in the output log.

Upon compiling the solution, I am to expect a window to pop up showing a stream of the view of the Kinect camera that is p

[2020-06-02 20:03] wes-b commented on #1236
That tutorial is just expected to start and stop the camera's. It doesn't look into UI components to show the images.  Take a look at our [green screen example](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/examples/green_screen/README.md), it pops up a window.

[2020-06-02 20:03] #1236 closed, assigned to wes-b

[2020-06-03 05:25] hagorms commented on #1228
Dear wes-b,
Yes. This behaviour you can see on the picture uploaded. The delayed signal has 300-400 delay. But unfortunatelly, Slave Kinect has delay of 20-30 us. If I connect Slave sync out to external camera (not Azure), I get my camera synchronized with master Kinect. Do you mind have a look on the mkv files?

[2020-06-03 05:26] hagorms commented on #1227
Dear qm13,
mkv files have some small black blinks in the k4aviewer.
Do you mind have a look on the file?

[2020-06-03 05:30] hagorms commented on #1225
Yes, I got it.
I currently look on the calibration example. It was noted that calibration example has functionality for frame synchronization based on device timestamps. I will upload this thread after I find a solution.
I need to synchronize kinect with external device, that has only PC time. Do you have any ideas how can I do it?

[2020-06-03 05:32] hagorms commented on #1224
Ok. I am working on it right now.

[2020-06-03 08:53] ljhoo24 opened #1237 "Can't capture color image."
Hello, everyone.
I'm trying to capture both color image and depth image from device.
but if I set the synchronized images only configuration to true, it wait infinitely to capture on k4a_device_get_capture function.
on the contrary to this, if I use synchronized images only configuration to false, It works.
but k4a_device_get_capture function gives me only depth image handle.
color image handle ha

[2020-06-03 09:10] YinghaoHuang91 commented on #1234
Thanks a lot for the answers. I also wonder how I can record data into mkv file if I use a third-party device as the trigger signal? Is this function currently supported in the k4arecorder.exe?

[2020-06-03 13:26] DirkKramer opened #1238 "Misalignment in Pointcloud"
Hello all,

Information:
-C# WPF
-Visual Studio 2019 16.6.0
-Windows 10 Professional
-Microsoft.Azure.Kinect.Sensor 1.4.0 (NuGet package)

            Sensor.StartCameras(new DeviceConfiguration()
            {
                ColorFormat = ImageFormat.ColorBGRA32,
                CameraFPS = FPS.FPS30,
                ColorResolution = ColorResolution.R720p,
                DepthMode = DepthMode.

[2020-06-03 15:09] wes-b commented on #1234
Just like you would use your external trigger with the Kinect in subordinate mode, I would expect the recording to work in the same way when put into subordinate mode.

```k4aRecorder <options> --external-sync subordinate```

[2020-06-03 15:09] #1234 closed, assigned to wes-b

[2020-06-03 15:21] wes-b commented on #1225
The SDK also applies a system timestamp to image data when it arrives on the host PC. You can use this, but it is not as accurate as the HW timestamp applied by firmware. It is measured at applied with the frame is handled within the SDK. Depending on exposure this can be 10's of milliseconds later.

[2020-06-03 15:21] #1225 closed

[2020-06-03 15:23] wes-b commented on #1227
Can you share a screen shot of K4AViewer and the black blinks you are referring to? We do expect a version of this to float across the depth camera, but it is not usually an entire frame.

[2020-06-03 15:40] wes-b commented on #1228
400ns is tiny compared to our shortest exposure, which I believe is 500us IIRC. Exactly what issues are you running into?

BTW, what is this unit of time you are sharing: 00:01:28 .51? is .51 the same as 510ms? In this post I cannot tell where you see 20-30 us of delay so please try to explain that again.

[2020-06-03 21:02] martinResearch opened #1239 "cannot convert argument 2 from 'const char [4]' to 'PCWSTR'"
When compiling in Visual Studio 2019 using Windows Kits 10.0.18362

I get the following errors

`
Azure-Kinect-Sensor-SDK\tools\k4aviewer\platform\windows\k4adevicecorrelator.cpp(180,117): error C2664: 'HDEVINFO SetupDiGetClassDevsW(const GUID *,PCWSTR,HWND,DWORD)': cannot convert argument 2 from 'const char [4]' to 'PCWSTR'
Azure-Kinect-Sensor-SDK\tools\k4aviewer\platform\windows\k4adevicecorrela

[2020-06-04 00:23] markhog opened #1240 "Subordinate Device Timestamp Not Reset to Zero on First Pulse"
**Describe the bug**
The device timestamp obtained via k4a_image_get_device_timestamp_usec appears to no longer be reset to 0 at the time the first rising edge is received on the sync_in port for devices in subordinate mode. This appears to be a firmware regression between AzureKinectDK_Fw_1.6.104075014.bin (1.4.0-alpha.0) and AzureKinectDK_Fw_1.6.107078014.bin (1.4.0-alpha.3).

**To Reproduce**
1

[2020-06-04 01:31] qm13 commented on #1232
@Michael-robo13 Neither the Sensor SDK nor the Body Tracking SDK currently work with Raspberry Pi. We have released the Sensor SDK on the NVIDIA Jetson range of products and are working on a version of the Body Tracking SDK targeting the Xavier variants. Longer term we are also looking at other hardware acceleration options.

[2020-06-04 01:35] qm13 commented on #1229
Currently we only support running on NVIDIA range of GPUs. Your application is running in CPU only mode hence the 1 fps frame rate. We are currently looking more performant DNN and other hardware acceleration options but have nothing to announce at the moment.

[2020-06-04 01:37] qm13 commented on #1221
@TothiViseo what are you using to render your 3D avatar?

[2020-06-04 01:42] #1210 closed

[2020-06-04 03:06] wes-b commented on #1240
You are correct that in recent firmware updates the startup time from first capture has changed. We unfortunately don't guarantee that the startup time won't change. You shouldn't rely on the timestamp to reset at any particular moment as we don't document that behavior and it may change in the future.

[2020-06-04 04:02] NightChord opened #1241 "360-degree body tracking"
In the promotional picture of Azure Kinect DK, we know that using multiple Kinects can get a panoramic view of the environment and depth.

![image.png](https://sjwx.easydoc.xyz/30393556/files/kb08kp5h.png)

At present, the body tracking of a single Kinect will be lost when rotating. Can multiple Kinects be used to achieve 360-degree body tracking without dead angles? Is there an official implement

[2020-06-04 04:53] hpsinghjk opened #1242 "Azure Kinect Body tracking SDK crashes on opening"
![IMG_1266](https://user-images.githubusercontent.com/66403083/83716089-d6be8680-a626-11ea-9a32-9c165d715c7c.jpg)
![IMG_1266](https://user-images.githubusercontent.com/66403083/83716106-e2aa4880-a626-11ea-8901-dbf57616cf49.jpg)

**Describe the bug**
Azure Kinect Body tracking SDK crashes on opening

**To Reproduce**
 build 18362.836
 - SDK Version:  <!-- 1.0.1
 -

[2020-06-04 06:18] markhog commented on #1240
Thanks for the quick reply! Would it be possible to document how the Azure Kinects synchronize their device clocks?

According to https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/529 it sounds like their clocks are expected to match within 33us. I guess I incorrectly assumed they were using the sync in pulse to zero the device clock. I would like to have a non-Azure Kinect device like a

[2020-06-04 07:56] TothiViseo commented on #1221
Hello @qm13,
I am using Babylonjs.

[2020-06-04 09:46] tomassilny commented on #1229
@qm13 thank you for reply. And in the future do you expect support for other GPUs?

[2020-06-04 14:58] natelowry commented on #573
bumping this again and lmk if there's anything i can do to help 😸

this will be awesome when it's added. ❤️

[2020-06-04 16:53] bigpo opened #1243 "libtorch libraries trigger a bug"
**Describe the bug**

when I linked the libtorch libraries in CMakeLists.txt file like this:
`target_link_libraries( index_map ${TORCH_LIBRARIES})`, I got an error to run the code.
code comes from `https://github.com/UnaNancyOwen/AzureKinectSample/tree/master/sample/cpp/index_map`
**To Reproduce**

1. It's OK without link the libtorch.
2. err occurs if link the libtorch and run the `index map` . l

[2020-06-04 16:54] qm13 commented on #1235
This is by design. Could developers please comment if they feel this is a necessary API. Please include a description of your use case.

[2020-06-04 16:54] wes-b commented on #1237
Can you capture and share logs while you reproduce the issue/

[2020-06-04 16:58] SeanStephensenAIRM commented on #1235
obviously this wouldn't be necessary for intrinsic transformations since they can be obtained so easily. I was hoping to use it to save extrinsic transformations so that re-calibration would not be needed if an experiment was interupted when using a stereo camera pair. For now, I've found a suitable solution by saving out the 4x4 transformation matrix (vector<vector\<double\>>format) which describ

[2020-06-04 17:00] qm13 commented on #1243
What version of the SDKs are you using. There is not enough information for us to provide definitive guidance. We suspect that the JPEG is corrupted either because the CPU cannot keep up or the memory has been overwritten.

[2020-06-04 17:13] bigpo commented on #1243
Thanks for your reply. I have already supplement the info about SDKs. I was curious why the libtorch could trigger the bug?

please let me know if anything else i need to supplement.

[2020-06-04 17:44] hpsinghjk commented on #1242
Hello, I wanted to perform body tracking for shoulder movement. The Azure kinect viewer opens up on the computer and I can see the depth camera information but the kinect body tracking does not open and crashes as soon as I click on it. I have tried uninstall and reinstall but it is showing a different icon compared to the viewer as can be seen in the picture above. Please advise what other inform

[2020-06-04 20:20] Chrisbright10 commented on #575
Is there any update on this issue? If not, who can I pay to help fix this issue faster? This is the only issue preventing me from adopting this camera at this time, and I would really love to.

[2020-06-05 06:58] ljhoo24 commented on #1237
Here is log of my code below.

New logging session started

[2020-06-05 15:48:52.043] [critical] [t=9136] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\depth\depth.c (278): ******************** Device Info ********************
[2020-06-05 15:48:52.043] [critical] [t=9136] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\depth\depth.c (279): K4A SDK version:     1.3.0
[2020-06-05 15:48:52.069] [critical]

[2020-06-05 07:06] #1242 closed, assigned to qm13

[2020-06-05 15:12] wes-b commented on #1237
Does the color camera work with the Windows Camera app?

With no error message from the color camera there is no clear direction to investigate. The system log in the Viewer System might have a Media Foundation error, or an error from another component logged to help us. You might have other camera software installed causing a problem.

Can you describe in more detail what is happening in K4AViewe

[2020-06-05 16:13] wes-b commented on #1240
The master sync out signal is the master color camera's VSync. On the subordinate you also know that device timestamp applied is center of exposure. So you can calculate the device time VSync was raised. On the master you will need to know what its time is when the sync pulse is raised. Then you should be able to correlate that device pulse & time with the Kinects frame information to correlate th

[2020-06-05 21:09] GMZRD71 opened #1244 "Literature/References"
Dear Microsoft Staff,
I am using your cameras for some of my research.  Do you have any publications for the _original_ body tracking model training and development that I can reference in my work?   In other words, the 32 joints body tracker in the SDK is based on an AI model.  Are there any publications associated with that model that I can reference?  If not, what would the most appropriate wor

[2020-06-05 21:35] markhog commented on #1240
I think I'm following that. The part I'm a little unclear on is how to correlate the two clocks if a frame drops. I'll try to illustrate my confusion with an example.

1) Setup a single Azure Kinect (AK) in subordinate mode recording @30Hz and start streaming
2) Wait 5 seconds
3) Microcontroller sends VSYNC pulse to subordinate AK at microcontroller timestamp 5,000us
4) The first frame captured fr

[2020-06-07 20:08] diablodale opened #1245 "Kinect data on GPU with `gpu::GpuMat`, `ogl::Buffer`, `ogl::Texture2D`, or OpenGL handles"
Add access to Kinect data via `cv::gpu::GpuMat`, `ogl::Buffer`, `cv::ogl::Texture2D`, and/or OpenGL handles to keep data on GPU and greatly reduce GPU<->CPU memory churn for image processing, computation, etc. As I so far understand the codebase, almost all work by this SDK codebase is done on the CPU. (depthengine is not part of this SDK codebase)

For the same reasons that depthengine is written

[2020-06-08 00:41] ljhoo24 commented on #1237
Yes, color camera is working with windows camera app.
and I didn't install any other camera software on my pc.

about k4aviewer, it gives me a log only about device information such as sdk versions not an errors.
and it's definitely works !
It shows me a color images and depth image with any configurations.

more weird thing is that I can record color image and read image with SDK and my device !

[2020-06-08 03:12] hagorms commented on #1227
Here are screenshots:
![image](https://user-images.githubusercontent.com/12120066/83989383-8442da00-a946-11ea-813b-1fe5832b00c8.png)
![image](https://user-images.githubusercontent.com/12120066/83989406-96247d00-a946-11ea-9099-2d693015e952.png)
![image](https://user-images.githubusercontent.com/12120066/83989412-9de42180-a946-11ea-8c0f-9ae5cbb372ae.png)

[2020-06-08 03:38] hagorms commented on #1224
Here is my setup description when one kinect is a master :
![image](https://user-images.githubusercontent.com/12120066/83990192-13e98800-a949-11ea-97bf-1eca6dcf02c0.png)
External camera starts recordning when it recieves a signal.
Here are the screenshots from anoher recording with external camera.

![image](https://user-images.githubusercontent.com/12120066/83990088-c10fd080-a948-11ea-9d2d-c0076c

[2020-06-08 03:42] hagorms commented on #1224
After I connected both kinect devices to external signal generator I get the following result

![image](https://user-images.githubusercontent.com/12120066/83990645-a2aad480-a94a-11ea-82dd-ba52e0e25820.png)
![image](https://user-images.githubusercontent.com/12120066/83990678-b7876800-a94a-11ea-9d0f-ca48c2eac0bb.png)

For one kinect it is still 22 timestamp units,
for another one it is 11 timestamp

[2020-06-08 03:48] hagorms commented on #1224
Here are extra screenshots from Azure Kinect Viewer. (When running in slave configuration)
33 timestamp units difference
![image](https://user-images.githubusercontent.com/12120066/83990808-1cdb5900-a94b-11ea-9fd1-4bea037b99f8.png)
45 timestamp units
![image](https://user-images.githubusercontent.com/12120066/83990866-45fbe980-a94b-11ea-9d32-e3795fe9c5a7.png)

These numbers are not stable and have

[2020-06-08 03:52] hagorms commented on #1226
If dropped frames are to be expected in the beginning and extra sync pulses are generated before recording started, what is the best way to find first synchronised frame with external device?
According to github issues, system timestamp is also not the best solutution. .

[2020-06-08 04:56] hagorms commented on #1223
please look on the following screenshots.

Blue is azure sync out and yellow is master sync

![image](https://user-images.githubusercontent.com/12120066/83993963-4e592200-a955-11ea-9a27-f3ee593b576c.png)
![image](https://user-images.githubusercontent.com/12120066/83993980-5b761100-a955-11ea-8bf6-c71294f229b7.png)
![image](https://user-images.githubusercontent.com/12120066/83993993-6335b580-a955-11

[2020-06-08 07:59] ljhoo24 commented on #1237
additional information.
if I connect my camera device to other desktop, I can acquired color image handle from device.

I attached pc information of error acquired one below.

cpu - intel i7-6700
ram - 16gb
gpu - geforce gtx 980 ti
os - windows 10

[2020-06-08 09:44] hagorms commented on #1223
The framerate is 5,
scale square 100ms,.
Blue = Azure Kinect.
Yellow = Master Clock.

You can see that signal drifts. blue goes forward and meets yellow once again.

[2020-06-08 11:04] mkarlan opened #1246 "Missing camera performance evaluation result"
**Describe the bug**
I can see different metrics explained for evaluating the camera's performance on the [official documentation](https://docs.microsoft.com/en-us/azure/kinect-dk/depth-camera) page. But the result for the same for the different working ranges has not been published.

**Describe the solution you'd like**
Some publicly accessible (and citeable) metrics indicating how accurate the c

[2020-06-08 16:01] wes-b commented on #1246
I think you are after this: https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification

[2020-06-08 17:54] wes-b commented on #1223
If I am reading things correctly:
* Blue is the output of your signal generator
* Yellow is the output of our sink out signal signal of a camera that is configured as a subordinate and had the signal generator plugged into the input.
* Timestamps in the image range from 258,015,622us to 830,415,622us resulting in a loss of 1 frame every ~ 14minutes at 5FPS.

[2020-06-08 18:05] wes-b commented on #1237
It sounds like our tools are working fine on your PC, but your code is not. Correct?

Ensure you are calling [k4a_image_release](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga27c81863b13fafc3934a32935a014e9f.html#ga27c81863b13fafc3934a32935a014e9f) and [k4a_capture_release](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga0ed6f74ec403c

[2020-06-08 18:13] wes-b commented on #1226
We expect the **device** time stamps to be within 100us of each other when running in master/subordinate mode.

[depth_delay_off_color_usec](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/structk4a__device__configuration__t.html) and [subordinate_delay_off_master_usec](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/structk4a__device__configuration__t.html) will need to be z

[2020-06-08 18:20] wes-b commented on #1224
Our device timestamps are in microseconds. We don't expect them to be exactly the same as they are from two different clocks on two different devices. We do expect them to be within 100us of each other, which from what I can tell is what you do see.

[2020-06-08 18:23] wes-b commented on #1227
Does this only reproduce with the external generator? Can you reproduce this with the Azure Kinect as the master?

[2020-06-08 22:14] qm13 commented on #1245
This is an excellent proposal @diablodale. I have also posted it on User Voice here:

https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/40619830-kinect-data-on-gpu-with-gpu-gpumat-ogl-buffe

We would like to here from the community.

[2020-06-09 00:36] ljhoo24 commented on #1237
yes, you are right.

perfectly working on my pc using k4aviewer. but not my code.
strange thing is that I can run and get a color image handle in same code at different pc.
even that pc is worse than mine.

besides, after reading your comments, I changed my code and test it again.
but releasing handle is not working.
I mean releasing itself is worked, but still my code cannot get a color image han

[2020-06-09 01:19] GitZinger opened #1247 "how to set the stride_bytes argument in the k4a_image_create() for the mjpg"
**Describe the bug**

I tried to put 0 or 1 as the stride_bytes in there but got the error with "mjpg does not have a constant stride"?
what should I do?
please help me here! thank you so much!

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Desktop (please complete the following information):**
 - OS with Version:  1700
 - SDK Version:   1.2.0
 - Firmware version:

**Additi

[2020-06-09 02:35] NightChord commented on #1052
"I found that v0.9.5 of the Body Tracking SDK provides multi-tracker support to track bodies from different Azure Kinect devices in 1 PC."
I would like to ask, can Body Tracking of multiple kinects be integrated? Has this api? Please tell me how to merge multiple kinect Body tracking data.

[2020-06-09 04:11] hagorms commented on #1227
It reproduces with external generator. If one of Kinect is a master, it might happen for one or two frames. After that it stays stable

[2020-06-09 04:12] hagorms commented on #1224
But why doesn't the difference between RGB and IR frame stays stable?

[2020-06-09 04:18] hagorms commented on #1226
I understand that device timestamps are reliable units to synchronise between kinects. What I don't understand is how to synchronize external devices with kinect setup.
Lets imagine: a frame in the middle of recording is not recorded. We can find it by the timestamp. But external cameras recieved a pulse (pulses are stille generated) and recorded the dropped frame.
Another situation: kinect is a m

[2020-06-09 04:22] hagorms commented on #1223
Blue = independent Azure kinect master output sync.
Yellow = master Signal generator. It is independent. It sends only 5 pulses per second.
I don't know if you can call it frame loss. If Azure generates exactly 5 frames per second, phase difference should be constant. Unfortunatelly, we see that  blue signal (azure) drifts.  And it meets the master clock every ~14 minutes.

[2020-06-09 06:22] DirkKramer commented on #1238
Essentially what I want to achieve, is to perform a ColorImageToDepthCamera transformation without getting the Fisheye-ish effect on the color stream.

![image](https://user-images.githubusercontent.com/46933603/84145491-3fa86300-aa5a-11ea-87ea-01b02d5321ea.png)

[2020-06-09 08:38] TothiViseo commented on #1221
Hello @qm13,
I finally solved my problem.
I ran the Unity example provided [here](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking) and fed it with my own rotation data.
I compared the two results and it turns out the specificity was on Babylonjs side.
The wrists still seem off sometimes but the rotations seem consistent with the positio

[2020-06-09 08:38] #1221 closed

[2020-06-09 08:40] mkarlan commented on #1246
No, I am looking for metrics results such as z accuracy, repeatability, plane fit RMSE, Peak Signal to Noise Ratio (PSNR)

[2020-06-09 23:13] derivativerobmc commented on #1125
Any word on updating the body tracking sdk to use a newer version of cuda? Other components in our project require 10.1 and we don't want to be shipping multiple versions.

[2020-06-10 02:48] LanceCoffman commented on #339
Hello all I was looking for ideas to make in my lab and these are good ideas.
I will try to recreate some of these with my best ability.
My first video was posted yesterday, but please post me questions or use cases, love to try to do.

https://youtu.be/srSCs0vmvGU

[2020-06-10 15:26] d-walsh opened #1248 "Release libk4abt compatible with libk4a1.4"
**Describe the bug**

The current release of libk4abt (`libk4abt1.0`) is only compatible with `libk4a1.3`. I want to use the Body Tracking SDK with `libk4a1.4` so I believe we need a new release that supports this. It's clear to see here that the latest libk4abt release is `1.0`: https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/libk/

**To Reproduce**

`sudo apt install libk4a1.4-dev` fo

[2020-06-10 18:28] madelinegannon opened #1249 "Color Camera Fails on Startup for Linux ARM"
**Describe the bug**

`DecodeMJPEGtoBGRA32(). MJPEG decode failed: -1` error when running `k4aviewer` and color camera is enabled on Jetson Xavier NX.

**To Reproduce**

1. Running `k4aviewer` on NVIDIA Jetson Xavier NX
2. Select Device and Start using default settings
3. "Cameras failed: Failed to get capture from device!" will pop up.
4. Stop and restart: same error after a few seconds.
5. See e

[2020-06-10 20:38] wes-b commented on #1249
PR #1194 has a fix for this. While we work on releasing 1.4.1 with this fix, you can access our Beta build here with the [nuget package](https://www.nuget.org/packages/Microsoft.Azure.Kinect.Sensor/1.4.1-beta.0). Just download, rename to zip and unpack. It has Win64, and libs for AMD64 & ARM64 on Ubuntu.

[2020-06-11 01:04] #1232 closed, assigned to qm13

[2020-06-11 01:06] qm13 commented on #1229
The Body Tracking SDK uses the ONNX Runtime to execute models. We are working closely with our ONNX team in expanding support to other GPUs and expect to have an announcement regarding Windows support shortly.

[2020-06-11 01:16] qm13 commented on #1217
@jean1zhou I am not fully understanding your issue and have some additional clarifying questions.

Are you recording both RGB and depth in the videos?

What do you mean by joint labels? Is that the skeleton joints?

By xyz coordinates are you referring to the skeleton joint coordinates as returned by body tracking SDK?

What do you mean by the labeled pixel coordinates from RGB?

k4a_transformatio

[2020-06-11 20:38] redfood opened #1250 "Visual Studio Projects don't load after adding Body Tracking SDK via NuGet"
**Describe the bug**

(I'm not sure if this is the correct place to report this problem since I think it is with that NuGet package).

I am using Visual Studio 2019.  If I create a project and add the body tracking SDK via NuGet.  I can compile and run my program file.  If I close and then reopen the project the solution looks empty and it says "unloaded".

**To Reproduce**
1. Open Visual Studio 2

[2020-06-11 21:47] pajama opened #1251 "Depth stream not working"
In AzureKinectViewer after starting the cameras with the depth camera enabled I get:
[code]

- This only happens with one of my devices. My other two azure kinects are fine.

- I've tried swapping out cables with no luck.

- I've also tried the device manager suggestions from issue #459

- The device drivers show up fine (with no warning indicators) in device manager.

- The color stream works fin

[2020-06-11 22:40] markhog commented on #1240
Is this something you could help me understand better? Looks like similar questions were discussed here (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/943), but I'm still unsure of the answers to my questions above.

[2020-06-11 22:44] qm13 commented on #1251
@pajama are you saying that the bad Azure Kinect does not stream depth and IR i.e. you see no IR or depth image in the k4aviewer. Please post a screen shot.

[2020-06-11 22:52] qm13 commented on #1247
There is no stride for mjpg. What issue are you encountering?

[2020-06-11 23:24] pajama commented on #1251
correct. no depth/ir stream.
![image](https://user-images.githubusercontent.com/2224105/84448532-cba7bf80-abff-11ea-95b3-329ae09cd294.png)

However, other streams show fine if I disable the depth camera.
![image](https://user-images.githubusercontent.com/2224105/84448595-f85bd700-abff-11ea-8f04-0b44c144df7c.png)

[2020-06-12 04:32] wes-b commented on #1251
Looks defective, please exchange it.

You could attempt to factory reset and reprogram the device firmware.

[2020-06-12 05:36] pajama commented on #1251
@wes-b can you get me in touch with someone for an exchange? I spent 2 hours on the phone today getting passed around randomly by Microsoft support trying to do just that.

Thank you!

[2020-06-12 14:21] wes-b commented on #1251
@qm13 should be able to point you in the right direction

[2020-06-12 15:06] wes-b commented on #1240
The clocks on the master and subordinate camera's are synchronized at 0 with the first sync pulse. So the steps would be more like this:

1. Setup a single Azure Kinect (AK) in subordinate mode recording @30hz and start streaming
2. Wait 5 seconds (doesn't have to be 5s, you just need to know the Subordinates are all waiting for master)
3. Microcontroller 30 FPS Vsync pulse to subordinate AK. Simu

[2020-06-12 15:12] wes-b commented on #1237
I don't have any specifics unfortunately, we know Media Foundation has a limited number of capture buffers it preallocates. When they are used up Media Foundation stops delivering more images until they are returned. As a user of K4A you return them by releasing your captures and images.

As long as you call k4a_capture_release() on all your captures, and k4a_image_release() for all your images, y

[2020-06-12 15:20] wes-b commented on #1224
Can you be more specific about what you consider unstable? I think you are talking about 33us or 45us of difference between color and depth images.  This is real hardware with real clocks, and a calculation to find center of exposure.  You can't expect a perfect timestamp match.

[2020-06-12 15:23] wes-b commented on #1226
Checkout this comment: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1240#issuecomment-643323350

[2020-06-12 15:37] wes-b commented on #1246
Z accuracy is in the link I shared: https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#depth-camera-supported-operating-modes.

[2020-06-12 16:07] #1249 closed, assigned to wes-b

[2020-06-12 21:52] markhog commented on #1240
Thanks Wes. I think we're on the same page now. "The clocks on the master and subordinate camera's are synchronized at 0 with the first sync pulse" was my initial assumption. This appears to no longer be true starting with the AzureKinectDK_Fw_1.6.107078014.bin (1.4.0-alpha.3) firmware. I think my initial suggested repro failed to illustrate the problem I'm seeing.

**Here's a new and hopefully be

[2020-06-12 22:37] qm13 commented on #1201
We believe this is a hardware issue. Can you please report the issue [here](https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813))

[2020-06-12 22:38] qm13 commented on #1238
We believe this is a hardware issue. Can you please report the issue [here](https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813).

[2020-06-13 01:00] pajama opened #1252 "What is the associated audio device name for a given kinect?"
I'm recording from 3 kinects simultaneously. I would like to auto-merge my audio recordings to the correct device mkv files afterwards. How do I determine which audio source is associated with which camera?

I'm recording the audio with a libsoundio wrapper for Unity. I'm just recording streams for any devices that contain "Azure Kinect Microphone Array". Is there a better way to identify the kine

[2020-06-13 16:18] pajama commented on #1251
@qm13 I'm filming an event with the Kinect on the 22nd. Should I order a replacement assuming you'll be able to help me return the defective unit separately? Thanks so much!

[2020-06-15 14:37] SeanStephensenAIRM commented on #1201
@qm13 I think I have done what you're asking? Honestly not confident that I found the right spot that you wanted me to report the issue. Can you confirm that [this](https://docs.microsoft.com/en-us/answers/questions/36212/image-misalignment-from-azure-kinect-camera.html) is what you wanted?

[2020-06-15 17:04] #1229 closed

[2020-06-15 17:10] qm13 commented on #514
@dotslinker sorry for the tardy reply. That is not expected. ONNX Runtime v1.2 only uses the CPU or NVIDIA GPU. Are you sure that the Intel GPU utilization is body tracking?

[2020-06-15 17:14] qm13 commented on #514
All, the team has just completed planning for the next semester. We revisited supporting random forest and concluded that it does not fit with the direction the team is taking body tracking. Instead we are focusing on a more performant DNN.

[2020-06-15 17:18] qm13 commented on #1251
@pajama to meet your filming deadline I suggest you order a replacement. You can request a replacement [here](https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813)

[2020-06-15 17:22] qm13 commented on #1218
@ArviSyrjanen It is currently not possible to turn filtering off. A number of companies have requested this feature and we are investigating options. Why do you want access to the raw frames?

[2020-06-15 17:26] qm13 commented on #1201
@SeanStephensenAIRM did you use the link I provided in my comment. Full link is:

https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813

[2020-06-15 17:34] SeanStephensenAIRM commented on #1201
Thanks, this new link works. Your old link took me to a very general Microsoft support page from which I had to manually navigate to my best guess at somewhere to file an issue. Your new link is specific to a direct support form which I've now filled out.

[2020-06-15 17:41] qm13 commented on #1252
The k4aviewer illustrates how to do this for both Windows and Linux.

[2020-06-15 18:33] ArviSyrjanen commented on #1218
Thank you for your answer @qm13.
I am currently writing my masters thesis and a depth sensor evaluation is a part of it. I would like to analyse the Azure Kinect camera in a more decomposed way, try to reproduce error behaviour that is typical to CW ToF cameras and see how you guys have solved the problem(s) if they occur. Now I believe some behaviour is hidden from me in the post-processing layer

[2020-06-15 21:55] qm13 commented on #1201
Weird. When I saw your original response the first thing I thought was I had given you the wrong link. I checked it and it works for me. Anyway glad you have now completed the support form. You will also get a response on the original incident you filed. The incident team knows I am covering the issue directly.

[2020-06-15 22:59] Chris45215 commented on #514
@qm13, I may be the only person here satisfied with that answer. Has anyone at Microsoft tried to reproduce the test I posted at https://youtu.be/7Jc7KhoPWdc yet? Considering that I found that Microsoft's example code for realtime, lowest-latency-possible output has an error that causes it to buffer an extra frame and thus always be 1 frame further behind than it could be - and the example code ha

[2020-06-15 23:18] gradientLord commented on #514
![this is fine](https://user-images.githubusercontent.com/64702445/84714871-eb5f2080-af3c-11ea-9027-b68d49f49609.jpg)

[2020-06-15 23:31] Chris45215 opened #1253 "Release a V2 with integrated body tracking"
In light of the long-running thread about body tracking latency, and the difficulties of isolating the latency, as well as the debate over prior body tracking algorithms and the difficulty of using a GPU in every system, the only complete solution is to integrate the CUDA cores and some SDRAM into the sensor. This would allow direct communication between the sensors internal processor and the GPU,

[2020-06-15 23:58] Chris45215 commented on #1130
@yijiew, the description for the real-time body tracking says "Use this pattern for single-threaded applications that need real-time results and can accommodate dropped frames."

So I find it odd that this example is one that doesn't drop that frame at the start. As it currently is, I don't see how that real-time example is actually intended to work - you always get the latest frame (if any) from

[2020-06-16 00:07] Chris45215 commented on #514
I created issue #1253 to suggest integrating the body tracker into a V2 of the sensor. That would solve all of the problems. It may be solving it by increasing the price of the sensor, but I'd pay $4000 per sensor if it had integrated body tracking and 50ms body tracking latency.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1253

Beyond that, I stand by my statement that the curren

[2020-06-16 05:07] ljhoo24 commented on #1237
OK. I know that my problem is strange situation.
and nobody can't help me to solve this.
issue will be closed now.

[2020-06-16 05:07] #1237 closed, assigned to wes-b

[2020-06-16 06:31] PierrePlantard commented on #514
@qm13, thank you for the update. For us, IF the new DNN version allow us to run with consumer grade laptop (without Nvidia GTX GPU) and maintain the accuracy level of the current DNN, it's fine !
Do you have an expected release date for this new version ?

[2020-06-16 11:23] ShikiGami opened #1254 "Color camera driver suddenly doesn't work anymore"
I was able to use the Kinect device a few months ago, and now I tried on the same PC with same pc and it would open.

After looking a little bit, it seems that the color camera driver somehow isn't working.
It tells me to "Reinstall Driver", but if I try to reinstall it it gives me an driver installation error.

The only big difference between now and when I was able to use the device is that I up

[2020-06-16 15:03] wes-b commented on #1254
Can you right click on the device with the yellow triangle and select "Uninstall device"? If an option appears to remove or delete the driver then choose that too. If that succeeds you can then detach and attach the camera to trigger the driver reinstall or in Device Manager you can select Action -> Scan for hardware changes.

[2020-06-16 15:32] wes-b commented on #1223
I was just informed by our team I misunderstood your setup. I thought the output of the signal generator was hooked up to the input of the subordinate camera. In this scenario we do not expect any phase shift.

What we understand your situation to be is that you are comparing the output of the Azure Kinect master device to the output of a signal generator. With the two signals not tied to each oth

[2020-06-16 16:59] knat commented on #514
I'm using RTX 2060 super with a single kinect, the frame rate is almost 30 FPS and the latency is acceptable.

[2020-06-16 17:46] ShikiGami commented on #1254
I can uninstall or remove the device, but after I re-plug the device, or try to scan for hardware changes it goes back to the icon with the warning sign.

[2020-06-16 18:35] wes-b commented on #1254
I just noticed from your first image you are connected to an AMD USB 3.1 Extensible Host Controller. Do you have any Intel, TI, or Renasus Extensible Host Controllers on your machine? If you do you will need to use one of the other USB ports on your PC. If you don't then I would suggest purchasing on USB controller with one of these 3 chipsets.

I know you said this worked before an update. Perhap

[2020-06-16 20:37] SeanStephensenAIRM opened #1255 "Secondary color image in the reference frame of primary color image?"
I'm using a stereo camera pair and code that is roughly based on the greenscreen example. I've been able to write out the secondary camera's depth image transformed into the perspective of the primary color camera using:

`successful = k4a_transformation_depth_image_to_color_camera(k4a_transformation_t seconday_depth_to_main_color, k4a_image_t secondary_depth_image, k4a_image_t transformed_image);

[2020-06-16 21:06] interwebjill commented on #726
@rabbitdaxi
In your comment of  9 Sep 2019, you referenced an example. The link is incorrect. I would like to review this example. Could you please provide the link you intended?

[2020-06-16 21:12] rabbitdaxi commented on #726
@interwebjill corrected the link inline in the comment I made. Hope it helps

[2020-06-16 21:17] neilDGD commented on #803
Hi,

I have been working on stereo calibration of more than one k4a, and have a problem tracking down the cause of a slight misalignment problem when doing a stereo calibration similar to the Greenscreen example.

The typical output from a stereo calibration using OpenCV + k4a sdk is like this:

<img width="839" alt="calibration_out_forum" src="https://user-images.githubusercontent.com/26259414/84

[2020-06-16 22:55] danilogr commented on #803
hey @neilDGD,
How are you rendering your point-cloud?

Your workflow makes sense to me:

1. stereo calibration between kinect cameras using the color camera
2. projecting depth images to the color camera space
3. creating point cloud with something like k4a_calibration_2d_to_3d

Building on what @JulesThuillier said, I would say that you might have a problem in the third step. I have also implemen

[2020-06-17 00:00] neilDGD commented on #803
hey @danilogr, thanks for the quick and interesting reply!

So, as I said, I have tried with a normal gpu projection technique e.g using trig. and compared against using the same XY lookup table method as you pointed out e.g. generated by:

[code]

I just bind this as a texture and sample that instead, on a switch, or, just use trig as a pinhole would, here is the snippet from my shader:

[code]
b

[2020-06-17 00:59] danilogr commented on #803
I got slightly different results between the trig approach and the look-up table approach, so I am assuming that depth is nonlinear.

I think that the lookup table projection on K4A_CALIBRATION_TYPE_COLOR is correct as you are projecting your depth image to the color camera space. Let me know if that is not the case.

My GPU implementation is similar to yours with one exception:
[code]

I can a ve

[2020-06-17 01:44] jean1zhou commented on #1217
I'm sorry I didn't clarify the questions.

1. We recorded both RGB and depth in videos using k4arecorder. And we use play back function and Body Tracking SDK to track those videos. The output is every skeleton joint's xyz coordinates.

2. Then I use MKVToolNix to split RGB videos from original videos, because the original videos has both RGB videos and depth videos. After that I use FFMPEG to extr

[2020-06-17 03:34] jessekirbs opened #1256 "Error E1696 cannot open source file "k4a/k4a.hpp" | green screen example"
When trying to build ALL_BUILD in the green screen project within Visual Studio 2019, I get the following error:

`Error (active)	E1696	cannot open source file "k4a/k4a.hpp"`

I've tried:
- Installing the Kinect Azure libraries via NuGet
- Including a k4a folder in the project root with k4a.hpp inside,
- Right clicking _ALL_BUILD → Properties → Configuration Properties → VC++ Directories_ and addi

[2020-06-17 14:01] neilDGD commented on #803
Hi again @danilogr,

Just to confirm, yes I project the depth image into colour space so what you are saying is true for the lookup source and destination to be K4A_CALIBRATION_TYPE_COLOR, i guess. I wonder if there could be some sort of difference when projecting the pointcloud from colour space instead of depth space though, curious if you do the remapping to colour space also? I wonder if there

[2020-06-17 16:59] madelinegannon commented on #896
How did you resolve this? Having the same cmake issue on Ubuntu 18.04 (with k4a 1.3 and k4abt 1.0)

[2020-06-18 18:12] ShikiGami commented on #1254
I connected the device with the cabe I left there the last time I used it, so it is the exact same port.
Any incompatibility issue was probably introduced by the Windows version update or some other Windows update.

[2020-06-18 20:40] qm13 commented on #1255
When you refer to stereo cameras do you mean two Azure Kinect cameras? The greenscreen samples demonstrates calibrating two Azure Kinect cameras and then transforming the depth image from one of the cameras to the other camera.

[2020-06-18 20:46] SeanStephensenAIRM commented on #1255
@qm13 that's correct, we have a stereo pair of kinects. I'd like to view the RGB images from the 2 kinects in a common reference frame using the calibration obtained from the chessboard calibration

[2020-06-18 20:53] markhog commented on #1240
Is this repro helpful?

[2020-06-18 21:05] wes-b commented on #1240
Absolutely! We are chatting internally about this.

[2020-06-19 18:46] qm13 commented on #1253
@Chris45215 love the idea. Would you mind also opening it on the Feedback Forum https://feedback.azure.com/forums/920053-azure-kinect-dk. Microsoft pays a lot of attention to Feedback Forum and how the developer community perceives ideas. The team has grand plans for Azure Kinect and Body Tracking some of which will be made public soon. Just remember that Rome was not built in one day.

[2020-06-21 10:21] drumath2237 opened #1257 "Unity body tracking sample crash when it quit"
**Describe the bug**

This issue is about [microsoft/Azure-Kinect-Samples](https://github.com/microsoft/Azure-Kinect-Samples) repository.
When I tried to quit the [sample_unity_bodytracking](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking) application, it crashes and doesn’t go successfully.
It seems to me that the action of quitting th

[2020-06-22 08:16] Yuki-Sato-I commented on #1147
I also have a headache on this issue.

As described above,

- cublas64_100.dll
- cudart64_100.dll
- onnxruntime.dll

are in my Assets/Plugins and root directory.

but not worked;

The error  is

Microsoft.Azure.Kinect.BodyTracking.Tracker.Create (Microsoft.Azure.Kinect.Sensor.Calibration calibration, Microsoft.Azure.Kinect.BodyTracking.TrackerConfiguration configuration) (at <b58a402688354decb2088

[2020-06-22 09:12] hagorms commented on #1223
Is it possible to be fixed? Does it have any relationship with  https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1227   ?

[2020-06-22 14:43] wes-b commented on #1223
The 2 independent clocks are expected to drift over time.

[2020-06-22 14:43] #1223 closed

[2020-06-22 23:22] uprealdigital commented on #1257
It might be happening in the Editor too. I'm having an issue where when going from Play Mode to Editor Mode, a background process does not stop properly. Not sure if it's the same issue mentioned here but I do get an error when reconnecting to the sensor:

[code]

[2020-06-23 14:56] bastiankayser commented on #514
@qm13 Thank you for the update and the transparency. Nevertheless I must say that I am deeply disappointed by this decision. You have a dedicated community that is begging on all possible channels for a funtionality that was already implemented years ago because otherwise alot of interesting and serious applications, especially in the health sector, are not feasible. And your (the development team

[2020-06-23 20:03] fractalfantasy commented on #514
@qm13 @wes-b Please mark the [feature request](https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/39945454-legacy-body-tracking-like-kinect-v2) as ‘unplanned’, to show the dev community how much you value their input.

This is the most discussed issue and second most requested feature - porting the option over would be a breeze for any decent developer.

[2020-06-23 20:43] rfilkov commented on #1253
@Chris45215 , if you ever post this idea to the feedback forum, please share the link here.

[2020-06-24 03:46] msr-peng opened #1258 "Can't Access Azure Kinect via k4aviewer in Docker Container"
I built a docker image based on Ubuntu 18.04 and OpenGL, installed `k4a-tools`, `libk4a1.4-dev` and setup the udev rules, which should satisfy all prerequisites to start Azure Kinect. However, when I launch `k4aviewer`, the terminal will return an error like:
 **`[error] [t=33] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/usbcommand/usbcommand.c (370): find_libusb_device(). Unable to open LIBUSB at

[2020-06-24 08:08] m5mattin commented on #795
Hi,
Do you have code example. Every time i try i get a error "returned failure in transformation_depth_image_to_color_camera_custom() ".
It will help me a lot.
Thank you.

[2020-06-24 15:48] wes-b commented on #795
What is ported by the K4A log?

[2020-06-24 16:09] wes-b commented on #1258
These errors appear when the K4aViewer can not find a Kinect connected to the PC. Ensure a device is connected to avoid this error and ensure you have [rules.d](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#linux-device-setup) updated.

[2020-06-24 16:36] msr-peng commented on #1258
Hey @wes-b,

Thanks for replying. I can definitely make sure that Azure Kinect connect to my PC. Here is what showed after run `lsusb` in docker container:
![lsusb](https://user-images.githubusercontent.com/32179387/85595168-36002d00-b60e-11ea-969c-0eafcac58af0.png)

It's exactly the same as what showed in my host machine.

Actually I also tried simultaneously open 2 `k4aviewer`, one from docker c

[2020-06-24 16:59] msr-peng commented on #1258
I just made the docker container successfully connect to Azure Kinect. To make it work, I should add `--privileged` to give extended privileges to the container when run docker image, like `sudo docker run --privileged ...`

However, the `k4aviewer` GUI still said it can not initialize audio backend (like the image I showed above).

Here is the GUI without audio parts in docker container:
![No aud

[2020-06-24 17:56] anantley commented on #1257
@drumath2237

Hi I think I know what the problem is.  OnDestroy doesn't end the application in the standalone.  So just change OnDestroy to OnApplicationQuit() in your main class.  That is working for me.  I will merge the fix shortly.

[2020-06-24 20:44] wes-b commented on #1254
Any better luck with other USB ports?

[2020-06-24 20:45] #1246 closed, assigned to wes-b

[2020-06-24 20:49] #1247 closed, assigned to nobody

[2020-06-24 21:15] GitZinger commented on #1247
then
1. I mean how can I declare a handler variable from the k4a_image_create()  to  hold a mjpg color image? should I put 0 or 1 in there as the 3rd argument?
2.  then how to save the mjpg image into file?
thanks @qm13

[2020-06-25 05:51] ShikiGami commented on #1254
Tried every single port of the PC, and it is exactly the same.
Just for a little more information, I'm using an X570 AORUS PRO motherboard, using a Ryzen 9 3900X CPU.

[2020-06-25 06:43] m5mattin commented on #795
**The error :**
"[2020-06-25 08:36:18.831] [error] [t=29376] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/transformation/rgbz.c (88): transformation_compare_image_descriptors(). Unexpected image descriptor. Descriptor 1: width_pixels: 512, height_pixels: 512, stride_bytes: 1024, format: 5. Descriptor 2: width_pixels: 512, height_pixels: 512, stride_bytes: 512, format: 6.
[2020-06-25 08:36:18.832] [

[2020-06-25 07:09] HiroyukiSakoh commented on #948
https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/38471407-imu-example-or-api
https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/40198582-please-provide-a-visual-inertial-odometry-vio-me
https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/39018925-add-slam-function

[2020-06-25 08:01] rabbitdaxi commented on #795
@m5mattin please check the documentation of the API. The k4a_transformation_depth_image_to_color_camera API requires both input and output custom images have the same custom format, e.g. in your case, K4A_IMAGE_FORMAT_CUSTOM16. You can refer to issue #1188 and you will spot the solution there. Basically, please make sure you also create a CUSTOM16 image for the ir_image (it seems redundant, but th

[2020-06-25 12:10] ShikiGami commented on #1254
Just a quick update.
It seems that when you get the `One of the installers for this device cannot perform the installation at this time.` driver installation error, it means that you Windows installation is corrupted, and you are not longer able to install new drivers.
I tested it trying to install new drivers for my GPU, and sure enough, I wasn't able to do it.

I reinstalled Windows 10, and now

[2020-06-25 15:20] wes-b commented on #1247
Use k4a_image_create_from_buffer() and set the stride to 0.

[2020-06-25 19:25] fractalfantasy commented on #1188
@rabbitdaxi  I know this is an unconventional way of reaching you, but I think you might want to take a look at the most [active discussion](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/514) on the Azure Kinect github.

**Long story short:**
Many Azure Kinect projects are being cancelled and put on hold because of the poor performance, accuracy and compatibility of body tracking. Th

[2020-06-26 00:38] UnaNancyOwen commented on #1206
@wes-b Azure Kinect Sensor SDK v1.4.1 seems has been published at [NuGet Gallery](https://www.nuget.org/packages/Microsoft.Azure.Kinect.Sensor/1.4.1) and [APT Package Repository](https://packages.microsoft.com/ubuntu/18.04/multiarch/prod/pool/main/libk/libk4a1.4/). At the least, that NuGet package does not appear to be a beta version, because package name without -beta.x and -alpha.x. However, Azu

[2020-06-26 03:37] jessekirbs commented on #1256
I was able to solve this issue by:

1. Using git to clone the repository with:

     `git clone https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git`

2. Copying 'depthengine_2_0.dll' from the path _…\Azure Kinect SDK v1.4.0\sdk\windows-desktop\amd64\release\bin_ to my self-compiled 'bin' folder.

3. Move the contents of the _...bin\Debug_ folder into the _bin_ folder

4. Run executable.

[2020-06-26 21:45] GitZinger commented on #1247
@wes-b
that is why i got this issue:
I tried to put 0 or 1 as the stride_bytes in there but got the error with "mjpg does not have a constant stride"?

[2020-06-26 21:51] wes-b commented on #1247
I expect you would get this error from k4a_image_create(), but not k4a_image_create_from_buffer(). Also you are on an old SDK version so please update and retest with k4a_image_create_from_buffer().

[2020-06-26 21:52] wes-b commented on #1206
Thank you for pointing this out. There was a failure in our automation. We will get the MSI and other updates out shortly.

[2020-06-27 03:48] lesterlo commented on #1171
I found the solution, I need to insert the "-HighDPI" program parameter manually to enable High DPI mode.

I think the program cannot auto-detect the screen resolution to enable High DPI mode automatically.

[code]

[2020-06-27 12:36] rfilkov commented on #514
If there is nothing else to add here, I'd like to close this very long and fruitless thread. A year later, it's also a bit too late to start implementing the most wanted (or any) feature requests.

[2020-06-27 12:36] #514 closed

[2020-06-27 12:44] #1053 closed

[2020-06-28 02:50] SquirrelVV opened #1259 "kinect recoder doesn't work"
**Describe the bug**

 When i write the command : k4arecorder.exe -l 5 output.mkv
The error:
[2020-06-28 10:31:17.709] [error] [t=1348] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\color\mfcamerareader.cpp (840): SetCameraControl(). K4A_COLOR_CONTROL_MODE_AUTO is not supported for 8 color control
[2020-06-28 10:31:17.711] [error] [t=1348] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\sdk\k4a.c (1019)

[2020-06-29 15:39] wes-b commented on #1259
The K4A_COLOR_MODE_AUTO error is a dup of https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1165.

For the issue about output.mkv ensure you have permission to create a file at location you want.

[2020-06-29 15:40] #1171 closed

[2020-06-29 16:42] gaborpapp opened #1260 "Device unavailable on Fedora Linux"
**Describe the bug**

Trying to access an Azure Kinect device on Fedora 31/32 on two different computers. `K4aviewer` reports that libusb devices are all unavailable. `K4aviewer` runs, but it is unable to connect to a device, `AzureKinectFirmwareTool -l` displays an error, but also lists the connected device.

**To Reproduce**

1. Install binary packages or build from git
2. Copy `99-k4a.rules` to

[2020-06-29 17:58] qm13 commented on #1260
@gaborpapp we officially only support Ubuntu Linux 18.04 and have not tested on Fedora Linux. There is not enough info in the logs you posted to identify the cause of the issue. If you could run logging with a more verbose setting and post the logs we may be able to identify the cause.

[2020-06-29 18:03] markhog commented on #1240
Thanks for working on this @wes-b! Is there an estimated date for a fix on this issue?

[2020-06-29 20:28] gaborpapp commented on #1260
@qm13 Thank you. The logs with info level:
[code]

[2020-06-29 20:46] wes-b commented on #1260
Well that didn't help.

What does 'lsusb' return?

[code]
This implies its not seeing ANY Azure Kinect USB end point, so you will have to figure out how to make the USB devices visible to LibUsb. You should see something like this: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1258#issuecomment-648930992.

Maybe validate your cables, power supply, etc, by using only the gear that cam

[2020-06-30 01:09] RobJellinghaus commented on #1053
@rfilkov why did you close this? Did it get implemented?

[2020-06-30 07:14] rfilkov commented on #1053
@RobJellinghaus There is nothing new implemented in the body tracking since v1.0. My patience has some limits.

[2020-06-30 08:33] gaborpapp commented on #1260
`lsusb` output seems similar, although I'm missing `045e:097c`

[code]

[2020-06-30 09:40] gaborpapp commented on #1260
It seems to be working now. It was a power cable issue. Thanks for your help @wes-b @qm13 !

[2020-06-30 09:40] #1260 closed, assigned to nobody

[2020-06-30 18:08] clpacheco90 commented on #1152
Sorry but AK Bodytracking only supports NVIDIA's GPU: https://docs.microsoft.com/en-us/azure/Kinect-dk/system-requirements#body-tracking-host-pc-hardware-requirements

[2020-06-30 19:59] neilDGD opened #1261 "External sync giving high latency between master and subordinate"
Hola,

I had external sync working between a single master -> subordinate pair, and I received valid timings with 0uS drift according to the subordinate offset I set (200uS). Suddenly this morning I try and get some captures and now I am getting totally random time offsets between master and subordinate sensors, they can vary between a number of seconds to 10s of milliseconds, and these offsets so

[2020-06-30 20:24] wes-b commented on #1261
Take a look at #530. You should be using the newest firmware you can.

[2020-06-30 20:39] neilDGD commented on #1261
Thanks for the reply, I was on 1.4.0 firmware (AzureKinectDK_Fw_1.6.108079014.bin) but just reflashed. Same, this time about 2 milliseconds drift but that time is pretty random in my experience. I also set manual exposure. Is there a more recent firmware update compatible with 1.4.0 sdk with fixes?

thanks.

[2020-06-30 20:51] wes-b commented on #1227
The sync pulse width will cause this. Using a signal generator, you are very likely outside the tolerance of how long the pulse should be active. We are not convinced yet that we want to fully document what the tolerance of this pulse needs to be to avoid this condition. But if you can record and emulate sync pulse generated by a master device for the color mode and resolution you will be using, t

[2020-06-30 20:52] #1227 closed

[2020-06-30 21:21] neilDGD commented on #1261
`static const color_exposure_mapping_t device_exposure_mapping[] = {
	//exp,   2^exp,   50Hz,   60Hz,
	{ -11,     488,    500,    500 },
	{ -10,     977,   1250,   1250 },
	{ -9,    1953,   2500,   2500 },
	{ -8,    3906,  10000,   8330 },
	{ -7,    7813,  20000,  16670 },
	{ -6,   15625,  30000,  33330 },
	{ -5,   31250,  40000,  41670 },
	{ -4,   62500,  50000,  50000 },
	{ -3,  125000,  60000,

[2020-06-30 21:28] neilDGD commented on #1261
Ok I have found the reason. When I set the exposure setting in the table below any higher than -9 I get bad sync times, from -11 to -9 the time is bang on perfect. Is this supposed to happen or is it a bug?

`static const color_exposure_mapping_t device_exposure_mapping[] = {
	//exp,   2^exp,   50Hz,   60Hz,
	{ -11,     488,    500,    500 },
	{ -10,     977,   1250,   1250 },
	{ -9,    1953,   25

[2020-07-01 03:03] ZJU-PLP commented on #1212
Hello boy! I also meet the problem. Could you mind sharing your solving method in terms of this problem ?

[2020-07-01 03:04] ZJU-PLP commented on #1212
Hello boy! I also meet the problem. Could you mind sharing your solving method in terms of this problem ?

[2020-07-01 03:22] wes-b commented on #1212
Sorry I just realized this is not in the samples repo. This is @UnaNancyOwen sample; can you help please?

[2020-07-01 05:15] UnaNancyOwen commented on #1212
The Azure Kinect Sensor SDK installer doesn't include the files to find library using CMake. Therefor, You can't find Azure Kinect Sensor SDK using CMake. If you want to find Azure Kinect Sensor SDK using CMake, You need to build and install Azure Kinect Sensor SDK from source code yourself with CMake. It is usually installed under <code>C:\Program Files\K4A</code> by build INSTALL project of Azur

[2020-07-01 05:23] ak-selfit commented on #1152
Thanks for your answer.
Do you plan in future to enhance the support to non-NVIDIA GPU?

[2020-07-01 15:58] ChristopherRemde commented on #978
Hey guys,

Thank you for your code samples!
For my program I also need to convert a BRGA Color Image from cv::Mat to k4a_image_t. Unfourtunately I'm a total beginner regarding C++ and can't get my function to work It throws an Access violation, so I'm probably doing something wrong regarding the creation of the k4a_image buffer. Can anybody help out a newbie?

[code]

[2020-07-01 18:55] diablodale opened #1262 "is_valid(), operator bool(), handle() missing on C++ classes"
I request boolean tests for validity for `k4a::calibration` and `k4a::transformation`.
Those tests are`operator bool()` and `bool is_valid()`
This will align those classes with the already existing validity tests on `device`, `capture`, and `image`; and remove the need for project-specific boilerplate code for users of this SDK.

I also request `handle()` added to `k4a::transformation`. It is miss

[2020-07-02 09:49] nicolas-schreiber opened #1263 "Requesting Binaries for 20.04"
Hi,

I am trying to install this SDK on Ubuntu 20.04, but there are not binaries installable through the Repository yet. Building works, but to run it I need the Depth Engine...

[2020-07-02 17:57] qm13 commented on #1263
Please up vote the UserVoice entry https://feedback.azure.com/admin/v3/ideas/40368301/

[2020-07-02 20:35] ykesmis opened #1264 "Cannot record Azure Kinect sensor streams to a file"
I cannot create a file for the sensor streams recording.

I enter the following command:
 C:\Program Files\Azure Kinect SDK v1.4.0\tools>k4arecorder.exe -l 5 %TEMP%\output.mkv

I expect to create an output file but I get the following errors:

[2020-07-02 22:14:14.740] [critical] [t=20412] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\usbcommand\usbcommand.c (366): find_libusb_device(). libusb devic

[2020-07-03 04:00] chrwel commented on #709
Hi guys. Been trying to get the camera started in UE4 by following instruction and comments above. But cant get it running. When I try to run in UE4 editor I get the following error:
AzureKinectDeviceLog: Error: Kinect device (id : 0) - Initialization Failed with error : Failed to create k4abt tracker!
AzureKinectLog: Error: Kinect device (id : 0) initialization Failed, so cleaning up.

Any though

[2020-07-03 04:07] UnaNancyOwen commented on #1206
@wes-b Thanks, Please also update download link in Microsoft Docs. :)
https://docs.microsoft.com/en-us/azure/kinect-dk/sensor-sdk-download#windows-download-link

[2020-07-03 12:16] qwe953751 opened #1265 "Kinect doesn't work after operating for a period of time"
The Kinect Viewer is work normally.
I embedded kinect on my other development system using Miscrosoft.Azure.Kinect.Sensor kit Ver1.2

My pc equipment:
CPU: I7
OS: Windows10, x64

I encountered a problem, and the following error occurred occasionally after I operated for a period of time. As attached:
![1](https://user-images.githubusercontent.com/17944469/86467543-239d9600-bd68-11ea-8d42-5cae05463

[2020-07-03 16:01] diablodale opened #1266 "wrong log level for replace_sample(). capturesync_drop -- misclassification, spamming, etc."
The k4a_log_level_t of the below code is incorrectly set to `error`. This state in the code is a quite common natural state (up to 30 times per second) in which the underlying subsystem is managing its queue and keeping frames fresh. Nothing wrong, erroneous, dangerous, or warnful about having fresh frames.

Therefore, `error` is not appropriate and leads to spamming the console/message handler an

[2020-07-03 16:57] diablodale opened #1267 "default logging to stout doesn't follow documented rules when debug message handler registered"
Registering a debug log handler before open() *does not* stop default logging to stdout. This is errant with respect to documentation at https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga77a5f83e56a04136df1398478353193d.html

### Setup

* Microsoft Windows [Version 10.0.19041.329]
* Azure SDK 1.4.0
* Visual Studio Community 16.6.3
* Current Firmware Versions
[code]

##

[2020-07-05 17:05] TobiasStaerk commented on #709
quick tip for other people struggling to get this to work: I use the **most recent SDKs** (Azure Kinect SKD 1.4.0 and Azure Kinect Body Tracking SKD 1.0.1) and got it working fine after I **replaced the .dlls and .onnx** in the <project>\Plugins\AzureKinectUnreal\Binaries\Win64 folder with the ones installed at <install directory>\Azure Kinect Body Tracking SDK\tools. Also added the environment va

[2020-07-05 22:54] echelon opened #1268 "Multi-camera point cloud shader example (feature request / help)"
I was able to port k4aviewer to Rust and have had a great time calling libk4a via the Rust foreign function interface, but I'm struggling to use multiple cameras to build a single cohesive point cloud in OpenGL. My background in OpenGL and GLSL is weak, so that's mostly to blame, but even after reading and making a week of attempts, I'm still spinning my wheels.

I'm able to sample from two synced

[2020-07-06 04:15] ibaiGorordo commented on #500
Sorry for commenting in a closed issue.

I have also develop a repository with **Python** programs for the **Azure Kinect DK SDK**. I have examples for _color image_, _depth_ , _IMU_ and more:
https://github.com/ibaiGorordo/pyKinectAzure

Example of smoothed depth image using **OpenCV** in **Python**:

![Azure kinect smoothed depth image](https://user-images.githubusercontent.com/43162939/86555162

[2020-07-06 06:03] devLupin opened #1269 "I want proof of safety inspection from Kinect DK."
I couldn't find any documentation on the Kinect DK safety inspection on the official website.

'github' knows that it should only post questions for development.
But, I can't find it anywhere, so I ask a question here.

I want a certificate stating that the sensor is harmless to human body from electromagnetic waves, etc.
It looks like they have been certified by looking at the marks imprinted on

[2020-07-06 10:15] win32-shintaka opened #1270 "Document about the supported body size of Body Tracking"
Is there any document about the maximum/minimum or recommended body size (especially height) when using Body Tracking with Azure Kinect DK? For instance, a small doll can be recognized as a "body"? How about a baby or a kid?

I think the distance between Azure Kinect DK and the target can be a matter, so I'm expecting there's information about the assumed distance vs. body size.

[2020-07-06 11:12] nxe0932 opened #1271 "The master camera acquires the image later than the slave camera, resulting in the acquisition of images completely out of sync"
The following picture shows the log, left is Master, and right is the Slave.
As we can see, the device time (131500) of Master captured the first frame shown in the red rectangle in left is extremely later than the device time (65266) of Slave captured the first frame shown in the NO.1 green rectangle  in right. It is so strange.
![image](https://user-images.githubusercontent.com/41459905/86587550

[2020-07-06 15:18] wes-b commented on #1271
Please read through this topic, https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync. A couple pointers:
* You need to start the subordinate camera first.
* You should also use manual exposure.
* It takes ~10 frames to stabilize timing, especially when using auto exposure.

[2020-07-06 15:29] wes-b commented on #1268
You will want to transform the images from one camera into the coordinate system of the other camera. Our [Green Screen](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/green_screen) example illustrates this.

[2020-07-06 15:49] wes-b commented on #1265
For some reason the depth camera is not working. It might be because of your USB controller.

[2020-07-06 16:21] nxe0932 commented on #1271
Thanks to your quick reply. l’m sorry that I didn't make the problem clear.
The above experimental results were based on the topic you mentioned (https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync), including starting the subordinate camera first, and using manual exposure, etc. Unfortunately, as the log shows, the device time (131500) of Master captured the first frame shown in th

[2020-07-06 17:20] qm13 commented on #1265
Please use the issue template next time.
Is your Azure Kinect on the latest firmware? How long does it run before failing? What USB controller is being used? What host platform? Can you provide repro steps? Can you share logs?

[2020-07-06 17:22] qm13 commented on #1264
This implies the device is already in use. Do you have the k4aviewer or sample app or your app running?

[2020-07-06 17:40] wes-b commented on #1266
Under normal operation this message will never fire. So this is an error message.

We talked about this, and I am leaning toward not fixing this. I do admit when it fires, it is spammy, however it does indicate a system issue.

The other issue, is that users tend to copy and past default logs into new github issues. If we lower the level of this message, then users by default will get less useful

[2020-07-06 17:49] wes-b commented on #1271
We don't expect the device timestamp to be stable until ~10 captures after start. Starting the camera, getting the exposure set, and syncing that across the multiple cameras takes time. So sync your device timestamps starting with your 11th capture from master.

With the latest [firmware (1.6.110079014)](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#msis) we expec

[2020-07-07 01:45] nxe0932 commented on #1271
Thanks to your quick reply，again. There are the first 20 frames of the Master and the Slave.
**Master**
started_camera_Sys_now[15940219506698095]##
Sys_while_befor[15940219506698843]##frame[1]
Sys_while_after[15940219511785401]-Color_Device_Time[131500]-Frame[1]-Duration_time[0]
Sys_while_befor[15940219512919661]##frame[2]
Sys_while_after[15940219512925772]-Color_Device_Time[164788]-Frame[2]-Durat

[2020-07-07 12:24] mxf8bv opened #1272 "Depth Distortion Issue"
There is a strong distortion of depth information for flat surfaces that are not parallel to the sensor plane **only if an additional surface is below the object**. See images below.

Minimal setting:
Condition 1: matte brown cardboard box, surface towards camera is approx 5cmx20cm, distance to camera approx. 1m, angle approx 45 degrees (picture 1 below: side view of point cloud with undistorted f

[2020-07-07 15:04] wes-b commented on #1271
You need to use the device timestamp. In this last post is looks like you are using the system timestamp.

[2020-07-07 23:21] neilDGD opened #1273 "IMU accelerometer readings seem incorrect / biased"
Hi,

I have been trying to get sensible data from the IMU (first stop positional /acceleration data) and I have observed what I believe to be strange data coming from both the k4a sensors i have tested here. I have observed this both in our own application and the viewer app with IMU sampling enabled.

- Firstly, both the X and Y axis seems to constantly have a ~-0.13m/s^2 offset even when the sen

[2020-07-08 14:42] diablodale commented on #1266
I woke yesterday and read your reply above. Then started on a reply with some data...but now...those messages are gone. I've tried a day to replicate those messages in the OP. Including intentionally writing bugs using the API. Now...they won't appear. That I can't reproduce them, suggests some failure state (independent of this issue) that existed during the day of the OP. On that day, they appea

[2020-07-08 14:45] neilDGD commented on #948
We would like pose and position estimation for SLAM too, for scanning live environments (one of many possible uses in live VFX production). Without extensive research into this problem (and maybe still with noisey or biased data) the IMU data provided from the SDK is not useful, for us at least. We are not primarily a R&D lab so manpower into solving such problems is non-productive. Any solution o

[2020-07-08 15:22] #1259 closed, assigned to qm13

[2020-07-08 19:09] ykesmis commented on #1264
Thanks a lot for your hint! The k4aviewer was indeed running. I tried it again and it did work this time.

[2020-07-08 19:09] #1264 closed, assigned to nobody

[2020-07-08 23:51] diablodale opened #1274 "image buffer alignment promise -- with idea"
It is unclear any guarantees of alignment for the raw image data from `k4a::image::get_buffer()`. Visual solutions using tools like Opencv, Eigen, and others using AVX+ intrinsics need guarantees of data alignment to both prevent app crashes and/or performance penalties.

Below I discuss and propose a somewhat cheap improvement

### Setup

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/

[2020-07-09 05:56] UnaNancyOwen opened #1275 "[feature request] Open device by serial number"
**Is your feature request related to a problem? Please describe.**

In the RealSense SDK, It is able to retrieve information about connected devices without open device.
And, It is able to open specific device by serial number included in that queried device information.
It is very useful when open a specific device from among connected multiple devices.
Please consider adding that feature to Azur

[2020-07-09 06:13] UnaNancyOwen opened #1276 "[feature request] Add record while preview image"
**Is your feature request related to a problem? Please describe.**

Currently, Azure Kinect Sensor SDK only have a simple tool to record using on command line.
It is not able to preview image while recording. It is very inconvenient.
Please consider to add tool that able to record while preview.

**Describe the solution you'd like**

In the RealSense Viewer, It is able to record while preview. And

[2020-07-09 10:58] knat opened #1277 "Nuget not work in WinUI3 C++ project"
After adding `Microsoft.Azure.Kinect.BodyTracking` nuget package to a [WinUI 3](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/get-started-winui3-for-desktop) desktop C++ project,
[code]
not work.

Define
[code]
in the vcxproj fix the problem, I don't know why.

PS: There's a user voice to add [UWP support](https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/37615828-u

[2020-07-09 16:35] Umarbi opened #1278 "Body tracking with OpenGL not working on Ubuntu"
I am trying to run Kinect DK with an Nvidia GPU Quadro P1000 on ubuntu 18.04. I am running into an issue with the body tracking API where the OpenGL context is not getting created for the body tracking API. I haven't found the right solution yet of what I need to do to resolve the issue. Below is Nvidia-sim output as well as the output when I run k4abt_simple_3d_viewer. Anyone has run into similar

[2020-07-09 18:10] diablodale opened #1279 "document the Kinect's MJPEG chroma subsampling (either 4:4:4, 4:2:2, or 4:2:0)"
I request the MJPEG [chroma subsampling](https://en.wikipedia.org/wiki/Chroma_subsampling) for `K4A_IMAGE_FORMAT_COLOR_MJPG` be documented for both clarity and for coding needs.

* Clarity adds another sentence to https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification to disclose the Kinect Azure's sampling.
* Coding allows devs to use specific accelerated decoding methods to proc

[2020-07-09 20:55] qm13 commented on #1273
@neilDGD if you were able to setup your AK device to be perfectly level in a vibration less environment you would see x=0, y=0, and z=-9.8. Do you think the bias you are reporting is a portion of the gravity vector?
You should be able to rapidly move the device in the x direction and get a positive value. Positive x assuming device is level and facing you occurs when rapidly moving the camera towa

[2020-07-09 20:58] qm13 commented on #1278
Looking at the error log your graphics driver is not compatible with OpenGL 4.4. Have you updated to the latest graphics driver?

[2020-07-09 21:05] qm13 commented on #1277
@knat thanks for providing the info and the suggestion to promote WinUI 3 as an alternative to UWP support. We are investigating the reason the two defines addressed the problem.

[2020-07-09 21:12] qm13 commented on #1272
@mxf8bv could you please also attach color images of the two setups taken with the AK color camera.

[2020-07-10 08:41] mxf8bv commented on #1272
Sure. I attach views of the box frontal to the camera, one time hanging over the table ("noSurface") and once on the table ("withSurface").
![RGB_withSurface](https://user-images.githubusercontent.com/14327148/87135009-c2ab1c00-c299-11ea-988b-af5e215ab3b3.png)
![Depth_noSurface](https://user-images.githubusercontent.com/14327148/87135013-c3dc4900-c299-11ea-9ede-84bd0e1bf6bd.png)
![Depth_withSurfac

[2020-07-10 13:31] Umarbi commented on #1278
The nvidia-driver-440 was showing up as the recommended version and that's
what I have. Should I be installing a different one?

$ ubuntu-drivers devices

== /sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0 ==

modalias : pci:v000010DEd00001CB1sv000010DEsd000011BCbc03sc00i00

vendor   : NVIDIA Corporation

model    : GP107GL [Quadro P1000]

*driver   : nvidia-driver-440 - distro non-free recommen

[2020-07-10 16:11] wes-b commented on #1266
You raise great points! We will work to only fire the error 1 time at the existing error level. Still considering if continuing to generate the trace at INFO level is useful, or if we should just remove additional messages,

[2020-07-10 16:30] Umarbi commented on #1278
Here is my Xorg.conf file which was generated using nvidia-xconfig.

$ cat /etc/X11/xorg.conf
# nvidia-xconfig: X configuration file generated by nvidia-xconfig
# nvidia-xconfig:  version 440.100

Section "ServerLayout"
    Identifier     "Default Layout"
    Screen         "Default Screen" 0 0
    InputDevice    "Keyboard0" "CoreKeyboard"
    InputDevice    "Mouse0" "CorePointer"
EndSection

Sect

[2020-07-10 18:58] knat opened #1280 "How to check capture contains depth image?"
[k4abt_tracker_enqueue_capture()](https://microsoft.github.io/Azure-Kinect-Body-Tracking/release/1.x.x/group__btfunctions_ga093becd9bb4a63f5f4d56f58097a7b1e.html#ga093becd9bb4a63f5f4d56f58097a7b1e) will fail if the `sensor_capture_handle` parameter doesn't contain depth image. So I want to check it:
[code]
My question is: Is it efficient? In my guess, `k4abt_tracker_enqueue_capture()`  will call `

[2020-07-10 19:07] #1268 closed, assigned to qm13

[2020-07-10 20:57] #1257 closed, assigned to qm13

[2020-07-10 21:00] #1243 closed, assigned to qm13

[2020-07-10 22:13] wes-b opened #1281 "k4a_image_get_gain_speed needs to be added as an API"
**Is your feature request related to a problem? Please describe.**
Gain can not be read on a frame by frame basis. So there is no way to know when dynamic gain changes are reflected in the streaming images.

**Describe the solution you'd like**
Add k4a_image_get_gain_speed and k4a_image_set_gain_speed

**Describe alternatives you've considered**
API to set and get gain on the sensor doesn't report

[2020-07-10 22:13] wes-b commented on #1281
gain and ISO speed a tied together. So as work around the user should see iso speed change as gain is applied.

[2020-07-10 22:16] wes-b commented on #1261
What is your firmware version on this?

[2020-07-10 22:19] wes-b commented on #1254
Thanks for the update!

[2020-07-10 22:19] #1254 closed, assigned to wes-b

[2020-07-10 22:19] #1226 closed

[2020-07-10 22:19] #1224 closed

[2020-07-10 22:21] wes-b commented on #1214
Closing out this old issue, if you are still having problems we can reopen it.

[2020-07-10 22:21] #1214 closed

[2020-07-10 22:22] #1206 closed

[2020-07-10 22:23] #1193 closed

[2020-07-10 22:27] wes-b commented on #940
This should be fixed with the newest firmware; AzureKinectDK_Fw_1.6.110079014.bin.

[2020-07-10 23:19] jaypee37 commented on #1212
@tahrir94  You can get the nuget package from [here](https://www.nuget.org/packages/microsoft.azure.kinect.sensor/)

Then you can try linking against the k4a libs from the nuget package. I have attached a example cmake file here. you may need to change the path to the k4a binaries based on your build type.

![kinectdk](https://user-images.githubusercontent.com/31929950/87208547-0a06cc00-c2dd-11ea-

[2020-07-10 23:26] neilDGD commented on #1261
Latest firmware with 1.4.0:

![image](https://user-images.githubusercontent.com/26259414/87210334-c4490400-c2da-11ea-8142-fb3372194a41.png)

[2020-07-11 00:06] #1255 closed, assigned to qm13

[2020-07-11 00:06] #1252 closed, assigned to qm13

[2020-07-11 00:07] #1251 closed, assigned to qm13

[2020-07-11 00:09] #1238 closed, assigned to qm13

[2020-07-11 00:10] #1235 closed, assigned to qm13

[2020-07-11 00:12] #1228 closed

[2020-07-11 00:13] #1219 closed

[2020-07-11 00:14] #1218 closed

[2020-07-11 00:17] #1201 closed

[2020-07-11 00:18] #1166 closed

[2020-07-11 00:18] #1164 closed

[2020-07-11 00:18] #1163 closed

[2020-07-11 00:20] #1151 closed

[2020-07-11 00:21] #1058 closed

[2020-07-11 00:24] qm13 commented on #1031
Body tracking is not suitable for this use case.

[2020-07-11 00:26] qm13 commented on #1023
The Sensor SDK does not include an API to merge multiple depth images or point clouds. The Green Screen sample shows how to use multiple Azure Kinect devices.

[2020-07-11 00:26] #1023 closed

[2020-07-11 00:30] #940 closed

[2020-07-11 00:32] qm13 commented on #937
The depth engine input is multiple ToF frames from the camera.

[2020-07-11 00:32] #937 closed

[2020-07-11 00:38] neilDGD commented on #1273
Quite possible that the building i'm in isn't quite level, given that i'm in Mexico City and we have earthquakes. Haven't got a level rule to check. Still having problems getting good accelerometer values even with removing an initial resting pose bias although removing the bias does visibly give a good resting state with maybe only a tiny bit of drift from the accelerometer. Gyro is another story

[2020-07-11 00:42] neilDGD commented on #1273
I am now getting very small values from the IMU accelerometer, which does not equate to any real world translation when I integrate those samples per frame. Whereas, the rad/s from the gyro when samples are integrated does translate to a real world rotation.

[2020-07-11 01:05] #471 closed

[2020-07-11 01:33] Chris45215 commented on #1130
Why is this being closed when the code examples provide an unnecessarily latent result, and don't ever mention that fact or the workaround? Whatever you use the tracker for, if it's used for live/real-time/interactive (whatever term you want to use) programs, then you want low latency. So the how-to guide and code examples should provide optimal code for the best result possible, which means they

[2020-07-11 01:49] Chris45215 commented on #1273
I propose a test to see if the sensor is somehow mis-calibrated or the IMU component is misaligned.

The front of the sensor is completely flat, so you can easily stand it up on the front. Try doing so, and the accelerometer should give you a steady value around +9.8. That, at minimum, gives you a good reference and check on the sensor to ensure that it can sense +X correctly. Standing it on its r

[2020-07-11 01:53] Chris45215 commented on #1241
It can be achieved, but not with Microsoft's software. You will need 3rd party program to do it. The program Brekel Body v3 can do it, as can the Unity asset Azure Kinect Examples (which includes source code).

[2020-07-11 02:29] dotMorten commented on #894
@qm13 Was this addressed?

[2020-07-13 02:21] www158 opened #1282 "Get intrinsic from Azure Kinect?"
Hello,
I've got a depth image , how to convert it to a point cloud. I can get the intrinsic of the color camera, but i don't know the intrinsic of the depth camera.  Can anyone who has had success with this share any tips, or share the intrinsic for Kinect? Any parameters I can adjust in my case to get it running?

[2020-07-13 02:39] www158 commented on #1282
There is another question, can you get a color image and a depth image with the same resolution?

[2020-07-13 04:33] vargasjona commented on #487
Hello @wes-b where Can I find last_firmware.bin for Linux??

[2020-07-13 12:35] jmicho opened #1283 "Sensor not detected upon first boot on Jetson Nano"
**Describe the bug**

The device fails to run on the first try on the Jetson Nano. `k4aviewer` fails to detect the device.
Kinect is connected to power using the attached DC adapter. Factory cables are used.
After resetting Kinect's power or rebooting Jetson, everything works correctly.

**To Reproduce**

1. Connect Kinect to the Jetson Nano (both have to be unplugged from power).
2. Connect Kinec

[2020-07-13 13:03] jmicho commented on #1278
If you're running over ssh, try setting the DISPLAY environment variable.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/810

[2020-07-13 13:14] tim-depthkit commented on #1058
@qm13 Noticed this issue is now closed. What is the outcome? Is there a fix for misaligned sensors?

[2020-07-13 15:34] wes-b commented on #487
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#msis

[2020-07-13 16:01] Umarbi commented on #1278
I am doing it over ssh and DISPLAY is set and x forwarding etc. is working. Thanks

[2020-07-13 16:07] wes-b commented on #1278
What Version of OpenGL is reported when you run ```glxinfo | grep "OpenGL"```. Our error message is saying you need version 4.4.

[2020-07-13 16:48] wes-b commented on #1261
This might be a regression in the firmware. We need to repro and investigate.

[2020-07-13 16:54] Umarbi commented on #1278
It doesn't even go that far.
$ glxinfo
name of display: localhost:10.0
libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
X Error of failed request:  GLXBadContext
  Major opcode of failed request:  149 (GLX)
  Minor opcode of failed request:  6 (X_GLXIsDirect)
  Serial number of failed request:  31
  Current serial number in output stream:  30

Do these

[2020-07-13 17:10] qm13 commented on #1109
Apologies. Just saw this. Not enough info to make actionable. Please follow bug template next time so the bug is seen in triage. Feel free to reopen with more info if it is still an issue.

[2020-07-13 17:10] #1109 closed

[2020-07-13 17:16] qm13 commented on #1282
The calibration blob includes all intrinsic and extrinsic calibration info for color camera, depth camera and IMU. The SDK also includes an API to generate a point cloud. Consider sharing sample code showing what you are attempting to so we can better understand your problem.

[2020-07-13 17:22] qm13 commented on #1280
This is the most efficient approach with the Body Tracking SDK. Alternatively you could use ```synchronized_images_only``` to guarantee every capture has a depth image.

[2020-07-13 18:03] markhog commented on #1240
Hoping there's a fix for this soon. Would love to be able to update to the latest firmware

[2020-07-13 18:10] neilDGD commented on #1273
Just tried that test and yes, getting ~+9.8 / ~-9.8 on X, on Y I am getting ~9.67 and ~-9.8 .. any reason why +Y would have that discrepancy and would it matter?

Our process for integrating accelerometer samples is simply every render frame (which is 60hz+) we read as many frames as we can from the IMU (coupled accel + gyro samples), and for each sample:

we integrate the distance travelled per s

[2020-07-13 21:15] keenanfitzharris commented on #536
Hello @nicolascarre !

I am in a similar situation as you currently. I am trying to access the microphone array data retrieved by the Kinect DK (in decibels of each microphone). I have looked into using ODAS or WASAPI. Do you mind helping me? It appears you were able to arrive at a solution.

[2020-07-13 21:53] Devilooper opened #1284 "DepthImageToPointCloud Linux SIGSEGV error"
**Describe the bug**
I receive *SIGSEV* error upon running DepthImageToPointCloud function.
It always happens on one of the first three iterations of the loop.
I tested the code with real Kinect Depth map, but the outcome is exactly the same.
On windows, the code works fine. The issue happens on Linux headless with working Xserver session.
On the other hand, the function `transform.DepthImageToCol

[2020-07-13 22:05] Umarbi commented on #1278
Thanks everyone. I just tried it on the attached monitor to the machine and it is working now. Not sure which change made it work. Must have been an ssh env related issue. btw below was the output from glxinfo. Over ssh it is the same error message.

$ glxinfo | grep "OpenGL"
OpenGL vendor string: NVIDIA Corporation
OpenGL renderer string: Quadro P1000/PCIe/SSE2
OpenGL core profile version string:

[2020-07-13 22:05] #1278 closed, assigned to qm13

[2020-07-13 22:45] knat commented on #1280
@qm13 thanks. I'd like to see `bool k4a_capture_has_color_image(k4a_capture_t  capture)` `bool k4a_capture_has_depth_image(k4a_capture_t  capture)` `bool k4a_capture_has_ir_image(k4a_capture_t  capture)` APIs to be added.

[2020-07-13 22:45] #1280 closed, assigned to qm13

[2020-07-14 00:00] wes-b commented on #1240
@markhog newer firmware does indeed reset its internal device timestamp clock to 200ms where as before it was 0. We don't currently have any plans to change the behavior. You should be able to adjust to this change by adding the 200ms offset in your code when attempting to sync an external trigger with the device.

This new behavior is in 1.6.110079014 and 1.6.108079014 https://github.com/microsof

[2020-07-14 00:00] #1240 closed, assigned to wes-b

[2020-07-14 00:00] qm13 commented on #894
@dotMorten my bad. I believe this is still an issue.

[2020-07-14 00:04] qm13 commented on #1130
@Chris45215 my bad. Missed you reply to @yijiew.

[2020-07-14 00:10] qm13 commented on #1277
@knat what version of VS are you using?

[2020-07-14 00:14] qm13 commented on #1272
@mxf8bv this looks like an example of severe multi-path. Try placing the box on a surface with low IR reflectivity.

[2020-07-14 03:06] knat commented on #1277
@qm13 VS 2019 Version 16.7.0 Preview 3.1

[2020-07-14 04:59] diablodale opened #1285 "request doc for range of possible IR levels from the IR camera"
I request the range of possible valid values for a uint16 pixel in an image that comes from the active IR camera. I have not seen clear information on that. Two issues write it is "dynamic" and the sample code for viewer.exe hardcodes values. However, all of those are to make the image pretty -- not to declare what is the possible range.

What is this range? And lets document that range in in the

[2020-07-14 13:11] win32-shintaka commented on #1270
@qm13 , any update on this?

[2020-07-14 17:29] jmicho commented on #1283
Update: this happens only when Jetson starts with the Kinect attached (and plugged into power). Everything works fine when the Kinect is connected after Jetson has been started. I'm attaching `dmesg` output.

[dmesg.log](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/files/4920294/dmesg.log)

[2020-07-14 19:40] qm13 commented on #1279
Correct. The MJPEG encode supports YCbCr 4:2:2.

[2020-07-14 20:00] qm13 commented on #1270
@win32-shintaka Thanks for resurfacing this issue. Dropped below my radar. Apologies for the delay.

There is no maximum or minimum body size. The algorithm is sensitive to human body proportions rather then size. The BT algorithm has been tested with people from 7 years to 80+ years old. Human body proportions are consistent from ~7 years up. Results for people under 7 years may be inconsistent.

[2020-07-14 21:12] wes-b commented on #549
Fixed with firmware version 1.6.108079014. https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md

[2020-07-14 21:12] #549 closed

[2020-07-14 21:27] #1256 closed, assigned to qm13

[2020-07-15 02:46] win32-shintaka commented on #1270
Thank you, @qm13 ! That's enough information for me :)

[2020-07-15 20:14] qm13 commented on #1270
Re-opening. Still need to update the Body Tracking SDK documentation.

[2020-07-16 00:25] #1258 closed, assigned to qm13

[2020-07-16 00:40] botamochi6277 opened #1286 "Can I Transform Orientation of The Depth Coordinate System to One of The Color Coordinate System?"
I would like to convert joint orientations in depth space into these in color space.
k4a::calibration has no methods for orientations (quaternions).

[2020-07-16 15:00] eshirima commented on #1205
@qm13 With the body tracking model being closed-sourced, is their any portion of it that is open-source that can be tweaked? For example keeping the predicted body in memory longer, or doing comparisons of predicted bodies, etc. If not, could you provide some guidance on how to go about solving this problem?

[2020-07-16 18:53] diablodale opened #1287 "sdk doc: k4a_transformation_depth_image_to_point_cloud() errant primary description"
Primary description for `k4a_transformation_depth_image_to_point_cloud()` in SDK docs is errant. Current erroneous text is:

Correct text would be something similar to:

### Repro

1. Visit https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga7385eb4beb9d8892e8a88cf4feb3be70.html#ga7385eb4beb9d8892e8a88cf4feb3be70

### Result

Primary description writes that it will creat

[2020-07-17 04:19] tmoody460 commented on #894
Any chance there's a workaround for this until this can get fixed?

[2020-07-17 05:03] rabbitdaxi commented on #1090
@carlos-martinez I haven't been keep up with GitHub for a while, and I re-read your issue. Actually, I think my previous comment was not really answering your questions even though it pointed to you the right documentation to look at.

I have a few comments from your original post and hope it helps:
- I cannot see your full code, but if you are based off the transformation example, please also pay

[2020-07-17 13:33] www158 commented on #1282
@qm13  Hello,Thank you for your reply.
About getting the intrinsic of the depth camera.I run:
[code]
I set `config.depth_mode = K4A_DEPTH_MODE_WFOV_UNBINNED`，But I can't get the intrinsic through the above code.(other intrinsic can be obtained).Following are the codes and errors,Thanks for your answers:

k4a_device_configuration_t config = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;
config.camera_fps = K4

[2020-07-17 13:37] www158 commented on #1282
@qm13 Hello,Thank you for your reply.
About getting the intrinsic of the depth camera.I run:

[code]
I set `config.depth_mode = K4A_DEPTH_MODE_WFOV_UNBINNED`，But I can't get the intrinsic through the above code.(other intrinsic can be obtained).Following are the codes and errors,Thanks for your answers:

[code]
![error](https://user-images.githubusercontent.com/67252756/87791884-a436b900-c875-11ea

[2020-07-17 14:11] mika-fischer commented on #789
@yipingp @bearpaw Did you find a good workaround for this issue. I also experience it:
<img width="315" alt="2020-07-17_15h19_01_crop" src="https://user-images.githubusercontent.com/426158/87795050-d0d3dc00-c847-11ea-910d-9b1ccc949241.png">

This is a disc hovering over a flat surface. All the interpolated depth values are causing me a lot of headaches in segmentation...

[2020-07-17 16:07] hagorms opened #1288 "Example project doesn't compile in a separate solution."
Dear developers,
I tried to put the playback_external_sync example to a separate windows solution.
After I linked k4a.lib and k4arecord.lib I still have many link errors.
I tried to link loger and other libraries so i reduced the number of link errors from 40 to 22.
You can see attached screenshot with all linker errors.
Did I build release 1.4.x branch incorrectly?
Do I need to specify some speci

[2020-07-20 02:00] arenas7307979 opened #1289 "what is kinect_azure shutter time from manufacturer"
**Describe the bug**

what is the  kinect_azure shutter time from the manufacturer?
I want to know the time difference of two consecutive rows in the image due to the rolling shutter

thank you for the trouble

[2020-07-20 10:26] initialneil commented on #530
Hi, I just want to give an update on my previous problem. I've only recently realized that ALL subordinate devices must be started before the master. After I fix this, my sync problem seems to be gone, the device timestamp works now.
My bad. But I suggest in the white paper of sync, make sure people notice this. Thanks.

[2020-07-20 16:01] carlos-martinez commented on #1090
Hi again,

Thanks for following up on this. Sorry for not cleaning the code I added for testing; the "nearestRow, nearestCol" needed more context.

Things have progressed since then.  I remembered trying using the k4a_transformation_depth_image_to_color_camera, but I could not make sense of the data I got. I should re-visit it again now that I have a better understanding.

As you pointed out, the

[2020-07-21 17:44] HungrySkeleton opened #1290 "Outdoor Kinect Usage"
Hello

I was planning on using the kinect for outdoor usage are there any microsoft products or enclosures I can use to cool down the sensor I have looked at the specs of the kinect itself and it appears the operating range is around 10-25 degrees celsius.

[2020-07-21 23:53] jmicho commented on #1283
Another update, dmesg with messages from libusb concerning only K4A. Please confirm if this is an issue with the firmware, with the particular Kinect or the problem lays somewhere in the host.
[code]

[2020-07-22 19:07] foohyfooh opened #1291 "Create k4a::calibration constructor to create a new instance from k4a_calibration_t"
**Is your feature request related to a problem? Please describe.**

The other C++ wrappers have a constructor to take their C equivalent while k4a::calibration doesn't. It makes code that has a mix of the C and C++ APIs harder to work with.

**Describe the solution you'd like**

Create a constructor that takes the C type k4a_calibration_t and creates the k4a::calibration C++ type

[2020-07-22 22:37] jregele opened #1292 "C# SDK cannot open 2 devices in the same thread"
I'm trying to get 2 cameras to work in sync using the C# SDK. I was able to get the green screen solution working just fine and there was no separate threads for each camera. Also I can get both cameras working in C#, but they have to be opened and started in separate threads, which will cause headaches reading from both cameras in the same domain.

Basically, when I do this

[code]

I get the fol

[2020-07-23 00:32] jpj625 commented on #871
@wes-b Any update on ARM support for body tracking SDK? I can't find any open issues, and #822 which might be related/blocking is 9 months stale.

My journey of discovery, for anyone else looking:
- The [Support for ARM proposal](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/proposals/ARM-support.md) appears to include both Sensor and BT, but it's been 4 months since the 1.4.0

[2020-07-23 00:58] UnaNancyOwen opened #1293 "[feature request] Add option to JPEG decode with GPU acceleration"
This is a suggestion.

**Is your feature request related to a problem? Please describe.**

Currentry, The Azure Kinect Sensor SDK uses TurboJPEG to decode JPEG (Motion-JPEG) retrieved from color camera.
TurboJPEG is highly optimized and provide high performance on CPU. I like TurboJPEG. :) However, it consumes a lot of CPU resources in return.
Also,  I feel a bit underpowered to CPU (that spread t

[2020-07-23 08:48] scimad commented on #692
I have been trying to do something very similar to the above task. I used OpenCV's mouse callback to pick two points and tried to get their distance. In the process, I didn't get as good measurement of distance between two points as said here and I was getting `valid=0` at points where I would expect a valid transformation. Upon overlaying the depth image with color image and visualizing the point

[2020-07-23 16:19] 37 opened #1294 "[Firmware / Hardware] Some Kinect devices don't initialise via USB-C -> C"
Hi, I think I've got a fun one for you. Sorry about the ticket length.

I have identified an issue whereby some Azure Kinect devices will not attempt initialise when plugged in via USB-C to a machine that I have proven to work with other Azure Kinect devices. So far, I have found this issue presents in about 12 of 122 Kinect devices tested.

The machines I'm using are Lattepanda Delta 432 units ru

[2020-07-26 18:01] diablodale commented on #1293
The challenge is the Huffman decoding. Before anything can be done in parallel or on the GPU, the MJPEG must first be Huffmann decoded. This process is serial and single-threaded...the math can't be changed.

As an example, the Nvidia APIs do this first step on the CPU and later steps on the GPU. Unfortunately, since the Huffmann decoding is a serial math process, it will always be computationally

[2020-07-27 02:48] Apollo19971206 opened #1295 "how to update opengl version on ubuntu"
When I run k4aviewer on Ubuntu18.04, the error occurd due to my OpenGL version is too low just like  #918

I install nvidia driver by download run file from NVIDIA website which requires not to install opengl files.
 `sudo sh ./xxx.run --no-opengl-files`

So how can I update my opengl version?

[2020-07-27 02:55] Apollo19971206 commented on #918
Hello.
I install nvidia driver by download run file from NVIDIA website which requires not to install opengl files.
`sudo sh ./xxx.run --no-opengl-files`
How can I upgrade my opengl version by this way?
Because when I install nvidia driver by your way, the installation process is always interrupted.

[2020-07-27 13:08] haeginh opened #1296 "undefined reference to `k4a_playback.... error when compile body-traking-samples using CMake"
**Describe the bug**
Even after installing all the prerequisites described in readme and the Azure Kinect website, error occured when I complied Azure-Kinect-Samples by exactly follwing the instruction.
The error message is as below
[code]

**To Reproduce**
Simply try to build Azure-Kinect-Samples in Ubuntu 18.04 just as decribed in readme

**Expected behavior**
The error occurs when it tries to l

[2020-07-27 17:18] qm13 commented on #1295
Our experience is that OpenGL is installed with the NVIDIA driver. Recommend you upgrade the driver and let it install OpenGL.

[2020-07-27 17:25] qm13 commented on #1292
Access denied implies that the camera is seen but cannot be opened. Please verify that you do not have an open instance of the camera elsewhere.

[2020-07-27 17:30] qm13 commented on #1290
We are not aware of any commercially available enclosures. Azure Kinect DK is not designed to work outdoors. You may experience IR interference from the sun.

[2020-07-27 17:30] #1290 closed, assigned to qm13

[2020-07-27 17:32] qm13 commented on #1289
Are you referring to the color camera (since you are asking about rolling shutter times)?

[2020-07-27 17:37] qm13 commented on #1288
Have you setup the project correctly? What kind of project did you use? There are a bunch on none K4A issues.

[2020-07-27 17:51] qm13 commented on #871
Sensor SDK has ARM support. We are in the process of adding ARM support to Body Tracking SDK.

[2020-07-27 19:08] qm13 commented on #1285
There is no simple explanation to this as pixel saturation can vary by camera mode and environmental conditions. You should see valid values from 0 up to some number around 13500. The 65535 value indicates that the pixel was saturated.

[2020-07-27 19:24] HungrySkeleton opened #1297 "Kinect Operating Outside of Temperature Range"
Hello Kinect Team,

I wanted a follow up with what happens when a kinect is operating outside of its temperature range. I am planning to use the kinect in an indoor environment where it is relatively hot I was wondering what kind of effects does temperature have on our RGB,IR,Depth and other readings is there a risk of damage if it operates slightly hot outside of it's prescribed range. Or will it

[2020-07-28 00:05] Apollo19971206 commented on #1295
OK. Thanks for your quickly reply.

[2020-07-28 07:53] sandris-b commented on #1292
I'm opening 3 devices in same thread and its working fine
` for (int x = 0; x < CameraCount; x++)
            {
                try
                {
                    device = Device.Open(x);`

Maybe your problem is in camera configuration?
here is mine, which is working fine
` public static class KinectConfiguration
    {
        // Two depth images should be seperated by MIN_TIME_BETWEEN_DEPT

[2020-07-28 14:41] Fulkeg commented on #1169
Is it possible that the same virtual / ai modeling that the Azure uses for presentations could be achieved by the xbox one kinext?

[2020-07-28 15:21] RichardNockles commented on #709
This is a very embarrassing question but... For the life of me I can't find the 'environment variable' 'Path' folder is this a windows or Unreal folder? here's the note I was following:
Add the `<Azure Kinect Body Tracking SDK installation>/tools` folder to the `Path` variable in `Environment Variables` for User or System.
apologies for the Noob. cheers all.

[2020-07-28 15:42] Cris21395 commented on #709
To set an environment variable type `environment` in the search windows box and select `edit the system environment variables`. Then, select `Environment Variables` button. After that, search for `Path` and add the folder `Azure Kinect Body Tracking SDK installation>/tools`.

I hope it helps. Happy coding!

[2020-07-28 16:02] RichardNockles commented on #709
Thaaaaaaaankyou!!!!!!!!!

[2020-07-29 01:21] mrcfschr commented on #1253
I love the idea too. I linked it here: https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/41021185-please-get-body-tracking-to-work-on-hololens2

[2020-07-29 02:14] mrcfschr commented on #871
Will there be support of the body tracking sdk for HoloLens 2 ?

[2020-07-29 06:57] vpenades commented on #1253
Certainly, having processing power on the sensor would solve a lot of problems... but given that the Kinect Azure is still in the begining of its market lifetime (will see how long that lifetime will be)... I don't think we will see a new sensor in less than 5 years... and if the kinect azure proves to be a failure... I don't think we will ever see another one from microsoft.

So we need solutions

[2020-07-29 08:58] murez commented on #454
I tested on Ubuntu 20.04 with the bionic deb packages, and it works well by the command `sudo k4aviewer`.

[2020-07-29 12:03] Cris21395 commented on #1154
Hey @blackccpie, I don't know if I am clear. Have you achieved running body tracking sdk on windows system without graphic card? Thx.

[2020-07-29 13:31] Vangos opened #1298 "C++ vs C# Camera Extrinsics"
**Describe the bug**

In C++, I can transform from a source to a target coordinate system by using the 2D `extrinsics` array:

[code]

In C#, the `Extrinsics` array is 1D, thus it's unclear how to transform from one system to another.

**To Reproduce**

1. Create an Azure Kinect C# project or use an existing one.
1. Find your `Device` object.
1. Call `device.GetCalibration().DeviceExtrinsics`.
1.

[2020-07-29 14:26] blackccpie commented on #1154
@Cris21395 : yes, I do succeeded in running the body tracking sdk on a machine without NVIDIA gpu,provided I have the 3 aforementioned dlls in my path. The cpu runtime is very slow, but it works. Hope it helps.

[2020-07-29 21:22] diablodale opened #1299 "change MJPG color camera output of 4:2:2 subsampling -- instead output 4:2:0"
Use of 4:2:2 subsampling in the MJPG color stream limits use of hardware acceleration like those from NVidia. Sometimes (M)JPG decompressors only support hardware acceleration in 4:4:4 and 4:2:0. They fallback to slower software for 4:2:2.

Given our eyes don't see the difference, given that AI often only uses the Luma, and given the loved NV12 datastream is already 4:2:0, I recommend the firmware

[2020-07-30 00:16] UnaNancyOwen commented on #1299
This is an important idea to use hardware-accelerated decoding (related #1293).
I think this is a suggestion worth considering and most important.
Please consider in Azure Kinect team. Best Regards,

[2020-07-30 04:07] Chris45215 commented on #1253
Everyone, I just posted the suggestion to the feedback page on https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/41032135-release-a-v2-with-integrated-body-tracking, and tagging @rfilkov and upvoted @marcfischer123467 's suggestion as well. I would love to see VR integration - though it requires better latency for any movements faster than basic hip and torso tracking.

I hope M

[2020-07-30 13:52] darglein opened #1300 "Too many IMU samples are captured"
Hello,
I'm currently trying to make use of the IMU data when I realized that there are too many IMU samples captured. I have set the camera to 30FPS 720p and read all IMU samples until the timestamp of the image is reached. In average it records around 56 samples for every frame, which corresponds to and IMU frequency of 56*30 = 1680Hz. This seems a bit much as the spec states an IMU frequency of