[2020-07-30 16:35] wes-b opened #1301 "Allow depth camera streaming to start when color camera is already inuse"
**Describe the bug**
Depth camera streaming should be able to start regardless of color camera running state.

**To Reproduce**
* Open Windows Camera App and stream from K4A
* Open K4aViewer
* Disable color camera and stream only depth camera
* Start streaming depth

**Expected behavior**
Streaming should begin without error

**Logs**
[ error    ] : usb_cmd_write(). Write command(80000001) ended i

[2020-07-30 17:16] RobbyGraham opened #1302 "Azure Kinect Persistent Crash - Help appreciated"
I've just migrated to windows specifically for this tech so excuse my ignorance, am not a coder but have been at this 2 days and have reached a real impasse.

Running Azure Kinect on Windows 10 on Razer Blade Stealth 13 (Specs below) and getting a repeated problem that causes the Kinect to fail ( with standard windows message following - the last USB device you connected to windows has malfunction

[2020-07-30 19:38] madelinegannon commented on #744
@tesych is there a reference or diagram for how to composite live data streaming from multiple host pcs? The [docs](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#host-computers) suggest it's doable, but I've only seen references to single PC with multiple USB Controllers in practice (like #971).

[2020-07-30 19:47] HungrySkeleton opened #1303 "Misreading Temperature Data"
Hello SDK Staff,

I was wondering why the k4a_get_temperature_c reports a different floating point value compared against the kinect viewer's internal temperature sensor reading. Is there something I am doing wrong. I am passing in the capture handle to the k4a_get_temperature_c and it retrieve me a value at 27.5 is that the same reading as the internal sensor temperature shown in the kinectviewer

[2020-07-30 22:06] 37 commented on #1294
Hey @qm13 if you want me to post you some of the hardware that I've found issues with let me know. Happy to do so if it'll help in debugging :surfer:

[2020-07-30 22:59] qm13 commented on #1303
@HungrySkeleton the temperature is measured every time an image capture is taken. Steady state should be somewhere between 25 and 29 degC. It can take some time to reach steady state. It is not clear to me the time difference between the k2aviewer measure and your code.

[2020-07-30 23:05] qm13 commented on #1302
@RobbyGraham looking at the logs we suspect one of two issues:
1. Your USB controller is not one of the recommended controllers. See "USB3 host controller combability" on this page https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting
2. Your USB cable is faulty.
The depth engine uses minimal GPU. Unless you have a very poor GPU or are running other GPU intensive tasks you should very s

[2020-07-30 23:07] qm13 commented on #1300
@darglein your data is correct. The actual IMU read rate is 1666 kHz. The samples are batched and passed to the host compute at 200 Hz.

[2020-07-30 23:12] qm13 commented on #1297
@HungrySkeleton Azure Kinect is a developer kit. Microsoft has not run extended reliability tests on the device outside the published range. You are ok so long as you keep the device within the published temperature range. Some developers have performed controlled tests to correlate the loaded (dictated by your use case (eg. NFOV unbinned at 30 fps + RGB 1080p at 30 fps + IMU) steady state interna

[2020-07-31 07:50] #1300 closed, assigned to qm13

[2020-08-01 16:07] RobbyGraham commented on #1302
Thank you so much.

The cable was as included with the Azure Kinect, I can buy another and test tomorrow. In the meantime, these are the drivers for the USB hub on my computer - They are intel which should be fine with the Azure Kinect? Have updated all drivers etc for the USB hub.

![2020-08-01](https://user-images.githubusercontent.com/63259249/89105447-221fc600-d419-11ea-8284-6d533c2ba63e.png)

[2020-08-01 21:08] RobbyGraham commented on #1302
Hi QM13,

I have replaced the cable and updated all required drivers for USB, uninstalled and re-installed all drivers, and neither has worked.

Can you re-instate the triage needed element and if anyone else has any ideas as always so appreciated!

[2020-08-02 08:41] chitsaw opened #1304 "Cuda error when creating tracker using C# wrapper on Linux"
**Describe the bug**

We are using the C# wrapper from the Microsoft.Azure.Kinect.BodyTracking NuGet to write a simple body tracking test application. The application is .NET Core and runs fine on Windows, but on Linux (with the same hardware), we get the following CUDA exception when calling `Tracker.Create(...)`:

[code]

We get this error when attempting to create the tracker in both GPU as wel

[2020-08-03 11:15] jmicho commented on #1283
@qm13 @hardyzhuang any news on this?

[2020-08-03 16:47] Chris45215 commented on #1292
I'm able to open 5 cameras in the same thread. But I do not recommend it. The way the cameras are set up - and because of issues in the body tracking SDK (if you are using body tracking) - it will add extra latency (especially if you use the same DNN instance shared among all the cameras). Microsoft's tutorials do not include instructions for multi-camera code, as far as I know.

[2020-08-03 19:56] thane opened #1305 "Depth Errors on Semi-Translucent Objects"
**Description**
I'm trying to find the height of stacks of lab wellplates.  These plates are made of clear poly-polypropylene plastic and are covered with a semi-translucent silicone mat:
![2D](https://user-images.githubusercontent.com/1294039/89221661-42768e80-d599-11ea-82c2-3df81498f4f5.png)
However, the stacks of plates look sunken into the ground in the depth image:
![Bad](https://user-images.

[2020-08-03 20:50] asergaz commented on #1283
Related issue: https://docs.microsoft.com/en-us/answers/questions/55354/index.html

[2020-08-04 14:56] juspus opened #1306 "Transform 2d to 3d C#"
Hi, I am working on detecting a rectangle using the depth camera. At this point, I am struggling to produce accurate 3d coordinates of a selected pixel using the NFOV depth camera. I have tested this by selecting 2 points on a testing board, transforming them using Depth 2d to Color 3d, calculating the distance between received coordinates, and measuring distance between selected real-world points

[2020-08-05 02:22] 0707yiliu opened #1307 "OpenGL Shading Language Version Error"
**Describe the bug**

I can start-up Azure Kinect Viewer. But when I run simple_3D_bady_tracker, it prints a error:
Shader Error: 0:1(10): error: GLSL 4.30 is not supported. Supported versions are: 1.10, 1.20, 1.30, 1.00 ES, 3.00 ES, 3.10 ES, and 3.20 ES

I get my OpenGL SL version as follow, is it meaning that  my GLSL version is higher than its request??
**Screenshots**

![Screenshot from 2020-0

[2020-08-05 09:45] ChristopherRemde commented on #1058
I'm also very interested to hear what the outcome is. Will this bug be fixed in future release?

[2020-08-05 10:33] drewm1980 opened #1308 "Please expose more depth reconstruction settings"
**Is your feature request related to a problem? Please describe.**

3D object features well below the resolution of the sensor get filtered away.

**Describe the solution you'd like**

Please provide more API (and viewer) control over how heavy the filtering is. The SDK currently only seems to provide one setting related to 3d reconstruction (the Depth Mode). By comparison, Intel's Realsense L515

[2020-08-05 11:05] Brekel commented on #1308
Fully agree!

The current default settings for generating the depth data are generally excellent (and better than competing sensors) but for advanced users it could definitely help being able to tune things for specific scenarios.

For example scenarios where subjects are close vs far away from the sensor may benefit from different settings.
Some scenarios may benefit from disabling filtering/post

[2020-08-05 12:09] drewm1980 commented on #1295
We're off topic, but I also had to update my nvidia driver to get a new enough openGL version. I recommend dong it through apt, not with nvidia's runfiles:

* first add nvidia repository
sudo add-apt-repository ppa:graphics-drivers/ppa
sudo apt update
* list possible drivers
sudo ubuntu-drivers devices
* do a upgrade
sudo apt upgrade
* install recommended driver
sudo ubuntu-drivers autoinstall
* r

[2020-08-05 17:07] HungrySkeleton opened #1309 "Kinect Auto Exposure and Setting a Region Of Interest"
For Intel cameras, "When Autoexposure is turned on, it will average the intensity of all the pixels inside of a predefined Region-Of-Interest (ROI) and will try to maintain this value at a predefined Setpoint" from https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance. Based on this, Intel Realsense lineup has the feature to manually set the ROI and the Setpoint. These cont

[2020-08-07 00:11] GrahamDClark opened #1310 "1 Kinect Azure works other does not, get: "failed to start device""
Both Kinect Azures worked until recently.
1 works fine.
In Azure Kinect Viewer, the other in Azure Kinect Viewer sometimes doesn't show up in list of devices at all, or says "Failed to start device, you must close and reopen the device".
After doing that and Refreshing Devices, nothing shows up (except the other camera if plugged in).

On Windows PC.
Azure Kinect Viewer firmware is up to date.

Tr

[2020-08-07 00:22] qm13 commented on #1261
@neilDGD the unit test for sync passes. The unit test uses a fixed exposure of 8330us and power line setting of 60. The test randomly picks frame rates and delays to validate the timing works. You can find the code for the unit test here https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/61951daac782234f4f28322c0904ba1c4702d0ba/tests/multidevice/multidevice.cpp#L521

The unit test prints re

[2020-08-07 00:24] qm13 commented on #1307
Make sure you have the latest NVIDIA driver installed for you graphics card. It should also install the supported version of OpenGL.

[2020-08-07 00:35] qm13 commented on #1306
The 3D color mode of the k4aviewer shows how to map RGB on to depth. Please verify you are doing this correctly.

[2020-08-07 00:50] #1297 closed, assigned to qm13

[2020-08-07 00:51] #1295 closed, assigned to qm13

[2020-08-07 00:51] #1292 closed, assigned to qm13

[2020-08-07 00:52] #1289 closed, assigned to qm13

[2020-08-07 00:52] #1288 closed, assigned to qm13

[2020-08-07 00:53] #1286 closed, assigned to qm13

[2020-08-07 00:54] #1282 closed, assigned to qm13

[2020-08-07 00:56] #1273 closed, assigned to qm13

[2020-08-07 00:57] #1272 closed, assigned to qm13

[2020-08-07 00:57] #1271 closed, assigned to wes-b

[2020-08-07 00:58] #1265 closed, assigned to qm13

[2020-08-07 04:27] Vaasu143 opened #1311 "Body tracking in target region"
Hello experts,

First of all, this is not a bug. I am trying to find body tracking in the defined region of whole area. Unfortunately don't know where can I find the co-ordinates to define the target region in the whole sensor region. Is there any setting to be done in K4a library to define this.

[2020-08-07 05:31] juspus commented on #1306
Which class would I need to look into more precisely?

[2020-08-07 13:21] emepetres commented on #810
Hi!,

I have a tool that extracts color & depth images from a kinect recording that works fine in windows. I just stumbled with this issue, trying to port it to a docker container (Ubuntu18LTS) to run in a kubernetes cluster.

I tried just setting the DISPLAY=:0 or DISPLAY=:1 but no luck.

Is there a way to run k4a into a headless environment / headless docker container? If so, what would be the w

[2020-08-07 16:07] SeanStephensenAIRM commented on #1303
Can this be reopened? It doesn't seem to be solved. Using the same API call, I get similar results. @qm13, can you clarify what you mean by steady state? Using the k4a viewer, my camera temp reports around 21C when first opened. After streaming for an hour, it has reached steady state around 27.5C as you predicted. Using the API calls to continuously capture for about an hour, the camera's reporte

[2020-08-07 17:12] SeanStephensenAIRM commented on #1303
To elaborate, both my K4A Viewer and my NuGet package are SDK v1.4.0. Below is the minimum reproducible code for which the API "misreads" the internal temperature, based on the sample "first project" code directly from Microsoft, simplified for tidiness. The only addition to the sample code is the temperature call. A while loop is used for steady state monitoring. With this minimum reproducible ex

[2020-08-08 00:12] qm13 commented on #1303
@SeanStephensenAIRM the Azure Kinect has two temperature sensors - one for the IMU and one for the depth sensor. The IMU should be ~27 degC and the depth sensor should be ~38 degC.

<img width="290" alt="AK temperatures" src="https://user-images.githubusercontent.com/47307385/89697402-d5346780-d8d0-11ea-9f12-fc70e10aadb5.PNG">

The image is for my Azure Kinect running for ~4 hours in a 25 degC roo

[2020-08-08 00:19] qm13 commented on #1305
@thane what you are seeing is a combination of multipath and subsurface scattering. This is a limitation of current ToF depth technology.

[2020-08-08 09:38] Double-zh opened #1312 "help!I want to know how to install sdk1.4.0!"
x@x:~$ sudo apt install k4a-tools
正在读取软件包列表... 完成
正在分析软件包的依赖关系树
正在读取状态信息... 完成
有一些软件包无法被安装。如果您用的是 unstable 发行版，这也许是
因为系统无法达到您要求的状态造成的。该版本中可能会有一些您需要的软件
包尚未被创建或是它们已被从新到(Incoming)目录移出。
下列信息可能会对解决问题有所帮助：

下列软件包有未满足的依赖关系：
k4a-tools : 依赖: libk4a1.4 (= 1.4.1) 但是它将不会被安装
依赖: libc6 (>= 2.27) 但是 2.23-0ubuntu11.2 正要被安装
E: 无法修正错误，因为您要求某些软件包保持现状，就是它们破坏了软件包间的依赖关系。

linux:ubuntu16.04

[2020-08-08 11:43] RoseFlunder commented on #1312
Looks like you are using Ubuntu 16.04?
Windows 10 and Ubuntu 18.04. are the only officially supported systems.

[2020-08-09 16:30] SeanStephensenAIRM commented on #1303
Thanks for the attention, @qm13. Are you able to comment on any functional differences between the two sensors? Am I correct to assume that the IR emitter would be a cause of the higher temp for the depth sensor vs the IMU? I'll do some of my own testing, but can you think of any reason why one temperature sensor would be preferred for a failsafe feature based on internal temperature monitoring? I

[2020-08-10 08:01] monkey-king1 opened #1313 "Depth error is in the vertical direction of the horizontal plane"
I'm trying to find out the depth accuracy error.I make sure that the color camera faces the desktop.I find that  the depth data is off by 1.5cm in the vertical direction.I wonder how I can make sure the depth data is right.Or maybe the camera has something wrong? The camera is 79.1cm away from the desktop,and the minest depth data is 78.7cm and the maxest depth data is 80.2cm

![test0](https://use

[2020-08-10 09:00] RoseFlunder commented on #1313
I dont know if I understand your problem correctly, but did you consider that the color camera and depth camera don't have the same angle?
The depth camera is tilted by 6 degrees so the coordinate systems are not the same.

https://docs.microsoft.com/en-Us/azure/kinect-dk/coordinate-systems#depth-and-color-camera

[2020-08-10 10:07] juspus commented on #1306
I believe you have misinterpreted my original question. I have no problem mapping RGB to Depth and vice versa. The problem I am having is when I try to convert 2D pixel value of Depth camera to 3D Coordinate System of Color camera. I am using this kind of conversion because of coordinate system orientations provided in hardware documentation. Frankly, I am not even using color camera image. Only D

[2020-08-10 12:43] mfoco commented on #370
Any update on this? It would really be convenient to get these files, instead of having to copy them around from somewhere.

[2020-08-10 14:02] monkey-king1 commented on #1313
so how can i convert depth data from a depth camera to depth data from a color camera.I'd like to get the depth data from the color camera

[2020-08-10 14:06] RoseFlunder commented on #1313
You can take a look at the transformation functions:
https://docs.microsoft.com/en-us/azure/kinect-dk/use-image-transformation

[2020-08-10 15:42] wes-b commented on #810
For Docker: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1258#issuecomment-648943546

[2020-08-10 15:55] wes-b commented on #1302
Do you have another PC you can test the Kinect on? From info you shared above it sounds like your USB Host controller should work. However the errors in your post indicate the controller is not able to keep up. If you have another PC you can try on, then you can determine if the issue is PC related or Kinect related.

This means your graphic card is not meeting the needed performance.

This means

[2020-08-10 17:28] qm13 commented on #1313
The expected error is documented here https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#depth-camera-supported-operating-modes. Per @RoseFlunder you are probably generating multi-path due to the 6 deg angle and setup. The expected error at 79cm should be <12 mm.

[2020-08-10 17:50] qm13 commented on #1311
You can find info on body tracking coordinates here https://docs.microsoft.com/en-us/azure/Kinect-dk/body-joints
You can find info on the camera coordinate system here https://docs.microsoft.com/en-us/azure/Kinect-dk/coordinate-systems

[2020-08-10 20:47] qm13 commented on #1156
@sanmaebal4 looking at the images we believe that the edge does not have enough SNR to produce reliable depth and have been eliminated by the depth processor.

[2020-08-10 21:02] RobbyGraham commented on #1302
Thanks so much for chipping in Wes... I dont have another PC I bought this gaming laptop specifically for the Aure Kinect, as was well within specs... Really frustrating as I had it consistently on for a good hour earlier with Notch, only to come back to it tonight and it is failing.

Im now getting these errors

[ warning  ] : is_fw_version_compatable(). Firmware version for RGB is 1.6.102. Consi

[2020-08-10 23:37] qm13 commented on #1310
@GrahamDClark you can find Azure Kinect support info here https://docs.microsoft.com/en-us/azure/kinect-dk/support

You need to complete this form https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813

[2020-08-10 23:42] wes-b commented on #1302
In this thread, gaming PC's would work until a 3rd party package was downloaded and installed in the background. Your errors seem more like a USB controller / cable / device  issue rather than that, but sharing incase it helps.

Make sure you try all USB 3.X ports as they are not always equal.

[2020-08-11 06:42] #1313 closed, assigned to qm13

[2020-08-11 23:43] kramakr4 opened #1314 "IR Laser glare/reflection"
Hi,

I am trying to place the Kinect in a box made of quartz. Fused silica (quartz) is known to be transparent to IR radiation in the range at which Kinect's IR Laser operates. However, when I use the NFOV or WFOV modes I see a reflection of the IR radiation on the quartz surface. However, this does not happen in Passive IR mode. So, I assume this is the laser light being reflected. Any way to get

[2020-08-12 00:59] qm13 opened #1315 "opencv-kinfu-samples must enable OPENCV_ENABLE_NONFREE"
[Moved from user feedback site]

Can I use the opencv-kinfu-samples including dependencies in a commercial product?

[2020-08-12 12:06] emepetres commented on #810
Thanks @wes-b for answering.

I can indeed run k4a in a docker container with gpu [by mounting the X11 socket](https://developer.nvidia.com/blog/gpu-containers-runtime/). However this solution is not feasible for a cloud/headless environment, as a display is needed to be running in the host.

I've done a deep research in the past few days to overcome the issue, that I post here for reference and t

[2020-08-13 10:36] AswinkarthikeyenAK opened #1316 "Kinect Azure device with Jetson Nano - error [libusb: error [submit_bulk_transfer] submiturb failed error -1 errno=12]"
**Describe the bug**

I am trying to use Kinect Azure with Jetson Nano device. I am able to start the k4aviewer and can visualize the output of the camera, but in the meantime I get the following error `libusb: error [submit_bulk_transfer] submiturb failed error -1 errno=12
`
**Expected behavior**

Run the k4aviewer while it is connected to Kinect Azure device.

`~/Azure-Kinect-Sensor-SDK$ ./build

[2020-08-13 16:04] StevenButner commented on #810
@emepetres .... Your discussion of a docker-enabled GPU supporting the K4A needs is very interesting. Thanks for sharing that.  I want to investigate it and try to get it running on my own system.  I may have some questions for you in that regard which I will likely send via email.

The description of your various attempts to get the K4As to work in a headless environment are very familiar to me.

[2020-08-13 20:39] qm13 commented on #1315
MIT license. Yes, you are free to use the sample code in a commercial product.

[2020-08-13 20:39] #1315 closed, assigned to qm13

[2020-08-13 20:44] qm13 commented on #1316
See bug #485

You need to increase the value of `usbfs_memory_mb`

[2020-08-13 21:55] qm13 commented on #1314
You are likely seeing reflection between the camera window and quartz. We recommend not putting any window in front of the Azure Kinect window.

[2020-08-13 21:55] #1314 closed, assigned to qm13

[2020-08-13 22:54] UnaNancyOwen commented on #1315
@qm13 What do you think about the patent of Kinect Fusion?
https://docs.opencv.org/4.4.0/d8/d1f/classcv_1_1kinfu_1_1KinFu.html#details
[code]

[2020-08-14 04:51] echelon commented on #1268
Hi @wes-b, thanks for responding!

I'm sorry I didn't get back in a timely error, but I had to unpack my Kinect sensors from moving them. I also needed to put together a visual explanation of the problem I'm having.

This isn't an issue with point cloud registration or coordinate systems. It's an OpenGL error arising from naively adapting the k4aviewer code.

I have two point clouds from two k4a s

[2020-08-14 06:55] emepetres commented on #810
Thank you @StevenButner for sharing that, the nodm setup is very interesting.

However if I understand correctly it is still not possible to use it in a nvidia/cuda docker container (nowadays) in a truly headless host, because nodm still needs an X server running in the background. Currently nvidia/cuda containers does not work with an X server running inside because the nvidia driver is not insta

[2020-08-14 15:12] SteveButner commented on #810
Thanks for the response, @emepetres.  I was aware that nodm was deprecated and, in fact, lightdm would almost certainly work in its place.  I like the simplicity and smaller size of  nodm.  As for the docker container not supporting an X11 server inside, that may not be a show-stopper, since you have already demonstrated that the OpenGL environment is apparently available within a docker container

[2020-08-14 20:06] uprealdigital commented on #1039
I agree with JZharay that I was expecting the body to remain at the same orientation/position independently of the sensor's orientation. Maybe it's expected behavior to Microsoft but to every other user, it's not expected. Why would I have to change my software when changing the orientation or a sensor? Doesn't make sense to me

[2020-08-14 20:49] uprealdigital commented on #1039
@JZharay @yijiew How would I go about applying the new coordinates? I tried rotating the body but then the body is floating around even though it's now straight...

[2020-08-14 22:19] qm13 opened #1317 "Improved image documentation"
Improve documentation of active and passive IR images. Currently only image documentation is

https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___enumerations_gabd9688eb20d5cb878fd22d36de882ddb.html#gabd9688eb20d5cb878fd22d36de882ddb

https://docs.microsoft.com/en-us/azure/Kinect-dk/depth-camera

[2020-08-15 17:42] Fred3D-tech commented on #871
is there a documentation to install the azure kinect on a jetson xavier agx ?

[2020-08-15 18:03] uprealdigital commented on #1039
Just figured it out. The easiest way to make sure your characters stay at a proper angle is to apply a rotation offset based on the device orientation setting. So for every body that was found, then for every joint, you have to apply that rotation offset on the incoming joints rotation AND position. Every joints position and rotation are in absolute so you have to apply the rotation offset to ever

[2020-08-15 18:05] uprealdigital commented on #1039
Of course, if you have converted your position and rotation in relative mode then you could only apply the rotation offset to the position and rotation of the waist joint like mentioned before.

[2020-08-16 00:16] tkircher commented on #871
If you're running Jetpack 4.4, it's the same as installing on any other Jetson.

[2020-08-16 04:47] sayano-lee opened #1318 "About saving k4a_capture_t in a vector"
Hi, I'm trying to use Azure Kinect dk with other cameras (opened by Opencv). However, I found that `k4a_capture_get_color_image` and `k4a_capture_get_depth_image` are a little bit slower that opencv `>>` operation. Therefore I tried to save captures in a vector and read color and depth images later like this:
[code]

But now I have a fatal problem, the memory kept increasing, I only got `NULL` ima

[2020-08-17 10:07] buyanxi opened #1319 "How to open a Azure Kinect camera remotely?"
A kinect2 camera is connected to a computer called B.
A computer called A which SSH remote login B.
And then execute the capture image test program which is available in computer B， the following error is reported:

Found 1 connected devices.
Done: open device.
deviceSerialnum:. 000296402512
[2020-08-17 18:07:23.483] [error] [t=29882] ../src/dewrapper/dewrapper.c (154): depth_engine_start_helper()

[2020-08-17 14:11] ialhashim commented on #1308
That would be great. We are researching depth completion and estimation and it will help us a lot to get the raw data from the sensor and hopefully get more control over other aspects of the emitter and sensor.

[2020-08-17 14:57] alilordifar commented on #1164
Hi,
I have just a question on how can I generate point clouds from mkv file. I would appreciate it if you direct me.

Thanks,

[2020-08-17 15:54] Chris45215 commented on #1270
Can you provide some documentation on the other aspects of body size - specifically weight? A person with a BMI of 19 in form-fitting clothes will look very different from a person with a BMI of 45. What range was the neural network trained with, and at what points is performance expected to drop?
We noticed that it detects people with a missing limb with decent accuracy though not quite as quickl

[2020-08-17 17:11] qm13 commented on #1319
Dup of #810. Also updated the title from "Kinect2" to "Azure Kinect"

[2020-08-17 17:11] #1319 closed, assigned to qm13

[2020-08-18 07:06] buyanxi opened #1320 "Kinect Azure device (ubuntu 16.04) - error [libusb: error [submit_bulk_transfer] submiturb failed error -1 errno=2]"
when i have installed the sdk of kinect azure device and execute ./build/bin/k4aviewer, the following error is reported:

libusb: error [submit_bulk_transfer] submiturb failed error -1 errno=2
[2020-08-19 14:58:57.460] [error] [t=3350] ../src/usbcommand/usbcommand.c (748): usb_cmd_io(). Error calling libusb_bulk_transfer for initial tx, result:LIBUSB_ERROR_IO
[2020-08-19 14:58:57.460] [error] [t=3

[2020-08-18 07:10] buyanxi commented on #1320
this error should be different from another one https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/485

[2020-08-18 07:38] buyanxi commented on #1319
I tried to use " export didplay =: 1" and it worked. However, when I tried to run the test program several times and failed which still reported the same error. Then I tried to use " export didplay =: 0" and  it also worked. I think this is the current computer terminal has changed?

According to the above method, in order to successfully open a Azure Kinect camera, there must be a display termina

[2020-08-18 17:22] constantin-ulbrich opened #1321 "Color Image Capture Fails on Second Request"
Hi Kinect DK community,

I have been trying to use the Kinect for a computer vision application in my university thesis project. As I haven't used the Kinect before and only have basic coding knowledge in C, I thought that I familiarize myself with the Kinect by building a simple console application first. This application uses to a large extent the example code provided in the Microsoft Docs (htt

[2020-08-18 21:21] kramakr4 opened #1322 "Recording the two sensor temperatures using Windows Terminal/Powershell"
Hi,

Please excuse my naive questions. I am new to coding and Kinect ecosystem. I have been recording some video samples using k4arecorder using the following command:

k4arecorder.exe -c OFF -l 2700 -r 5 path\filename.mkv

When I open the file using k4aviewer, the IMU data does not have the two temperature sensors on-board the camera. Is there a way to record the sensor temperatures simultaneousl

[2020-08-18 21:57] krasin commented on #1263
Just for the record, I tried to vote by the link (thx for providing it!) but it failed with an uncomprehensible error when I tried to log in with my Microsoft account:

[code]

[2020-08-19 20:47] f-pfeiffer opened #1323 "synchronized capturing with 3 devices"
Hi,

I'm looking for a solution to capture synchronized videos/images with 3 Azure Kinect Sensors.
The green screen example (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/green_screen) includes synchronization and calibration of two devices. Is there also any similar solution for 3 devices?

[2020-08-19 21:15] diablodale opened #1324 "allow IR16 format in k4a_transformation_depth_image_to_color_camera_custom()"
I request two lines of additional code be added to allow K4A_IMAGE_FORMAT_IR16 to be used as input into `k4a_transformation_depth_image_to_color_camera_custom()`. I see only benefit and no harm for the trivial change.

This is highly related to https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1188

### Scenario

Transform the IR image from its native resolution into the color camera's r

[2020-08-19 21:18] nicobeek opened #1325 "Any c# specific documentation available?"
While browsing through the functions at https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/index.html
I noticed the k4a_device_get_color_control_capabilities() function listed under C. In the C# assembly I can only find a Device.GetColorControl and Device.SetColorControl. Are there any other functions not available in C#, and is there a C# specific documentation available? The link only ha

[2020-08-19 21:57] diablodale opened #1326 "non-GPU depth_image_to_color_camera_custom() fails to write invalid values correctly"
`transformation_depth_to_color()` does not correctly set the `invalid_custom_value` on the entire custom image. The actual pixels set vary based on the stride.

### Setup

* Found while reviewing the code for `k4a_transformation_depth_image_to_color_camera_custom()` which leads to `transformation_depth_to_color()`
* Kinect Azure SDK b033d2e552456e3f830c9c5e9eede04374723540
* Review the file `src/t

[2020-08-21 04:32] Crazysiri opened #1327 "ubuntu 16 v4aviewer can not find devices"
here is the steps:
1. sudo apt-get update && sudo apt-get install -y \
        pkg-config \
        ninja-build \
        doxygen \
        clang \
        gcc-multilib \
        g++-multilib \
        python3 \
        git-lfs \
        nasm \
        cmake \
        libgl1-mesa-dev \
        libsoundio-dev \
        libvulkan-dev \
        libx11-dev \
        libxcursor-dev \
        libxineram

[2020-08-21 07:05] Crazysiri commented on #1327
could anybody helps? thanks

[2020-08-21 07:53] Crazysiri commented on #1327
I've fixed it, I forgot to put libdepthengine.so.2.0 to /usr/lib/x86_64-linux-gnu/ folder

[2020-08-21 07:53] #1327 closed, assigned to nobody

[2020-08-21 10:44] Crazysiri opened #1328 "ssh failed to start device"
the same executable file such as 'streaming_sampes'

it is correct run from local but error occurs when run from ssh :

[2020-08-21 18:32:13.963] [error] [t=19986] ../src/dewrapper/dewrapper.c (154): depth_engine_start_helper(). Depth engine create and initialize failed with error code: 204.
[2020-08-21 18:32:13.963] [error] [t=19986] ../src/dewrapper/dewrapper.c (160): deresult == K4A_DEPTH_ENGIN

[2020-08-21 10:58] Crazysiri commented on #1328
I've seen a solution from other issue, run command like this: 'DISPLAY=:0 ./xx'
but how to add 'DISPLAY=:0' to Clion (code editor)

[2020-08-21 16:12] virtusense-trisha commented on #1263
I went to the issue for 1.4.1 and downloaded the .deb packages for 18.04 and installed them with `sudo dpkg -i` and that seemed to work.

I know they don't officially support 20.04 but they also don't give any explanation of what changed between 18.04 and 20.04 that would make a difference, so I figure it's fine, right?

[2020-08-21 19:20] Azzedine-Touazi commented on #503
Hi all,
Same problem, k4aviewer doesn't launch in a remote desktop session (SSH+X-server+Enabling X11 forwarding) but gives the following message:
libGL error: MESA-LOADER: failed to open swrast (search paths /usr/lib/aarch64-linux-gnu/dri:\$${ORIGIN}/dri:/usr/lib/dri)
libGL error: failed to load driver: swrast
and  "cat k4aviewer.err" gives
Glfw error [65543]: GLX: Failed to create context: GLXBa

[2020-08-21 21:31] AswinkarthikeyenAK commented on #1199
Hi @wes-b,
I am just using one kinect device and running on jetson nano device.
The first time I run, it works fine. but the second time when i run the kinect device, I get the following error.

`/src/capturesync/capturesync.c (142): replace_sample(). capturesync_drop, releasing capture early due to full queue TS:  59969411 type:Depth`
Can you kindly let me know how to fix this issue,please?

[2020-08-24 09:39] metervara commented on #1283
Regarding the questions asked here:

Vendor: ASUSTeK COMPUTER INC.
Version: 0401
Manufacturer: ASUSTeK COMPUTER INC.
Model: GR8 II
SystemType: x64-based PC

OS Name: Microsoft Windows 10 Pro
OS Version: 10.0.18362 N/A Build 18362

I think it's Port 1 & 2, but I'm not sure that's exactly the information you're looking for?

I haven't tested the restart + reset camera workaround, I'm on a different

[2020-08-24 11:03] AswinkarthikeyenAK commented on #1112
I am using jetson nano and I have the same error.
Is there a way to parameterize this value such that I can overcome this error?

[2020-08-24 17:11] qm13 commented on #1323
It should be pretty simple to extend the 2 camera implementation in green screen sample to three cameras.

[2020-08-24 17:14] qm13 commented on #1322
The k4arecorder does record temperature with the IMU payload and it should be available on playback.

[2020-08-24 17:19] qm13 commented on #1321
Can you please verify that your USB host controller is one of the supported controllers? See [here](https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#usb3-host-controller-compatibility).
Assuming you are using a supported USB host controller then the next step is to provide Azure Kinect logs.

[2020-08-24 17:20] kramakr4 commented on #1322
![image](https://user-images.githubusercontent.com/69551017/91075717-5723d080-e5f3-11ea-8961-4c2d3c0c71f1.png)

Here is a screenshot of the recording. I did not turn off imu while recording. I just see the accelerometer and gyroscope data and not the temperature.

[2020-08-24 17:22] kramakr4 commented on #1322
Here is a screenshot of the recording. I did not turn off imu while recording. I just see the accelerometer and gyroscope data and not the temperature.

![image](https://user-images.githubusercontent.com/69551017/91075961-ad910f00-e5f3-11ea-832d-3eab5abe48fd.png)

[2020-08-24 17:22] qm13 commented on #1320
Number #485 would be normal response to such issues. The only ubuntu release we officially support is 18.04. We have not tested in 16.04.

[2020-08-24 17:45] qm13 commented on #1325
You can find the C# documentation [here](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/namespace_microsoft_1_1_azure_1_1_kinect_1_1_sensor.html)

[2020-08-24 17:49] qm13 commented on #1328
This is a duplicate of a known issue #810

[2020-08-25 06:46] lesterlo commented on #810
Some GPU Cards need to connect a display monitor to enable OpenGL. You cannot use any OpenGL program if the GPU card is not outputting display signal. This is a common issue in the headless computer system.

To solve this problem, You can purchase a dummy display plug to simulate a display monitor connection. No additional software needs to be installed.

You can buy something like this: [dummy di

[2020-08-25 08:15] constantin-ulbrich commented on #1321
Thank you very much for your help! I have checked the USB host controller and my machine uses one of the supported ones (Intel(R) USB 3.0 eXtensible-Hostcontroller-1.0(Microsoft)). However, unlike on the example image provided in the Docs to check for the USB host controller, my machine's device structure has three nested Generic SuperSpeed USB Hubs. I am not sure if that makes a difference, so I

[2020-08-25 10:40] RoseFlunder commented on #810
We got it working with this workaround:
1. Enable automatic login for the user you are going to use. After that we could shutdown the pc, disconnect the monitor and power it on again. With the automatic login the x-server session will be created.
2. After connecting via ssh set the Display env variable with: export DISPLAY=:0
3. Start the software using the k4a sdk as usual

[2020-08-26 02:53] Koring12 opened #1329 "Is it possible to get point cloud data of a person within the certain depth level from Transformation example"
Hi,

I have successfully run the transformation example and I am trying to modify the program as follow.

 - The program gives me the point cloud data of only a person within the certain distance(like 1 meter away).
 - If it is possible, I want to save this filtered data(object within the certain distance) to a picture or a video
 - Ways to sync two Azure Kinects and have combined point cloud data

[2020-08-26 04:37] Piler-Tam opened #1330 "Body tracking inaccurate for some people's back"
I am developing a rock climbing game with Azure Kinect.

I notice that some people are well tracked and some are not. They body keep flipping and it looks like it cannot determine whether the person is front facing/not facing to the camera. I just wonder why it happens.

Is it matter with the height of the person? or the clothes?

[2020-08-26 18:04] tim-depthkit commented on #1261
Hey all, (Hi Neil!) I am also running into a seemingly random sync delay offset issue that is leading to interference between synchronized sensors.

I've taken a look at the unit test and run it, and it is currently passing just fine. However, upon inspecting the timestamps coming out of the test, I can identify the issue. Unfortunately the test is not currently written to compare the IR time from

[2020-08-27 00:58] qm13 commented on #1306
Couple of points:

1. How did you choose the 2d points. Is that by manually looking at the IR image or by manually looking at depth image? The point is, you should start with an accurate 2d pixel which matches exactly the 3d point, often you will need some texture when doing this by human eye e.g. a target board with visible markers in IR spectrum, then you can pixel inspect (assuming human eye ca

[2020-08-27 05:02] ivoslove commented on #470
I had the same problem. Did you solve it later? How was it solved?

[2020-08-27 10:31] juspus commented on #1306
### 1.
I am using OpenCVSharp library to find contours and from there I find the corner points of the rectangle I am trying to find.

![test](https://user-images.githubusercontent.com/19390472/91414063-ab79bb00-e854-11ea-995e-b15391dd42a3.jpg)
![rezultatasTest](https://user-images.githubusercontent.com/19390472/91414083-b59bb980-e854-11ea-94a7-3334f8a2c41f.jpg)
![gotRectTestt](https://user-images.

[2020-08-27 14:38] neilDGD commented on #1261
Thanks for feedback on this issue guys, valuable to get this working correctly (and to fully roll out multi-cam support for k4a). Have been pulled onto other projects in the meantime but will return to test our multi-cam setup in the future (no time to investigate further atm). The influence of exposure time on synchronised frame delivery certainly seems to be an issue or atleast one factor. Thank

[2020-08-27 19:11] johnvanatta opened #1331 "Depth camera bit precision"
Documentation questions:
I see from the [documentation](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___enumerations_gabd9688eb20d5cb878fd22d36de882ddb.html#gabd9688eb20d5cb878fd22d36de882ddb)
that depth values are 16 bit integers, units in mm.

From the [hardware specs](https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification) operating ranges vary based on the d

[2020-08-27 23:20] xiangzhi opened #1332 "Changing the terminology from Master/Subordinate to Primary/Subordinate"
**Is your feature request related to a problem? Please describe.**
I'm writing a wrapper for the sensor and noticed that the terminology used to describe the synchronizing of different devices still uses the term "master". While the word **master** has multiple meanings, the way it is used in the code continues to invoke the old meaning of a master as superior to a slave. This terminology is also

[2020-08-28 10:42] seigeweapon opened #1333 "Confusion about avoiding interference and offset setting in document"
**Describe the bug**

I'm reading [https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync](url) , and got confused about how to set correct offset. In the _Avoiding Interference_ section, I read

...
For each depth camera capture, the laser turns on nine times and is active for only 125μs each time. The laser is then idle for either 14505μs or 23905μs

To me, the 2nd statement seems to

[2020-08-28 13:33] guzza100 commented on #470
I believe it was an access denied issue specific to my laptop.  So either your firewall or antivirus program is blocking access for security purposes.  Check those settings and allow the Kinect access for camera and microphone purposes.

________________________________
From: ivoslove <notifications@github.com>
Sent: Thursday, August 27, 2020 5:02 AM
To: microsoft/Azure-Kinect-Sensor-SDK <Azure-Ki

[2020-08-28 21:02] wes-b commented on #1261
@tim-depthkit you did find an issue, but so far not the one we are looking for as far as I can tell.

First a bit about the test. The test randomly selects time values for the masters depth_delay_off_color_usec setting. It also randomly chooses a value for the subordinates depth_delay_off_color_usec and subordinate_delay_off_master_usec setting. So normally the test looks like this:
[code]
So the

[2020-08-28 21:11] wes-b commented on #1261
Question about this issue, when you are seeing it, does it repro 100% of the time? If not can you estimate how often?

[2020-08-28 22:55] qm13 commented on #810
@RoseFlunder thanks for this work around. One of our team also suggested using command line to enable automatic login. You can find instructions here[https://vitux.com/how-to-enable-disable-automatic-login-in-ubuntu-18-04-lts/](url)

[2020-08-29 00:37] qm13 commented on #1330
@Piler-Tam could you post some examples where you are seeing flipping.

[2020-08-29 00:38] #1328 closed, assigned to qm13

[2020-08-29 00:39] #1323 closed, assigned to qm13

[2020-08-29 00:43] qm13 commented on #1322
@kramakr4 yes, k4aviewer does not show the temperatures from a recording, however they are recorded by k4arecorder with the IMU data. Are you reporting an Enhancement request to k4aviewer or a bug in k4arecorder?

[2020-08-29 00:45] #1320 closed, assigned to qm13

[2020-08-29 00:46] #1318 closed, assigned to qm13

[2020-08-29 00:47] #1316 closed, assigned to qm13

[2020-08-29 00:47] #1312 closed, assigned to qm13

[2020-08-29 00:47] #1311 closed, assigned to qm13

[2020-08-29 00:47] #1310 closed, assigned to qm13

[2020-08-29 00:48] #1307 closed, assigned to qm13

[2020-08-29 00:50] #1305 closed, assigned to qm13

[2020-08-29 00:53] qm13 commented on #1303
@SeanStephensenAIRM Sorry for the tardy response. Yes, you should pay attention to the IR emitter temperature. I would not expect them to change uniformly. The IR emitters are in the front of the device, the IMU is in the rear of the device, and they are separated by the cooling chunnel.

[2020-08-29 00:54] #1302 closed, assigned to qm13

[2020-08-29 01:00] qm13 commented on #1294
Handling offline

[2020-08-29 01:00] #1294 closed, assigned to qm13

[2020-08-29 01:02] kramakr4 commented on #1322
I am more interested in taking out the temperature data on to a .csv or .xlsx file. How can I output the temperature data from a recorded .mkv video with IMU data from k4arecorder?

[2020-08-29 01:37] RoseFlunder commented on #1322
If you are familiar with programming you can use the playback API to iterate over the IMU samples in the recording file and then write them to a csv file.

Some explanation for the playback api can be found here:
https://docs.microsoft.com/en-us/azure/kinect-dk/record-playback-api

[2020-08-31 01:07] jovinteng opened #1334 "Calculating distance of an object from the camera (using IR camera)"
I'm using a retroreflective ball marker as my object and have so far been able to detect it using the Kinect Azure's IR camera and with the help of the Hough circles transform function from OpenCV. Doing so provided me with the centroid's x and y-coordinates in the IR domain (which I assume is the same as the depth camera domain). I want to transform these 2D pixel coordinates into 3D coordinates

[2020-08-31 03:53] GrahamDClark commented on #1310
Thank you!

On Fri, Aug 28, 2020 at 8:48 PM qm13 <notifications@github.com> wrote:

[2020-08-31 13:42] aistyler commented on #1248
@d-walsh @qm13

any update?

[2020-08-31 16:50] kramakr4 commented on #1322
Hi! I am not familiar with programming. I have tried to go through the tutorials to set up C++ on Visual Studio and run the following code:

#include<k4a/k4a.h>
#include <k4a/k4a.hpp>
#include<k4arecord/playback.h>
#include <k4arecord/playback.hpp>

k4a:: playback playback = k4a::playback::open("C:\User\krr\Desktop\test.mkv");

k4a::capture capture;
bool result = playback.get_next_capture(&capture

[2020-08-31 16:51] kramakr4 commented on #1322
I have tried running the default code for playback from this link: https://docs.microsoft.com/en-us/azure/kinect-dk/record-playback-api

Even that did not work.

[2020-08-31 17:57] qm13 commented on #1334
The active IR capture (your can also run the camera in passive mode) and the depth capture are from the same sensor. There is no transformation between captures. You can take the x and y value from your centroid calculation and directly read the z value from the depth capture. The z value is mm from the camera and has a max error of 11mm + 0.1% of range.

[2020-08-31 17:57] ArmandoNN113 opened #1335 "Error LibUSB transfer status"
**Describe the bug**
When I turn on the camera (depth and color) in the k4aviewer, I get an error message of the cameras timed out and the following errors in the log:
[code]
Depth Camera Only

When I turn on the depth camera only and at 5-15 fps, the camera works ok, but gives the following log when set to 30 fps:
[code]
Color camera only:
The color camera fails regardless of the settings I input

[2020-08-31 18:21] qm13 commented on #1333
The correct documentation link is [this](https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#avoiding-interference-between-multiple-depth-cameras). Note also that the document references the [raw timing](https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification#depth-sensor-raw-timing) for the 4 operating modes.
The actual pulse width is 125us however we state 160us to

[2020-09-01 00:51] rssuther opened #1336 "VLC Image is Glitchy"
I have had my Azure Kinect camera for just under a year and have experienced zero problems until just recently. The image from the visible light camera is glitchy and seems to be a hardware issue. I have reset and reflashed the device firmware but this has not solved the issue. Occasionally the issue does not exist but for the most part, the artifacts in the image are severe. I am not sure if this

[2020-09-01 01:07] jovinteng commented on #1334
@qm13 I see... So there's no need to transform the 2D depth capture to a 3D point cloud first? Also, is there a way to make the depth measurement more accurate because 11mm is a big margin of error. Cheers!

[2020-09-01 01:53] 12101111 opened #1337 "Add pulseaudio as dependency on Ubuntu"
**Describe the bug**

I installed `k4a-tools` on a Ubuntu 18.04 arm64 device which pulseaudio is not installed at first.

`k4aviewer` try to connect to pulseaudio then crash.

**To Reproduce**

1. Uninstall `pulseaudio`
2. install `k4a-tools`
3. run `k4aviewer`

[code]

**Expected behavior**

Add pulseaudio as dependency to install it automatically

**Desktop (please complete the following informa

[2020-09-01 09:40] RoseFlunder commented on #1322
@qm13
As kramakr4 pointed out there is indeed no temperature data in the recordings.
Here we can see the code that records the IMU sample:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/record/sdk/record.cpp#L675
There we can see that only the acceleromter and gyroscope data are written.
Is that inteded?

@kramakr4
You need a "main" method to run the code. There are some com

[2020-09-01 16:33] kramakr4 commented on #1322
@RoseFlunder
Thanks for your help! I will look into those examples. And yes, the temperature data is not recorded with the IMU data.

@qm13
Is it possible to add this to the k4aviewer and also the IMU data as an update?

[2020-09-01 17:06] fowie opened #1338 "Kinect drops off USB bus and will not reconnect (Jetson Nano)"
I'm running a project with eight AKs.  Each is connected to a Jetson Nano via the provided USB cable.  Each has its own 5V external power supply.  I've now seen this issue twice where the Kinect can get into an unrecoverable state.  In the most recent case, I was running my code which was accessing the Kinect.  I shut down my code and when I tried to re-start, it could not find a Kinect.  AzureKin

[2020-09-01 17:11] fowie commented on #1338
Using libk4a 1.4
Current Firmware Versions:
  RGB camera firmware:      1.6.102
  Depth camera firmware:    1.6.75
  Depth config file:        6109.7
  Audio firmware:           1.6.14
  Build Config:             Production
  Certificate Type:         Microsoft

[2020-09-02 10:57] botamochi6277 opened #1339 "No option to k4arecorder in RGBA format with version 1.4"
Change Log of v1.4.0 says that k4arecoder can record videos in RGBA format.
I cannot ,however, find options to select recording color format.
What do I need ?

[2020-09-02 16:48] diablodale opened #1340 "what id is `gpu_device_id` in body tracking?"
I request documentation clarification of the integer identifier in Body Tracking `k4abt_tracker_configuration_t.gpu_device_id`.
What/how is this id discerned? I see it is `int32_t`. That means the id can be 4 billion possibilities.
How do I know what integer to set here? Trial and error of 4 billion? ;-)

Is it some number seeable in the Windows registry?
Id that can be retrieved from DirectX apis

[2020-09-02 17:11] crux24 opened #1341 "Depth errors when measuring human skin"
**Background:**
We are trying to measure the height of hands and feet from a top-bottom setup of an Azure Kinect.

**Problem:**
When calculating the distance of depth between the highest point of the extremity and the ground, which represents the height, we constantly measure a discrepancy to reality. Specifically around 8-15mm less than the ground truth.

**Measurements:**
We tried measuring from

[2020-09-02 17:15] RoseFlunder commented on #1340
Just from my personal experience with using the SDK on Ubuntu:
I used the order of the NVidia GPUs listed by the "nvidia-smi" command.
The first GPU there is 0, the second GPU is 1, etc.

GPUs from other vendors doesn't seem to get a number.

[2020-09-02 18:27] diablodale commented on #1154
### Related to ONNX runtime and CUDA DLLs...

From my diagnostics, the `onnxruntime.dll` does not manage its own DLL dependencies. For example, `onnxruntime.dll` does not look in its own directory for its needed files like `cudart64_100.dll`. I isolated this issue using sysinternals Process Monitor and watched onnxruntime.dll do work, and then it (or the OS) search about 40 locations for the file

[2020-09-02 21:03] AswinkarthikeyenAK commented on #1232
Hi @qm13 ,
is the body tracking sdk released for Jetson Nano? If could share some info on that it would be really great

Thanks

[2020-09-02 21:29] srinivas-varadharajan commented on #1256
@jessekirbs I'm running into the same issue. What do you mean by self-compiled 'bin' folder in the above comment?

[2020-09-03 09:54] jmicho commented on #1338
Possible duplicate: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1283

[2020-09-03 20:55] qm13 commented on #1337
The Sensor SDK has a dependency on libsoundio. I quick grep on the code does not find any dependency on pulseaudio.

[2020-09-03 21:00] qm13 commented on #1336
Couple of things to check:
1. Try difference USB port
2. Remove all other USB devices on that USB controller to make sure another device is not interfering
3. Test with supplied USB and power cables
4. Test with an alternative USB cable.

[2020-09-03 21:06] qm13 commented on #1335
Couple of things to check:

Try difference USB port
Remove all other USB devices on that USB controller to make sure another device is not interfering
Test with supplied USB and power cables
Test with an alternative USB cable.

[2020-09-03 21:08] wes-b commented on #1263
There is no expected difference, we don't have automation to test on 20.04 ATM. So we don't release packages we can't test.

[2020-09-03 21:35] qm13 commented on #1339
I assume you mean BGRA support? You can configure the Azure Kinect to captures images in BGRA format and pass them to the recorder. The recorder should record them in that format to the .mkv file.

[2020-09-03 22:12] qm13 commented on #1338
This is a duplicate of #1283 as @jmichon eludes too. It is a known issue in the firmware which the hardware team in planning a fix.

[2020-09-04 00:51] wes-b commented on #1321
You are seeing differences in warm / cold startup behavior. You are running with the ```synchronized_images_only``` in ```k4a_device_configuration_t``` set to false, which means you get all frames, even if we can't sync a color frame to depth/IR frames. If you set this to true, then your captures will always have synchronized color, IR, and depth (depth is not present for passive IR mode). With th

[2020-09-04 03:17] GitZinger commented on #1058
No. It does not handle it by the  k4a_transformation_depth_image_to_color_camera(). Sadly.

[2020-09-04 08:47] botamochi6277 commented on #1339
Thank you for reply.
qm13 might indicate that I need to set color format settings in k4a::record.
On the other hand, I would like to use k4arecorder, one of kinect tool commands.

[2020-09-04 09:31] AswinkarthikeyenAK commented on #1058
I am facing the issue as well. Kindly let me know if there is a way to fix this-to align color and depth images.

[2020-09-04 12:39] anselanza opened #1342 "When can we expect body tracking on ARM64?"
Body Tracking team is also adding ARM support. A new version of BT is coming that will work with 1.4.0.

_Originally posted by @wes-b in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1093#issuecomment-611617173_

[2020-09-04 12:41] anselanza commented on #1342
Just wondering if there has been any update since this last comment on the issue (that I can find), which was back in April.

Completely appreciate that these things take time, but just wondering if there is an ETA?

I have depth/RGB camera input working perfectly on Nvidia Jetson Xavier NX, but of course body tracking is still officially not supported yet for this platform.

[2020-09-04 16:47] ArmandoNN113 commented on #1335
Thanks for the reply @qm13 !!
I tried all of your suggestions, but unfortunately none of them worked. I was able to access another pc and the camera worked fine.
I talked with Razer support and we found out that the usb ports were faulty, so this is my laptop not functioning very well.
I appreciate your time and help!

[2020-09-04 16:47] #1335 closed, assigned to qm13

[2020-09-04 23:38] jasjuang commented on #1341
I agree material severely affects the depth accuracy. I've reported my findings last year here https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/803#issuecomment-570006001.

[2020-09-05 03:18] diablodale opened #1343 "body tracking support multiple ONNX execution providers (e.g. DirectML)"
Some of my customers are looking elsewhere for new tracking sensors because these customers have Intel and AMD GPUs.
Azure Kinect Body Tracking is Nvidia only.

Body Tracking 1.0.1 only supports the default CPU + defacto GPU (Nvidia CUDA) ONNX execution providers. That's my guess.
The former naturally doesn't perform, the latter is vendor lock-in. Both decrease our sales and services.

### Request

[2020-09-06 23:32] qm13 commented on #1341
Some materials such as human skin and certain plastics (e.g. red LEGO blocks) are fully or partially transmissive of near-IR wavelengths. When the active illumination from the depth sensor reaches the object, rather than being wholly reflected at the air-object interface it penetrates and is scattered, resulting in the mean path length travelled by the illumination being longer than expected (and

[2020-09-06 23:34] qm13 commented on #1331
1.	The temporal standard deviation of the range measurements is not constant over range. It is a function of

- Distance (closer is better, up until sensor saturation)
- Reflectivity (higher is better)
- Angle of incidence (lower angle is better)
- Location in the FOV
- Ambient light levels (lower spectral content ~850 nm is better)
- Field of illumination (narrower is better)

2.	Yes. It is impos

[2020-09-07 20:34] constantin-ulbrich commented on #1321
Great, thank you very much for your help. This resolved the bug.

[2020-09-08 07:27] Abdul-Mukit commented on #1111
Getting the same error. Tried to add k4a.hpp for creating a dll.
@haimingZZ where do I insert the #define NOMINMAX ?

[2020-09-08 15:05] crux24 commented on #1341
@jasjuang, yes thank you, we've read the thread. It actually was the reason, why we ended up searching in this direction.
@qm13 thank you too for your explanation! Sadly the age or skin color of our probands may vary, so that a fixed correction factor may not be enough. But we are currently looking into other workarounds, so thanks again.

[2020-09-08 15:13] #1321 closed, assigned to qm13

[2020-09-08 18:37] kramakr4 commented on #1303
@qm13 Is there any active/passive cooling inside the Kinect? Also, when I leave the camera switched off long enough and then start it up the IMU temperature reads about 6-7 deg C below the room temperature. How is that possible? Is there any bias added to this particular sensor? Or is there any cooling device inside that keeps it so cool?

[2020-09-08 19:44] Abdul-Mukit commented on #1111
Update:
I was able to fix it. Thanks, @haimingZZ.
I added the `#define NOMINMAX` before the line` #include <windows.h>` in my framework.h for creating my dll.
The documentation provided for NOMINMAX is as follows:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/95f1d95f1f335b57a350a80a3a62e98e1ee4258d/examples/viewer/opengl/k4aimgui_all.h#L17

Hope this helps whoever gets this problem in

[2020-09-08 20:23] johnvanatta commented on #1331
Thank you

[2020-09-08 20:23] #1331 closed, assigned to qm13

[2020-09-09 07:20] alitokur opened #1344 "ssh connection to jetson nano - depth_engine problems"
I have 2 machines, one of them is an Ubuntu 18.04 desktop computer and the other is a Jetson Nano. I coded a ROS publisher with Azure SDK, and build it on Jetson Nano. So far so good. Tested ./k4aviewer and my publisher code(./k4aRosPublisherForArm) and they are working well. I can capture color and depth images successfully.

./k4aRosPublisherForArm

![4](https://user-images.githubusercontent.com

[2020-09-09 08:19] metervara commented on #427
We used these cables on a project with two kinects:
https://www.bhphotovideo.com/c/product/1545201-REG/vaddio_440_1005_051_usb_3_0_active_optical.html

They're expensive but work great. These do not power the kinects though, so we still use the dedicated power supply.

[2020-09-09 22:15] jessekirbs commented on #1256
@srinivas-varadharajan The bin folder that was created after running Generate in CMAKE. So:

1. Use git to clone the repository with:
`git clone https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git`

2. Run CMAKE and generate project files.

3. Open K4A.sln in Visual Studio

4. Build all.

5. Copy 'depthengine_2_0.dll' from the path _…\Azure Kinect SDK v1.4.0\sdk\windows-desktop\amd64\release\

[2020-09-10 00:00] wes-b commented on #1344
See this comment in particular from https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/810#issuecomment-679947486

[2020-09-10 01:32] chethanab16 commented on #1206
Hi,
1. Is Azure-Kinect-Sensor-SDK supported on Lattepanda (Windows OS) ,  Raspberry Pi 4 (Windows ARM OS) and Intel Compute Stick ?
2. Does Microsoft hololense  azure kinect  is same as new azure kinect camera?
thank you in advance.

[2020-09-10 03:02] chethanab16 commented on #1340
Hi,

Is Azure-Kinect-Sensor-SDK supported on Lattepanda (Windows OS) , Raspberry Pi 4 (Windows ARM OS) and Intel Compute Stick ?
Does Microsoft hololens azure kinect is same as new azure kinect camera?
thank you in advance

[2020-09-10 03:03] chethanab16 commented on #1344
Hi,

Is Azure-Kinect-Sensor-SDK supported on Lattepanda (Windows OS) , Raspberry Pi 4 (Windows ARM OS) and Intel Compute Stick ?
Does Microsoft hololense azure kinect is same as new azure kinect camera?
thank you in advance

[2020-09-10 04:55] botamochi6277 commented on #1286
The joint orientations of a skeleton are of the depth image coordinate system.
I'd like to convert these to ones of the color image coordinate system.
We can transform joint positions of some coordinate system with `k4a::calibration::convert_3d_to_3d()`.
On the hand,  `k4a::calibration` has no method to transform orientation (quaternion) such as `k4a::calibration::convert_orientation_3d_to_3d()`.

[2020-09-10 05:56] fnuabhimanyu commented on #845
@wes-b @arpit15 I am facing a very similar issue. Did you find any solution to this?

[2020-09-10 09:24] #1344 closed, assigned to nobody

[2020-09-10 11:03] fatihoezdemir commented on #1164
@Alilfd  if you used the azure kinect and recorded it in a .mkv file, just run the transformation_example from the Azure Kinect SDK

[2020-09-10 11:29] fatihoezdemir opened #1345 "Getting 2D Depth Images from point cloud .ply"
Hello ,
I didn't want to have diamond shaped 2D depth images so I used "/transformation_example playback" to mitigate these shaped pictures and I got  .ply files for the pictures
I want to get 2d depth mages from the point cloud .ply files.

I appreciate your help

[2020-09-10 20:51] qm13 commented on #1345
Are you referring to the aperture shape? e.g. https://docs.microsoft.com/en-us/azure/Kinect-dk/media/concepts/depth-camera-depth-ir.png

[2020-09-10 20:52] fatihoezdemir commented on #1345
Yes

[2020-09-10 20:53] qm13 commented on #1343
This is under development.

[2020-09-10 20:54] qm13 commented on #1342
This is still under development.

[2020-09-10 20:55] fatihoezdemir commented on #1345
My goal is to get lossless rectangle shaped depth images from a recording, not the original aperture shape

[2020-09-11 01:32] Koring12 opened #1346 "How to get point cloud data of human bodies only"
Hi,

The project I am working on requires point cloud data of only human body excluding background and other objects.
I am wondering if it is possible to get a set of point cloud data of human body using Azure Kinect Body Tracking SDK?

Any help would be welcomed!

Thanks!

[2020-09-11 02:42] #1111 closed

[2020-09-11 07:03] DWD3 commented on #1346
Hi,
in result object generated by the Body tracking SDK, there is an image called 'body index map', that image will highlight all the points on the depth image that belong to a human body.

You can find more info here **https://docs.microsoft.com/en-us/azure/kinect-dk/body-index-map**

[2020-09-11 08:01] Groulaxx opened #1347 "Can't record RGB camera captures due to "full queue" error."
**Describe the bug**

Can't record RGB camera captures due to "full queue" error.
Using the cpp code i linked, the code shows the error for each frame captured but still goes to the end and output a mkv file which is readable with Kinect viewer, but when I read the file I only have Depth images.
The error comes after I called the "k4a_record_create() function and for each k4a_device_get_capture()

[2020-09-11 09:11] DirkKramer commented on #1230
Same issue on my side

[2020-09-11 09:45] RoseFlunder commented on #1347
I have only glanced over your code but it looks like you need too much time for each Iteration of the processing loop. Try to remove the "sleep" calls in the loop like in the "VERIFY" macro.
The buffer from the kinect fills up with data and needs to processed fast enough from your app.

[2020-09-11 18:42] qm13 commented on #1303
@kramakr4 there is no active cooling. The chunnel between the front and back of the device supplies passive cooling.

Regarding the IMU temperature. I observe a similar delta (mine is more like ~14 deg C lower). Investigating why.

[2020-09-11 18:47] kramakr4 commented on #1303
If you observe the IMU temperature (blue) when ever I stop recording (every 10000 seconds) and restart, the temperature is higher and then again starts to reduce. Something seems off about this.

![image](https://user-images.githubusercontent.com/69551017/92961603-5d53e280-f424-11ea-8e49-1edb56f768da.png)

[2020-09-11 18:58] #1330 closed, assigned to qm13

[2020-09-11 19:02] qm13 commented on #1338
Closing as duplicate

[2020-09-11 19:02] #1338 closed, assigned to qm13

[2020-09-11 20:07] fatihoezdemir commented on #1345
I realized that there is a much better way to get transformed images, so this issue is closed. I have another issue regarding my new solution whrere I will open a new issue:)

[2020-09-11 20:07] #1345 closed, assigned to qm13

[2020-09-11 20:27] qm13 commented on #1322
I have confirmed with the developer who wrote the recorder API (he has moved to another team at Microsoft) and he confirmed recording the temp of both the IMU and depth sensor was not a requirement. Apologies for the earlier confusion. Moving this to an enhancement request.

[2020-09-11 20:32] kramakr4 commented on #1322
Thanks @qm13 !

[2020-09-11 20:35] qm13 commented on #1306
@juspus we are somewhat confused. Could you please answer these questions.

Are the images you include 2d depth image? If this is true, then the 2d depth image is expected to be distorted.

How do you compute the following?
BottomLeft-BottomRight : 1801.43245903415
TopLeft-TopRight : 1850.56666681602
TopLeft-BottomLeft : 947.24760041082
TopRight-BottomRight : 940.148730668165

The correct approach

[2020-09-11 20:48] #1341 closed, assigned to qm13

[2020-09-11 20:56] qm13 commented on #1340
We are aware of customers successfully running the Sensor SDK on LattePanda boards. There are currently no plans to support Raspberry Pi 4 w/Windows however are considering expanding Ubuntu support to Raspberry Pi 4. There also are currently no plans to support Intel Compute Stick. You can open feedback at https://feedback.azure.com/forums/920053-azure-kinect-dk asking for support of specific addi

[2020-09-11 21:25] qm13 commented on #1303
I have verified that we do nothing to the temperature value in the Sensor SDK. I have forwarded the issue to the hardware / firmware team.

[2020-09-11 22:42] qm13 commented on #1334
@jovinteng correct.

There is no way to make the depth error smaller for a single Azure Kinect. Some developers are exploring using multiple Azure Kinect devices to reduce the error.

[2020-09-11 22:53] fatihoezdemir commented on #1217
Hi @jean1zhou ,
I am having troubles transforming the images with k4a_transformation_depth_image_to_color_camera
I tried to convert the video in the playback mode but I couldn't do it.
My only goal is to get the transformed image
How did you exactly do it?
Can you contact me here or via mail : fatih.oezdemir@tum.de
I appreciate your help!

[2020-09-12 21:10] qm13 commented on #1326
This happens on the CPU path only. GPU (default) path is ok.

[2020-09-14 00:59] Azzedine-Touazi commented on #831
Sorry for the delay. Maybe now you have the solution but I still prefer to answer...
I see that you want to build the application on Linux. In this case you can just copy BodyTrackingHelpers.h and Utilities.h in a specific directory and then add the directory path to g++ with -I option (or gcc). **g ++ main.cpp -I / path to specific directory...**   Thanks.

[2020-09-14 05:21] juspus commented on #1306
- Yes, the images I am including are the 2D depth images with values converted to bytes for image viewing.
- The values are computed the same way as you explained.

[2020-09-14 07:09] 1158191255 opened #1348 "How can using depth sensor on Halcon?"
I can only using RGB sensor on Halcon now.How can I use depth sensor on Halcon?

[2020-09-14 07:17] Groulaxx commented on #1347
I tried to remove all my "sleep" calls but it doesn't change anything. I tested the code on other computers and it actually worked well, is it possible that the problem comes from the GPU (which is a bit old) or any other too old hardware ?

[2020-09-14 08:40] #1334 closed, assigned to qm13

[2020-09-14 08:49] jovinteng opened #1349 "Get depth value (distance) of IR marker"
I'm tracking a spherical retroreflective ball marker using the Kinect Azure IR camera but am unable to extract its depth information accurately. I discovered that as long as the ball is directly in-line with the depth camera it will be able to detect it up to a certain distance, however when I move the marker around (e.g. towards the edges and corners of the frame) the depth value is invalidated a

[2020-09-14 08:51] siraj-haid commented on #1112
I have the same error when opening the Azure Kinect viewer. It is giving me the same error and then crashing when i choose the WFOV as a depth configuration.

Does anyone know anything about it?
[ error    ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS:   1041066 type:Color

[2020-09-14 09:01] siraj-haid opened #1350 "[ error ] : replace_sample(). capturesync_drop, releasing capture early due to full queue TS: 307733 type:Color"
**Describe the bug**
When the WFOV(wide field of view) depth configuration is used, the Azure kinect is failing in Kinect viewer. We tried to update the firmware but it did not work. Everytime after opening the kinect viewer for couple of seconds we receive the following errors in the viewer when crashing:

**To Reproduce:**
Steps to reproduce the behavior:
1. Open the Kinect viewer
2. Select WFOV

[2020-09-14 10:54] fatihoezdemir opened #1351 "playback image transformation error"
Azure Kinect Sensor SDK 1.4.1 Ubuntu 18.04

Hello everyone, I am getting the following the following error when I want to transform the images of a playback with depth_image_to_color_camera:

**[2020-09-14 12:44:03.770] [error] [t=17273] ../src/transformation/transformation.c (693): transformation_depth_image_to_color_camera_custom(). Expect both depth camera and color camera are running to transf

[2020-09-14 11:17] fatihoezdemir commented on #565
Hi @snair61, how did you solve the sensor calibration problem ?

[2020-09-14 12:08] JosephParkins commented on #1336
I believe I'm having the same issue, coming towards a year with the devices and the error has begun to occur. For me the error occurs for occasional frames, and when captured looks like packet loss.

**SDK Version v1.2.0**

- RGB camera firmware: 1.6.102
- Depth camera firmware: 1.6.75
- Audio: 1.6.14
- Build Config: Release

I've noticed that when the device is connected directly to the PC with t

[2020-09-14 12:55] RoseFlunder commented on #1351
You pass in an empty calibration into the transformation.
You have two switch these two lines:
[code]

[2020-09-14 13:23] fatihoezdemir commented on #1351
Great, I overlooked this,thank you @RoseFlunder .
But somehow, I still do get the same shape of the images(no transformation). Do I need to do another operation?

[2020-09-14 16:56] qm13 commented on #1232
It will not be available on the Jetson Nano. We are working to make it available on the Jetson Xavier variants.

[2020-09-14 16:58] qm13 commented on #1154
Thanks for the recommendation @diablodale. I have passed it on to the ONNX team.

[2020-09-14 17:12] qm13 commented on #1351
Swap these two lines around

[code]

You are creating the transform with an empty calibration.

[2020-09-14 17:14] fatihoezdemir commented on #1351
Yes , it fixed this problem, but how can I overwrite these transformed images ?Currently, I am getting untransformed images.

[2020-09-14 17:18] qm13 commented on #1350
Please try flashing the device on a different port or different computer. Suspect you have a USB controller issue.

[2020-09-14 17:28] qm13 commented on #1347
Recording is impacted by disk speed and RAM availability. Try reducing depth resolution, color resolution and FPS. If it is capable of recording at lower settings then it is a PC performance issue.

[2020-09-14 17:37] qm13 commented on #1346
@DWD3 is correct in that you want to use instance segmentation to isolate the human(s) from the scene. You could use the Azure Kinect Body Tracking SDK to achieve this but it may be overkill. Instead you could use a publicly available semantic or instance segmentation model to process the IR image to isolate the pixels associated with human(s) and use this info in rendering the point cloud.

[2020-09-14 21:28] qm13 commented on #1349
This may be a result of saturation due to an overly reflective retroreflector. Some questions / pointers:
•	Are you using NFOV or WFOV? WFOV will be less prone to saturation but has a shorter range.
•	Do you have retroreflectors of different brightness's? It would be good to experiment to see at what distance they fail and whether you can duplicate the behavior with another retroreflective object.

[2020-09-14 22:12] srinivas-varadharajan opened #1352 "How to avoid RGB camera feed from becoming dark post calibration using green screen example?"
Hey Guys,

I'm trying to run the green screen example.
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/green_screen

Post running the example, the rgb camera feed becomes too dark.
The camera feed becomes alright if I unplug the cameras and connect again.

Any suggestion on how to calibrate it correctly would be helpful.

Thanks

[2020-09-15 07:04] Groulaxx commented on #1347
I tried multiple configurations and this is what happens :
- When recording both colour and depth, i get the error and no colour inside the file for all fps or resolution settings.
- When recording only depth, it works well for all fps and resolution config.
- When recording only colour, I get the "k4a_device_get_capture()" call return 'timed out!'.
So finally, it looks like that's not PC performa

[2020-09-15 08:05] devLupin opened #1353 "Body tracking while sitting"
Please refer to the picture below.
![image](https://user-images.githubusercontent.com/33558083/93182439-a6819a80-f774-11ea-88f4-1f19b8c08f85.png)

I think that general body tracking tracks the entire body and refers only to the necessary data.

My situation is to extract upper body data when sitting.
Can you see only the upper body and recognize that it is a human body and extract data without rec

[2020-09-15 09:04] jmachowinski opened #1354 "Corrupted JPEG Stream"
**Describe the bug**
We are experiencing a rather strange bug with the color stream of the kinect.
On an AMD EPYC 7302 machine, the color stream is corrupted.
This is reproducible using the k4aviewer and the ros wrapper.

I patched in a better debug message in case the MJPEG decoding fails and
it gave me this:
DecodeMJPEGtoBGRA32(). MJPEG decode failed, dropping image: Not a JPEG file: starts with

[2020-09-15 13:24] christiandreher commented on #1199
@carcormir May I ask what motherboard you are using? I experience severe errors with my Azure Kinects and several extention cords, I can barely use them. I also have 2x 2080 RTX Ti, so this is not the issue. However I think that my mainboard might be the cause... I have no issue at all when I operate the Azure Kinects with the very same cables on my Notebook.

Edit: My mainboard is an ASUS Strix X

[2020-09-15 14:25] Groulaxx commented on #1347
I just tried to run my same code on linux (Ubuntu 18.04) on the same PC and it worked, so maybe this could be a windows driver issue, but after a quick look, all my drivers are already up to date.

[2020-09-15 15:48] siraj-haid commented on #1350
I tried to flash the device. Then I replaced the USB cable with one we use for our second Kinect camera and it gave the same error

Also i tried the camera on 3 different computers and still the same error.

Do you have another suggestions?

Thank you.

[2020-09-16 10:18] #1351 closed, assigned to nobody

[2020-09-16 10:41] fatihoezdemir opened #1355 "No transformed depth images at NFOV"
**Describe the bug**
I am getting transformed depth images at WFOV mode, but the NFOV images are not transformed , so there is no color map geometry.
**Screenshots**
**This is the  transformed depth image at WFOV with the following settings**
![Screenshot from 2020-09-16 12-12-55](https://user-images.githubusercontent.com/55912958/93326417-0b8ecc00-f819-11ea-9f7f-aacb1f8eaff5.png)
[code]
**This is

[2020-09-16 11:07] FelipeDelgadoR commented on #1347
I have a similar issue with a camera, it was working a couple of days ago and now is just getting this "full queue" issue, can it be related to windows drivers or something?

[2020-09-16 12:15] RoseFlunder commented on #1355
I thought about it and I think the transformation works and is correct in your pictures.
I think transformation does not mean, that you should get a rectangular image after it. Only that the image looks like it was taken from the perspective of the color camera, so its origin/coordinate system is the one from the color camera.

The reason you have a rectangular image at WFOV is because the depth i

[2020-09-16 14:08] fatihoezdemir commented on #1355
Thank you  for your answer, it clarified my question!

[2020-09-16 14:08] #1355 closed, assigned to nobody

[2020-09-16 15:59] qm13 commented on #1350
@siraj-haid Can you please try to reset the device to factory defaults and then attempt to flash the device. You can find the instructions [here](https://docs.microsoft.com/en-us/azure/Kinect-dk/reset-azure-kinect-dk)

[2020-09-17 02:10] sicheong opened #1356 "Body tracking does not work well"
**Describe the bug**
When a leg is raised high, body tracking SDK can't recognize that leg.
I think it happens when a foot rises above the waist.

**Screenshots**
![ScreenCapture 01](https://user-images.githubusercontent.com/71307173/93411324-df855080-f8d5-11ea-95f1-0194658d0f3d.png)

**Desktop (please complete the following information):**
 - OS with Version: Windows 1903
 - SDK Version:  1.0.1

[2020-09-17 02:54] DWD3 commented on #1346
Hi @qm13  Thanks for the response. Do you have any suggestion on which instance segmentation model to use? Currently I am use the body tracking API to do the job, but as you said, it's a bit of an overkill.

[2020-09-17 12:28] jmachowinski commented on #1354
We debugged this issue further, it seems, the Azure is extremely
sensitive to the used USB host controller.
So far we tested :
Asmedia 3142
 - Not working

Renesas/NEC - µPD720202
 - Not working

Renesas/NEC - µPD720201
 - Working
 - Only one Azure per pcie card
 - Minor frame drops
 - Ros driver failure after ~20 minutes

Fresco Logic FL1100
 - Working
 - Two Azure per pcie card
    - Ros driver

[2020-09-17 13:19] RoseFlunder commented on #1354
Yes it definetly is. Also the choice of USB cabel matters. I hab cables labeled as USB 3.0 that did fail after some minutes. The cable that comes with the kinect itself works the best but it is a bit short.

Have already seen this page?
https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting

"For the Azure Kinect DK on Windows, Intel, Texas Instruments (TI), and Renesas are the only host

[2020-09-17 14:27] gradientLord opened #1357 "body tracking is still slow, latent & inaccurate"
Support for non-Nvidia GPUs + more performant body tracking was promised over 3 months ago yet we haven't seen any progress in the SDK. Can we expect this to happen before the year is over?

**To Reproduce**
1. Run Azure Kinect Body Tracking Viewer.
2. Stand in front of the sensor and make fast arm movements.
3. Observe the accuracy and latency of the joint positions with regard to the real arms.

[2020-09-17 20:58] qm13 commented on #1354
Yes, only select USB controllers are supported per text quoted by @RoseFlunder.

Also make sure you are using Sensor SDK 1.4.1 as we made some changes to improve resilience to dropped color frames. See issue #1194.

[2020-09-17 21:03] qm13 commented on #1352
Some things to consider:

- Please make sure you are on the latest firmware.
- Also what command are you using in green_screen as this can control the color exposure?
- Please include pre and post green screen color camera images?
- What are the lighting conditions of the environment?

[2020-09-17 21:06] qm13 commented on #1353
Use the confidence level to exclude joints not reported by the DNN (generally joints not observed in the image).

[2020-09-17 21:08] wes-b commented on #1347
Are there any errors in the log or shown in K4aViewer on Windows? That should help you determine what is failing in the color camera pipeline.

[2020-09-17 21:08] qm13 commented on #1356
Thus is a known issue. See #738.

[2020-09-17 21:16] qm13 commented on #1357
Thank you for your feedback. We are working on both improving performance and enabling support for non-NVIDIA GPUs (Windows only). We would also very much like to get this into the hands of developers before the end of the year.

When you state "15% of GPU or less" what GPU are you considering as a benchmark?

[2020-09-17 21:20] qm13 commented on #1357
Also see #514, #1016, and #1343.

[2020-09-17 21:46] qm13 commented on #1346
Sorry but I cannot make a specific recommendation.

[2020-09-18 06:00] fshsu opened #1358 "Use Multiple Azure Kinect depth sensors and its FPS"
Is it possible to use multiple Azure Kinect depth sensors to capture a body at 30FPS. For example, the camera is on the left, right and front of the user,  and every depth view at 30FPS? Thanks.

[2020-09-18 08:01] Groulaxx commented on #1347
![Log_viewer](https://user-images.githubusercontent.com/70709016/93571589-f63eac80-f994-11ea-9eb4-69d7ac12f96e.jpg)

This is what I get in log but nothing looks weird to me, and the color camera is looking correctly from k4aViewer, only the recording shows the error mentioned in my original post.

[2020-09-18 09:31] jmachowinski commented on #1354
I was aware of the troubleshooting page. But lets just say the information
regarding linux is sparse...

We are using the latest firmware and SDK 1.4.1

As for our problem, we are currently testing the Fresco Logic
FL1100 with only one camera per host controller. This ran
stable for 3 hours with one camera, yesterday.
We are trying multiple cards with a camera each now.

One thing I noticed while

[2020-09-18 09:45] RoseFlunder commented on #1354
I haven't measured the time at our PCs running the kinects but I think we kept them running for 24h without an error on Ubuntu, with default cable and connected to USB Ports on the Mainboard with Intel Chipset.
Not the ROS Node though but we don't do anything different regarding getting captures compared to the ROS node. Just calling "getCapture" using infinite timeout.
But we also use only one Ki

[2020-09-18 19:23] qm13 commented on #1354
@jmachowinski I have passed you ROS node issue to the Microsoft ROS team.

[2020-09-18 19:33] ooeygui commented on #1354
@jmachowinski When you say the ROS node fails after x amount of time, can you post the failure? Does it crash or start throwing errors?

[2020-09-21 08:23] jmachowinski commented on #1354
@ooeygui The node does not crash, but it stops publishing any data.
The log is full of

As the color stream broke down completely.

I already looked into the code, and have the guess (only a guess, not verified yet) that if
`k4a::device::get_capture()`
is called with timeout infinite the function never returns in case the color stream broke down.

I just looked at the code again, and now I am pret

[2020-09-21 08:55] jmachowinski commented on #1354
As for the long time tests :
2 of 3 cameras stopped sending color images after
some hours. I'll patch in some additional debug messages,
to determine the exact cause of this.

I also noticed, that this is CPU load dependent. Without subscribing to
the topics of the node, the color stream did not drop out (I verified in the code,
that the capture from the camera actually happens in this case). This

[2020-09-21 13:16] NKKD opened #1359 "depthengine_2_0.dll Cannot find or open the PDB file."
Hi,

I installed my SDK using MSI file, trying to run the example cpp file on MSVC2017 WIN10 but I encountered this problem.(figure attached below). Any suggestion to fix this?
Thanks

'ConsoleApplication1.exe' (Win32): Loaded 'C:\Users\jniu0\source\repos\ConsoleApplication1\Debug\ConsoleApplication1.exe'. Symbols loaded.
'ConsoleApplication1.exe' (Win32): Loaded 'C:\Windows\SysWOW64\ntdll.dll'. S

[2020-09-21 17:07] ooeygui commented on #1354
@jmachowinski Thank you for the investigation!
I need to profile the code to see where the slowdown is occurring. We do know that there are some problems with the OpenCV version being used with Melodic, and there are some inefficiencies in the Kinect ROS node. Additionally, since it is using ROS pub/sub without a quality of service monitor, the publishing rate itself may be too fast for the networ

[2020-09-21 17:10] wes-b commented on #1359
By design due to the depth engine being closed source

[2020-09-21 17:10] #1359 closed, assigned to qm13

[2020-09-21 17:18] qm13 commented on #1358
The Body Tracking SDK only supports images from a single camera. That said I am aware of some customers (including Microsoft internal teams) that are using multiple instances of body tracking with overlapping cameras and merging the skeletons taking into account the joint confidence. Running multiple cameras at 30fps requires understanding of the PCs USB controller architecture and bandwidth limit

[2020-09-22 03:27] fshsu commented on #1358
Thanks the reply. We can do the Body Tracking on our development. However, We need the multiple depth cameras solution. Therefore, we would like to confirm the capture capability of Azure Kinect. Can the Azure Kinect get depth view at 30fps on every instance when using 3 instances?

[2020-09-22 06:11] chethanab16 commented on #1340
@qm13 thankyou for the answer.

[2020-09-22 09:01] JimmyTeng opened #1360 "Can not get correct Tof extrinsics?"

[2020-09-22 10:00] #1360 closed, assigned to nobody

[2020-09-22 10:01] JimmyTeng commented on #1360
The depth camera is tilted 6 degrees downwards of the color camera, as shown below.

There are two illuminators used by the depth camera. The illuminator used in narrow field-of-view (NFOV) modes is aligned with the depth camera case, so, the illuminator is not tilted. The illuminator used in wide field-of-view (WFOV) modes is tilted an additional 1.3 degrees downward relative to the depth camera.

[2020-09-22 17:00] jmachowinski commented on #1354
To answer my own question :

The depth data is transmitted in usb bulk mode, so it should be always complete.

I debugged this further and I am pretty sure, we are dealing with a firmware issue
here. My findings so far :
The color stream is an usb isochronous transfer.
Depth and IMU are transmitted as usb bulk transfer.

The isochronous transfer is started in the libuvc part and keeps on
going. Us

[2020-09-23 02:16] yuchienhsiao commented on #536
Hi, @nicolascarre
I would like heve the sample, please
thank you very much.

[2020-09-23 09:50] anselanza commented on #1342
Yes, understood that it is still in development, but was curious if there was any rough timeline? I don't want to put pressure on developers, but since the last update was 5 months ago, I was wondering if it was something coming soon (in the next month) or still half a year away?

[2020-09-23 14:09] jmachowinski commented on #1354
As it might be perhaps useful to someone :
We now found a 4x FL1100 PCIe card from Basler (2000036233).
This one works flawless under linux if only the depth and imu stream is acquired.

We performed a one day test with 5 cameras, without encountering any problems.

[2020-09-23 17:47] gradientLord commented on #1357
Would be optimal to have it run at 15% or below on i9 Intel Integrated Graphics. For AMD, maybe a RX 5300M or equivalent. With the current Nvidia limitation: GTX 1060.

Thanks for linking the topics, they are relevant but I'm asking more for an ETA... curious to know if this is being worked on full time or if the body tracking team has moved on to Hololens or some other project.

[2020-09-24 02:28] tanjasper commented on #980
Is it still the case that one cannot get the raw phase image? Or has there been any change/update to this?

[2020-09-24 12:01] VegetableWithChicken opened #1361 "@HaipengU when i config : deviceConfig.color_format = K4A_IMAGE_FORMAT_DEPTH16; but NativeKinectDevice.start_cameras(&deviceConfig); it is not work otherwise deviceConfig.color_format = K4A_IMAGE_FORMAT_COLOR_BGRA32 .,I want to resolve it ,who can help me 3Q"
@HaipengU Thank you for opening the git hub issue, yes, the depth image contains width * height of uint16_t pixel values, e.g. you can see the documentation of the image format description [here](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___enumerations_gabd9688eb20d5cb878fd22d36de882ddb.html#gabd9688eb20d5cb878fd22d36de882ddb) (K4A_IMAGE_FORMAT_DEPTH16). The buffer store the

[2020-09-24 12:04] VegetableWithChicken commented on #1361
### source
k4a::device NativeKinectDevice = k4a::device::open(DeviceId);
k4a_device_configuration_t deviceConfig;
deviceConfig = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;
deviceConfig.depth_mode = K4A_DEPTH_MODE_NFOV_UNBINNED;
deviceConfig.color_format = **K4A_IMAGE_FORMAT_DEPTH16;**
NativeKinectDevice.start_cameras(&deviceConfig);

but do this ,it will work
k4a::device NativeKinectDevice = k4a::device:

[2020-09-24 19:58] tim-depthkit opened #1362 "Depth map accuracy compared to known ground truth markers is consistently off"
**Describe the bug**
Surfaces generated from Azure Kinect depth maps are not lining up with fiducials detected from IR camera, and are consistently off by around 1cm in front of the depth map.

**To Reproduce**
I created a program to test the accuracy of the Azure Kinect's depth maps as compared to a known ground truth fiducial, detected using OpenCV, and estimating the pose using the IR camera's

[2020-09-25 08:38] yellowfisher commented on #1127
I truly shure azure kinect drop frames, i test with your recorder tool. I suggest you do a test yourselves.

[2020-09-25 09:30] UnaNancyOwen opened #1363 "libsoundio can't build with CMake 3.18"
**Describe the bug**

libsoundio on which Azure Kinect sensor SDK depends can’t be built with projects generated by CMake 3.18 (or later).
However, It can be built with projects generated by CMake 3.17.

I have tried compare the compiler options.
The compiler options of projects generated by CMake 3.17 and CMake 3.18 are as follows.

* K4A/libsoundio_static generated by CMake 3.17
[code]

* K4A/li

[2020-09-25 11:55] siraj-haid commented on #1350
@qm13  I changed the power cable of the Kinect camera and for now the camera stopped crashing. Thank you for your help.

[2020-09-25 11:55] #1350 closed, assigned to qm13

[2020-09-25 12:39] Azzedine-Touazi commented on #1232
Please what about Jetson TX2. When are you expecting the body tracking SDK will be released for Jetson (TX2)? Thanks in advance.

[2020-09-25 14:01] sjdrc commented on #1283
We've been experiencing this exact issue with the LattePanda Delta. It's causing us significant problems. Can someone from the kinect team please give an update on this?

[2020-09-25 22:43] qm13 commented on #1361
@UEBoy2019 k4a_image_format_t values are primarily used to indicate the format of the returned image. The COLOR values also are used as values for setting the color camera capture format. K4A_IMAGE_FORMAT_DEPTH16 is only used in indicating the format of a returned depth image. You second code example is correct. You can also use K4A_IMAGE_FORMAT_COLOR_MJPG and K4A_IMAGE_FORMAT_COLOR_NV12.

[2020-09-26 03:02] qm13 commented on #1232
We will not prevent the Body Tracking SDK being used on a TX2. What frame rate you can achieve is unknown.

[2020-09-26 15:03] Azzedine-Touazi commented on #1232
@qm13  Thanks again!

[2020-09-28 14:33] jmachowinski commented on #1354
@qm13 can your reproduce my findings ?
If not, can I do anything to help to speed this up ?
Provide test cases etc...

[2020-09-29 10:17] UEBoy2019 commented on #1361
have a good happy to u! 3Q

[2020-09-29 10:17] VegetableWithChicken commented on #1361
have a good happy to u! 3Q

[2020-09-29 10:17] #1361 closed, assigned to qm13

[2020-09-29 20:05] SaraHackett13 commented on #427
Does this mean that USB 3.0 hubs cannot be used to support multiple Azure Kinect devices? I plan to use a USB 3.0 hub to connect each camera to a single PC. But I will power each camera with the power cable/adapter that comes with the Kinect. Is this feasible?

[2020-09-29 20:48] SaraHackett13 commented on #971
Is [this cable](https://www.amazon.com/Cable-Matters-Active-Extension-Female/dp/B00DMFB5OK/ref=sr_1_3?dchild=1&keywords=Cable+Matters+5+Meter+Active+USB+3.0+extension&qid=1601412361&s=electronics&sr=1-3) the same USB 3.0 data extension used in your testing?

If so, did you power each extension cable as well as powering each Kinect camera?

[2020-09-30 08:59] VegetableWithChicken opened #1364 "I want to use tansformation depth image to color camera ,but failed"
[code]

[2020-09-30 13:50] tim-depthkit commented on #971
@SaraHackett13 Yes that is the one! We did not need to power the data cable, but we did use a separate USB extender to extend the Azure Kinect's factory power cable.

[2020-09-30 13:58] tim-depthkit commented on #427
You may run into USB bandwidth issues if running multiple Azure Kinects from a single USB3.0 hub, as the hub will need to share bandwidth amongst all connected devices. Ideally each Azure Kinect would have a dedicated full speed USB 3.0 connection (5 Gbps). We've had success with the [this PCIe](https://www.startech.com/en-us/cards-adapters/pexusb3s44v) card that provides 4 full speed ports by uti

[2020-09-30 14:30] sbr-dev commented on #1342
@qm13 Hi !
Could you please give some information about BodyTracking linux support as well ? I need to know if the release might happen soon or not so we can device if w need to create something ourself for body tracking support on linux platform

[2020-10-01 08:20] anselanza commented on #1342
As far as I know, Body Tracking works just fine on Linux! See https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-download#linux-installation-instructions

But currently it only works for x64 architecture. Whereas I would like to try running this on a Jetson Xavier, which uses ARM64.

[2020-10-01 16:44] diablodale opened #1365 "several body tracking APIs missing const qualifier, prevents const objects/variables"
Multiple C++ APIs for body tracking are missing the `const` qualifier. By not having `const` on these c++ member functions, it prevents the use of const objects. Such objects are desired by style, coders, and compliers.

I have so far found the following. There may be others. These all return POD. I don't readily see any reason to prevent them being `const`.

[code]

## Setup

Microsoft Windows [V

[2020-10-01 17:45] foohyfooh opened #1366 "Address Sanitizer cuases libdepthengine.so.2.0 to not be found"
**Describe the bug**
When using the Azure Kinect SDK release 1.4.1 with [Address Sanitizer](https://clang.llvm.org/docs/AddressSanitizer.html), the libdepthengine2.0 dll fails to load.

**Code To Reproduce**
CMakeLists.txt
[code]

main.cpp
[code]

build.sh
[code]

**Expected behavior**
I expected the dll to be located since it is found when ASAN is disabled.

**Logs**
Logs if libdepthengine2.0.dll

[2020-10-01 18:56] DanielEliasib opened #1367 "Body tracking not working from Unity on Windows 2004"
**Describe the bug**

I'v being fighting with this bug for several day. I have a Unity project that uses the C# wrapper. One day it randomly started to crash all the time and after creating a fresh one and debugging I was able to find that the problem came from: `Microsoft.Azure.Kinect.BodyTracking.Tracker.Create();`. In the fresh Unity project it would log **K4A_RESULT_FAILED**.

Then I realised

[2020-10-02 01:06] UnaNancyOwen opened #1368 "CMake warnings occurs from dependencies"
**Describe the bug**

CMake warnings CMP0063 and CMP0048 occurs from dependencies.
Some developers unfamiliar with CMake will mistake these for errors, because it shown in red-color character.
I suggest to suppress these warnings.

**To Reproduce**

1. clone Azure Kinect Sensor SDK
2. cmake configure, and show some warnings

**Expected behavior**

**Logs**

[code]

**Screenshots**

![2020-10-02_09

[2020-10-02 15:44] wes-b commented on #1354
Do you have a workaround to this problem using the above USB Host controllers? A workaround meaning K4AViewer runs without stopping the stream? ```DecodeMJPEGtoBGRA32``` errors are to be expected when USB is congested.

Fresco Logic FL1100

I am curious if this issue repro's with firmware [1.6.102075014](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#msis)? Can you

[2020-10-02 17:45] jmachowinski commented on #1354
No, using the FL1100 controller made this more stable, but after around 40 minutes the color stream drops out.
We use a setup, were each camera has its own USB Host controller, so the load per bus is neglectable (~1.8 mb/sec for depth and around 3.8 mb/sec for color). Therefor the dropouts in the color stream are already strange.

We'll perform tests on monday, and will report back.

We performed

[2020-10-02 19:53] diablodale opened #1370 "body tracking SDK logging message handler like core K4A SDK"
Request K4A Body Tracking SDK to implement equivalent of `k4a_set_debug_message_handler()`

Currently, there is no documented way to programmatically disable K4A Body Tracking logging. Due to the questionable error levels assigned to events https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1266 this results in tremendous levels of spamming to the output in some situations. For example, `

[2020-10-02 20:19] wes-b commented on #1364
tansformedImage is not initialized property, try:

[2020-10-02 20:53] wes-b commented on #1354
Your results are inline with what we have seen on Windows, where we have seen more of a variety of controllers. The unfortunate fact (perhaps fortunate depending on how you look at it) is that typically using an unsupported host controller fails miserable right away. In this case the controller seems to run really well until the error hits.

[2020-10-03 15:38] diablodale opened #1371 "add variadic `k4a_transformation_depth_image_to_color_camera_custom()` for multi image transforms"
I request an API similar to `k4a_transformation_depth_image_to_color_camera_custom()` with a variadic signature that can support, for example, transformation of depth, ir, bodyindex in one call.

An API which does this work in one call replaces today's approach which requires multiple serial calls which duplicate work/memory on CPU and GPU. Naturally, the C++ wrapper should be updated to use the n

[2020-10-04 08:49] knat opened #1372 "(HIP_LEFT,HIP_RIGHT)'s orientations are actually (KNEE_LEFT,KNEE_RIGHT)'s"
[code]
They are orientations of bones marked with red:
![0](https://user-images.githubusercontent.com/10220052/95011059-9a487900-0660-11eb-9e91-65f65d6f0728.png)
![1](https://user-images.githubusercontent.com/10220052/95022315-1ff01700-06a9-11eb-8b12-5a57198aa99b.png)
The same confusing applies to CLAVICLE_LEFT and CLAVICLE_RIGHT.
As far as I know,  bones marked with green have no orientations(or

[2020-10-04 14:28] diablodale opened #1373 "add check for nullptr handle in body track c++ `shutdown()`"
The `k4abt::shutdown()` api doesn't check its `m_handle` before calling the C api `k4abt_tracker_shutdown()`. This is a minor inconsistency as compared to its sibling `k4abt::shutdown()` which *does* check its handle with `if (m_handle != nullptr)`.

## Ask

I request the handle test be added to `k4abt::shutdown()` so to be in alignment with its sibling `shutdown()` and remove boilerplate from use

[2020-10-04 20:28] jessekirbs opened #1374 "OpenCV KinectFusion Sample - Questions"
Hello,

I have a couple questions about this software that I can't find the answers to.

- Can this be used with multiple Kinects for Azure?
- Does this software handle the calibration of the Kinects? I don't quite understand what it means by 'how to feed calibration'. Do the Kinects need to be calibrated with other software first?
- Can this software be used to merge and mesh pointclouds that hav

[2020-10-05 12:43] greatwallet opened #1375 "The device keeps blinking in device manager"
## System
* OS: Windows 10
* CPU: Intel i7 8700
* RAM: 16G

## Problem:
When I tried to connect Kinect DK to PC for second time, the `Azure Kinect Viewer`  does not detect any device.
And the LED light white with a frequent pause (like every 2-3 seconds), while the device manager detects `4K Camera` but kept freshing up with same frequency.

Have tried several PCs, and same problem occurs.

<b>Not

[2020-10-05 17:45] qm13 commented on #1372
We are confused as to what you are asking? Are you asking why the hip orientation is the same as the knee orientation?

[2020-10-05 18:25] knat commented on #1372
Hi,
[code]
`SPINE_NAVAL_Q` is the orientation of the bone that points to SPINE_NAVAL joint:
![1](https://user-images.githubusercontent.com/10220052/95116400-8e040f00-0779-11eb-9133-aa7424d89cf0.png)

[code]
Is `HIP_LEFT_Q` the orientation of the bone that points to HIP_LEFT joint? No, it's the orientation of the bone that points to KNEE_LEFT joint.

It's not a bug, but very confusing. It takes me

[2020-10-05 18:27] qm13 commented on #1375
@greatwallet the blinking white LED indicates that the device is connected to a USB2 interface. It requires USB3. Can you please verify that you are connecting it to a USB3 interface? Please use the supplied cables. If can confirm you are using a USB3 interface and it still does not work then please test with an alternative USBA - USBC power+data cable or a USBC-USBC power+data cable.

Phone charg

[2020-10-05 18:34] qm13 commented on #1374
@jessekirbs the KinectFusion example only uses one Azure Kinect DK. Please look at the [green_screen](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/green_screen) sample for multi-camera support including calibration. You should be able to use learnings from the green_screen sample to enhance the KinectFusion example for multiple AKDKs.

[2020-10-06 00:16] maruta commented on #1125
I'm experiencing a problem with k4abt_simple_3d_viewer.exe on a Windows machine with RTX 3080, where the tracking window doesn't appear and not even a log file is generated.

I'm beginning to suspect that a lower version of the bundled CUDA is the cause, as it works when I remove the RTX 3080 and install a much older GT710, and it works even with the CPU options specified.

For your information, t

[2020-10-06 02:46] jessekirbs commented on #1374
@qm13 Appreciate the reply! Are you able to expand on this:

Can this software be used to merge and mesh pointclouds that have been previously recorded? Or is it only realtime? I'd like to record a sequence of multiple aligned pointclouds and then use this software to merge and mesh them. Is that possible?

Thank you!

[2020-10-06 11:42] Vangos commented on #1230
The issue is also occurring in C# and Unity3D. You can reproduce it easily:

### Unity3D
- Start any Kinect Unity application.
- Open the Profiler.
- Select Memory.
- Take a sample.

On some computers, `ManagedHeap.UsedSize` reaches 1 GB within a few seconds and keeps growing. Also, you'll notice that the Task Manager's memory consumption is increasing.

[2020-10-06 15:53] jmachowinski commented on #1354
We performed the tests with the older firmware, the behavior is the same as with the newer firmware.

Is there a particular reason, why the color image is transmitted in isochronous mode ?
The bulk transfer seems to be stable, and would likely solve this issue.

[2020-10-06 21:06] qm13 commented on #1125
We have had several reports of issues with the RTX 3080. The issue is likely with CUDA version which is an ONNX Runtime dependency. We are working with the ONNX team to make sure this is addressed in the next release of the Body Tracking SDK which is targeted for end of October / early November.

[2020-10-07 07:31] jmachowinski commented on #1354
I started a second test yesterday, just letting a webcam viewer run.
Turns out, using the in kernel uvc driver (e.g. opening /dev/video0) seems stable.
The viewer has now been running for ~12 hours and the video stream is still working.

[2020-10-07 10:45] nvibd commented on #1245
:heavy_plus_sign:

Also running into this limitation, preventing better performance.

I'd really prefer a `k4a` device image type over an OpenCV one, though. Using an OpenCV type introduces a huge dependency, as well as additional licensing bureaucracy.

IMHO, a good location for introducing this is as early as needed to avoid any device->host copies. Maybe even in the device handle configuration.

[2020-10-08 23:48] unbeschwert opened #1376 "Writing image buffer data to JPEG file"
**Describe the bug**
I have written the following c++ code to capture the color image and write the image buffer data to the JPEG file.
[code]

I start the device cameras using the following configuration:
[code]

However, when I open the JPEG file, I dont see anything. I get the following error "File can't be opened". I did try to write the buffer data to console and it appears to be correct.

**

[2020-10-09 02:18] UEBoy2019 commented on #1364
sorry to tell u,  it will go to :  catch (k4a::error captureError),   still.

[2020-10-09 02:25] VegetableWithChicken commented on #1376
i think u should
first  file_object.open(),
and just call once to save image,
then file_object.close().

[2020-10-09 06:59] VegetableWithChicken opened #1377 "k4a_transformation_depth_image_to_color_camera(...) ,it need to set k4a_image_format_t= K4A_IMAGE_FORMAT_DEPTH16，but i set this , the camera is not work,what 's wrong ?"
NativeKinectDevice = k4a::device::open(DeviceId);
deviceConfig = K4A_DEVICE_CONFIG_INIT_DISABLE_ALL;
 deviceConfig.depth_mode = K4A_DEPTH_MODE_NFOV_UNBINNED;
 deviceConfig.color_format = K4A_IMAGE_FORMAT_COLOR_BGRA32;
//deviceConfig.color_format = K4A_IMAGE_FORMAT_DEPTH16;
deviceConfig.color_resolution = K4A_COLOR_RESOLUTION_1080P;
deviceConfig.synchronized_images_only = true;
 deviceConfig.wired_

[2020-10-09 09:28] VegetableWithChicken commented on #1364
3Q, u are right ,use this func,
the answer question  maybe is what i use c type to define cali,otherwise cpp type;
last do this , it will work well ,
k4a::calibration cali=k4a::transformation(cali)；
NativeKinectDevice.start_cameras(&deviceConfig)；
k4a::image depth = sensorCapture.get_depth_image();
k4a::image tansformedImage==trans.depth_image_to_color_camera(depth)；

[2020-10-09 12:59] unbeschwert commented on #1376
Hi @UEBoy2019 I dont think that's the problem. I digged through the microsoft STL and found that the [write](https://github.com/microsoft/STL/blob/a6c10429b6326aa92b3e410ed6a1f3fa13ffa571/stl/inc/ostream#L526) function uses [sputn](https://en.cppreference.com/w/cpp/io/basic_streambuf/sputn) function which writes to the stream buffer which is managed by the file_object. Hence, I think we dont need

[2020-10-09 21:19] ChristopherRemde opened #1378 "Manual exposure has much lower brightness than auto exposure"
**Describe the bug**
When a kinect is set to manual exposure mode, and the device is then closed and opened again, the brightness of the RGB image is much lower after the restart. Even if the exposure step is turned to it's maximum value, the image doesn't get as bright as when auto exposure is enabled. Maybe related to #1352 and #549

**To Reproduce**
1. Open Kinect Viewer
2. Open a Kinect Device

[2020-10-09 22:21] piquan commented on #1299
I'm not involved in this project; I just stumbled on the thread while doing something else.  But I may have relevant information.

To answer your caveat first: the USB Video Class standard specifies that MJPEG uses 4:2:2.  See https://www.usb.org/sites/default/files/USB_Video_Class_1_5.zip , document "USB_Video_Payload_MJPEG_1.5.pdf", page 9: "The following structure is required for the image data

[2020-10-12 03:18] yeongwoonIm opened #1380 "it looks like distorted Depth Image of Object"
Depth Image of Object looks like distorted.

Mode : NFOV unbinned

Depth Original Image
Depth Image is just expressing Depth as RGB(255,255,255).
![depth](https://user-images.githubusercontent.com/12051241/95701158-ca58d300-0c83-11eb-8431-8fc4ee3c6c67.png)
IR Original Image
IR Image is threshold of 350.
![IR](https://user-images.githubusercontent.com/12051241/95701166-cdec5a00-0c83-11eb-814a-ff920

[2020-10-12 03:26] Henrilux opened #1381 "OpenCV issue"
Hi,

I'm trying to deploy this SDK in China but having network issue due to "the firewall".

I **installed OpenCV supplied and the powershell script failed to function.**

Is there a way I could manually config OpenCV2, k4a, and re-route lib folder?

attached screenshot for reference

![issue](https://user-images.githubusercontent.com/43144582/95702055-d0e44c00-0c7d-11eb-960d-ef223191411a.png)

[2020-10-12 04:16] VegetableWithChicken commented on #1380
Capture cap=k4a::capture::create();
device.get_capture(cap);
k4a::image color=cap.get_color_image();
k4a::image depth=cap.get_depth_image()
k4a::image ir=cap.get_ir_image()

[2020-10-12 12:23] benMOOVENCY commented on #1367
Hello @DanielEliasib  you could look these issues
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/932. https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1147

there is maybe a pb with the onxruntime.dll

[2020-10-12 17:09] qm13 commented on #1381
Please redirect your question to an OpenCV forum.

[2020-10-12 17:14] qm13 commented on #1380
Could you please share the original image prior to un-distortion.

[2020-10-12 17:28] diablodale commented on #1299
thanks for sharing @piquan, I follow along with what you wrote. Reading yours and referring again to docs like https://docs.nvidia.com/video-technologies/video-codec-sdk/nvdec-video-decoder-api-prog-guide/index.html and https://docs.nvidia.com/cuda/nvjpeg/ lead me to think that...please *do* correct/learnt me 😉...

1. Every GPU is different. For example, NVidia hardware (both CUDA cores and NVDEC

[2020-10-13 00:08] qm13 commented on #1376
The fix is like to add a binary format to ```ofstream```.

    std::ofstream file_object("hello_rgb.jpeg", std::ios::out | std::ios::binary);
    file_object.write(reinterpret_cast<char*>(image_buffer), image_buffer_size);
    file_object.close();

[2020-10-13 01:07] yeongwoonIm commented on #1380
Those Images are Original Image. it just coded.
This is viewer Image
![viewer](https://user-images.githubusercontent.com/12051241/95803726-d4d6a380-0d3b-11eb-9d5a-ee7862983f36.png)

I tested lens undistortion.
I got lens parameters from this code.

Calibration calibration = device.GetCalibration();
var cal = calibration.DepthCameraCalibration;
Console.WriteLine(string.Format("width:{0}", cal.Resol

[2020-10-13 01:12] yeongwoonIm commented on #1380
it;'s C++ Code.
I code C#. and it may be same.

Capture capture = device.GetCapture();
short[] realtime_depth = capture.Depth.GetPixels<short>().ToArray();
short[] realtime_activeIR = capture.IR.GetPixels<short>().ToArray();

[2020-10-13 02:39] yeongwoonIm commented on #1306
That I am looking for to it.
I have same problems.
I think that the problem is lens distortion.
2D Depth Data has been applied undistortion. but not perfectly.
so I requested it #1380

[2020-10-13 05:39] juspus commented on #1306
These two issues are not related. It is stated in Azure Kinect Documentation that 2D images of Depth camera are to be  distorted by default. However, transformed 2d to 3d should yield accurate undistorted results. Thus is my issue, I am receiving inaccurate results after performing 2d Depth to 3d depth/color transformation.

[2020-10-13 06:13] DirkKramer commented on #1380
#1238  had the same issue. It was believed that it's an hardware error, but it's not.

[2020-10-13 07:00] isaacwong96 commented on #536
I'm in a similar situation,too.May I have the sample?
Thank you very much.

[2020-10-13 08:04] yeongwoonIm commented on #1380
#1238 is closed...
is it solve?? or still processing??

[2020-10-13 08:37] DirkKramer commented on #1380
The depthimage is still distorted, but in our usecase I found a workaround.

In our case we want to detect objects in the color images and use that detection to filter the pointcloud.

_First we crop out the depthimage out of the color image._
so for example if you use NFOV Unbinned with 720p color resolution.
-Color =1280x720
-Depth=640x576

You crop your color image to:
X=1280/2-640/2
Y=720/2-57

[2020-10-13 23:52] qm13 commented on #1380
The wide field of view of the AKDK depth sensor meant it was more optimal to use an f-theta (fisheye) rather than a rectilinear lens (e.g. a typical photographic camera or most machine vision cameras). This results in barrel distortion that results in some flat objects appearing curved, similar to a color image taken through a fish-eye lens. Most competitive products do not have such a wide field

[2020-10-14 00:55] #1364 closed, assigned to qm13

[2020-10-14 00:56] #1377 closed, assigned to qm13

[2020-10-14 02:48] yeongwoonIm commented on #1380
Wow~
You have done great job !!
it's really helpfull

[2020-10-14 02:56] yeongwoonIm commented on #1380
Thank you for good advice.
the distortion almost removed.
![undistortion](https://user-images.githubusercontent.com/12051241/95937769-7977e480-0e13-11eb-8c3b-556c7469a24b.png)

and I want to ask one more things.

How can I get IR data?
I can't see code of getting IR data in C# API.

this function return only Depth Datas...

//C# Code
//width & height will change [640x576] to [1280x720]

I found th

[2020-10-14 09:46] VegetableWithChicken opened #1382 "convert k4a::image to cv::Mat ,and it will stutter after about a minute later"
**Environment:**
win10;
VS2017,
i7-9700KF,
RAM:48G,
2080TI；
UnrealEngine4.25.3

**question One:**
i convert k4a::image to Mat,and Mat to Texture2D of unreal engine 4.25.3,but it will  cyclical stutter after about a minute later,
i think the problem is what AzureKinectDK will Memory recycling when RAM is almost full or cycle time
right ?please help me !!!

**question Two;**
do this:
k4a::image tans

[2020-10-14 18:56] unbeschwert commented on #1376
@qm13 Thank you. That worked. I will close this issue.

[2020-10-14 19:55] lisajamhoury commented on #1242
@hpsinghjk Did you solve this issue? Having the same problem and cannot find a solution.

[2020-10-14 20:49] lisajamhoury commented on #1242
We fixed this with the firmware update. https://docs.microsoft.com/en-us/azure/kinect-dk/update-device-firmware

[2020-10-14 21:00] unbeschwert commented on #1376
Hi @qm13  I am reopening this issue because I have found some issues with the image that is being produced.
# Issue 1: Distorted image
Sometimes the image generated using the above code looks distorted. Below image is a pretty good example

![hello_rgb](https://user-images.githubusercontent.com/56976873/96044103-37c95700-0e70-11eb-88ab-b537cacb640f.jpeg)
### Note:
This happens only few times. Not

[2020-10-15 05:28] hanseuljun opened #1383 "suggesting a function that returns whether a depth pixel may return a valid value"
**Is your feature request related to a problem? Please describe.**

Depth frames from Azure Kinects contain pixels that never returns a valid value, resulting in a hexagon-like shape when removing them. If which pixels will never give a valid value can be known, it would be an optimization opportunity.

**Describe the solution you'd like**

A function with row/column that returns true if the corre

[2020-10-15 07:12] piquan commented on #1299
That’s interesting!  I agree with your conclusions; this seems to be gated on the idea that the UVC standards require 4:2:2, and (not knowing anything about this project) the firmware should conform to the standards without explicit instructions to the contrary.  As you point out, some use cases may benefit from 4:2:0, but presumably that would need special dispensation.  That said, I don't think

[2020-10-15 15:46] qm13 commented on #1382
The machine looks well capable of running this application. To check please run k4aviewer with color and depth on for at least an hour. If all ok then you need to start peeling the onion. Comment out all Unreal and CV functions. Does it run ok? Add back CV. Does it run ok? etc...
Without seeing all the code for the get capture loop it is hard to tell where the issue is.

[2020-10-15 15:47] wes-b commented on #1382
Make sure you are releasing the color and depth images

[2020-10-15 15:55] qm13 commented on #1376
This may be the cause of your issue. Make sure you [use flush](https://stackoverflow.com/questions/5036878/why-does-ofstream-require-a-flush) before closing the file.

[2020-10-15 19:49] unbeschwert commented on #1376
@qm13  Yes this worked. Thank you! Is there a place where these "gotchas" are documented ? These minor issues are increasing dev time more than I would like to admit.

[2020-10-15 19:49] #1376 closed, assigned to qm13

[2020-10-16 03:36] initialneil opened #1384 "Device timestamp slower than reality"
**Describe the bug**
Use Azure Kinect to capture celephone's stopwatch and record device timestamp at the same time. The device timestamp is slower than captured stopwatch image. See the sample and table below:
![image](https://user-images.githubusercontent.com/4156648/96208567-6c3c3080-0fa0-11eb-991f-36c378b06e86.png)
![image](https://user-images.githubusercontent.com/4156648/96209870-3cdaf300-0f

[2020-10-16 06:52] DirkKramer opened #1385 "Water resistance Azure Kinect Device"
In our case water may come near the Azure kinect device. My question is: what is the IP rating of the device.

Also if the device is not water resistant, how to enclose the device in a way to make it water resistant, maybe someone with experience in this field. Obvisously covering up the front with plexiglass will obstruct the Depth camera.

[2020-10-16 07:08] #1382 closed, assigned to qm13

[2020-10-16 10:15] g212 commented on #992
@devLupin
@qm13

Thank you @devLupin for sharing this question. I was wondering if you were able to find the solution for this challenge that needs better documentation from Microsoft.

Did you find the right pc requirements (GPU, CPU, RAM...) for connecting the 4 cameras?
Were you able to create your tracking system with the 4 cameras?

I will truly appreciate your support here since I found myse

[2020-10-16 12:25] rcffc commented on #1325
@qm13 Thanks, it was quite hard to find.

[2020-10-16 16:49] diablodale commented on #1299
Thank you much - generous writing. There is good learning in this for strategy, and some meta which surfaced a feature I can see valuable for my customers 🙌👍

[2020-10-16 20:20] jcova1996 opened #1386 "Computer Recommendations"
Hi,

I was wondering which computer Microsoft recommends using if I am planning to use 8 Kinects connected to one computer through USB-C to USB-C cables for a body scanning application.

[2020-10-16 23:41] mpdroid commented on #1263
These are the steps I followed to install k4a-tools, libk4a and libk4abt on Ubuntu 20.04. The general steps are as outlined in
https://docs.microsoft.com/en-us/azure/Kinect-dk/sensor-sdk-download, with a couple of hacks to make things work on 20.04.
- use of 18.04 repo, even though OS is 20.04
- installed lower versions of tools and libraries (as latest versions of sensor and body tracker don't se

[2020-10-17 09:12] jmachowinski commented on #1358
Yes, we got up to 5 cameras working.
Keep in mind, you may need additional USB host controllers.
Also it won't work on integrated graphics.
We got 2 camera working with 30 fps using an integrated graphics chip of an i7-7700T.
For 5 camera we needed to switch to at least an 1050 TI graphics card.

[2020-10-17 14:22] jmicho opened #1387 "Repeated execution of body tracking results in "CUDA out of memory" errors"
**Describe the bug**
Repeated execution of a process using body tracking finally results in "CUDA out of memory" errors.

**To Reproduce**
Run
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/offline_processor
in a shell loop. After some time it will start throwing the error after every run.
Caution: `offline_processor` has a bug and doesn't destroy the tracker,

[2020-10-18 02:49] VegetableWithChicken opened #1388 "I want to know whether the kinectDK has models to provided"
The model of the official coordinate system is marked. Is there a corresponding model to be provided for the convenience of art colleagues to build models
[here ](https://docs.microsoft.com/zh-cn/azure/kinect-dk/body-joints)

[2020-10-18 03:49] devLupin commented on #992
@g212

The only way I came up with is to use threads.

As a result, it's impossible for me.

My system is real time system.
Some of the data was empty. So, the desired result was not produced.

In the end, I configured one camera on one PC.

[2020-10-18 14:13] SatishBoddu-MSFT commented on #1382
Hello @UEBoy2019 Could you please accept the same response posted over [the Q&A forum](https://docs.microsoft.com/answers/answers/129465/view.html) ? So that we can close the thread and it will be helpful to other members as well. Thanks for your understanding and for contributing to this page and product.

[2020-10-18 14:15] VegetableWithChicken commented on #1382
OK

[2020-10-18 14:30] VegetableWithChicken commented on #1382
I have solved the problem successfully

void AzureKinectDevice::k4a2TextureRGB(k4a::image inImg)
{

	uint8_t* data = inImg.get_buffer();
	int T_Width = inImg.get_width_pixels();
	int T_height = inImg.get_height_pixels();
	UTexture2D* NewTexture = UTexture2D::CreateTransient((int32)T_Width, (int32)T_height);
	//if it's size is stable，shouldn't create Utexture2D in while() loop func or tick
	void* D

[2020-10-19 11:24] g212 commented on #992
Thanks @devLupin for your reply! I'm sorry to hear it didn't work.

Hi @qm13, could Microsoft help us with more guidance around this issue? Currently, you advertise the solution to allow a smooth integration between cameras, but it's clear that your developers could use your support. Buying and testing GPUs is not viable for most of us, but you do have the resources.

[2020-10-19 17:04] qm13 commented on #1388
@UEBoy2019 could you provide us more info on this request?

[2020-10-19 17:08] qm13 commented on #1386
@jcova1996 we cannot make a recommendation. A number of developers have shared computer specs on this repo. Please search for this on open and closed issues. See #971 as an example.

[2020-10-19 17:11] qm13 commented on #1385
@rapidengineering Azure Kinect DK is splash proof. It is not water resistant. We have no experience with water tight enclosure for Azure Kinect DK.

[2020-10-19 17:22] qm13 commented on #1387
@jmichon Please test this on Ubuntu 18.04. We currently do not support 20.04.

[2020-10-19 18:09] qm13 commented on #1384
@initialneil the Azure Kinect DK timer will drift (as does any time). You will need to compensate for this drift on your host compute (which presumably has a more accurate timer or NTP support).

[2020-10-20 06:57] DirkKramer commented on #1385
@qm13 Okay, splash proof is not sufficient for our application. So we have to make a water tight enclosure. Which kind of glass/plastic can we use without obstructing the TOV sensor.

[2020-10-20 10:05] VegetableWithChicken commented on #1388
I’m making a dress-up demo, and I hope to have a matching model so that I can make clothes

[2020-10-20 16:45] starlee94 opened #1389 "Kinect Azure Body Tracking Coordinate Mapping"
Hi guys, I am currently in the progress of converting my Microsoft Kinect V2 project to an Azure Kinect project and I encountered a problem with Mapping joint position to Color and Depth space. MY project was written in C#, there weren't much documentation for Body Tracking SDK in C#, the code I am having issue are as below:

![Capture](https://user-images.githubusercontent.com/20609628/96617114-1

[2020-10-20 17:25] madhan001 opened #1390 "AMD x570 compatibility"
Is the Azure kinect compatible with the AMD x570 (MSI x570 Tomahawk) chipset's USB 3.1 controller? I don't see any information regarding compatibility with AMD chipsets but only Intel ones.

[2020-10-20 18:57] RoseFlunder commented on #1390
I have tested the azure kinect briefly on a Windows PC with a MSI X570 Carbon Wifi Mainboard and AMD Ryzen 3700X.
The k4a viewer worked without issues.
Haven't done any longtime testing though.

[2020-10-20 19:02] madhan001 commented on #1390
Was it tested with the back panel port ? Linux or windows ?

[2020-10-20 19:06] RoseFlunder commented on #1389
Hi,
to convert a 3D position (like from body tracking) to one of the 2D coordinate systems you can use these functions:

https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions

You can also find the C# API reference on the website for corresponding C# functions.

[2020-10-20 19:08] RoseFlunder commented on #1390
Yes, the device was connected via the backpanel usb ports and the pc was running with windows 10.

[2020-10-20 19:30] madhan001 commented on #1390
Thanks for answering my questions

[2020-10-20 19:30] #1390 closed, assigned to nobody

[2020-10-21 01:22] #1380 closed, assigned to qm13

[2020-10-21 02:52] VegetableWithChicken commented on #709
Thank all ;
the log
a part of log
[2020.10.21-02.11.55:618][  0]LogSerialization: Warning: Attempting to load a BulkData object that cannot be loaded from disk
[2020.10.21-02.11.55:618][  0]LogSerialization: Warning: Attempting to load a BulkData object that cannot be loaded from disk
[2020.10.21-02.11.55:619][  0]LogSerialization: Warning: Attempting to load a BulkData object that cannot be loade

[2020-10-21 04:50] syuenminleong opened #1391 "Having problems with azure kinect on unity."
I currently facing some problems when using Azure Kinect on Unity and I want to ask for advice. Below I have share my google drive link, inside the file got one video I recorded the problem I am facing right now and a zipped file with my source code. The video you can see that I am trying to grab the object on the right, but the object in the middle is grabbed, and the detection of my hand is also

[2020-10-21 07:36] mfoco opened #1392 "Provide CMAKE files in Windows"
**Is your feature request related to a problem? Please describe.**
We're developing a multi-platform project based on CMake. On Linux we can point to the .cmake files provided by the linux installer, on windows we had to manually hack together such files.

**Describe the solution you'd like**
Having the .cmake files distributed in the windows installer

**Describe alternatives you've considered**

[2020-10-21 08:04] sjdrc commented on #1358
How many cameras could you get running on a single USB3 host controller?

[2020-10-21 10:10] starlee94 commented on #1389
@RoseFlunder Thank you for directing me to the right direction! I have found the solution.

[2020-10-21 11:58] SirLynix opened #1393 "Generate a Color to Depth mapping image?"
Hi, [obs-kinect](https://github.com/SirLynix/obs-kinect) dev here.

When I made the plugin with KinectV1 (Kinect for 360) and KinectV2 (Kinect for Xbox One) I could generate color, depth and infrared images and a color to depth image (an image containing X and Y coordinates to the depth image for every coordinate).

This was generated using `INuiCoordinateMapper::MapColorFrameToDepthFrame` for Kin

[2020-10-21 12:03] SirLynix opened #1394 "Depth engine doesn't like black hair and black headset a lot."
**Describe the bug**
When using Azure Kinect with a depth output, the reported depth for my black hair and headset is zero.

**To Reproduce**
Wear a headset or have black hair, open Azure Kinect Viewer and look at the depth values (or just see the black area) on the depth image.

**Expected behavior**
I expected Azure Kinect to be able to compute depth in this case, as Kinect for 360 and Kinect fo

[2020-10-22 02:07] shibata9715 opened #1395 "Error when trying to substitute the captured depth image data into a pointer"
Dear sir.

I tried to substitute the captured depth image data into a pointer. However I got the following error when executing due to the following code:

const uint8_t* d_data = (uint8_t *)(void *)depth_image.get_buffer();

Error message is:
[t=19632] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\image\image.c(389):Invalid argument to image_get_buffer(). image handle (0000000000000000)  is not a v

[2020-10-22 05:17] ponyzhou404 opened #1396 "What the coordinate system of point cloud is?"
Hello,

when I'm tried to  acces the center point of a point cloud, which made by:

[code]

it shows the xyz as  (-1,-7,535).
Which in my opinion should be (0,0,535).
Is the coordinate system of the point cloud different from the rgb camera?

Thank you.

[2020-10-22 06:39] shibata9715 commented on #1395
I found the reason of the error.
Thank you!

[2020-10-22 12:01] diablodale commented on #1396
The point cloud origin matches the color camera physical origin due to your parameter of  `K4A_CALIBRATION_TYPE_COLOR`

What do you mean when you write "center point of a point cloud"? There are too many possible definitions of that.

The variance you wrote is a difference of 1 millimeter in the X, and 7 millimeters in the Y, and exact in Z.
It might be possible that the implementation of `k4a_tra

[2020-10-22 13:36] karolsenami commented on #1385
Maybe use Google

[2020-10-22 13:46] karolsenami opened #1397 "Unity | Can't display color or depth image in the Body Tracking example"
**Description**

I am trying to create a script to display Depth and Color images on a `RawImage` object.
I added to the `DeviceConfiguration` : `ColorResolution.R720p, ImageFormat.ColorBGRA32`
Then assigned it to the `currentFrameData` by modifying `BackgroundData` and `SkeletalTrackingProvider`.
But I'm having trouble on retrieving the bytes in a good format. I can't find any help online, and I

[2020-10-22 15:38] qm13 commented on #1395
shibata9715 would you mind posting your solution.

[2020-10-22 15:39] #1395 closed, assigned to qm13

[2020-10-22 15:53] wes-b commented on #1392
We are tracking this ask with #370

[2020-10-22 15:57] #1389 closed, assigned to qm13

[2020-10-22 16:16] qm13 commented on #1393
@SirLynix there is a color to depth transformation function ```k4a_transformation_color_image_to_depth_camera```. This is an expensive function (as were its v1 and v2 predecessors) as it first must cast a ray from depth to color and then transform pixels back to depth,

[2020-10-22 16:21] SirLynix commented on #1393
Thanks, but as far as I understood it doesn't generate the same thing. Kinect v1 and Kinect v2 generate a color to depth mapping texture (containing coordinates). If I understood correctly this function directly maps the image.

[2020-10-23 00:37] shibata9715 commented on #1395
Dear qm13
Thank you for leaving a message.
It is presumed that this error was caused by doing ”get_buffer” after releasing the depth image handle.
I did ”get_buffer” before releasing the depth image handle and no error occurred.
The modified code is shown below.

// Modified by Satoru Shibata

#include "kinect.hpp"
#include "util.h"
#include <sstream>
#include <stdexcept>
#include <chrono>

// Err

[2020-10-23 05:41] JBYoshi commented on #1248
I'm having trouble with this as well. I'm experiencing problems with #1187 on libk4a1.3, which should be fixed in libk4a1.4. However, I also need access to body tracking, so I can't currently update to the newer version until a compatible body tracking SDK is released.

[2020-10-23 05:43] bearpaw commented on #1304
I have the same issue by running `k4abt_simple_3d_viewer` after I upgraded the nvidia driver to  455.23.05.

[2020-10-23 16:05] henryo12 commented on #1367
I was experiencing the same issue. My project runs as expected inside the Unity Editor, but when I build the code, the exe fails on the Tracker.Create(). I copied onnxruntime.dll and dnn_model_2_0.onnx next to the exe and everything worked.

[2020-10-23 17:11] kkh3049 opened #1398 "Pockets of Variation or Invalidation of Depth travel through Depth image"
**Bug Description**
While having the Kinect mounted looking down, and viewing the Depth viewer, I will notice every few seconds or so, a Black elliptical form (or multiple) travel through the Depth Camera view.  We've been working with the Kinect since the beginning of the year, and have not seen this before.  What's worse, these artifacts (which I noticed from invalidation assigning the pixel val

[2020-10-24 19:00] zliuchen opened #1399 "what version of Visual Studio to use, for both Sensor SDK and body tracking SDK?"
Hi, there,
    From this page:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md
    It is mentioned that we shall use **VS2017** in order to build and install the sensor SDK.

   However, from this page:
https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-setup
    It is recommended we install the **VS redistributable for VS 2015**.
    What is this for, for

[2020-10-24 19:24] zliuchen commented on #1396
My question: function k4a_transformation_depth_image_to_color_camera() takes care of the camera/depth coordination system transform. So, we do not need to specifically write a transform function with the down tilt of Y axis, correct?

For IMU data, the value is returned in the IMU coordinate system, which is usually aligned with world coordinate system. We don't need to transform IMU reading to ca

[2020-10-25 12:10] diablodale commented on #1396
The documentation I linked above about coordinate systems has good information about both your inquiries:
* Correct. The depth camera is physically tilted down when compared to the color camera. Your example of a depth coordinate that is perfectly centered *on the depth camera* and 535mm away from the *depth camera* will be visually lower to the *color camera*. Therefore the pointcloud coordinates

[2020-10-25 16:00] diablodale commented on #1399
There is a distinction.
1. To compile the SDK itself
2. To compile your own applications using the SDKs (core sensor and body tracking)

The first link you provided is to compile the core Kinect SDK itself. While you can technically do it, it is a very rare activity. I recommend you follow the instructions given at that link.

The second link you provided is to compile your own applications using

[2020-10-25 19:16] zliuchen commented on #1399
Thank you for your answers.  Just to confirm, below is what I can do:

1. download MSI for both Kinect SDK and body tracking SDK
2. download the VS redistrib as suggested by the page, for VS 2015
3. Use VS 2019, and the 2015 redistrib is compatible with VS 2015.

Is this correct? Thanks.

[2020-10-25 21:34] DanielEliasib commented on #1367
Hi, I haven't been able to test this solution, this weekend I unpaused the updates to try this out but it seems that now Windows Update can't find the 2004 update that was causing problems, or any newer updates. I guess I have to wait until the October update is pushed to my device.

[2020-10-26 00:50] diablodale commented on #1399
1. Yes. These two MSI's will give you the DLLs and libraries needed to compile your own applications.
2. Yes. You will need the VS redistrib to run your own applications that are compiled/linked with (1). You can compile without it, but when its time to run, you need the redistrib.
3. I'm a bit unclear what you are asking. The runtime redist and the ABI are specific and versioned. You do have to f

[2020-10-26 02:01] jrterven commented on #500
Here's another Python wrapper that I have been working on for the past months. It can get all the image sources, point cloud, and body tracking.
https://github.com/jrterven/KinZ-Python

[2020-10-26 10:45] MaxPalmer-UH commented on #1386
Would be nice to collate different peoples' experiences with computer specs in a single thread. For example in the thread referenced they describe a very high end system that can handle 10 devices. Would be nice to know what performance you might get on a slightly less high end system - e.g. i7 vs. 12 core i9 and how many devices it can handle with a bit of headroom still.

[2020-10-26 10:47] MaxPalmer-UH commented on #1386
Also, I'm really interested to know just what kind of end results people are getting with multi Azure Kinect systems in terms of merged point cloud data and clean-up - i.e. merging point clouds for volumetric capture of people and the tearing you get at boundaries of each point cloud.

[2020-10-26 10:48] MaxPalmer-UH commented on #1386
Finally, there is much knowledge to be collated from end users that doesn't relate to issues and which is more forum based, but nothing really exists. I'll raise an issue that it would be good to have a forum!

[2020-10-26 10:50] MaxPalmer-UH opened #1400 "Discussion forum?"
I believe that the Azure Kinect community is missing out on capturing a degree of community knowledge because there is no active discussion forum for end users. Leveraging topic into GitHub issues is not the way to collate knowledge and discuss use cases. Can we have a forum?

[2020-10-26 11:01] MaxPalmer-UH commented on #1049
@AutomationIntegration where did you go from here? Did you build a system and what was your experience?

[2020-10-26 13:57] MaxPalmer-UH opened #1401 "Any PCIe USB expansion cards with powered USB C and dedicated controllers per port"
You can find PCIe USB 3 cards that have one dedicated controller per point, but these all have a USB A connector. Are there any that have a powered UCB C connector with one controller per port?

[2020-10-26 15:15] nosignal00 commented on #597
For whom someone visit this issue in the future,
The issue raised by @CGev is because of tjInitDecompress method from libjpeg-turbo, not cmake compile related settings.
The transformation example uses libjpeg-turbo and this one should be avaialble also as build file(like .lib, .dll).

The issues related to the cmake mentioned on this repo should be addressed from two perspectives, but only from on

[2020-10-26 15:44] MaxPalmer-UH commented on #1386
@jcova1996 how were you planning to use USB C only with so many kinects on a single PC? Is there a solution that you were looking at?

[2020-10-26 17:39] qm13 commented on #1401
Are you asking for PCIe cards that support USB 3.1 Gen 1 power delivery?

[2020-10-26 17:58] qm13 commented on #1400
@MaxPalmer-UH there are two forums you can consult
Azure Feedback - this is primarily focused at ideas to improve Azure Kinect https://feedback.azure.com/forums/920053-azure-kinect-dk
Stack Overflow - developers are using this to assist each other https://stackoverflow.com/search?tab=newest&q=azurekinect&s=e1040f9d-7c3c-45cb-b017-825296bb47b1

[2020-10-26 18:42] jcova1996 commented on #1386
I'm currently using a MackBook Pro with an i9 processor. I'm using a Belkin adapter that converts one USB-C port into 2. My PC has 4 USB-C ports, so with the adapters I have 8. I'm using a long active USB-C cable to connect the Kinects to my setup. This works fine, but there's no way to charge my PC at the same time, so you can only work on limited time. I was also hoping to find a cheaper PC that

[2020-10-26 19:21] anantley commented on #1397
Hi I have a visualizer working with this configuration:
`device.StartCameras(new DeviceConfiguration()
                    {

                        CameraFPS = FPS.FPS15,
                        DepthMode = DepthMode.NFOV_2x2Binned,
                        WiredSyncMode = WiredSyncMode.Standalone,
                        ColorResolution = ColorResolution.R1080p,
                        ColorForm

[2020-10-26 19:33] anantley commented on #1391
Hi @syuenminleong

I could see your video but I couldn't reach your code.  From the video it looks like the skeletal hand tracking is too noisy for your purposes.  Sometimes this can be mitigated by not facing the Azure Kinect directly. With a 45 degree angle you can get the hand extension more reliably.

[2020-10-26 20:01] MaxPalmer-UH commented on #1386
So, no problem driving the 8 kinects? What kind of data are you collecting (image, depths, modes, etc?)

[2020-10-26 20:04] MaxPalmer-UH commented on #1401
Yes, I guess. My understanding is that USB C ports are able to deliver power and data to the Kinect, but that these ports need to meet the power requirements (which presumably most don't). The advantage of that is that you only need one cable from the host to the Kinect.  However, I haven't seen expansion cards (with dedicated controllers) with multiple powered USB C ports on them. They are usuall

[2020-10-26 22:20] AutomationIntegration commented on #1049
@MaxPalmer-UH We have the system running multiple sensors on each computer - the number per computer is limited by bottlenecks and requirement across the entire system, rather than just the port capacity. We can use two sensors on the same host controller (and probably more, but we don't need to test for more), but we only pull the depth data from the sensor - color data is more likely to hit the

[2020-10-26 23:26] diablodale commented on #1398
As an observation...I call these "amoebae" given their round-like shapes and organic movement. I see them with Kinect v1, v2, and Azure. Now 8+ years with them and across hardware/technology, I have considered them part of the tech...a known aberration I can usually filter out.

I'm not suggesting there isn't a bug. Rather, I guess it is something systemic in the tech or methodology given this exi

[2020-10-26 23:58] qm13 commented on #1398
This is not a bug. The moving blob is a dust particle in the environment. Moving the illumination closer to the sensor (to make the camera smaller) increases the sensitivity to dust particles.

[2020-10-27 09:46] jackjansen opened #1402 "Any suggestions on tools to debug memory leaks?"
Do you have any suggestions on a tool to use to find memory leaks? I presume the memory leaks are in my (multi-threaded) code, not in the SDK, but because all the allocations are done by the SDK using a compile-in leak detector on Windows doesn't work.

On MacOS there is a nifty `leaks` tools that would work (because it overrides all allocations, also from dynamic libraries, by preloading a malloc

[2020-10-27 10:00] MaxPalmer-UH commented on #1049
@AutomationIntegration many thanks for taking the time to respond. The detail here is useful. I won't be doing body tracking so it looks like I could add more sensors to a single PC as long as I have USB controllers (via expansion cards) to match, Ultimately, I'm interested in the kind of point cloud merging and processing results you can get for volumetric capture of people with 5-7 Kinects. If a

[2020-10-27 15:43] nrpr161293 opened #1403 "Linux libdepthengine.so.2.0"
**Describe the bug**
My team is trying to run the k4aviewer on linux machine and the depth info of the kinect isn't working, other info like RGB is working perfectly. I think the error is related with the libdepthengine.so.2.0 but we already put the file in the build/bin folder and still for some reason we cannot read it. Can you please help us?

**To Reproduce**
1. open the k4aviewer on terminal

[2020-10-27 16:17] RoseFlunder commented on #1403
Did you compile the sdk yourself?
Usually you don't need to copy any files when installing the sdk and k4aviewer via apt from the MS package repository.

[2020-10-27 22:56] PaulSachse opened #1404 "External Sync Trigger Device causes Black/White purple frame artefacts"
**Describe the bug**
I use an external microcontroller (STM32F103) to provide a sync signal for my Azure Kinect and an external IMU.
When operating the kinect in standalone mode, the video transmission is without error. However when setting kinect recorder to:
k4arecorder --external-sync sub --rate 15 --depth-mode WFOV_UNBINNED test.mkv
I begin to experience some black/white/purple frames on a reg

[2020-10-28 01:47] AutomationIntegration commented on #1049
@MaxPalmer-UH of the work that isn't hidden behind proprietary systems, I think @Brekel's software is worth looking at. His Brekel Pointcloud v3 is very good, and sounds like exactly the software you need - it is at https://brekel.com/brekel-pointcloud-v3/
I can personally attest that it works with at least 5 sensors simultaneously (and probably more; I only tested with 5), and it can work across

[2020-10-28 09:40] chrisnovello commented on #1125
+1 having the same problem with k4abt_simple_3d_viewer.exe as @maruta, also on rtx 30 series, also had same binary working on a different machine & gpu. runs (very slowly) on this current machine if I execute with the CPU only mode

additionally, seeing a freeze upon trying to init the unit with an Unreal plugin that uses the sdk, which might be related (same plugin was also working on other machi

[2020-10-28 09:58] nrpr161293 commented on #1403
Yes we compile using this instructions https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md, but doesn't generate any libdepthengine.so.2.0 on the build/bin folder, for that reason we copy the lib to the folder.

[2020-10-28 11:45] jmachowinski commented on #1354
Any update on this issue ?

[2020-10-28 11:47] jmachowinski commented on #1358
Depends
Q170 Chipset : 2
Q470 Chipset : 4

[2020-10-28 18:55] tim-depthkit commented on #1401
I have not tested this card, but it looks promising: https://www.delock.com/produkt/90308/merkmale.html

[2020-10-28 20:50] DrMaxP commented on #1401
Thanks, this looks really good.

[2020-10-28 21:37] zliuchen opened #1405 "depth engine dll"
Hi There,
    I downloaded the MSI, and installed the SDK binaries.

    In addition, I cloned the git repo, and cmake/VS studio. I tried to debug through example "fastpointcloud"; however, during run-time it complained about "no depth engine".
     As I checked, there is the depthengine_2_0.dll in the same folder as k4a.dll.

      I tried to run the release version, the same error.

can anyone t

[2020-10-28 22:05] DrMaxP commented on #1049
I've used Brekel's pointcloud V2 software, but need to retest the multi sensor auto alignment update in V3 as V2 wasn't reliable with my 7 Kinect V2 sensors. I believe it's been updated a fair bit since then. Will check it out again. If alignment works well then I'll be upgrading.

[2020-10-29 09:56] kfarivar opened #1406 "fitting the pose of a body model to the result the poses of the kinect joints"
**Describe the question**
I want to set the pose of a skeleton model (similar to the one Azure kinect uses) to the pose of the body joints given by the sdk.
(I have read the Joint documentation (https://docs.microsoft.com/en-us/azure/kinect-dk/body-joints) but I'm still confused.)

my question are:

0. What does it mean that the joint orientations are relative to the depth sensor coordinate ? does

[2020-10-29 11:38] sbr-dev opened #1407 "tracker::pop_result() low performance"
Hi all,

This is more of a question than a bug report.

We integrated the azure kinect SDK for headtracking purpose. The integration works like a charm with our company tools.

However, we spotted a huge performance drop when connecting our libraries with 3rd party softwares.
After some benchmark, we spotted the bottleneck: `ka4bt::tracker::pop_result();` is the culprit.
It seems this call freezes

[2020-10-29 14:37] AswinkarthikeyenAK commented on #1232
@qm13,
Any updates on when we might get the SDK Jetson Xavier variants?
Thank you

[2020-10-29 14:41] zliuchen commented on #1403
I have similar issue on Windows. I built from cmake, and the depthengine dll is not part of the project's build.lib folder. Therefore, I copied the depth engine dll from the msi installer, but it didn't help. Still complained about missing depth engine

[2020-10-29 15:38] qm13 commented on #1407
Without knowing anything about your company tools we are just guessing at the issue. One area to look at is memory transfer between the GPU and CPU.

[2020-10-29 15:44] qm13 commented on #1405
Do you have depthengine_2_0.dll in your path? If you run the k4aviewer tool from the install directory does it work?

[2020-10-29 15:48] qm13 commented on #1403
The depth engine is provided as a binary only.

[2020-10-29 15:52] qm13 commented on #1403
Did you install the [Debian package](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#debian-package) or build the SDK from scratch? If you built from scratch please try installing the Debian package and run k4aviewer.

If it does continue to fail please provide us with the complete error message (it is cut off in the screen shot).

[2020-10-29 15:56] qm13 commented on #1404
The pulse width of your external sync signal is either too long or too short. Record the pulse signal from an Azure Kinect device and mimic.

[2020-10-29 16:02] kkh3049 commented on #1398
Huh.  Dust?  I didn't even think of that. I'm not sure I have a way to validate that here, but that could make sense; we recently had construction in our office building, so maybe that's why we're noticing so much more now as opposed to a month or so ago.
That's unfortunate, but we'll work around it.

[2020-10-29 16:02] #1398 closed, assigned to qm13

[2020-10-29 16:03] nrpr161293 commented on #1403
Hi @qm13 thank you for your feedback regarding to the depthengine. Indeed is a binary and for that reason it cannot be included on the sdk. For that reason I copy it and paste it on the build/bin folder, I don't know if this should be the correct one?
Regarding to the installation, we try both, first using the debian package and then build from scratch, in both ways we can open the k4aviewer and t

[2020-10-29 16:05] PaulSachse commented on #1404
Thats what i did, i replicated the pulse of the kinect master device which happens to be a 12 microsecond 5V pulse. Any further ideas?

[2020-10-29 18:10] sbr-dev commented on #1407
Hi @qm13
Thanks for your reply !

Indeed, it might be difficult for you to guess what happens without knowing the setup.
I'm just asking for some advice or if something is wrong in the way I handle the kinect .

Datas transfer could be an issue, but neither the CPU nor the GPU are overloaded (25% and 80% respectively) The GPU bandwith usage is also in the usual limit.

Could it be related to the O

[2020-10-29 19:02] tim-depthkit opened #1408 "Requesting the addition of a depth confidence map"
I'm requesting a new image buffer type in addition to color, IR and depth: a depth confidence map. I'm not sure if this is possible based on the ToF technology used to generate the depth maps, but it would be very useful to have.

**Is your feature request related to a problem? Please describe.**
Some areas of the depth map are naturally more reliable than others, depending on what is being observ

[2020-10-29 19:02] DanielEliasib commented on #1367
I can confirm that the solution listed above seems to work, I'm on build 20241.1005 and I can run the body tracking with no issue.

[2020-10-30 05:35] knat commented on #1406
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking doesn't answer your questions, maybe it can give you some hints. 3D quaternion is hard for most of us :)

[2020-11-01 10:13] SimoSR opened #1409 "Azure Kinect compatibility with USB Host Controllers"
I'm searching for a PCIe expansion card for my intel motherboard to make available an additional type C port to plug the AKDK camera via a single type C cable (without power supply connector).

I know the issue compatibility of AKDK SDK with ASMedia USB host controllers, but i'm currently not able to find a USB type C PCIe expansion card with a chipset from a different manufacturer (for example In

[2020-11-01 13:14] Karagorion opened #1410 "Kinect Azure trying to connect to Silex DS-600 (and or DS-510)"
Dear All,

I kindly wanted to ask the community for help in a connection problem with the Kinect Azure.

I want to achieve a setup where I can connect 1 or 2 Kinect Azure over 30-50 Meteres to my Laptop.

Therefore I bought for tests a Silex DS-510 and a Silex DS 600.

This decive gives me the ability to connect usb2 and usb3 Devices through my Ethernet Port.
In my first try I was kinda happy that

[2020-11-02 07:44] #1388 closed, assigned to qm13

[2020-11-02 12:00] scimad commented on #561
Is it available on Ubuntu 20.04?

[2020-11-02 17:49] diablodale commented on #1402
I'll volunteer my perspective. On Windows and the Microsoft compiler, I use https://docs.microsoft.com/en-us/visualstudio/debugger/finding-memory-leaks-using-the-crt-library?view=vs-2019. Since it will be a debug build, no optimizations will occur...therefore high CPU cost. As Heisenberg or Schrödinger might say, there is an effect when making a measurement. 😹

When I do such tests, dropping frame

[2020-11-02 18:30] wes-b commented on #1410
Have seen #427 about USB extenders?

[2020-11-02 18:58] qm13 commented on #1407
@aspioupiou the perf tools especially GPU tools often do not take into account DMA orchestrated data transfers.

The data flow is Kinect -> CPU -> GPU

[2020-11-02 22:13] soeroesg commented on #1363
I can confirm that the problem exists with CMake 3.18.4, but there is no problem when using CMake 3.17.5

The issue seems to be caused by the change in how CMake treats .C files as C and not C++ as default anymore. Therefore __cplusplus will be not defined, stdatomic.h is searched for, and is not found.

[2020-11-03 00:26] jackjansen commented on #1402
Thank you for the suggestion, @diablodale, but if I read the MS docs I get the impression that it will _only_ find leaks in the code that you have compiled with this library, _not_ leaks of memory that has been allocated by a DLL you've loaded (such as, in my case, the K4A DLL).

#1274 is going to be interesting, once implemented, because that would allow me to do my own allocator implementation (

[2020-11-03 13:39] diablodale commented on #1402
I think there is an opportunity to increase coverage using those tools today.

1. Write your own k4a_memory_allocate_cb_t allocator. That works today. When you get image buffers they will be aligned on 32. The issue #1274 I linked is focused on allowing alignment of the images buffers to be selectable rather than the forced 32.
2. Compile the K4A SDK itself. It is open source at this git repo. Onl

[2020-11-03 14:13] nmeri12 commented on #1183
Hi @anantley,

I already followed your instructions but the 3D Avatar Character didn't work, so if you could help me please!
Also, when I download the project it shows that Female_Adult_11 (Missing Prefab), also jasper (Missing Prefab).
I delete it and try to import it gain or with different character but also didn't work
I followed the following steps:
1)Then import a character into your scene, m

[2020-11-03 14:15] rejnok93 opened #1411 "MKV recording sample file for Body Tracking"
Is it possible to have at least 1 very simple short MKV recording sample with a person or static figurine, that can be used with Azure Kinect Body Tracking SDK (eg. "offline_processor" example)?
The official "Office Sample Recordings" will not output any body tracking data, that will help our project team decide to start developing (new medical diagnostic device) on top of the Azure Kinect DK.
For

[2020-11-03 21:14] anantley commented on #1183
Hi @nmeri12,  can you send me a screen capture of what is happening?  Is there no tracking at all? Or are you having incorrect tracking?

Also a screen capture of the hierarchy of the character you are using would help.

If you need a character to puppet you can get some by cloning this repository:
https://github.com/microsoft/Microsoft-Rocketbox.git

Best,
Angus

[2020-11-04 09:18] nh236 commented on #1349
I am facing the same problem.
I'm using NFOV mode, but the problem is also present in the other modes. I have tried reflectors of different sizes (down to 9mm), but without much of an improvement.

@qm13 : Could you be more specific on the type of neutral density filter? There seem to be many different options with different properties and I have no idea which one would be suited for use with the

[2020-11-04 10:07] nmeri12 commented on #1183
Hi @anantley
thank you for your response.

![image](https://user-images.githubusercontent.com/25100317/98096668-b3795b00-1e94-11eb-993d-4e7a517ace22.png)

![image](https://user-images.githubusercontent.com/25100317/98096689-bd02c300-1e94-11eb-87aa-8566687d7200.png)

![image](https://user-images.githubusercontent.com/25100317/98097057-1ff45a00-1e95-11eb-99a0-fbc29f362fe9.png)

The avatar character

[2020-11-05 17:05] #1372 closed, assigned to qm13

[2020-11-07 16:32] jmachowinski commented on #1409
Linux or windows ?

In general, we found out that the RGB Camera is causing the issues,
as long, as you only activate the depth sensor, it should work.

[2020-11-07 16:38] jmachowinski commented on #1402
On linux try heaptrack (https://github.com/KDE/heaptrack)
Its fast, and should point you to the point were the memory
gets allocated.

[2020-11-07 18:49] SimoSR commented on #1409
We are working on win10 and we need both RGB and depth stream.

[2020-11-07 20:36] jmachowinski commented on #1409
We are only using linux, so I can't help you with the windows stuff.

[2020-11-10 11:09] AswinkarthikeyenAK commented on #1296
Hi @haeginh ,
Were you able to launch simple_3d_viewer? I tried your workaround, and it helped in building the executable, but I cannot launch the simple_3d_viewer.
Can you please let me know it worked for you?

Thanks

[2020-11-10 13:33] nachoreimat commented on #1394
yes, I also noticed missing depth on black/dark objects. Is it a problem of the TOF cameras? maybe those objets/materials do not reflect the laser

[2020-11-10 15:12] SinisterMJ opened #1412 "Color sensor not grabbing an image"
I encountered the precisely same issue as in #1237, but I need to get it to run reliably on my or other systems, or at least understand what causes it.

I have described the issue, with my code, at https://stackoverflow.com/questions/64770775/camera-not-grabbing-a-color-image

If I compile the SDK myself, in the k4aviewer.exe I get the depth and ir image shown just fine, the camera image though do

[2020-11-11 06:38] xiaodongww commented on #930
Sorry to reopen this issue. I also meet some problems in recalibrating. I am new to the RGB-D camera and calibration process. It would be very nice if anyone could give me some suggestions.

I am trying to recalibrate the color and IR camera (two camera's intrinsic, distortion parameter and two cameras' relative rotation and translation). For the intrinsic and distortion, I can calculate it succes

[2020-11-11 11:58] TomitaTseng commented on #1306
I tried to convert the 3D coordinates obtained by Kinect DK to screen coordinates and use OpenCVSharp to draw a circle, but I don't know how to write it.  Does the coordinate conversion function have C# or VB.Net program examples?

[2020-11-11 12:57] juspus commented on #1306
Your issue does not seem to be related to the issue I am experiencing. Please refer to this [answer].(https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1380#issuecomment-708070765)

[2020-11-11 14:26] TomitaTseng commented on #1306
I'm not good at English, so I don't convey the meaning.  I'm sorry!

I want to convert body tracking to screen coordinates.

How to draw a point on the screen after getting the position coordinates of the Head joint.

Could you please tell me, thank you very much.

/////////////////////////////////////////
var calibration = device.GetCalibration(deviceConfig.DepthMode, deviceConfig.ColorResolution

[2020-11-11 14:32] juspus commented on #1306
Entirely not related. Sorry.

[2020-11-11 23:57] TomitaTseng opened #1413 "Body tracking converted to screen coordinates"
I'm sorry to bother you.

I use C# for program development.
I want to convert body tracking to screen coordinates.

How to draw a point on the screen after getting the position coordinates of the Head joint.

Could you please tell me, thank you very much.

[2020-11-12 01:49] yeongwoonIm commented on #1306
use opencv circle function.
position x and y to Point(x, y)

cv2.circle(img, Point(x, y), radian, color, thickness)
cv2.circle(img, (447,63), 63, (0,0,255), -1)

check this site
https://docs.opencv.org/master/d6/d6e/group__imgproc__draw.html#gaf10604b069374903dbd0f0488cb43670

or
Google it.

[2020-11-12 03:04] TomitaTseng commented on #1306
Thank you for your guidance.
My English is not good, so I didn't convey the meaning, sorry!
I use C# to develop the program.
I got the X.Y.Z coordinates of the head joint positions, how can I convert them to the X.Y coordinates of the screen?
Then draw a point in the X.Y coordinates of the found screen
Can you tell me, thank you very much.

[2020-11-12 05:25] TomitaTseng commented on #1217
I'm sorry, I disturbed you
I use C# to develop the program.
Does k4a_calibration_2d_to_3d and k4a_calibration_3d_to_2d have the version used by C# or VB.net?

[2020-11-12 06:13] yeongwoonIm commented on #1306
1.

I think you already got that point x, y when you got the X.Y.Z coordinates of the head joint positions.
Z means how far away object to KineckDK. so, you can use it X,Y to your screen.

[2020-11-12 06:16] juspus commented on #1306
@qm13 are there any news regarding our last correspondence? I am still experiencing the same issue as stated before. Might I be selecting the wrong depth pixels? Since I cannot get the exact depth at the points I am trying to find due to occlusion.

[2020-11-12 08:17] TomitaTseng commented on #1306
Thank you for your guidance.
I have tested it.
The 3D coordinates (x, y) of the head joint positions are not the same as the x, y coordinates on the screen.
Does your test result have the same x and y coordinates?

[2020-11-12 14:27] AswinkarthikeyenAK opened #1414 "Body tracking - Joint information [question]"
Hi,
I am using ubuntu 18.04
The joint body tracking frames shown in the kinect k4abt_simple_3d_viewer seems to be different compared to the joint data information shown in the documents.
For instance, in the picture below, the frames of right hand is seen
![image](https://user-images.githubusercontent.com/33458020/98949637-e1dbe380-24ef-11eb-8b3f-b5cd7beaa4dc.png)

In the body tracking joint infor

[2020-11-12 15:45] billpottle commented on #1356
@sicheong - We investigated this issue in detail, and found that it's actually prevalent across a number of models - ie, similar issues happen with OpenPose as well. The general consensus was that we would have to train our own model with thousands of data points to include kicks at high speed.

[2020-11-12 16:47] artus-LYTiQ commented on #503
Might help, might not, but you can start the k4aviewer when logged in with a real console. And then you can transfer your session to RDP by logging in as the same user. It does not *launch* in RDP, but it can be used in RDP if launched before. Thus, auto login at restart would enable your use case. Not a nice work around, though.

[2020-11-12 16:48] qm13 commented on #1412
Based on your comments both here and stackoverflow it appears you have some sort of build issue. Can you please verify you correctly followed the build instructions [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md)?

[2020-11-12 19:53] qm13 commented on #1413
Look at the body tracking viewer sample code [here](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/simple_3d_viewer).

[2020-11-12 22:44] TomitaTseng commented on #1413
Thank you for your guidance
I use C# for program development.
Are there any C# examples?
Could you please tell me, thank you very much.

[2020-11-12 22:51] RoseFlunder commented on #1413
Just look into the API Reference:
[TransformTo2D](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/release/1.4.x/struct_microsoft_1_1_azure_1_1_kinect_1_1_sensor_1_1_calibration_a31828fb182a5386b6ca6c72e4c08dea6.html#a31828fb182a5386b6ca6c72e4c08dea6)

[2020-11-13 01:46] Koring12 commented on #1346
Thank you guys for your help I used Azure Kinect Body Tracking SDK to solve this problem!

[2020-11-13 01:46] #1346 closed, assigned to qm13

[2020-11-13 01:59] Koring12 opened #1415 "is there any point cloud viewer sample code?"
I am currently building a real-time point cloud viewer with Azure Kinect Sensor.
Since I am new to this world, I am having trouble to build it.

The viewer has to show the point cloud data(with colors) within a certain depth range just like the output of the transformation example.

Mr. Takashi Yoshinaga's  program shown in the link below is something I want but with one Azure Kinect Sensor.
(http

[2020-11-13 11:57] RoseFlunder commented on #1415
The official viewer that comes with sdk itself is opensource in this repository.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/tools/k4aviewer

[2020-11-13 14:24] jorgegd opened #1416 "Error when obtaining transformed depth image"
I´m trying to get the transformed depth image as follows

[code]
But getting this failure:
**Logs**

_

_

Issue is on the transformation instruction as rest of it retrieves depth + color correctly.
I've even tried to create the image object in a different way:
[code]

But getting the same issue.

Please, any clue? I can´t get examples with C++ sdk

[2020-11-13 14:32] Koring12 commented on #1415
Yes, I have tried to use them but the thing is whenever I try to build the official viewer with visual studio after all the CMAKE process is done, it gives me some errors.
At first, it gives me LNK1181 error saying cannot open k4arecord.lib and I solved it.
Then it gives me this error which is also LNK1181 error
![image](https://user-images.githubusercontent.com/69612270/99082683-cfed6400-2607-11e

[2020-11-13 14:37] SinisterMJ commented on #1412
Originally I built it via a conan package we created. I just now created the file exactly according to the documentation, same behaviour: I can grab the IR and depth image, the color image does not work. I tested with the k4aviewer.exe to verify that its not my code causing this.

Edit:

Toolchain used:
cmake version 3.19.0-rc1
ninja 1.10.1
Visual Studio 2017 Community 15.9.29

[2020-11-13 14:46] SinisterMJ commented on #1412
Edit;

Toolchain used:
cmake version 3.19.0-rc1
ninja 1.10.1
Visual Studio 2017 Community 15.9.29

[2020-11-13 14:48] jorgegd commented on #1416
I made it work as follows.

[code]

And initializing the transformed image as:
[code]

[2020-11-14 23:35] henryo12 opened #1417 "Unable to find Container ID"
**Describe the bug**
An error is thrown when trying to open a Kinect device. It appears to be a container ID issue. I have 3 Kinects, but this error only occurs when opening one specific devices. The other two function properly.

**To Reproduce**
1. Plug in affected Kinect
2. Open the Azure Kinect Viewer
3. Click Refresh Devices

**Expected behavior**
The affected camera should be available and ab

[2020-11-15 00:10] Karagorion commented on #1410
Thank you very much for your help :) wes-b :)

[2020-11-15 08:40] oafolabi opened #1418 "Is polling the only way to capture frames?"
Hi,

I am working on an application that grabs frames and saves them to file.  I am new with this device, but so far the only way I can grab frames is through polling. I am a bit concerned that my application might drop some frames if the time between polling is too long. I would prefer to use a callback if available. Is there a way to grab frames using a callback function?

Thanks

[2020-11-15 09:34] RoseFlunder commented on #1418
No there isn't.
Maybe you could work with threads though so that the polling thread isn't busy with processing the frames.

Edit: also the method get a new frame can be called synchronously with using infinite timeout. So it will only return when a new frame is ready.
Process it in the current thread if its fast enough or handle it in another one.
Afterwards call getFrame again. The k4a has a Queu

[2020-11-15 21:29] sealfoss commented on #750
Hi, I'm having this exact same problem.
However, I have VS Solution Configuration set to Debug and Solution Platforms set to x64 already. I have installed the Microsoft.Azure.Kinect.Sensor NuGet package per instructions in the Azure Kinect documentation. I've added the \sdk\include\ folders for both Azure Kinect SDK v1.4.1 and Azure Kinect Body Tracking SDK to PropertyPages >> C/C++ >> General >>

[2020-11-16 03:15] TomitaTseng commented on #1413
Thank you for your guidance.
I tested TransformTo2D to convert the screen's x and y coordinates, but the coordinate error is large.
Is there a C# program example for TransformTo2D?
Could you please tell me, thank you very much.

[2020-11-16 22:00] Chris45215 commented on #1418
First off, the SDK includes a Recorder which saves the frames, so I hope you aren't writing that code yourself. The guide to use it is at https://docs.microsoft.com/en-us/azure/kinect-dk/record-sensor-streams-file and with more detail at https://docs.microsoft.com/en-us/azure/kinect-dk/azure-kinect-recorder. I don't remember if that Recorder code is an open part of the SDK, but if so it's worth lo

[2020-11-16 22:12] Chris45215 commented on #1414
Seeing as someone has started the topic, it would be very helpful if the orientation image in the documentation could be updated so that it is more clear. Any axis that happens to be along the black line of the bone is hidden by the black line, which makes it a bit difficult to tell which joint that axis line is for. For example, in the torso, the X axes are covered by that black line, so it takes

[2020-11-16 22:32] Chris45215 commented on #427
Cable length has always been a challenge when I have used the devices - though sometimes it's the power cable's length that is the bigger issue. We find that the sensors work best when mounted above head height. But the power cable is only 5 feet long - so we have always needed power extension cables. We don't want to put strain on the power cable or connection within the sensor, so we usually end

[2020-11-16 23:19] oafolabi commented on #1418
@RoseFlunder  and @Chris45215 , thank you for your quick responses. I took a look at the recorder, and it almost meets my needs. I would also like to visualize the frames (and maybe process) them as I am recording. The idea is that this will give me some feedback on what area of space I should be recording and how fast I should be moving the camera. Ideally, I would want to combine something like

[2020-11-16 23:43] Chris45215 commented on #1418
For visualizing the frames, without recording, I use the bundled Azure
Kinect Viewer app and see how things look in real time, though I don't
think its code is in the samples (and it will claim exclusive use of the
sensor when it is running). The Azure Kinect Samples / Body Tracking
Samples folder does have a lot of samples that visualize the depth data,
and you can remove the body-tracking-specif

[2020-11-17 08:13] sjdrc commented on #1283
It’s been months and there is no fix or any update from the Kinect team. This issue is significant and affects both the SBC we currently use in production (LattePanda Delta), and our potential replacement for it (Jetson nano). We need urgent answers to these questions:
- What is the cause of this issue, is it with the Jetsons or with the K4A DKs?
- Is there a solution actively been worked on and w

[2020-11-17 08:41] datee commented on #1125
Can confirm this issue also, on a computer with RTX 3090 the k4abt_simple_3d_viewer does not open the tracking window.
It just stops. No crash but just nothing happening. CPU mode works fine.

When compiling and testing the examples **(simple_cpp_sample)** ..its the same.. stops at this line :
` k4abt::tracker tracker = k4abt::tracker::create(sensor_calibration);`

Really need this, hope a fix is

[2020-11-17 18:11] L4Z3RC47 commented on #1125
Confirmed here as well. RTX 3090.

@yijiew or @qm13 any updates on ETA for the next release?

[2020-11-17 18:34] GHSch commented on #674
@opalmu I am using your listing from above and I get the results below (with strips in transformed depth image).
Does someone know of that problem, may be it is related to my sensor?
![grafik](https://user-images.githubusercontent.com/10383072/99431366-f1ea2d80-290a-11eb-81a9-f25193ed1e6f.png)
![grafik](https://user-images.githubusercontent.com/10383072/99431438-0e866580-290b-11eb-8407-85cae9d54d2

[2020-11-17 18:52] rabbitdaxi commented on #674
@GHSch your striping issue may be related to #840 #294, hope it helps

[2020-11-17 20:59] GHSch commented on #674
Thank you a lot, that solved the problem.

[2020-11-17 21:44] oafolabi commented on #1418
@Chris45215 , thanks. I'll take a look at the body tracking code. Do you know if the Recorder also claims exclusive use of the sensor?

[2020-11-17 21:53] Chris45215 commented on #1418
I'm not certain, but it probably does - in my applications, only one
program can pull data from the sensor at a time (I think that's true for
all USB-connected cameras in general). But there's nothing preventing you
from writing one application that uses it in multiple ways within that
program. And you can always have one program output the sensor's info to
other programs.

On Tue, Nov 17, 2020 at

[2020-11-17 21:56] oafolabi commented on #1418
I see, thanks. This has been very helpful. I will close this issue for now.

[2020-11-17 21:56] #1418 closed, assigned to qm13

[2020-11-18 07:58] jmachowinski commented on #1410
Hi,
we are using IDS Fiber optics USB Extender in our setup.
https://de.ids-imaging.com/store/products/accessory/interface-cables/usb-3-0-aoc-active-cable-straight-screwable-50-m.html

They cause some trouble, with power on / rebooting but work in general.
We worked around these issues, by adding an external relay, to power up the azures,
after the USB extender was powered and the pc was booted.

[2020-11-18 12:28] ShravyaB commented on #978
It is possible you are reading a normal RGB image. It has only 3 channels unlike Kinect which gives us an empty 4th channel. That is why you cannot copy it as a block. You need to insert these gaps.
You can convert the format of your opencv Mat from BGR to BGRA using openCV's cvtColor and then call the above function

[2020-11-18 14:10] ChristopherRemde commented on #978
Hi Shravya,

thank your for your answer! I just checked my code and the OpenCV-Mat I created and, was created with 4 channels:

`cv::Mat cImg = cv::Mat(k4a_image_get_height_pixels(colorImage), k4a_image_get_width_pixels(colorImage), CV_8UC4, k4a_image_get_buffer(colorImage));`

I solved the problem by **not** putting the code lines for converting the CV-Mat to k4a_image inside it's own function bu

[2020-11-18 15:25] henryo12 commented on #1417
I reinstalled Windows, and that fixed the issue. It would be helpful to hear another another potential solution in case this happens again. Otherwise, we can close the issue.

[2020-11-18 17:45] SinisterMJ commented on #1412
I was at a colleagues system today, he has the precisely same hardware configuration. We checked on his system, he also received no color image. After some further testing we checked whether some of our company policy installs could be causing this, and when we disabled Kaspersky Virus Scanning, it worked. Enable Kaspersky, no color image again.

No idea why this would happen only with self-compil

[2020-11-18 21:52] jacquesj1 opened #1419 "Impossible to acquire image from rgb camera from k4aviewer"
Hello,
When I execute k4aviewer, I have the following message :
[ warning  ] ( /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/dewrapper/dewrapper.c:285 ) : depth_engine_thread(). Dropping depth image due to bad timestamp at startup
[ error    ] ( /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/capturesync/capturesync.c:144 ) : replace_sample(). capturesync_drop, releasing capture early due to full queue

[2020-11-18 22:43] jacquesj1 commented on #454
Hello,
![Capture d’écran de 2020-11-18 23-42-15](https://user-images.githubusercontent.com/46788587/99597075-b8432080-29f7-11eb-8e2d-a47137e8a63b.png)

I have had exactly the same problem on Ubuntu 18.04, but the rgb cam don't work.
My graphic cards is RTX2080ti (drivers 455).
The log:

[2020-11-18 23:39:51.405] [error] [t=3038] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/capturesync/capturesync.c

[2020-11-18 22:45] jacquesj1 commented on #1419
I try my azure kinect on windows 10 ==> no problem !!

[2020-11-19 02:08] qm13 commented on #1415
Have a look at https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/fastpointcloud

[2020-11-19 04:35] HeavyRain-zym commented on #1308
raw depth data was adjusted for optimazing, but we want raw depth and pointcloud like kinect 2.0 to scan object's details.

[2020-11-19 04:45] ponyzhou404 opened #1420 "about green_screen example"
In /examples/green_screen/main.cpp line 226,
`Transformation tr_secondary_depth_to_main_color=tr_secondary_depth_to_secondary_color.compose_with(tr_secondary_color_to_main_color);`

I think it should be,
`tr_secondary_depth_to_main_color=tr_secondary_color_to_main_color.compose_with(tr_secondary_depth_to_secondary_color);`.

Due to the perivious rotation also effects next translation, the order of

[2020-11-19 07:16] Koring12 commented on #1415
I am looking at this fastpointcloud sample. What can I get from this example?

[2020-11-19 08:27] #1396 closed, assigned to qm13

[2020-11-19 12:30] #1412 closed, assigned to qm13

[2020-11-19 16:50] qm13 commented on #1419
Please upgrade to the latest SDK and firmware versions. Please submit a fresh log if you are still experiencing problems.

[2020-11-19 17:02] jacquesj1 commented on #1419
Hello,
If i  update, can I use body sdk on Ubuntu 18.04.?
Best regards.

Le jeu. 19 nov. 2020 à 17:50, qm13 <notifications@github.com> a écrit :

[2020-11-19 19:15] wes-b commented on #1420
My transformation (matrix) skills are rusty, but I think you are effectively saying that in our compose_with structure that H1 * H2 != H2 * H1. Is that correct? That would effectively be the change you are suggesting, correct?

Can you share more detail on this? A link would be fine. Are you able to test this and confirm it improves the results? Due to COVID testing from home is tricky.

[2020-11-20 00:44] GitZinger opened #1421 "How to set or configure the depth camera exposure including the IR images ?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

currently the ir/depth camera cannot be set with the exposure.
**Describe alternatives you've considered**

**Additional context**

[2020-11-20 01:29] qm13 commented on #1417
@henryo12 you mention you fixed this with a Windows reinstall. Are you now using it with the USB cables that came with the camera or are you now using it with the active cable?

[2020-11-20 02:38] henryo12 commented on #1417
I am now able to use with both the stock cable and the active cable, whereas the camera would not work with any cable previously.

The original active cable I tested with turned out to be broken, but I had ordered three of those cables and the other two worked. Maybe that broken cable corrupted something on my computer, I’m not sure.

[2020-11-20 07:33] ponyzhou404 commented on #1420
Yes,that is all I mean.

In the comment of line 226，it said
`        // We now have the secondary depth to secondary color transform. We also have the transformation from the
        // secondary color perspective to the main color perspective from the calibration earlier. Now let's compose the
        // depth secondary -> color secondary, color secondary -> color main into depth secondary -> col

[2020-11-20 22:50] TomHVR commented on #1394
Maybe there are hairsprays that are more reflective of IR light?

Might be worth taking a piece of glass that is IR transparent, and then trying different hairspray products on them to see which has the most IR reflectivity.

edit: we also use this in film/video production as a temp glare reduction on objects. Wipes off easily, Not sure if I'd want it on my hair though!
https://www.amazon.com/Kryl

[2020-11-21 18:58] ChemicalNRG opened #1422 "Please don't make executables for the SDK, that are nothing more than drivers."
The Azure Kinect is the worst experience of "developer/thinker/new on the market" product ever for me.
First i thought it was nice that there was an installer for windows.
But then i found out, that after days of trial and error, (with different programs/compilers) it is just an incomplete package, so no sdk at all.

Then after downloading the complete/real SDK and finding out what the best way to

[2020-11-22 01:50] RoseFlunder commented on #1422
I don't really understand what you mean with that the installer is only a driver?
The installers you can download are containing everything you need to develop an application that uses the azure kinect:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#msis

It even states where the files are located:

Same Installer is linked at the Microsoft website:
https://docs.mi

[2020-11-22 02:15] ChemicalNRG commented on #1422
Try to compile transformation or opencv example after that install and you know what i mean. Maybe you have done much compiling i didnt, and i think i will not be the only one. I have a couple of times but than it was clear and everything was complete, or it was clear that i had to get extra files to get things working. In this sdk not at all, and by the time a learned that it was hours/days later

[2020-11-22 09:14] SimoSR commented on #1354
We are experimenting a similar behaviour in the following configuration:

- Windows 10
- PCIe expansion card with 2xUSB type C port with ASM3142 host controller
- Connection via a single USB Type C cable

In this configuration:
- Power and USB 3.0 data connection are fine (solid white led on the back)
- The devices are enumerated correctly in device manager under USB devices
- Azure Kinect is corr

[2020-11-22 11:16] RoseFlunder commented on #1422
Well examples that use open cv obviously only works when you add the open cv dependency.

The SDK itself doesn't have open cv in its own installer and it shouldn't because its a general computer vision library thats not from microsoft.
The SDK contains an API and implementation for configuring, starting and retrieving the k4a sensors data as the name "Sensor SDK" already hints at.
So in that way t

[2020-11-22 12:26] ChemicalNRG commented on #1422
I know that, i have that all working now by git cloning the SDK. It even copied all necessary opencv dll's to the example folder
Did you at least try the installer and compile transformation and other examples?

That Transformation used a different method i did not know. I thought it used microsoft's recorder, so also thougt that the recorder used libjpegturbo.
Thanks for the info.
Doesnt microsof

[2020-11-22 18:54] RoseFlunder commented on #1422
The workflow is not to clone this repo. The examples are not part of the SDK itself, they just show how to use the SDK and also use other thrid party libraries which you should add to you projects yourself if you want to use them as well.
There is nothing wrong from using other third party libraries to show some example use cases.

I already explained what the SDK contains and what for what it is:

[2020-11-22 22:32] RoseFlunder commented on #1422
I would agree though that the Azure Kinect Samples repository could be maintained better and that the examples could be moved to that repository.

[2020-11-23 05:05] VegetableWithChicken opened #1423 "Azure Kinect Body Tracking SDK is not work well with RTX3080"
windows 10,x64
i7-9700KF
32GB
NIVIDA GeForce RTX3080

run the Azure Kinect Body Tracking SDK ,but k4abt_simple_3d_viewer.exe    do not work
but the SDK is work well

[2020-11-23 05:07] L4Z3RC47 commented on #1423
related issue #1125

[2020-11-23 14:34] ChemicalNRG commented on #1422
I think that would help a lot of us. Don't get me wrong, i know i have to change any code that i use to make it do what I want, for my use case. But because i have not that much experience to write all the code, i was searching for an example that at least comes near the things i want. I am someone that is really patient to do trial and error, till it is working.
But this is one of the first times

[2020-11-23 15:24] RoseFlunder commented on #1422
I have no experience in your use cases, but I would guess as you are already using ROS you have found the Azure Kinect for ROS Github Repository?
https://github.com/microsoft/Azure_Kinect_ROS_Driver

Maybe you can find some experienced mapping people over there because, as you already stated, mapping is often used on Linux/ROS/roboting applications.

[2020-11-23 21:32] tlind commented on #1248
Same issue here! Any update?

[2020-11-24 04:25] Mustardsauce opened #1424 "RGB-D alignment between color and depth with CUDA"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

I did the alignment between color and depth image(Azure kinect dk) with CUDA. It takes so long time because it is necessary to tranform the 2D-3D conversion. I've done improvement for the alignment through CUDA. **[unit : ms]**
https://github.com/Mu

[2020-11-25 13:37] greatwallet opened #1425 "Examples on how to parse MKV files"
**Is your feature request related to a problem? Please describe.**

I am a green hand upon video processing and using `ffmpeg` or `mkvtoolnix`. And there is almost no example codes in  documentation, except one or two lines of commands in "https://docs.microsoft.com/en-us/azure/kinect-dk/record-file-format", which only gives commands on getting depth image via ffmpeg, so it's really painful for me

[2020-11-25 15:48] vladalx commented on #1425
If you want just one channel extracted, you can try something like this

ffmpeg -i file_input.mkv -map 0 -map -0:v:1 -map -0:v:2 -c copy file_output.mkv

where :
-map 0              // select all streams
-map -0:v:1         // unselect video stream 1
-map -0:v:2         // unselect video stream 2
( this leaves only video stream 0 to be copied in output )

[2020-11-25 15:49] vladalx commented on #1425
`ffmpeg -i file_input.mkv -map 0 -map -0:v:1 -map -0:v:2 -c copy file_output.mkv`

where :
-map 0              // select all streams
-`map -0:v:1`         // unselect video stream 1
-`map -0:v:2`         // unselect video stream 2
( this leaves only video stream 0 to be copied in output )

[2020-11-25 16:33] jmachowinski commented on #1354
We tested almost every USB controller that you can buy as an extension card at the moment.
The color stream fails with all of them. But as I said above, I don't believe this is an issue of the
USB Controllers, but rather an issue with the Azure.

[2020-11-25 21:13] diablodale opened #1426 "several Kinect APIs missing const qualifier, prevents const objects/variables"
Multiple C++ APIs for core Kinect SDK are missing the `const` qualifier. By not having `const` on these c++ member functions, it prevents the use of const objects. Such objects are desired by style, coders, and compliers.

I have so far found the following. There may be others. I don't readily see any reason to prevent them being `const`.

[code]

## Setup

Microsoft Windows [Version 10.0.19042.63

[2020-11-26 10:44] vladalx commented on #1425
pls try
ffmpeg -i input.mkv -map 0 -map -0:v:1 -map -0:v:2 -frames 20 output_%04d.png
( selecting all streams then removing stream 1 and 2, leaving just the rgb )

[2020-11-26 11:13] RoseFlunder commented on #1425
If I remember correctly you could get the IR images with:
ffmpeg -i test.mkv -map 0:2 -vsync 0 ir%04d.png

Depth images:
ffmpeg -i test.mkv -map 0:1 -vsync 0 depth%04d.png

RGB Images:
ffmpeg -i test.mkv -map 0:0 -vsync 0 color%04d.png

But I am no expert either. Just used these commands once.

[2020-11-26 11:25] vladalx commented on #1425
There is an example in the documentation here
https://docs.microsoft.com/en-us/azure/kinect-dk/record-file-format

for IR you should use something like
`ffmpeg -i test.mkv -map 0:2 -vsync 0 -frames 20 ir%04d.png`

[2020-11-26 12:20] tostercx commented on #1227
Have a _very_ similar issue except the frames are red and black, not pink. Seems to be related to ambient temperatures getting lower, not sure why.

The signal is generated by the master device in my case, no external trigger. Black/red frames only on slaves.

[2020-11-26 14:19] greatwallet commented on #1425
Got it! Thx everyone!

[2020-11-26 14:19] #1425 closed, assigned to HlibKazakov2000

[2020-11-27 22:11] Lilibel87 commented on #1164
@fatihoezdemir hi, I have the mkv and I am just unsure where to run the transformatoin_example, from the prompt command as the recording? I need to register a sequence of .ply from the video. Is that possible as well? Thank you!

[2020-11-27 23:48] fatihoezdemir commented on #1164
For Ubuntu: If you have the Azure SDK, then go to the build ordner from your terminal and run ./transformation_example playback <filename.mkv> [timestamp (ms)] [output_file]
I have installed the azure sdk from source but you should find it somewhere there

e.g. ./transformation_example playback test.mkv 20 test.ply
Here is a guiding link on how to use the programhttps://github.com/microsoft/Azure-

[2020-11-28 14:46] diablodale commented on #1365
Additionally

[code]

I do hesitate slightly in one area. That last one `shutdown()` can technically be const.  The `tracker` c++ object doesn't change since it contains `m_handle` and that is used to call the C api k4abt_tracker_shutdown(m_handle) and no part of the C++ object changes. The thing to which the handle points does change. But not the handle itself, and not `tracker`. So technically,

[2020-11-29 10:23] VegetableWithChicken commented on #1423
Who can tell me, has this problem been solved and what needs to be updated. I updated to cudn10.1, but it has no effect.
Do I need to move the CUDN   DLL library to bianary replacement of body tracking file ？？

[2020-11-29 10:23] VegetableWithChicken commented on #1125
Who can tell me, has this problem been solved and what needs to be updated. I updated to cudn10.1, but it has no effect.
Do I need to move the CUDN DLL library to bianary replacement of body tracking file ？？
#1423

[2020-11-29 12:22] RoseFlunder commented on #1125
I think Microsoft needs to release a new Version thats compiled with a Onxx runtime that uses cuda 11.
I think we as users can just wait.
Is that right?

[2020-11-29 13:29] Lilibel87 commented on #1164
Hello, I have extracted the mkv files using the - windows promt, but is not working with the ply. Where should I compile the transformation examples? Thank you!

[2020-11-30 08:43] andreasfender opened #1427 "Rotation-translation transformation matrix between RGB camera <-> depth camera"
Hello,
Is there a way (in C#) to access the transformation between the cameras directly? There is plenty information about the functions to map points between 2D/3D, which then internally transform and undistort the points, but this is rather limitting.
All intrinsics are easily accessible, which is nice, but the only thing missing as far as I can tell for more flexible projection between spaces a

[2020-11-30 09:27] prajval10 commented on #1058
We have the same issues as shown in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1058#issuecomment-582641359 with factory calibrated Azure Kinect out-of-the-box. Please let us know if there are any workarounds for this?

[2020-11-30 13:24] Azzedine-Touazi commented on #1232
@qm13,
Please any update about body tracking SDK for Jetson.

Thanks in advance.

[2020-11-30 14:12] Michael-robo13 commented on #1232
Sorry, I didn`t use the body tracking SDK for Jetson. I changed my plan.
________________________________
发件人: Azzedine Touazi <notifications@github.com>
发送时间: 2020年11月30日 21:24
收件人: microsoft/Azure-Kinect-Sensor-SDK <Azure-Kinect-Sensor-SDK@noreply.github.com>
抄送: 刘灏 <18hliu@stu.edu.cn>; Mention <mention@noreply.github.com>
主题: Re: [microsoft/Azure-Kinect-Sensor-SDK] Body tracking sdk in Rsapberr

[2020-11-30 14:37] jmachowinski opened #1428 "GPU less version of the SDK (depth image only)"
**Is your feature request related to a problem? Please describe.**
We ran into the problem, that we hit the GPU limits of the integrated GPU on an Intel Core i7-10700T
if using more than two kinects at a time. Adding dedicated GPUs is not a option, as we use industrial
grade PCs that don't feature extension slots.

**Describe the solution you'd like**
We only use the raw (distorted) depth image. T

[2020-11-30 16:46] andreasfender commented on #1427
*EDIT*
Sorry that I could not find it before. This one seems correct:
Device[Instance].GetCalibration().ColorCameraCalibration.Extrinsics.Translation/Rotation

[2020-11-30 16:46] #1427 closed, assigned to nobody

[2020-11-30 21:53] qm13 commented on #1423
Issue appears to be with CUDA compatibility. Tracking in #1125.

[2020-11-30 21:54] #1423 closed, assigned to qm13

[2020-11-30 21:55] qm13 commented on #1125
Currently investigating issue.

[2020-11-30 21:57] qm13 commented on #1419
Yes, you can use Body Tracking SDK on Ubuntu 18.04

[2020-11-30 21:57] #1419 closed, assigned to qm13

[2020-11-30 21:57] #1417 closed, assigned to qm13

[2020-11-30 21:58] #1416 closed, assigned to qm13

[2020-11-30 22:00] qm13 commented on #1415
@bjkoo88 this is an example of generating a point cloud. The k4aviewer source also has a sample.

[2020-11-30 22:03] #1410 closed, assigned to qm13

[2020-11-30 22:05] #1407 closed, assigned to qm13

[2020-11-30 22:06] #1405 closed, assigned to qm13

[2020-11-30 22:07] qm13 commented on #1404
@PaulSachse what happens if you use another Azure Kinect to generate the sync signal? Do you still get a purplish image?

[2020-11-30 22:09] qm13 commented on #1403
What happens when you use the pre-built k4aviewer tool in the package?

[2020-11-30 22:10] #1402 closed, assigned to qm13

[2020-11-30 22:11] #1401 closed, assigned to qm13

[2020-11-30 22:14] #1399 closed, assigned to qm13

[2020-11-30 22:14] #1397 closed, assigned to qm13

[2020-11-30 22:19] qm13 commented on #1394
This is an issue with IR based depth sensors in general. If the material either absorbs or scatters the IR light emitted from the sensor it is not going to see the object. We have heard from a number of customers working in the volumetric film making space that hairspray can address the issue. We have not tested it. Please test it on sample fabric before spraying someone's $200 designer jeans with

[2020-11-30 22:21] #1391 closed, assigned to qm13

[2020-11-30 22:22] #1387 closed, assigned to qm13

[2020-11-30 22:23] #1386 closed, assigned to qm13

[2020-11-30 22:23] SirLynix commented on #1394
I'm sorry but that doesn't help me, as I'm not going to spray my hair everytime I want to use that camera.

I own all three Kinect models and the Azure is the only one to have this issue. As the reported infrared value is not zero I suppose there's a threshold that discards it.

Could there by any way to let the user adjust that threshold?

[2020-11-30 22:23] #1385 closed, assigned to qm13

[2020-11-30 22:24] #1384 closed, assigned to qm13

[2020-11-30 22:24] #1381 closed, assigned to qm13

[2020-11-30 22:26] madhan001 commented on #1394
I too have problems with the depth camera not seeing black objects, the kinect v2 I own can perfectly see the object though

[2020-11-30 22:26] #1375 closed, assigned to qm13

[2020-11-30 22:28] qm13 commented on #1374
The sample is only realtime. That said the process of merging the two point clouds is the same whether realtime or recorded.

[2020-11-30 22:29] #1367 closed, assigned to qm13

[2020-11-30 22:31] #1362 closed, assigned to qm13

[2020-11-30 22:32] #1358 closed, assigned to qm13

[2020-11-30 22:34] qm13 commented on #1357
We have a small team actively working on the Body Tracking SDK. No ETA at the moment.

[2020-11-30 22:34] #1357 closed, assigned to qm13

[2020-11-30 22:39] qm13 commented on #1356
@billpottle you are correct. Whilst we did capture a bunch of data of people exercising we did not specifically capture data for high kicks. We are currently researching ways for developers to customize the model (a core reason we opted to move to DNN from random forest). Nothing to announce yet.

[2020-11-30 22:41] #1353 closed, assigned to qm13

[2020-11-30 22:42] #1352 closed, assigned to qm13

[2020-11-30 22:45] #1348 closed, assigned to qm13

[2020-11-30 22:47] #1347 closed, assigned to qm13

[2020-11-30 22:55] qm13 commented on #1339
@botamochi6277 I assume you mean BGRA format?

[2020-11-30 22:56] #1337 closed, assigned to qm13

[2020-11-30 22:57] #1336 closed, assigned to qm13

[2020-11-30 22:58] #1329 closed, assigned to qm13

[2020-12-01 13:13] botamochi6277 commented on #1339
yes

[2020-12-01 15:55] SirLynix commented on #1394
Please @qm13 consider reopening this issue, as it's not resolved.

[2020-12-01 18:13] qm13 commented on #1424
Nice work @Mustardsauce

[2020-12-01 18:29] qm13 commented on #1394
This is a matter of physics. Kinect v2 project considerably more light (hence the large power brick) into the operating space than Azure Kinect. We interviewed a number of existing Kinect v2 customers when designing Azure Kinect. One request was smaller or no power brick (achieved) and willingness to this against the operating space. Azure Kinect sensor is more sensitive than Kinect v2 helping lim

[2020-12-01 18:30] TomHVR commented on #1394
is there potential for introducing a hole filling algorithm?