[2018-12-11 18:10] cdedmonds opened #1 "Color camera support on Linux"

[2019-01-28 18:19] wes-b opened #6 "The error reported when the Depth Engine is not present is cryptic and should be more useful."
[2019-01-28 10:03:05.968] [error] [t=30132] [K4A] ..\..\src\dynlib\dynlib_windows.c (28): dynlib->handle != NULL returned failure in dynlib_create
[2019-01-28 10:03:05.969] [error] [t=30132] [K4A] ..\..\src\dynlib\dynlib_windows.c (32): dynlib_create Failed to load DLL depthengine with error code: 126
[2019-01-28 10:03:05.969] [error] [t=30132] [K4A] ..\..\src\deloader\deloader.c (90): destub_dept

[2019-01-28 18:21] wes-b opened #7 "There should be a recommended work flow for getting and installing the Depth Engine."
We need to add some documentation for this.

[2019-01-29 21:25] schultetwin1 opened #11 "Log the depth engine plugin version"
The depth engine plugin is being loaded at runtime. For debugging, it would be nice to know what version of the plugin was loaded

[2019-01-31 01:10] wes-b opened #13 "k4a_device_start_cameras should fail if Depth Engine binary is not present"
Depth Engine initialization and discovery of the fact the binary is missing happens on the worker thread and has no direct way to return an error code.

[2019-02-02 00:05] schultetwin1 opened #22 "Check docs mention 64-bit support only"

[2019-02-05 00:03] #6 closed, assigned to nobody

[2019-02-05 04:45] #11 closed, assigned to nobody

[2019-02-06 00:32] schultetwin1 opened #32 "Add support for source indexing"
Getting started here:
https://docs.microsoft.com/en-us/azure/devops/artifacts/symbols/setting-up-github-sourcelinking?view=azure-devops

[2019-02-07 01:05] #13 closed, assigned to nobody

[2019-02-07 01:11] wes-b opened #38 "Calling k4a_device_open before k4a_device_get_installed_count causes LIBUSB to report leaked resources."
call
k4a_device_open
k4a_device_get_installed_count
k4a_device_close

you should not get the following results.
libusb: warning [libusb_exit] some libusb_devices were leaked

[2019-02-07 01:12] wes-b opened #39 "SDK should validate the device firmware version is the same as the firmware in shipped with that version of the SDK"

[2019-02-07 01:14] wes-b opened #40 "There is no programmatic way to obtain width/height from a resolution enum"

[2019-02-07 21:37] #39 closed, assigned to wes-b

[2019-02-08 00:31] wes-b opened #45 "FindLibUSB.CMake needs to be updated to support more sophisticated build environments"

[2019-02-08 00:35] wes-b opened #46 "Recorder for Azure Kinect is missing CTRL-C support on Linux"

[2019-02-08 17:02] wes-b opened #49 "Firmware version reported by the SDK needs to be simplified."

[2019-02-08 17:03] wes-b opened #50 "Firmware version should be logged to STDOUT when that debug mode is enabled."

[2019-02-11 23:13] wes-b opened #57 "connection_exerciser::get_current_reading needs Amp calculation updated"
tests/Utilities/ConnEx/ConnEx.cpp connection_exerciser::get_current_reading() needs to be updated to properly calculate the measured current.

From Matt:

The original author noticed that if the number was negative, it was really 1000 + the value. So if the value was -2.98A, then the number was 1298. 2,98A would be 298. If a number was 1000 or greater, they would set the current to 1000 - current.

[2019-02-11 23:41] wes-b opened #58 "Check the serial id in CalibrationBlob json metadata with the device serial number to match when user try to initialize the calibration object"
early production devices had the wrong calibration provisioned on the device.

[2019-02-14 18:25] cdedmonds opened #65 "Playback API does not allow for converting color output to BGRA32"

[2019-02-14 18:53] DerekMa-WP opened #66 "Refactor Firmware to not require a depthmcu_t handle"
Currently the firmware module requires a depthmcu_t handle. Since the consumer of the module shouldn't be trying to do anything else while performing firmware operations, the firmware module should completely encapsulate the depthmcu module. This should help clean up the update tool and test code.

[2019-02-15 00:47] DerekMa-WP opened #69 "Cleanup copyright headers in all files"
Microsoft open source files must have the appropriate copyright notice and license text added to the header of each file.  Currently these copyright notices are missing or inconsistent.

https://docs.opensource.microsoft.com/releasing/copyright-headers.html

[2019-02-15 21:04] #57 closed, assigned to MsDerekMa

[2019-02-25 21:17] #69 closed, assigned to nobody

[2019-02-27 18:09] joylital opened #95 "Support for sensor connected/disconnected events"
Support for getting connected and disconnected event to avoid polling the state.

[2019-03-02 16:22] Brent-A opened #106 "Error messages not clear when power is disconnected"
Example output with power cable disconnected

C:\Program Files\Azure Kinect SDK\tools\amd64\release>AzureKinectFirmwareTool.exe -l
 == Azure Kinect DK Firmware Tool ==
Found 1 connected devices:
[2019-03-02 08:09:58.645] [error] [t=23232] [K4A] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\usbcommand\usbcommand.c (306): find_libusb_device(). Unable to open LIBUSB at index 0
[2019-03-02 08:09:58.647]

[2019-03-04 22:12] wes-b opened #109 "Firmware Binaries can be copied to the bin folder to make make updates simplier."

[2019-03-05 02:23] MsDerekMa opened #112 "Deduplicate code betwen Depth and Firmware"
There is some code that is duplicate in the Depth and Firmware modules, e.g. "firmware_get_device_version".  We should investigate ways of reduce the duplication.

[2019-03-13 19:52] joylital opened #132 "IMU playback support"
Support for playing back recorded IMU samples

[2019-03-13 19:55] joylital opened #133 "k4arecorder capability to set RGB camera exposure"
Capability to set manual exposure as parameter when starting recording.

[2019-03-13 19:56] joylital opened #134 "Capability to enable logging through k4a API"
Enable applications like k4aviewer to enable logging to single file with SDK.

[2019-03-13 20:00] joylital opened #135 "Simplified viewer sample"
k4aviewer has been getting complicated over the time and we should have simplified viewer that just open Depth/RGB camera stream and can work as sample for devs to build their own viewer.

[2019-03-13 20:01] joylital opened #136 "C# support"
- [x] .NET Standard wrapper
- [x] Functional tests
- [x] Unit tests
- [X] CI Automation
- [X] NuGet Packaging
- [X] SDK Packaging

# C# support

**Target .NET Frameworks**
- .NET Framework (desktop apps)
- .NET Core (Windows and Linux)

**Target UI Framewoks**
- WPF
- WinForms

[2019-03-13 20:04] joylital opened #137 "ROS support"
Support for ROS with Azure Kinect DK

[2019-03-13 20:05] joylital opened #138 "Gravity vector"
Provide simple API to provide gravity direction

[2019-03-13 20:37] joylital opened #139 "YUV support for all available resolutions"
YUV support for resolutions higher than 720p. Azure Kinect DK ISP cannot handle higher resolution but this could be achieved through color conversion in media foundation similarly to BGRA mode support. Linux needs to be figured out as well.

[2019-03-14 20:40] #46 closed, assigned to xthexder

[2019-03-14 20:49] yijiew opened #144 "K4A_DECLARE_CONTEXT handle macro causes memory leak for cpp objects"
K4A_DECLARE_CONTEXT uses malloc and free for allocating/deallocating wrapper context. If there is any cpp objects inside the context, it doesn't call their constructor and destructor properly.

k4a_record_context_t and k4a_playback_context_t are two contexts that have this memory leak issue now.

[2019-03-14 22:01] Brent-A opened #145 "Add function to get numerical constants for resolution and mode enumerations"
The  k4a_color_resolution_t maps to a known set of width/height values which are useful to an application allocating memory for images.

Adding a function that maps those to values would be helpful for developers.

Similarly for depth modes from k4a_depth_mode_t, however the resolutions for each of those modes may be hardware dependent. Should we make the function dependent on a device handle perh

[2019-03-14 22:05] Brent-A opened #146 "Add a structure in the API for BGRA pixel definition"
This is already covered in the documentation for the BGRA format, but it is a useful structure for consumers to be able to decode the component of a pixel.

[2019-03-15 22:06] #38 closed, assigned to wes-b

[2019-03-15 22:09] #109 closed, assigned to nobody

[2019-03-18 17:00] #145 closed, assigned to nobody

[2019-03-18 19:31] wes-b opened #151 "Create a C based record sample"
We currently have a CPP based record tool that is in the examples folder. It has gotten fairly complex, so we should consider moving the current example into the tools folder. We should also write a C-Based sample. C code is specifically needed because the header file is C based and we also need to test to confirm the C header stays compatible for C projects (right now all users of record are CPP)

[2019-03-18 19:31] wes-b opened #152 "Create a C based playback sample"
C code is specifically needed because the header file is C based and we also need to test to confirm the C header stays compatible for C projects (right now all users of record are CPP). Over time we will make CPP, C# version of the simple sample for users of the SDK.

[2019-03-18 22:22] wes-b opened #153 "k4a.dll should catch exceptions from CPP code and return an error."
CPP modules like logger and color call 'new' to allocate handles, as well as call into other CPP/COM code that may throw exceptions. This code should attempt to catch these exceptions, cleanup, and return an error to the caller of the given C function

[2019-03-19 17:44] MsDerekMa opened #158 "Enable easy distribution of Firmware"
Currently we only have the firmware blob in the MSI. This means if you want to try out a firmware you must install the new SDK. Or if you want to roll back after installing a new SDK and firmware, that you need to install the old SDK somewhere.

Ideally, we should have a way to directly get at an arbitrary firmware version.

[2019-03-20 18:12] #144 closed, assigned to xthexder, wes-b

[2019-03-21 18:51] yijiew opened #165 "The error message is confusing when the depth mode doesn't support the fps mode the user sets"
When the depth mode doesn't support the fps mode the user sets, the error message is very confusing: “depth_fps_and_mode_supported == true returned failure in validate_configuration()”.

Changing the error message to something more human-readable will help our customers to figure out the issue easier. Here are the possible examples:
"Depth mode X doesn’t support Y fps" or
"The depth mode doesn’t s

[2019-03-21 23:34] wes-b opened #169 "Logging features for 1.1.x"
# Proposal
For logging in Azure Kinect we are planning to add an interface that will allow log messages from the SDK to be forward to the users executable. This will allow customers to merge K4a.dll logs into their own logging solution for better debuggability of system issues. It will also allow tools like K4A viewer can show error logs in real time in a dedicated window if it so chooses.

The pr

[2019-03-22 00:03] scotthsu98052 opened #170 "memory leaks in k4a.dll?"
We notice our SensorApp.exe/CameraSample.exe are gradually using more memory when capturing video. For example,  after 1 hour, 32MB memory was increased.  After debugging, we suspect the increased memory is related to the Azure Kinect SDK.
We observed similar symptoms in K4aViewer.exe (a camera tool bundled with the SDK). So, we need the SDK team to confirm if this is a memory leak issue or by des

[2019-03-22 17:56] rabbitdaxi opened #171 "Client using OpenGL cannot use transformation engine on Linux"
OpenGL has limitation that only allow one context per thread, unlike DirectX allow handles simultaneously to access GPU device. Thus, if a client using OpenGL while invoking transformation API on Linux (which internally using OpenGL for transformation engine optimization), it does not work. This is not an issue for Windows because DirectX handles this. Thus, we need to move transformation engine o

[2019-03-22 18:18] stevekiene opened #173 "verify-windows.ps1 script doesn't search for prerelease VisualStudio installs"
$vsWhereOutput = (& $vswhere -format xml)

Might want to consider having the -prerelease flag to add searches for non-release versions of VS. Otherwise the script fails when a user only has prerelease versions installed.

[2019-03-22 18:34] cdedmonds opened #174 "Color functional tests are not enabled for Linux"

[2019-03-22 18:35] #174 closed, assigned to cdedmonds

[2019-03-22 19:04] wes-b opened #175 "Kinect Eventing API(s)"
In 1.1.x we want to add event based API’s to notify the user when devices are connected or disconnected from the PC. The main events to cover are USB device attach and USB device detach. Other events that might be interesting in future iterations might be: the loss of just the color camera, loss of the depth camera, device reset, high water mark on capture queue, to name a few. It would be nice ha

[2019-03-22 20:20] #1 closed, assigned to nobody

[2019-03-22 22:14] wes-b opened #176 "AzureKinectFirmwareTool should add a reset command that resets the color ISP"
Due to HW segmentation, reset commands can be issued to either the Depth ISP or the Color ISP. The result however is that both are reset. In certain conditions the Depth device is not responsive and a reset to the color device can clear it. Currently the tool only supports a reset sent to the depth ISP

[2019-03-23 17:22] stevekiene opened #178 "Clean build not working. Error with libjpeg-turbo and NASM."
VS 2019, latest NASM, build in VS doesn't work. Command line to nasm is buggered with cl.exe parameters /MTd /ZH:SHA_256 /D_CRT_SECURE_NO_WARNINGS and with an incorrectly parsed output directory (extern\libjpeg-turbo\src\simd\CMakeFiles\simd.dir\x86_64\jsimdcpu.asm.obj) which confuse NASM. I can build libjpeg-turbo separately just fine. I am pretty stupid on cmake so trying to get myself up to spe

[2019-03-25 16:16] schultetwin1 opened #180 "Contributing.md needs to include PR process"
Contributing.md is currently a minimal doc describing Microsoft contributing rules. It needs to be updated to contain the following info:

* Which branch to submit PRs against
* Our branching strategy
* An explanation of our private and public CI builds
* How to debug functional test failures.

[2019-03-25 23:58] #171 closed, assigned to rabbitdaxi

[2019-03-26 17:56] #173 closed, assigned to schultetwin1

[2019-03-26 18:14] #178 closed, assigned to williampMSFT

[2019-03-26 22:30] #134 closed, assigned to wes-b

[2019-03-26 23:08] rabbitdaxi opened #188 "Improve the color point cloud artifacts on the edges because of interpolation at depth discontinuity region"
We should skip interpolation for large depth discontinuity to clean the artifacts (line of dots) at those regions, but we should also be disruptive on the slanted surface

[2019-03-27 11:33] stevekiene opened #193 "k4aviewer link error on Windows"
In k4aviewer\platform\windows\filesystem17.cpp there is a call to PathStripPath(). The implementation is in Shlwapi.lib, which does not seem to be included in the link statement. Perhaps adding it here in the the CMakeLists file:
    list(APPEND EXTERNAL_LIBRARIES
        setupapi.lib
        pathcch.lib
	Shlwapi.lib +++add this
    )

[2019-03-27 11:36] stevekiene opened #194 "k4aviewer for windows source #includes atlbase.h which is unnecessary"
k4adevicecorrelator.cpp #includes atlbase.h, which means the whole ATL package is needed with the VisualStudio install. Nothing in the code currently relies on anything in the ATL so the #include can be removed and the ATL install is no longer required.

[2019-03-28 00:00] MsDerekMa opened #197 "K4AViewer doesn't have a clear error when Depth Engine is missing"
If the Depth Engine DLL is missing and you try to start streaming, the error message is a generic "Failed to start device!" error. Ideally K4AViewer would let you know that the Depth Engine DLL is missing. This would require adding a function call to check for the Depth Engine or adding error codes to indicate such a thing.

[2019-03-28 01:06] Brent-A opened #198 "Provide method to convert device timestamps to system timestamps"
**Tasks**
* [x] 1. API Design covering Windows and Linux, as well as Live and Playback
* [x] 2. Implement simple time sync by correlating PTS with CPU time at frame receipt
* [ ] 3. Implement precision time sync by reading PTS/USB frame correlation from firmware

**API design considerations**

* Hardware PTS timer has a resolution of 90kHz and resets to zero at boot and may reset during camera on/

[2019-03-28 01:39] #135 closed, assigned to williampMSFT

[2019-03-28 06:36] #194 closed, assigned to nobody

[2019-03-28 06:37] #193 closed, assigned to nobody

[2019-03-28 17:06] #66 closed, assigned to MsDerekMa

[2019-03-29 21:40] #176 closed, assigned to MsDerekMa

[2019-04-01 20:17] wes-b opened #210 "Playback_ut is reporting leaks"
Playback_ut is reporting a lot of leaks. We need to clean up the test so we can confirm the retail code is clean. Right now we can't tell.

Repro:
1) set K4A_ENABLE_LEAK_DETECTION
2) rebuild
3) run playback_ut in the debugger

Detected memory leaks!
Dumping objects ->
{26654} normal block at 0x00000185878BAFF0, 4 bytes long.
 Data: < S k> 1C 53 BB 6B
{26653} normal block at 0x0000018581ACCFE0, 16

[2019-04-01 20:30] wes-b opened #212 "record_ut is reporting memory leaks"
Please cleanup the test and ensure the retail code being tests is also leak free

1) define K4A_ENABLE_LEAK_DETECTION
2) rebuild
3) enable Application Verifier to get call stacks
4) run with debugger attached.

Detected memory leaks!
Dumping objects ->
{877} normal block at 0x000001CA5F235FE0, 16 bytes long.
 Data: < ?#_            > D0 3F 23 5F CA 01 00 00 00 00 00 00 00 00 00 00
{876} normal blo

[2019-04-02 21:16] #132 closed, assigned to xthexder

[2019-04-02 21:19] #133 closed, assigned to xthexder

[2019-04-03 21:14] cdedmonds opened #216 "New API for querying default color control values and ranges"

[2019-04-04 17:21] #170 closed, assigned to wes-b

[2019-04-05 00:43] #188 closed, assigned to rabbitdaxi

[2019-04-05 16:56] Brent-A opened #223 "Transformation API does not validate images are same resolution as calibration"
If you call k4a_transformation_color_image_to_depth_camera with a 2160p color image, but you gave the transformation object a calibration for a 1080p configured device, the API produces distorted results.

Since the API knows the expected input resolutions of each k4a_image_t, it should validate that they are correct rather then producing bad results.

[2019-04-05 17:22] wes-b opened #224 "Debug message logging API needs to be implemented in CPP wrapper"
#169 needs to be added to our language wrappers.

[2019-04-05 22:34] williampMSFT opened #226 "K4AViewer: Add IMU playback support"
Now that the K4A API supports IMU playback (see #132), we want to adopt that functionality in K4AViewer too.

[2019-04-05 22:53] #95 closed, assigned to wes-b

[2019-04-09 03:56] wes-b opened #227 "Document Depth auto power down"
Depth camera will power down to preserve device life if it detects frames have not been read from the device for more than 60s.

This is note worthy in the case of being a subordinate device, if the master takes more than 60s, then depth will not start.

[2019-04-09 15:19] #169 closed, assigned to wes-b

[2019-04-09 18:06] mbleyer opened #230 "Linux build does not support SSE 4.1"
k4a_depth_to_xyz() uses SSE 4.1. Currently, the SSE optimization is only enabled for the Windows build, as the Linux compiler is not configured to use SSE 4.1. Also the #ifdef in \Azure-Kinect-Sensor-SDK\src\transformation\rgbz.c needs to be changed from #ifdef _M_X64 to a macro that is also present in the Linux environment.

[2019-04-10 21:15] #223 closed, assigned to mbleyer

[2019-04-11 00:57] #226 closed, assigned to williampMSFT

[2019-04-11 18:36] #212 closed, assigned to xthexder

[2019-04-11 18:37] #210 closed, assigned to xthexder

[2019-04-15 18:01] mffigueroa opened #240 "Add documentation on acceptable RGB camera manual exposure values"
When looking at either the [Kinect hardware specs](https://review.docs.microsoft.com/en-us/azurekinect/azure-kinect-devkit?branch=master) or the [k4a_color_control_command_t documentation](https://review.docs.microsoft.com/en-us/azurekinect/api/k4a-color-control-command-t?branch=master), it is not clear what the acceptable values are for the RGB camera exposure time setting. As a user, the experie

[2019-04-15 21:46] #65 closed, assigned to xthexder

[2019-04-16 21:35] wes-b opened #243 "A test is needed to validate default camera settings"
Camera settings may have different defaults based on format, resolution, and framerate. We need to validate the defaults are the same for all modes and that they don't change from 1 firmware version to another.

[2019-04-16 21:38] wes-b opened #244 "SDK generates a lot of unneccessary warnings when running K4AViewer.exe"
During sensor start and stop we generate a lot of unnecessary warnings. We should clean those up.

[2019-04-16 23:57] xthexder opened #247 "Move k4arecorder to tools/ directory"
The k4arecorder tool has grown to include a large number of features and command line arguments. I think it would be better to have a separate (simpler) recording example, and move the current code to the `tools/` directory.

Related issue: https://github.com/Microsoft/Azure-Kinect-Sensor-SDK/issues/151

[2019-04-17 21:48] cdedmonds opened #253 "Update Depth Engine to 1.0.4"

[2019-04-18 18:21] williampMSFT opened #256 "K4AViewer: device times out immediately if started in subordinate mode"
If you start a device in subordinate mode, it doesn't return data until the master device sends out the sync pulse.

This means when we start the device in subordinate mode, we quickly hit the 2 second timeout and fail.

We need to wait for the first data to come back before giving up.

[2019-04-18 21:47] skalldri opened #257 "lib/cmake folder does not have a k4arecordConfig.cmake file"
The Azure Kinect SDK can be included in projects by simply pointing cmake to the SDK lib/cmake folder, and then calling:

find_package(k4a 1.0.0 REQUIRED)

This will locate the k4aConfig.cmake file and include the libaries / headers needed to use the SDK.

There is no equivalent file for locating the k4arecord files (k4arecord.dll and .lib). We should have a separate k4arecordConfig.cmake file to

[2019-04-19 18:52] yijiew opened #260 "Support mapping image other than the depth map from depth space to color space"
The instance map in the K4ABT SDK is a map in depth space. But currently there is no way for them to map the instance map from the depth space to color space. It would be useful to have an API to help map the image other than the depth map from depth space to color space.

[2019-04-19 19:52] xthexder opened #262 "Some early recording files are not playable with the latest API"
A few changes to the recording format were made before the 1.0.0 release:
- The `IR` track was renamed from `DEPTH_IR`
- The `NFOV_2X2BINNED` enum used to have a lower-case `x`, the mode matching is case-sensitive.
- Some raw recordings with unprocessed depth had the `K4A_DEPTH_MODE` tag pointing to the wrong track.

[2019-04-19 20:15] #262 closed, assigned to xthexder

[2019-04-19 20:58] yijiew opened #263 "Support custom track record and playback"

[2019-04-19 21:20] wes-b opened #264 "Project MD files need to be cleaned up before making project public"

[2019-04-19 21:42] wes-b opened #265 "k4arecorder.exe should generate an error message if output.mkv is not provided."
Right now all it does is show the help again. But whey you have entered a lot of parameters it is not obvious what the problem is.

I.E.
```bin\k4arecorder.exe --device 0 --external-sync Subordinate -l 10 -r 30 -c 720p -d NFOV_2X2BINNED```

Should be
```bin\k4arecorder.exe --device 0 --external-sync Subordinate -l 10 -r 30 -c 720p -d NFOV_2X2BINNED output.mkv```

**NOTE:** *It is also not obvious

[2019-04-25 00:08] wes-b opened #272 "k4a_device_start_cameras should use const k4a_device_configuration_t"
```k4a_result_t k4a_device_start_cameras(k4a_device_t device_handle, k4a_device_configuration_t *config)``` should be changed to ```k4a_result_t k4a_device_start_cameras(k4a_device_t device_handle, const k4a_device_configuration_t *config)```

[2019-04-25 01:15] #256 closed, assigned to williampMSFT

[2019-04-25 18:32] xthexder opened #275 "Project does not build on clang version 6.0.0-1ubuntu2"
This project does not built on the linux subsystem for windows running `Ubuntu 18.04.1 LTS`
The latest version of clang available (6.0.0-1ubuntu2) outputs the following errors:

[code]

This looks to be a known bug in clang: https://bugzilla.redhat.com/show_bug.cgi?id=1472437

[2019-04-25 20:49] joylital opened #278 "Remove the RGB AUTO-EXPOSURE PRIORITY control"
Remove the control and viewer setting as firmware does not support this. FPS is set always high priority to keep synchronization working across cameras

[2019-04-25 20:50] #278 closed, assigned to williampMSFT

[2019-04-25 21:10] skalldri opened #279 "k4a.hpp is not included in SDK builds"
The C++ wrapper file is not currently included in SDK downloads. The C++ wrapper should be included by default in the SDK so that applications can compile against it.

[2019-04-25 22:10] #275 closed, assigned to nobody

[2019-04-26 15:09] Brent-A opened #284 "Azure Pipelines bot reports no pipelines for organization bhyada"
In response to /azp run:

"For the Azure DevOps organization bhyada, no matching pipelines using the Azure Pipelines app were found for this pull request."

The pipeline seems to actually kick off and work correctly in spite of this message.

[2019-04-26 15:47] Brent-A opened #285 "bootstrap-ubuntu.sh failures do not block build"
See this build:

https://dev.azure.com/aipmr/azure-kinect-sensor-sdk-CI/_build/results?buildId=1330

Transient network outages can result in bootstrap-ubuntu.sh failing to install proper packages. Later build steps fail due to running in an unexpected environment.

We should ensure that errors in this setup step block further steps from running.

[2019-04-26 17:59] #284 closed, assigned to schultetwin1

[2019-04-26 18:23] Brent-A opened #288 "Remove depenency in Universal Packages to enable PR CI on forks"
Remove the Universal Package download step (which cannot be run on builds with forked repos) and replace with a resource that allows the CI system to run on these repos.

[2019-04-26 19:55] #45 closed, assigned to schultetwin1

[2019-04-29 17:37] #253 closed, assigned to cdedmonds

[2019-04-29 17:42] cdedmonds opened #290 "Create .deb package"

[2019-04-29 17:45] cdedmonds opened #291 "througput_perf failes on RGBA caes on Linux"

[2019-04-29 17:46] cdedmonds opened #292 "Add getting started apps to documentation"

[2019-04-29 17:48] cdedmonds opened #293 "Update documentation for installing .deb and .msi"
Update Azure Kinect docs with this info

[2019-04-29 18:05] cdedmonds opened #294 "HD 620 on Surface Laptop produces incorrect transformation results"

[2019-04-29 19:34] #264 closed, assigned to wes-b

[2019-04-29 19:51] schultetwin1 opened #295 "Git submodule command in dependencies.md is incorrect"
This git submodule command is listed as

[code]

we actually run

[code]

[2019-04-29 21:08] schultetwin1 opened #297 "Update readme build documentation to point to public build"
The link to our build status should point to the public builds (not our private builds)

[2019-04-30 00:13] #288 closed, assigned to Brent-A

[2019-04-30 00:54] Brent-A opened #300 "User branches should be removed in favor of forks"
# :trident: PRs can now be validated from forks! :trident:

We now have the ability to run our CI system on forks of the repo, so we asking contributors to do all of their work in forks until they are ready to submit a pull request.

For larger changes that require coordination we can establish feature branches which will remain active until the feature is merged.

## Updating an existing clone
Th

[2019-04-30 00:55] #295 closed, assigned to schultetwin1

[2019-04-30 16:29] #297 closed, assigned to schultetwin1

[2019-04-30 17:38] wes-b opened #301 "IMU Stream continues to attempt to publish samples after USB is disconnected"
Repro Steps:
* Start IMU
* Unplug Azure Kinect

Expected result is that a single error would happen to indicate the disconnected.
Actual result is that a multiple errors are generated and IMU code attempts to continue streaming.

Related to #95 and #106

[2019-04-30 17:41] wes-b opened #302 "LibUsb prints out error messages when multiple devices are in use."
LibUSB should not generate error messages when opening two Azure Kinects at the same time.

[2019-05-01 20:12] #180 closed, assigned to schultetwin1

[2019-05-01 21:14] schultetwin1 opened #310 "libk4a.so should search its local path for libdepthengine.so on Linux"
**Is your feature request related to a problem? Please describe.**
On Windows, k4a.dll will look in its local path to load the depth engine plugin. On Linux this does not happen by default. This makes it painful to test newer versions of the depthengine plugin.

**Describe the solution you'd like**
Set RPATH in the k4a shared object to be ORIGIN.

[2019-05-01 21:48] #247 closed, assigned to xthexder

[2019-05-01 21:48] #257 closed, assigned to schultetwin1, xthexder

[2019-05-01 22:29] skalldri commented on #137
This work is going well, and is getting close to the point where we can have an initial release.

[2019-05-01 22:30] #300 closed

[2019-05-01 22:37] schultetwin1 opened #313 "Azure Pipelines Bot is unable to run only private build"
**Describe the bug**
On Pull Requests, "/azp run Microsoft.Azure-Kinect-Sensor-SDK" should only run the private build. This command does not work.

**To Reproduce**
1. Create a new PR
2. Have an admin comment /azp run Microsoft.Azure-Kinect-Sensor-SDK
3. Nothing happens

[2019-05-01 22:45] schultetwin1 commented on #313
I believe the actual bug here is /azp run Microsoft.Azure-Kinect-Sensor-SDK responds with

[2019-05-02 17:51] #310 closed

[2019-05-02 23:55] schultetwin1 opened #318 "Verify xy_tables in transformation code is 16-byte aligned"
You are right. Maybe we should open a P3 bug on this.

_Originally posted by @mbleyer in https://github.com/Microsoft/Azure-Kinect-Sensor-SDK/pull/317#issuecomment-488870721_

[2019-05-03 16:17] UnaNancyOwen opened #320 "Error C2001 occurred when building libusb"
**Describe the bug**
The error C2001 occurred when building libusb.

**To Reproduce**
Build Azure Kinect SDK on Windows 10 and Visual Studio 2017 of multi-byte language environment (such as Japanese).

1. git clone
2. cd Azure-Kinect-Sensor-SDK
3. mkdir build
4. cd build
5. cmake .. -G"Visual Studio 15 2017 Win64"
6. cmake --build . --config Release

**Logs**
[code]

**Desktop (please complete the

[2019-05-03 17:37] #320 closed

[2019-05-03 20:19] MsDerekMa opened #322 "Enable C# functional tests in the build"
This is related to getting C# support enabled, #136. The functional tests are missing a dependency when attempting to run and so they fail. This issue is to track getting the dependencies resolved and the functional tests running.

[2019-05-03 20:23] MsDerekMa opened #323 "Get C# Unit Tests running on x86 build"
This is related to getting C# support enabled, #136. NUnit is defaulting to the 64-bit architecture when attempting to run the tests. This means that for the x86 build it is unable to find the unit tests to be able to run them. Need to figure out how to get VSTest or NUnit to run as x86.

[2019-05-03 20:30] schultetwin1 opened #324 "SDK should detect and gracefully fail on CPUs that do not support SSE 4.1"
**Is your feature request related to a problem? Please describe.**
Currently, if the SDK is run on a CPU that does not support SSE 4.1 instructions, the code will fault due to an unrecognized instructions.

**Describe the solution you'd like**
A cross platform library to run time detect SSE 4.1 support on Linux and Windows. This detection will gate running of the SDK.

[2019-05-03 21:14] wes-b opened #325 "WFOV_2X2BINNED modes on Linux drop too many frames."
**Describe the bug**
Throughput_perf tests for WFOV_2X2BINNED modes results in too many dropped frames. Some combinations of that mode and different color modes result in 3 out of 4 frames being dropped. Others results in 1 out of 4 being dropped. Even more troubling is the fact that the problem manifests at 15 and 5 FPS.

**To Reproduce**
1. Run Throughput_perf

**Expected behavior**
All tests sh

[2019-05-03 21:16] wes-b commented on #325
[code]

[2019-05-03 22:11] MsDerekMa commented on #291
My original tests were against officially built binaries, so that should have used NASM. I think my failures might be related to #325.

[2019-05-05 03:02] afantima opened #328 "SDK cannot be compiled in Visual Studio 2019 using CMake's MSBuild Generator"
**Describe the bug**
I recently upgrade Visual Studio software from 2017 to 2019. Before upgrading, I can compile under 2017 version, but after upgrading to 2019, it cannot. It will stop on  CMake generation and cannot move forward.

**To Reproduce**
On my computer.
1) Run GitHub Desktop and pull in latest SDK package (5/5/2019).
2) After pulling in request has been finished, run Visual Studio 201

[2019-05-05 16:16] Brent-A commented on #328
It looks like our Cmake Settings.json file in the root of the project is configured for the vs2017 tool chain for the *msbuild project configurations. You might be able to just use the drop down at the top of visual studio to switch for win-x64-debug-msbuild to win-x64-debug-ninja.

I will have to try this tomorrow and see if there is a way to switch the version depending on what version of visual

[2019-05-06 15:39] schultetwin1 commented on #328
We are currently not testing VS2019 MSBuild in our CI system, only VS2019 Ninja. As Brent-A said, switching from Win-x64-Release-MSBuiild to Win-x64-Release-Ninja should work. I have tested this on my machine but let me know if it works for you.

@Brent-A it looks like the VS2019 generator will not be supported in CMakeSettings.json until a later time.
https://developercommunity.visualstudio.com/c

[2019-05-07 14:37] szi opened #329 "ARM (Linux) architecture support"
**Is your feature request related to a problem? Please describe.**
Currently I cannot use the sensor with ARM/Linux-based devices. Many embedded/robotics targets run on ARM. For example, it would be nice if you'd support NVIDIA Jetson Nano or similar embedded dev platforms.

**Describe the solution you'd like**
It sounds like the only thing needed would be a precompiled version of the DepthEngine

[2019-05-07 16:01] DrMaxP commented on #240
Any ideas on when the hardware specs and this documentation will be accessible to external users?

[2019-05-07 16:56] #322 closed

[2019-05-07 21:17] Brent-A commented on #197
Since this is mitigated by the trace messages, I'm closing the issue.

[2019-05-07 21:23] #216 closed

[2019-05-07 21:23] Brent-A commented on #146
We will want to add the type to k4atypes.h, and provide some unit tests to validate that the structure works as expected.

[2019-05-07 21:27] Brent-A commented on #139
This is approved in principal, but we will probably want to have more discussion on the implementation. This will need to work on both Linux and Windows and take in to consideration the impact on playback and recording as well.

[2019-05-07 21:29] Brent-A commented on #138
Closing until we have more feedback on this as a feature. If there are specific use cases that need this and aren't served by the existing IMU access, we will reconsider.

[2019-05-07 21:29] #138 closed

[2019-05-07 21:36] Brent-A commented on #137
This work is underway in [Azure-Kinect-ROS-Driver](https://github.com/microsoft/Azure-Kinect-ROS-Driver) (which is currently private). It will eventually be shipped as a consumer of the Azure Kinect Sensor SDK.

[2019-05-07 21:38] Brent-A commented on #112
There is still some duplicated logic here that we can simplify.

[2019-05-07 21:39] Brent-A commented on #58
Not relevant to production hardware. The issue only manifested on very early units with mismatched calibration.

[2019-05-07 21:39] #58 closed

[2019-05-07 21:54] Brent-A commented on #158
We need a design for how to handle this. We don't have a good place to host these at the moment:
* GitHub is not appropriate since these are binaries and are licensed separately from the SDK
* The MSI is only usable on Windows

We probably want to use one of the packaging systems for this.

[2019-05-07 22:01] Brent-A commented on #324
Before approving we want to have a good idea of how the check will be done, and what we need to do to verify it.

[2019-05-07 22:09] Brent-A commented on #260
Wes will follow up with @yijiew to work out a set of requirements.

[2019-05-07 22:15] Brent-A commented on #328
@afantima were you able to build the project with the Ninja configuration?

[2019-05-07 22:16] Brent-A commented on #328
We will try to get a repro with the same tool set. I was unable to load the CMake project at all on my 2019 preview install, so we need to narrow this down to problems with VS2019 and our configuration.

[2019-05-07 22:18] joylital commented on #240
We have some specs here: aka.ms/kinectdocs. Take a look and let us know what additional information is needed to help us improve that.

[2019-05-07 22:22] Brent-A commented on #329
Thanks for the suggestion.

We want to consider this for a future release. We need more feedback from customers on which specific platforms they are interested in us supporting so that we can invest in the right build and test infrastructure to enable those platforms.

[2019-05-07 22:39] #197 closed

[2019-05-07 23:10] wes-b commented on #243
Fix #319 address most of this. It doesn't cover frame rate or capture mode.

[2019-05-07 23:10] #243 closed

[2019-05-07 23:19] yijiew commented on #260
It is some custom format. Basically it will be a 8-bit image covers the same resolution as the depth/IR image.

The fast point cloud example is a very good way to generate point cloud in 3d. But projecting the point cloud in 3d back to other camera space is not that trivial by the following reasons:
1. the naïve method won't handle the occlusion
2. the 3d point cloud is not dense enough to cover e

[2019-05-07 23:35] schultetwin1 opened #330 "Package File Names don't include Version"
**Describe the bug**
CPack is used to create a .tar.gz and a .zip of each build. This package name is set by the variable CPACK_PACKAGE_FILE_NAME which includes a CMake variable "K4A_VERSION_STR". That CMake variable no longer exists and should now be referred to as "VERSION_STR".

**To Reproduce**
1. Run ninja package
2. Name of package is k4asdk-.Linux

**Expected behavior**
Name of package shou

[2019-05-08 15:22] wes-b opened #332 "A small number of devices fail to read the ContainerID"
**Describe the bug**
A small number of devices work fine when WinUsb is used to communicate with the device. However when using with LibUsb and reading the Container ID, a timeout reading the BOS descriptor occurs.

**To Reproduce**
1. Attach device to PC
2. Run any test that calls k4a_device_open()

**Expected behavior**
k4a_device_open() should succeed, but it blocks for about 1 minute and then

[2019-05-08 16:01] schultetwin1 opened #333 "color_control/color_control_test.control_test/8 functional tests fail intermittently"
**Describe the bug**
color_control/color_control_test.control_test/8 will sometimes fail in automation with the following error

**To Reproduce**
1. Run color_ft.exe

**Expected behavior**
All tests should pass, sometimes we see a failure in color_control/color_control_test.control_test/8.

**Desktop (please complete the following information):**
 - OS with Version:
 - SDK Version:  develop
 - Fir

[2019-05-08 16:05] schultetwin1 opened #334 "Run Color Functional Tests on Linux in CI"
**Describe the bug**
Our color functional tests are still not run in CI on Linux. These should be enabled to increase test coverage.

[2019-05-08 16:20] Noemata opened #335 "UWP Support"
Will this SDK ever support UWP, and if not, why?

On a similar track, why was a UWP/WinRT driver not created that supports this variant of the Kinect in a similar manner to the previous generation?  We would have been able to use our existing code as is, no?

[2019-05-08 17:59] joylital commented on #332
Devices with this failure won't pass manufacturing line and fail first in device calibration.

[2019-05-08 18:33] #333 closed

[2019-05-09 12:00] DrMaxP commented on #240
Ok. So general hardware capabilities I haven't seen addressed are:

[2019-05-09 14:03] rfilkov opened #337 "Basic support for Kinect-v2 sensors"
**Is your feature request related to a problem? Please describe.**

There is no way to do real tests of K4A SDK, before you actually ship the Azure Kinect DK.

**Describe the solution you'd like**

If not too much extra work, it would be nice, if this SDK provides at least basic support for the Kinect-v2 sensors, as well. This way it would be much easier more people to test the SDK, in means of re

[2019-05-09 22:47] Brent-A opened #338 "Azure Kinect FAQs"
We are planning to publishing an updated list of FAQs at [https://azure.com/kinect](https://azure.com/kinect).

Here is a current list of FAQs that we are gathering before updating the site. Please comment on this issue if you have suggestions for additional FAQs.

## Frequently Asked Questions

### What are the hardware specifications?

Hardware specifications are available at [https://aka.ms/kin

[2019-05-09 22:49] Brent-A commented on #240
Thanks for your interest @DrMaxP! We started a new FAQ list which I hope answers your questions in issue #338.

[2019-05-09 23:00] Brent-A opened #339 "Publish recording sample data"
**Is your feature request related to a problem? Please describe.**
Making recordings available enable developers without access to Azure Kinect DK hardware to begin integration with the Azure Kinect Sensor SDK.

**Describe the solution you'd like**
We would like to pre-record some short sample data that would be useful for developers to test their solutions.

:question:  :grey_question: :question:

[2019-05-09 23:01] Brent-A commented on #337
Thanks. Unfortunately this isn't something that can be accomplished very easily and is outside of the scope of the Azure Kinect Sensor SDK design.

We are looking to publish some pre-recorded sample data (#339) to help people get started without hardware.

[2019-05-09 23:01] #337 closed

[2019-05-10 00:28] joylital commented on #335
Thanks for the request @Noemata , we do not have plans to support UWP today. Last //build conference we started IWANTKINECT survey based on those results we prioritized cross-platform SDK that works with Win32 and Linux.

We are working on getting feedback system available that can inform us better on overall community interests/needs so we can continue prioritizing development. I will post a link

[2019-05-10 00:45] joylital commented on #285
Let's have a proposal for how we will address this before we take a change.

[2019-05-10 07:34] DrMaxP commented on #338
Many thanks for this.

[2019-05-10 07:55] rfilkov commented on #339
OK. Here is a suggestion for two recording scenarios, each within 20-30 seconds. They could be used later for tests of the body tracking SDK, as well:

1. Slow moving people with occlusion: Two, three or four people walking in a room that contains several large objects. The people may go in front or behind the objects, leave the camera view, then come back again.
2. Fast moving people, randomly ob

[2019-05-10 15:10] Noemata commented on #335
The waffling on platform support initiatives have been painful to both watch and endure over the years.  All of a sudden, UWP gets the bottom rung.  WPF suffered a similar demotion when UWP first game out.  And now Microsoft is somehow intent on resurrecting Win32 anew??  The Silverlight saga should have been a pretty good object lesson.  If you want to commit to a change, then go all the way.  Wh

[2019-05-10 19:39] Brent-A commented on #335
Hi @Noemata. Thanks for your feedback.

We're are collecting community suggestions on the future of this project at our new [user feedback forum](https://feedback.azure.com/forums/920053). I just added your request there, and you can upvote it to voice your support.

The Azure Kinect DK is still a developer kit and we are looking for specific ways that you want to use the device. Please comment on

[2019-05-10 19:39] #335 closed

[2019-05-10 19:49] Brent-A commented on #329
@szi, I just posted your suggestion to our new [feedback forum](https://feedback.azure.com/forums/920053-azure-kinect-dk). Go ahead and up vote it there to show your support for the feature, or comment if you want to provide more details.

[2019-05-10 19:49] #329 closed

[2019-05-10 21:16] tesych commented on #22
The system requirements documentation was updated.

[2019-05-10 21:16] #22 closed

[2019-05-11 12:40] dimitrijevic commented on #339
For some medical use precision tests how about a subject in undergarments (skin showing to evaluate reflectivity) standing in front of the sensor placed on a 1m tall tripod at 1.5m distance (whitepaper says that's the 1mm error range)...since i realize that's a privacy issue the subject can be turned back towards sensor...also will the SDK have fusion API for creating and exporting vertex colored

[2019-05-12 20:23] Brekel commented on #339
Great idea, that would certainly help us poor chaps without a physical sensor :)
A few more generic suggestions that could be useful for various scenarios:

- recordings with a static sensor looking at a generic interior in all the various depth resolutions
  preferably with objects/walls at various distances all the way up to the maximum distance the sensor can see

- a sensor moving around an ob

[2019-05-13 11:59] jeffdelmerico opened #340 "Linux - Can't find UVC device"
Built SDK from develop branch on Ubuntu 16.04, and udev rules have been installed to enable non-root usage.

Device works as expected with Windows SDK,  On linux, the device is detected and enumerated with `lsusb`, but produces the following errors when running `enumerate_devices`:
[code]
with similar output when running `k4aviewer`:
[code]

The output in `dmesg` indicates some issue with UVC, but

[2019-05-13 17:59] schultetwin1 commented on #330
This issue is not true for our open source library. I confused this repository and the repository we use to package this. Closing this issue.

[2019-05-13 17:59] #330 closed

[2019-05-13 22:15] christianmakela opened #341 "Build instructions page contains an invalid link to bootstrap-ubuntu.sh"
**Describe the bug**
Build instructions page contains an invalid link to bootstrap-ubuntu.sh.

**To Reproduce**
1. Go to https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md
2. Scroll down to 'Linux dependencies'
3. Click on 'scripts/bootstrap-ubuntu.sh' link: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/scripts/bootstrap-ubuntu.sh
4. Result:

[2019-05-13 22:30] wes-b commented on #340
Thanks @jeffdelmerico, we will try to repro and address shortly.

[2019-05-13 23:28] schultetwin1 commented on #230
This was fixed by PR #317

[2019-05-13 23:28] #230 closed

[2019-05-15 09:57] jeffdelmerico commented on #340
Thanks. Please let me know if I can provide any other information to support.

[2019-05-15 12:41] jeffdelmerico commented on #340
I have an update...I was able to test my installation with a different device, and this time it was successful.  I'm not sure if it's relevant, but with the working device, there is a small difference in the output of AzureKinectFirmwareTool:
[code]
Whereas the the non-functioning one has the same firmware versions, but the certificate type is "Unsigned".  Otherwise, as far as I can tell, the two

[2019-05-15 15:12] wes-b commented on #340
Thanks @jeffdelmerico, you have a preproduction unit, so lets continue this conversation offline.

[2019-05-15 18:04] bjelovar opened #343 "spdlog verssion you are using is about a year old and causing issues on Linux"
As I was building solution with SDK, I encountered issue where my code is using spdlog and your code is using it as well. However, SDK is using about year old version and it caused some strange memory allocation issue. I stopped further investigation since version difference might be an issue here.
Please update spdlog to latest version 1.3.1.

[2019-05-15 18:30] schultetwin1 opened #345 "Linux executables are not being compiled as position independent"
**Describe the bug**
Linux executables are not being compiled as position indepenent event though `set(CMAKE_POSITION_INDEPENDENT_CODE ON)` is set in CMakeLists.txt. Without position independent executables, our tools won't run on machines where Address Space Layout Randomization is turned on.

This is due to [this issue](https://gitlab.kitware.com/cmake/cmake/issues/14983) in CMake 3.12 which was

[2019-05-15 21:04] #279 closed

[2019-05-15 21:16] #291 closed

[2019-05-15 21:33] cdedmonds commented on #291
@Brent-A can you add the issue number this is a duplicate of?

[2019-05-15 21:40] schultetwin1 opened #347 "Clang produced shared object lists unneeded dependencies as needed"
**Describe the bug**
Shared objects produced by clang are list dependencies on shared objects that are not actually needed. This happens in clang (and not gcc) because clang does not set the "--as-needed" flag on the linker while gcc does.

**To Reproduce**
1. Build libk4a.so with clang
2. Dump all the needed dependencies `objdump -p bin/libk4a.so.1.0.0 | grep NEEDED`
4. Notice that libssl is need

[2019-05-15 21:41] #341 closed

[2019-05-15 22:04] wes-b commented on #291
Duplicate of #325

[2019-05-15 22:06] #345 closed

[2019-05-15 22:30] #347 closed

[2019-05-15 23:03] #334 closed

[2019-05-16 07:40] dimitrijevic commented on #260
I'm sorry to crash in, but is this Kinect Fusion-like API, or producing mesh from a depth map? If so when please, will this come? Open sourced, or...? TIA

[2019-05-16 16:42] schultetwin1 opened #351 "SONAME should only change on interface changes"
**Describe the bug**
Currently the SONAME of our shipping binaries contains the full version string. However, according to SONAME guidlines, SONAME should only change when the interface is no longer compatible.

**Additional context**
http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html

[2019-05-16 17:37] yijiew commented on #260
It is not related to produce mesh from a depth map. We create a simple mesh internally for us to transform between coordinates in GPU. But I don't think we will ever expose that mesh out. Please feel free to create this separate issue if you think the mesh data is important.

[2019-05-16 17:45] #351 closed

[2019-05-16 22:55] MsDerekMa opened #353 "Segmentation Fault closing k4aviewer without stopping stream"
The majority of the time if on Linux you close k4aviewer while you have all sensors streaming you will get a segmentation fault and the privacy LED will stay lit indicating that the stop wasn't executed.

**To Reproduce**
1. Launch k4aviewer from a command prompt on a Linux machine
2. Start streaming a camera
3. Press the X to close k4aviewer
4. Get a segmentation fault, and notice the privacy lig

[2019-05-17 00:26] wes-b opened #354 "Changelog.md needs to be updated for 1.1.X release"
**Describe the bug**
changelog.md is out of date

[2019-05-17 00:28] wes-b opened #355 "C++ wrapper: rename get_timestamp to get_device_timestamp to align with 1.2 changes"
**Describe the bug**
C++ wrapper: rename get_timestamp to get_device_timestamp to align with 1.2 changes to avoid need to make a breaking change related to #350.

[2019-05-17 00:40] dimitrijevic opened #357 "fastpointcloud example ply missing mesh face triangles (KinFu)"
The previous Kinect 2.0 SDK provided us with the ability to export a mesh beside just the point cloud, which seems to be currently missing in the K4A SDK, and as such will make us write more code which the SDK might solve.

If possible please provide the ability/example to generate a vertex colored mesh as well as point cloud.

Or, if this is not an SDK issue, could someone please provide some gui

[2019-05-17 15:59] schultetwin1 commented on #290
@Brent-A, @wes-b, and @cdedmonds how does the versioning proposal look to you?

I'm in the middle of creating these debian packages and have started to look at versioning. I am looking at creating 3 debian package

* runtime package (this will include libk4a.so, libk4arecord.so, libdepthengine.so)
* development package (this will include k4a headers and cmake files)
* tools package (this will incl

[2019-05-17 16:13] cdedmonds commented on #290
Thanks for the detailed explanation Matt. The only thing that may be concerning is that if we release a new -dev package a developer has to choose between keeping the tools package or upgrading their app to reference a newer version of the library.

[2019-05-17 16:21] schultetwin1 commented on #290
I don't think I fully followed your point her Chris. You said

I don't think this is true. Let's say I'm a developer with libk4a-1.1, libk4a-1.1-dev, and libk4a-tools installed on my machine. libk4a-tools has a dependency on libk4a-1.1. libk4a-1.1.-dev also has a dependency on libk4a-1.1.

We now release libk4a-1.2. We update libk4a-tools to have a dependency on libk4a-1.2. We also release libk4a-

[2019-05-17 16:25] cdedmonds commented on #290
Ok, Thanks for the further explanation. I was confused on what was allowed side-by-side. I think the proposal looks good!

[2019-05-17 16:57] wes-b commented on #290
Will we have any way to roll tools back? If we developing for 1.1, then want to try out a new feature in 1.2, so we deploy 1.2 tools and dev package. When our testing is done and we want to go back to 1.1 dev package and tools, can that be done?

[2019-05-17 17:41] #355 closed

[2019-05-17 17:41] #354 closed

[2019-05-17 17:43] schultetwin1 commented on #290
There is no 1.1 or 1.2 tools package. There is only the tools package which will have a dependency on the latest released runtime package.

If we are developing for 1.1 you will be able to run `apt-get install libk4a-1.2-dev` to test the 1.2 version. This will remove only the headers and cmake files needed to develop for 1.1 and add the headers and cmake files needed to develop for 1.2. libk4a-1.1

[2019-05-17 17:53] MsDerekMa commented on #290
Is there a way to prevent having multiple "-dev" packages even enough they all have different names? It looks like we would have to list all packages we ever released?
A dev would then have to actively remove and install the "-dev" packages every time they upgrade? And there won't be an automatic notification that the update is available?

[2019-05-17 18:16] wes-b opened #358 "SDK should have a clear error when its loooking for a serial # and cannot find it."
**Describe the bug**
On Linux if the device reports different serial numbers for depth and color camera's then libuvc cannot locate the correct device. We should make the error message clear that serial number XXX is being searched for and eventually not found.

**To Reproduce**
Any test with a device that has different serial numbers programmed on the Depth and Color cameras.

**Logs**
[code]

[2019-05-17 18:21] wes-b commented on #358
This issue should only happen when the depth camera and color cameras have different serial numbers. It should not happen on production hardware.

[2019-05-17 18:21] #358 closed

[2019-05-17 18:22] wes-b commented on #340
Opened #358 to track the unclear error message.

This issue is caused by the depth camera and color camera having different serial numbers. They should be the same for production hardware

[2019-05-17 18:22] #340 closed

[2019-05-17 18:24] schultetwin1 commented on #290
Derek and I talked in person. We agreed it was ok that a developer would need to manually upgrade if they wanted to move from version 1.1 to version 1.2. We also agreed it was ok they would not get automatic notifications when the update is available.

[2019-05-20 13:33] DrMaxP commented on #339
I'd echo Brekel's requests, in particular the multi-sensor data.

[2019-05-20 16:05] Brent-A opened #359 "Host doxygen output on github pages"
**Is your feature request related to a problem? Please describe.**
Doxygen output is not yet hosted.

**Describe the solution you'd like**
Modify doxygen output to fit style needs. We can then automatically generate static html output which can be hosted on GitHub.io by copying the static output to the gh-pages branch of this repo.

[2019-05-20 20:07] Brent-A opened #361 "Document released artifacts"
**Is your feature request related to a problem? Please describe.**
We need a clear definition of all of the artifacts that are released in various packages.

**Describe the solution you'd like**
In [releasing.md](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/releasing.md) we should include a table with the following columns:
* File (including a path, e.g. "windows-desktop/

[2019-05-20 20:23] #359 closed

[2019-05-21 20:13] mffigueroa opened #362 "k4a_image_get_exposure_usec returns different value than exposure set with k4a_device_set_color_control"
**Describe the bug**
When setting an exposure value using k4a_device_set_color_control, I expect that exposure value to be the same as the one used by in the color image later which I can examine via k4a_image_get_exposure_usec. However, they do not always match.

**To Reproduce**
1. Call k4a_device_set_color_control with an exposure value and manual exposure control:
k4a_device_set_color_control(

[2019-05-22 15:21] Helco opened #363 "Deadlock in transform functions"
**Describe the bug**

The transform functions (e.g. `k4a_transformation_color_image_to_depth_camera`) are susceptible to deadlocks (I would guess by lost wakeup). These won't occur in the example because the functions is only called once there.

**To Reproduce**

Call some transformation functions in a loop and wait. The lockdown occurred much faster on my slower devices. I assembled a minimal rep

[2019-05-22 18:34] mbleyer commented on #363
Not sure if I understand the bug. Does your example program hang or does it run out of memory? It seems like the images are not deallocated.

[2019-05-22 20:35] this-username-is-taken opened #366 "Triggering Azure Kinects externally using 3.5mm audio cable (using RPi etc)"
**Is your feature request related to a problem? Please describe.**

I'd like to have an external device trigger Azure Kinects and control the triggering time. For example, extend an 3.5mm audio cable from a RPi or Arduino and connect to Azure Kinects (all in slave mode). Essentially, the RPi/Arduino will act as master and trigger the Azure Kinects.

**Describe the solution you'd like**

I'd like t

[2019-05-22 21:04] wes-b commented on #366
Good idea, I need to gather info about this.

[2019-05-23 07:10] Helco commented on #363
The program hangs between getting the frame and processing it. Thanks to C++ RAII the image gets deallocated after line 37.

[2019-05-23 14:33] Brent-A commented on #363
Do you know if you still reproduce the problem if you don't re-create the transformation object in each iteration of the loop?

[2019-05-23 16:05] schultetwin1 commented on #290
After a lot of work on this, I'd like to change my original in library naming. Instead of having

* libk4a-1.1.so
* libk4arecord-1.2.so
* libk4arecord-2.1.so

Our libraries will be named

* libk4a.so.1.1
* libk4a.so.1.2
* libk4a.so.2.1

This will change our Debian package name to

* libk4a1.1
* libk4a1.2
* libk4a2.1

The main recent for this change is, even though both versioning formats (libname-

[2019-05-23 19:26] wes-b commented on #290
I am good with this

[2019-05-23 19:57] MsDerekMa opened #370 "Include CMake and MS Build files in the MSI"
**Is your feature request related to a problem? Please describe.**
The MSI currently contains the DLLs, Headers, and Libs required to build an application against the SDK. However there are not CMake or Build target files included to simplify referencing the

**Describe the solution you'd like**
We are already generating CMake target files with our build, in addition we are creating a NuGet packag

[2019-05-23 19:59] schultetwin1 commented on #290
I talked with Brent in person. He is fine with this as well.

[2019-05-23 20:54] MsDerekMa commented on #370
We should also evaluate adding the CMake files to the NuGet package as well.

[2019-05-23 21:20] mbleyer commented on #363
I was able to repro using Helco's code sample. The issue goes away when initializing the transformation object outside of the while loop, which represents the right use of the SDK. We might want to highlight that in the documentation.

@christianmakela: We can try investigating why the deadlock occurs. It would be expected that the frame rate drops significantly in Helco's code, but we should not

[2019-05-23 23:16] #361 closed

[2019-05-23 23:26] Brent-A commented on #363
Yes, we should probably highlight that the transformation object itself is somewhat heavy weight. I can see why it wouldn't be obvious though. The C API hints at this, but I imagine that C++ consumers won't dig that deep unless they have a problem.

In any case, we certainly shouldn't deadlock.

[2019-05-23 23:29] mbleyer commented on #363
I tried a few more times and was not able to repro the deadlock anymore. Andrew @rabbitdaxi is looking at it now.

[2019-05-24 07:17] Helco commented on #363
Great stuff, with the workaround I also couldn't reproduce the deadlock on my machine. Also as mbleyer guessed the frame rate improved quite a lot.

[2019-05-24 15:52] MsDerekMa commented on #290
Two things that I see that we still need to update.
1. Split the deb package into Runtime, Development, and Tools.
2. Add the "LICENSE", "REDIST", and "ThirdPartyNotices" files.

[2019-05-24 16:32] rabbitdaxi commented on #363
Meanwhile, I will take a deeper look with a low end computer, it might be a race of the worker thread and main thread mutex was not robust enough to prevent the dead lock when user loop the transformation_create (although which is not the recommened way), however, we still need to fix the dead lock if we find a way to repro :)

[2019-05-24 16:44] rabbitdaxi commented on #294
The issue seems very specific related to the intel older version driver, but somehow the surface laptop or surface book does not update the graphics driver automatically to the latest with windows update. The symptom of the issue is the color point cloud will see "missing points" and visually looks bad. Some workaround:
1) If you running surface book, instead of using the integrated intel graphics

[2019-05-24 16:45] schultetwin1 opened #371 "Build fails under CMake 3.10"
**Describe the bug**
PR #369 introduced a build break for CMake 3.10

**To Reproduce**
1. Make sure you have CMake 3.10 installed
2. Attempt to build

**Expected behavior**
The build should succeed.

**Additional context**
This was due to the use of NAMELINK_COMPONENT in a CMakeLists.txt. The NAMELINK_COMPONENT command was added in CMake 3.11.

[2019-05-24 17:32] #371 closed

[2019-05-24 21:17] MsDerekMa opened #374 "Putting a Linux system to sleep while streaming makes the device non-responsive"
**Describe the bug**
When putting a Linux computer to sleep while streaming, the device doesn't appear to stop streaming. When the computer is woken back up, the LED is still on and the K4A Viewer errored out. You can't start a new stream. Only way to recover is to unplug and re-plug the device.

**To Reproduce**
1. Open up K4A Viewer
2. Start streaming all sensor data
3. Lock the Linux system, an

[2019-05-24 21:35] MsDerekMa opened #375 "On Linux the device doesn't enumerate if the power is connected second"
**Describe the bug**
If the power is connected second, a Linux system won't recognize the attached device.

**To Reproduce**
1. Connect a USB-A to C cable to the computer and plug it into the device.
2. Connect the power cable to the device.
3. Use the AzureKinectFirmwareTool to list the device.
4. The tool says no devices are connected.

**Expected behavior**
The order of the USB vs Power shouldn

[2019-05-24 22:04] MsDerekMa commented on #375
This appears to only affect one of my computers. The other computer everything works as expected. One other side effect is that instead of giving an error about not being able to open the device when running without the power connection, it just doesn't show up. In addition after the Firmware Update step where the device is rebooted, the device never enumerates.

[2019-05-24 23:20] #363 closed

[2019-05-25 02:44] Brent-A opened #377 "Clarify first time usage instructions"
**Is your feature request related to a problem? Please describe.**
The GitHub repro generally assumes you are building from source. We should add clarification
for users who just need binaries.

**Describe the solution you'd like**
More docs

**Describe alternatives you've considered**
This should also be documented on docs.microsoft.com when available.

**Additional context**
This needs to be fre

[2019-05-25 03:04] #377 closed

[2019-05-28 15:21] schultetwin1 opened #379 "CONTRIBUTING.md should let contributors know how PRs will be merged"
**Describe the bug**
CONTRIBUTING.md does not include who will merge a PR and when that will occur. In order for contributors to understand the workflow, that information should be present.

[2019-05-28 15:41] #379 closed

[2019-05-28 16:37] wes-b opened #381 "Failed to set media type at start: 0x800706bf"
**Describe the bug**
When starting the color camera, Media Foundation returns of 0x800706bf (RPC_S_CALL_FAILED_DNE) when attempting to call SetNativeMediaType()

**To Reproduce**
1. Call k4a_device_start_cameras.

**Expected behavior**
The cameras should start successfully.

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS with Version: Windows
 - SDK Version:  1.1.0

[2019-05-28 16:46] wes-b commented on #381
This issue was caused by a 3rd party driver. The driver was causing FrameServer to crash when starting up the sensor and resulted in the RPC server being gone.

Use Event Viewer to identify the failing component and uninstall the program or driver.

[2019-05-28 16:46] #381 closed

[2019-05-28 17:20] wes-b commented on #374
Is this related to the device #375 is filed against? I am not able to repro this. After waking the PC, I do need to clear errors in the viewer, stop the camera, but starting again works as expected.

[2019-05-28 17:24] joylital commented on #332
There is a fix in FW (Depth ISP 1.6.74), to be validated.

[2019-05-28 19:49] Brent-A opened #384 "k4aviewer fails to open microphone"
**Describe the bug**
When I try to open a device using k4aviewer, I get an error "Failed to start microphone: unable to open device!"

**To Reproduce**
On my home PC,
Open Azure Kinect Viewer (either 1.0.2 or 1.1.0-beta.0)
Open the device
Click Start
I get the pop-up dialog with "Failed to start microphone: unable to open device!"

**Expected behavior**
No error message, and streaming mic data.

*

[2019-05-28 21:04] joylital commented on #384
@Brent-A might be container ID mix up. Try following steps:
- Right clicking on "Azure Kinect Microphone Array", and select "Uninstall device".  (it is the parent device you have selected in above window)
- Detach and reattach the sensor.
- Restart Azure Kinect Viewer and try again

[2019-05-28 21:35] Brent-A commented on #384
You can see from my screenshot that it looks to be in the same container as the rest of the Azure Kinect components.

[2019-05-28 21:53] xthexder commented on #384
This seems to reproduce on both of my devices as well with the 1.1.0-beta.0 viewer.

[2019-05-28 22:59] MsDerekMa opened #385 "K4AViewer shows wrong microphone info on Linux"
**Describe the bug**
The microphone data doesn't show up correctly in K4AViewer. Mic #0 shows up as 0 and 3. Mic #1 shows up as 1 and 4, Mic #2 shows up as 3 and 5, Mic #3 shows up as 4 and 6, Mic #4 shows up as 2, and Mic #5 and #6 don't show up. This appears to be a K4AViewer bug and not a hardware/driver bug as Audacity shows the channels as expected.

**To Reproduce**
1. On a Linux system conn

[2019-05-28 23:19] MsDerekMa commented on #375
This is a computer with an Asus P8Z77-V PRO/THUNDERBOLT motherboard. The USB ports are from the Intel Z77 Chipset and are USB 3.1 Gen 1. The ASMedia host controller does not appear to work at all.

[2019-05-28 23:42] MsDerekMa commented on #375
USB View when the Kinect is working:
![Kinect in Good State](https://user-images.githubusercontent.com/13106742/58519215-69e8f480-8167-11e9-804d-e3b07eb70705.png)

USB View when the Kinect is not working:
![Kinect in bad state](https://user-images.githubusercontent.com/13106742/58519217-6c4b4e80-8167-11e9-9dc3-72b32d5e58f8.png)

It looks like the USB hub in the device is enumerating, but that the

[2019-05-29 00:08] MsDerekMa commented on #374
Yes, this might be related to #375, it is on that same PC. The other Linux PC I have I need to make sure to close the device completely before trying to start the stream again, but I am able to start streaming again without On my other PC I am seeing that I need to close the device, but am then able to start streaming again without reconnecting the device.

[2019-05-29 00:38] Brent-A opened #386 "Support x86 version of SDK"
**Is your feature request related to a problem? Please describe.**
The SDK binaries are currently only published as 64-bit dlls. To enable 32 bit applications to use the SDK they need access to 32 bit versions of the binaries.

**Describe the solution you'd like**
Include 32 bit versions of the dlls in the published SDK. Also run tests on the 32 bit versions of the dlls.

**Describe alternatives y

[2019-05-29 00:43] Brent-A commented on #386
Best accidental issue number ever :grin:

[2019-05-29 16:54] saogden commented on #106
When this happens in windows, the device will still enumerate in device manager, 1354 warnings will also show in the event log for applications.
![devicemanager](https://user-images.githubusercontent.com/17417735/58575789-af550280-81f7-11e9-8336-9be165b1ed7f.png)
![warnings](https://user-images.githubusercontent.com/17417735/58575790-af550280-81f7-11e9-86a7-e39152055ecc.PNG)

[2019-05-29 16:55] cdedmonds commented on #294
Resolving this since it is fixed by updated drivers.

[2019-05-29 16:55] #294 closed

[2019-05-29 23:39] rabbitdaxi commented on #357
Hi dimitrijevic, thank you for the feedback. Yes, we will look into this feature request. Beside of that, we can provide an example that leveraging the Azure Kinect Sensor SDK and OpenCV kinfu module (from contribute), it should give you live kinect fusion TSDF surface render as well as fused point cloud output.

[2019-05-30 11:31] UnaNancyOwen commented on #370
I agree with this proposal.
Please pack the directory (<code>C:\Program Files\K4A</code>) where you built and installed the Azure Kinect SDK using CMake as it is. It contains all the necessary files to generate user project using CMake.
![2019-05-30_20h29_31](https://user-images.githubusercontent.com/816705/58630228-baa04f00-8319-11e9-9593-9508201eafc7.png)

[2019-05-30 12:41] dimitrijevic commented on #357
Awesome, thank you, I was contemplating, using PCL myself maybe, when it hit 1.10 hopefully...but it says their implementation's outdated, so OpenCV is an even better choice...I was hoping maybe to see Microsoft's implementation though?

Once this and an example repo is available I'll try and make a simple mex call of the C++ function that provides the mesh so the new Kinect can be used inside MAT

[2019-05-30 18:13] wes-b commented on #374
I am not able to reproduce on my PC. Going to treat this as a one off until we get more data.

[2019-05-30 18:13] #374 closed

[2019-05-30 18:19] wes-b commented on #375
I can't repro this. Lets treat this as a one off issue until we get a signal this is happening on more than 1 PC.

[2019-05-30 18:19] #375 closed

[2019-05-30 18:37] wes-b opened #387 "k4aViewer failure: "Failed to initialize audio backend: incompatible device!""
**Describe the bug**
On Linux, open k4aviewer with not device connected. It should open without error. Instead the user gets a popup that says ""Failed to initialize audio backend: incompatible device!" Funny thing is that the user has not yet selected a device. So the "incompatible device" should not yet be known.

**To Reproduce**
<!-- Steps to reproduce the behavior:
1. Disconnect Azure Kinect

[2019-05-30 19:34] tim-depthkit opened #388 "Mac support"
I'd like to write cross platform software that makes use of the Azure Kinect. Currently macOS is not supported by this SDK, which leaves a large user base out of being able to use this sensor.

What is involved in supporting macOS?

[2019-05-30 20:58] wes-b commented on #388
Thanks @tim-depthkit for the feedback. Can you please head over to https://aka.ms/azurekinectfeedback to register your request? Please also capture the architecture that you would need.

[2019-05-30 20:58] #388 closed

[2019-05-30 21:02] #152 closed

[2019-05-31 15:51] schultetwin1 commented on #290
This is all done. Debian packages are available on packages.microsoft.com. Instructions on how to add packages.microsoft.com are [here](https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software)

I'm working on getting them updated to include more recent versions of Ubuntu

[2019-05-31 15:51] #290 closed

[2019-05-31 15:58] schultetwin1 opened #390 "Enable NuGet Package to support VS2019"
**Is your feature request related to a problem? Please describe.**
Current Azure Kinect Nuget packages explicitly support v140 of the toolset and v141. According to [Microsoft documentation](https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017?view=vs-2019) anything compiled between VS 2015 to VS 2019 should be compatible. Therefore our nuget package should support VS2019.

**Descr

[2019-05-31 16:09] wes-b commented on #7
Our recent packing additions going a long way, but we should still document how to get the depth engine when building privately.

[2019-05-31 16:29] schultetwin1 opened #391 "Add NuGet badge to Readme"
**Is your feature request related to a problem? Please describe.**
It's not clear this SDK has a nuget package associated with it.

**Describe the solution you'd like**
Add a NuGet badge to our README.md

[2019-05-31 19:50] #391 closed

[2019-06-03 17:33] #112 closed

[2019-06-03 17:54] #292 closed

[2019-06-03 19:44] wes-b commented on #240
#362 is related, waiting to hear back from the factory on HW capabilities.

[2019-06-03 20:05] wes-b commented on #332
This turned out to be a firmware issue

[2019-06-03 20:05] #332 closed

[2019-06-06 17:24] DavidMRCS opened #394 "Corrupt color frames on subordinates"
**Describe the bug**
When I do a capture with 3 Kinects, each on a different PC, I find that the first frame on the subordinates is corrupt/all black. A second bad frame on subordinates comes around 7/8 frames later (varies per capture).

**To Reproduce**
I used my own modified capture software.

Do a capture using these settings
k4a_device_configuration_t deviceConfig = K4A_DEVICE_CONFIG_INIT_DIS

[2019-06-06 17:34] #272 closed

[2019-06-06 19:28] schultetwin1 commented on #390
With the release of version 1.1.0. This is now fixed.

[2019-06-06 19:28] #390 closed

[2019-06-06 22:55] wes-b opened #396 "Document external capture stablization"
**Describe the bug**
Multi device capture with manual exposure can take 8 capture to stabilize.

**Additional context**
Auto exposure in multi device is strongly discouraged because time synchronization will always be fluctuating due to the moving exposure time.

[2019-06-06 22:59] wes-b opened #397 "Document supported usb controllers"
**Describe the bug**
The only USB controllers that are known with work with the Azure Kinect are Intel, Texas Instruments, and some Renesas (720201 was only chipset tested). Others were tested but did not work.

[2019-06-07 15:37] wes-b commented on #394
@DavidMRCS I cannot reproduce this problem on newer hardware. My repro attempt was on a single machine. You might consider attempting my repro process to see if you can still reproduce the issue. You can view the mkv files with K4aViewer.exe to look at each frame.

[code]

I suspect your preproduction devices with ```Depth config file: 5006.27``` are the ones reporting bad frames. You want devices

[2019-06-07 15:39] wes-b opened #398 "Throughput_perf should allow the user to chang subordinate_delay_off_master_usec"
**Describe the bug**
Throughput_perf.exe should allow the user to change subordinate_delay_off_master_usec.

[2019-06-07 16:50] #318 closed

[2019-06-07 22:57] wes-b commented on #343
Hi @bjelovar, thanks for the feedback. Moving to new versions of SpdLog is something we would like to often as it allows up to pickup the latest features of that project. However the internal process for doing so is more complicated. So we will be taking updates only when needed.

As for the SPDLOG issue, I can not reproduce the problem. So I am closing this for now.

[2019-06-07 22:57] #343 closed

[2019-06-09 17:22] DavidRobb opened #401 "sync does not work in depth only camera modes"
We have an application that requires only depth frames but these need to be syncronised.

sync does not work with the following configuration:
    m_config.depth_mode = K4A_DEPTH_MODE_WFOV_2X2BINNED;
    m_config.camera_fps = K4A_FRAMES_PER_SECOND_30;
    //  m_config.color_format = K4A_IMAGE_FORMAT_COLOR_MJPG;
    //  m_config.color_resolution = K4A_COLOR_RESOLUTION_720P;

Uncommenting the color

[2019-06-10 08:48] vpenades commented on #397
Additionally, it could be nice if the SDK includes the equivalent of the "Kinect Configuration Verifier" tool that was originally included with the KinectV2 SDK.

That tool included a list of valid/invalid USB controllers as well as other hardware incompatibilities (like certain GPUs). The list was supposed to be updateable online, but it seems it was never maintained beyond the initial release. I

[2019-06-11 00:49] yijiew opened #404 "Support recording K4A_IMAGE_FORMAT_COLOR_BGRA32 image type"
**Is your feature request related to a problem? Please describe.**
BGRA color image type is convenient for computer vision algorithms. It is very likely for a customer to config the device/playback to provide the K4A_IMAGE_FORMAT_COLOR_BGRA32 type. However, the record API doesn't support recording this type.

**Describe the solution you'd like**
Record API supports recording K4A_IMAGE_FORMAT_COLOR

[2019-06-11 04:22] 37 opened #405 "xorg-dev and libsoundio-dev dependencies missing in linux build docs"
Quick / simple one.

When following the instructions to build from source on linux I found xorg-dev is a dependency not listed alongside the others.

See: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md#linux-dependencies

My system information:
Ubuntu 18.04 running i3 with x.

Command entered:
Step2.

`    cmake .. -GNinja
`

Errors:

[code]

Attempted installin

[2019-06-11 05:31] 37 commented on #329
:+1: for ARM support. Specifically, I'd love to be able to run it on a Jetson TX2.

[2019-06-11 06:35] 37 opened #406 "Add instructions for installing linux binaries and k4a-tools in SDKv1.1"
After building the SDK for linux it becomes apparent you need the linux binaries / depthengine.so.1.0 file for the SDK to work properly, as per [/docs/depthengine.md](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/depthengine.md).

For example, running /build/bin/viewer_opengl:

[code]

According to the docs the binaries are not yet available for Linux, though should be aro

[2019-06-11 12:27] sabariprasad opened #407 "Hololens unity3d support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-06-12 07:32] rfilkov commented on #339
Hi there, when could we expect at least 1-2 sample recordings?

[2019-06-12 18:20] wes-b commented on #198
Still need to : Implement precision time sync by reading PTS/USB frame correlation from firmware

[2019-06-12 18:26] #398 closed

[2019-06-12 20:18] wes-b commented on #407
Hi @sabariprasad, I see that you opened this [feedback item](https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/37877938-hololens-unity3d-support) on Azure Kinect DK Feedback. That is the best place to track the enhancement, so I am going to close this one.

[2019-06-12 20:18] #407 closed

[2019-06-12 20:47] wes-b commented on #401
Good find! The workaround is to run the color camera on the master only, subordinates do not need the color camera running.

[2019-06-13 01:37] MsDerekMa commented on #405
The "building.md" documentation references a list of dependencies and references a script that will install all dependencies.  The list of dependencies in the documentation is what is out of date, the script should install everything appropriately. We should consider just referencing the script itself as the source of truth for the list of dependencies.

[2019-06-13 19:03] wes-b commented on #406
#293

[2019-06-13 19:03] wes-b commented on #406
#7 Is the original issue about this.

[2019-06-13 19:11] wes-b commented on #394
New devices were delivered.

[2019-06-13 19:11] #394 closed

[2019-06-13 19:19] wes-b commented on #339
Here are some recordings. Sorry they are not fancier, there is a bit more process associated with releasing video's with people in them.

https://www.microsoft.com/en-us/download/details.aspx?id=58385&WT.mc_id=

[2019-06-13 21:04] cdedmonds opened #409 "Doxygen should generate a tagfile for other projects to reference"
To enable other Doxygen enabled projects to reference the Azure Kinect Sensor SDK documentation it would be great if a tag file were generated from documentation builds.

[2019-06-13 23:55] #409 closed

[2019-06-14 00:03] Noemata opened #411 "UWP Driver"
Please create a UWP accesible driver that is either compatible with or extends on the existing Kinect driver for UWP.

It's a drag to see no UWP support for such a cool product.

[2019-06-14 00:16] schultetwin1 commented on #406
@37 thank you for the awesome write-up and nice investigative skills. I have added instructions for how to install debian packages to docs/usage.md.

Here is the PR for that change  #412

[2019-06-14 05:06] #406 closed

[2019-06-14 15:58] wes-b commented on #411
Thanks @Noemata! We are tracking these feature requests over at https://feedback.azure.com/forums/920053-azure-kinect-dk. If you have not already, please pile on to the UWP support topic https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/37615828-uwp-support.

[2019-06-14 15:58] #411 closed

[2019-06-14 22:45] schultetwin1 commented on #405
Thank you for reporting! I'm on it

[2019-06-14 23:06] schultetwin1 commented on #405
I've change the documentation to just point towards the installation script. That script is run in CI and so should be kept up to date.

[2019-06-15 10:08] Brekel commented on #339
Thanks for sharing those, that's really helpful to get some of us started!

[2019-06-16 01:35] dimitrijevic commented on #339
Could someone also share usage, I tried the viewer, it doesn't work...not like, previously, Studio playback which had apps, not just one app, detect a virtual sensor playback....I'm guessing you initiate code playback, but it's not clear to me how? Tried copying code from playback_external_sync/main.c but it says it can't malloc 'initializing': cannot convert from 'void *' to 'recording_t *'? What

[2019-06-16 07:42] Brekel commented on #339
Works perfectly fine.
You can have a quick look at the files with k4aviewer from the SDK's tool folder.

From code, check the following header file: k4arecord/playback.h
Call k4a_playback_open and point it to a file.
Call k4a_playback_get_next_capture to fetch a capture frame and use it in the same way as you would from a live sensor.

The documentation in the header file seems pretty self explana

[2019-06-16 12:40] dimitrijevic commented on #339
Hi @Brekel
Thanks for the prompt reply, I tried to do the same, however it still doesn't work at best...
As you said I tried to add the k4arecord stuff, but it either wouldn't work from VS with an error or it just doesn't do anything from command line...thanks to your tip I reduced some complexity of the code, by not using the recording_t struct but it still gives me no output when adding this to

[2019-06-16 13:00] Brekel commented on #339
Haven't compiled your code but I think your switch statement for k4a_playback_get_next_capture is the culprit as it returns a k4a_stream_result_t (and not a k4a_wait_result_t).

I do the following:

	k4a_capture_t capture;
	if(k4a_playback_get_next_capture(m_playback, &capture) != K4A_STREAM_RESULT_SUCCEEDED)
		return;

	k4a_image_t image_color	= k4a_capture_get_color_image(capture);
	k4a_image_t

[2019-06-16 15:57] dimitrijevic commented on #339
Thanks, got it, it wasn't config, but made me look, I needed to get calibration, but not from device, which is non-existent, but playback...now, different question, will this somehow, even in C code, be abstracted in later version, since different methods is a mess, guessing multi-platform made you loose kinectservice.exe...but? :/

[2019-06-17 10:36] dimitrijevic commented on #357
As promised ([some shameless self-promo](http://github.com/dimitrijevic/k4a3d)) (very simple MATLAB mex wrapper).
I know this is quite simple code but it may be of use to someone starting with MATLAB just as myself recently...
Now to adapt the KinFu example I'd like to ask first how much do you guys plan to change the SDK, most importantly will the separate procedures for device and recording play

[2019-06-17 13:02] rfilkov commented on #339
Thank you, @wes-b for sharing these recordings! They are really helpful to get started with K4A SDK. Do you plan to add more recordings later, with more dynamic content and (if possible) moving people, as well? And, if not too much, may I ask 1-2 questions regarding these recordings?

[2019-06-17 16:33] wes-b commented on #339
@rfilkov we have aspirations to publish more. No idea of a time frame, so what are your questions?

[2019-06-17 19:29] rfilkov commented on #339
@wes-b Thank you in advance for your aspirations to publish more. Here are my questions regarding the current recordings:

1. Why are the depth images octagonal in NFOV mode and circular in WFOV mode? They also look distorted.
2. In all recordings, the config says: color_track_enabled: true, depth_track_enabled: false, ir_track_enabled: false, imu_track_enabled: false. Regardless, the depth, IR an

[2019-06-17 23:40] wes-b commented on #339
I have asked for help on #1. For #2 what tool/config are you referring to? I don't see similar results in k4aviewer.

[2019-06-18 07:44] rfilkov commented on #339
I'm referring to the config returned by calling k4a_playback_get_record_configuration() right after k4a_playback_open(). The other values in the config seem correct.

[2019-06-18 08:15] Brekel commented on #339
Hmmmm weird.

When I call this right after loading one of the sample files:
k4a_record_configuration_t config;
k4a_playback_get_record_configuration(m_playback, &config);

config.color_track_enabled, config.depth_track_enabled and config.imu_track_enabled are all true.
I'm on the latest Windows 1.1 build (installed from the MSI), maybe a bug in a specific version/platform?

[2019-06-18 09:36] rfilkov commented on #339
Hm. I installed 'Azure Kinect SDK 1.1.0.msi', as well. Hopefully there are no different msi builds of the same version.

[2019-06-18 17:01] yijiew opened #416 "k4a.hpp cannot access the k4a_capture_t handle from the capture class"
**Is your feature request related to a problem? Please describe.**
The C++ wrapper for capture is handy and easy to use. I would like to use the C++ wrapper in body tracking. However, there is no way I can access the k4a_capture_t handle from the class. Since the recording API requires the raw k4a_capture_t handle, there is no way I can use the capture class with the k4a recording feature.

**Desc

[2019-06-18 17:31] schultetwin1 opened #417 "Development Debian package does not contain libk4a symlink"
**Describe the bug**
The "dev" package should include a symlink which links libk4a.so -> libk4a.so.1.1

**Additional context**
I believe this was broken due by #372

[2019-06-18 22:03] xthexder opened #419 "OpenGL error: 'gl_FragColor' undeclared when showing point cloud in k4aviewer"
**Describe the bug**
On a fresh installation of Ubuntu 18.04 with the default graphics drivers, switching to the point cloud view in K4AViewer results in a 'gl_FragColor' undefined error.
The current usage is deprecated and should be declared as an `out` variable in the shader.

**To Reproduce**
1. Install k4a debian packages on a fresh Ubuntu 18.04 installation.
2. Open a sample recording (I used

[2019-06-18 23:53] Brent-A opened #420 "Add icon to viewer app"
**Is your feature request related to a problem? Please describe.**
The viewer app could use an icon to make it more easily identifiable

**Describe the solution you'd like**
Add an .ico file and include it in the apps resource file

**Describe alternatives you've considered**

**Additional context**

[2019-06-19 00:56] Brent-A opened #422 "Race condition on multiple threads calling logger_register_message_callback"
**Describe the bug**
If two threads simultaneously call `logger_register_message_callback`, there is a possible race where one thread will allocate g_user_logger_cb_info, and another thread will attempt to access that global before it is allocated.

Thread 1
* Calls `logger_register_message_callback`
* increments `g_user_logger_cb_info_ref` (`count_of_registered_callbacks` is 1)
* Thread gets cont

[2019-06-19 12:51] wangniancai commented on #197
latest version can't open device , trace just like above , 0.8 worked

[2019-06-19 15:39] #338 closed

[2019-06-19 16:18] wes-b commented on #197
@wangniancai the Windows MSI for 1.1.0 is working as expected. Feel free to open a new issue that captures details about your specific issue, and we will work through it.

[2019-06-19 16:21] wes-b commented on #422
@Brent-A definitely a bug, but why is logger_register_message_callback being called twice from different threads? Did you find this through code inspection? I would like to better understand your usage pattern. The function will fail if you try to use different callback functions.

[2019-06-19 16:29] williampMSFT commented on #197
@wangniancai if you're seeing the same trace as above, it means the depth engine wasn't found.  Please ensure depthengine_1_0.dll is present and adjacent to k4aviewer.exe.  You can get the depth engine for Windows from the public Windows MSI.

[2019-06-19 17:14] Brent-A commented on #422
I'm wrapping K4A in a class that gets activated by an external framework on multiple threads. As the class author, I have no control over how often, and on what threads, I get activated.

[2019-06-19 20:27] xthexder opened #424 "K4AViewer does not play back IR track on recordings in PASSIVE_IR mode"
**Describe the bug**
When opening recording files created in PASSIVE_IR mode, K4AViewer will only display the Color track.
The Depth mode shows as "(None)".

**To Reproduce**
1. Create a test recording with `k4arecorderer -l 10 -d PASSIVE_IR test.mkv`
2. Open the recording in k4aviewer

**Expected behavior**
The IR track should be displayed, and the Depth mode should be K4A_DEPTH_MODE_PASSIVE_IR

[2019-06-20 22:13] wes-b opened #427 "USB Extenders / Extensions"
USB Extenders are a nice tool for connecting multiple devices to 1 PC or to extend the distance between the host PC and the Azure Kinect.

While USB technology is implemented everywhere and generally easy to use, it can also come with its own quarks when trying to connect a lot of devices, or trying to use a cable length that is longer than the USB Specification intended it to be used for. In the

[2019-06-20 22:13] #427 closed

[2019-06-20 22:35] xthexder opened #428 "Setting `K4A_ENABLE_LOG_TO_A_FILE` causes recorder to crash"
**Describe the bug**
When the `K4A_ENABLE_LOG_TO_A_FILE` environment variable is set, both k4a.dll and k4arecord.dll will try to open the same file, causing an exception to be thrown during logger creation. This exception currently isn't caught, so the entire program crashes.

**To Reproduce**
1. Set `K4A_ENABLE_LOG_TO_A_FILE` to a log file path
2. Run `k4arecorder -l 5 test.mkv`
3. The program wi

[2019-06-21 13:03] rolandsmeenk opened #429 "Setting depth mode to WFOV_Unbinned in CSharp example fails"
**Describe the bug**
Setting DepthMode to WFOV_Unbinned returns K4A_RESULT_FAILED

**To Reproduce**
1. Open Microsoft.AzureKinect.Examples.WPFViewer
2. Change the DeviceConfiguration initialization to use
 DepthMode = DepthMode.WFOV_Unbinned
3. Running the application results in a K4A_RESULT_FAILED

**Expected behavior**
The Kinects starts providing the depth data as requested.

**Logs**

**Screen

[2019-06-24 17:18] wes-b commented on #424
Assigned to @williampMSFT, but he is busy for the next month or so, Help Wanted set.

[2019-06-24 17:20] wes-b commented on #422
Fix here is to spin when multiple registrations are happening at the same time to ensure initialization completes.

[2019-06-24 17:58] #224 closed

[2019-06-24 18:12] #50 closed

[2019-06-24 20:03] wes-b opened #430 "Implement precision time sync by reading PTS/USB frame correlation from firmware"
This is for scenarios when a solution needs high precision timestamps that allow the user to know exactly when an image was captured as referenced to the system time, rather than the device time.

**Is your feature request related to a problem? Please describe.**
For late stage rendering, precision between the system time and the device time is needed. This is needed so that system time can measur

[2019-06-24 20:03] #198 closed

[2019-06-24 21:52] schultetwin1 opened #433 "Add Build IDs to all linux builds"
**Describe the bug**
GNU puts build ids into our builds by default. clang does not. We should turn on build ids for both clang and gnu compiled binaries for future use cases (such as deb packages matching and symbol servers)

[2019-06-24 23:03] wes-b opened #436 "Document how to avoid depth camera interference when using multiple camera's"
**Describe the bug**
When using multiple depth camera's in synchronized captures, depth camera captures should be offset from one another by 160us or more.

[2019-06-25 17:05] #420 closed

[2019-06-25 18:18] #433 closed

[2019-06-26 17:09] #401 closed

[2019-06-26 21:36] rabbitdaxi commented on #357
Just back from a conference, two follow up on this:
1) we published the sample that using Azure Kinect SDK with the OpenCV KinFu in our sample repo, which will be public soon
2) we have opened a feedback user voice to track the this feature request, https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/37981348-kinect-fusion-support

[2019-06-26 22:53] wes-b opened #439 "wes-b/libuvc needs to be brought into the Microsoft github space"
**Describe the bug**
Azure Kinect Sensor SDK is dependent on LibUvc. We have also made some changes to the code as the project appears to be dead. To do that the project is forked to wes-b/libuvc. The fork needs to be moved to the Microsoft team

[2019-06-26 23:41] tesych commented on #397
the instructions were added to the documentation at [Azure Kinect Documentation](https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#usb3-host-controller-compatibility)

[2019-06-26 23:42] #397 closed

[2019-06-27 00:02] tesych commented on #396
This is documented in [Azure Kinect documentation](https://docs.microsoft.com/azure/Kinect-dk/troubleshooting#multi-device-synchronization)

[2019-06-27 10:20] dimitrijevic commented on #357
No problem @rabbitdaxi, I kinda found/downloaded it, prior among pull requests already...thanks though....however, I haven't had the chance yet, to look at it and make mexFuncrion. As soon as I replace old SSD, and build the needed OpenCV contrib from sources, I'll be looking into it some more I promise.

As for the suggestions, just the one, for now...maybe, if possible, make a tool, for simulati

[2019-06-27 14:05] rfilkov commented on #339
@wes-b, how can we tell in playback mode, whether the color and depth streams are synchronized? The only (maybe related) setting in the playback config is 'depth_delay_off_color_usec'. Does this time difference bring information regarding synched or not streams?

And, if a capture contains both color and depth images (regardless of the value of 'depth_delay_off_color_usec'), are these images synch

[2019-06-27 15:15] tim-depthkit commented on #427
I'd like to use active USB extenders like the Icron Spectra 3001-15 or Icron Spectra 3022. It appears that these extenders do not preserve the container ID as you describe, which is evident by several missing devices when looking at the Azure Kinect in the connection ID view in Device Manager.

I've not yet tried the suggested work-around to modify the SDK, but I'll post here with test results aft

[2019-06-27 15:46] wes-b commented on #396
We might want to move topic from the above location to just after here: https://docs.microsoft.com/en-us/azure/Kinect-dk/retrieve-images#configure-and-start-the-device. As stabilization requirements seem to align better with getting samples for the first time rather than trouble shooting.

[2019-06-27 15:47] wes-b commented on #396
Feel free to close if you disagree

[2019-06-27 15:57] vpenades commented on #136
@Brent-A I have some thoughts for the C# wrapper:

I've noticed the body tracking SDK uses some structures of the Kinect4A DK, in particular it uses `k4a_result_t`, `k4a_calibration_t`, `k4a_wait_result_t`, `k4a_capture_t` , and might use others too...

I don't know if it's possible, but it could be interesting if the new Body tracker could be used offline, even without a device plugged, for which

[2019-06-27 16:21] vpenades opened #441 "Getting the floor plane"
**Is your feature request related to a problem? Please describe.**

I've looked throught the code of Kinect Azure DK and body tracking SDK and I've noticed there's no way to retrieve the floor plane anywhere.

**Describe the solution you'd like**

Typically, floor plane has been available along with tracked skeleton bodies, but I consider it as a core feature, not something that belongs to an exte

[2019-06-27 18:29] #428 closed

[2019-06-27 19:34] rfilkov opened #443 "K4A body tracking SDK doesn't track hands and doesn't provide hand status data"
**Is your feature request related to a problem? Please describe.**

The body tracking in Kinect SDK 2.0 tracks the wrists, hands, index fingers and thumbs. The new K4A body tracking SDK tracks the arms down to the wrists, as far as I see.

Apart of that, the previous BT SDK provides the hand state (open, closed or even lasso) of each hand. The current one does not provide this data, yet.

**Descri

[2019-06-27 19:41] rfilkov commented on #339
By the way, now with body tracking SDK available, at least 1-2 recordings with several moving bodies inside would be needed. To avoid personal and security issues, only the depth stream could be added to these recordings.

[2019-06-27 20:16] #439 closed

[2019-06-27 21:02] rabbitdaxi commented on #357
Hi @dimitrijevic , thank you for the suggestion, of course, any feedback is great, UserVoice is the place you can share feedback.

[2019-06-27 21:06] xthexder commented on #339
@rfilkov Color and depth frames will only be packed into the same capture object if their timestamps match up.
The only exception to this is if the recording was made with a non-zero `depth_delay_off_color_usec` value, in which case a single capture will contain a color and depth frame that are offset by that amount.

If there is no synchronized frame available (such as if frames were dropped duri

[2019-06-27 21:09] xthexder commented on #339
Now that the main documentation site has been published, this page may be useful for people working with these recordings:

https://docs.microsoft.com/en-us/azure/Kinect-dk/record-playback-api

[2019-06-27 21:16] rabbitdaxi commented on #339
@rfilkov regarding the question "Why are the depth images octagonal in NFOV mode and circular in WFOV mode?"
- NFOV and WFOV modes use different laser diffusers. The NFOV diffuser generates a hexagonal illumination field (and NFOV is essentially a region of interest in the depth sensor, then the ROI boundary clip the hexagon resulting in an octagonal shape), while the WFOV diffuser generates a cir

[2019-06-27 23:05] rabbitdaxi commented on #357
Close the github issue based on the fact that we have a sample for opencv kinfu as one approach and we have the user voice to track a long term plan on Kinect Fusion support

[2019-06-27 23:05] #357 closed

[2019-06-28 08:12] rfilkov commented on #339
Thank you, @xthexder! Thank you, @rabbitdaxi!

[2019-06-28 15:55] schultetwin1 opened #446 "Linux CI Builds failing due to failure to checkout repo"
**Describe the bug**
Our Linux CI builds are failing due to a failure to clone the repository. The failure occurs on the checkout of submodules. Here is a copy of the failure text

[code]

This failure seems to be associated with the update of git from version 2.21 to 2.22 on the CI agent.

**To Reproduce**
1. Queue a build against our public CI
2. Build fails to checkout code

**Expected behavior

[2019-06-28 16:09] schultetwin1 opened #447 "Re-enable git fetch depth in CI"
**Describe the bug**
#446 was solved with a temporary fix to remove the limited depth on our git fetch from our CI builds in order to work around some unknown issue after an update to git version 2.22. To work around this we removed the fetch depth from the checkout step. This solves the issue but adds an extra delay to our build.

The proper solution is to determine what change in git 2.22 to cau

[2019-06-28 16:10] schultetwin1 commented on #446
#447 was opened to track the real fix.

[2019-06-28 16:10] #446 closed

[2019-06-28 17:02] wes-b opened #448 "Powerline setting is changed by firmware after the camera's are started"
**Describe the bug**
The power line setting for power noise (60Hz / 50Hz) is changing after starting the camera

### **REMOVE REFERENCES IN CODE TO GITHUB ISSUE 448**

**To Reproduce**
1.  Reset the device
1. call ```k4a_device_get_color_control(m_device, K4A_COLOR_CONTROL_POWERLINE_FREQUENCY, &mode, &power_setting);```
1. call ```k4a_device_start_cameras(m_device, &config);```
1. call ```k4a_devi

[2019-06-28 17:30] #417 closed

[2019-06-28 23:53] Noemata commented on #335
Curiously, UWP support is one of the more requested items at the user feedback forum.  Has anyone noticed?  Or is there a vote threshold required before things get attention.  I can arrange for an entire college student body that needs this to put in a vote.

[2019-07-01 17:09] tesych commented on #419
@williampmsft can you please provide more information.

[2019-07-01 17:37] xthexder commented on #419
I should be able to take on this bug this week. I think we have all the info we need to fix this.

[2019-07-02 21:00] xthexder opened #453 "K4AViewer will segfault if window creation fails"
**Describe the bug**
If GLFW fails to create the window in k4aviewer, it will return null, and we're currently not checking for this case.
The viewer will continue to execute and segfault without logging any information on what caused the issue (likely graphics driver versions).

**To Reproduce**
Open k4aviewer in a linux context without a valid graphics driver installed.

**Expected behavior**
k4

[2019-07-02 21:01] xthexder commented on #453
If the window returns null, we should call `glfwGetError` and log the error.

[2019-07-02 22:16] eric-schleicher opened #454 "Build on clean Ubuntu 18.04 succeeds;device enumerates; however cannot `start`."
**Describe the bug**

Example applications can enumerate, but not start kinect device after successful setup &  build on fresh installation of Ubuntu 18.04 (x64)

Appears to be permission related on the USB port.  *Is possible this is just an Udev rule?*

*update: I lifted an example rules file from kinect2; modified it for the device IDs that the K4A uses.  this resolved the insufficient permissi

[2019-07-03 00:22] wes-b commented on #454
This does sound like a udev issue. But our expectation is that ```su ./k4aviewer``` is enough for the viewer to run successfully.

Also make sure you are seeing a white LED on the back of the device to ensure you are properly connected to USB 3.0 and power.

We also have a sample udev, see https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#linux-device-setup

[2019-07-03 01:39] eric-schleicher commented on #454
Yes, I get the LED as expected.  Once you close the error dialog, I do see that audio data is flowing (graph), but no IMU or camera(s)

I'll take look at your udev file.

[2019-07-03 13:37] valdivj opened #457 "Linux install fail because it cant find ' libk4a1.1-dev' package."
I cant complete my install on LINUX because when I run  : sudo apt install libk4a1.1-dev.
I get the error :cant find package?
Any ideas?

[2019-07-03 16:10] wes-b commented on #457
Hi @valdivj without any of the supplemental information our issue template asks for I am poking around in the dark. Have you pointed your PC at the Microsoft Package Repository?

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#debian-package

[2019-07-03 16:24] wes-b commented on #454
Something else to consider is if the PC USB Host controller is compatable. We know there are issues with Container ID's on Windows and certain USB 3.X controllers. We also know that some just fail after a few seconds of operation.

If you come up with a good way to list host controllers on Linux it would be great to share as the topic below is Windows focused.
https://docs.microsoft.com/en-us/azur

[2019-07-03 18:15] valdivj commented on #457
Im setting up the Kinect for Azure on Ubunta 18.04.
I followed the instructions to set up the Microsoft Package Repository.
And this works: sudo apt install k4a-tools
But this : sudo apt install libk4a1.1-dev returns  :cant find package?
Do I not have my Microsoft Package Repository setup correctly?

[2019-07-03 18:44] zjudmd1015 commented on #137
Has it released yet?

[2019-07-03 20:41] skalldri commented on #137
Hi @zjudmd1015 ,

The ROS driver repo has just been made public. You can find it here: https://github.com/microsoft/Azure_Kinect_ROS_Driver

Please go try it out and let me know if you run into any issues!

Cheers,
Stuart

[2019-07-03 20:41] skalldri commented on #137
The ROS driver repo is now public. All future ROS-specific work will be tracked in the Issues for that repo. Closing out this issue.

[2019-07-03 20:41] #137 closed

[2019-07-03 21:16] schultetwin1 commented on #457
Can you try `apt search k4a` and share the output of the command? I'm curious what you see? This is what I see

[code]

[2019-07-03 21:53] #49 closed

[2019-07-03 23:43] thedevguy opened #459 "Kinect Device Crash and Unresponsive"
Using two new Kinect DK devices. Getting the same result with both. Connected them to my PC into two separate USB ports. I am able to reproduce this issue every single time. When I run Azure Kinect Viewer, both cameras are available. After I open either device and simply attempt to start it, I get IMU errors.

After the error messages, Kinect Viewer isn't able to detect either of the devices, even

[2019-07-04 00:59] valdivj commented on #457
This is what it returns:
Sorting... Done
Full Text Search... Done
k4a-tools/bionic,now 1.1.1 amd64 [installed]
  Tools for Azure Kinect Development

libk4a1.1/bionic,now 1.1.1 amd64 [installed,automatic]
  Dynamic Libraries for Azure Kinect Runtime

libk4a1.1-dev</font>/bionic 1.1.1 amd64
  Headers and cmake files needed for Azure Kinect Development

[2019-07-05 12:10] schultetwin1 commented on #457
I'm not sure why apt search would be able to find libk4a1.1-dev but apt install would then say "can't find package".

Let's try two things:

1. Try copy and pasting "libk4a1.1-dev" from the search results into the `sudo apt install` command. Maybe there is something weird going on with the hyphen in the command.

2. Can you share the full `sudo apt install` command you ran and all the output?

[2019-07-05 12:16] schultetwin1 commented on #457
I also just noticed that in [our documentation](https://docs.microsoft.com/en-us/azure/Kinect-dk/sensor-sdk-download#linux-installation-instructions) we say to install

`sudo apt install libk4a1.1-dev`.

That period at the end should not be part of the package name. Please only run the command

`sudo apt install libk4a1.1-dev`

I will change the documentation to show this as well.

[2019-07-05 12:25] schultetwin1 commented on #457
MicrosoftDocs/azure-docs#34590 has this change to remove the period from the install command.

[2019-07-05 13:57] schultetwin1 opened #460 "Create docker image for CI build"
**Describe the bug**
All CI builds are currently failing due to a failure to download the NASM assembler.

**Logs**
[code]

[2019-07-05 14:50] schultetwin1 commented on #460
This download works fine on my work machine. It maybe related to networking on Azure, or maybe NASM is blocking our CI machines?

[2019-07-05 15:11] schultetwin1 commented on #460
Note, I tried to ping nasm.us from Azure DevOps.

[code]

Note, DNS resolution is working. Checking routing next.

[2019-07-05 15:32] schultetwin1 commented on #460
Downloads of NASM are now working.

However, in order to prevent this from happening in the future, we need to remove the need to download NASM. There are two options for that:

1. Start building on a docker image.

2. Create a tool installer.

[2019-07-05 15:33] schultetwin1 commented on #460
Re-opening this as the issue to track building docker images for this build.

[2019-07-05 18:09] neuropil opened #462 "Device not detected - Windows 10"
**Describe the bug**

Device is connected via USB 3.0 and LED on back is solid white. However, Azure Kinect Viewer fails to detect the device.

**Desktop (please complete the following information):**
 - OS with Version: Windows 1803
 - SDK Version:  1.1.0
 - Firmware version:

**Additional context**

Azure Microphone is detected in the Device Manager - but not the camera

[2019-07-05 18:22] wes-b commented on #462
Sounds like USB2.0 devices are working but not 3.0. Are you using a USB extender?

Other topic to consider is USB host controllers: https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#usb3-host-controller-compatibility

[2019-07-05 18:32] wes-b commented on #459
Hi @thedevguy, what OS are we talking about. The log indicates you are not getting color images from the camera. Please make sure you are not using an extra cables, make sure you are powered sufficiently with the device power supply provided in box. Then please review the USB host controller compatibility info below, and finally look for third party software and drivers that may be impacting your

[2019-07-05 20:11] valdivj commented on #457
It works now.
Curse that period.
Apt search k4a now returns:

Sorting... Done
Full Text Search... Done
k4a-tools/bionic,now 1.1.1 amd64 [installed]
  Tools for Azure Kinect Development

libk4a1.1/bionic,now 1.1.1 amd64 [installed,automatic]
  Dynamic Libraries for Azure Kinect Runtime

libk4a1.1-dev/bionic,now 1.1.1 amd64 [installed]
  Headers and cmake files needed for Azure Kinect Development

[2019-07-05 20:17] valdivj commented on #457
Curse that period.
apt search k4a now returns this:

Sorting... Done
Full Text Search... Done
k4a-tools/bionic,now 1.1.1 amd64 [installed]
  Tools for Azure Kinect Development

libk4a1.1/bionic,now 1.1.1 amd64 [installed,automatic]
  Dynamic Libraries for Azure Kinect Runtime

libk4a1.1-dev/bionic,now 1.1.1 amd64 [installed]
  Headers and cmake files needed for Azure Kinect Development

Thank You

[2019-07-05 20:20] schultetwin1 commented on #457
Awesome! Glad to hear it's working. We've updated our docs to remove that period. That should be live within the week.

[2019-07-05 20:20] #457 closed

[2019-07-05 23:44] valdivj commented on #457
Hey I don't know if this is a coincident but the Azure for Kinect stopped working after I got 'libk4a1.1-dev' to install. It wont recognize there is a Kinect for Azure at all now. I was able to at least run the viewer before but nothing now. I reinstalled and rebooted my Ubunta machine couple time but no luck. I even went and plugged in to my windows10 PC and it wont  recognize it either. It ran f

[2019-07-06 03:52] thedevguy commented on #459
OS: Windows 10
Not using any extra cables. Using what came in the box. Both devices are plugged into the wall charger using the wall charger that came in the box.

[2019-07-06 04:23] thedevguy commented on #459
I've purchased a new USB card from Amazon for my PC (https://www.amazon.com/gp/product/B00HJZEA2S) that has 4 discreet Renesas controllers. Once I get the card I'll report on the issue.

[2019-07-07 20:33] billpottle opened #464 "sensor_calibration for remote processing of body tracking data"
**Is your feature request related to a problem? Please describe.**

Due to the high minimum system requirements, (ie, GTX 1070), many of our potential customers won't be able to get joint position data on their current laptops. A potential fix is to have them record an mkv file from their device and then upload to an azure instance which could extract and send back the joint position data.

In k4a

[2019-07-07 20:51] Brekel commented on #464
The following function from playback.h gets you a k4a_calibration_t from an MKV file, and I've succesfully used it to track bodies from file:
k4a_result_t k4a_playback_get_calibration(k4a_playback_t playback_handle, k4a_calibration_t *calibration);

[2019-07-07 21:27] billpottle commented on #464
Thanks @Brekel. Not sure why I couldn't find that in the documentation before. I plugged it in my code and can confirm it works.

[2019-07-07 21:27] #464 closed

[2019-07-07 21:35] Brekel commented on #464
I'm known to wander header files before ever reading manuals so it's quite possible I found it there primarily :)

[2019-07-07 21:50] billpottle commented on #464
Yes, I searched for the function on Google and I don't think it's in the docs yet. Thanks again.

[2019-07-08 14:20] mikewiegand opened #465 "Kinect DK SDK k4arecorder.exe Access Denied Error on Windows 10"
I  just received my new Kinect DK a few days back. I have successfully installed the SDK on Ubuntu 1804, the viewer/recorder seem to work great so far. But, on W10, I cannot seem to get around the following error:

C:\temp>"C:\Program Files\Azure Kinect SDK v1.1.0\tools\k4arecorder.exe" -l 5 output.mkv
libusb: error [winusbx_open] could not open device \\.\USB#VID_045E&PID_097C#000041292112#{A5DCB

[2019-07-08 15:23] leo-step opened #466 "Saving individual frames to file in the streaming example"
Hello, I have been testing the streaming example and it has been working successfully. However, I would like to save the individual frames to the disk. I was thinking that since the streaming example involved capturing individual frames, it could be modified to save them too. I have been trying to make this modification but unsuccessfully. Can this feature be implemented or can someone point me to

[2019-07-08 16:08] wes-b commented on #465
This error pattern does not match the errors I have seen resulting from USB Host controller issues. It seems more like something else is using the camera exclusively.

Please make sure you are powered with the provided power supply and the back power LED is solid white. Also please make sure you are not using any extension cable and just the provided cables.

[2019-07-08 16:26] mikewiegand commented on #465
Thanks for the response. I have only used the provided cables / power supply. Solid white has always been fine. No extension cords. The odd thing is it works as described on a NUC717 w/Ubuntu 1804. The viewer, recorder, all seems to be fine. On w10, the viewer works great (I think), it's the recorder which breaks down. I do not seen anything odd running as this Alien is brand new; it also throws t

[2019-07-08 16:34] wes-b commented on #465
Hmm, if you had the viewer open then that might be to app using the camera exclusively. Can you confirm that viewer works or not. You might just reboot too first if you have not tried that.

The viewer and the recorder both use the same SDK code so if one works you should expect to the other to also work.

[2019-07-08 16:50] mikewiegand commented on #465
OK, not sure what happened, but both the viewer and k4arecorder.exe command
seem to work fine...
Not sure what I fat fingered. Thank you so much!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

On Mon, Jul 8, 2019 at 9:34 AM wes-b <notifications@github.com> wrote:

[2019-07-08 16:52] wes-b opened #467 "Logging_ut.callback_threading crashes in automation"
**Describe the bug**
The test fails about once a week in automation

**To Reproduce**
- This should repro when running with gtest_parallel.py

**Expected behavior**
It should pass

[2019-07-08 16:59] schultetwin1 commented on #457
Hi valdivj, that sounds like a different issue. It should not be related to the version of the libk4a1.1-dev package you have installed. Please contact our hardware support team for help with this issue. You can find info about device support [here](https://docs.microsoft.com/en-us/azure/kinect-dk/support#azure-kinect-dk-device).

For some quick steps you can try on your own I would.

1. Make sure

[2019-07-08 17:04] #465 closed

[2019-07-08 17:09] wes-b commented on #465
Great!

[2019-07-08 18:08] wes-b commented on #457
Also make sure the power LED on back is solid white. Also be sure to use the supplied power supply.

[2019-07-08 19:01] valdivj commented on #457
I have contacted Microsoft support. The LED on the back is blinking slowly. What does that mean?

[2019-07-08 19:58] wes-b commented on #457
https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification#indicators

[2019-07-09 00:56] thedevguy commented on #459
I received and installed the usb controller that meets published specifications. The specifications are here: https://www.startech.com/Cards-Adapters/USB-3.0/Cards/PCI-Express-USB-3-Card-4-Dedicated-Channels-4-Port~PEXUSB3S44V

The kinect is detected however using the Kinect Viewer neither camera are available to open. When I try to refresh devices I get this error:

[ error    ] : find_libusb_dev

[2019-07-09 00:58] thedevguy commented on #459
I have done the following trouble shooting steps:
1. installed new drivers for the usb card
2. unsinstalled the kinect dk sdk software and reinstalled it
3. scarified small goat

[2019-07-09 01:10] mikewiegand opened #468 "Cannot Add Microsoft.Azure.Kinect.Sensor 1.1.1 Nuget to UWP App"
Following instructions from: https://docs.microsoft.com/en-us/azure/kinect-dk/build-first-app:

I created a vanilla UWP App in VS 2017 and tried to add the Microsoft.Azure.Kinect.Sensor Nuget Package and received the following error.

NU1202: Package Microsoft.Azure.Kinect.Sensor 1.1.1 is not compatible with uap10.0.17763 (UAP,Version=v10.0.17763).
Package Microsoft.Azure.Kinect.Sensor 1.1.1 does

[2019-07-09 01:18] thedevguy commented on #459
Here is a screen capture of how the device manager looks and how the viewer doesnt show the device listed.

![usb_device_manager_viewer_together](https://user-images.githubusercontent.com/882615/60852478-bbe05980-a1ac-11e9-9a40-7bd3c8d27842.PNG)

[2019-07-09 05:07] wes-b commented on #459
The yellow triangles next to "Azure Kinect Depth Camera" and "Azure Kinect 4k Camera" indicate the two cameras are not enumerated successfully. You should be able to double click on the errored out devices to determine what the error is. Also please try multiple USB ports on the card, don't assume they are all exactly the same.

[2019-07-09 05:11] wes-b commented on #468
We don't currentlhy support UWP. Try creating a console app project.

Head over to https://aka.ms/azurekinectfeedback to vote for UWP support if you need it.

[2019-07-09 17:00] Brent-A commented on #386
Fixed in 1.2.0-alpha.1

[2019-07-09 17:00] #386 closed

[2019-07-09 17:59] monkeykat opened #470 "Kinect showing in Device Manager, but not Kinect Viewer"
I am having an issue where the Kinect camera is showing up in the Device Manager, but the Kinect Viewer just says "No available devices." The Kinect Viewer works fine on another computer, so is not defective.

Windows 10 1809
USB Host Controller: Intel USB 3.0 eXtensible Host Controller - 1.0

[2019-07-09 18:17] wes-b commented on #470
If you plug into a USB 2 port then *most* everything will show up in device manager. You want to make sure that you can see "Azure Kinect Depth Camera" and that none of them have a yellow triangle.  Make sure the power LED on the back of the device is solid white.

The Device manager view below is View->Device By Container.

![image](https://user-images.githubusercontent.com/11180453/60912730-e8db

[2019-07-09 18:23] wes-b opened #471 "Color to Depth Timing may have an offset if setting manual exposure repeatedly."
**Describe the bug**
Setting the exposure time will cause the timing between the depth and color camera to diverge while the device adjusts to the new exposure value. If the exposure is continuously being updated (every frame), even to the same value, then the device will appear to have a permeant offset.

- [ ] We need to update GitHub code comments to capture this issue.
- [x]  We need to update

[2019-07-09 19:00] tesych commented on #466
@leo-step, thank you for the suggestion, we do not have a working example at this time how to to save the individual frames to the disk. Please review [Record and Playback API documentation](https://docs.microsoft.com/en-us/azure/Kinect-dk/record-playback-api) to help you get started.

[2019-07-09 19:00] #466 closed

[2019-07-09 19:14] tesych commented on #396
updated the documentation

[2019-07-09 19:14] #396 closed

[2019-07-09 19:16] tesych commented on #293
completed.

[2019-07-09 19:16] #293 closed

[2019-07-09 19:18] tesych commented on #227
it is documented in our [Azure Kinect documentation](https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#depth-camera-auto-powers-down).

[2019-07-09 19:18] #227 closed

[2019-07-09 19:30] mikewiegand commented on #468
When I create a new C# console app, I get

Could not install package 'Microsoft.Azure.Kinect.Sensor 1.1.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

Thank u

[2019-07-09 19:37] monkeykat commented on #470
Thanks for getting back so quickly! I checked my Device Manager, and everything looks to be the same as yours. No yellow triangles and the depth camera is showing up. The LED on the back is solid white and the USB port is 3.0.

![Device_Manager_Kinect](https://user-images.githubusercontent.com/7573089/60917620-66b15000-a25f-11e9-9848-7feeb99e05bd.JPG)

[2019-07-09 20:02] wes-b opened #473 "Document Sync In / Out connection & signal"
**Describe the bug**
We should document the sync jack connection and communication so it can be used by others.

[2019-07-10 00:43] #405 closed

[2019-07-10 13:54] frenche6 opened #476 "turbojpeg.h file not found"
**Describe the bug**
For the transformation project, issue finding the 'turbojpeg.h file.
Actual error is: "Cannot open include file: 'turbojpeg.h': No such file or directory".

When navigating to the extern folder, the libjpeg-turbo folder is empty except for the CMakeLists.txt file.

This may be an issue of me not knowing where the file is located to link it properly.

**To Reproduce**
1. Open t

[2019-07-10 15:31] wes-b commented on #476
I am guessing you have a fresh clone and have not yet built the SDK. So the git submodules are not populated. You need to run ```git submodule update --init --recursive``` to pulling the header down.

[2019-07-10 15:41] valentinptc commented on #427
Have you found some updates for making active USB extension cables work for multiple cameras? Or have you found an active extension cable that does not implement an USB hub?

[2019-07-10 16:06] somacoder opened #477 "NFOV_BINNED broken depth image displaying on NUC8i7HVK - 1.1.0 SDK"
NFOV_BINNED displays a broken depth image when running on a NUC8i7HVK in the Kinect Viewer from the SDK 1.1.0 installer in usage:
https://user-images.githubusercontent.com/25708712/60984625-dfacb800-a2f0-11e9-9d56-e7f928cdfba5.PNG

This only occurs on the NUC8i7HVK  and not on my alternate desktop system. It also occurs across multiple different Kinect Hardware units.

This is with all standard co

[2019-07-10 17:35] tesych commented on #468
@mikewiegand you would need to create new C++ console app since C# is not available yet.

[2019-07-10 18:53] tesych commented on #473
Closing this bug since it is the duplicate to [#366](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/366)

[2019-07-10 18:53] #473 closed

[2019-07-10 19:14] frenche6 commented on #476
Thank you for the suggestion, that led me in the correct direction. I downloaded the project, with submodules this time, and I am able to finally run the cmake successfully.

[2019-07-10 19:14] #476 closed

[2019-07-10 19:26] somacoder commented on #477
As a followup to this, after testing, this issue does not occur in Ubuntu 18.04 on the NUC8i7HVK.

[2019-07-10 19:39] mikewiegand commented on #468
That was it. Thank you!

Sent from my iPad

[2019-07-10 19:40] Brent-A opened #478 "Add custom allocator hook"
**Is your feature request related to a problem? Please describe.**
Some hosting environments (such as the CLR) can benefit from providing a custom allocator for the image buffers. For example, the CLR can allocate image structures from managed memory, enabling managed access to the image buffers without making any copies or exposing unsafe pointer access.

**Describe the solution you'd like**
Add

[2019-07-10 20:55] xthexder commented on #470
If you open the log in the viewer (Settings -> Show log dock), and set the log level to trace, do you get any output when hitting `Refresh Devices`?

[2019-07-11 00:50] zengh100 commented on #329
@Brent-A, any update since this topic is closed on May 10?
One question about https://packages.microsoft.com/ubuntu/16.04/multiarch/prod/dists/xenial/main/binary-arm64/:
It seemed that this file https://packages.microsoft.com/config/ubuntu/16.04/multiarch/arm64/prod.list is wrong about the package location as below:
deb [arch=arm64] https://packages.microsoft.com/ubuntu/16.04/multiarch/arm64/prod

[2019-07-11 12:21] monkeykat commented on #470
Yes I do. Here it is:

[ trace    ] : logger_t_create(). Created   logger_t 0000016364AAA4B0
[ trace    ] : k4a_device_t_create(). Created   k4a_device_t 0000016364B14A10
[ trace    ] : depthmcu_t_create(). Created   depthmcu_t 0000016364AF6190
[ trace    ] : usbcmd_t_create(). Created   usbcmd_t 0000016364AEC7C0
[ info     ] : find_libusb_device(). Container ID found: {8376c5f0-06bd-40c7-749f-dd0

[2019-07-11 16:26] Brent-A opened #481 "Change to C11 from C99"
**Is your feature request related to a problem? Please describe.**
Some functionality such as `static_assert` doesn't work with C99

**Describe the solution you'd like**
Move the C compiler from C99 to C11

**Describe alternatives you've considered**
If we leave it, we need to continue working around some nice to have features. Since we have no known hard constraint to stay on C99, this seems like

[2019-07-11 18:05] diablodale opened #483 "what is color space and reference level of RGB camera? bt.601, bt.709, bt.2020, ...?"
The colorspace and reference levels (aka range aka swing) of the RBG camera data is missing in all known documentation. The colorspace and its reference white/black must be known and consistently used by Microsoft and developers so that conversions between colorspaces and formats are accurate. Without clarity, errors and color shifts easily occur in core Kinect DK and in customer code. (FYI, I fou

[2019-07-11 18:32] diablodale commented on #483
I have suspicions...that something isn't correct in the DK.
Please reference https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/95f1d95f1f335b57a350a80a3a62e98e1ee4258d/tools/k4aviewer/k4acolorimageconverter.cpp#L104

That line of code is calling libyuv::YUY2ToARGB()
It appears that the DK uses the submodule https://chromium.googlesource.com/libyuv/libyuv
and the code in that submodule for

[2019-07-11 19:11] jmackenzie68 opened #484 "CSharp Depthmode/IR Fails in Unity"
**Is your feature request related to a problem? Please describe.**
Accessing the Depth camera or IR camera of the Azure Kinect device does not seem to work in **Unity**.  We can get the color Camera to display however.  See Script below.

When calling **Device.StartCameras(DeviceConfiguration)**, it fails with **"result = K4A_RESULT_FAILED"** with almost any camera configuration.  Currently we can

[2019-07-11 19:20] wes-b commented on #427
I have not, but I am hoping we hear about more from the community. Our testing is limited to what I can borrow and far from complete.

[2019-07-11 19:54] wes-b commented on #470
The problem is this:
[code]
0x80070005 = E_ACCESSDENIED For some reason the camera is not accessible. I might consider what other applications on the computer might be opening the camera and changing access permissions.

[2019-07-11 20:38] monkeykat commented on #470
Okay, I am thinking that my organization is blocking the camera on the computer or something.... I am going to put a ticket in with them to see if they can unblock it. Thank you for your help, I will post once I get with them if it solves the problem or not.

[2019-07-11 21:23] rabbitdaxi commented on #477
@somacoder thank you for reporting this issue, we definitely want to know more about this issue. May I ask two questions to help us narrow down a little bit more:
1) It seems this issue only happens on the NUC8i7HVK device on windows, and also this issue does not happen on other desktop windows system. Have you try to update the graphics driver of the NUC8i7HVK see whether it helped addressing thi

[2019-07-11 21:33] valentinptc commented on #427
We tested a couple of cables today and found a 10 Meters/32.8 Feet extension cable that worked:
https://www.amazon.com/gp/product/B00DMFFL2W/

I hope that helps you guys as well.

[2019-07-11 22:48] #422 closed

[2019-07-11 23:17] Brent-A commented on #484
Hi @jmackenzie68. I think some logs would help narrow down the issue. By default the SDK logs to the console, which I'm not sure if you can see. You can switch it to [log to a file](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/develop/group___logging.html) using some environment variables.

[2019-07-11 23:26] spschul opened #485 "libusb and libuvc errors when using multiple devices on Linux"
**Describe the bug**
When streaming with multiple devices on Linux, when the program calls `start_cameras` the program will fail with errors such as an error for `libusb_submit_transfer` and similar-looking errors. Diving deeper, it becomes clear that a function within `libusb` is failing, returning `ENOMEM` indicating that the kernel is out of memory. The problem is that there's a setting (readab

[2019-07-11 23:30] Brent-A commented on #484
At a guess, did you [include depthengine_1_0.dll](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/depthengine.md)? That dependency doesn't get included in the SDK when you build it yourself so it's easy to miss.

[2019-07-11 23:40] Brent-A commented on #429
Hi @rolandsmeenk. We just merged the CSharp branch to develop so it's getting a bit more stable.

If you can get logs from the SDK we should be able to figure out more about what's going on.
You can enable [logging to a file](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/develop/group___logging.html) using some environment variables.

Also make sure that the program has the following DLLs wi

[2019-07-12 01:07] nonlinear1 opened #486 "Can Let Azure-Kinect-Sensor-SDK support Nvidia Xavier?"
My company want to make a product based on Kinect for Azure and Nvidia Xavier. But when I
install SDK to Nivida Xavier, I failed! So could you make SDK support Nvidia Xavier?
Or Can you give me some suggestion and I can do some work to let SDK support Nvidia Xavier!
 Thanks a lot
Guan

[2019-07-12 13:20] jmackenzie68 commented on #484
@Brent-A Thank you for the response!  Adding the folder containing depthengine_1_0.dll was fixed this error.  Originally I had added a copy of the depthengine_1_0.dll to the Unity Plugins folder sitting next to the k4A.dll and Microsoft.Azure.Kinect.Sensor.dll (cSharp Build) but apparently that was not enough.   I still am not getting a depth image at this point, but I am able to get a success fro

[2019-07-12 14:54] somacoder commented on #477
Thanks for the followup. I've since re-imaged to Linux and am programming there (my goal all along once Linux became stable). As such, this system specific issue is less a priority over the Linux bugs currently for me, specifically point cloud visualization bug in the viewer and the libusb multi-camera support bug in the recorder. However, given the NUC8i7HVK will almost certainly be a go to syste

[2019-07-12 15:27] jbrownkramer opened #487 "Firmware Missing in Azure Kinect SDK 1.1.0.msi"
**Describe the bug**

The [firmware update instructions](https://docs.microsoft.com/en-us/azure/kinect-dk/update-device-firmware) say "In the SDK install location under (SDK install location)\tools\ you should find: ... A Firmware .bin file in the firmware folder, such as AzureKinectDK_Fw_1.5.926614.bin.".  I have installed the SDK by downloading and running the msi file from [https://docs.microso

[2019-07-12 15:36] wes-b commented on #487
Yes, thank you for the reminder. We need to start adding the firmware. So far there have not been any updates to release.

[2019-07-12 15:40] jbrownkramer commented on #487
Oh, OK.  We received a camera recently with the following firmware.  I think you're telling me that this is the latest.  Is that right?

[code]

[2019-07-12 15:42] wes-b commented on #487
Yes, that is correct.

[2019-07-12 15:45] wes-b commented on #477
Are there issues opened for the 2 bugs you mentioned above?

[2019-07-12 16:48] wes-b commented on #486
Unfortunately we do not currently support ARM. The private depth engine binary required by the SDK means Microsoft needs to add the support for it. You can go over to https://aka.ms/azurekinectfeedback and vote for the features you want added to the SDK next.

[2019-07-12 16:49] #486 closed

[2019-07-12 17:05] rabbitdaxi commented on #477
@somacoder thank you for answer my questions. Yes, I think it is definitely worth to try repro this issue on this device and see whether you can update the graphic driver can help solve the issue. We have experienced one Intel Graphics driver issue before results in a color point cloud missing points https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/294, and somehow the windows update on

[2019-07-12 17:20] somacoder commented on #477
Sounds good! Thanks all. And to @wes-b, yes, those are being handled and look to be resolved soon. I know you all are hard at work and I appreciate the proper triaging!

[2019-07-12 18:00] MsDerekMa opened #488 "C# should support the logging APIs"
The Azure Kinect Sensor SDK supports a callbacks for logging messages. The C# API should register a callback to pipe all of the messages up into the C# layer for diagnostics and better exceptions.

[2019-07-12 18:03] MsDerekMa opened #489 "C# API should support better exceptions"
Currently there is a lack of information when an exception is throw in C#. In all of the example an exception will cause the application to crash with little knowledge of what is going on.

Consider adding sub-exception types such as "AzureKinectOpenDeviceException" or "AzureKinectStartException".  In addition look at adding logging information to give context on why the exception occurred.

Consi

[2019-07-12 18:04] MsDerekMa commented on #429
Thanks, I was just able to try this out.  It looks like it is failing because the default FPS is 30 FPS. 30 FPS is not supported with WFOV Unbinned.  You can check our [supported operating modes].(https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#depth-camera-supported-operating-modes)

However, this pointed out that we need to do some work on our exceptions and logging to tr

[2019-07-12 18:04] #429 closed

[2019-07-12 18:44] spschul commented on #485
After discussion with @wes-b here's a few considerations.

There is a maximum on memory allowed for the libusb pool, specified with the environment variable `K4A_MAX_LIBUSB_POOL`. For Windows, `K4A_MAX_LIBUSB_POOL=80000000` but for Linux, `K4A_MAX_LIBUSB_POOL=1000000`. This limit was chosen for Windows to have enough memory to not drop frames, but on Linux it needed to be smaller because of the de

[2019-07-12 19:21] somacoder commented on #302
See https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/485 for a more specific description to this error.

[2019-07-12 19:22] somacoder commented on #302
See #485 for a more specific description of this error.

[2019-07-12 20:35] MrudulaSatya opened #490 "Getting IR Camera Image and passing it to Python code"
**Describe the bug**

I am trying to use Azure Kinect DK's V3. IR Camera output for use in a deep learning application. My deep learning code is written in Python. Azure Kinect Sensor SDK has provided references in C and C++ only. Hence, I am compelled to get the IR capture using C Reference and send the obtained image buffer (output of k4a_image_get_buffer function) to the Python code via TCP soc

[2019-07-12 21:15] somacoder commented on #485
@spschul and @wes-b this appears to eliminate the libusb errors for me. Great catch! However, I then stumble into another error. Are you getting the following error after as well? This is from the master Kinect after setting up the subordinate. If not, I can provide more details. I'm having trouble pinpointing it and whether or not it's related, and am hesitant to open a separate issue for this ye

[2019-07-12 21:19] spschul commented on #485
This looks unrelated. If you create a new issue, we'd be happy to take a look!

[2019-07-12 22:13] rabbitdaxi commented on #490
@MrudulaSatya the k4a_capture_get_ir_image function return a k4a_image_t contains the type of image format K4A_IMAGE_FORMAT_IR16 (search k4a_image_format_t in the https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/index.html), and the buffer size should be height * stride_bytes (you can use the k4a_image_get_stride_bytes to get the stride_bytes). Another way is you can cast the buffer to u

[2019-07-13 14:59] UnaNancyOwen opened #491 "[Request] Move playback C++ wrapper to include/k4arecord"
**Is your feature request related to a problem? Please describe.**
The include/k4arecord directory doesn't contain C++ wrapper.
However, C++ wrapper for playback already exists in tools/k4aviewer/playback.hpp.
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/tools/k4aviewer/playback.hpp

**Describe the solution you'd like**
**Describe alternatives you've considered**
Move <code>pl

[2019-07-13 15:42] chankamlam opened #492 "body tracking viewer error"
as the pic blew

![image](https://user-images.githubusercontent.com/9009522/61173567-a95c8a80-a5c7-11e9-89ba-c8e46efbac6c.png)

OS:Windows10
GPU:low than 1070
CUDA：10

[2019-07-14 06:20] this-username-is-taken opened #494 "Give a more salient error message when an error is due to depthengine.dll missing"
I've ran into a couple situations (often when I migrate a project) where some function in k4a sdk fails, I spend a lot of time debugging, then realize it's because depthengine.dll is not in the bin folder, but there isn't any error message or hint that that is the case.

The latest example of such behavior I ran into is when I tried to create a `k4a_transform_t` with a `k4a_calibration_t`. The fun

[2019-07-14 14:11] jcsoo opened #495 "Please clarify Depth Engine Linux OpenGL requirements in docs"
The current docs in [Using Azure Kinect SDK](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md) are vague on Linux dependencies, simply listing "OpenGL". The page [Azure Kinect sensor SDK system requirements](https://docs.microsoft.com/en-us/azure/Kinect-dk/system-requirements) on the main site could be a bit more specific - for Linux it lists "Linux Ubuntu 18.04 (x64

[2019-07-14 17:43] thedevguy commented on #459
Wes here are what the devices show when I double click on the error-ed out devices. I have tried every port I have on the USB controller with no change to the error.

![Properties1](https://user-images.githubusercontent.com/882615/61187251-2ae20600-a624-11e9-9879-96c8e8b7b79e.PNG)
![depthcamera_properties_events](https://user-images.githubusercontent.com/882615/61187252-2ae20600-a624-11e9-8121-026

[2019-07-14 21:50] thedevguy commented on #459
Can the Kinect DK work with Windows PCs that have AMD CPUs?

[2019-07-15 01:48] wqs111000 opened #496 "libusb errors that devices is no longer connected!"
**Describe the bug**

When  a single Sensor opened, It seems to be working properly. But LibUsb always prints out error messages, as the figure below shows.
**Screenshots**

![clipboard](https://user-images.githubusercontent.com/16065087/61192067-27ae4f00-a6e4-11e9-9aa7-5970c8e8ff61.png)

**Desktop (please complete the following information):**
 - OS with Version: Win 10
 - SDK Version:  1.1.0
 -

[2019-07-15 08:10] HukoOo opened #497 "Does not work in Color Camera mode"
**Describe the bug**

Build is clean and I tried to start camera with k4aviewer.
'Enable Depth Camera' is OK, but 'Enable Color Camera' is not working like below error.

I tested in windows and working well.Not hardware problem.

**To Reproduce**

**Expected behavior**

**Logs**

[ warning  ] : capturesync_add_capture(). Dropping depth capture as TS is too large TS:  77816077
[ warning  ] : captur

[2019-07-15 11:00] this-username-is-taken opened #498 "Unclear documentation for k4a_calibration_2d_to_2d and k4a_calibration_2d_to_3d"
Both functions require a depth argument when being called. However, when the source camera type is color, there is no depth information. The documentation doesn't specify what the depth argument should be and what the expected behavior is in such case.

[2019-07-15 11:28] darahan opened #499 "k4a_playback_open issue"
Hi I get the following issue when running my code over k4a_playback_open(filePath, &playback_handle) :

[2019-07-15 13:26:33.310] [error] [t=144] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\record\sdk\playback.cpp (49): k4a_playback_open(). Unable to open file 'recording1.mkv': ios_base::failbit set: iostream stream error
Opened device: 000050292412
Failed to open recording

I checked the file wri

[2019-07-15 13:15] MrudulaSatya opened #500 "Python Reference for Microsoft Azure Kinect Sensor SDK"
**Is your feature request related to a problem? Please describe.**

Most Machine learning and AI solutions are coded in Python as it has a collection of numerous libraries to do data pre-processing and apply machine learning algorithms.  If the Microsoft Azure Kinect Sensor SDK provides a reference in Python, it will be very handy to use Azure Kinect DK in our AI  applications.

**Describe the sol

[2019-07-15 13:42] billpottle commented on #499
I had this same error when running a similar program which also uses k4a_playback_open(filePath, &playback_handle) from within visual studio on windows 10. However, if navigate through the filesystem and run the program directly from the folder, it loads and plays the file correctly.

[2019-07-15 15:33] somacoder opened #501 "Runtime Error - multi-camera recording - Ubuntu 18.04 - SDK 1.1"
The following is after applying the libusb memory fix at: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/485

Both cameras work with individual recordings.

subordinate:
[code]
master:
[code]

System: NUC8i7HVK w/ 32 GB RAM
OS: Ubuntu 18.04, Fully Updated
SDK: 1.1.0

[2019-07-15 16:22] wes-b commented on #501
Unfortunately that log is not too helpful. Can you rebuild the SDK in debug mode and retry? Use the CMake option -DCMAKE_BUILD_TYPE=Debug.

[2019-07-15 16:55] MrudulaSatya commented on #490
![image](https://user-images.githubusercontent.com/38172333/61233803-09058380-a6f7-11e9-9cb3-317248d4683c.png)

Still receiving a granulated image.
Steps performed -
1. Changed the buffer size to stride_bytes * height
2. Normalized the image using opencv.normalize function. Tried various parameter configurations.

Could you please tell how the k4a Viewer is able to display such clear IR images? Wh

[2019-07-15 17:01] wes-b commented on #500
We have discussed Python in the past as another language extension, but so far we have not had time. Check out https://feedback.azure.com/forums/920053 for how we are tracking larger feature requests, we are planning to use that info to help steer our team toward the next features to invest in.

[2019-07-15 17:01] #500 closed

[2019-07-15 17:41] somacoder commented on #501
Sure! Not much in those original logs you're right. See attached for equivalent debug logs.

[master.txt](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/files/3393460/master.txt)
[subordinate.txt](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/files/3393461/subordinate.txt)

[2019-07-15 17:41] mbleyer commented on #498
We allow for the color camera to be chosen as the source camera type in order to keep these functions as general as possible. One way to derive the depth value in the color camera geometry is to use the function k4a_transformation_depth_image_to_color_camera().

[2019-07-15 17:59] wes-b commented on #497
I think your device needs to be power cycled. I don't see an error starting the color camera, just that the data is failing to arrive. Also note #485 that may be impacting you.

[2019-07-15 18:05] wes-b commented on #496
Good issue, I have seen this too. Its a delayed message from LibUsb after a device is disconnected.

[2019-07-15 18:17] tesych commented on #366
1.	The SYNC signals are active high and pulse width should be greater than 8us.
2.	We currently support 30, 15 and 5 fps, so frequency of master VSYNC signal from your board (developed to generate signal) should also be one of these 3.
3.	Kinect DK 1 should be connected  to your board, Kinect DK 2 to your Kinect DK 1 and Kinect DK 3 to your Kinect DK 2, say daisy-chain.
4.	SYNC signal from the boa

[2019-07-15 18:42] somacoder commented on #501
Possibly a library is missing for handling the image type?

[2019-07-15 18:52] cdedmonds commented on #490
The depth data from the camera uses 16-bit unsigned pixels. It looks like your python code is interpreting each byte as a pixel.

[2019-07-15 19:04] cdedmonds commented on #495
Thanks @jcsoo we will look at adding the specific OpenGL version to the documentation.

[2019-07-15 19:18] rfilkov opened #502 "Coordinate Frame Transformations"
**Is your feature request related to a problem? Please describe.**

Currently k4a_transformation_depth_image_to_color_camera()-function transforms the depth image to the color camera space, and k4a_transformation_color_image_to_depth_camera()-function transforms the color camera image to the depth camera space. There is currently no way though to transform the body index image (returned by the bod

[2019-07-15 19:27] rfilkov commented on #443
Any update on this one?

[2019-07-15 19:47] wes-b commented on #501
I don't think so and we have not seen this error before. Would you mind updating ```uvc_strerror``` function in your extern libuvc project to convert all the known error codes to strings so we can figure out what error code is comming back?

[2019-07-15 19:53] this-username-is-taken commented on #498
Thanks Michael. I followed up with Andrew earlier and got clarification on this issue. My only concern is that this is not immediately clear from the documentation. Given that there is no example code on the usage of k4a_calibration_2d_to_2d, I worry that other people may also get confused as I did.

[2019-07-15 19:57] this-username-is-taken opened #503 "k4aviewer.exe doesn't launch in a remote desktop session and doesn't give any error message"
**Describe the bug**
k4aviewer.exe doesn't launch in a remote desktop session and doesn't give any error message

**Desktop (please complete the following information):**
 - OS with Version: Windows 1809 build 17763
 - SDK Version:  tried both 1.0.5 and a build from source on branch origin/release/1.1.x

**Additional context**

[2019-07-15 20:36] wes-b commented on #459
These devices should have WinUsb installed on them. I can't see the full history via the images. Not sure if you have some 3rd party software messsing with the WinUsb driver or not. You might try updating the driver and specifically telling Windows to use WinUsb.inf.

[2019-07-15 20:37] wes-b commented on #459
And yes, AMD CPU's work fine.

[2019-07-15 20:47] wes-b commented on #492
k4abt_simple_3d_viewer.exe

"The application cannot be started normally (Oxc0000142). Click OK to close the application."

[2019-07-15 20:53] wes-b commented on #492
0xC0000142 = STATUS_DLL_INIT_FAILED

Check that you have all the required dependecies.

[2019-07-15 21:18] xthexder commented on #499
Under the hood, `k4a_playback_open` just uses `std::fstream.open()`, so any path that works with fstream should work fine with k4a.

Unless you edited the error message to shorten it, your program was trying to open `recording1.mkv` without a path, which will look in the current working directory.
The code you posted should use the absolute path and will work when run from any directory.

Let me k

[2019-07-15 21:38] rabbitdaxi commented on #498
@this-username-is-taken , I think one thing we can do is update the documents in how-to section https://docs.microsoft.com/en-us/azure/Kinect-dk/use-calibration-functions, or also this function's parameter source_depth_mm's description with the additional message "one way to derive the depth value in the color camera geometry is to use the function k4a_transformation_depth_image_to_color_camera()"

[2019-07-15 21:41] Brent-A commented on #491
Thanks @UnaNancyOwen. Since this impacts the public API surface, we're going to schedule an internal review to ensure we don't have any concerns regarding future breaking changes, and that we have adequate test coverage for the new API surface.

[2019-07-15 21:46] Brent-A commented on #496
Related to #485 and #302.

[2019-07-15 21:55] xthexder commented on #499
@billpottle  In your case, it's likely that Visual Studio is running the program from a different working directory. The working directory and the directory the executable are in are not guaranteed to be the same.
By default Visual Studio will run the executable from the project directory, not the build directory.

[2019-07-15 21:56] rabbitdaxi commented on #502
@rfilkov thank you for opening this issue, there is actually work in progress regarding a related issue #260 that can address similar problem.

[2019-07-15 22:00] rabbitdaxi commented on #494
@this-username-is-taken thank you for opening this issue, there should be some error message in the console window if you are missing depthengine_1_0.dll, e.g. I just tried the transformation_example.exe that missing the depth engine in the same directory, what I see is:
E:\GIT\Azure-Kinect-Sensor-SDK\build\bin>transformation_example.exe capture d:\
[2019-07-15 14:58:27.813] [error] [t=12456] ..\s

[2019-07-15 22:07] rabbitdaxi commented on #477
@somacoder given it may take some time for you to try repro again and testing the update the Intel GPU driver, we are going to close this issue for now, and if update the Intel GPU driver did not fix your issue, please reopen this issue with your repro and testing result at then. Thank you a lot for actively on this issue!

[2019-07-15 22:07] #477 closed

[2019-07-15 22:17] xthexder opened #504 "Displayed IMU values in K4AViewer are delayed by several seconds"
**Describe the bug**
When looking at a live IMU view of a device, the numbers displayed for each axis are the oldest values on the graph, not the most recent.
When trying to debug IMU issues, it's more useful to show the current IMU value rather than one that is delayed several seconds.

**To Reproduce**
- Open up k4aviewer and start streaming IMU.
- Flip the device over.
- The Z axis will not upd

[2019-07-15 22:19] rabbitdaxi commented on #502
Duplicate this issue to #260

[2019-07-15 22:19] #502 closed

[2019-07-15 22:24] rabbitdaxi commented on #483
@diablodale thank you for reporting this. We are requesting this information from the HW team and will get back to you once we confirmed it.

[2019-07-15 22:26] this-username-is-taken commented on #494
Thanks for looking into this. The error message didn't show up for me. I realized earlier that K4A logging depends on you calling `k4a_device_open`. Since I was working on recordings only with the K4A API, I didn't get any logs. But I suppose this would be a separate issue.

[2019-07-15 22:29] cdedmonds commented on #492
@chankamlam can you confirm that:
1. CUDNN is installed and in your path
2. The VC++ 14 runtime is installed

We are working to create better error messages for missing dependencies in a future release.

[2019-07-15 22:44] wes-b commented on #494
Yes, please file an issue on this.

[2019-07-15 23:18] rabbitdaxi commented on #490
@MrudulaSatya , as I mentioned, the IR image is uint16_t data, even you fixed the buffer size with the right stride for the copy, through the socket, you still need to cast the buffer to uint16_t* in your client and then if you want to do just linear mapping from uint16_t to grayscale by using some min/max value you prefer. The azure kinect viewer code is open sourced, here is the link to the func

[2019-07-15 23:53] this-username-is-taken opened #506 "No logging output when k4a_device_open is not called"
When I use K4A SDK on recorded clips (where I don't call `k4a_device_open` any where in my code), I don't get any logging output including errors.

[2019-07-15 23:53] this-username-is-taken commented on #494
Issue filed here: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/506

Closing this one.

[2019-07-15 23:53] #494 closed

[2019-07-15 23:58] #419 closed

[2019-07-15 23:58] #424 closed

[2019-07-15 23:58] #453 closed

[2019-07-15 23:58] #504 closed

[2019-07-16 00:09] xthexder opened #507 "tewrapper_create fails to initialize on linux due to GLXBadFBConfig"
**Describe the bug**
During initialization of the transformation engine, an OpenGL error occurs when using Nouveau video drivers on Ubuntu.

**To Reproduce**
1. Open k4aviewer (must include #505 bug fix) on Ubuntu
2. Open a device or recording, and switch to 3D point cloud view
3. k4aviewer will hang / crash when initialize the transformation engine dll

**Expected behavior**
The point cloud view

[2019-07-16 01:06] vemeli commented on #470
If you are using Windows 10, follow this link to allow your apps to access your camera: https://mywindowshub.com/allow-or-deny-apps-to-have-access-to-webcam-in-windows-10/

[2019-07-16 05:17] staniliev opened #509 "Document API for depth, transform engines and raw modulated IR image format"
Provide API documentation for depth and transform engines. Document format of raw modulated IR image captured by "capture_get_ir_image" function (which is invoked by depth_engine_thread).
New documentation can be used to implement an alternative CPU depth engine made of portable open source C++ code. This will drop dependency on GPU/OpenGL and will allow to run SDK on a wide variety of ARM SBC wit

[2019-07-16 06:09] chankamlam commented on #492
How 2 check VC ++ 14 installed or not ,I have been install vs studio 2019, seems it must be already installed

[2019-07-16 06:20] chankamlam commented on #492
CUDNN is it meant CUDA? I have been installed CUDA 10, but my GPU Display card is low than 1070, is it the key point of the error

[2019-07-16 13:48] darahan commented on #499
I made a mistake in my working directory. I thought the "playback_open " was there to open a file for a new recording instead of opening an existing file. My bad.

[2019-07-16 13:48] #499 closed

[2019-07-16 15:37] darahan opened #510 "K4aViewer: No IR data in K4aViewer and no depth recording track present when in passive IR mode"
I was making some images in the WFOV_UNBINNED mode, but found the IR pictures quite overexposed. then I tried to use the PASSIVE_IR mode while using the same settings. The command line argument is below:

PS C:\Program Files\Azure Kinect SDK v1.1.0\tools> .\k4arecorder.exe -d PASSIVE_IR -c 1080p -r 5 -l 900 --imu OFF test5.mkv

However, if I open the above file in k4aviewer, it says "Depth mode: (

[2019-07-16 15:37] rabbitdaxi commented on #507
This error should be related to the minimum required OpenGL version. #495 is also tracking it.

Meanwhile, can you use glxinfo | grep “OpenGL” to check whether the OpenGL core profile version >= 4.4? If not, update your GPU latest driver can normally solve this issue

[2019-07-16 15:52] wes-b commented on #510
Thanks for the issue, this is bug in K4aViewer.

[2019-07-16 15:59] darahan commented on #510
Yes partially. I did expect a Depth track in passive IR mode however.

[2019-07-16 16:02] wes-b commented on #509
Sorry, this is an area of the technology that we as a company are not yet ready to share.

[2019-07-16 16:02] #509 closed

[2019-07-16 16:05] wes-b commented on #506
We need to instantiate the logger more aggressively than on k4a_device_open

[2019-07-16 16:16] wes-b commented on #510
When using Passive IR mode, then depth is disabled and there is no track to display. In this case there should only be a passive IR track

[2019-07-16 16:19] wes-b commented on #510
Sorry, I just noticed the last part of your question. We expect the other 4 depth modes to record and playback 2 tracks; Depth and IR, and 1 color track if enabled. They should work with the recorder.exe and k4aViewer.exe

[2019-07-16 16:31] wes-b commented on #470
Thanks @guzza100, I confirmed I get the same error when disabling the camera
[code]

[2019-07-16 16:31] #470 closed

[2019-07-16 16:37] wes-b commented on #510
Duplicate of #424

[2019-07-16 16:37] #510 closed

[2019-07-16 16:55] yijiew commented on #492
@chankamlam cuDNN is a separate library than CUDA. It needs to be separately installed. Please follow the instruction here for detailed installation steps: https://docs.microsoft.com/en-us/azure/Kinect-dk/body-sdk-setup.

The body tracking SDK can run on some graphics card that is lower than 1070. We have tested to run it on GTX 1050Ti and it runs OK. May I ask what graphics card are you using?

[2019-07-16 17:04] cdedmonds commented on #507
We are looking at improving the error message and documentation as mentioned in #495 .

[2019-07-16 17:04] #507 closed

[2019-07-16 17:07] somacoder commented on #477
Updating to the newest driver here did not fix the problem. https://downloadcenter.intel.com/download/28600/Radeon-RX-Vega-M-Graphics-Driver-for-Windows-10-64-bit-for-NUC8i7HNK-NUC8i7HVK?product=126143

[2019-07-16 17:15] cdedmonds commented on #443
This is in consideration for a future release. For feature requests please use UserVoice. I have started a new issue here that you can upvote.

https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/38154784-hands-support-in-body-tracking

[2019-07-16 17:15] #443 closed

[2019-07-16 17:19] rabbitdaxi commented on #509
@staniliev add some more comments here. First, let us separate the transform engine and depth engine.

- For transform engine:
Transform engine CPU reference code is fully open sourced in the current GitHub. You can see TRANSFORM_ENABLE_GPU_OPTIMIZATION in (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/sdk/k4a.c), currently default is set to true, if you set to false, then

[2019-07-16 17:20] somacoder commented on #477
Success! If you download the Radeon software for the standard RX Vega 64, a driver update will be installed over Intel's advertised driver for this unit, fixing this bug. Strange that Intel communicates having to use their driver available on their website. Doubly strange considering that AMD also doesn't advertise support for the Radeon™ RX Vega M anywhere on their site. https://www.amd.com/en/su

[2019-07-16 17:42] tim-depthkit commented on #366
Would the Azure Kinect respond poorly to a sync signal produced at a broadcast frame rate, such as 29.97?

[2019-07-16 17:43] rabbitdaxi commented on #495
Also will improve the error message here instead of just showing the OpenGl error here, we explicitly add the ask of checking OpenGL core profile version and suggest update GPU driver

[2019-07-16 17:46] #339 closed

[2019-07-16 19:34] djambo commented on #484
I had some time to troubleshoot this and got it to work. Seems like the main problem with your unity script is here:

`depthImage = new Image(ImageFormat.Depth16, 1920, 1080, 1920);`

Your are trying to get a depth map of 1920x1080 resolution, while the supported resolution for the mode you selected, (NFOV_2x2Binned) is 320x288 px.

You should be able to get it to work changing that line to someth

[2019-07-16 19:55] darahan commented on #510
Ok this still leaves me with the question, why is there no depth  view in --depth-mode in PASSIVE_IR? I find this very counterintuitive naming. I selected this mode due to very overexposed subjects in WFOV and extermely overexposed subjects in NFOV, in both cases plants in a field. So I would love to have a depth view in Passive IR mode to get a better image of these subjects.

[2019-07-16 21:06] djambo opened #511 "C# | transformation.DepthImageToPointCloud"
**Describe the bug**

I am currently trying to use: **transformation.DepthImageToPointClou**d in a Unity C# script, but the function returns an error: **Unable to allocate Short3 array for format Custom**

**Expected behavior**

In case this is already been fully implemented, I would expect it to return a ArrayImage \<Short3\> containing the 3d coordinates of the cloud vertices.

**Logs**

AzureKi

[2019-07-16 21:18] Brent-A commented on #511
Thanks @djambo! This functionality is not yet fully implemented. We're working on changing the way the native memory is exposed which will likely mean removing the ArrayImage class in favor of a more generic Image class that can handle both managed and native buffers.

To work around this for now you can try adding this to the switch statement in ArrayImage<T>.CreateHandle

[code]

[2019-07-16 21:47] djambo commented on #511
Thank you so much @Brent-A! This made it work. It's enough to get the list of points into my unity scene.

[2019-07-16 21:48] #511 closed

[2019-07-16 22:21] #7 closed

[2019-07-16 22:23] wes-b commented on #158
Firmware is currently in MSI and NuGet packages going forward. We still need to release initial firmware so users can go back to factory release version of firmware for early SDK versions.

[2019-07-16 23:32] #498 closed

[2019-07-17 04:26] chankamlam commented on #492
@yijiew i have installed CUDA10 before i opened it

[2019-07-17 04:27] chankamlam commented on #492
@yijiew i had installed CUDA10 before i opened it

[2019-07-17 14:21] rfilkov opened #514 "Body tracking is too slow and inaccurate"
**Describe the bug**

By all means Azure Kinect is the best Kinect so far, and will be probably the best depth sensor on the market. The sensor SDK is pretty stable and good, providing almost everything an average user would want. But the body tracking subsystem is ruining this positive user experience. In means of API this SDK is great too, but the DNN model performance is much worse than the bod

[2019-07-17 14:29] billpottle commented on #499
@xthexder  - Thank you, that is helpful to know. I tried putting the mkv file in the project directory and it opened without issue.

[2019-07-17 15:13] billpottle commented on #514
I understand that the body tracking is only a preview release, and will likely be improved over time. As a stopgap, if it's possible, perhaps the body tracking can expose a parameter that can be tuned to achieve higher accuracy for offline or remote processing on powerful systems for non-real time applications.

There are many use cases that might only need a 3-4 second clip and could afford to sp

[2019-07-17 15:30] Brekel commented on #514
Fully agree!

I have a feeling like the output data is also overly filtered/smoothed somewhere in the pipeline, possibly at the model fitting stage after the DNN?
Maybe for certain use cases it could be useful to favor plausible poses over per-frame accuracy, but a user setting to tune this behavior could definitely improve usability in many more scenarios.

Another addition could be to output the

[2019-07-17 15:52] wes-b commented on #487
Yes, this is correct.

And with a recent check-in to an internal repro, our next released NuGet and MSI installer will have the firmware. For now Linux users will have to crack one of these open to get the firmware if needed.

[2019-07-17 15:52] #487 closed

[2019-07-17 16:03] yijiew commented on #492
@chankamlam But did you install cuDNN? As I mentioned, cuDNN needs to be installed separately.

[2019-07-17 16:21] wes-b commented on #510
Ahh, I see what you are saying. How can the ```--depth-mode``` setting, what ever it is, not give me depth data. We have a couple articles that talk about this, linked below. In summary there are 4 modes that turn on the lasers and actively measure time-of-flight, these modes result in a depth image. All 5 modes return in IR only image, and in the case of PASSIVE_IR the image is the ambient IR of

[2019-07-17 16:27] chankamlam commented on #492
What s cuDNN? official website did not said that needs to installed the cuDNN,how 2 install that?

[2019-07-17 16:27] cdedmonds commented on #492
@chankamlam please follow the directions here:
https://docs.microsoft.com/en-us/azure/Kinect-dk/body-sdk-setup

[2019-07-17 16:34] cdedmonds commented on #514
Thank you for the feedback. Please note that the Body Tracking SDK is currently a preview release and we are actively working on many aspects of quality. The installation process and dependencies are a pain point that we are aware of and are working to fix.

As of the preview release the minimum recommended card is a GTX107:
https://docs.microsoft.com/en-us/azure/kinect-dk/system-requirements

Ple

[2019-07-17 17:12] rabbitdaxi commented on #490
@MrudulaSatya , please let us know whether the information we provided in this thread helped you solve your issue. Also, related to your ask for the example code, the k4aviewer source code which displays the clean IR is a good example you can take a look (it is under tools/k4aviewer).

[2019-07-17 17:18] rabbitdaxi commented on #483
@diablodale we just get back the confirmation from the color camera hardware team, they confirm the color space conversion standard is BT.601 for this color camera. Therefore, the current k4aviewer is doing the right thing, and we will add this information to the documentation location https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification.

[2019-07-17 17:53] diablodale commented on #483
That is surprising and a step backward as HD cameras and modern video pipelines use bt.709 or newer.
Please note...the Kinect v2 sensor...was full-range YCbCr **BT.709**.

Technically, it is possible the hardware team designed the hardware and firmware to be BT.601. But it is very very odd. And outdated.

Please do update the documentation as you write and **also** put if it is full-range or studi

[2019-07-17 18:50] rfilkov commented on #514
@Brekel I upvoted your first suggestion some days ago and now - the 2nd one as well. Anyway, I don't think a single hyperparameter tuning would solve the lag-issue. DNNs are notoriously slow, even on high end graphics processors.

[2019-07-17 19:01] Brekel commented on #514
Thanks for the upvote.
Maybe you're right but I think this is not lag/slowness but filtering I'm seeing on my GTX1080ti, could be wrong.

In any case the DNN is still amazingly robust so not a critique just trying to help the team in making it more awesome and useful for more scenarios. The more controls we have the easier that will be.

[2019-07-17 19:16] rfilkov commented on #514
@cdedmonds Thank you for the swift response! I know the system requirements and that BT SDK is still in preview. But I think it would be better (for both - you and us) to give such a feedback now, while in preview than when the official release is out.

I suppose the Azure Kinect-team is much different than the team developed the Kinect-v2 sensor and SDK, but anyway, you should have access to all

[2019-07-17 21:01] cdedmonds commented on #514
We appreciate the feedback. Keep it coming.

[2019-07-17 21:24] Brekel commented on #514
@cdedmonds I would say the key part is exposing as much control as possible to make things adaptable to a wide range of scenarios.

For example:
- for people identification/tracking/counting it may be enough to get the 2D output of the DNN and no 3D model fitting
- for interaction we do want a skeleton emphasizing smoothness and plausible poses (like we have now)
- for pose estimation (especially

[2019-07-17 21:48] rabbitdaxi commented on #477
@somacoder thank you very much for the effort, we really appreciated your follow through here. It is definitely make sense this is some graphic driver bug, and it is also glad to know the newer version that you updated manually did fix the issue. This is very helpful for others if they are hitting same issue.

[2019-07-17 22:03] billpottle commented on #514
I definitely agree that if you can expose more control parameters, more possible use cases open up in a non-linear fashion, because then developers can work around the limitations by adapting their workflow, or by combining outputs from processing a stream more than once. I think this is particularly true for a device like the Kinect which feels like a revolutionary "general purpose" technology, w

[2019-07-17 22:11] Brekel commented on #514
Absolutely!
Although cloud is not always an option since body tracking deals with people and possible privacy issues that may require local compute. :)

[2019-07-17 23:10] #488 closed

[2019-07-17 23:48] rabbitdaxi commented on #483
Based on what we heard from the hardware and firmware team, it should be: BT.601 full-range. We will update the documentation. Thank you for the feedback

[2019-07-18 06:50] venscn commented on #484
DepthMode.WFOV_2x2Binned
depthImage = new Image(ImageFormat.Depth16, 512, 512, 640);

DepthMode.WFOV_2x2 UnBinned
depthImage = new Image(ImageFormat.Depth16, 1024, 1024, 640);

[2019-07-18 06:52] venscn commented on #484
DepthMode.WFOV_2x2Binned
depthImage = new Image(ImageFormat.Depth16, 512, 512, 512 * 2);

DepthMode.WFOV_2x2 UnBinned
depthImage = new Image(ImageFormat.Depth16, 1024, 1024, 1024 * 2);

[2019-07-18 06:54] venscn commented on #484
stride_bytes is error

[2019-07-18 07:00] venscn commented on #484
u can control the config and use the this.device.GetCalibration().depth_camera_calibration.resolution_width and resolution_height to see the depth image width and height

[2019-07-18 07:14] venscn commented on #492
https://developer.nvidia.com/rdp/cudnn-archive

[2019-07-18 12:19] rfilkov commented on #514
@cdedmonds Please also look at what the competition is doing: https://developer.apple.com/videos/play/wwdc2019/607

[2019-07-18 14:58] MrudulaSatya commented on #490
This is C code i am using to get a proper IR image -
[code]

Obtained image:

![image](https://user-images.githubusercontent.com/38172333/61468187-7d803280-a942-11e9-83dd-0d3129ac53f6.png)

Could you please guide me through the image processing that need to be done in order to show a proper IR image?
Thank you!

[2019-07-18 16:50] WheezardX commented on #484
@jmackenzie68 Can you clarify your solution to getting depthengine_1_0.dll to load in Unity?  I have the same issue that cameras won't start and it is because depthengine_1_0.dll is not loaded.  I put it in the plugin folder but it fails to load.  You mention a folder but could you clarify? Thanks!

[2019-07-18 18:29] djambo commented on #484
Putting the depthengine_1_0.dll in the root folder of your unity project should work. For root folder I mean the one containing: Assets, Library ecc.

[2019-07-18 18:40] MrudulaSatya commented on #490
Thank you very much @rabbitdaxi  My problem is solved.

[2019-07-18 18:40] #490 closed

[2019-07-18 18:51] WheezardX commented on #484
@djambo You are a savior!  I've been over here trying to hack shared memory DLL to run the Kinect in a native app to communicate to Unity and that has been a disaster.

[2019-07-18 18:56] wes-b commented on #497
Any update on this?

[2019-07-18 22:41] wes-b commented on #503
This seems to be failing before k4a_device_open is called as there are no logs

[2019-07-18 22:45] rabbitdaxi commented on #483
We have updated the documentation with adding this information https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification

[2019-07-18 22:45] #483 closed

[2019-07-18 22:45] williampMSFT commented on #503
Yeah, this happens because you can't get an OpenGL context from an RDP session, so we fail to init the viewer and exit.

I think the fact that it doesn't work is by design (or at least, is a consequence of limitations in OpenGL+RDP), but the fact that the messaging is bad is something we might be able to improve on.

[2019-07-18 23:34] #362 closed

[2019-07-19 00:02] #468 closed

[2019-07-19 02:25] lllbrucccce commented on #462
Switch to a USB3.0 interface

[2019-07-19 02:40] lllbrucccce commented on #459
I had a similar problem,
![9c1da5abd1313a3d569c4c09ec1eb04](https://user-images.githubusercontent.com/53068181/61505506-a02d4c80-aa11-11e9-926c-cd8a5aceac82.png)

[ warning  ] : capturesync_add_capture(). Dropping depth capture as TS is too large TS:  42100000
[ warning  ] : capturesync_add_capture(). Dropping depth capture as TS is too large TS:  42133333
[ warning  ] : capturesync_add_capture().

[2019-07-19 04:50] wes-b commented on #459
Try this:
1) Open device manager - Windows Button + r -> devmgmt.msc
2) Unplug all Kinects
3) Set View-> Devices by Type
4) Set View -> Show Hidden Devices
5) Under "Cameras" right click on all instances of "Azure Kinect 4k Camera" and select "Uninstall Device"
6) Under "USB Serial Bus devices" right click and select "Uninstall Device" for all "Azure Kinect 4k Camera" and "Azure Kinect Depth Camer

[2019-07-19 04:51] wes-b commented on #462
I am guessing this is not longer an issue, closing because there has been no update.

[2019-07-19 04:51] #462 closed

[2019-07-19 06:29] lllbrucccce commented on #459
I tried. It didn't work.

[2019-07-19 06:43] lllbrucccce commented on #459
I tried. It didn't work.

[2019-07-19 09:54] barakooda opened #517 "high cpu utilization."
cpu : intel 7700HQ
gpu : gtx 1080 mobile

60% + cpu utilization ...
10-30% + gpu utilization...

Maybe its just Azure Kinect Viewer issue.

[2019-07-19 16:33] UnaNancyOwen commented on #370
If possible, Please contain CMake files in the Azure Kinect Body Tracking SDK too.
We want to handle the Azure Kinect Body Tracking SDK with CMake as well.
It can be written by the user. However, It is no good for users to write find module.
If possible, It should be provided by officially.

[2019-07-19 20:53] rabbitdaxi commented on #492
@chankamlam please let us know whether you following the body tracking sdk setup process did fix your issue.

[2019-07-19 22:03] cdedmonds commented on #517
@barakooda there will be higher CPU utilization in the viewer than when using the SDK. Also note that at higher RGB resolutions more CPU is used to convert from the camera's native pixel format to BGRA so use the resolution that best matches your needs.

[2019-07-19 22:25] cdedmonds commented on #517
@barakooda I determined that the issue on my machine was unrelated. Can you provide some more details on SDK version, operating system version, and camera mode?

[2019-07-19 22:26] cdedmonds commented on #492
Closing this issue since this seems to be a case of missing dependencies. @chankamlam please let reactivate if you have more details to share.

[2019-07-19 22:26] #492 closed

[2019-07-19 22:29] cdedmonds commented on #441
This feature request for body tracking has been moved to user voice.

https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/38188435-ground-plane-support

[2019-07-19 22:29] #441 closed

[2019-07-20 06:18] barakooda commented on #517
sdk version : 1.1
screenshots:
https://ufile.io/e2kj2ks5

[2019-07-21 16:26] bibigone opened #518 "wchar_t versions of k4a_playback_open and k4a_record_create functions"
Right now there is no way to call these functions `k4a_record_create` and `k4a_playback_open` with paths which contain non-ASCII symbols (any non-Latin letters). It is really annoying!

As far as I understand, in Linux we can UTF-8 encoding for `const char *path` arguments. But it doesn't work under Windows.

One of the possible solution is to have special "unicode" versions of these functions for

[2019-07-21 16:52] bibigone opened #519 "Application crashes on attempt to create the second instance of k4abt_tracker_t"
If application is trying to create two instances of `k4abt_tracker_t` simultaneously (that is, the second instance is created before closing the first one), application silently crashes.

[2019-07-21 17:10] bibigone opened #520 "Body tracking is almost unusable for WFOV (binned and unbinned) modes"
In WFOV depth modes (`WFOV_2x2BINNED` and `WFOV_UNBINNED`) body tracking is almost unusable. It cannot correctly recognize even static T-pose (see image attached). And the quality of body index map for these modes is so poor that I have no words to describe it (body pixels are highlighted on attached screenshot).
![wfov_2x2binned_body_tracking_T_pose](https://user-images.githubusercontent.com/3883

[2019-07-21 18:08] bibigone commented on #517
Can it be related to MJPEG -> BGRA decoding? I found that this decoding in Sensor SDK is very slow and consumes a lot of CPU.

[2019-07-21 18:19] bibigone opened #521 "Skeleton smoothing is too aggressive for low FPS"
It looks like that Body Tracking SDK applies some kind of smoothing to skeletal tracking results. And this smoothing is too aggressive, especially for frame rates lower than 30 FPS (15 FPS, not mentioning 5 FPS). This results in significant inaccuracy: skeleton is behind real pose in terms of frame-to-frame movement:
![nfov_2x2binned_15fps_smoothing](https://user-images.githubusercontent.com/38836

[2019-07-21 18:29] Brekel commented on #521
I noticed the same thing and fully agree, it seems it's even over smoothing at 30 fps. (I didn't try 15/5 fps actually)
Here's a (quite popular) feedback ticket I filed a little while ago that you can up-vote: https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/38027029-user-adjustable-skeleton-smoothing

[2019-07-21 18:33] Brekel commented on #519
Ran into the same issue.
I believe I read somewhere that the body tracker doesn't support multiple instances, would be nice if it can support that in the future (for multi sensor scenarios) and at least for now gracefully fail with a return value and log item.

[2019-07-22 03:04] Gnimuc commented on #517
This is very likely due to IMGUI on which the Azure Kinect Viewer is based. Merely running [the IMGUI demo code](https://github.com/ocornut/imgui#demo-binaries) will cost ~20% GPU utilization, even if no UI widget is being drawed on the screen.  But I don't think this is a big deal though, unused resources are wasted resources :).

[2019-07-22 16:32] schultetwin1 opened #522 "Improve instructions for obtaining Linux Depth Engine"
**Describe the bug**
The current instructions in docs/depthengine.md is not clear as to how to obtain the depth engine.

**Additional context**
This feedback was received from internal users in Microsoft. The current one line instruction is `The depth engine binary is part of the libk4a<major>.<minor> package.` which is confusing.

[2019-07-22 17:11] #522 closed

[2019-07-22 17:12] tesych commented on #521
duplicate of #514

[2019-07-22 17:12] #521 closed

[2019-07-22 17:19] wes-b commented on #517
Thanks, this usage is by design. We do expect an added CPU and GPU load with using the K4aViewer tool.

[2019-07-22 17:19] #517 closed

[2019-07-22 17:23] Brent-A commented on #518
This sounds like a good enhancement idea. It's too bad that Linux and Windows aren't as easily aligned here.

[2019-07-22 17:24] wes-b commented on #519
We do only support 1 instance at a time. We need to update documentation and attempt to generate an error.

[2019-07-22 18:15] yijiew commented on #520
Thanks for your feedback. Could you provide more details about the issue. The supported distance for WFOV mode is much shorter than the LTN mode. May I ask how far away you stand in front of the camera? Also, the body tracking algorithm might work worse when there is a wall closely behind you. May I ask whether it is the case for your situation?

[2019-07-22 18:17] wes-b commented on #459
@lllbrucccce I didn't notice this before, but ```[ warning ] : CFrameContext(). No metadata attached to the sample``` is unique to your log and makes your issue different. Please lets start a new issue for this. Does the camera work fine with the camera app? I am wondering if you have some other camera software installed that may be filtering the camera images.

[2019-07-22 18:18] wes-b commented on #459
I am closing this issue as it seems like the original issue has been resolved. We can reopen if new information is available.

[2019-07-22 18:25] yijiew commented on #520
Also, could you try to do a screenshot with the "Azure Kinect Body Tracking Viewer"?

[2019-07-22 19:06] thedevguy commented on #459
This issue has not been resolved. Please keep open.

On Mon, Jul 22, 2019 at 11:18 AM wes-b <notifications@github.com> wrote:

--

Ali Daniali
Follow me on Twitter: http://twitter.com/thedevguy
LinkedIn: http://www.linkedin.com/in/alidaniali

[2019-07-22 19:26] #491 closed

[2019-07-22 19:31] wes-b commented on #459
Sure, what is your current status after trying:
[code]

[2019-07-22 19:46] bibigone commented on #520
Distance between sensor and face: 1.7 m

Distance to wall: 2.5 m

Also, I would say that in NFOV modes body tracking works much better exactly in the same conditions: the same room, the same sensor position, the same person on the same distance, similar movements.

[2019-07-22 19:46] dgovil opened #524 "Body Tracking Visualizer does not launch"
**Describe the bug**
When I launch the **Azure Kinect Body Tracking Viewer**, I get the cmd window with the list of the controls, that says that it's initializing Cuda and the Onyx frameworks.

This then disappears and nothing shows up after the fact.

However the Azure Kinect Viewer does work, so I can verify that the camera itself is working correctly with my system.

**To Reproduce**

1. Launch

[2019-07-22 19:56] dgovil commented on #524
Ah actually, I now managed to see that the cudadnn install was tripping up some other apps too. I removed and reinstalled both Cuda and CudaDNN and it's working great now.

[2019-07-22 19:56] #524 closed

[2019-07-22 20:05] yijiew commented on #520
Thanks for the quick response! The NFOV mode works better because the field of view is narrower. So both the pixel density and the signal strength for each pixel are stronger.

But given your condition, the WFOV should have worked correctly. I tried on our side but I couldn't repro the problem you reported. Do you mind using the k4arecorder tool to record an mkv clip and share with us? We would li

[2019-07-22 20:13] wes-b commented on #501
@somacoder any update on this? Any chance you got it working?

[2019-07-22 20:13] #501 closed

[2019-07-22 20:13] #497 closed

[2019-07-23 02:23] venscn commented on #520
Is not a BUG. The space is error. U can call k4a_calibration_3d_to_2d to calibrate and pan an offset(cx,cy) to make it correct.

[2019-07-23 02:29] venscn commented on #519
Yes, there is still a problem. Shutdown and release can't release memory correctly.

[2019-07-23 06:40] bibigone commented on #520
Sure. Please, email me directly (bibigone (at) gmail.com) and I'll send links to MKV files as reply (I don't want to publish them here for everyone).

[2019-07-23 06:44] bibigone commented on #520
`k4a_calibration_3d_to_2d` was definitely used to project 3D coordinates of joints to depth map.

Also, as you can see, arms are not highlighted at all, which means that pixels of arms are not marked as "body pixels" on body index map. And visualization of body index map doesn't involve 3D <-> 2D conversions at all.

[2019-07-23 07:28] venscn commented on #520
@bibigone
The joints in the 3d space, but the body index map is texture of 2d.
U can see...
![微信截图_20190723152418](https://user-images.githubusercontent.com/11350982/61691568-684e3e00-ad5e-11e9-8c1a-a156cdb6e5cc.png)
I use the 3d_to_2d and pan an offset, and it's correct.

[2019-07-23 07:30] venscn commented on #520
@bibigone
And depth mode is WFOV_2x2BINNED

[2019-07-23 07:48] bibigone commented on #520
@venscn
Please, send me email and I'll provide you with an example (MKV file). Because right now it sounds like "It works on my machine".

Also, the full source code I have used for screenshot can be found here:
https://github.com/bibigone/k4a.net
(see `K4AdotNet.Samples.Wpf.BodyTracker` project in solution).

Fragment from `TrackerModel.cs`:
[code]

[2019-07-23 08:36] venscn commented on #520
@bibigone 329093766@qq.com

[2019-07-23 08:39] venscn commented on #520
@bibigone
See..
![微信图片_20190723163900](https://user-images.githubusercontent.com/11350982/61696706-67220e80-ad68-11e9-84d1-778eb4b19ea6.png)

[2019-07-23 08:47] Ayangdanny opened #526 "Is there API supporting to calculate color image uv's corresponding uv in depthimage"
k4a_calibration_2d_to_2d can do this thing ,but it need source_depth_mm as an input, but I dont know the depth value in colorimage.
I need use k4a_calibration_2d_to_3d calculte depth in colorimage and use k4a_calibration_2d_to_2d  to find its corrsponding uv in depthimage?

[2019-07-23 08:48] venscn commented on #520
Maybe your arm is reflective, so....

[2019-07-23 08:52] bibigone commented on #520
@venscn

Sent.

You're subtracting optical center (cx, cy) because you're using such coordinate system (with zero in the center of an depth map), while I'm using coordinate system where zero is the top-left corner of depth map. If I apply such subtraction in may case, it just shifts the whole skeleton out of the borders of depth map. That's all.

I'll send you ready-to-use application in ZIP-archi

[2019-07-23 08:59] venscn commented on #520
@bibigone
Laugh.
I understand that something went wrong.
So the body index map need to wait for them to fix.

[2019-07-23 08:59] bibigone commented on #520
@venscn

No. Arms are good visible on depth map. See original screenshot and MKV example I've just sent to you by email.

[2019-07-23 08:59] Ayangdanny commented on #526
Is there API like realsense which use a search strategy to calculate the color's corresponding uv in depthimage.
https://github.com/Ayangdanny/librealsense/blob/master/include/librealsense2/rsutil.h

[2019-07-23 09:06] venscn commented on #526
@Ayangdanny
Transformation_depth_to_color_camera

[2019-07-23 09:08] venscn commented on #520
@bibigone
Ok, but i'm in china.
I don't have any vpn to visit the dropbox.
The vpn is expensive by me.

[2019-07-23 09:34] Ayangdanny commented on #526
@venscn You did not understand what I mean. This API trans depthimage to color, not from color to depth and also the output is a transformed image, I still can not get the one by one uv corresponfdence between color and depth image .

[2019-07-23 09:39] venscn commented on #526
@Ayangdanny
U can see issues #260 or #98.
I don't know if it is the same as your question.

[2019-07-23 11:10] darahan opened #527 "Getter methods for capture and device handle"
I am using the C++ wrapper of the k4a SDK, but discovered there was no recording functionality in this wrapper. In order to make the C functions ``k4a_record_create" and "k4a_record_write_capture" to work, I needed the device and capture handles. However, these handles are private within the C++ wrapper. Therefore I added getter methods to their respective classes. I would suggest these getter met

[2019-07-23 11:16] Ayangdanny commented on #526
@venscn  they are not.

[2019-07-23 11:30] YuXinFan opened #528 "External sync has fixed 10,000us timestamp delay when single PC has dual-device"
**Describe the bug**
I installed two Kinect DK on a single PC and configure the external sync with 3.5mm audio cable. I set the configuration of cameras with correct MASTER and SUB. However, they have a fixed 10,000us delay. Only in few times, they work well. And when I give it a 1s thread sleep after starting cameras, these two devices became aligned.

**Desktop (please complete the following inf

[2019-07-23 12:04] rfilkov commented on #526
@Ayangdanny Isn't it similar to this issue: [#502] ?

[2019-07-23 12:19] Ayangdanny commented on #526
yes，but #502 map the whole frame，it does not care the single pixel.  For example,  one pixel uv(300, 200) in color image. I want get the uv of the correspondence pixel in depthimage.
you can see the function(rs2_project_color_pixel_to_depth_pixel) of realsense , it is what I want.
https://github.com/Ayangdanny/librealsense/blob/master/include/librealsense2/rsutil.h

[2019-07-23 13:31] venscn commented on #526
U don't need depth info to mapping the color image?

[2019-07-23 14:16] venscn commented on #526
@Ayangdanny
Hoho, u want to point to point.

[2019-07-23 14:34] venscn commented on #526
@Ayangdanny
U can make depth equal 1, and .... lookagain  tomorrow, sleeping now.

[2019-07-23 16:21] wes-b commented on #448
This fix will come from a new firmware version.

[2019-07-23 16:30] wes-b opened #529 "Subordinate timing is off by ~100us"
**Describe the bug**
In multi-sync configurations, a subordinate device can have a timing offset of about 100us.

**To Reproduce**
1. Connect 3 Azure Kinects in a ring pattern so that any device can be master, they should be all on 1 PC.
2. Run Script.
3. Open master.txt, sub1.txt, sub2.txt.
4. Observe timing differences.

**Expected behavior**
They should be with in ~33us of each other.

**Script

[2019-07-23 16:30] wes-b commented on #529
This is a firmware issue

[2019-07-23 16:44] wes-b opened #530 "Multiple Device Sync Issues"
Multiple Device Synchronization has a couple issues that prevent it from working reliably.

**Check out [Multi-camera sync documentation](https://docs.microsoft.com/en-us/azure/Kinect-dk/multi-camera-sync)**

**Issues that the user must be aware of and work around**
- [x] #471 Color to Depth Timing may have an offset if setting manual exposure repeatedly.
- [x] #436 Document how to avoid depth cam

[2019-07-23 17:06] wes-b commented on #528
Thanks for the question, I think you might be hitting #471. Additionally there are a couple other issues impacting multi device synchronization, which are captured with #530. Let me know if you are still seeing an issue that you don't think falls into one of those buckets and we will reopen this.

[2019-07-23 17:06] #528 closed

[2019-07-23 17:09] wes-b commented on #527
We are open to this, feel free to submit a PR.

This is also partially related to #416.

[2019-07-23 17:27] rabbitdaxi commented on #526
@Ayangdanny , please take a look #498 and the updated documentation (https://docs.microsoft.com/en-us/azure/Kinect-dk/use-calibration-functions#converting-between-2d-coordinate-systems), this line particularly: "The function requires the pixel’s depth value (in millimeters) in the source camera image as an input, one way to derive the depth value in the color camera geometry is to use the function

[2019-07-23 17:31] yijiew commented on #519
@venscn Thanks for spotting the bug. I have a fix for the issue that shutdown/release can't fully release memory. You should see the fix in the next release. As for the issue @bibigone points out, it is by design. We don't allow user to create two instance of k4abt_tracker_t simultaneously. We are working on a fix that we will fail gracefully and log the error.

BTW, @bibigone and @Brekel , why do

[2019-07-23 17:42] bibigone commented on #519
For multi-sensor configuration, for example. Skeletal data in conjunction with point clouds can be used to determine mutual sensors position.

[2019-07-23 17:44] Brekel commented on #519
@yijiew
Indeed, I'm also running multiple sensors on one machine (with a beefy GPU), each running in their own thread from a single application. So my thought was to run one tracker per sensor to keep things separate.

[2019-07-23 22:00] cdedmonds commented on #520
Not related to the main viewer but I tried out the viewer app by @bibigone and it is very nice. Thank you for sharing!

[2019-07-23 22:16] mbleyer commented on #526
@Ayangdanny, you are right that we do not support the exact function that you are looking for. In general, we suggest using k4a_transformation_depth_image_to_color_camera() to obtain the depth value in the color camera system.

However, if you want to avoid transforming the whole depth image, the following search strategy might work. You can iterate over all discrete depth values d. For every dept

[2019-07-23 22:39] yijiew commented on #520
@bibigone Thanks again for sharing us the recording files. We can repro this issue locally now. We will further investigate the problem and try to improve the quality in our future release.

[2019-07-23 22:46] imanjj opened #531 "Unity support"
**Is your feature request related to a problem? Please describe.**
I need to develop in Unity but do not have programming skills to plug Kinect into Unity.

**Describe the solution you'd like**
A starter project that I can use the camera inside the environment.

**Additional context**
We are trying to remote control a robot. Unity environment is giving us a lot of help with developing mixed-realit

[2019-07-24 01:48] Ayangdanny commented on #526
@rabbitdaxi @mbleyer  Thanks, I know the search strategy,  I suggest you add this function later. This feature is often used and can avoid  performance waste when just need a few pixels.

[2019-07-24 02:11] diablodale commented on #519
Since Kinect v1, I've created Kinect software for artists, researchers, and educators. These groups often provide the flashy and exciting demos, videos, and "buzz" articles that generate excitement and press. I have *repeatedly* been asked by my customers over all those years how they can use two sensors on a single PC to track humans in their solutions.

* v1 new concept to everyone and USB2 days

[2019-07-24 02:29] wqs111000 opened #532 "how to use the simple viewer example"
How to use this [ simple viewer example](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/viewer)? Could anyone add some detailed guidance?
I built this example by cmake (Win 10, VS2017, x64) and opened the  Project.sln. How to set its properties? The additional dependencies are weird.
**Screenshots**
![clipboard](https://user-images.githubusercontent.com/16065087/6175944

[2019-07-24 06:43] barakooda opened #533 "Post process options for "occlusion noise" and others."
either from one or multi camera data,
if you guys can offer state of  the art
realtime TOF "occlusion noise" post process manipulations options.
it will be great.
(currently i only delete points by distance or triangle size or edge detection )

https://www.youtube.com/watch?v=0FBY_wlY9pQ

keep up the great work

[2019-07-24 06:51] barakooda opened #534 "TSDF \ other realtime mesh solution (multi camera)."
Yeah - "new" buzz term - "volumetric content"
I will happy to see it as fundamental brick in the evolving kinect sdk.
https://computergraphics.stackexchange.com/questions/8068/generate-mesh-from-pointcloud-data

Keep up the great work.

[2019-07-24 07:34] Ayangdanny opened #535 "The depth data of eyeball mouth and nose on a human face is of poor precision"
I use the pointcloud data generated a human face mesh.  but the eye mouth and nose  have poor  precision as you can see from the attached files. There are two holes in the eyes. the lip edge is too sharp which is different from the true data.  The third picture is more accurate which is captured by other RGBD device. Actually we found Kinect One also have the same problem before.

camera configura

[2019-07-24 12:35] nicolascarre opened #536 "How to use the microphone"
Hello,

Is there a way to get the sound received from the microphone ?
Actually I just need to know what is the volume in decibel.
From some others device, I was retrieving a sample array, then compute the volume in db.
I see nothing about the microphone in the sdk.

Thanks for your help

[2019-07-24 12:58] tobysharp commented on #520
@bibigone
Thanks for reporting this issue. Btw, does it work any better if you move  forward, away from the rear wall?

[2019-07-24 15:39] cdedmonds commented on #536
The microphone is a available through platform standard recording APIs on Linux and Windows. If you are looking for integration with Azure Speech Services look here:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

[2019-07-24 15:42] cdedmonds commented on #535
Thanks for the report. Do the lip edge and nose edge look different if the camera is placed lower relative to the face?

[2019-07-24 15:44] cdedmonds commented on #534
@barakooda please take a look at the sample here and let me know if it is what you are looking for:
https://github.com/microsoft/Azure-Kinect-Samples/tree/master/opencv-kinfu-samples

[2019-07-24 15:45] cdedmonds commented on #533
@barakooda this may be an area that we could publish samples. Different applications will likely have slightly different filtering needs.

[2019-07-24 15:47] cdedmonds commented on #532
@wqs111000 Did you use Visual Studio to open the CMake project or try to create a new solution?

[2019-07-24 15:49] cdedmonds commented on #531
Thanks for this feature request @imanjj. We are tracking interest in Unity on our user voice site here:

https://feedback.azure.com/forums/920053-azure-kinect-dk/suggestions/38079964-azure-kinect-dk-unity-sdk

Please up vote so we can prioritize interest.

[2019-07-24 15:49] #531 closed

[2019-07-24 15:52] nicolascarre commented on #536
I have already researched about Speech, I don't find anything about a sample array.

[2019-07-24 18:31] xthexder commented on #536
The Sensor SDK does not currently support accessing the microphones through the API. The system-level audio APIs should be used instead.
The Kinect Viewer app uses libsoundio, which is a cross-platform audio library. You could also use a platform-specific api like WASAPI on Windows, or PulseAudio on linux.

Here is some relevant code from the viewer that correlates microphones to a specific kinect