[2020-12-02 01:57] UnaNancyOwen commented on #1424
Hi @Mustardsauce, Thank you for sharing! Good job! 👍
I think it would be nice to add code to measure the respective processing time of CPU and GPU to make it easier to compare.
It is so important to reproduce on other emvironments. I expect that.

[2020-12-02 02:29] Mustardsauce commented on #1424
Thank you for your comment!

I agree with your opinions.
I'll add the code (to measure the respective processing time of CPU and GPU) soon. But It'll take so long time to reproduce on other environments.
I'll try to make this code work robust to the environment.

[2020-12-02 09:27] dnlwbr commented on #948
Any news regarding this?

[2020-12-02 11:07] gdosu commented on #427
May I take some advice on this part? I just copied git and trying to change value so any little tips would be appreciate.

[2020-12-02 11:17] gdosu opened #1429 "Is it possible to body tracking from k4aviewer's result?"
Hello. I'm totally new on here, so my expression can be ambiguous.

I have Ubuntu 18.04 on ARM64 and I run Azure Kinect Viewer(k4aviewer) successfully just a moment ago.

And unfortunately Azure Kinect Body Tracking Viewer seems not support ARM64 yet.

Then is it possible to send k4aviewer's result to other PC and process body tracking from there?

Actually I was trying usb extender originally, bu

[2020-12-02 11:56] RoseFlunder commented on #1429
It is possible but not with the k4aviewer.
If you dont need realtime results, you could make a recording with the k4arecorder command line tool which creates a mkv file.
This file can be processed on another pc for body tracking results, altough the simple viewer will not work, you have to compile sth else for it like the offline processor sample which exports the body tracking information per fra

[2020-12-02 12:31] jesusatgar commented on #992
Any updates on this? I'm really interested in multiple camera body tracking

[2020-12-02 14:52] jesusatgar commented on #1052
Any docs on this?

[2020-12-02 21:45] sjdrc commented on #1283
@qm13

[2020-12-02 22:05] SimoSR opened #1430 "AKDK power supply jack (polarity and extension)"
I would like to connect the sensor through 2 separate cables (data and power) with a lenght up to 5 meters.

For the data cable USB 3.0 type A I'm going to adopt an active extension cable, but what about the power supply cable:

1. Can anyone provide the polarity of the power supply jack (barrel and central pin)?
2. Which the requirements of the USB 2.0 type A extension cable (up to 5 meters) to p

[2020-12-03 13:22] ifanroberts99 opened #1431 "Get Coordinates of Joints in Unity using C#"
I am currently trying to track the joints of the user and then output the position while updating from frame to frame. I am using the Microsoft.Azure.Kinect.Sensor and the Microsoft.Azure.Kinect.BodyTracking SDK and I have followed this link to set up my scene:

https://github.com/microsoft/Azure-Kinect-Samples/tree/2a1e75a0ea7a108415b39f9df66cfe09f856029d/body-tracking-samples/sample_unity_bodytr

[2020-12-03 19:58] Azzedine-Touazi commented on #503
Thanks!

[2020-12-04 01:38] qm13 commented on #1430
The power jack connector is the same as this: https://www.alibaba.com/product-detail/4506-DC-plug-4-5mm-0_60742810909.html?spm=a2700.7724857.normalList.20.61e761fcUIgZxg

The connector is wired as follows:
![AKDK barrel connections](https://user-images.githubusercontent.com/47307385/101110668-54d7f780-358e-11eb-962e-28daa360716e.jpg)

[2020-12-04 02:57] anantley commented on #1431
Hi @ifanroberts99,

The first thing you can try is loading the two sample scenes, PuppetMaster, and Kinect4AzureSampleScene in each of these scenes there is a game object "main" that has a main.cs script and the Kinect4AzureTracker prefab has a TrackerHandler.cs script that handle the body updates.  The puppet scene shows how to apply the joint rotations to a character.

Let me know that doesn't s

[2020-12-04 03:59] UnaNancyOwen commented on #1430
I can't find a ready-made cable.
We need to buy connectors and cables, and work them ourselves myself.
Does anyone know of a good ready-made cable? Thanks,

[2020-12-04 06:12] jsaisagar opened #1432 "Master Slave Kinect triggering not functioning"
Dear team,

I have two kinects which I am connecting in master/slave architecture. It was working for sometime and then suddenly the synching is not happening.
Slave is not able to receive master signal at all.

I am getting the following error:
 validate_configuration(). Failure to detect presence of sync out cable with wired sync mode K4A_WIRED_SYNC_MODE_MASTER.

May I know how to resolve this i

[2020-12-04 10:27] ifanroberts99 commented on #1431
Hi @anantley,

This seems to be calling the position of a joint (pelvis). Is that correct?

![image](https://user-images.githubusercontent.com/70637623/101152068-71217600-361a-11eb-86fd-4ccab7993f10.png)

If this is true where would I possibly put this code to call the position of another joint and be able to output it? Could I possibly use it here:

![image](https://user-images.githubusercontent.

[2020-12-04 12:22] oferoze commented on #1409
We are having the same issue. Have tried the Allegro Pro 4 USB 3.2 Gen 2 Type-C PCIe card with the ASM3412 chip set. Depth by itself works fine, but the RGB camera is not working. We have been using it with these cables https://www.newnex.com/azure-kinect-extension-cable.php.

I have been able to use the cable successfully from my laptop which is a dell xps 15

We are using ubuntu 18.04

[2020-12-04 13:45] nick-cr commented on #1401
@tim-depthkit did you get this card in the end? Did it work?

[2020-12-04 15:32] tim-depthkit commented on #1401
@nick-cr I have not yet, but one of our customers has one is is going to test it. I'll post back here once I hear about the results.

[2020-12-07 05:26] solra96 opened #1433 "Is it okay not to turn off the Kinnect power?"
Kinect flashes white when the PC is turned off when connected normally.
In other words, the Kinect sensor is turned on even if the PC is turned off.
Is it okay not to turn off the Kinect even when I'm not using it?
Is it okay to turn off the power of Kinect once a week?
If not, would it be appropriate to turn off the Kinect power once every few days?

The PC and The Kinect will be shut down after

[2020-12-07 06:40] xiaoguitoucode opened #1434 "Depth image of a specific distance"
hi, I am new to Azure Kinect, and I want to get a depth image of a specific distance (0.5m-1m), how do I do it, or where do I start? Thanks!

[2020-12-07 09:12] Renxiem opened #1435 "Order relevant for Camera Synchronisation or only copying timestamp?"
Quote from https://docs.microsoft.com/en-us/azure/Kinect-dk/multi-camera-sync
"To get precise image capture alignment between all devices, you have to start the master device last."

I did some recording but accidentally reversed the order when starting the devices, does it remove the whole synchronisation of the devices or just the copying of the master's timestamp to the subordinate devices?

[2020-12-07 14:27] MaxPalmer-UH commented on #1401
Looking forward to hearing how this goes Tim

[2020-12-07 14:35] hardyzhuang commented on #1283
It took us time to identify the root cause. Fortunately, we have had a fix in regression test now. It is a USB stack low-level fix, will take some time. Please stay tuned...thanks,

[2020-12-07 15:11] Xiaoxuan1-Yu opened #1436 "Build fails when using ｍake instead of Ninja"
release/1.2.x
Used regular CMake build generator (instead of Ninja).
Ubuntu 16.04.
GCC 6.

Build fails with the following error：
~/Azure-Kinect-Sensor-SDK/build$ make
Scanning dependencies of target validateclangformat
[  0%] Validating format of /home/xxx/Azure-Kinect-Sensor-SDK/src/allocator/allocator.c
Traceback (most recent call last):
  File "/home/xxx/Azure-Kinect-Sensor-SDK/cmake/ValidateFo

[2020-12-07 20:04] mellinger commented on #1430
This is what I use as replacement power cables. https://www.amazon.com/gp/product/B08GLDC587/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1

Works with 18v or 20v charger.

[2020-12-07 21:47] qm13 commented on #1435
I am not sure I understand your comment "copying of the master's timestamp to the subordinate devices". The sync cable is analog and transmits a sync pulse to the subordinate cameras. For best results you need to have the subordinate devices stable prior to starting the master camera.

[2020-12-07 21:53] qm13 commented on #1434
The pixel depth value is the distance of that pixel in mm from camera.

https://docs.microsoft.com/en-us/azure/kinect-dk/coordinate-systems#3d-coordinate-systems

[2020-12-07 21:55] qm13 commented on #1433
The Azure Kinect will remain powered if either the USB-C port continues to provide power (5.9 Watts) or if the device is powered by the supplied power brick. You can leave it powered on. It will be in an idle states (not capturing images).

[2020-12-07 22:01] qm13 commented on #1432
Some thoughts on debugging the situation:
1. Can you swap out the master camera?
2. Can you swap out the sync cable
3. Can you scope the sync cable to see if the pulse is being transmitted.

[2020-12-08 00:50] xiaoguitoucode commented on #1434
The format of the depth value is K4A_IMAGE_FORMAT_DEPTH16 ,Does it mean the longest distance is 65.536m?
Is there any code for reference？

[2020-12-08 09:19] HlibKazakov2000 commented on #1436
[Currently, the only supported distribution is Ubuntu 18.04](https://docs.microsoft.com/en-us/azure/kinect-dk/sensor-sdk-download#:~:text=Currently%2C%20the%20only%20supported%20distribution%20is%20Ubuntu%2018.04)
Update GCC to version 8.4
And check Python for updates

[2020-12-08 09:22] #1436 closed, assigned to HlibKazakov2000

[2020-12-08 12:38] Renxiem commented on #1435
Thanks for your answer. Sorry, I am not very familiar with the synchronisation of devices.
With "copying" i mean when retrieving the device timestamp for e.g. the color image of a subordinate device (when starting it before the master) is similar to the masters device timestamp + set offset while otherwise the device timestamp is completely different for each camera device.

So can I expect the re

[2020-12-09 16:37] nictera-ms opened #1437 "PCIe USB connection failure"
Hello,
I am trying to connect to an Azure Kinect DK. All of the USBs on my motherboard are ASMedia, so I installed a Renesas USB3.0 PCIe card (Rosewill RC-508) to try to make this work. I see the device under the correct controller (Renesas USB 3.0 eXtensible Host Controller - 1.0 (Microsoft). This controller is under a PCI-to-PCI Bridge. I see the Kinect Camera, etc where I'm supposed to in the D

[2020-12-09 21:35] VitaliyKurokhtin opened #1438 "uuid_to_string formats GUID incorrectly"
**Describe the bug**
Given guid_t union uuid_to_string  function formats bytes in following order:

03020100-0504-0706-**0908**-0a0b0c0d0e0f

Where as correct order is

03020100-0504-0706-**0809**-0a0b0c0d0e0f

**To Reproduce**
Whenever GUID is formatted

**Expected behavior**
GUID formatted correctly

[2020-12-09 21:50] VitaliyKurokhtin opened #1439 "SDK fails to connect to Kinect sensor if same device was earlier plugged into another USB controller"
**Describe the bug**
SDK fails to detect device if it was previously connected to a different controller on same computer

**To Reproduce**
1. On a clean system plug in device into motherboard (ASMedia USB host controller was used)
2. Unplug the device
3. Install supported USB controller card (Speed Dragon EU306A was used)
4. Connect the device to installed controller
5. Run Kinect Viewer

**Expec

[2020-12-09 21:50] VitaliyKurokhtin commented on #1417
Two things to note:
- The difference in container id in logs is due to: #1438
- Same error I had I was able to resolve by removing hidden Azure Kinect 4K Camera (and all related devices) from Device manager. To do so, open device manager, select View\Show hidden devices and look for anything Kinect related that has translucent icon. #1439

[2020-12-09 21:51] VitaliyKurokhtin commented on #1437
I had a similar problem earlier today, see if this helps you #1439

[2020-12-09 21:56] #1422 closed, assigned to qm13

[2020-12-09 21:57] henryo12 commented on #1417
Thanks @VitaliyKurokhtin , that looks exactly right.

[2020-12-09 22:10] qm13 commented on #1421
This is not possible. Changing the exposure time means changing the integration time and impacts the depth camera calibration.

[2020-12-09 22:10] #1421 closed, assigned to qm13

[2020-12-09 23:57] qm13 commented on #1435
Assuming the two Azure Kinects are connected to the same camera then the timestamps for the synchronized frames should not be more than 100us different (they will unlikely be exactly the same).

Technically all subordinates sync to the input pulse in the sync cable. The master is basically free running, which is why it must be started last. All devices reset the timestamp counters at zero and star

[2020-12-10 09:54] adri1177 commented on #992
Hello, I am also interested in multiple camera body tracking and I would like to know if I need to go to 1 host: 1 camera or I can use a computer similar to this https://www.zotac.com/es/product/mini_pcs/magnus-en52060v to go 1 host: 2/4 cameras.
can someone tell us if they manage to control 4 or more cameras at a good fps with a single host?
@jesusatgar @g212 @devLupin @qm13

[2020-12-11 10:27] Zailux opened #1440 "USB-xHCI Driver from Microsoft doesn't work for Azure Kinect"
**Describe the bug**
I am aware that there are only specific host controller driver working for the Azure Kinect (https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#usb3-host-controller-compatibility). My desktop ootb uses the ASMedia 3.0 extensible hostcontroller which is already reported not working for the Azure Kinect. Therefore I changed to the Microsoft USB-xHCI-compatible host

[2020-12-11 20:17] animuku opened #1441 "Pause feature for the Kinect Sensor"
**Is your feature request related to a problem? Please describe.**

I am recording videos using the k4arecorder command on Windows, for 15 mins. Is there any way I can pause/stop the recording before the 15 minutes is up, and not lose the video data already recorded? Right now, to stop the recording, I simply kill the process. Is there a better way to do this?

**Describe the solution you'd like**

[2020-12-12 00:38] jackjansen opened #1442 "Kinect + Jetson Nano + PoE, any chance of getting it to work?"
I'm contemplating investigation of a single-cable solution (for ease of deployment of a multi-camera capture setup).

I was thinking of attaching a Kinect to a Jetson Nano, and adding a power over ethernet shield. I could then have a couple of these around the room (facing inward, towards the subject being captured), with no problems with cable length and such.

The Jetson Nanos would do the captu

[2020-12-12 11:37] brontesprocessing commented on #575
I have exactly the same problem - sometimes when I wear glasses the problem occurs very often (every several seconds). But it's not easy to note reproduction steps. I don't see any correlation with the sensor's position, angle, lighting conditions, etc.

[2020-12-12 15:17] nmeri12 commented on #1183
Hi @anantley,

sorry for the delay answer but I tried all possible ways and I have the avatar but it's nor working correctly. I still have a problem with the head and hands by playing the scene. They do not move correctly. I tried to use different avatars but I think the problem is in the Tracker (Kinect4AzureTracker) or in the Avatar script.

I will be glad if u could help me and give me some adv

[2020-12-13 23:33] L4Z3RC47 commented on #1125
@qm13 is there a new target date for the next release?

[2020-12-14 15:35] nictera-ms commented on #1437
Thank you, @VitaliyKurokhtin. Unfortunately, this did not help.

[2020-12-14 18:18] qm13 commented on #1442
This should be doable. Verify that you can power the Azure Kinect via TWO USB ports on the Jetson Nano. If that works then no additional power electronics is required. Calculate the max power draw and purchase a PoE splitter for the PoE power category required. You will need an PoE injector or switch/router at the other end.

[2020-12-14 18:20] qm13 commented on #1440
The Intel USB Controller driver is included with Windows. You are using an Intel motherboard. Are none of your USB ports backed by an Intel USB controller (integrated with the CPU)?

[2020-12-14 20:25] Zailux commented on #1440
The Intel USB driver are unfortunately only for the USB 2.0 ports. The USB 3.0 drivers are from ASMedia or the other one mentioned above. I have two USB 3.0 Ports which don't have the appropriate 3.0 driver. Can you give me hint where I should find the driver in the device manager menu, or rather the install driver menu ? Better would be a link where I could download the necessary driver, but I gu

[2020-12-15 06:35] UnaNancyOwen commented on #1275
This is test implementation to check the usefulness of this proposal.
It is able to be used without any changes to SDK.
https://gist.github.com/UnaNancyOwen/f442f615e0a4abde4eb433a87b565ce0

I think there are many requests to open a specific device.
However, the index is changed when the USB is reconnected, so it is not suitable to open a specific device.
I think it should be possible to open a de

[2020-12-15 07:37] seigeweapon opened #1443 "Depth alignment to color precision problem"
**Describe the bug**

When making point cloud from azure kinect, I find a precision problem. You can see it from the picture blow. Notice the color of face from one side was mapped to the wall, while on the other side, the wall's color mapped to the face.

**To Reproduce**

My approach to make point cloud:
1) using depth_image_to_color_camera
2) depth_image_to_point_cloud

**Expected behavior**

t

[2020-12-15 08:52] seigeweapon commented on #1058
I find this thread after openning a new bug report [#1443 ](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1443).  I think they are the same issue. Wondering what's the update?
Given the difficulty of changing calibration data after a device is out of factory, I think the azure kinect team can consider open sourcing the calibration process.

[2020-12-16 00:32] qm13 commented on #1333
Updated documentation

[2020-12-16 00:32] #1333 closed, assigned to qm13

[2020-12-16 00:54] qm13 commented on #1325
Added links in troubleshooting section of the documentation.

[2020-12-16 00:54] #1325 closed, assigned to qm13

[2020-12-16 01:05] qm13 commented on #1317
Active and passive images are the same format K4A_IMAGE_FORMAT_IR16. What additional documentation are you expecting?

[2020-12-16 01:28] qm13 commented on #1279
Updated documentation.

[2020-12-16 01:28] #1279 closed, assigned to qm13

[2020-12-16 01:29] #1285 closed, assigned to qm13

[2020-12-16 01:34] qm13 commented on #1270
We worked with our ethics team to ensure the training, validation and testing data sets were ethically balanced. This included varying height, body size, and skin tone. The system covers people for 8 years to 99+ years.

[2020-12-16 01:34] #1270 closed, assigned to qm13

[2020-12-16 01:39] qm13 commented on #1269
Updated Support documentation to include link to EU certification.

[2020-12-16 01:39] #1269 closed, assigned to qm13

[2020-12-16 01:41] #1244 closed, assigned to qm13

[2020-12-16 02:07] qm13 commented on #1349
@nh236 Try something like [this](https://www.amazon.com/FILTERS-SHEET-NEUTRAL-DENSITY-Gel-Sheets/dp/B003DIDKFS/ref=pd_bxgy_img_3/132-5211111-7861445?_encoding=UTF8&pd_rd_i=B003DIDKFS&pd_rd_r=84f35b36-a174-4a93-9354-724b29f78f4a&pd_rd_w=AwOS5&pd_rd_wg=nBySq&pf_rd_p=f325d01c-4658-4593-be83-3e12ca663f0e&pf_rd_r=9PACB7A8G851DPPQMAE9&psc=1&refRID=9PACB7A8G851DPPQMAE9). Contrary to my previous comment y

[2020-12-16 02:36] diablodale commented on #1279
Hi. I don't see the doc change at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/kinect-dk/hardware-specification.md

Has the change not been pushed? My intention is to verify the closure. :-)

[2020-12-16 11:13] VegetableWithChicken opened #1444 "if i change the k4a::transformation and will cause the points rotation and position following change??? unrealengine"
cali = NativeKinectDevice.get_calibration(deviceConfig.depth_mode, deviceConfig.color_resolution);
trans = k4a::transformation(cali);

k4a::image img = sensorCapture.get_color_image();
k4a::image depth = sensorCapture.get_depth_image();
**//this will cause somthing error to match???**
tansformedImage = trans.depth_image_to_color_camera(depth);

I modified the source code to match the model bone po

[2020-12-17 08:10] DirkKramer opened #1446 "Latency Question"
Hello,

As issue #816 states, there is some latency between capturing the image and releasing the capture to the program.

Questions:

- How accurate are the latency measurements in the tables provided by Wes-b.
<img width="318" alt="latency" src="https://user-images.githubusercontent.com/46933603/102460424-3f130980-4047-11eb-949a-46785b563a35.PNG">

for example if we use 1280x720 with BGRA32, the

[2020-12-17 12:43] KevinHwangAi commented on #1304
I also had the same problem on Ubuntu 18.04. How is the problem solved now?

[2020-12-17 16:50] qm13 commented on #1446
These are rough numbers. The number will vary by content.

[2020-12-18 09:29] shanemankiw commented on #919
If we are using Brown Conrady model, J is always 0.
So in this case, we don't need to use the function transformation_iterative_unproject, right?

[2020-12-19 03:02] Greendogo opened #1447 "Crash - On Windows Tools ImGui backend should use Windows Platform specific renderer (win32 API, DirectX, etc) instead of GLFW"
**Describe the bug**

Running the ImGui based tools (k4aviewer.exe for example) on a Windows machine without the appropriate OpenGL version will cause the program to crash with error:

Glfw error [65543]: WGL: OpenGL profile requested but WGL_ARB_create_context_profile is unavailable
Glfw error [0]: glfwCreateWindow failed!

The internet says this is due to using OpenGL 3.1 instead of OpenGL 3.3+.

[2020-12-19 04:19] RoseFlunder commented on #1447
I think the depth engine for processing the raw data from the depth sensor of sdk is using open gl too.
So you may have trouble without a proper open gl version nonetheless.
The docs state open gl Version 4.4

[2020-12-19 06:54] zhaoyuliang5 opened #1448 "Start azure kinect DK at boot"
[2020-12-19 12:57:58.454] [error] [t=9967] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/dewrapper/dewrapper.c (154): depth_engine_start_helper(). Depth engine create and initialize failed with error code: 204.
[2020-12-19 12:57:58.454] [error] [t=9967] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/dewrapper/dewrapper.c (160): deresult == K4A_DEPTH_ENGINE_RESULT_SUCCEEDED returned failure in depth_eng

[2020-12-19 13:22] RoseFlunder commented on #1448
Pls provide more infos about the way how you start it and on which operating system.

But if its on Ubuntu you will need an active X-Server session for the creation of an open gl context.
Typical system.d autostarts won't work because of that.

[2020-12-20 09:23] qbitronics commented on #924
@tesych Would be really helpful if you could guide me through this.
i) I have connected 3 azure kinect  devices and synced them in daisy chain structure through 3.5 mm audio cables.
Question is :
a)How could i make them work together and get 3D point cloud data in three dimensions?
b) How to make Master communicate with other two Subordinates and get data in 3 dimensions.

ii) Ran the green screen

[2020-12-21 03:15] czhaneva commented on #1439
Try add "sudo" before your command. e.g. sudo ./k4aviewer
This works for me.

[2020-12-21 03:25] RoseFlunder commented on #1439
@czhaneva usually no sudo is needed. you just have to copy the "99-k4a.rules" files to your "/etc/udev/rules.d/" folder like described here:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#linux-device-setup

[2020-12-21 04:16] seigeweapon commented on #1443
I've done some search and found that similar issue has been reported by quite some users. I think it was discussed pretty thoroughly in #1058 , where @rabbitdaxi describbed the calibration process and possible imperfection in detail. The conclusion seems to be "There's nothing we can do".

However, I think a better calibration may still improve. Hence I'm here to ask the Azure Kinect team to consi

[2020-12-21 04:18] seigeweapon commented on #1443
I've done the color to depth transformation too. You can see similar misalignment clearly. So I think there must be some room for improvement in calibration.

![Screenshot from 2020-12-21 12-02-43](https://user-images.githubusercontent.com/10241990/102738879-5f640080-4386-11eb-8957-8ef58008a595.png)

[2020-12-21 09:52] DirkKramer opened #1449 "Missing points in pointcloud"
We believe we are missing some points in the pointcloud data, see below pictures from the azure kinect viewer and our viewer.

![azure_kinect_viewer](https://user-images.githubusercontent.com/46933603/102763250-b31c1d00-4379-11eb-9152-0d07a530588b.PNG)
![Rapid_viewer](https://user-images.githubusercontent.com/46933603/102763255-b4e5e080-4379-11eb-99b8-aeb7bff19785.PNG)

Configuration is s as follo

[2020-12-21 13:58] #1446 closed, assigned to qm13

[2020-12-22 05:00] obimasa0917 opened #1450 "Effect of lighting"
Does Lighting Affect Azure Kinect's Depth Sensor?

Please see the two pictures below.
Red areas are pixels with invalid depth.

I noticed that the result depends on whether the downlight (light bulb) is on or off.

This is when the downlight is on
![image](https://user-images.githubusercontent.com/51110859/102850801-96f1ac00-445d-11eb-9b51-cbeae44e65a1.png)

This is when the downlight is off
![ima

[2020-12-22 05:02] obimasa0917 commented on #1450
With Kinect V2
![image](https://user-images.githubusercontent.com/51110859/102851071-39119400-445e-11eb-91ec-abe58f78bffd.png)

[2020-12-23 04:08] lihongyi1234 opened #1452 "fatal: unable to access 'https://chromium.googlesource.com/libyuv/libyuv/': Failed to connect to localhost port 443"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Desktop (please complete the following information):**
 - OS with Version:
 - SDK Version:
 - Firmware version:

**Additional context**

[2020-12-24 11:58] vinesmsuic opened #1453 "Depth camera cannot be loaded"
**Describe the bug**

I downloaded latest SDK (1.4.1) and opened the Azure Kinect Viewer through command `sudo k4aviewer`. The first time the k4aviewer works fine, but in the second time when I connected the device, opened the k4aviewer and clicking start with default options, the error message pops up: `Failed to start device! If you unplugged the device, you must close and reopen the device.` Th

[2020-12-24 12:38] vinesmsuic commented on #1453
Running `enumerate_devices` in `Azure-Kinect-Sensor-SDK/build/bin` folder:
[code]

[2020-12-24 13:13] RoseFlunder commented on #1453
1. The SDK doens't need to be compiled by yourself. You can instead just install it via apt if you add the microsoft package repository.
2. The depth engine is closed source and comes with the apt package and is not included in this repo, thats why I recommend to use the apt package instead of cloning this repository.
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/depthengi

[2020-12-24 13:32] vinesmsuic commented on #1453
1. for installation, I first configured Microsoft's Package Repository and then install the k4atools through `sudo apt install k4a-tools`.
3. I did copy the rules file from the scripts folder and both `sudo k4aviewer` and `k4aviewer` will come out same error message.
4. My laptop only have 2 USB 3.0 ports and I have tried both of them. They yield the same result.
5. The k4aviewer has been working

[2020-12-24 14:00] RoseFlunder commented on #1453
I also ment installing the sdk via apt although it might be just a dependency of k4a-tools and though already installed.
Just looked like you also tried to compile the sdk yourself because you mention a sdk build folder once and in the log file is stated that the depth engine is missing (first line of your log file).
Thats usually a symptom for users that compile the sdk instead of getting it via

[2020-12-24 14:32] vinesmsuic commented on #1453
This is what I did in setup:
[code]

How can I get the sdk via apt?

[2020-12-24 14:53] RoseFlunder commented on #1453
I think you could have just skipped the second step with cloning and building the repository.
The SDK should come with k4a-tools I think and if not you can install it with:
sudo apt install libk4a1.4
and if you also need the header files for developing own applications:
sudo apt install libk4a1.4-dev

You can check for installed k4a packages with:
apt list --installed | grep k4a

But if you are pl

[2020-12-24 15:21] vinesmsuic commented on #1453
`apt list --installed | grep k4a` shown that I have all the all the dependency already.
[code]
Isn't `sudo apt install k4a-tools` will automatically install `libk4a1.4` and `libk4a1.4-dev` as well?

At first I only did `sudo apt install k4a-tools` and the k4aviewer works fine, and I found the library cannot be located in vscode (e.g. `k4a` is supposed to locate at `/usr/local/include`). Then I dec

[2020-12-24 15:49] vinesmsuic commented on #1453
I noticed since I built the k4a-tools via both apt and source, I have 2 k4aviewer in the system.
[code]

then I just tried to purge the k4a-tools and libk4a1.4 and libk4a1.4-dev, then reinstall libk4a1.3 and libk4a1.3-dev.

[code]
Then now the k4aviewer should work fine. The depth camera is finally back.

[2020-12-25 01:22] damaza commented on #1125
The same problem with RTX3070

[2020-12-25 01:55] L4Z3RC47 commented on #1125
All 3000 series cards are affected. Hoping we can get an ETA soon. I have commercial applications that could really use this!!!

[2020-12-25 07:26] #1453 closed, assigned to nobody

[2020-12-25 07:52] #1444 closed, assigned to qm13

[2020-12-27 08:28] ruisv opened #1454 "How do i release k4a_transformation memory？"
code:

k4a_transformation_t ransformations = k4a_transformation_create(&calibration);

Thanks.

[2020-12-27 08:39] #1454 closed, assigned to nobody

[2020-12-27 08:39] ruisv commented on #1454
Use k4a_transformation_destroy

[2020-12-27 11:12] zhaoyuliang5 commented on #1448
Thanks for your reply.

Ubuntu, Nvidia Jetson XAVIER NX ,   using system Startup Applications Preferences, added a script to start my application. The problem happened  when the DK is working (white light) , NX power off, then restart system(power on), then the DK Depth engine can not be opened again.

[2020-12-28 03:29] VegetableWithChicken opened #1455 "package failed : failed to create directory ...... and resolved"
Environment:
CPU i7-9700kf
ROM : 32G
GPU:  2080ti
Window x64

log:
failed to create directory:   \azure-kinect-unreal-master\Saved\StagedBuilds\WindowsNoEditor\AzureKinect\Binaries\Win64

the way of resolution:
https://github.com/secretlocation/azure-kinect-unreal/issues/15

[2020-12-28 03:32] VegetableWithChicken commented on #1125
i am also very worried. Please ,please tell me the completion data !
3Q

[2020-12-28 07:02] #1455 closed, assigned to nobody

[2020-12-28 08:17] OtisZZ opened #1456 "Is there any reliability test of Azure Kinect camera?"
Like it can open how many times and use for how long, that the hardware won't be damaged.
Thanks!

[2020-12-28 22:11] DrMaxP opened #1457 "What are the critical system specifications for a hosting multiple sensors on a single PC?"
I am aware of some people's system specifications for hosting 5-10 Azure Kinect sensors on a single PC - including the DepthKit Ignite demo system https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/971. However, that system had a very high spec and I'm wondering where performance could be lowered without significantly compromising the ability of a single PC to host say 5-7 Azure Kinect se

[2020-12-29 18:35] Me817 opened #1458 "QUESTION: Which method is used to determine the distance."
Hello,

in the [documentation](https://docs.microsoft.com/en-us/azure/kinect-dk/depth-camera) for the Microsoft Azure Kinect I read that the depth camera uses the time of flight method to measure the distances in the scene. But in another [article](https://www.researchgate.net/publication/323818253_IMpixel_65nm_BSI_320MHz_demodulated_TOF_Image_sensor_with_3mm_global_shutter_pixels_and_analog_binni

[2020-12-30 03:37] jhljx commented on #1425
So how to extract the IMU data from the mkv file by a ffmpeg command?

`ffmpeg -i test.mkv -map 0:3 -vsync 0 imu%04d.txt` doesn't work. The errors are

    Unknown/unsupported AVCodecID S_K4A/IMU.
    [matroska,webm @ 00000189ba64d6c0] Could not find codec parameters for stream 3 (Subtitle: none): unknown codec
    Consider increasing the value for the 'analyzeduration' (0) and 'probesize' (500000

[2020-12-30 09:10] thinkinginmath commented on #871
Ping on the status of body tracking on ARM (Jetson Xavier). Is there an estimated release date?

[2020-12-30 16:22] jenyaone commented on #1125
are there any updates on this? please let us know.

[2020-12-30 19:41] thinkinginmath commented on #1342
@qm13
Any update on timeline of the body-tracking on ARM?
Is there anything the open source developers can help on the porting efforts?

https://developer.nvidia.com/blog/announcing-onnx-runtime-for-jetson/

[2020-12-31 00:27] Greendogo commented on #1447
The docs state that for Windows it requires:
```Graphics driver support for OpenGL 4.4 or DirectX 11.0```

[2020-12-31 08:06] VegetableWithChicken opened #1459 "Help ,Help ! the sample code : xy_table_data[i].xy.x * (float)depth_data[i] why it need to * but not point_cloud_data[i].xyz.x = xy_table_data[i].xy.x"
uint16_t *depth_data = (uint16_t *)(void *)k4a_image_get_buffer(depth_image);
    k4a_float2_t *xy_table_data = (k4a_float2_t *)(void *)k4a_image_get_buffer(xy_table);
    k4a_float3_t *point_cloud_data = (k4a_float3_t *)(void *)k4a_image_get_buffer(point_cloud);

    *point_count = 0;
    for (int i = 0; i < width * height; i++)
    {
        if (depth_data[i] != 0 && !isnan(xy_table_data[i].xy.x

[2021-01-02 06:20] knat opened #1460 "How to merge two or more body tracking skeletons into one?"
![a](https://user-images.githubusercontent.com/10220052/103451775-e5773400-4d02-11eb-8f72-09a8f822863a.png)

[code]
How about three kinects?
![b](https://user-images.githubusercontent.com/10220052/103451961-41db5300-4d05-11eb-97bc-defbd5003e89.png)
A working sample is welcomed, thank you.

[2021-01-04 10:39] Utkarsh-Bajpai opened #1461 "Sample unity body tracking app missing meta files"
When tried to open the PuppetMaster scene in Sample Unity Body Tracking Application, there are missing prefab errors. This is because of missing meta files for the prefabs Female adult and jasper. Meta files are also missing for other files such as all files in the model directory, and a few .cs files.

Could you please add the required meta files.

![image](https://user-images.githubusercontent.c

[2021-01-04 18:12] qm13 commented on #1459
Which sample are you referring too?

[2021-01-04 18:18] qm13 commented on #1456
Azure Kinect is warrantied for 12 months. Beyond 12 months we cannot comment on expected reliability.

[2021-01-04 18:24] qm13 commented on #1448
Does the system start ok if you disconnect and reconnect the Azure Kinect device.

[2021-01-04 18:48] qm13 commented on #1457
The most critical resource (since you are not using Body Tracking) is USB bandwidth. You do not mention the frame rates for the data streams. Assuming 30fps you can probably handle 2 streams per controllers and certainly have enough GPU to process your 5-7 streams. Without knowing the compute requirements of your app or DepthKit it is hard to determine if the above HW requirements is sufficient. S

[2021-01-05 03:26] logic03 opened #1462 "Question about green_screen code"
Can the program in Azure-Kinect-Sensor-SDK / examples / green _ screen / MultiDeviceCapturer.h capture only one image ? If have _ synced _ images are set to true after the synchronization is successful, then it will exit the cycle of capturing images. Am I right？

[2021-01-05 03:50] Lt23live commented on #1125
We are also having this issue, RTX 3080 series. Microsoft needs to address this.

[2021-01-05 04:04] L4Z3RC47 commented on #1125
ping @qm13

[2021-01-05 09:24] serend1p1ty opened #1463 "Azure Kinect Depth Camera can not be found in device manager"
**Describe the bug**
After plugging the cables in USB3.0, I only find the `Azure Kinect 4k Camera` in the device manager.
`Azure Kinect Depth Camera` is missing.

In addition, the Kinect is blinking amber, although using USB3.0.

I don't know if there is a relation between the two issues.

**Desktop (please complete the following information):**
 - OS with Version: Windows 1903
 - SDK Version:  1.

[2021-01-05 09:47] xhniu opened #1464 "Body Tracking CPU usage over 100%"

[2021-01-05 11:23] #1464 closed, assigned to nobody

[2021-01-05 11:35] mrcrkk commented on #1459
This sample code is from ./examples/fastpointcloud/main.cpp:58

If my understandings are correct, you ask why should x-scale factor be multiplied by the pixel's depth value.
It is needed to get the 3d X-coordinate of a pixel in millimeters.

According to fastpointcloud's [README.md](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/examples/fastpointcloud/README.md):

[2021-01-05 11:39] HlibKazakov2000 commented on #1459
This sample code is from ./examples/fastpointcloud/main.cpp:58

If my understandings are correct, you ask why should x-scale factor be multiplied by the pixel's depth value.
It is needed to get the 3d X-coordinate of a pixel in millimeters.

According to fastpointcloud's [README.md](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/examples/fastpointcloud/README.md):

[2021-01-05 11:39] #1459 closed, assigned to HlibKazakov2000

[2021-01-05 17:29] ghost commented on #871
Is the body tracking sdk supported in Nvidia Jetson AGX Xavier?

[2021-01-06 13:22] logic03 opened #1465 "Question about tof type"
https://docs.microsoft.com/zh-cn/azure/kinect-dk/depth-camera
Azure Kinect DK 深度相机实现调幅连续波 (AMCW) 时差测距 (ToF) 原理。 该相机将近红外 (NIR) 频谱中的调制光投射到场景中。 然后，它会记录光线从相机传播到场景，然后从场景返回到相机所花费的间接时间测量值。
请问这里的调幅连续波是指正弦波还是方波呢？因为正弦波一般都是通过相位偏差来间接计算的，但是这里又写是所花费的间接时间。
————————————————————————————————————————————
https://docs.microsoft.com/zh-cn/azure/kinect-dk/depth-camera
Azure Kinect DK Depth Camera implements AMCW Time D

[2021-01-06 13:38] logic03 opened #1466 "Question about MAX_ALLOWABLE_TIME_OFFSET_ERROR_FOR_IMAGE_TIMESTAMP"
请问在进行双相机的深度图像同步的时候，Azure-Kinect-Sensor-SDK / examples / green _ screen / MultiDeviceCapturer.h的MAX_ALLOWABLE_TIME_OFFSET_ERROR_FOR_IMAGE_TIMESTAMP也是设置为100us吗？因为我看到https://blog.csdn.net/qq_43707919/article/details/109347961这个博客里面有个人说当同步RGB图像的时候这个值设置为100us，当同步深度图像的时候这个值设置为260us。但是我觉得不管同步RGB图像还是深度图像，这个值都应该被设置为100us，请问我说的对吗？
————————————————————————————————————————
In the depth of the dual camera imag

[2021-01-06 18:04] anantley commented on #1461
Hi I fixed the problem in .gitignore and will push the fix today

[2021-01-07 14:55] jwvanderbeck-Unity commented on #1443
Running into this same issue and thought it was something I had broken, so sort of glad to see it isn't just me :)  I'm assuming this is a consequence of the depth and color sensors being so incredibly different, even different aspect ratios?

[2021-01-07 18:27] Lt23live commented on #1125
@qm13  has there been any updates?

[2021-01-07 18:36] jaygullapalli commented on #1465
Depth Sensor in Azure Kinect DK uses Indirect Time of Flight Technique. The amplitude modulated wave is a square wave.
You can refer to this paper for additional information https://ieeexplore.ieee.org/document/8310200

[2021-01-07 21:33] qm13 commented on #1466
You are correct. The RGB camera does not need to be offset from the depth camera. The offsetting (delay) between 2 depth cameras is to prevent them from interfering with each other as they both emit IR light to generate the depth image.

[2021-01-07 21:39] qm13 commented on #1463
The blinking amber led means there is not enough power to depth camera (hence the depth camera is missing). You do not say but I assume you are plugging the camera into a USB3.0 interface which cannot provide the necessary power. You have two options:
Also connect the included power supply (you may be able to use just the cable plugged into a second USB3 interface on your computer)
Purchase a USBC

[2021-01-07 22:25] qm13 commented on #1462
Yes, I believe so. However the header file is large and it isn’t clear exactly where “after the synchronization is successful” happens.

[2021-01-08 02:54] logic03 commented on #1465
那请问这个相机的成像传感器上有几个快门呢？是2个用来在不同时刻捕获反射光线吗？
How many shutters are there on the imaging sensor of this camera?Is it two to capture the reflected light at different times?

[2021-01-08 15:28] anderwm opened #1467 "Do you accept the EULA license terms? [yes/no] Use of uninitialized value $_[1] in join or string at /usr/share/perl5/Debconf/DbDriver/Stack.pm line 111. Declined "Microsoft Azure Kinect Sensor SDK" license."
**Describe the bug**
I can't find a way to accept the EULA when building a docker for packages libk4abt1.0-dev, libk4a1.3-dev, k4a-tools=1.3.0. Usually one can set an environment variable like ACCEPT_EULA=Y or something so that DEBIAN_FRONTEND=noninteractive can still succeed.

**To Reproduce**
Steps to reproduce the behavior:
build Dockerfile like:`ENV DEBIAN_FRONTEND=noninteractive
RUN curl -sSL

[2021-01-08 15:32] anderwm commented on #1467
sorry, somehow couldn't find this before I posted

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1190

[2021-01-08 15:32] #1467 closed, assigned to nobody

[2021-01-08 15:57] anderwm commented on #1190
This seems to work for libk4a1.x, but I don't have the same luck with libk4abt1.0.

RUN echo 'libk4a1.3 libk4a1.3/accepted-eula-hash string 0f5d5c5de396e4fee4c0753a21fee0c1ed726cf0316204edda484f08cb266d76' | debconf-set-selections
RUN echo 'libk4a1.3 libk4a1.3/accept-eula boolean true' | debconf-set-selections
RUN echo 'libk4abt1.0 libk4abt1.0/accepted-eula-hash string 0f5d5c5de396e4fee4c0753a21fe

[2021-01-08 16:05] LogWell commented on #709
I want to get the color, depth, and mask of AzureKinectDK in Ubuntu 18 with CMakeLists.

The error caused by
[code]
is as follows:
[code]

How to solve this problem? And how to add additional information to `CMakeLists` like `dnn_model_2_0.onnx`?
@qm13 @yijiew

[2021-01-08 18:50] mellinger commented on #1442
@jackjansen You might want to check out https://github.com/n1ckfg/JetstreamKinect -- I know Nick is working on something similar.

[2021-01-08 19:39] qm13 commented on #1458
Depth Sensor in Azure Kinect DK uses Indirect Time of Flight Technique. Read this paper for additional information https://ieeexplore.ieee.org/document/8310200

[2021-01-08 20:39] #1447 closed, assigned to qm13

[2021-01-08 20:43] qm13 commented on #1440
There is a known issue with ASMedia USB chip sets on Windows. We currently do not have a fix.

[2021-01-08 20:45] #1439 closed, assigned to qm13

[2021-01-08 20:47] qm13 commented on #1437
This is a know issue on Windows.

[2021-01-08 20:47] #1435 closed, assigned to qm13

[2021-01-08 20:49] #1433 closed, assigned to qm13

[2021-01-08 20:49] #1432 closed, assigned to qm13

[2021-01-08 21:44] #1415 closed, assigned to qm13

[2021-01-08 21:46] #1406 closed, assigned to qm13

[2021-01-08 21:47] #1404 closed, assigned to qm13

[2021-01-08 21:48] #1403 closed, assigned to qm13

[2021-01-08 21:50] #1374 closed, assigned to qm13

[2021-01-08 21:54] qm13 commented on #1440
Duplicate of #1409

[2021-01-08 21:55] qm13 commented on #1437
Duplicate of #1409

[2021-01-09 01:45] jaygullapalli commented on #1465
I am not sure I fully understand the question, but the paper referenced above provides bit more insight into the pixel structure (consists of two detectors within the pixel). There multiple phase steps used as part of collecting raw data for computing depth (Phase shift between illumination and pixel clock). You can also refer to this IEEE paper for information about sensor operation https://ieeex

[2021-01-09 13:45] diablodale commented on #1449
What is the value of the depthmap at those points? If the depth pixels are invalid or 0, then you will have no voxels (pointcloud) data for that point. It is very common for depth data to be unavailable due to dust particles. Perhaps there is a dust particle in this area that is blocking the laser or its reflection. Or dirt or dust is at that specific location on the Kinect plastic cover or lens.

[2021-01-09 20:34] DrMaxP opened #1468 "How can I tell if a PC with a USB C port is capable of supplying sufficient power to an Azure Kinect"
I have the option of buying a small PC that has a single USB C port. How would I know if it is capable of powering an Azure Kinect with a suitable USB C to USB C cable? (i.e. a single cable solution). What spec/info should I be looking for?

[2021-01-09 20:35] DrMaxP commented on #1468
This PC cannot be expanded to add more ports.

[2021-01-09 20:45] DrMaxP commented on #1457
Thanks. I'm not using DepthKit. Because I am a hobbyist and can't risk building a high end PC that won't drive multiple Kinects, I've fallen back to the one PC per Kinect option. I already have some very small PCs that were being used to drive Kinect V2s and have determined what characteristics are important to drive an Azure Kinect. These PCs have mostly 4th Gen Intel CPUs and I'm testing Brekel

[2021-01-09 20:46] DrMaxP commented on #1457
Worth noting I'm not interested in body tracking and therefore the GPU requirements are no where near as important.

[2021-01-09 22:16] DrMaxP commented on #1308
I'd echo this request. Having more control over depth data (preprocessing) would be great. What's the status of this?

[2021-01-09 23:15] aloyspx commented on #1298
Is there a workaround for this bug in the meantime?

[2021-01-10 02:21] AquaLamp commented on #1125
Thank you. I am eagerly awaiting the results of your investigating issue.

[2021-01-10 03:03] xiaoguitoucode opened #1469 "Calculate space coordinates based on image depth and frustum"
Hi！ I have a question.
I noticed that the FOI of the camera in NVOF mode is 75^*65^. Now I get a depth picture of an object 640*576 (each pixel value represents the depth Z from the camera), now w I want to know the spatial coordinates of a certain point of the object, can I use the angle and depth of the viewing cone Z and the position of the point relative to the depth map, how to calculate its

[2021-01-10 03:17] RoseFlunder commented on #1469
Is there a reason why you don't just use the coordinate transformation functions from the SDK?
https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions#coordinate-transformation-functions

This function converts the 2D position (x,y) in the depth picture to a 3D (x,y,z) coordinate:
https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga664602bdb48dab38117a

[2021-01-10 04:04] serend1p1ty commented on #1463
I have tried both `power caple + data caple` and `USBC power+data caple`, but it still not works.
I contacted the after-sales technical personnel and they said that the problem might be caused by the equipment failure.

[2021-01-11 01:08] damaza commented on #1125
@qm13

[2021-01-11 07:10] #1449 closed, assigned to jaygullapalli

[2021-01-11 07:52] WenTaoLiu502 opened #1470 "Get all black RGB images in green_screen example"
**Describe the bug**
I tried to run the green_screen example using SDK 1.2.0, the code just displayed all black image in OpenCV window. However, the captured depth images could be displayed in real-time.

**To Reproduce**
The example was runned on one Azure Kinect device, and the parameters are all default. To reproduce the result I attached part of the code here.

 if (num_devices == 1)
  {

[2021-01-11 07:58] jmachowinski commented on #1354
Happy new year !
Any news on this issue ?

[2021-01-11 18:05] qm13 commented on #1470
Please update to Ubuntu 18.04. Use k4aviewer to check that you are getting RGB and depth images from the Azure Kinect.

[2021-01-11 18:10] qm13 commented on #1468
Consult the PC manual or ask the vendor. If the USB-C port is labeled as USB3.1 Gen 1 or 2 then it will be capable of self powering Azure Kinect. Azure Kinect at full power draw requires 6.9W of power. Gen 1 and 2 ports have a minimum power capability of 7.5W.

[2021-01-11 18:33] anantley commented on #1431
Hi @ifanroberts99,
I think the easiest thing to do for getting skeleton joints and printing them would be to use the game objects that are under Kinect4AzureTracker->PointBody->(whatever joint you want).

Any C# script in the scene can be used to access these game objects and print the transform positions, rotations, etc.

[2021-01-11 22:55] tim-depthkit commented on #1299
I wasn't aware that there is JPEG support built in to NVIDIA's hardware either; that's very exciting, because it means there is a possibility to leverage hardware accelerated MFTs to do the work.

I wrote a quick test to [determine what hardware MFTs are available on my system](https://docs.microsoft.com/en-us/windows/win32/medfound/registering-and-enumerating-mfts#registering-and-enumerating-mfts

[2021-01-12 01:32] WenTaoLiu502 commented on #1470
I have runned k4aviewer before, both RGB & Depth stream are normal. And the  synchronized two Azure Kinect also worked normally on k4aviewer.
![2021-01-12 09-22-56屏幕截图](https://user-images.githubusercontent.com/60599348/104257694-fec57080-54b8-11eb-8305-7039f4d76157.png)
![2021-01-12 09-24-28屏幕截图](https://user-images.githubusercontent.com/60599348/104257705-02f18e00-54b9-11eb-85d1-22db644c7aa5.png

[2021-01-12 01:44] xiaoguitoucode commented on #1469
hi I now use Azure kinect to get some color pictures and depth pictures (mapping depth information 61-90 to 0-255). Is there any way to obtain the spatial coordinates of a certain point offline? I just considered using the above formula, I don’t know if I did it correct.

[2021-01-12 13:11] diablodale commented on #1299
?! The SDK doesn't today use windows hardware acceleration?! I never reviewed that part of the codebase to check. 🤦‍♀️
I agree there is great benefit to keeping output on the GPU. (Personally, I want it in OpenCL or opencv UMat's).

In my app (dp.kinect3), I have used the vendor SDKs from Intel and Nvidia to decode JPGs and pull the results back to CPU memory. Even with (likely) copy back to CPU m

[2021-01-12 13:55] piquan commented on #1299
The specifics vary from one use case to the next, but for many Kinect-related purposes, I’m not surprised that hardware accelerated JPEG decoding isn’t the default.

In general, most low-rate (30 FPS) sources won’t benefit much from hardware JPEG acceleration.  It’s great if you’ve got a bunch of images that you’re using to train a neural net so you can them in a fast stream, or if you’re going to

[2021-01-12 14:47] juspus commented on #1306
This issue still hasn't been resolved, Is there any development on your end @qm13

[2021-01-12 15:09] diablodale commented on #1299
Happy new year @piquan. I just last week finished my nvJPEG work. In general, I had a good experience. Using task mgr (not the best...but....) I can see copy happening. My old machine (kepler) doing more copy work than my new (turing). There was an architectural change in how the Nvidia GPUs manage memory copies between these models "Page Migration Engine". Perhaps this is involved.

When I use th

[2021-01-12 15:46] tim-depthkit commented on #1299
@diablodale It should be pretty simple to hack in support for HW MFTs, but would likely require a bit of work to design the right API to manage enabling it, and the optional ability to get GPU textures instead of CPU buffer frames.

That would be awesome, unfortunately I haven't been able to find a way to do this using an IMFSourceReader at all. The interface is a bit of a black box beyond telling

[2021-01-12 16:06] L4Z3RC47 commented on #1125
@qm13 any news? This ticket seems to revolve around onnxruntime support of CUDA 10.1 however onnxruntime has supported both cuda 10.2 and cuda 11 since release 1.5.1
I assume that this is more than just a simple runtime issue then but given this is a major blocker on current gen hardware it would be great to get some deeper feedback on what the issue investigation has revealed and what/if there is

[2021-01-12 17:19] martivilella commented on #1263
For the record, another method of getting the latest binaries in Ubuntu 20.04 without adding keys for apt is by simply downloading them manually from Microsoft's package repository and installing them using dpkg (i.e. `dpkg -i k4a-tools_1.4.1_amd64.deb`).
The relevant package repository folder for k4a-tools is [here](https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/k/k4a-tools/) and for

[2021-01-12 23:39] vipelz opened #1471 "Toothpick and Azure Kinect"
I would like to purchase an Azure Kinect for a project.
    Before buying it, I would like to know what is the best distance at which Azure Kinect sees a toothpick with the depth module and with what quality?  Because a toothpick is pretty thin.
   Could someone post some pictures of how the Kinect Azure sees the toothpick?
    Thanks

This is the scenario:

![zFjaC](https://user-images.githubuser

[2021-01-12 23:41] diablodale commented on #1299
Wooo doggy we have delightfully strayed from the OP. I read a lot about "registering an MFT locally" which gives some merit/priority to the topology auto-selection to that locally registered mft. API docs have some info, and here's a thread where someone is forcing the intel quicksync mft https://community.intel.com/t5/Media-Intel-oneAPI-Video/How-to-use-Media-Foundation-plugins-provided-by-IntelM

[2021-01-13 05:12] Chang-Che-Kuei commented on #514
My GPU is Nvidia RTX 2060. It runs at about 30 FPS.

[2021-01-13 12:16] vpenades commented on #514
@Chang-Che-Kuei Developers switching from Kinect2 to Kinect4A expect similar performance on similar hardware, which is not the case with Kinect4A.

[2021-01-13 14:58] fractalfantasy commented on #514
They promised a lighter, more performant DNN model, that works across different GPU manufacturers and then completely abandoned development.

[2021-01-13 15:05] RoseFlunder commented on #514
It is also a bit worrying that there is still no compatible release of the body tracking sdk with the new NVidia 3000 series and its a known issue since obtober:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1125

Or that they never released Ubuntu binaries for a body tracking sdk that is compatible with sensor sdk 1.4.

[2021-01-13 15:14] christian-rauch opened #1472 "udev rules file missing from deb package"
**Describe the bug**
The Ubuntu deb packages are missing the udev rules file `99-k4a.rules`.

**To Reproduce**
1. add repo https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software
2. `apt install libk4a1.4-dev`

**Expected behaviour**
The deb package should include the udev rules `99-k4a.rules` and install them to `/etc/udev/rules.d/99-k4a.rule

[2021-01-13 15:39] vpenades commented on #514
@fractalfantasy @RoseFlunder as far as I know, they were still on it with the hopes of a late 2020 release, but it seems it's been delayed. But given microsoft track record of announcing projects cancelations, it would very well be the case that it's been silently canceled.

Anyway, on our side, we moved on to look for alternate solutions that don't require this BodyTracking nor the K4A camera. We

[2021-01-13 15:47] fractalfantasy commented on #514
@vpenades may I ask if you found any alternate solutions? I was hoping that maybe Nuitrack would support the Azure Kinect, but doesn't seem to be the case.

I looked into other sensors couldn't find any competitor that has good resolution... Intel sensors aren't even comparable to Kinect v2.

[2021-01-13 15:58] christian-rauch commented on #810
I am facing the same issue when trying to run the sensor on a robot.

I don't get why the OpenGL dependency would require a display manager. Headless OpenGL configurations have been demonstrated a couple of times before, e.g.: https://developer.nvidia.com/blog/egl-eye-opengl-visualization-without-x-server/.

Isn't there any way to support headless OpenGL modes via EGL?

[2021-01-13 16:12] vpenades commented on #514
@fractalfantasy I can't comment, sorry. But our solution is tailored to our use case.

It's still not as good as what the Kinect2 delivered, though, so if the kinect team finally delivers something that really improves (a lot) on what's currently available, then we might switch back to it.

[2021-01-13 16:22] rfilkov commented on #514
@fractalfantasy There are not many options - Intel RealSense, Orbbec (their new sensor looks promising), Apple's iPad-Pro/iPhone-Pro (with some limitations). Kinect-v2 is still the best one out there. Unfortunately, MS are famous for ruining or canceling their best products, as a result of not listening. Deja vu.

[2021-01-13 16:33] L4Z3RC47 commented on #514
I would be surprised if the Azure Kinect project was cancelled. MS has been active on responding to many issues as recently as a day or two ago. Though the silence on issue #1125 is frustrating...

[2021-01-13 16:48] rfilkov commented on #514
@L4Z3RC47 Yes, they provide some minimum of customer support. But look at the progress of development here: https://feedback.azure.com/forums/920053-azure-kinect-dk It hasn't moved an inch since one year ago.

[2021-01-13 16:58] vpenades commented on #514
@rfilkov Not only the feedback page hasn't moved. There's not been any commit to the main repository since 1-july-2020. And I'd be surprised if they consider the driver side "completed"

[2021-01-13 17:04] gradientLord commented on #514
@L4Z3RC47 They answer these forum posts so that senior management thinks they are being active, and then go off and play video games.

[2021-01-13 17:19] vpenades commented on #514
I don't think that's the case... nevertheless, if there's been delays to deliver, at least they could be mitigated with better communication.

[2021-01-13 17:21] fractalfantasy commented on #514
@rfilkov wow this new orbbec sensor looks like an Azure Kinect, wonder how it will compare resolution-wise

![Ero5GwHXAAAdvk6](https://user-images.githubusercontent.com/12879320/109837482-39bf6700-7c13-11eb-884a-e523d13228e7.jpeg)

[2021-01-14 07:58] SimoSR opened #1473 "Issues with the extension of AKDK cable up to 5 meters"
We would like to extend the lenght of the camera cable up to 5 meters.

We have investigated two different ways:

1. Single camera cable by adopting a USB 3.1 Gen 1 type C cable with active repeater (IC) o bring both power and data
2. Double camera cable by adopting a USB 3.1 Gen 1 type C to Type A cable for data + an USB 2.0 type A cable for additional power.

For the solution 1 we have tested th

[2021-01-14 12:28] adrianramospeon commented on #836
More than a year has passed since the issue was opened. Any plans on fixing this? Development seems stalled :(

Update on @iiwolf's  solution to use k4a-tools and libk4abt1.0 simultaneously now that libk4a1.4 is out:

`sudo apt install libk4abt1.0 k4a-tools=1.3.0`

[2021-01-14 14:21] themancalledjakob commented on #1473
We had similar issues with multiple cameras on various extensions. This sounds horrible, but we simply automated a relay to cut connection of both data and power simultaneously just before starting our application and had no trouble since then. I'm not really recommending to do this, but it does work stable for months now with not a single error.

[2021-01-14 17:07] jjoachim opened #1474 "Force reinitializing cameras"
I apologize for the category error, but I wasn't sure what else to tag this with.

I have a complicated program where sometimes things go wrong and stuff doesn't close cleanly. My issue is that the cameras sometimes get stuck in a state where they simply refuse to be opened on a program restart, and the only thing that seems to work is either restart the computer or its even sometimes necessary to

[2021-01-14 18:06] qm13 commented on #1473
This cable is known to work https://www.amazon.de/gp/product/B073J92722/ref=ppx_yo_dt_b_asin_title_o08_s00?ie=UTF8&psc=1

[2021-01-15 20:52] eaogorman opened #1476 "k4arecorder.exe iosstream error - unable to record 3600 second video"
Hi, I get an iosstream error when trying to record a 3600 second video.

I've used the following command in the command prompt in the Azure Kinect SDK v1.4.1\tools directory:

k4arecorder.exe -l 3600 -d WFOV_2X2BINNED -r 30 \Users\LPNE\DepthVideos\FOSIT_temp.mkv

I get the following error, repeatedly:

[2021-01-15 13:39:34.648] [error] [t=5280] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\record\sd

[2021-01-16 14:07] diablodale commented on #1460
I might approach this in several ways. The core challenge that I first see is a shared coordinate system. If you want a "merged" skeleton, then the coordinate system must be shared. There needs to exist a transformation that maps the local coordinate system of a Kinect into a shared coordination system of all Kinects.

The greenscreen example has somewhat related code https://github.com/microsoft/

[2021-01-16 19:15] kdquine opened #1478 "Add an option for compressed depth streams (png supports 16-bit grayscale)"
Hi! My lab has been working with the new camera, but one frustration we've had is the size of the depth streams, which are, well, uncompressed.  After a bit of investigation trying to find a good lossless compression that works in-frame for videos, we found an option that appears to work in compressing the depth frames as png images and tagging the depth streams in the mkv container as MPNG, which

[2021-01-17 13:30] serend1p1ty commented on #1463
I bought a new typec-typec usb3.0 data cable, and now the camera is working properly.
Note that the charging cable of most mobile phone and mac is typec usb2.0.

[2021-01-17 13:30] #1463 closed, assigned to qm13

[2021-01-18 06:25] seigeweapon opened #1479 "Need a body tracking sdk that depends on libk4a1.4-dev"
**Describe the bug**

Current libk4abt1.0 depends on libk4a1.3-dev, with which we have experienced unstable capturing (looks like #1194). This happens almost 100% when using a 5 meter usb extension cable. When using libk4a1.4-dev, the frame dropping still happens, but it is a warning instead of fatal error.

Now, in our project, I have to use libk4a and libk4abt both. To avoid libk4a1.3-dev's inst

[2021-01-18 12:28] logic03 opened #1480 "Question about k4a_image_create_from_buffer"
k4a_result_t k4a_image_create_from_buffer
(k4a_image_format_t 	format,
int 	width_pixels,
int 	height_pixels,
int 	stride_bytes,
uint8_t * 	buffer,
size_t 	buffer_size,
k4a_memory_destroy_cb_t * 	buffer_release_cb,
void * 	buffer_release_cb_context,
k4a_image_t * 	image_handle
)
——————————————————————————————————————————
关于这个函数的参数，如果缓冲区是uint8_t类型的，说明给这幅图像的数据只能是0-255，意思就是不能创建unsigned short(0-65535)

[2021-01-18 12:40] RoseFlunder commented on #1480
Hi,

you can specify depth16 as image format.

The buffer is always uint8 (byte) and the image format specifies how to interpret that buffer.
Depth16 means that two bytes will be concatenated and interpret as a uint16 value.
Hope that is kind of understandable to you.

[2021-01-18 19:33] janwww commented on #1461
Hi, I had the same problem and everything seems to work now in your project from your pull request, thanks!

I was wondering if the missing script on the `Kinect4AzureTracker` object in the `PuppetMaster` scene is still relevant (see image).
I couldn't find any scripts with missing `.meta` files and everything seems to work, so I guess it's not important?
![image](https://user-images.githubusercon

[2021-01-18 20:14] Shureshure opened #1481 "Body Tracking not working on AMD CPU's / Motherboard's?"
Hi
Unfortunately i switched from Intel to an AMD Ryzen 9 5900X
Now the Problem:

The Azure Kinect Viewer works flawlessly, but the Body Tracking Viewer it does not work.
I get into the program, but for some reason the 3D Visualization Window opens only after five or ten Minutes.
The Camera transmits the Image, but the skeleton is completely missing (only a red point can be seen).

There are proble

[2021-01-18 21:52] RoseFlunder commented on #1481
I don't think so.
I use a Ryzen 3700X (Zen 2) on a X570 Chipset with an NVidia 1080 and everything works

There is a known issue regarding the new Nvidia 3000 Series if you also have a new GPU by chance?
At the moment we can't use any Nvidia 3000 Series (Ampere GPU) with the current body tracking sdk version

[2021-01-19 04:21] UnaNancyOwen commented on #1125
@qm13 Currently, the market is moving to GeForce 30XX generation products, and GeForce 20XX/10XX generation products have come to end of sales. NVIDIA has announced the 30XX generation products for laptops. All desktop/laptop on the market will soon be replaced by 30XX generation GPU.
This is a very serious problem for businesses. In fact, we are having trouble procuring new PC that deliver to our

[2021-01-19 07:27] logic03 commented on #1480
那么当我想要调用k4a_image_create_from_buffer这个函数把png图像里面的像素值赋值给一个k4a_image_t类型的对象的时候,buffer_release_cb和buffer_release_cb_context参数应该怎样设置呢？直接设置成：
k4a_memory_destroy_cb_t* buffer_release_cb = NULL;
void* buffer_release_cb_context = NULL;
这样可以吗？
——————————————————————————————————
So when I want to call the k4a _ image _ create _ from _ buffer function to assign the pixel value in the png image to a k4a _ ima

[2021-01-19 12:43] WestbrookZero opened #1482 "How to convert between OpenCV Mat and k4a::image?"

[2021-01-19 13:33] diablodale commented on #1482
cv::Mat and k4a::image both provide access to the raw buffers, images, sizes, and pixel format (e.g. bytes/pixel). You can use this information to copy data to/from each image type. You can also use this information to "wrap" the raw data without copying it. You have the choice of copy or wrap.

The greenscreen example has some code from which you can learn https://github.com/microsoft/Azure-Kinec

[2021-01-19 17:39] qm13 commented on #1481
@Shureshure does your new AMD computer have an NVIDIA GPU? Is so what NVIDIA GPU does it use?

[2021-01-19 17:41] qm13 commented on #1479
There is a release in the works that addresses this issue.

[2021-01-19 18:25] qm13 commented on #1474
You can reset all connected Azure Kinect devices from the command line

`AzureKinectFirmwareTool -Reset`

You can also reset a single Azure Kinect by specifying the serial number.

[2021-01-19 19:09] qm13 commented on #1476
k4arecorder is limited by RAM and disk space. It will continue to record until the disk is full. It will continue to consume RAM until exhausted if the disk is too slow. Check both of these resources. I suspect you are running out of one of them.

[2021-01-19 19:35] Shureshure commented on #1481
Thank you for the fast answer
Yes i have a rtx 3090. I was so fixated on amd that I did not get the idea that it could be due to the graphics card.
Now I see that I'm not the only one who has problems with it.
The problem doesn't seem to have been solved. Is there any news about a patch?

[2021-01-20 02:25] #1448 closed, assigned to qm13

[2021-01-20 02:26] #1452 closed, assigned to qm13

[2021-01-20 02:27] #1456 closed, assigned to qm13

[2021-01-20 02:27] #1457 closed, assigned to qm13

[2021-01-20 02:28] #1458 closed, assigned to qm13

[2021-01-20 02:30] #1462 closed, assigned to qm13

[2021-01-20 02:31] #1465 closed, assigned to jaygullapalli

[2021-01-20 02:31] #1466 closed, assigned to qm13

[2021-01-20 02:32] #1468 closed, assigned to qm13

[2021-01-20 02:33] #1470 closed, assigned to qm13

[2021-01-20 02:39] qm13 commented on #1481
Ok. We are working on an update that provides support for the NVIDIA 3xxx range of GPU cards. We are planning to get it out (barring issues) by mid February.

[2021-01-20 02:56] L4Z3RC47 commented on #1125
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1481#issuecomment-763288112

Per @qm13 looks like we should see an update around mid next month (usual caveats apply)

great news!

[2021-01-20 12:10] ChristopherRemde commented on #1482
If you have a k4a_image  _colorImage_ , you can convert the k4a_image to an OpenCV Mat with this code:

	`cv::Mat cImg = cv::Mat(k4a_image_get_height_pixels(colorImage), k4a_image_get_width_pixels(colorImage), CV_8UC4, k4a_image_get_buffer(colorImage));`

Convert this OpenCV Mat back into a k4a_image _newk4aImage_:

[code]

You can see this file for more context:

https://github.com/MarekKowalski/

[2021-01-20 13:10] diablodale commented on #1482
@ChristopherRemde examples have several errors in them. Important when exchanging raw image data between different SDK/systems to declare the `step` or `stride`. It is not guaranteed for both systems (cv and k4a) to use the same stride. As fact, k4a aligns row strides to 32-byte boundaries and cv uses 64-byte boundaries. Therefore, add the step/stride parameter to both of his examples.

The color

[2021-01-20 13:22] ChristopherRemde commented on #1482
@diablodale Thank your for your very detailled explanation! I learned quite a few new things, and will try to correct the code! And yes I forgot to include a notice that this is only code for one specific format.

[2021-01-21 03:54] qm13 commented on #1471
It is unlikely you will get reliable results on detecting objects as thin as toothpicks with Azure Kinect DK. That said you could work with our partners in the depth commercialization program to develop a Kinect based depth module tailored to detect toothpick sized objects.

[2021-01-21 13:12] WestbrookZero commented on #1482
My main code is as follows:
[code]
when i use OpenCV  image "combinedRgbMat"  to detect person to get 2D (x,y)coordinates , How to convert OpenCV 2D (x,y) coordinates to X and Y coordinates of point cloud ?

[2021-01-21 13:27] diablodale commented on #1482
I recommend you read https://docs.microsoft.com/en-us/azure/kinect-dk/use-image-transformation and reference the examples. You are raising a different off-topic question.

[2021-01-21 13:37] atinfinity commented on #1263
Do you have a plan to release deb package for Ubuntu 20.04?
I tried to build Azure Kinect SDK from source code.
But, I could not find libdepthengine.so in <https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/>.

[2021-01-21 18:31] anantley commented on #1461
Hi @janwww,
The missing script is just leftover cruft. You can delete it.

[2021-01-22 09:35] hayeonp95 opened #1484 "Azure Kinect slowed down & Body Tracking not working on CPU 8 core Ryzen 7 3700x & GPU rtx 3070"
Hi Everyone,

I have been using Azure Kinect and PC with CPU of intellcore i7 and GPU of rtx 2060 super and it had been working perfectly fine.

So I recently changed to pc with high specification which is CPU of 8 core Ryzen 7 3700x and GPU of rtx3070.
But after that I have been having problems which it takes as long as 15mins for it to start sample program and it can’t even identify skeleton.

I

[2021-01-22 09:48] RoseFlunder commented on #1484
Hi,

its because of the new nvidia 3000 series.
See this issue for further information:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1481#issuecomment-763288112

You need to wait for the February update

[2021-01-22 11:54] logic03 opened #1485 "Question about GreenScreen"
请问为什么要使用绿色的布（绿屏）进行标定的实验呢？我认为是绿屏可以吸收深度相机的红外发射器发出的光，被绿屏吸收了这个光就无法反射回相机，从而使得绿屏部分的深度为0。我这样理解对吗？
————————————————————————————————————————————
Why do we use green cloth ( green screen ) for calibration experiments ? I think the green screen can absorb the light emitted by the infrared emitter of the depth camera, which is absorbed by the green screen and cannot reflect back to the camera, so that the dep

[2021-01-22 12:22] tostercx opened #1486 "Two camera calibration orientation (green screen example)"
**Describe the bug**

I'm not sure if this is a bug or not, but perhaps someone can clarify. I need to calibrate two cameras that may not be in the same orientation. In the green screen two camera calibration there's a long paragraph about why the orientation is assumed to always be down and that the algorithm behind it isn't supposed to be able to tell which side is which if the image is flipped

[2021-01-22 14:06] tostercx commented on #1485
There's no need for an actual green screen for calibration. It's a demo application that simulates a green screen effect with the depth camera - everything close to the camera will be drawn in view but the background will remain static.

[2021-01-22 14:22] logic03 commented on #1485
意思就是绿色的布是不能够吸收深度相机发射出的红外光，是这样吗？
_________________________________________________________________________
The green cloth does not absorb the infrared light emitted by the depth camera, right?

[2021-01-22 14:36] tostercx commented on #1485
You don't need green cloth for calibration! It works with no cloth.

[2021-01-22 15:00] lintianfang opened #1487 "A distortion of depth data when mapping depth to point cloud"
I generate a point cloud from raw depth data, but there is a distortion, seems like a pillow-shaped distortion. Due to my program needs to support multiple kinds of rgbd cameras, so I cannot use the function generate_point_cloud(depth_image, xy_table, point_cloud, &point_count);, which will change the function map_depth_to_point() for intel real sense, and Artec scanner. So, I wanna ask if I can m

[2021-01-22 17:24] jjoachim commented on #1474
Can this be done programmatically in C++? Is there a source file for this tool in the repo somewhere that I can use as an example?

[2021-01-22 18:00] L4Z3RC47 commented on #1474
Can you not use system() to call the argument? https://stackoverflow.com/questions/8832326/how-can-i-execute-a-command-line-command-from-a-c-program

[2021-01-22 20:46] vipelz commented on #1471
Could you tell me more about depth commercialization program?
Thank you

[2021-01-22 20:50] jjoachim commented on #1474
Yeah we can use system(), but it's hard to get return/exception feedback on commands like that. I'd prefer a more direct c-api if it exists, but I can make the system() way work in the mean time I think.

[2021-01-22 21:02] L4Z3RC47 commented on #1471
+1

[2021-01-23 06:35] VegetableWithChicken commented on #1282
@qm13  it will have different intrinsic if depth _mode is not same

[2021-01-23 07:55] VegetableWithChicken opened #1488 "I use pyAzureKinect to Get Calibration but it always null, could you tell me how to get calibration's Intrinsic"
'
pyK4 = pyKinectAzure(modulePath)
pyK4.device_open(0)
config = pyK4.config
pyK4.device_start_cameras(config)
config.color_resolution = _k4a.K4A_COLOR_RESOLUTION_1080P
#config.depth_mode = _k4a.K4A_DEPTH_MODE_WFOV_2X2BINNED
config.depth_mode = _k4a.K4A_DEPTH_MODE_NFOV_UNBINNED
cali = None
pyK4.getDepthSensorCalibration(calibration=cali)
#Traceback (most recent call last):
# File "D:/UE4Protect/pyK

[2021-01-23 08:46] seoyeo opened #1489 "one PC, 4 kinect sensor, The maximum number of body tracking supported?"
I have 4 kinect sensor, use body tracking in Unity, now i can tracking 6 body . But I want to be able to tracking 15-20 body, what should i do? thanks!

[2021-01-23 16:14] L4Z3RC47 commented on #1489
You can run each Kinect sensor on separate networked computers and use multiplayer HLAPI to handle merging all of the tracked skeletons. Note that you would then need to ensure that each cameras covered area does not overlap otherwise you may get duplicated skeletons. Additionally each camera zone will still only be able to track up to 6 skeletons. This is probably the simplest way to increase tra

[2021-01-25 03:45] obimasa0917 commented on #1450
Do you have any information?

[2021-01-25 09:45] catid commented on #1478
Curious how this compares to my work: https://github.com/catid/Zdepth

[2021-01-25 09:58] #1482 closed, assigned to qm13

[2021-01-25 10:06] WestbrookZero opened #1490 "Azure Kinect Viewer can't find the devices"
What should I do if the Azure Kinect Viewer cannot find the camera device when I insert it into my computer?
My environment is : win10, Azure Kinect SDK v1.3.0 or  Azure Kinect SDK v1.4.1.

![image](https://user-images.githubusercontent.com/13358789/105690755-57741f00-5f37-11eb-9fbc-61982ba8d60f.png)
![image](https://user-images.githubusercontent.com/13358789/105690831-6d81df80-5f37-11eb-934f-2ab4

[2021-01-25 10:40] seoyeo commented on #1489
thanks for your reply！
Are there other ways to increase body tracking count？I mean break 6 body tracking limits use a kinect sensor.

[2021-01-25 13:29] dazinovic opened #1491 "Possible out-of-bounds index in the undistortion example"
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/61951daac782234f4f28322c0904ba1c4702d0ba/examples/undistort/main.cpp#L255

Could you double check that the indexing here is okay? I think the index will go over the src buffer boundaries if the look up in the lookup-table returns edge coordinates.

[2021-01-26 03:33] caohena opened #1492 "k4abt_simple_3d_viewer failure ( Shader error : imageLoad - undeclared identifier)"
![E102Y 4`TN@~J10$_Y8X}CT](https://user-images.githubusercontent.com/28190881/105795953-b3d34f00-5fc8-11eb-85cd-de5168a32e7e.png)

I can use the k4aviewer.exe to show the color and depth frame
 but when i open the k4abt_simple_3d_viewer.exe to use the body tracking sdk, it shows the mistake like above, what should I do to solve the problem
My environment is : win10, Azure Kinect SDK v1.4.1，and I h

[2021-01-26 11:24] SimoSR commented on #1473
@qm13

UPDATE
I'm experimenting issue with the cable connections.

**Configuration adopted**:
- ADKD connected to the host PC via 2 cables (USB 3.0 for Data and USB 2.0 for power);
- Both cables are extended with enxtension cable of 5 meters;
- the data cable (USB 3.0) is an active cable to support the extension lenght;

If we plug the cables in the following order
1. plug the DC plug USB 2.0 (5 m

[2021-01-26 13:53] DudeWithEmoTiger opened #1493 "Laptop Recommendations for Running 3 Sensors"
Is it possible to run body tracking sdks with 3 sensors on a fairly high performance gaming laptop?

Would something like Asus Rog Strix and Zephyrus configs equipped with NVIDIA 2070 and above as well as 8 gb of VRAM work?

They generally contain 3 USB3 Ports so connecting the cameras hopefully shouldn’t be an issue.

I am looking for a portable solution because I may need to use the sensors in m

[2021-01-26 15:00] vladalx commented on #1492
The reason you're getting this is because "imageLoad" is a GLSL function available since version 4.2 of OpenGL:
https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/imageLoad.xhtml

HD Graphics 4000 only supports OpenGL up to version 4.0 on Windows :
https://en.wikipedia.org/wiki/List_of_Intel_graphics_processing_units#Seventh_generation
![image](https://user-images.githubusercontent.com/7238

[2021-01-26 20:35] jjoachim commented on #1474
Tested this solution on a faulty system, worked perfect. Will use system() for now to invoke the fix, but would like an api or some kind of instruction on how to do it myself. Closing, thanks for the help.

[2021-01-26 20:35] #1474 closed, assigned to qm13

[2021-01-27 16:06] lintianfang commented on #1487
For understanding easily, I would like to give more details as follows:
win 10 10.0.18363 + VS2019 + 64-bit + SDK 1.4.1
in the following figure, it is a scan of the wall of my office, here should be a rectangle wall as the red arrows' direction, but here are distortion at two ends of this scan as the blue arrows show, if I use generate_point_cloud(), it would be correct, but if I use my own map_de

[2021-01-27 22:07] JMRMEDEV opened #1494 "Body Tracking Support for older Nvidia Cards"
**Is your feature request related to a problem? Please describe.**
Is not.

**Describe the solution you'd like**
To add support for lower versions of Nvidia cards. I currently own a gtx 860m and a 960.

**Describe alternatives you've considered**
Does not apply.

**Additional context**
I consider there are some older but still powerful nvidia cards that might be considered to be supported by the b

[2021-01-28 05:23] #1490 closed, assigned to scotthsu98052, qm13

[2021-01-28 13:43] zapaishchykova commented on #1488
following, also want to know how to retrieve the Kinect intrinsics!

[2021-01-28 17:10] fractalfantasy opened #1495 "depth to color transformation creates unnecessarily large artefacts"
The **k4a_transformation_depth_image_to_color_camera()** transformation in the sensor SDK makes the black "invalid" pixels (or as I like to call them "depth shadows") much larger than they should be. I tried the same transformation in Photoshop, and the "invalid" pixels were much less prominent.

These artefacts can be quite ugly and hard to manage, especially in art applications. I think the code

[2021-01-28 22:05] dbruning opened #1496 "What is the status of this SDK?"
I have a product based on Kinect for Xbox One and I'm keen to upgrade it to support the Kinect Azure camera, but I'm worried about the lack of development in this repo.

There don't seem to have been any code commits in the past 6 months, and no PRs closed since May 2020.
Questions are still being answered, but it feels a bit like the project has been all but abandoned for any development.
Can any

[2021-01-29 00:57] diablodale commented on #1493
I doubt you will be successful with the current Body Tracking SDK v1.0.1.
I have a new XMG laptop with RTX 2070 Super max-p 8gb at 115w.
A single Kinect Azure sensor running body tracking consumes ~70% of the RTX GPU and delivers 30fps.

[2021-01-29 08:47] SimoSR commented on #1473
In addition to the issue reported above regarding the extension of the power cable, we are experimenting an issue also with 5 meter extension of USB A data cable.

We are using the following active cable extension  https://www.amazon.de/gp/product/B073J92722/ref=ppx_yo_dt_b_asin_title_o08_s00?ie=UTF8&psc=1 that you say it's known to work.

This the situation of device manager and Kinect viewer:

!

[2021-01-29 15:04] tokawa-ms opened #1498 "AKDK connected to the Intel USB 3.1 eXtensible Host Controller are not enumlated."
**Describe the bug**
Devices connected to the Intel USB 3.1 eXtensible Host Controller are not enumlated.

**To Reproduce**
1. Plugin the Azure Kinect to USB 3.0 Port and start the laptop
2. Check in device manager the USB Port.
3. The device appears to be recognized correctly.
![image](https://user-images.githubusercontent.com/18474082/106288335-3f7c0280-628b-11eb-9f2e-ed93683e02bc.png)
4. Run [R

[2021-01-29 15:33] diablodale opened #1499 "add template param for pointer type to `k4a::image::get_buffer()`"
I suggest adding a c++ template parameter to `k4a::image::get_buffer()` so that the pointer type returned can be easily controlled. There is significant probability the image buffer doesn't contain 8-bit data, and significant probability the caller needs a pointer other than `uint8_t*`. This is extremely common when interoperating with OpenCV.

[code]

**Describe the solution you'd like**

Could b

[2021-01-29 16:07] kdquine commented on #1478
It turns out compressing pngs (with libpng at least) takes a good chunk of time (50ms?) and we were silently dropping frames.  Would need a faster solution than the one I tried.  ZDepth looks pretty fast!

[2021-01-29 16:51] tokawa-ms commented on #1498
**Additional Info**
I can use AKDK as a USB Web Camera by Photo App. (I can capture the video stream from AKDK with Windows Photo App.)
But I can't connect AKDK with Azure Kinect Sensor SDK / Body Tracking SDK.

[2021-01-29 22:04] qm13 commented on #1473
@SimoSR this may be related to a firmware issue that we are in the process of fixing. What happens when you use the supplied cables in the same configuration? Can you replicate the power issue? Same for the RGB camera.

The RGB camera issue usually occurs when you have another application access the RGB camera.

[2021-01-30 03:03] asergaz commented on #1481
Related thread in Microsoft Q&A: https://docs.microsoft.com/en-us/answers/questions/238927/index.html

[2021-01-30 12:18] SimoSR commented on #1473
@qm13 thank you for the reply, below a detailed description of the problem and how to replicate it

**ISSUE WITH POWER EXTENSION**

**Configuration adopted**

1. AKDK with both supplied cables plugged in
2. Extend the power cable with a 5 meters USB cable extension (no matter if it's acrtive or passive, 2.0 or 3.0)

**Describe the bug**
If the data cable is plugged in before the power cable the ho

[2021-01-30 14:02] SimoSR commented on #1473
**ISSUE WITH DATA EXTENSION**

**Configuration adopted**

1. AKDK with both supplied cables plugged in
2. Extend the data cable with a 5 meters USB 3.0 active cable extension

Example of cable tested:

- https://www.amazon.it/gp/product/B08B8P1VFR/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1
- https://www.amazon.it/CSL-ripetitore-Extention-amplificazione-amplificatore/dp/B00O1X82UC/ref=pd_all_

[2021-01-31 01:43] #1429 closed, assigned to qm13

[2021-01-31 09:03] SimoSR commented on #1409
Any news regarding compatibility with ASMedia Controllers? at the moment it seems that chipset is the only one adopted on PCIe cards with USB type-C ports available on the market.

[2021-01-31 19:34] bumbastic commented on #1496
I have the same issue. I have a product ready, that would require 20-50 Kinects in the first year, this year. But can I trust that Microsoft will continue to deliver?

[2021-02-01 04:56] AshokPeddakotla-MSFT commented on #1471
Same question posted on Stack Overflow: https://stackoverflow.com/questions/65755240/toothpick-and-azure-kinect-depth

[2021-02-01 14:14] tostercx commented on #1471
Don't have a toothpick, but a roughly-toothpick-sized screwdriver gets picked up up to ~1m (using unbinned NFOV mode). You can see it's distorted in the depth camera tho - way thicker than it should be. The shape seems to be somewhat accurate up to ~40cm give or take. I don't think it's really built for this tho ^^;

![image](https://user-images.githubusercontent.com/4965387/106469740-56e40700-64a

[2021-02-01 22:19] qm13 commented on #1498
@tokawa-ms do you have a task in the background e.g. k4aviewer that is accessing the Azure Kinect depth camera? The depth camera cannot be accessed by more than one application at the same time.

[2021-02-02 00:43] UnaNancyOwen commented on #1499
This is a good idea. This will not have any bad side effects to existing code, because template parameter is set to default uint8_t.

[2021-02-02 02:59] tokawa-ms commented on #1498
@qm13 I have no process or task in the background. I'm accessing from only one process.

How can I capture any verbose log for this kind of issue?

[2021-02-02 12:30] logic03 opened #1500 "Question about external parameters for depth"
我在实验的时候，k4a_calibration_t获得的深度图的内参是正确的，但是得到的深度图外参一直都是固定的数值如下：
rotation	{1.00000000, 0.000000000, 0.000000000, 0.000000000, 1.00000000, 0.000000000, 0.000000000, 1.00000000}
translation{0.000000000, 0.000000000, 0.000000000}
请问是为什么呢？我应该如何获得一个摄像机的深度图外参呢？
________________________________________________________________________________________________________

When I was doing the experiment, the inte

[2021-02-02 21:14] qm13 opened #1501 "Improve exposure control and add HDR support for RGB camera"
**Is your feature request related to a problem? Please describe.**
Many robotic operations require consistently exposed images. Many competing depth+RGB cameras e.g. RealSense and Occipital have better exposure control and HDR support

**Describe the solution you'd like**
Improve exposure control. Add HDR support to RGB camera.

**Describe alternatives you've considered**
Attempting to control lig

[2021-02-03 08:14] DreamOneYou commented on #867
Hi, I also encountered the same problem, but I don’t understand your solution very well. Can you tell me more about it? This is my mistake.
[2021-02-03 16:01:40.184] [error] [t=17228] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\allocator\allocator.c (118): k4a_capture_t_get_context(). Invalid k4a_capture_t 000002698D1926B0
[2021-02-03 16:01:40.184] [error] [t=17228] D:\a\1\s\extern\Azure-Kinect-Se

[2021-02-04 13:59] fran6co opened #1502 "Crash on exit when the SDK is not used, only linked"
**Describe the bug**

A simple app that only links to the SDK but doesn't call any function crashes on exit.

**To Reproduce**

Create a simple app
[code]

That is linked to the SDK

**Expected behavior**

Not crash

**Logs**

![image](https://user-images.githubusercontent.com/726088/106902785-7f167480-66f9-11eb-810a-54d615590127.png)

**Desktop (please complete the following information):**
 - OS

[2021-02-04 14:03] fran6co commented on #1502
This is because https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/src/deloader/deloader.cpp#L258 calls `deloader_global_context_t_get()` that will initialize the plugin for the first time for then to tear it down. A fix would be adding a way to check if the singleton had been created before destroying it

[2021-02-04 14:13] matanox commented on #1263
Reading through the thread I'm a little confused on whether the depth engine is or is not available for use on 20.04 as of now. Hopefully a solution / response to @atinfinity's comment would clarify the current state regarding getting to full functionality on 20.04 ...

[2021-02-04 14:40] LogWell commented on #588
@rabbitdaxi  How to obtain aligned, undistorted RGBD data, in this case the amount of calculation for **projection** and **unprojection** is very small.

[2021-02-04 14:43] LogWell commented on #588
@1106204321 Please ref:
    /Azure-Kinect-Sensor-SDK/include/k4ainternal/transformation.h
    /Azure-Kinect-Sensor-SDK/src/transformation/*

[2021-02-04 16:22] jelling commented on #1349
Has anyone made progress on this problem? I want to track an object/marker at ~6 feet distance and am trying to understand the best options with Kinect or otherwise. ARKit on iOS works up to about 1 meter / 3.5 feet.

[2021-02-04 23:41] brontesprocessing commented on #1496
That's pretty interesting for me too

[2021-02-05 10:00] SimoSR commented on #1473
@qm13 please, can you re-open this issue? at the moment the problems are not solved.

[2021-02-07 01:51] dbruning commented on #1496
[Azure depth platform](https://devblogs.microsoft.com/azure-depth-platform/) is now a thing - there are a couple of recent blog posts on there.

My interpretation is: "we have some truly great ToF technology but outside of HoloLens we don't really know what to do with it. KinectDK seemed like a good idea at the time, but it's too much work to support (too many different use cases) and not our core

[2021-02-07 21:37] JianxiangFENG commented on #627
hey,
I got the same error, have you solved it ?

[2021-02-08 08:50] lukexi commented on #810
+1, would be very grateful to be able to run the Azure Kinect without X11 running. Vulkan has stable & well supported provisions for X11-less GPU usage, if that's an option.

[2021-02-08 10:29] pmelio01 commented on #1183
Hello @anantley ,

I have a similar problem. I imported my character to the scene, I also added the script, but it's not working.

any ideas?

[2021-02-08 16:43] anantley commented on #1183
Did you make the character a humanoid in Unity?

[2021-02-08 19:45] qm13 commented on #1496
Thank you for your feedback. Azure Kinect DK is part of Microsoft’s Azure depth platform program, aimed at democratizing cloud connected 3D vision, we are working to establish an ecosystem of camera makers, ISVs, and SIs, to build solutions based on our 3D ToF and Azure platforms. For more information please visit : https://aka.ms/azure3d.

If you are interested in learning more, partnering or bec

[2021-02-09 02:51] dbruning commented on #1496
Thanks for the response. I will email to connect directly, but could you please answer the central question of this issue: is this SDK still supported? Put another way: can we release products based on this SDK (and the Azure Kinect) camera, knowing that it will continue to be supported into the future? Or do we need to wait for other partners in this ecosystem to release commercial hardware?

[2021-02-09 10:09] NickAtMixxus commented on #1496
So what does it mean?
In the long run, sounds good if it leads to more cameras.
In the short run, for now, is there a Kinect for Azure device? Will it ever be sold to the public?
If not, can't help think it's really sad. Unlike Titanic, Kinect V2 didn't sink, it was sunk. Yet still, my Kinect V2 is here working splendidly and in theory I could develop many apps for it but if it gets broken I can't

[2021-02-09 12:03] pmelio01 commented on #1183
By default my character was set as a 'Generic'.
Setting it to 'Homanoid' it got working.
Thank you

[2021-02-09 12:05] zapaishchykova commented on #1488
here is to find the calibration intrinsics: build from source azure sdk using this https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/building.md and then build a calibration_info.exe https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/calibration which outputs the intrinsics. Hope this helps!

[2021-02-09 14:31] vinesmsuic commented on #1263
Hi, have you tried using [Azure_Kinect_ROS_Driver](https://github.com/microsoft/Azure_Kinect_ROS_Driver) with k4atools on Ubuntu 20.04 as well? I am getting  `ERROR: cannot launch node of type [robot_state_publisher/state_publisher]:` on whatever script I run after trying to run on ros noetic.

I wonder if Azure Kinect really supports Ubuntu 20.04 with ROS driver.

[2021-02-09 14:59] xiaoguitoucode opened #1503 "About k4a_calibration_2d_to_3d"
Hello, I have a problem: I want to transform the pixel coordinates (x_2d, y_2d) of a certain point to obtain the three-dimensional coordinates (x_3d, y_3d, z_3d) of the point in the depth camera coordinate system. The code is as follows.
My question is:
1) The actual coordinate system is different from the coordinate system in the official document in my test environment. For example: pixel coordi

[2021-02-09 15:59] lintianfang opened #1504 "How to use the green_screen.exe for multiple azure kinect"
I have generated a green_screen.exe in the path Azure-Kinect-Sensor-SDK\build\bin\Release\ using CMake and VS2019(x64), when I double-clicked the green_screen.exe, it cannot run, could anyone give me a hint on it?
<img width="553" alt="87f5a5518c63adaca01e4415eac25ed" src="https://user-images.githubusercontent.com/36758433/107390567-1d3e7c00-6af8-11eb-973a-987fc74c8f89.png">

Many thanks!

[2021-02-09 21:25] qm13 commented on #1496
All - yes, both SDKs are still supported and you can expect to see updates to both in the next few months.

The other more important from a commercialization POV is we are working on an update to Sensor SDK aligned with commercialization to support the commercial modules and cameras. The current Sensor SDK makes some assumptions around AKDK which need to be broken. Expect to make some code changes

[2021-02-09 22:45] dbruning commented on #1496
Thanks for that update, it's great news. Can I just check I understood correctly:

- AKDK = Azure Kinect Developer Kit (the Azure Kinect camera hardware)
- Sensor SDK = Azure Kinect Sensor SDK (this repo)
- The Sensor SDK will be broadened in the next few months to work with upcoming commercial hardware, not just the AKDK
- The AKDK hardware itself will also be updated in the next few months

[2021-02-09 22:50] #1492 closed, assigned to qm13

[2021-02-09 22:53] qm13 commented on #1496
Almost correct. The last point is the AKDK hardware will get a firmware update in the next few months. This will be included in an update to the Sensor SDK (note that this is not the update that will add commercial sensor support, that is later in the year).

[2021-02-09 22:54] #1493 closed, assigned to qm13

[2021-02-09 22:56] #1489 closed, assigned to qm13

[2021-02-09 23:04] #1485 closed, assigned to qm13

[2021-02-09 23:09] #1461 closed, assigned to qm13

[2021-02-09 23:13] #1471 closed, assigned to qm13

[2021-02-09 23:13] #1442 closed, assigned to qm13

[2021-02-09 23:16] #1431 closed, assigned to qm13

[2021-02-09 23:16] #1430 closed, assigned to qm13

[2021-02-10 07:36] SimoSR commented on #1496
Hi Quentin, thank you for the information provided, they are all very usefull!

Some additional questions to better understand the situation:

1. Can you explain better what do you mean with "commercial sensor support" that is coming later this year?
2. Do you refer also to the AKDK camera (HW) or just to the SDK (SW)?
3. Will it be an extension of the available markets to buy (at the moment limit

[2021-02-10 13:23] Zailux commented on #1386
Any update on this setup ? Does it really work ?
And regarding the USB-C splitter. Are you refering to this product?
https://www.amazon.de/Belkin-USB-C-Splitter-Ladeadapter-USB-C-Kopfh%C3%B6rer-Adapter-Schnellladen-Schwarz/dp/B086R4KX23/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=belkin+usb+c+splitter&qid=1612963201&sr=8-3

So you are telling me, u have bought
4x Splitt

[2021-02-10 15:55] lintianfang commented on #1504
it works now, can be run by command line

[2021-02-10 15:55] #1504 closed, assigned to nobody

[2021-02-10 22:13] qm13 commented on #1354
@jmachowinski we have been investigating this issue using an ASMedia 3142 card and can see a bunch of device level issues in the USB traces. However whilst these issues result in dropped frames they should not result in k4viewer stopping. We would like to get a little more coverage on this and ask you to perform the following test.

Repeat you test using the built in webcam application instead of

[2021-02-11 19:34] arudomanenko opened #1505 "Azure Kinect point density"
Hi! Thank you for great API for kinect)
Unfortunately, I have a question about hardware of device, because I didn't find it in datasheet
How much is density of device is? If I have a square object 400mm x 400mm x 10 mm, how many point I will have in point cloud, based on kinect capture?
Sorry, if a question is little bit irrelevant to repo

[2021-02-12 11:21] nvibd commented on #370
Bump, I am also still interested in this.

[2021-02-12 12:32] jmachowinski commented on #1354
@qm13
Are you refering to webcam by Gerd Knorr ? If yes, shall I use a special configuration or just the default one ?

For my last test I used guvcview

[2021-02-12 12:49] jmachowinski commented on #1354
I just repeated the test using guvcview,
the camera fails after 5-10 minutes.

Kernel : 5.4.0-65-generic
RGB camera firmware:      1.6.110
Resolution: 4K

[2021-02-12 16:00] jmachowinski commented on #1354
I also repeated the test a second time using guvcview
with reduced resolution to 720P. This one is running now
for 3 hours without problems.

[2021-02-12 17:12] jmicho commented on #1283
@hardyzhuang @qm13 Any updates on this?

[2021-02-12 22:45] omidb commented on #388
hi, any update on this?

[2021-02-12 23:24] DrMaxP commented on #1496
Can you say any more about this... "The AKDK hardware itself will also be updated in the next few months". Having just bought my fourth sensor wondering if something interesting odds on its way.

[2021-02-12 23:26] DrMaxP commented on #1496
The linked blog post on improved depth performance in more challenging environmental conditions was interesting. Are these the kind of improvements we might expect to come to the AKDK via firmware updates or SDK changes?

[2021-02-13 13:13] Tokusei opened #1506 "Depth Camera artefact smoothing"
Hi, I am trying to use the depth camera to drive a particle system in Unreal Engine, I am using WFOV (2x2) buffer. There are artefacts in the image which produce erroneous pixel values (usually appear and disappear for a frame or two)

Does the SDK have some way to interpolate across frames to remove any artefacts, or are there any other methods which I could use?
you can see the red arrows point

[2021-02-13 19:55] natejenkins commented on #627
Hey @JianxiangFENG , what worked for me was downloading the library from https://www.nuget.org/api/v2/package/Microsoft.Azure.Kinect.Sensor/1.4.0-alpha.4 and placing libdepthengine.so.2.0 in build/bin.  The instructions here: https://github.com/valdivj/Azure-for-Kinect-Jetson-nano were helpful to me.

[2021-02-15 08:10] jmachowinski commented on #1354
The 720P test ran over the weekend (~60 Hours in total) and is still fine.

[2021-02-15 17:15] SimoSR commented on #1385
@qm13
I have the same issue: i would like to cover the camera with an additional enclosure to increase the protection against dust and water.
Can you provide specifications for glass/plexiglass covering of IR projector and depth sensor to avoid interferences?

[2021-02-15 21:47] drhalftone opened #1507 "can't compile C:2039 error cinttypes.h"
Never had a problem compiling my code before using Qt with VS2017; however, I now have brand new Windows laptop with VS 2019 Community and Qt 5.12.2 and now pops up an error I have never seen before:

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29333\include\cinttypes(23): error C2039: 'imaxdiv_t': is not a member of '`global namespace''
C:\Program Files (x86)

[2021-02-16 00:30] drhalftone commented on #1507
I was able to fix the issue by commenting out all references to the cinttypes.h header, which brings up the obvious question why are the references there in the first place?

[2021-02-16 03:23] qm13 commented on #1354
@jmachowinski this seems to point to low level issues with some USB controllers under high bandwidth utilization. Some apps do better at handling the issues than others. How does the k4aviewer run with 720P?

[2021-02-16 12:39] guobenyu1976 opened #1508 "k4abt_simple_3d_viewer.exe can not be run in RTX3070 laptop graphc card"
I just bought a new asus air2 (RTX 3070 laptop graphic card) to replace the old thinkpad. The sdk, cuda, cudnn is new.

1, Azure Kinect SDK(1.4.1) and viewer is ok. device is ok.
2, k4abt_simple_3d_viewer.exe can be run in cmd line as "k4abt_simple_3d_viewer.exe CPU"
3, device and k4abt_simple_3d_viewer.exe is ok in my old thinkpad

but, if i double click k4abt_simple_3d_viewer.exe in asus air2 no

[2021-02-16 12:49] guobenyu1976 commented on #1508
the system information is as below:
![software](https://user-images.githubusercontent.com/60568385/108065010-619dbf00-7098-11eb-930f-609d0745a226.jpg)

![hardware](https://user-images.githubusercontent.com/60568385/108064962-5185df80-7098-11eb-8dcb-f1bbd6995110.jpg)

[2021-02-16 15:37] RoseFlunder commented on #1508
Known issue and according to Microsoft a patch comes soon:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1481#issuecomment-763288112

[2021-02-16 15:38] ben-kraus commented on #1283
Can reproduce the issue with Jetson Xavier NX and Jetpack 45.

[2021-02-16 18:10] drhalftone commented on #1507
What is the solution?

Sent from my iPhone

[2021-02-16 18:40] qm13 commented on #1505
The Azure Kinect camera resolution is 1024 x 1024 with a 120deg FOV. This means the angular resolution is ~8.5 pixels per degree. How many degrees of FOV is covered by the square object depends on the distance the camera is from the object. You can use simple trigonometry to calculate the angle based on the distance.

[2021-02-16 19:56] qm13 commented on #1507
@drhalftone How is this related to Azure Kinect?

[2021-02-16 20:41] drhalftone commented on #1507
They are your header files (k4a/*.h) that are causing the problem.  I deleted the "#include <cinttypes>” calls and then everything compiles fine.

On Feb 16, 2021, at 2:56 PM, qm13 <notifications@github.com> wrote:

@drhalftone <https://github.com/drhalftone> How is this related to Azure Kinect?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <

[2021-02-17 03:01] qm13 commented on #1507
@drhalftone From your comments you imply that this project - using QT and Azure Kinect - used to compile ok on VS2017 but after upgrading to VS2019 no longer compiles? What happens when you compile a Azure Kinect sample (that does not use QT)?

[2021-02-17 10:24] jmachowinski commented on #1354
@qm13 I still don't think the USB controller is the issue here. The bandwidth usage is actually very low,
usbtop shows a maximum of 8 MB/sec if the 4K stream is active, plus ~1.7MB/sec for depth and ~1.7 MB/sec
for imu and microphone.
I can copy data at 500 MB/sec the whole day long from an ssd without issues.

Also note, we are using a Basler USB Card (https://www.baslerweb.com/de/produkte/vision

[2021-02-19 10:26] baihaozi12 opened #1509 "color image distortion correction request"
**We want use the caputured image to do the stitching tasks but got unexpect result**

we want use the captured image to do the stitching(panorama) tasks, but we find the camera distortion affect the stitch image. We use the correction parameter(k1,k2,k3,k4,p1,p2) to  do the distortion correction(using opencv framework) but the  result we got is unexpected. Is there any ideas to doing this tasks?

[2021-02-19 15:10] lintianfang commented on #1509
I think I have the same issue as you have

[2021-02-19 18:17] TacoDevelopment commented on #789
@rabbitdaxi in my company we are facing similar issues. Is it possible to make this interpolation configurable/skippable?

[2021-02-19 19:27] Azzedine-Touazi commented on #1232
Hi @qm13

Any update relative to this issue? If not, are there other AI devices which support Azure body tracking SDK?

Cheers.

[2021-02-20 02:36] Wzj02200059 commented on #1509
I meet the same problem，did u slove it ？baihaozi？

[2021-02-20 03:00] baihaozi12 commented on #1509
@Wzj02200059 not yet

[2021-02-21 13:55] diablodale commented on #1509
Hi. I am successful using the Kinect SDK and OpenCV to undistort color images. There is example code the SDK to demonstrate how to do it.

What are your "result we got is unexpected"? What is unexpected?

[2021-02-21 18:22] diablodale opened #1510 "body track DLL fails to manage dependencies: ignores DLL load path, probably missing manifest,"
The body tracking dll `k4abt.dll` is improperly checking-for and loading dependent DLLs. This results in a failure to load k4abt.dll and cascades up to parent DLLs/EXEs.

It appears k4abt.dll lacks code to manage its own DLL load path and/or a manifest. Without these, Windows follows a well defined series of steps to find body tracking dependent DLLs. And can easily lead to failures.

Many custome

[2021-02-22 08:14] lintianfang commented on #1509
Thanks for your reply! If you use the function k4a_transformation_depth_image_to_point_cloud() or k4a_transformation_color_image_to_depth_camera(), the distort demo works well. However, if you want to write a function by yourself, it cannot work correctly. Usually, I create my own functions map_color_to_depth() and map_depth_to_point() using the intrinsic parameter, instead of converting the whole

[2021-02-22 10:36] diablodale commented on #1509
Have you consulted https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/fastpointcloud?
In that example, they show the needed code to transform a depth pixel to a pointcloud point.
Perhaps, you can use that general approach, while also adding in the undistort matrix transform for the intrinsics.

[2021-02-22 14:32] foohyfooh commented on #1366
Has anything has been done to make progress on this issue?

[2021-02-22 18:46] #1505 closed, assigned to qm13

[2021-02-22 18:54] qm13 commented on #1498
https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#collecting-logs

[2021-02-22 18:58] qm13 commented on #1496
@DrMaxP these are coming in future depth modules / cameras developed by vendors in partnership with Microsoft depth team. Some of this (particularly depth engine improvements) will made available for the current Azure Kinect DK through an upgrade to the Sensor SDK.

[2021-02-22 19:03] #1480 closed, assigned to qm13

[2021-02-22 19:04] #1488 closed, assigned to qm13

[2021-02-22 19:28] #1476 closed, assigned to qm13

[2021-02-22 19:29] #1469 closed, assigned to qm13

[2021-02-22 19:31] #1440 closed, assigned to qm13

[2021-02-22 19:33] #1437 closed, assigned to qm13

[2021-02-22 19:35] qm13 commented on #1508
Duplicate of https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1481

[2021-02-22 19:35] #1508 closed, assigned to qm13

[2021-02-22 19:36] qm13 commented on #1484
Duplicate of https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1481

[2021-02-22 19:36] #1484 closed, assigned to qm13

[2021-02-22 23:19] UnaNancyOwen commented on #1481
@qm13 How is the update release going? I'm looking forward to it! Thanks, 😄

[2021-02-23 08:40] lintianfang commented on #1509
Thanks so much for your reply! By using k4a_calibration_2d_to_3d(&camera_calibration, &p, depth, K4A_CALIBRATION_TYPE_DEPTH, K4A_CALIBRATION_TYPE_DEPTH, &ray, &valid); , it did get correct result of a point! But I am still curious about, how to get the point by using intrinsic as shown in the following snippet, there should be a filter that is unpublished

                double fx_d = 1.0 / intri

[2021-02-23 11:31] MaxPalmer-UH commented on #971
In this setup was data being recorded? If so, how did the system cope with data being written to disk as the number of sensors increased? Did it become a limiting factor?

[2021-02-23 17:29] jaygullapalli commented on #1500
Could you provide the sequence of function calls (or code snippet) that you use when you get this information? It will provide a better insight for us into the issue.

[2021-02-23 18:25] rabbitdaxi commented on #1503
- your function convert_2d_depth_to_3d_point_cloud has last two parameters in order of: float coordinate_x, float coordinate_y, but your printf: "y_2d = " << point_2d.xy.x << " | x_2d = " << point_2d.xy.y has this reversed.
- when you unproject the center pixel, it indeed should give you a 3d point that has x_3d, y_3d near 0, 0. But not exactly 0, 0 because the principle point is not at center of

[2021-02-24 01:13] qm13 commented on #1354
@jmachowinski the dev investigating this issue has not been able to repro it. He does not have access to a Linux box and investigated the issue on his Windows box. I am working on getting him a Linux box. In the mean time would you be able to attempt to repro the issue on Windows.

[2021-02-24 02:54] qm13 commented on #1486
@tostercx please also look at https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1420.

There may be other bugs in the sample code. You are welcome to submit fixes.

[2021-02-24 20:07] diablodale commented on #1509
If `k4a_calibration_2d_to_3d()` worked for you, you can view all the code for that. It here is in the repo.
That function calls several functions, if you follow the code one of the functions it calls is...
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/61951daac782234f4f28322c0904ba1c4702d0ba/src/transformation/intrinsic_transformation.c#L233

I recommend you start at `k4a_calibration_2

[2021-02-24 20:11] albug commented on #1301
I was able to duplicate the issue with the v1.4.1 SDK and the latest updated FW drivers (110/80/14).

I think this may be an issue with the K4aviewer, where it assumes that no other app is using the Kinect device, when it opens the Kinect device and starts/configures the Depth/IMU/Audio peripherals in the camera. See the log below.

[code]

I have an additional clue. If the k4aviewer is started fi

[2021-02-25 08:14] wangwwwwwwv commented on #1217
Hi i'm facing the same questions.
Have you made any progress recently?

[2021-02-25 10:28] lintianfang commented on #1509
Thanks very much！！！

[2021-02-25 12:47] seigeweapon commented on #1479
alright, waiting for the good news

[2021-02-25 12:47] #1479 closed, assigned to HlibKazakov2000

[2021-02-25 16:55] zirkeltraining commented on #1481
Same here, we're anxiously hoping for the fix, otherwise we need to return that expensive new Machine….

[2021-02-25 18:46] Shureshure commented on #1481
@qm13 mid February 2022? or 2023?  How long it will take? it would be nice to know how the situation is.

[2021-02-25 19:54] diablodale opened #1511 "color exposure wrong (too dark) when camera opened, set as MANUAL, then frames grabbed"
Exposure of color frames are incorrect when the startup sequence is immediately MANUAL. This fails with frames that are too dark...

1. open kinect sensor
2. set color exposure=MANUAL and val=30000
3. grab frames  <-- *frames are too dark*

In contrast 🥁, the following sequence is successful. The frames in step 5 are desired exposure

1. open kinect sensor
2. set color exposure=AUTO and val=0
3. g

[2021-02-26 10:11] nh236 opened #1512 "Recording corrupted if drive is full"
**Describe the bug**

When recording with k4a_recorder and the hard drive becomes full, the recording is aborted.
The data is there, but the file cannot be opened with k4a_viewer ("Failed to open recording").

Trying to access the file from code (C++) using `k4a_playback_open` returns the error

[2021-02-26 10:42:21.104] [error] [t=25909] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/record/sdk/play

[2021-02-26 12:33] flugi commented on #1342
Any news on ARM64 support for Body Tracking? I have read somewhere an estimation that Xavier NX will be capable, is there any information about this regard?

[2021-02-27 17:53] diablodale opened #1513 "missing k4a::image::set_system_timestamp(ns)"
The k4a::image class is missing the C++ version of `k4a_image_set_system_timestamp_nsec()`
It has no `k4a::image::set_system_timestamp(ns)`

There is only the ambigious `k4a::image::set_timestamp()`. Looking at the code, it is setting the device timestamp.

### Setup

* Kinect 4A SDK v1.4.1
* All platforms

### Repro

Review the code. There is no `k4a::image::set_system_timestamp(ns)`

### Result

[2021-02-27 18:51] diablodale opened #1514 "update k4a c++ functions to support function chaining"
I request all possible k4a C++ functions be updated to support function chaining.
In general this means all possible functions do not return `void`. Instead, they return references to their own class.

For example
[code]

The sdk code changes are trivial. For example...

[code]

[2021-02-28 17:22] Chang-Che-Kuei opened #1515 "How to apply joint quaternions to the rigged model in Blender?"
Sorry it is not a bug.
I would like to ask how to apply the joint quaternions to the rigged Mixamo model in Blender?
I know there is a Unity sample project doing such work.
The coordinate system between Unity and blender are different which makes me confused.
I already got the quaternions from SDK but stuck at coordinate system.

<img width="1096" alt="截圖 2021-03-01 上午12 33 53" src="https://user-i

[2021-03-01 05:38] telhabilal-arbisoft commented on #1481
Do we have any updates regarding the 30 series update release?

[2021-03-01 12:21] jmachowinski commented on #1354
@qm13 Sorry for the delay, has been a busy week...
We don't have windows licenses for our preproduction and developer machines,
therefore I don't see a way to run a test on windows.

I still want to perform a linux test, and check the timing of the iso transfer packages, but
had no time yet, I'll report back when I have results.

[2021-03-01 15:27] ljunquera opened #1516 "When running k4aviewer.exe - "The procedure entry point GetDpiForSystem could not be located in the dynamic link library [path]\k4aviewer.exe""
I have downloaded and installed the latest sdk 1.4.1 and I ran the AzureKinectFirmwareTool (1.6.110). I am running on Windows 10.

When running k4aviewer.exe - "The procedure entry point GetDpiForSystem could not be located in the dynamic link library [path]\k4aviewer.exe"

[2021-03-02 00:03] vijayvuyyuru opened #1517 "Code for Merging Skeletons"
Is there any code publicly available that shows how to merge multiple body tracks of the same body from different angles into 1 unified track? I have the calibration data necessary to get the transforms between multiple cameras. I am aware of using joint confidence to do this but I was hoping there was already code for this application.

[2021-03-02 02:37] guobenyu1976 commented on #1481
@qm13 i also want to know the date update. if it could be release this week, we could wait for it. otherwise we need to borrow/buy another 20 series computer to let the project go on.

[2021-03-02 07:59] seigeweapon opened #1518 "order of coefficients in raw calibration intrinsics"
hi, This is a question, not a bug report.

In the raw calibration json, I can get 14 parameters, as below:
`{
        "CalibrationInformation": {
                "Cameras": [{
                        "Intrinsics": {
                                "ModelParameterCount": 14,
                                "ModelParameters": [0.49079370498657227, 0.503465473651886, 0.49270063638687134, 0.4927991032

[2021-03-03 06:28] guobenyu1976 commented on #1508
Hi, qm13, when will the exe be updated?

when i met the problem, you said it is going to update in mid February.
So i wait the update and did other part of the project.
Now it is March. and the exe did not update yet.
the project has to solve it. We have to wait for the update or change the hardware.

May i know the planned date to update the exe?
if it is going to update this week or next week, i

[2021-03-03 12:32] ljunquera commented on #1516
I have been installing updates on the os and it is working now.

[2021-03-03 12:32] #1516 closed, assigned to qm13

[2021-03-03 14:38] Brekel opened #1519 "Body Tracker mid-February 2021 update delayed?"
There have been mentions of a Body Tracker SDK update being right around the corner, scheduled for mid February 2021, bringing NVidia 3000 support (and hopefully other improvements).

Is there any word on the delay and/or a new estimate?
Numerous people are eagerly awaiting it so even a beta would help tremendously.

[2021-03-03 15:26] zhaocheng-hub opened #1520 "Camera calibration"
Hello, my depth image and color image don't match very well. How do I need to calibrate my camera.

[2021-03-03 18:12] diablodale commented on #1520
https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions

[2021-03-04 01:09] zhaocheng-hub commented on #1520
@diablodale  , Hello,
I'm referring to the depth image and color image obtained by capture, and use them to calibrate the camera calibration data. The  'transformation_color_image_to_depth'  image I got is not very good.

I want to find a calibration method similar to "https://github.com/code-iai/iai_kinect2/tree/master/kinect2_calibration"

[2021-03-04 01:31] qm13 commented on #1100
Won't fix

[2021-03-04 01:31] #1100 closed

[2021-03-04 01:48] diablodale commented on #1520
That link you provided is a good resource. The procedure and technology to create calibration matrices is well documented throughout the internet. I recommend you google "how to create camera calibration matrices".

Also, consult the OpenCV API reference to learn how to use their APIs to sample many frames/images, tag them, and then create calibration matrices from them. The more samples, and the

[2021-03-04 02:03] zhaocheng-hub commented on #1520
@diablodale   Hello, thank you for your advice.

I have tried to use 'opencv', 'ROS' and' matlab 'for calibration, but the calibration structure I got is not good, probably because of my lack of ability. I hope there is an official way to use and learn

[2021-03-04 14:35] diablodale commented on #1100
For those needing archive for long-term support, I was able to get a scrape of the most important body tracking APIs using the following. It is not pretty. Yet, start browser navigation at modules.html and the right pane content and links seem to work. 🤦‍♀️

[code]

[2021-03-04 19:14] qm13 commented on #1519
Sorry for the delay. Adding RTX 30xx support threw up some unexpected issues. We plan to build the final release candidate Friday and publish the release early next week.

[2021-03-04 19:26] Brekel commented on #1519
That's great to hear, thanks for sharing that info!

[2021-03-04 19:26] #1519 closed, assigned to qm13

[2021-03-04 22:49] qm13 commented on #1518
Yes the order of parameters is the same as k4a_calibration_intrinsic_parameters_t. A few extra points:
Few extra notes

1. codx=cody=0
2. Both principal points and focal length are normalized wrt image width and height
3. metric_radius is irrelevant.

[2021-03-05 03:02] #1518 closed, assigned to qm13

[2021-03-05 12:31] rfilkov opened #1521 "Open source BT SDK"
Please consider again open-sourcing the Body Tracking SDK, unless there is something really secretive and proprietary in it. This may help workaround the major issues, because many users would try to improve it in many directions. It may ease and help the team at the same time. The blockers with the NVidia and other GPUs could have been solved months ago, if the source was open.

[2021-03-07 23:10] dimitrijevic commented on #1496
Could you comment on the price point of those future depth modules / cameras please...AKDK with the same price it had when it came out a year ago and having new devices come out in the near future with better specs for lesser or even equal price is bad...anything coming in terms of AKDK price cuts or 'sweetening the pot' with extra software or azure services included would make it better, or havin

[2021-03-08 02:23] bumbastic commented on #1496
Kinect is awesome! For almost 10 years now, the 360 Kinect Party App, has been the center of events, and always a big hit, at my kids birthday parties. My 11 year old boy just found my old kinect 360 and kinect 2 PC adapters, and Odyssey HMD. He put it together by him self, and now he is showing off in VR chat, using the kinect for full body tracking. Myself, I'm using the k4a for fast 3D mesh rec

[2021-03-08 13:25] greatwallet commented on #1473
I know it's irrelevant with your issue, but how did you extend your power cable?

[2021-03-08 13:28] greatwallet commented on #427
Have you got any results?

[2021-03-08 13:43] greatwallet commented on #745
Is there any recommended amperage?

[2021-03-08 14:02] greatwallet commented on #427
I don't have any USB-C port on my host, so does an usb-A to usb-C converter work in this case?

[2021-03-08 16:54] alan-newnex commented on #427
Unfortunately no, only a native USB-C port will be able to support PD feature. It will keep the data transfer, but you will still need to connect the USB power adapter for the power.

[2021-03-08 17:44] vladalx commented on #1510
Configuring the dll search path(s) is the responsibility of the programmer not of the library.
The VerifyDependencies functions only checks for the installation of two critical components, CUDA and CUDNN.

[2021-03-08 18:39] diablodale commented on #1510
Hello. You seem to be a new user or perhaps a bot.
I believe you are errant in your post. I must point out that you did not read my information above as I documented correct usage of DLL search paths and that `VerifyDependencies()` is incorrectly looking in CWD rather than the DLL search path.

Unless you can provide specific information, I believe your post is not relevant to this conversation.

[2021-03-09 01:55] qm13 commented on #1521
There are no plans to open source the Body Tracking SDK. The DNN model is inferenced using ONNX Runtime which is open-sourced.

[2021-03-09 02:03] greatwallet commented on #427
Does this cable support thunderbolt 3 port? If it does, will it be okay if the laptop remain uncharged when connecting the camera via this cable?

[2021-03-09 04:00] 37 commented on #1517
In case it's helpful, a good starting point might be bayesian methods like ekf / ukf trackers, ie: https://github.com/LCAS/bayestracking

You'll have to solve for streaming point data from each kinect and tranforming to a single global space first though.

[2021-03-09 07:52] rfilkov commented on #1521
OK. Thank you for the sincere response! It was expected.
Unfortunately, the body tracking ruined this otherwise great sensor.

[2021-03-09 07:52] #1521 closed, assigned to qm13

[2021-03-09 11:52] zapaishchykova commented on #1442
Did anybody tried connecting directly 3+ Kinects? I am turning on them one by one, and in configuration with 2 it works but with 3rd one it always throws an error like ("Open K4A Device Failed"). I tried to put time sleeps 1-2 seconds between cameras ons and offs but it does not help. Do you have any suggestions how to overcome this?

[2021-03-09 13:45] sgrafbus commented on #1481
@qm13 and responsible MS folks: Can we please get an update on the status or your latest plans to support the NVIDIA 3xxx range of GPU cards for the Azure Kinect body tracking? We have a core development project relying on the use of the feature in combination with the 3xxx GPU performance, so would appreciate a transparent update on what we can expect by when, please. Thank you!

[2021-03-09 14:08] RoseFlunder commented on #1481
@sgrafbus in this issue is the latest update:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1519#issuecomment-790861711

So hopefully this week.

[2021-03-10 02:08] hayeonp95 opened #1523 "Azure Kinect Camera Update to highest specification"
Hi,

It has been 10months since the azure kinect camera has updated, so I was wondering when would you do update to the highest specification?

I'm currently using azure kinect and developing fitness training at home and what concerns me is its discontinuation as no updates has been done for 10 months.

Thank you!

[2021-03-10 08:49] zhaocheng-hub opened #1524 "How do I reference the 'Azure-Kinect-Sensor-SDK' library"
Hello, I have used some methods of 'Azure-Kinect-Sensor-SDK' library in my academic paper. How should I quote them in my paper?

[2021-03-10 11:45] dimitrijevic commented on #1523
Think you should read [this](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1496)

I’d like to know if those future devices are going to be able to sync with the AKDK also, or should I purchase as many of those as I can now, given that my project’s goal was to use multiple Kinect devices in the end...

I’m guessing the new devices will have a lesser price point given LG announced mass

[2021-03-10 11:58] Brekel commented on #1523
@dimitrijevic do you have a link to LG's announcement? Sounds interesting!

[2021-03-10 15:31] dimitrijevic commented on #1523
@Brekel Sure here it is: http://www.lginnotek.com/en/itk_news/lg-innotek-joins-hands-with-microsoft-to-proliferate-cloud-connected-3d-sensing-camera/

I’d love to see a plethora of new devices out there if they can sync with each other, though I’m not sure how will they be unifying access to those on multiple platforms and if they do, could we expect them all to use the Windows.Media.Capture names

[2021-03-11 07:24] jaymimc commented on #1519
Has the RTX 3xxxx support update been published now then?

[2021-03-11 18:20] qm13 commented on #1524
@zhaocheng-hub Please refer to the library as the "Azure Kinect DK Sensor SDK".

[2021-03-12 01:12] KnoxBorquez opened #1525 "How to get Exposure Time and White Balance while in AutoMode"
Hi everyone

I need to save the Device configuration used while in AutoMode, so I can match color/brightness/etc with a future frame, but GetColorControl() gives me the set value while in Manual mode.

Any way of getting the value the device is using while in AutoMode ?

[2021-03-12 05:25] cjangrist commented on #1342
+1 for status update. Is this something perhaps the community could help contribute? If so do you have any pointers on how to go about doing this for folks staring out?

Hoping to get body tracking working on nvidia xavier

[2021-03-12 08:21] lulindeng opened #1526 "Encounter the error when build sdk on ubuntu16.04"
Hi,

I try to build sdk from the source, I followed this [reference steps](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1327#issue-683253074) to install and build.

When I run 'ninja', I encountered the error:
`[39/151] Building CXX object examples/green_screen/CMakeFiles/green_screen.dir/main.cpp.o
FAILED: /usr/bin/c++   -I/usr/include/opencv -Isrc/sdk/include -I../include -O2 -g -

[2021-03-12 08:46] lulindeng commented on #1327
Hi,

I followed your steps to build sdk on ubuntu 16.04, but when I run 'ninja', I encountered the error
`[39/151] Building CXX object examples/green_screen/CMakeFiles/green_screen.dir/main.cpp.o
FAILED: /usr/bin/c++   -I/usr/include/opencv -Isrc/sdk/include -I../include -O2 -g -DNDEBUG -fPIE -fvisibility=hidden -fvisibility-inlines-hidden   -Wall -Wextra -Wno-missing-field-initializers -Werror -s

[2021-03-12 12:15] Jeremboo commented on #1343
Hi, do you have any release date in mind for the ADM GPU support?

Thanks in advance!

[2021-03-12 13:13] Jeremboo commented on #1519
And will it be accompanied by support for other graphics cards? I'm waiting for some information about the AMD GPUs support :)

[2021-03-12 16:53] Blargstomp404 commented on #1519
New with Azure Kinect, is there a link to try out the rc for rtx 3xxx cards?

[2021-03-12 21:52] cfortney92 opened #1527 "Azure Kinect Sync Not Working"
**Describe the bug**
I'm attempting to set one Azure Kinect as a master and the other as the sub. The setup is as follows:
(Master) connected via USB to PC (i7-6820HK + GTX 1080), 7m 3.5mm TRS from SYNC OUT
(Sub) connected via USB to PC (i9-10900k + RTX 2080 Super), other end of TRS cable into SYNC IN

**Expected behavior**
To see both devices listed in the Kinect Viewer, but each PC is only showi

[2021-03-13 01:56] RoseFlunder commented on #1527
No that is exactly how it should be.
You need to start them individually on the respective PCs.
Subordinate kinects first because they wait with capturing until master is started.

[2021-03-13 04:14] cfortney92 commented on #1527
Thanks! The documentation hadn't mentioned that so I was misunderstanding. The views of the 2 cameras aren't automatically combined in the viewer after they're both synced, is there an easy method for going about this? I'm interested in using both Kinects at the same time for increased accuracy in body tracking but I'm a novice when it comes to coding.

[2021-03-15 12:35] Zumra commented on #1298
Exploring the content of the `device.GetCalibration().DeviceExtrinsics`, it seems to me that the 1D array can be indexed as:
`DeviceExtrinsics[(int)CalibrationDeviceType.Num * (int)source + (int)target]`
where `source` and `target` are of type `CalibrationDeviceType`.
This will obtain the parameters needed to transform from a source to a target 3D coordinate system.

Until there is a fix available

[2021-03-15 16:50] monsieurpyare opened #1528 "Azure Kinect's tracking of hands rotation buggy"
Hello World,
I am making a motion gaming basketball game which was done with the Kinect v2 with 2018.3.11. I want to migrate to Azure in 2019.4.4

I am hitting a roadblock. The camera is FPS and the user uses their hands to throw a ball into the net. The indexes of the bones were incorrect compared to the Kinect Azure so I changed them. In the C# script, there is one called "Metacarpal" on the rig

[2021-03-15 18:12] zirkeltraining commented on #1481
we're still waiting and would be very happy about an update on this issue.

[2021-03-15 20:43] ageorgop commented on #1409
I'm also interested in getting these chips to work.  I would even gift someone at Microsoft a card to make this happen faster.

[2021-03-16 02:56] jjoachim opened #1529 "IMU Board inconsistent orientation"
I have been orienting "up" using plane segmentation to find the ground, then finding the normal vector to represent +z in my coordinate system. In the interest of speed and simplicity, I'm experimenting using the IMU board via the gravity vector instead. My results have been confusing though. I have three sensors that all orient to ground. I have verified that the floor plane detection is working

[2021-03-16 08:51] jmachowinski commented on #1354
[StreamBreaking.zip](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/files/6147173/StreamBreaking.zip)

I finally found some time to look into this again. Above is a USB capture from the point were the stream breaks.
Interestingly enough, we can see in the dump, that an Protocol error occurred. I'm pretty sure, libusb never
reports an error. I'll add debug to verify this.

Second interesting

[2021-03-16 10:20] nguyenv7 commented on #1375
Sorry to reopen this issue.
I am getting the same problem now. The device blinking and Device Manager recognized the Azure Kinect but not constantly. It is "refreshed" the detection of this device in the same frequency as the white blinking.
This behavior happens regardless of my host devices: MS Surface book 2, Lenovo T470, my Linux PC. All of them are equipped with USB 3.0 port, try all possible

[2021-03-16 11:25] jmachowinski commented on #1354
I added some debug in the libuvc and libusb:
I see some errors in packet level, and no ones on the transfer level.
Judging from the code in libuvc (stream.c:633), errors on packet level seem to be nominal.

To debug the cause of the error, I also added debug in libusb. I see 'a lot' (~every second) of EXDEV
status codes for some packets. Also while the stream is still working I see infrequently EP

[2021-03-17 03:35] jaymimc commented on #1125
Sorry, know i have also listed this on another ticket but it suggested it was closed. As this is still an open ticket, is there any update on when SDK, CUDA and Body Tracking working with NVIDIA 3xxx cards?

[2021-03-17 04:30] greatwallet commented on #1375
Might be breakdown in device itself.
In my case, I have contacted the sales' and get a new device.

[2021-03-17 06:07] YongsunLee commented on #1481
Is this problem solved?
If not, I would like to know the official answer when it will be resolved.

[2021-03-17 07:34] seigeweapon opened #1530 "Question on how to use timestamps when playback multiple externally synced record files"
hi folks. In k4a record, you have only device_timestamp. So how do you sync between multiple externally hw-synced record files? I see there's start_timestamp_offset_usec in record config. Does this mean that each record file's device_timestamp adding this offset will be a global or cross-devices timestamp?

I did some synced capture like this:
`rec="k4arecorder -c 720p -d NFOV_UNBINNED -e 1 -l 30

[2021-03-17 09:04] nguyenv7 commented on #1375
Thanks @greatwallet :), I will contact the seller to get the new one.

[2021-03-17 10:41] HlibKazakov2000 commented on #1526
Hello,
Azure Kinect doesn't support Ubuntu 16.04. Consider updating your software to Ubuntu 18.04.

This error could be caused because your libopencv-dev version is outdated. Ubuntu 16.04 packages have version 2.x of the opencv library which is considered an old one. You can try to install a newer version from github or from the official site. But I would recommend you to update your system

[2021-03-17 10:41] #1526 closed, assigned to qm13, HlibKazakov2000

[2021-03-17 10:58] lulindeng commented on #1526
Hello,

Thanks for your reply! I understand it would be better to update the system, but I have other projects which need ubuntu 16.04. The problem has been solved by build latest OpenCV version from the source. and now the `ninja` works fine.

I also have another question, After this building process, Can I use the body tracking SDK now? or I need to follow [Kinect official documentation](https:/

[2021-03-17 11:09] HlibKazakov2000 commented on #1526
k4a-tools and libk4abt1.3-dev packages are not present in the Microsoft Ubuntu 16.04 repository. That's why it doesn't work.
```Can I use the body tracking SDK now?```
It is hard to say because you are using a deprecated version of Ubuntu

[2021-03-17 11:14] lulindeng commented on #1526
Thanks for you prompt reply!

I'll try it when I receive the Azure Kinect :) Thanks again!

[2021-03-17 13:29] fdechaumont opened #1531 "Availibility of Kinect DK sensor"
Hi,

Thanks for the kinect DK: it's awesome !

I am sorry my question is not related to the SDK but related to the hardware.

The sensor is currently out of stock, do you know when it will become available again ?
Is it still restricted to a few countries ?

Thanks

Fab

[2021-03-17 21:25] dwhite54 commented on #1296
For the Ubuntu repo issue, I managed to work around it as follows (warning: **ugly**):

1. `sudo apt --purge remove k4a-tools libk4abt1.0-dev libk4a1.3 libk4a1.4`
2. `sudo apt install k4a-tools`
3. `apt download libk4abt1.0-dev`
4. `apt download libk4abt1.0`
6. `sudo dpkg --ignore-depends=libk4a1.3,libk4a1.3-dev -i libk4abt1.0_1.0.0_amd64.deb`
7. `sudo dpkg --ignore-depends=libk4a1.3,libk4a1.3-dev

[2021-03-18 13:38] Chris45215 commented on #767
Considering that Microsoft does have code and examples which do this, but for the HoloLens/MR libraries rather than the Azure Kinect libraries (https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking), is there any compatibility with the Azure Kinect?

I had hoped that the Azure Kinect would be compatible with the hololens, and the libraries w

[2021-03-18 14:14] TheRealAndreas opened #1534 "C# System.DllNotFoundException (k4a.dll)"
**Describe the bug**
On some PC's the .dll refuses to load.
Exact same program works on most of our pc's but once in a while we will encounter a machine where it just doesn't work.
So far we have just changed the PC when it for some reason refuses to work.
But now we have experienced the program working before a windows update, and then refusing to load the dll after a successful windows update.

[2021-03-18 15:08] TheRealAndreas commented on #1534
This code produces the exact same error.
Works on same pc that the other code works on and fails on the same pc's that the other code fails on.
[code]
Could it be that the k4a.dll is trying to load some .dll that is delivered with windows but is somehow damaged on a few PC's?
And how could I identify the faulty dll in that case?

[2021-03-18 17:51] #1527 closed, assigned to qm13

[2021-03-18 18:01] qm13 commented on #1531
Azure Kinect DK is currently in short supply due to increased demand and the world-wide consumer electronic components shortage. We expect this to remain the case until early July.

[2021-03-18 18:06] qm13 commented on #1525
You should use `k4a_image_get_exposure_usec()` to get the exposure settings.

[2021-03-19 08:26] fdechaumont commented on #1531
Thanks a lot qm13 !

I am always scared in the discontinuity in production. This is reassuring.

FYI, I am currently using the kinect 2 to create this open source project : [https://livemousetracker.org/](https://livemousetracker.org/)
It is dedicated to the live 24/7 observation of the animals. It's basically a real time tracker.
This was about impossible to do without your sensors. Warm thanks f

[2021-03-19 09:20] fdechaumont opened #1535 "Proper way to read synchronous images"
Hi,

I am trying to read 2 synchronized cameras in cpp. My goal is to feed a windows' NamedPipe to a java program.
My problem is that if a frame is not read, I drop a frame, and then any further image will be unsynchronized between the cameras.

I guess I am not using the SDK properly.

I only need IR and depth, but It seems that for sync purposes I do need to grab the color on the master ?
Camera

[2021-03-19 11:26] RoseFlunder commented on #1535
Take a look at this setting for you device that uses both sensors:
https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/structk4a__device__configuration__t_a8208974f05d89fc1362c6a0900bdef4d.html#a8208974f05d89fc1362c6a0900bdef4d

[2021-03-19 11:36] Brekel commented on #1519
Looks like the new MSI installer just hit the website :)
https://docs.microsoft.com/en-us/azure/Kinect-dk/body-sdk-download

[2021-03-19 13:25] fdechaumont commented on #1535
Thanks RoseFlunder !

Good news is that I have no more drop
bad news is that images are still not synchronized. To get sync images, do one need to check timestamps and perform drop of images by code "manually" ?

my updated init:

[code]

[2021-03-19 15:09] RoseFlunder commented on #1535
I think the green screen example might help you:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/green_screen

In that example there also two kinects used with synchronization.
It performs timestamp comparison as you already mentioned.
Here is the piece of code that does that:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/aac136ce47f22eef47bf93ef2e3b2b7effac2

[2021-03-19 15:11] fdechaumont commented on #1535
Thanks a lot, I will check that !

[2021-03-19 15:11] #1535 closed, assigned to nobody

[2021-03-19 19:48] qm13 commented on #1125
Upgraded to CUDA 11.1

[2021-03-19 19:48] #1125 closed

[2021-03-19 19:49] qm13 commented on #1248
Fixed

[2021-03-19 19:49] #1248 closed, assigned to qm13

[2021-03-19 19:51] qm13 commented on #1481
Added ONNX DirectML execution environment support (default environment). Now possible to run on AMD and Intel GPUs on Windows. Performance is dependent on the GPU.

[2021-03-19 19:51] #1481 closed, assigned to qm13

[2021-03-19 19:52] #1494 closed, assigned to qm13

[2021-03-20 03:01] diablodale commented on #1340
Clarity on this is also needed across the new engines in body tracking v1.1.0.
How do we identify all the possible IDs as they map to GPU devices?
How do we use those IDs to specify the specific CUDA, DirectML, TensorRT, etc. device?

For example, my laptop has an integrated Intel GPU, and an Nvidia RTX2070Super.
I need to be able to generate a list with two items, and the KinectSDK ids for those

[2021-03-22 10:24] Deok-Won-Lee opened #1537 "Body tracking SDK version 1.1.0 CUDA bug"
Hi, I'm using Kinect Azure and the body tracking sdk.
when i excuted the "k4abt_simple_3d_viewer" there is warnning messages like below.
I think the message means that the body tracker is not using GPU.
And it seems like there is some link error btw tracking sdk and cuda lib.

![Screenshot from 2021-03-22 19-22-27](https://user-images.githubusercontent.com/79687158/111975442-f5edbc80-8b43-11eb-8c1

[2021-03-22 16:14] Vangos commented on #1298
For anyone reading this, @Zumra's comment is correct. Until there's an official API, you can use the following extension method to transform between a source and a target calibration device:

[code]

Usage:

[code]

That's how you can implement floor tracking in C# 😉

[2021-03-22 19:39] qm13 commented on #1537
This is expected. ONNX Runtime now warns when a model instructions cannot be executed on GPU. The DirectML execution environment drops back to CPU. The CUDA execution environment drops back to CPU. The TensorRT execution environment drops back to CUDA and then CPU.

The model is still running on GPU with the exception of the Shape__40 node.

[2021-03-22 19:43] qm13 commented on #1343
Fixed in Body Tracking SDK v1.1.0

[2021-03-22 19:43] #1343 closed, assigned to qm13

[2021-03-22 19:46] qm13 commented on #1154
This is being fixed in ONNX Runtime 1.8.

[2021-03-23 22:21] diablodale opened #1538 "Body tracking distrib files not stamped with version numbers -- need version numbers"
Critical redistrib files distributed with the new Body Tracking v1.1.0 are missing version numbers.
We need version numbers for building, cmake package control, runtime app version control, validation, etc.

### Setup

* Windows 10 x64
* Download body tracking 1.1.0 from https://www.microsoft.com/en-us/download/details.aspx?id=102901

### Repro

1. Install from the downloaded MSI, accept defaults.

[2021-03-24 01:40] qm13 commented on #1037
Duplicate of #949.

[2021-03-24 01:40] #1037 closed

[2021-03-24 01:47] qm13 commented on #1304
Duplicate of #1207. Linux currently does not support C#.

[2021-03-24 01:47] #1304 closed, assigned to qm13

[2021-03-24 01:49] qm13 commented on #1356
Duplicate of #738.

[2021-03-24 01:49] #1356 closed, assigned to qm13

[2021-03-24 01:56] qm13 commented on #1537
Fixed

[2021-03-24 01:56] #1537 closed, assigned to qm13

[2021-03-24 11:46] Moovency opened #1539 "model_path for body tracking model seems to not be taken in account"
Hi, i'm trying to use the light model in our visual studio project.

I assign the value "dnn_model_2_0_lite_op11.onnx" to the model_path variable the body tracking config, but when I execute I have an error looking for the previous model "dnn_model_2_0.onnx"

![image](https://user-images.githubusercontent.com/74403053/112304800-32353000-8c9e-11eb-9d81-d2b0e650633d.png)

I display the model_path af

[2021-03-24 12:16] vladalx commented on #1539
It looks like the model_path received by the TrackerHost::Create is null or empty. Please make sure that the k4abt_tracker_configuration_t instance referenced by the GetConfigBodyTracker is the same one that is used in the CreateBodyTracker function.

[2021-03-24 12:18] diablodale opened #1540 "body track v1.1.0 model does not load in countries that don't use ASCII; due to model_path is not `wchar_t`"
`k4abt_tracker_configuration_t.model_path` is a POD `const char*`. Naturally, this is errant.
Azure is a world-wide service and includes Kinect. Therefore, the path must be a wide char, UTF-16, UTF-8, etc.

### Setup

Body tracking v1.1.0

### Repro

Look at the header file `sdk\include\k4abttypes.h`

### Result

Line 157
[code]

### Expected

[code]

or better...

[code]

### Workaround

None. If

[2021-03-24 12:32] Moovency commented on #1539
Thank you for your quick response.
When I check the value in the create function I obtain that:
![image](https://user-images.githubusercontent.com/74403053/112310861-55171280-8ca5-11eb-85e5-4aab19e5c157.png)

[2021-03-24 12:38] vladalx commented on #1539
Are you sure you are using the right k4abt.dll from the 1.1.0 version ?

[2021-03-24 13:00] Moovency commented on #1539
That was the problem, I was launching my program in a folder containing files from a previous version generation and they were taken instead of the  version.

Thank you for your help my problem is solved.

[2021-03-24 13:00] #1539 closed, assigned to nobody

[2021-03-24 15:01] diablodale opened #1541 "body track v1.1.0 inconsistent REDIST.txt, files in bin directory, and needed files documentation"
At least three files appear inconsistent with respect to their presence (or not) in
* `sdk\windows-desktop\amd64\release\bin`
* `REDIST.txt`
* https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#required-dlls-for-onnx-runtime-execution-environments

I have so far identified the following. There may be more needed to be removed or added
[code]

### Setup

Body Tracking v1.1.0

###  Rep

[2021-03-24 15:21] conatsera opened #1542 "TensorRT runtime does not fallback to CPU for the missing sign op and fails to load"
**Describe the bug**
Both CUDA and TensorRT fail to load a sign op that runs on the GPU. This potentially degrades performance with the CUDA runtime as it falls back to CPU. TensorRT fails to initialize entirely and does not fallback. While the errors produced aren't exactly the same, TensorRT reports this error as a missing CUDA kernel so I believe these both are the same issue.
**To Reproduce**

[2021-03-24 15:51] conatsera commented on #1542
I missed a related issue in my search where it is expected for CUDA's sign op to run on the CPU #1537
TensorRT stops at trying CUDA and doesn't fallback further, so I'll adjust the title

[2021-03-24 16:07] hvallee opened #1543 "New BodyTracking not working in Unity"
Hi,

We successfluy made the new version of the body tracker work in our C++ visual studio project. We use this project to generate a DLL for Unity and it has been working so far.
But we can't make this new version work. It crashes at the body tracker creation.
There are plenty of new dll with this version and I imagine some must be at the root of the unity project and some in the plugin folder.
B

[2021-03-24 16:40] diablodale commented on #1542
As comparison, I am success with the TensorRT provider on my laptop RTX2070Super.

I do see similar log entries...

[code]

However, if I wait ~35 seconds, then I can see 24 files slowly appear in the Tensor Cache directory. And soon after I start receiving good body tracking frames.

[2021-03-24 17:07] Simonalexanderadams opened #1544 "Camera and IMU connection problems"
**Describe the bug**
Azure Kinect was connecting okay this morning for depth streams, but had issues also getting color steams. I noticed the Kinect needed a firmware update and updated. After the firmware update the device refused to connect to any camera or IMU, though the microphone works consistently.

The following messages pop up when connecting:
"IMU Failed: Timeout"
"000135594912: IMU Data

[2021-03-24 19:30] VisImage opened #1545 "file scripts/verify-windows.ps1 needs to be digitally signed"
file scripts/verify-windows.ps1 is not digitally signed.  The certification expired in March 2021. Please update, or provide an simple work-arround. Thanks

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Desktop (please complete the following information):**
 - OS with Version:
 - SDK Version:
 - Firmware version:

**Additional context**

[2021-03-24 20:51] conatsera commented on #1542
Hmm, in my use case I run this while in VR where CPU usage is at constant 100% even after loading any of the other runtimes. I had waited about 2 minutes but maybe that wasn't enough. I will let it sit for 5 minutes and see what happens

[2021-03-24 22:34] diablodale opened #1546 "body track v1.1.0 with DirectML -- slower than v1.1.0 CUDA and v1.0.1 GPU"
I am unclear if I should be pleased, disappointed, or if there is a functional bug regarding the relative poor performance of the DirectML onnx provider on an NVidia RTX2070Super. I acknowledge I see nothing written with a promise DirectML would perform like CUDA.

The DirectML provider appears:

1. CPU bound
2. lag of ~800ms
3. can not sustain 30fps

This is in contrast to the CUDA onnx provider.

[2021-03-25 02:14] ykk271 opened #1547 "Body tracking performance is too low in C# winform."
I made a simple example to save RGB video and skeleton data. but FPS is too low. When capturing, CPU and GPU use is only 20% and 10% respectively. How to improve FPS or GPU usage rate? The FPS is calculated between 15 and 10.

**Setup**
- Sensor SDK 1.4.1
- Body tracking SDK 1.0.1
- CPU: AMG Ryzen 7 3700X
- GPU: RTX2060

[2021-03-25 03:09] zqz979666 opened #1548 "How to get the distance information of a pixel in a depth image?"
as the title. New to azure kinect.
I got the depth image of a capture. However, I can only derive the grayscale value of a certain pixel, can't get the specific distance between it and the sensor. Is there any algorithm to calculate or sth else? Thx!

[2021-03-25 13:21] conatsera commented on #1542
Looks like it just takes around 3-4 minutes to load. I'm changing runtimes while in steamvr so my poor CPU just can't handle loading it in a reasonable time. I was hoping for something a little faster, but I'll just have to launch TensorRT first when trying a side-by-side comparison.

[2021-03-25 13:21] #1542 closed, assigned to nobody

[2021-03-25 14:09] diablodale commented on #1542
FYI other readers, if I use TensorRT with the fp16 option, my startup time greatly increases; from ~35 seconds to 4+ minutes.  After that, it runs with no errors. And if TensorRT caching is used, the next startup time is only seconds.

[2021-03-25 15:45] diablodale commented on #1546
My gut tells me there is a bug in my or the BT SDK's code. Though it is seen only with the DirectML backend and I don't change my code except passing the DIRECTML enum. When I look at the behavior and more data today, it is as if part of Body Tracking v1.1.0 is falling back to CPU and not using the GPU path. I'm seeing the CPU saturated and the GPUs barely used.

My app is multithreaded. And I mak

[2021-03-25 17:22] qm13 commented on #1543
Is the Unity DLL based on https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples/sample_unity_bodytracking

[2021-03-25 17:23] qm13 commented on #1543
You need to make sure the new DLLs are in the correct location for Unity

[2021-03-25 17:52] qm13 commented on #1548
The pixel value of the depth image is mm from the camera. I suggest you look at the k4aviewer https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/tools/k4aviewer. The colored depth view shows how to convert the depth values to color range. If you run k4aviewer and hover the mouse over a pixel the viewer reports the distance of the pixel from the camera.

[2021-03-25 17:56] qm13 commented on #1547
Can you share the simple example?

[2021-03-25 18:04] qm13 commented on #1544
@Simonalexanderadams it sounds like your Azure Kinect DK has died. Please follow [these ](https://support.serviceshub.microsoft.com/supportforbusiness/create?sapId=f77b1b95-721e-43a0-2db8-b01e81a3f813) instructions to get it replaced.

[2021-03-25 22:08] Simonalexanderadams commented on #1544
Really? There's no way to recover it? I'm surprised that the only way around this is to ask Microsoft for a new one... I have plenty of version 2 Kinects that are still functional after years of no support, while this Azure which is relatively new in comparison just bit the bullet out of the blue.

I'd be interested in more of an explanation as to why you've concluded that it's dead, but if it is

[2021-03-26 01:53] zqz979666 commented on #1548
Thanks for answering! I think I have understood.

[2021-03-26 01:53] #1548 closed, assigned to qm13

[2021-03-26 06:10] ykk271 commented on #1547
Thank you for your response.

My code here.
===============================================
using System;
using System.Drawing;
using System.Windows.Forms;
using Microsoft.Azure.Kinect.Sensor;
using Microsoft.Azure.Kinect.BodyTracking;
using Image = Microsoft.Azure.Kinect.Sensor.Image;
using PixelFormat = System.Drawing.Imaging.PixelFormat;
using System.Buffers;
using System.Threading;

namespace

[2021-03-26 06:12] ykk271 commented on #1547
Thanks for your response.
my code is here.

[code]

[2021-03-26 09:21] AswinkarthikeyenAK commented on #1519
Hi Guys,
Has anyone tested the NVidia 30xx series for body tracking in Ubuntu 18.04 by any chance? It will be really helpful to know this information.

Thanks

[2021-03-26 14:24] elbuhofantasma opened #1549 "The Azure Kinect Code Samples repository has not been updated in a while"
**Describe the bug**
The [Azure Kinect Code Samples](https://github.com/microsoft/Azure-Kinect-Samples) repository has not been updated in some time. There are 11 outstanding PRs that need reviews. Some of them seem helpful to new developers coming to the Azure Kinect Sensor SDK.

Also the build status is broken in the repository's README.md.

[2021-03-26 16:57] Simonalexanderadams commented on #1544
Update:
I plugged the device in again to double check and it worked fully with the following warning:
[ warning  ] : depth_engine_thread(). Depth image processing is too slow at 36ms (this may be transient).

I switched to TouchDesigner (my use case) and was getting good readings on depth and point cloud at the same time, but they both failed when I opened the RGB steam (usually it is fine to grab

[2021-03-26 18:52] diablodale commented on #1538
Updated list of files in OP having no version info or not useful (e.g. 0.0.0.0) version info

[2021-03-26 20:37] qm13 commented on #1544
@Simonalexanderadams we have seen very few (less than Kinect for Windows by volume) failures of Azure Kinect DKs. You have gone through all the debug steps we would suggest hence my conclusion. That said it sounds like you have multiple Azure Kinects. Can you verify that one of the other devices works fine with the PCs. This will eliminate the PCs. Failing that can you try webcam software (test RG

[2021-03-27 00:03] diablodale commented on #1546
Also consider that `k4a.dll` and `k4abt.dll` is delay loaded.

Rough sequence:

1. The main App.EXE is a third-party. A customer clicks the app's icon in start menu.
2. Sometime during the running of the app, the customer chooses to enable my Kinect "plugin" DLL that I code/sell.
3. My DLL runs and does things without any active Kinect sensor activity.
4. Customer chooses "go!".
5. My DLL opens th

[2021-03-27 06:03] Kevin0811 opened #1550 "How to include Body Tracking SDK without using NuGet"
I am working on a project on Visual Studio
In previous version I include the sdk by following the Azure Kinect DK DOCs using NuGet
But in this version the change log tells that "[Breaking Change] No NuGet install."
It seems that previous method doesn't work anymore?
but also add "[Feature] Verified samples compile with Visual Studio 2019 and updates samples to use this release."
However I have no

[2021-03-28 20:04] diablodale commented on #1546
I've made repro code and can reproduce similar results as in OP.

### Repro code setup

1. Same setup and hardware as in OP
2. Visual Studio as in OP with Windows SDK 10.0.19041.0
3. git clone https://github.com/diablodale/kinectazure-bug-1546
4. Set some env vars so it can find Kinect SDKs, or edit cmake to hard code them
4. cmake config with Windows SDK 10.0.19041.0 and 64-bit compile
5. cmake b

[2021-03-29 09:49] FilipeLopesPires commented on #1520
Any progress on this?

[2021-03-29 09:57] seigeweapon commented on #1530
hello, anybody?

[2021-03-29 10:08] FilipeLopesPires commented on #1443
Did you find a way to improve your intrinsics calibration?

[2021-03-29 10:43] TheRealAndreas commented on #1534
Using this lovely tool: http://www.dependencywalker.com/
And running it on faulty machine and a healthy machine and comparing the results I have found, that the faulty machine is missing:
MSVCP140.dll and VCRUNTIME140.dll

Downloading and installing the following package resolved the issue.
https://www.microsoft.com/en-us/download/details.aspx?id=48145

I do however feel that the error message cou

[2021-03-29 14:40] romilpunetha commented on #896
Running the ninja command gives me the following error:
[code]

[2021-03-29 15:36] shariq commented on #1283
Bump on this; it's a pretty serious issue for us :(

[2021-03-30 11:43] AswinkarthikeyenAK commented on #1125
Hi Guys,
Can anyone confirm if the body tracking is working fine without any issues with the RTX30xx graphic card,please?
I am planning to buy a desktop with the RTX3070 and I wanted check before I could purchase the desktop.
Thanks for your feedback !!

[2021-03-30 12:00] lewkoo commented on #1125
I can confirm that it works fine on RTX 3070 whereas before it didn't. This is on bare-metal Ubuntu 18.04.
See screenshot below as proof.
![k4abt_rtx_3070](https://user-images.githubusercontent.com/2424251/112985179-8772b500-9168-11eb-80fc-11bdb7c41f96.png)

[2021-03-30 12:36] AswinkarthikeyenAK commented on #1125
Hi @lewkoo,
Thanks for the information

[2021-03-30 12:52] Vangos commented on #1543
@hvallee @qm13 @vladalx I have a solution -- it's mostly a workaround. You can check out LightBuzz's [Unity Asset Store plugin](http://u3d.as/1FBs) that automates the following process for you. Otherwise, read on:

The problem has to do with the **location** of the DLL files. We'll see how to do this in the Editor and the executable Build.

## 1) Binaries

First, you need to collect the required b

[2021-03-30 12:52] IlievMihail opened #1551 "Azure Kinect Depth Camera Missing in Device Manager, blinking amber power light."
Hi
I am having a little issue with the Kinect Azure. The Depth Camera is missing in the Device Manager and the power light is blinking amber color.

As I understand this could be an inssuficient power issue.
I am using the power adaptor + ubs-C to usb-A cable that comes with the Kinect Azure.
I tested on a desktop machine and a laptop.
On the desktop i use the 3.2 USB slot and on the laptop i have

[2021-03-30 13:45] IlievMihail commented on #1551
Quick update:
Tested with a new Type A - Type C USB 3.1 10 Gbps cable and still have the blinking amber light.

[2021-03-30 14:16] IlievMihail commented on #1551
Quick Update 2:
I am starting to believe that it is a power supply issue - when i unplug the power adaptor and use only the USB-A to C  for the connection with the computer , the kinect turns on but does not have the depth camera. Everything looks the same in the device manager ( again missing the depth camera).

[2021-03-30 14:36] IlievMihail commented on #1551
Quick Update 3:
Bought a new power adaptor and it worked like a charm. Problem solved for now.

[2021-03-31 00:08] adammpolak commented on #1411
Any movement on this?

[2021-03-31 00:45] leskodan opened #1553 "Body Tracking C# Wrapper on Linux (or Alternative)"
This may be just as much a question as it is a feature request.

**Is your feature request related to a problem? Please describe.**

I have run into the same error outlined in #1304 in which the C# wrapper (specifically creating a tracker) is not supported on Linux.

**Describe the solution you'd like**

First off, I'd like to add my vote for this feature as I feel that there would be tremendous v

[2021-03-31 03:26] zqz979666 opened #1554 "How can I use Kinect to show the capture real-time as the K4aViewer?"
**Describe the bug**

In my own code , I use imshow() to show the depth image , however I can only see the next capture until I close the previous imshow window. So how can I show the capture stream like the viewer tool?

`while(true) {
if (device.get_capture(&capture)) { /*image processing*/ imshow("color", cv_depthImage);}
}`

[2021-03-31 08:36] #1551 closed, assigned to nobody

[2021-03-31 09:22] SirLynix commented on #1495
What transformation did you apply in Photoshop, did you just "undistort" the image? If so, this is incorrect.

k4a_transformation_depth_image_to_color_camera applies a transformation from the depth sensor to the rgb sensor, which is why there's so much black area : those are the pixels without depth information.

![](https://camo.githubusercontent.com/cfa61b8bce440812da346d50c7034875d017a98c5eb251

[2021-04-01 06:12] MarkYu98 commented on #1550
Same here, have you found a solution? Thx.

[2021-04-01 06:31] Kevin0811 commented on #1550
Yes, Thank you

Mark Yu ***@***.***>於 2021年4月1日 週四，下午2:12寫道：

[2021-04-01 07:20] MarkYu98 commented on #1550
Hi @Kevin0811, can you share how you managed to make it work? I have installed the Body Tracking API 1.1.0 seperately and add the corresponding headers, libraries, and DLLs to my VS2017 project. I can build and run the simple_3d_viewer example but the fps seems much smaller than the provided simple_3d_viewer.exe.

[2021-04-01 09:44] xhniu opened #1555 "[W:onnxruntime:K4ABT_ORT_Environment, cuda_execution_provider.cc:1885 GetCapability] CUDA kernel not found in registries for Op type: Sign node name: Sign"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**
➜  lib64 sudo k4abt_simple_3d_viewer
2021-04-01 17:30:58.076544763 [W:onnxruntime:K4ABT_ORT_Environment, cuda_execution_provider.cc:1885 GetCapability] CUDA kernel not found in registries for Op type: Sign node name: Sign
2021-04-01 17:30:58.078060216 [W:onnxruntime:K4ABT_ORT_Environment, fallback_cpu_capability.h:140 GetCpuPr

[2021-04-01 11:45] diablodale commented on #1555
known and team writes it should be ignored https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#specifying-onnx-runtime-execution-environment

[2021-04-02 07:13] UnaNancyOwen opened #1556 "Python API doesn't transform correctly to point cloud from depth image"
**Describe the bug**

Python API doesn't transform correctly to point cloud from depth image.
The API returns a result, but it does not seem to be the correct point cloud.

**To Reproduce**

1. run this simple script for save point cloud to file
[code]
2. open ascii format point cloud data using meshlab
    ![2021-04-02_16h01_18](https://user-images.githubusercontent.com/816705/113390854-7e365200-

[2021-04-02 07:20] UnaNancyOwen commented on #1556
@JonathanESantos What do you think? Do you have any advice?

[2021-04-02 09:12] UnaNancyOwen opened #1557 "Crashes app when exit if closed device using Python API"
**Describe the bug**

Crashes app when exit if closed device using Python API.

**To Reproduce**

[code]

**Expected behavior**

Exit app without throw error.

**Logs**

[code]

**Screenshots**

**Desktop (please complete the following information):**
 - OS with Version: Windows 10 20H2
 - SDK Version:  develop/HEAD
 - Python Version: Python 3.8

**Additional context**

[2021-04-02 09:46] UnaNancyOwen opened #1559 "Compile error occure in conn_ex_utility project"
**Describe the bug**

A compile error C2039, and C2065 occure in conn_ex_utility project.
It seems to be a lack of header include about std::nothrow.

**To Reproduce**

1. clone microsoft/Azure-Kinect-Sensor-SDK
2. generate build file using CMake
3. build generated build file using Visual Studio

**Expected behavior**

**Logs**

**Screenshots**

![2021-04-02_18h28_36](https://user-images.githubuse

[2021-04-02 16:46] H-Park opened #1561 "Enumeration Errors on Ubuntu 18.04"
Because Issue #375 , and #1260 are closed, I am opening this issue to inform the developers that the Azure Kinect is NOT stable on Ubuntu 18.04.

I have two desktops running 18.04, and each are experiencing issues around enumerating the azure kinect.

Machine 1:
lsusb
`Bus 001 Device 019: ID 045e:097e Microsoft Corp.
Bus 001 Device 020: ID 045e:097c Microsoft Corp.
Bus 001 Device 021: ID 045e:097d

[2021-04-05 06:22] changikjun commented on #1113
How did you offset the data Azure to v2?
Can I get the Sequence..?

[2021-04-05 15:51] caseyfarina commented on #1401
@tim-depthkit Any update on that card? Thanks!

[2021-04-05 18:46] blakerutledge commented on #1283
Bump for us as well, this one is kinda mission critical.

Edit: We are just on Windows 10, running permanent installations. The solution to unplug and replug the device is not an option for us.

[2021-04-06 18:51] HlibKazakov2000 commented on #1340
Here is the updated documentation. It will be published online with the next release of the SDK.

[code]

[2021-04-06 19:15] diablodale commented on #1340
Hi.
1. What "CUDA API"? There are too many apis for us to sort through and reverse-engineer how Body Tracking using it.
Please provide the exact CUDA API that we should use. Then we can validate if this is correct, or not so you can get better information.
2. Good example. You gave us the exact API. Now, please do the same for CUDA.
3. The device_id of 0 may or may not correspond to a "default" ad

[2021-04-06 20:13] Brekel commented on #1340
Since the Body Tracker implements these APIs already it would make sense to provide a simple wrapper.

A simple function that returns the names of the available/applicable GPUs for a specified processing mode, which we  can simply reference (or present in a GUI) to select which GPU ID (or the default) is used.

Instead of everyone needing to link to the different APIs and learn how to use them the

[2021-04-06 21:31] mrcrkk commented on #1340
"What 'CUDA API'? There are too many apis", CUDA runtime API. There is great documentation that describes how to obtain any information about the device, not only the name. For example, [cudaGetDeviceProperties](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#group__CUDART__DEVICE_1g1bf9d625a931d657e08db2b4391170f0) can be used to retrieve device properties.

"I recommend

[2021-04-06 21:57] HlibKazakov2000 commented on #1340
"What 'CUDA API'? There are too many apis", CUDA runtime API. There is great documentation that describes how to obtain any information about the device, not only the name. For example, cudaGetDeviceProperties can be used to retrieve device properties.

"I recommend you remove this whole sentence, or, correct it to consider the following". This sentence was taken from the ONNX Runtime documentatio

[2021-04-06 23:22] diablodale commented on #1340
I look forward to more clarity and forward movement on this issue. @Brekel has some good suggestions about the Microsoft SDK wrapping compute devices. Having a `vector<computeInfo> getComputeInfoByType(k4abt_tracker_processing_mode_t computeType)` or `vector<computeInfo> getComputeInfoAll()` are both useful.

😵 That is not true from any reasonable perspective. Please see Microsoft documentation an

[2021-04-07 07:24] rfilkov commented on #1340
@diablodale, @HlibKazakov2000 was right that 'gpu_device_id' is not directly required by the BT SDK. The BT SDK uses onnx-runtime for its inference, and the onnx-runtime uses CUDA, DirectML, etc. execution providers on lower level. Up to BT SDK v1.1 only the CUDA execution provider was available, and it has a 'device_id' parameter (hence 'gpu_device_id' in the body tracker parameters). See https:/

[2021-04-07 13:25] diablodale commented on #1340
I recommend we agree to disagree on the semantics and word definitions regarding the need, use, or requirement of `gpu_device_id`. That topic is slightly off track of the OP. The field is in the struct, it is not deprecated, and it must be initialized to its default `0` or set to one of 4 billion other ints.

MIcrosoft, do you have interest in participating ideas like from @Brekel or a new example

[2021-04-07 20:57] fractalfantasy commented on #1549
+1

[2021-04-07 21:11] fractalfantasy opened #1562 "k4abt_simple_3d_viewer source?"
We’re having trouble getting Body Tracking SDK (1.1.0) running with its new environment variables. Getting no errors / exceptions / crashes, it just doesn't seem to start. (gyp recompilation is succeeding, and CPU mode works).

Would be helpful if you updated the samples repository so that we can have a look at the k4abt_simple_3d_viewer source.

[2021-04-08 05:29] thinko commented on #871
It's been another few months, any update on this? Xavier NX and AGX Xavier bring a lot more horsepower to the table -- it seems like that was something holding this back previously.

[2021-04-08 10:17] justamad commented on #1113
For the initial rotation+translation matrix between the checkerboards please check out the following links for description and the Python code:

http://nghiaho.com/?page_id=671
https://github.com/nghiaho12/rigid_transform_3D

After applying the rot+trans matrix, I corrected for the depth camera tilt by multiplying an Euler-Rotation matrix around the x-axis by 6 degrees to all joints over all frame

[2021-04-08 14:18] danfairs commented on #500
Amazing! Thanks for your work on this. Do you know what release this might find its way into?

[2021-04-08 17:07] qm13 commented on #1562
The environment variables are read by ONNX Runtime (DLL). There is no changes needed to the samples.

What operating system are you using? What environment variables are you using?

[2021-04-08 18:35] mikkamikka commented on #1562
@qm13 We are using Windows 10 (v.1909)
Environment variables we've set at Windows system user level:
[code]
Are there any special 'ONNX Runtime environment variables' we should've set somewhere else??

Tracker configuration set to default:
`k4abt_tracker_configuration_t tracker_config = K4ABT_TRACKER_CONFIG_DEFAULT;`
I guess those Tensor related env. variables make no sense since we are using defa

[2021-04-08 22:55] jackjansen commented on #1263
It would be nice if the K4A team could support Ubuntu 20.04 officially. The workaround posted by @vinesmsuic works just fine, for development, but it is a bit of a nuisance (actually more than a bit) to integrate it into our ci/cd setup... And reverting to 18.04 for ci/cd doesn't cut it anymore because of other dependencies where we need versions newer than available on 18.04.

[2021-04-09 05:16] changikjun commented on #1113
Thanks for your advice!
But actually, I'm use c++..
And I have more question!
If I get data of Azure, (instrinsic, extrinsic, etc,,,)
How Can Do I insert in V2 code...??

[2021-04-09 06:44] thinkinginmath commented on #871
It seems this is not a priority for MSFT, there is no incentive to empower a competing hardware platform. What is your use case for body tracking SDK? I would suggest that you try OpenPose or other AI models using Nvidia's toolkit

[2021-04-09 08:51] #1559 closed, assigned to HlibKazakov2000

[2021-04-10 03:16] zhaocheng-hub commented on #1520
@FilipePires98   Hello,
I haven't made any progress so far. Have you made any progress?

[2021-04-12 12:35] cavisions opened #1563 "Unity 3D apps are freezing while trying to close them (Body Tracking SDK 1.1.0)"
The new Body Tracking SDK (1.1.0) seems keeping (for the Unity 3D applications) the SDK libraries in use preventing the application from shutting down. The Kinect Sensor is turned off, but the application is still running. Any help would be appreciated. We have been using the older SDK without such complications.

### Setup

- Microsoft Windows [Version 10.0.19042.870]
- VS2019 Community v16.9.3 b

[2021-04-12 17:52] lukexi commented on #810
Hi, just checking in on this! Is there a plan/possibility to allow headless processing via OpenGL EGL as @christian-rauch suggests, or via Vulkan?

[2021-04-13 03:20] qm13 commented on #810
@lukexi we are actively working on an EGL version of the depth engine. This will be available in the next release of the Sensor SDK.

[2021-04-13 03:25] lukexi commented on #810
Fantastic news! Thanks @qm13 !!

[2021-04-13 03:34] qm13 commented on #1562
I am confused. Are you attempting to use CUDA, DirectML, or TensorRT?

All the necessary NVIDIA files are included in the .msi install. They do not need to be system wide. You can drop them into your project folder. You need the correct NVIDIA driver for your card. See troubleshooting section of the documentation.

[2021-04-13 03:41] qm13 commented on #1561
@H-Park I fail to see the relevance of #375 and #1260 to your issue. They seem unrelated.

We are absolutely behind Linux and expect it to overtake Windows as the preferred OS for Azure Kinect. What is the USB controller brand you are attaching the Azure Kinect via? Please see https://docs.microsoft.com/en-us/azure/kinect-dk/troubleshooting#usb3-host-controller-compatibility. Assuming you are usin

[2021-04-13 03:49] #1555 closed, assigned to qm13

[2021-04-13 03:50] #1550 closed, assigned to qm13

[2021-04-13 04:00] #1534 closed, assigned to vladalx

[2021-04-13 04:04] #1525 closed, assigned to qm13

[2021-04-13 04:04] #1524 closed, assigned to qm13

[2021-04-13 04:05] #1523 closed, assigned to qm13

[2021-04-13 04:10] #1509 closed, assigned to qm13

[2021-04-13 04:11] #1507 closed, assigned to qm13

[2021-04-13 04:11] #1503 closed, assigned to qm13

[2021-04-13 04:12] #1500 closed, assigned to jaygullapalli

[2021-04-13 04:12] #1498 closed, assigned to qm13

[2021-04-13 04:13] #1496 closed, assigned to qm13

[2021-04-13 04:15] #1486 closed, assigned to qm13

[2021-04-13 04:17] #1434 closed, assigned to jaygullapalli

[2021-04-13 04:29] #1303 closed, assigned to qm13

[2021-04-13 06:25] catid opened #1564 "Azure Kinect out of stock"
Cannot order anymore here: https://www.microsoft.com/en-us/p/azure-kinect-dk/8pp5vxmd9nhq

Is this product end of life, or will there be more inventory?

[2021-04-13 09:37] HlibKazakov2000 commented on #1373
Should I wait for a new release before resolving the issue or is it fine to reply that it will be fixed in an upcoming release and resolve?
________________________________
От: Wen-Pin Scott Hsu ***@***.***>
Отправлено: 13 апреля 2021 г. 7:52
Кому: microsoft/Azure-Kinect-Sensor-SDK ***@***.***>
Копия: Hlib Kazakov (Hi-Tech Talents LLC) ***@***.***>; Assign ***@***.***>
Тема: Re: [microsoft/Azure-K

[2021-04-13 14:30] michael-createc opened #1565 "Azure Kinect SDK"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Desktop (please complete the following information):**
 - OS with Version:
 - SDK Version:
 - Firmware version:

**Additional context**

[2021-04-13 14:30] #1565 closed, assigned to nobody

[2021-04-13 15:00] michael-createc opened #1566 "C SDK operating with unnecessarily large delays on Jetson Nano"
**Describe the bug**
When using the C SDK on a Jetson Nano (with a single Kinect), I am experiencing large delays of around 550-600ms when viewing RGB-D data in NFOV unbinned mode, 720p. When I use k4aviewer, however, the delays have gone down to around 150-200ms with the same settings, so I am not sure what the difference is.

My hypothesis is that there is some internal buffering happening withi

[2021-04-13 19:23] mikkamikka commented on #1562
@qm13 We are attempting to use DEFAULT processing mode: DirectML

GPU driver is up to date: NVIDIA driver version 465.89

Logging shows that dependencies check, ONNX runtime, and tracker creation is successful:
[code]

I've noticed that the k4a.dll you deliver with the Body Tracking SDK v1.1.0 example (on the left) differs in size from the one delivered with the Kinect SDK v1.4.1 (on the right), w

[2021-04-14 01:21] diablodale commented on #1373
Hi. I prefer to leave it open. I verify fixes for all the bugs that I open and aren't closed (against my wishes). I have so many open issues, that I must have tools (like open github issues) to manage them.

This allows somewhat the better phase changes of:  open -> resolved -> closed.
But github is lacking that middle phase. So open is the only realistic alternative.

[2021-04-14 02:10] JonathanESantos commented on #1556
There is a bug in the transformation function depth_image_to_point_cloud() where a ctypes.c_uint16 is used. It should be ctypes.c_int16.  The X and Y coordinates are centered around 0 and have negative numbers.

The docstring is also a bit misleading where it says each pixel is a set of (x, y, z) values, which sounds like interleaving. In fact, the output images are arranged in planes, where the f

[2021-04-14 03:53] #1156 closed

[2021-04-14 03:54] #1261 closed, assigned to wes-b, qm13

[2021-04-14 04:09] senshin998 commented on #1564
any  answer?

[2021-04-14 06:55] hvallee commented on #1543
Thanks to your very detailed response I've managed to make it works.
Thank you very much for your time and your help, this is very much appreciated.

[2021-04-14 06:55] #1543 closed, assigned to HlibKazakov2000

[2021-04-14 13:14] Zaptu3117 commented on #1564
looking for an answer too

[2021-04-14 21:50] scotthsu98052 commented on #1562
@vladalx please check with fractalfantasy about the directML issue.

[2021-04-15 02:02] jaygullapalli commented on #1363
This is addressed in latest version of Visual Studio 2019 16.9.0 and above which updated cmake to 3.19
I was able to build libsoundio without any issues in Visual Studio 2019 v16.9.4 / cmake 3.19.20122902-MSVC_2

[2021-04-15 06:40] DrMaxP commented on #1564
See https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1531

[2021-04-15 07:37] UnaNancyOwen commented on #1363
I think it is CMake forked by Microsoft (cmake 3.19.20122902-MSVC_2).
But, This issue is reproduces in CMake of Kitware (original) yet.

[2021-04-15 09:22] cavisions commented on #1563
Have you reproduced this issue? Is there any workaround for this? I'd appreciate some info, because I need to decide whether revert my project to the older SDK or is it worth waiting. Thank you in advance!

[2021-04-15 12:26] AkhilBhaskar opened #1569 "Tutorials for Microsoft Azure Kinect gesture controls Unity ?"
Hi All, Can anyone provide reference URLs for Unity and Microsoft Azure Kinect gesture controls.

[2021-04-15 12:26] Zaptu3117 commented on #1564
Nobody knows where to find used ones ?

[2021-04-15 14:34] Daniel4144 opened #1570 "Influence of object colour on depth accuracy"
Hi,
I have a question regarding the accuracy of the Azure Kinect:

I compared the height of lego bricks with different colours and noticed a significant difference there.
The height of the bricks from the desk surface should be approx. 16mm, but the measured depth is wrong with red and black bricks.

For black bricks, the distance is about right, if the brick is in the center of the depth map. Wit

[2021-04-15 15:35] guanming001 commented on #1570
@Daniel4144 you may want to refer to this explanation which mention red lego brick https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1341#issuecomment-687933620

[2021-04-15 17:07] qm13 commented on #1564
Duplicate of #1531

[2021-04-15 17:07] #1564 closed, assigned to nobody

[2021-04-16 00:49] UnaNancyOwen opened #1571 "[request] add python api for k4arecord and k4abt"
**Is your feature request related to a problem? Please describe.**

the python bindings work very fine. 👍
however, it still doesn't fulfill all features of sdk.
please add k4arecord (record/playback)  and k4abt (bodytracking). thanks,
@JonathanESantos do you have a plan about this in future?

**Describe the solution you'd like**

* add k4arecord (record/playback) to python bindings in azure kinect

[2021-04-16 01:09] jaygullapalli commented on #1363
I spoke too soon. The issue exists even in cmake 3.19.20122902-MSVC_2, I was using Ninja as the build generator within Visual Studio when I was able to build without any issues. It looks like the issue happens when using Visual Studio Generators with CMake.

Using Ninja as the generator with libsoundio - FLAGS = /DWIN32 /D_WINDOWS /W3 /ZH:SHA_256 /MD /Zi /O2 /Ob1 /DNDEBUG **/TP** /W4

[2021-04-16 01:53] UnaNancyOwen commented on #1363
Thanks for additional info! I understood it.
It is looks odd that difference of result between Ninja and Visual Studio generators.
I think it is a trap that someone will fall into in the future.
I think we needs to continue to be worked about this issue on until a good solution is found.

[2021-04-16 08:30] pingopalino1 opened #1572 "Converting joint positions to pixelvalues"
Hello,
I do not have an issue but more a question.  I still hope this is the right place to ask those, if not please let me know

I use the offline_processor sample to extract the body joint positions from a mkv File. After that I want to compare the detected points with annotated shoulder data. For that I use Python.

I try to match the joint points of the azure kinect body tracking Algorithm to

[2021-04-16 09:20] Daniel4144 commented on #1570
Thank you @guanming001, I did not expect the same material to have completely different properties for IR light depending on the color.
Since the difference is impossible to correct without prior knowledge of the material, a confidence map as requested in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1408 would be great.

[2021-04-16 22:01] anantley commented on #1563
Hi @cavisions,
I got it to repro, looking into the crash now
 Angus

[2021-04-17 13:59] diablodale commented on #1572
Hi. The kinect sdk provides apis that can do this https://docs.microsoft.com/en-us/azure/kinect-dk/use-calibration-functions#convert-between-2d-and-3d-coordinate-systems
And since it is open source, you can see the code and algorithms that those API use in this git repo.

[2021-04-17 17:02] diablodale commented on #1365
This issue is partially fixed in Body Tracking SDK v1.1.0.
The apis still capable of `const` are
[code]

[2021-04-17 17:17] diablodale opened #1573 "Body Track v1.1.0 `frame::get_body()` has wrong exception declaration"
In body track v1.1.0 the api `k4abt::frame::get_body()` is declared `noexcept`. However, that is invalid given the code. That api *can* throw because it calls `get_body_skeleton()` which can throw. All below found with MSVC code analyzer -- I recommend you include it in your build pipeline too 😉

### Setup

* Body Tracking SDK v1.1.0

### Repro

1. Code review `Azure-Kinect-Body-Tracking-SDK\sdk\i

[2021-04-18 05:22] AhmedMedhat commented on #1125
After upgrading the body tracking library to v1.1, the `k4abt_simple_3d_viewer` example runs on RTX 3090 (CUDA Version: 11.2), however it prints the following message before creating the tracking window:
[code]
@qm13  What does this message mean? Does it fallback to CPU processing? @lewkoo did you get similar message when running on RTX 3070?
Thanks for the efforts,

[2021-04-19 06:40] UnityQueriesAsk opened #1574 "Hand Tracking in Unity using Azure Kinect DK ?"
Hello All,

This is not an issue. I need some help.
I have implemented the Azure Kinect DK Unity basic integration. My actual problem is I have to control the player using hand tracking.

Please check the following link once I want this type of control in Unity using Azure Kinect DK.

https://youtu.be/-msUHAhwru8

Can you please explain how can I implement this type of control ?

Thank you.

[2021-04-19 07:37] pingopalino1 commented on #1572
Tanks alot.

[2021-04-19 08:10] fplk commented on #1263
Fully agree with @jackjansen - 20.04 is the current LTS, most people I know work on it, 18.04 is now 3 years old. It should be ultra-high priority to get this updated. Please try to support 20.04 - this is blocking me and others significantly. It would also be great if you could find a way to support future LTS versions earlier. Thank you in advance.

[2021-04-19 20:44] jackjansen commented on #1190
I have found a workaround for libk4abt (it needs a different hash). Here is a snippet from my `Dockerfile` that seems to work for Ubuntu 20.04 base images:

[code]

[2021-04-19 20:46] jackjansen commented on #1263
For people needing a workaround to install K4A in a Docker image I have finally found a workaround that works for me (so far:-), I've posted it in https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1190#issuecomment-822772494

[2021-04-20 01:36] vertex798 commented on #1481
AMD Rizen 5900, RTX 3090.
What steps should I take to use this feature?

[2021-04-20 02:02] diablodale opened #1576 "body track v1.1.0 has slow memory leak with Tensor and Tensor-fp16 runtimes"
I measure a slow memory leak when BodyTrack v1.1.0 is used with the `tensor` and `tensor+fp16` runtimes.
It is approximately 1GB every 45 minutes of continuous 30fps use.

### Setup

* Microsoft Windows [Version 10.0.19042.928]
* Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz, 8c/16t
* NVIDIA GeForce RTX 2070 Super w/ 8GB, and integrated Intel UHD Graphics
* NVIDIA graphics driver: Studio 462.31
* 32GB

[2021-04-20 03:46] LuyaooChen opened #1577 "FPS decrease when connect multiple devices"
When I connect 4 Azure Kinect with one pc, the FPS would decrease to around 10 . I have connect them with different USB port. And it works well when only connect one device (30 FPS).
It seem to because of my pc's performance. Any advise to avoid this problem?

[2021-04-20 11:08] l1346792580123 opened #1578 "Color Camera: received malformed image data"
**Describe the bug**

When I open the k4aviewer to view the data captured by azure kinect, the color camera has the following error: Color Camera: received malformed image data. Then I can not view the color image any more. How can I solve this problem?
**To Reproduce**
open k4aviewer.exe
open device
set depth mode to WFOV_Unbinned
set color format mjpg
set color resolution 1080p
set framerate 15F

[2021-04-20 14:24] lewkoo commented on #1125
I got identical message when running `k4abt_simple_3d_viewer` on 18.04 Ubuntu with CUDA 11.2. Possibly due to [this](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1481#issuecomment-803077212).

AFAIK, it doesn't fallback to CPU processing, at least not entirely. `nvidia-smi` still shows a process and GPU is experiencing some additional load. From the error message, I can wild guess t

[2021-04-20 15:02] antoniohof commented on #816
I don't know if that`s related.
Here I get absolutely no latency with body tracking example viewer, but when I run any of the examples on the Kinect Samples I got 1-second latency *or delay* between movement and image.

I've tried with c++ and unity examples. It's the same.

Would anyone have a hint of what's happening? I would really appreciate.

Thank you

[2021-04-20 21:20] jbrownkramer opened #1579 "k4abt_tracker_create fails because of no CUDA, even when running in CPU mode."
**Describe the bug**

k4abt_tracker_create(&calib, tracker_config, &tracker); returns K4A_RESULT_FAILED. and the logs indicate the problem is a missing CUDA dll, but I am targeting the CPU or integrated GPU, so I shouldn't need CUDA

Note, I don't think this is relevant, but I am trying to use k4abt_tracker_t on recorded data.  calib is created from k4a_calibration_get_from_raw with the calibratio

[2021-04-21 11:08] FilipeLopesPires commented on #1520
Hello,
It seems to me that Microsoft is comfortable with their factory calibration quality for the Azure Kinects and has no intention to provide tools to improve the intrinsic calibration.
For my research, I have decided to accept this as a system constraint, however in the future it should definitely be explored in greater detail with tools such as the one you mentioned above, adapted for K4A.

[2021-04-21 12:10] axodox commented on #411
I looked into this, I think it would be possible to write an UWP driver based on the https://github.com/Microsoft/Windows-driver-samples/tree/master/general/SimpleMediaSource sample app and this page https://docs.microsoft.com/en-us/windows-hardware/drivers/stream/uvc-camera-implementation-guide.

- The frist presents a software based camera device which is UWP supported, also describes how to do

[2021-04-21 17:29] cjangrist commented on #1342
Any news on ARM64 support for Body Tracking?

[2021-04-21 17:33] cjangrist commented on #871
Ping on the status of body tracking on ARM (Jetson Xavier). Is there an estimated release date?

[2021-04-21 20:19] jbrownkramer commented on #1579
One update: I installed CUDA (though I shouldn't have to), and now I have this error:

[code]

[2021-04-21 21:37] jbrownkramer commented on #1579
Following up on my most recent post: I ran onnxruntime.dll through dependency walker, and it itself has a dependency on cudnn64_8.dll.  Throwing that in with the build folder, and it now works.  It would be best for us (to keep deployment size down if nothing else) if this dependency didn't exist when we're not targeting an NVIDIA GPU.

[2021-04-22 11:09] lianghongzhuo commented on #375
I also have this problem. When Azure Kinect died (it died quite ofen), I have to unplug the power and USB, and first plug in the power adapter, second plug in the USB to the pc. The other way around will lead to unable to start the camera.
The USB cable is a custom 3-meter usb-c to USB-A cable. (I'm using ubuntu 18.04 with ros)

[2021-04-22 12:46] Noemata commented on #411
@axodox, UWP already has a fairly capable Kinect driver for the older generation device.  This driver could easily be extended to support newer generation of tech since we are only looking at higher data rates and better resolution as being changed, everything else is the same.  In fact, the older Kinect has more features that are supported by the existing UWP driver.

It's baffling that Microsoft

[2021-04-22 12:59] Noemata commented on #411
@wes-b , if Microsoft made the existing MediaFoundation driver source code available, this issue would go away.  Eventually, governments will mandate that software companies open source technology that is no longer supported by a given company exactly because of the scenario we have here.  It's behavior such as this, on the part of Microsoft, that makes the company look bad despite all the recent

[2021-04-22 15:39] diablodale commented on #1426
Hi. There are more member functions that your PR did not fix. This issue is not restricted to a single API.
Please review all of your APIs Some yet not fixed are:
[code]

[2021-04-22 16:27] axodox commented on #411
@Noemata Yes I find it unfortunate too that there is no UWP support, however I can understand that this device is intended more towards the enterprise and factories where they are unlikely to use UWP. Our case is very special since we use UWP since our app targets the HoloLens, but we have created an AR view with Intel RealSense with the UWP API. The app is written C++/WinRT and runs a custom Dire

[2021-04-22 20:01] diablodale commented on #1579
seems to be related or a dup of https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1154

[2021-04-22 20:05] diablodale commented on #1576
Is it known if the leak is in ONNX code (Microsoft, opensource-ish on github), TensorRT open-source code on github, or TensorRT closed-source code owned by NVIDIA?

[2021-04-22 20:12] diablodale commented on #1577
First, congrats on having 4 Azure Kinects. I have European customers that would like to buy so many. (they're out of stock)

Next, is your test application single threaded and saturating a single core? Modern CPUs don't have high frequencies. Instead they have many cores. As you process more data, it is important that your processing can run across the many cores in your computer.

For example, th

[2021-04-22 21:23] jbrownkramer opened #1580 "Body Tracking Comments Indicate Only Depth Required, but IR Seemingly Required in Practice"
**Describe the bug**
We store only depth data, and we are trying to use body tracking on our recorded data.  I have populated a capture object with the depth image, but I have run into some problems.

The documentation for k4abt_tracker_enqueue_capture in k4abt.h says:

[code]

However, when I create a capture object without populating the IR image, and try to call k4abt_tracker_enqueue_capture, I

[2021-04-22 21:26] fractalfantasy commented on #1562
Perhaps we're installing it wrong?

With NuGet now broken on the latest update, it's difficult to understand how to update the Body Tracking SDK on the **k4abt_simple_3d_viewer** sample. We're simply replacing files within BT SDK 1.0.1 package folder - I admit this is a hacky solution, curious how you envisioned us to use this BT release without NuGet?

Here's the steps we're taking:

### 1) insta

[2021-04-22 21:31] fractalfantasy commented on #1550
if anyone has insight on how to install without NuGet that would be much appreciated

[2021-04-23 01:55] conatsera commented on #1580
https://www.microsoft.com/en-us/research/uploads/prod/2020/01/AKBTSDK.pdf
Page 11 describes the body tracking system architecture. The IR image is processed to create the body segmentation map and create a 2D joint map.

[2021-04-23 03:04] LuyaooChen commented on #1577
@diablodale  Thanks for your reply！
In my application, I create threads for each device. My code looks like this:
[code]
I confirmed this question again, and I found that the FPS would decrease to 15 with 2 devices, and about 10-12 with 3 devices, and 7-9 with 4 devices.
They are synchronized using 3.5mm synchronization port (it's similar if running with standalone mode).
And I have tested on MJPE

[2021-04-23 05:28] MarkYu98 commented on #1550
Yes I have figured it out. It's pretty simple actually. Just download the sdk and unzip it. Then in your VS project's property settings, add the "include" path to C/C++->Additional Include Path; add the "lib" path to Linker->Addtional Library Path; add "k4abt.lib" (along with "k4a.lib", "k4arecord.lib" if needed) to Linker->Input->Additional Dependencies. Then it should be OK to run.

[2021-04-23 05:50] qm13 commented on #1579
Dup of #1154 Fixed in the next release of ONNX runtime.

[2021-04-23 05:50] #1579 closed, assigned to qm13

[2021-04-23 05:50] qm13 commented on #1578
Can you verify whether the color camera works as webcam?

[2021-04-23 05:51] qm13 commented on #1576
Checking with the ONNX team.

[2021-04-23 05:54] qm13 commented on #1574
Are you looking for wrist tracking or full articulated (fingers) tracking?

[2021-04-23 05:54] #1572 closed, assigned to qm13

[2021-04-23 13:22] diablodale commented on #1577
Hmm. Something seems suspicious. A Kinect can fastest produce 30fps...
30 / 2 = 15
30 / 3 = 10
30 / 4 = 7.5
These are all the same fps that you wrote. My instinct tells me there is some code somewhere that operates at a maximum of 30fps. As you add more Kinect sensors, it divides its work evenly across the Kinects. This is usually code that is associated with a timer, something periodic, thread po

[2021-04-23 15:34] jbrownkramer commented on #1580
Ah, thank you, that answers my question!

[2021-04-23 16:44] vladalx commented on #1562
Hello

pls clarify the steps you are taking to get to this error, and let me know :

1. if you run k4abt_simple_3d_viewer from the Program Files/azure kinect bodytracking sdk/tools folder, is it working ?
2. are you using the simple_3d_viewer sample source code from git ?

Thank you

[2021-04-23 18:12] michael-createc commented on #1566
So I have a few updates for anyone else looking at this. I have found a workaround, but still believe this is an issue.

One thing I forgot to mention in the original post is that the program I was using this in was multi-threaded, and some things were done to the images after taking them (e.g. using `k4a_transformation_color_image_to_depth_camera` to put the colour image in the depth frame). When

[2021-04-23 19:07] stevenlix commented on #1576
Could you try OnnxRuntime master? We've fixed a couple of memory leak issues lately.

[2021-04-23 22:50] diablodale commented on #1576
I (a customer) am not able. The Azure Kinect Body Tracking code is closed-sourced and I have no source code or build scripts in which to compile any part of it. It is 2.5GB spread across 19 files.

Three of the files are named `onnxruntime.dll`,  `onnxruntime_providers_shared.dll`,  `onnxruntime_providers_tensorrt.dll`. They appear to be custom compiles with no version stamps. If someone from Micr

[2021-04-23 23:41] Noemata commented on #411
@axodox, I may be interested in helping your effort along.  I've done driver level work and see your approach as being feasible.  Please let me know if you'd like to collaborate?  I would be particularly interested if this became an officially registered driver.  FYI, the company you work for purchased some of my 3D tooling a few years back.

[2021-04-24 11:01] axodox commented on #411
@Noemata Collaboration would be definitely welcome on my part, although right now I still need to figure out how that could work in relation to my job. If I do this on the clock, it might be lengthy to get approval to opensource. If I do it at my free time I can open-source it, but then I might not have that much time to do it. In any case ideally I have this to work at a basic level in a few week

[2021-04-24 11:07] axodox commented on #411
Really? It is a small world indeed ;) I definitely hope to visit Canada again, I have spent 6 months in Montreal at the HQ, but nowaday I do most of my work with Germany and have not visited it for a few years (and of course since corona very few travelling).

[2021-04-24 14:21] leodesrumaux commented on #871
Same question : Ping on the status of body tracking on ARM (Jetson Xavier). Is there an estimated release date? @tesych

[2021-04-24 15:44] Noemata commented on #411
@axodox, I never hesitate to visit Montreal when I get a chance ;-), please let me know if you'd be interested in doing the driver.

[2021-04-24 15:51] Noemata commented on #411
@axodox , I never miss a chance to visit Montreal!  Please let me know if you need a hand.  Add me to the repo you're working on when you are ready.  I've been looking for an opportunity to move some of the MF C++/CX bits I have over to C++/WinRT.

[2021-04-24 16:18] axodox commented on #411
@Noemata Sure I will tell you if I have a proof of concept implementation working. C++/WinRT is quite good, we had using it for years now for a Hololens project, I will likely replace the WRL stuff in the driver sample too to the winrt base.h alternatives at some point.

[2021-04-25 21:53] zaalsabb commented on #1544
Can you reopen this issue @qm13? I am facing an identical issue with my azure kinect as well and I tried all the fixes suggested here but it still not working.